tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-duplicate-toplevel-names/gold/wizard/XSDBOM_Duplicate_01_AttributeGroupVariationsImported.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/ElmAndComplex2" xmlns:tns2="http://example.com/ElmAndComplex2"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/ElmAndComplex2">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/fdsfsd/Business Objects/com.example.elm.and.complex2.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType id="com.example.elm.and.complex2_melon_type2" name="melon">
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.example.elm.and.complex2_tleSimpleTypeMelon_type2" name="tleSimpleTypeMelon">
    <xsd:restriction base="melon"/>
  </xsd:simpleType>
  <xsd:complexType id="com.example.elm.and.complex2_orange_type" abstract="false"
      mixed="false" name="orange">
    <xsd:sequence>
      <xsd:sequence>
        <xsd:element id="orange_type_elem1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="elem1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute id="orange_type_attr1" form="unqualified" name="attr1" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:attribute name="tleAttrTypeMelon">
    <xsd:simpleType>
      <xsd:restriction base="melon"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="apple">
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:element abstract="false" name="banana" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleElemTypeOrange" nillable="false" type="orange"/>
</xsd:schema>