tbs-bpm/AcceptanceTests/AMX-BPM/DataUseCases/ProjectsWithQualifierCacheOff/ProcToGlobalOnlyBizData/.bom2Xsd/com.example.proctoglobalonlybizdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/proctoglobalonlybizdata" xmlns:tns1="http://example.com/proctoglobalonlybizdata"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/proctoglobalonlybizdata">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/ProcToGlobalOnlyBizData/Business Objects/ProcToGlobalOnlyBizData.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Local1" id="_ozE3cFNpEeOUC7phQChPyQ" name="Local1">
    <xsd:sequence>
      <xsd:element ecore:name="attribute1" id="_peRJgFNpEeOUC7phQChPyQ" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Local1Element" type="Local1"/>
</xsd:schema>