tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-datatypes/XSDBOM_DataTypes01_DefaultValues.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/DataTypeRestrictions"
	xmlns:tns="http://www.example.org/DataTypeRestrictions"
	elementFormDefault="qualified">

	<complexType name="fds">
		<sequence>
			<element name="myElemStr" type="string" default="sfsdfs"></element>
			<element name="myElemNCName" type="NCName" default="dsa"></element>
			<element name="myElemInt" type="integer" default="1"></element>
			<element name="myElemDec" type="decimal" default="2.1"></element>
			<element name="myElemBoolean" type="boolean" default="true"></element>
			<element name="myElemDate" type="date" default="2002-09-24"></element>
			<element name="myElemDateTime" type="dateTime" default="2002-05-30T09:30:10.5"></element>
			<element name="myElemDateTimeZ" type="dateTime" default="2002-05-30T09:30:10Z"></element>
			<element name="myElemURI" type="anyURI" default="http://www.fd.com"></element>
		</sequence>
		<attribute name="myAttrStr" type="string" default="sfsdfs"></attribute>
		<attribute name="myAttrInt" type="integer" default="1"></attribute>
		<attribute name="myAttrDec" type="decimal" default="2.1"></attribute>
		<attribute name="myAttrFloat" type="float" default="3.1"></attribute>
		<attribute name="myAttrDouble" type="double" default="5.1"></attribute>
		<attribute name="myAttrBoolean" type="boolean" default="true"></attribute>
		<attribute name="myAttrDate" type="date" default="2002-09-24"></attribute>
		<attribute name="myAttrDateTime" type="dateTime"
			default="2002-05-30T09:30:10.5"></attribute>
		<attribute name="myAttrDateTimeZ" type="dateTime"
			default="2002-05-30T09:30:10Z"></attribute>
		<attribute name="myAttrURI" type="anyURI" default="http://www.fd.com"></attribute>

	</complexType>


</schema>