tbs-bpm/product/com.tibco.xpd.wm.feature/plugins/com.tibco.xpd.n2.brm/model/datamodel.xsd

<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Kevin Gee (Tibco Software Limited) -->
<xs:schema xmlns="http://datamodel.common.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:df="http://datafeed.common.n2.tibco.com" targetNamespace="http://datamodel.common.n2.tibco.com" version="1.0">
	<xs:complexType name="AliasType">
		<xs:annotation>
			<xs:documentation>Defines single WorkModel alias for Work Item Attribute facade mapping.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="facadeName" use="required">
			<xs:annotation>
				<xs:documentation>Unique name for this set of attribute aliases.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="aliasName" use="required">
			<xs:annotation>
				<xs:documentation>Name of the alias to be used</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="aliasType" use="required">
			<xs:annotation>
				<xs:documentation>Type of the alias (e.g. string, integer etc.).</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="String"/>
					<xs:enumeration value="Decimal Number"/>
					<xs:enumeration value="Integer Number"/>
					<xs:enumeration value="Date Time"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="aliasDescription">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="256"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DataModel">
		<xs:annotation>
			<xs:documentation>Sets of INPUT, OUTPUT and INOUT parameters that define the complete data model for a work item or page activity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="inputs" type="FieldType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An array of parameters passed to a work item or page activity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outputs" type="FieldType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An array of parameters passed from a work item or page activity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inouts" type="FieldType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An array of parameters passed to/from a work item or page activity.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FieldType">
		<xs:annotation>
			<xs:documentation>Defines a single data field (its name, type and an optional value).</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="simpleSpec" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value of the data field as a simple type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>If this is a standard type filed this will be the real value of the data field. If the data is of type Data Reference this value will be a reference to a Global Data Object.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="length" type="xs:int">
						<xs:annotation>
							<xs:documentation>Maximum length allowed for the data field (not including decimal places).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="decimal" type="xs:int">
						<xs:annotation>
							<xs:documentation>Number of decimal places allowed for the data field.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="complexSpec" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value of the data field as a complex type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>The Global Object Business Reference ID</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="value" type="xs:anyType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The value(s) of the complex object. Note that:

- This value is of xs:anyType since it contains the eintire complex object as XML.

- The XML specified for the value can be either element-based or type-based. See "Handling a Work Item That Contains Business Data > Valid Format for ComplexSpec Business Data" in the BPM Developer's Guide for more information.
</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="goRefId" type="xs:string">
						<xs:annotation>
							<xs:documentation>The Global Object Reference ID for BDS data.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="className" type="xs:string">
						<xs:annotation>
							<xs:documentation>The fully qualified name of the complex class from the Business Object Model (BOM).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of the data field.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required">
			<xs:annotation>
				<xs:documentation>Type of the data field (e.g. string, integer etc.).</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="String"/>
					<xs:enumeration value="Decimal Number"/>
					<xs:enumeration value="Integer Number"/>
					<xs:enumeration value="Boolean"/>
					<xs:enumeration value="Date"/>
					<xs:enumeration value="Time"/>
					<xs:enumeration value="Date Time"/>
					<xs:enumeration value="Performer"/>
					<xs:enumeration value="Complex"/>
					<xs:enumeration value="Data Reference"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="optional" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Boolean value that defines whether the parameter is optional (default is false).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="array" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Indicates whether this parameter contains an array of values (default is false).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkType">
		<xs:annotation>
			<xs:documentation>Work type definition. (This should be considered as the API specification of any work item created for this work type.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="workTypeID" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal unique ID of the work type as generated by BRM when the work type is registered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workTypeUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Unique ID of the work type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workTypeDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Textual description of the work type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataModel" type="DataModel">
				<xs:annotation>
					<xs:documentation>Specification of INPUT, OUTPUT and INOUT parameters, which comprise the data model for the work type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typePiled" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Flag indicating whether the work type supports the "Piling" workforce resource pattern.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pilingLimit" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of work items of this type that can be successively piled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ignoreIncomingData" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies incoming data changes, for example a Work Item reschedule will be ignored if the item data has been changed locally. The default is true so any locally changed data will not be overwritten by a reschedule.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reofferOnClose" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether the work item is to be re-offered when it is closed. If false (default behaviour) the item will not be re-offered, but will remian allocated to the resource.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reofferOnCancel" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether the work item is to be re-offered on cancel. If true (default behaviour) it will be re-offered to the candidate resource set as if it was new work 
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkTypeSpec">
		<xs:annotation>
			<xs:documentation>Complex type for work type UID and version</xs:documentation>
		</xs:annotation>
		<xs:attribute name="workTypeID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The UID of the work type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="workTypeDescription" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The description of the work type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" type="xs:string">
			<xs:annotation>
				<xs:documentation>The OSGi version number of this work type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
