tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/CaricatoreUnicoOfferta.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.CaricatoreUnicoOfferta" xmlns:tns28="http://com.enel.mind.CaricatoreUnicoOfferta"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.CaricatoreUnicoOfferta">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Generated Business Objects/CaricatoreUnicoOfferta.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="InsOffertaVendita" nillable="false">
    <xsd:complexType ecore:name="InsOffertaVenditaType" id="CaricatoreUnicoOfferta.mind.enel.comInsOffertaVenditaType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idProcessoBpm" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdProcessoBpm" type="xsd:string"/>
        <xsd:element ecore:name="SDM_VENDITA" form="unqualified" maxOccurs="1" minOccurs="0"
            name="SDM_VENDITA" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InsOffertaVenditaResponse" nillable="false">
    <xsd:complexType ecore:name="InsOffertaVenditaResponseType" id="CaricatoreUnicoOfferta.mind.enel.comInsOffertaVenditaResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito">
          <xsd:complexType ecore:name="EsitoType" id="CaricatoreUnicoOfferta.mind.enel.comEsitoType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
                  name="Esito" type="xsd:string"/>
              <xsd:element ecore:name="codiceEsito" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="CodiceEsito" type="xsd:string"/>
              <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="Descrizione" type="xsd:string"/>
              <xsd:element ecore:name="tipoEsito" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="TipoEsito" type="xsd:string"/>
              <xsd:element ecore:name="sistemaSorgente" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="SistemaSorgente" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InsOfferteAnnullate" nillable="false">
    <xsd:complexType ecore:name="InsOfferteAnnullateType" id="CaricatoreUnicoOfferta.mind.enel.comInsOfferteAnnullateType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idProcessoBpm" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdProcessoBpm" type="xsd:string"/>
        <xsd:element ecore:name="SDM_VENDITA" form="unqualified" maxOccurs="1" minOccurs="0"
            name="SDM_VENDITA" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InsOfferteAnnullateResponse" nillable="false">
    <xsd:complexType ecore:name="InsOfferteAnnullateResponseType" id="CaricatoreUnicoOfferta.mind.enel.comInsOfferteAnnullateResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito">
          <xsd:complexType ecore:name="EsitoType1" id="CaricatoreUnicoOfferta.mind.enel.comEsitoType2"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
                  name="Esito" type="xsd:string"/>
              <xsd:element ecore:name="codiceEsito" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="CodiceEsito" type="xsd:string"/>
              <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="Descrizione" type="xsd:string"/>
              <xsd:element ecore:name="tipoEsito" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="TipoEsito" type="xsd:string"/>
              <xsd:element ecore:name="sistemaSorgente" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="SistemaSorgente" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>