tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/com.enel.mind.getdatiinesito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/getdatiinesito" xmlns:tns13="http://mind.enel.com/getdatiinesito"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/getdatiinesito">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Business Objects/com.enel.mind.getdatiinesito.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="GetDatiInesitoRequest" id="_izWUwEUzEeOOVarfYVMyXQ"
      name="GetDatiInesitoRequest">
    <xsd:sequence>
      <xsd:element ecore:name="numriferimento" id="_mSNBQEUzEeOOVarfYVMyXQ" maxOccurs="1"
          minOccurs="0" name="numriferimento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="progressivo" id="_mh0KkEUzEeOOVarfYVMyXQ" maxOccurs="1"
          minOccurs="0" name="progressivo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idbpm" id="_14NoME94EeOUEPyFM4YaHQ" maxOccurs="1" minOccurs="0"
          name="idbpm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetDatiInesitoResponse" id="_nMthsEUzEeOOVarfYVMyXQ"
      name="GetDatiInesitoResponse">
    <xsd:sequence>
      <xsd:element ecore:name="codPlico" id="_nxiGAEUzEeOOVarfYVMyXQ" maxOccurs="1"
          minOccurs="0" name="codPlico" type="xsd:string"/>
      <xsd:element ecore:name="flagVocal" id="_n8q_AEUzEeOOVarfYVMyXQ" maxOccurs="1"
          minOccurs="0" name="flagVocal" type="xsd:string"/>
      <xsd:element ecore:name="codice" id="_oU21gEUzEeOOVarfYVMyXQ" maxOccurs="1"
          minOccurs="0" name="codice">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="_ohfjUEUzEeOOVarfYVMyXQ" maxOccurs="1"
          minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="esito" id="_ov6Z0EUzEeOOVarfYVMyXQ" maxOccurs="1" minOccurs="0"
          name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sorgenteEsito" id="_m9AkQFa3EeOh3sCsMYUiNA" maxOccurs="1"
          minOccurs="0" name="sorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetDatiInesitoRequestElement" type="GetDatiInesitoRequest"/>
  <xsd:element name="GetDatiInesitoResponseElement" type="GetDatiInesitoResponse"/>
</xsd:schema>