tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.schema.presentation.OOLVF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/schema/presentation/OOLVF.xsd" xmlns:tns36="http://xmlns.enel.com/mercato/libero/schema/presentation/OOLVF.xsd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/mercato/libero/schema/presentation/OOLVF.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Generated Business Objects/com.enel.xmlns.mercato.libero.schema.presentation.OOLVF.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="VerificaFattibilitaRequest" nillable="false">
    <xsd:complexType ecore:name="VerificaFattibilitaRequestType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFVerificaFattibilitaRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idLocalitaCrm" form="qualified" maxOccurs="1" minOccurs="0"
            name="idLocalitaCrm" type="xsd:string"/>
        <xsd:element ecore:name="codiceOffertaGas" form="qualified" maxOccurs="1"
            minOccurs="0" name="codiceOffertaGas" type="xsd:string"/>
        <xsd:element ecore:name="codiceOffertaEle" form="qualified" maxOccurs="1"
            minOccurs="0" name="codiceOffertaEle" type="xsd:string"/>
        <xsd:element ecore:name="podEle" form="qualified" maxOccurs="1" minOccurs="0"
            name="podEle" type="xsd:string"/>
        <xsd:element ecore:name="podGas" form="qualified" maxOccurs="1" minOccurs="0"
            name="podGas" type="xsd:string"/>
        <xsd:element ecore:name="partitaIva" form="qualified" maxOccurs="1" minOccurs="0"
            name="partitaIva" type="xsd:string"/>
        <xsd:element ecore:name="codiceFiscale" form="qualified" maxOccurs="1" minOccurs="0"
            name="codiceFiscale" type="xsd:string"/>
        <xsd:element ecore:name="autoCertificazioneStipulaContratto" form="qualified"
            maxOccurs="1" minOccurs="0" name="autoCertificazioneStipulaContratto"
            type="xsd:string"/>
        <xsd:element ecore:name="idMittente" form="qualified" maxOccurs="1" minOccurs="1"
            name="idMittente" type="xsd:string"/>
        <xsd:element ecore:name="codiceIstat" form="qualified" maxOccurs="1" minOccurs="0"
            name="codiceIstat" type="xsd:string"/>
        <xsd:element ecore:name="tipoOperazione" form="qualified" maxOccurs="1" minOccurs="1"
            name="tipoOperazione" type="xsd:string"/>
        <xsd:element ecore:name="commodity" form="qualified" maxOccurs="1" minOccurs="1"
            name="commodity" type="xsd:string"/>
        <xsd:element ecore:name="sistemaChiamante" form="qualified" maxOccurs="1"
            minOccurs="1" name="sistemaChiamante" type="xsd:string"/>
        <xsd:element ecore:name="causale" form="qualified" maxOccurs="1" minOccurs="0"
            name="causale" type="xsd:string"/>
        <xsd:element ecore:name="matricolaContatoreGas" form="qualified" maxOccurs="1"
            minOccurs="0" name="matricolaContatoreGas" type="xsd:string"/>
        <xsd:element ecore:name="canale" form="qualified" maxOccurs="1" minOccurs="1"
            name="canale" type="xsd:string"/>
        <xsd:element ecore:name="erogaEle" form="qualified" maxOccurs="1" minOccurs="0"
            name="erogaEle" type="xsd:string"/>
        <xsd:element ecore:name="erogaGas" form="qualified" maxOccurs="1" minOccurs="0"
            name="erogaGas" type="xsd:string"/>
        <xsd:element ecore:name="nuovoContatoreGas" form="qualified" maxOccurs="1"
            minOccurs="0" name="nuovoContatoreGas" type="xsd:string"/>
        <xsd:element ecore:name="nuovoContatoreEle" form="qualified" maxOccurs="1"
            minOccurs="0" name="nuovoContatoreEle" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitoVerifica" nillable="false">
    <xsd:complexType ecore:name="EsitoVerificaType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFEsitoVerificaType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="esito" type="xsd:string"/>
        <xsd:element ecore:name="codice" form="qualified" maxOccurs="1" minOccurs="0"
            name="codice" type="xsd:string"/>
        <xsd:element ecore:name="descrizione" form="qualified" maxOccurs="1" minOccurs="0"
            name="descrizione" type="xsd:string"/>
        <xsd:element ecore:name="sistemaSorgente" form="qualified" maxOccurs="1" minOccurs="0"
            name="sistemaSorgente" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FattibilitaOperazione" nillable="false">
    <xsd:complexType ecore:name="FattibilitaOperazioneType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFFattibilitaOperazioneType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="tipoOperazione" form="qualified" maxOccurs="1" minOccurs="0"
            name="tipoOperazione" type="xsd:string"/>
        <xsd:element ecore:name="codiceFattibilita" form="qualified" maxOccurs="1"
            minOccurs="0" name="codiceFattibilita" type="xsd:string"/>
        <xsd:element ecore:name="descFattibilita" form="qualified" maxOccurs="1" minOccurs="0"
            name="descFattibilita" type="xsd:string"/>
        <xsd:element ecore:name="id_prod" form="qualified" maxOccurs="1" minOccurs="0"
            name="id_prod" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AnagraficaCliente" nillable="false">
    <xsd:complexType ecore:name="AnagraficaClienteType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFAnagraficaClienteType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="cli_tipologia" form="qualified" maxOccurs="1" minOccurs="0"
            name="cli_tipologia" type="xsd:string"/>
        <xsd:element ecore:name="cli_nome" form="qualified" maxOccurs="1" minOccurs="0"
            name="cli_nome" type="xsd:string"/>
        <xsd:element ecore:name="cli_cognome_ragsoc" form="qualified" maxOccurs="1"
            minOccurs="0" name="cli_cognome_ragsoc" type="xsd:string"/>
        <xsd:element ecore:name="cli_cf" form="qualified" maxOccurs="1" minOccurs="0"
            name="cli_cf" type="xsd:string"/>
        <xsd:element ecore:name="cli_iva" form="qualified" maxOccurs="1" minOccurs="0"
            name="cli_iva" type="xsd:string"/>
        <xsd:element ecore:name="cli_tel" form="qualified" maxOccurs="1" minOccurs="0"
            name="cli_tel" type="xsd:string"/>
        <xsd:element ecore:name="cli_mail" form="qualified" maxOccurs="1" minOccurs="0"
            name="cli_mail" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="DatiTecniciCrm" nillable="false">
    <xsd:complexType ecore:name="DatiTecniciCrmType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFDatiTecniciCrmType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="sito_potenza" form="qualified" maxOccurs="1" minOccurs="0"
            name="sito_potenza" type="xsd:string"/>
        <xsd:element ecore:name="sito_liv_tens" form="qualified" maxOccurs="1" minOccurs="0"
            name="sito_liv_tens" type="xsd:string"/>
        <xsd:element ecore:name="sito_tens_consegna" form="qualified" maxOccurs="1"
            minOccurs="0" name="sito_tens_consegna" type="xsd:string"/>
        <xsd:element ecore:name="sito_potenza_contratt" form="qualified" maxOccurs="1"
            minOccurs="0" name="sito_potenza_contratt" type="xsd:string"/>
        <xsd:element ecore:name="sito_potenza_franchigia" form="qualified" maxOccurs="1"
            minOccurs="0" name="sito_potenza_franchigia" type="xsd:string"/>
        <xsd:element ecore:name="sito_tipo_misuratore" form="qualified" maxOccurs="1"
            minOccurs="0" name="sito_tipo_misuratore" type="xsd:string"/>
        <xsd:element ecore:name="forn_tipo_utilizzo" form="qualified" maxOccurs="1"
            minOccurs="0" name="forn_tipo_utilizzo" type="xsd:string"/>
        <xsd:element ecore:name="forn_cat_uso" form="qualified" maxOccurs="1" minOccurs="0"
            name="forn_cat_uso" type="xsd:string"/>
        <xsd:element ecore:name="forn_cat_consumo" form="qualified" maxOccurs="1"
            minOccurs="0" name="forn_cat_consumo" type="xsd:string"/>
        <xsd:element ecore:name="forn_cat_mrkt" form="qualified" maxOccurs="1" minOccurs="0"
            name="forn_cat_mrkt" type="xsd:string"/>
        <xsd:element ecore:name="forn_potenzialita" form="qualified" maxOccurs="1"
            minOccurs="0" name="forn_potenzialita" type="xsd:string"/>
        <xsd:element ecore:name="for_toponomastica" form="qualified" maxOccurs="1"
            minOccurs="0" name="for_toponomastica" type="xsd:string"/>
        <xsd:element ecore:name="for_indirizzo" form="qualified" maxOccurs="1" minOccurs="0"
            name="for_indirizzo" type="xsd:string"/>
        <xsd:element ecore:name="for_civico" form="qualified" maxOccurs="1" minOccurs="0"
            name="for_civico" type="xsd:string"/>
        <xsd:element ecore:name="for_cap" form="qualified" maxOccurs="1" minOccurs="0"
            name="for_cap" type="xsd:string"/>
        <xsd:element ecore:name="for_comune" form="qualified" maxOccurs="1" minOccurs="0"
            name="for_comune" type="xsd:string"/>
        <xsd:element ecore:name="for_provincia" form="qualified" maxOccurs="1" minOccurs="0"
            name="for_provincia" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="IndirizzoFatturazione" nillable="false">
    <xsd:complexType ecore:name="IndirizzoFatturazioneType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFIndirizzoFatturazioneType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="fatt_presso" form="qualified" maxOccurs="1" minOccurs="0"
            name="fatt_presso" type="xsd:string"/>
        <xsd:element ecore:name="fatt_toponomastica" form="qualified" maxOccurs="1"
            minOccurs="0" name="fatt_toponomastica" type="xsd:string"/>
        <xsd:element ecore:name="fatt_indirizzo" form="qualified" maxOccurs="1" minOccurs="0"
            name="fatt_indirizzo" type="xsd:string"/>
        <xsd:element ecore:name="fatt_civico" form="qualified" maxOccurs="1" minOccurs="0"
            name="fatt_civico" type="xsd:string"/>
        <xsd:element ecore:name="fatt_cap" form="qualified" maxOccurs="1" minOccurs="0"
            name="fatt_cap" type="xsd:string"/>
        <xsd:element ecore:name="fatt_comune" form="qualified" maxOccurs="1" minOccurs="0"
            name="fatt_comune" type="xsd:string"/>
        <xsd:element ecore:name="fatt_provincia" form="qualified" maxOccurs="1" minOccurs="0"
            name="fatt_provincia" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModalitaPagamento" nillable="false">
    <xsd:complexType ecore:name="ModalitaPagamentoType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFModalitaPagamentoType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="mod_pagamento" form="qualified" maxOccurs="1" minOccurs="0"
            name="mod_pagamento" type="xsd:string"/>
        <xsd:element ecore:name="IBAN" form="qualified" maxOccurs="1" minOccurs="0"
            name="IBAN" type="xsd:string"/>
        <xsd:element ecore:name="titolare_conto" form="qualified" maxOccurs="1" minOccurs="0"
            name="titolare_conto" type="xsd:string"/>
        <xsd:element ecore:name="cf_titolare_conto" form="qualified" maxOccurs="1"
            minOccurs="0" name="cf_titolare_conto" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Prodotto" nillable="false">
    <xsd:complexType ecore:name="ProdottoType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFProdottoType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="cod_prodotto" form="qualified" maxOccurs="1" minOccurs="0"
            name="cod_prodotto" type="xsd:string"/>
        <xsd:element ecore:name="desc_prodotto" form="qualified" maxOccurs="1" minOccurs="0"
            name="desc_prodotto" type="xsd:string"/>
        <xsd:element ecore:name="tipo_prodotto" form="qualified" maxOccurs="1" minOccurs="0"
            name="tipo_prodotto" type="xsd:string"/>
        <xsd:element ecore:name="regime" form="qualified" maxOccurs="1" minOccurs="0"
            name="regime" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Contratto" nillable="false">
    <xsd:complexType ecore:name="ContrattoType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFContrattoType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="num_contratto" form="qualified" maxOccurs="1" minOccurs="0"
            name="num_contratto" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Offerta" nillable="false">
    <xsd:complexType ecore:name="OffertaType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFOffertaType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="flag_autoriz_sms" form="qualified" maxOccurs="1"
            minOccurs="0" name="flag_autoriz_sms" type="xsd:string"/>
        <xsd:element ecore:name="num_tel_sms" form="qualified" maxOccurs="1" minOccurs="0"
            name="num_tel_sms" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="IndirizzoSedeLegale" nillable="false">
    <xsd:complexType ecore:name="IndirizzoSedeLegaleType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFIndirizzoSedeLegaleType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="ragsoc_rappr_legale" form="qualified" maxOccurs="1"
            minOccurs="0" name="ragsoc_rappr_legale" type="xsd:string"/>
        <xsd:element ecore:name="ind_leg_toponomastica" form="qualified" maxOccurs="1"
            minOccurs="0" name="ind_leg_toponomastica" type="xsd:string"/>
        <xsd:element ecore:name="ind_leg_indirizzo" form="qualified" maxOccurs="1"
            minOccurs="0" name="ind_leg_indirizzo" type="xsd:string"/>
        <xsd:element ecore:name="ind_leg_civico" form="qualified" maxOccurs="1" minOccurs="0"
            name="ind_leg_civico" type="xsd:string"/>
        <xsd:element ecore:name="ind_leg_cap" form="qualified" maxOccurs="1" minOccurs="0"
            name="ind_leg_cap" type="xsd:string"/>
        <xsd:element ecore:name="ind_leg_comune" form="qualified" maxOccurs="1" minOccurs="0"
            name="ind_leg_comune" type="xsd:string"/>
        <xsd:element ecore:name="ind_leg_provincia" form="qualified" maxOccurs="1"
            minOccurs="0" name="ind_leg_provincia" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="PodCrm" nillable="false">
    <xsd:complexType ecore:name="PodCrmType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFPodCrmType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="stato_pod" form="qualified" maxOccurs="1" minOccurs="0"
            name="stato_pod" type="xsd:string"/>
        <xsd:element ecore:name="forma_contrattuale" form="qualified" maxOccurs="1"
            minOccurs="0" name="forma_contrattuale" type="xsd:string"/>
        <xsd:element ecore:name="data_att_servizio" form="qualified" maxOccurs="1"
            minOccurs="0" name="data_att_servizio" type="xsd:string"/>
        <xsd:element ecore:name="data_cess_servizio" form="qualified" maxOccurs="1"
            minOccurs="0" name="data_cess_servizio" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="datiCrm" nillable="false">
    <xsd:complexType ecore:name="datiCrmType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFdatiCrmType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="anagraficaCliente" maxOccurs="1" minOccurs="0" ref="tns36:AnagraficaCliente"/>
        <xsd:element ecore:name="datiTecniciCrm" maxOccurs="1" minOccurs="0" ref="tns36:DatiTecniciCrm"/>
        <xsd:element ecore:name="indirizzoFatturazione" maxOccurs="1" minOccurs="0"
            ref="tns36:IndirizzoFatturazione"/>
        <xsd:element ecore:name="modalitaPagamento" maxOccurs="1" minOccurs="0" ref="tns36:ModalitaPagamento"/>
        <xsd:element ecore:name="prodotto" maxOccurs="1" minOccurs="0" ref="tns36:Prodotto"/>
        <xsd:element ecore:name="contratto" maxOccurs="1" minOccurs="0" ref="tns36:Contratto"/>
        <xsd:element ecore:name="offerta" maxOccurs="1" minOccurs="0" ref="tns36:Offerta"/>
        <xsd:element ecore:name="indirizzoSedeLegale" maxOccurs="1" minOccurs="0"
            ref="tns36:IndirizzoSedeLegale"/>
        <xsd:element ecore:name="podCrm" maxOccurs="1" minOccurs="0" ref="tns36:PodCrm"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="IdentificativiRichiesta" nillable="false">
    <xsd:complexType ecore:name="IdentificativiRichiestaType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFIdentificativiRichiestaType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idPraticaR2D" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdPraticaR2D" type="xsd:string"/>
        <xsd:element ecore:name="idPraticaDistributore" form="qualified" maxOccurs="1"
            minOccurs="0" name="IdPraticaDistributore" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Distributore" nillable="false">
    <xsd:complexType ecore:name="DistributoreType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFDistributoreType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="codiceDistributore" form="qualified" maxOccurs="1"
            minOccurs="0" name="CodiceDistributore" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneDistributore" form="qualified" maxOccurs="1"
            minOccurs="0" name="DescrizioneDistributore" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Misuratore" nillable="false">
    <xsd:complexType ecore:name="MisuratoreType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFMisuratoreType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="pod" form="qualified" maxOccurs="1" minOccurs="0"
            name="Pod" type="xsd:string"/>
        <xsd:element ecore:name="telegestito" form="qualified" maxOccurs="1" minOccurs="0"
            name="Telegestito" type="xsd:string"/>
        <xsd:element ecore:name="tipo" form="qualified" maxOccurs="1" minOccurs="0"
            name="Tipo" type="xsd:string"/>
        <xsd:element ecore:name="potenzaContrattuale" form="qualified" maxOccurs="1"
            minOccurs="0" name="PotenzaContrattuale" type="xsd:decimal"/>
        <xsd:element ecore:name="potenzaDisponibile" form="qualified" maxOccurs="1"
            minOccurs="0" name="PotenzaDisponibile" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="DatiTecniciEle" nillable="false">
    <xsd:complexType ecore:name="DatiTecniciEleType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFDatiTecniciEleType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="misuratore" maxOccurs="1" minOccurs="0" ref="tns36:Misuratore"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ClienteFinale" nillable="false">
    <xsd:complexType ecore:name="ClienteFinaleType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFClienteFinaleType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="codiceFiscaleEle" form="qualified" maxOccurs="1"
            minOccurs="0" name="CodiceFiscaleEle" type="xsd:string"/>
        <xsd:element ecore:name="partitaIvaEle" form="qualified" maxOccurs="1" minOccurs="0"
            name="PartitaIvaEle" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Indirizzo" nillable="false">
    <xsd:complexType ecore:name="IndirizzoType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFIndirizzoType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="topnomastica" form="qualified" maxOccurs="1" minOccurs="0"
            name="Topnomastica" type="xsd:string"/>
        <xsd:element ecore:name="nomeIndirizzo" form="qualified" maxOccurs="1" minOccurs="0"
            name="nomeIndirizzo" type="xsd:string"/>
        <xsd:element ecore:name="civico" form="qualified" maxOccurs="1" minOccurs="0"
            name="Civico" type="xsd:string"/>
        <xsd:element ecore:name="CAP" form="qualified" maxOccurs="1" minOccurs="0"
            name="CAP" type="xsd:string"/>
        <xsd:element ecore:name="citta" form="qualified" maxOccurs="1" minOccurs="0"
            name="Citta" type="xsd:string"/>
        <xsd:element ecore:name="comune" form="qualified" maxOccurs="1" minOccurs="0"
            name="Comune" type="xsd:string"/>
        <xsd:element ecore:name="provincia" form="qualified" maxOccurs="1" minOccurs="0"
            name="Provincia" type="xsd:string"/>
        <xsd:element ecore:name="scala" form="qualified" maxOccurs="1" minOccurs="0"
            name="Scala" type="xsd:string"/>
        <xsd:element ecore:name="piano" form="qualified" maxOccurs="1" minOccurs="0"
            name="Piano" type="xsd:string"/>
        <xsd:element ecore:name="interno" form="qualified" maxOccurs="1" minOccurs="0"
            name="Interno" type="xsd:string"/>
        <xsd:element ecore:name="istat" form="qualified" maxOccurs="1" minOccurs="0"
            name="Istat" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Fornitura" nillable="false">
    <xsd:complexType ecore:name="FornituraType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFFornituraType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="indirizzo" maxOccurs="1" minOccurs="1" ref="tns36:Indirizzo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitoEle" nillable="false">
    <xsd:complexType ecore:name="EsitoEleType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFEsitoEleType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esitoPrecheckEle" form="qualified" maxOccurs="1"
            minOccurs="0" name="EsitoPrecheckEle" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsitoEle" form="qualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsitoEle" type="xsd:string"/>
        <xsd:element ecore:name="dettaglioEsitoEle" form="qualified" maxOccurs="1"
            minOccurs="0" name="DettaglioEsitoEle" type="xsd:string"/>
        <xsd:element ecore:name="motivazioneEle" form="qualified" maxOccurs="1" minOccurs="0"
            name="MotivazioneEle" type="xsd:string"/>
        <xsd:element ecore:name="dettaglioMotivazioneEle" form="qualified" maxOccurs="1"
            minOccurs="0" name="DettaglioMotivazioneEle" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="PreckheckEle" nillable="false">
    <xsd:complexType ecore:name="PreckheckEleType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFPreckheckEleType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="identificativiRichiesta" maxOccurs="1" minOccurs="0"
            ref="tns36:IdentificativiRichiesta"/>
        <xsd:element ecore:name="distributore" maxOccurs="1" minOccurs="0" ref="tns36:Distributore"/>
        <xsd:element ecore:name="datiTecniciEle" maxOccurs="1" minOccurs="0" ref="tns36:DatiTecniciEle"/>
        <xsd:element ecore:name="clienteFinale" maxOccurs="1" minOccurs="0" ref="tns36:ClienteFinale"/>
        <xsd:element ecore:name="fornitura" maxOccurs="1" minOccurs="0" ref="tns36:Fornitura"/>
        <xsd:element ecore:name="esitoEle" maxOccurs="1" minOccurs="0" ref="tns36:EsitoEle"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="DatiTecniciGas" nillable="false">
    <xsd:complexType ecore:name="DatiTecniciGasType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFDatiTecniciGasType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="PDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="PDR" type="xsd:string"/>
        <xsd:element ecore:name="tipoPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="TipoPDR" type="xsd:string"/>
        <xsd:element ecore:name="statoPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="StatoPDR" type="xsd:string"/>
        <xsd:element ecore:name="titolaritaPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="TitolaritaPDR" type="xsd:string"/>
        <xsd:element ecore:name="classeMisuratore" form="qualified" maxOccurs="1"
            minOccurs="0" name="ClasseMisuratore" type="xsd:string"/>
        <xsd:element ecore:name="matricolaContatore" form="qualified" maxOccurs="1"
            minOccurs="0" name="MatricolaContatore" type="xsd:string"/>
        <xsd:element ecore:name="statoContatore" form="qualified" maxOccurs="1" minOccurs="0"
            name="StatoContatore" type="xsd:string"/>
        <xsd:element ecore:name="annoFabbricazione" form="qualified" maxOccurs="1"
            minOccurs="0" name="AnnoFabbricazione" type="xsd:string"/>
        <xsd:element ecore:name="matricolaCorrettore" form="qualified" maxOccurs="1"
            minOccurs="0" name="MatricolaCorrettore" type="xsd:string"/>
        <xsd:element ecore:name="unitaPotenza" form="qualified" maxOccurs="1" minOccurs="0"
            name="UnitaPotenza" type="xsd:string"/>
        <xsd:element ecore:name="compLettCiclo" form="qualified" maxOccurs="1" minOccurs="0"
            name="CompLettCiclo" type="xsd:string"/>
        <xsd:element ecore:name="potMaxErogabile" form="qualified" maxOccurs="1" minOccurs="0"
            name="PotMaxErogabile" type="xsd:string"/>
        <xsd:element ecore:name="categoriaUso" form="qualified" maxOccurs="1" minOccurs="0"
            name="CategoriaUso" type="xsd:string"/>
        <xsd:element ecore:name="classePrelievo" form="qualified" maxOccurs="1" minOccurs="0"
            name="ClassePrelievo" type="xsd:string"/>
        <xsd:element ecore:name="prelievoAnnuoPrevisto" form="qualified" maxOccurs="1"
            minOccurs="0" name="PrelievoAnnuoPrevisto" type="xsd:string"/>
        <xsd:element ecore:name="codProfiloPrelievo" form="qualified" maxOccurs="1"
            minOccurs="0" name="CodProfiloPrelievo" type="xsd:string"/>
        <xsd:element ecore:name="statoDel40" form="qualified" maxOccurs="1" minOccurs="0"
            name="StatoDel40" type="xsd:string"/>
        <xsd:element ecore:name="codiceDistributore" form="qualified" maxOccurs="1"
            minOccurs="0" name="CodiceDistributore" type="xsd:string"/>
        <xsd:element ecore:name="codiceVenditore" form="qualified" maxOccurs="1" minOccurs="0"
            name="CodiceVenditore" type="xsd:string"/>
        <xsd:element ecore:name="userVenditore" form="qualified" maxOccurs="1" minOccurs="0"
            name="UserVenditore" type="xsd:string"/>
        <xsd:element ecore:name="comunePDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="ComunePDR" type="xsd:string"/>
        <xsd:element ecore:name="istatPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="IstatPDR" type="xsd:string"/>
        <xsd:element ecore:name="provinciaPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="ProvinciaPDR" type="xsd:string"/>
        <xsd:element ecore:name="capPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="CapPDR" type="xsd:string"/>
        <xsd:element ecore:name="toponomasticaPDR" form="qualified" maxOccurs="1"
            minOccurs="0" name="ToponomasticaPDR" type="xsd:string"/>
        <xsd:element ecore:name="indirizzoPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="IndirizzoPDR" type="xsd:string"/>
        <xsd:element ecore:name="civicoPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="CivicoPDR" type="xsd:string"/>
        <xsd:element ecore:name="scalaPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="ScalaPDR" type="xsd:string"/>
        <xsd:element ecore:name="pianoPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="PianoPDR" type="xsd:string"/>
        <xsd:element ecore:name="internoPDR" form="qualified" maxOccurs="1" minOccurs="0"
            name="InternoPDR" type="xsd:string"/>
        <xsd:element ecore:name="statoFornitura" form="qualified" maxOccurs="1" minOccurs="0"
            name="StatoFornitura" type="xsd:string"/>
        <xsd:element ecore:name="accessibilita" form="qualified" maxOccurs="1" minOccurs="0"
            name="Accessibilita" type="xsd:string"/>
        <xsd:element ecore:name="ubicazione" form="qualified" maxOccurs="1" minOccurs="0"
            name="Ubicazione" type="xsd:string"/>
        <xsd:element ecore:name="cognome_RagSoc" form="qualified" maxOccurs="1" minOccurs="0"
            name="Cognome_RagSoc" type="xsd:string"/>
        <xsd:element ecore:name="nome" form="qualified" maxOccurs="1" minOccurs="0"
            name="Nome" type="xsd:string"/>
        <xsd:element ecore:name="codiceFiscaleGas" form="qualified" maxOccurs="1"
            minOccurs="0" name="CodiceFiscaleGas" type="xsd:string"/>
        <xsd:element ecore:name="partitaIVAGas" form="qualified" maxOccurs="1" minOccurs="0"
            name="PartitaIVAGas" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitoGas" nillable="false">
    <xsd:complexType ecore:name="EsitoGasType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFEsitoGasType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esitoPrecheckGas" form="qualified" maxOccurs="1"
            minOccurs="0" name="EsitoPrecheckGas" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsitoGas" form="qualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsitoGas" type="xsd:string"/>
        <xsd:element ecore:name="dettaglioEsitoGas" form="qualified" maxOccurs="1"
            minOccurs="0" name="DettaglioEsitoGas" type="xsd:string"/>
        <xsd:element ecore:name="motivazioneGas" form="qualified" maxOccurs="1" minOccurs="0"
            name="MotivazioneGas" type="xsd:string"/>
        <xsd:element ecore:name="dettaglioMotivazioneGas" form="qualified" maxOccurs="1"
            minOccurs="0" name="DettaglioMotivazioneGas" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="PrecheckGas" nillable="false">
    <xsd:complexType ecore:name="PrecheckGasType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFPrecheckGasType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="datiTecniciGas" maxOccurs="1" minOccurs="0" ref="tns36:DatiTecniciGas"/>
        <xsd:element ecore:name="esitoGas" maxOccurs="1" minOccurs="0" ref="tns36:EsitoGas"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="datiDistributore" nillable="false">
    <xsd:complexType ecore:name="datiDistributoreType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFdatiDistributoreType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="preckheckEle" maxOccurs="1" minOccurs="0" ref="tns36:PreckheckEle"/>
        <xsd:element ecore:name="precheckGas" maxOccurs="1" minOccurs="0" ref="tns36:PrecheckGas"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="VerificaFattibilitaResponse" nillable="false">
    <xsd:complexType ecore:name="VerificaFattibilitaResponseType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFVerificaFattibilitaResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esitoVerifica" maxOccurs="1" minOccurs="1" ref="tns36:EsitoVerifica"/>
        <xsd:element ecore:name="fattibilitaOperazione" maxOccurs="1" minOccurs="0"
            ref="tns36:FattibilitaOperazione"/>
        <xsd:element ecore:name="datiCrm" maxOccurs="1" minOccurs="0" ref="tns36:datiCrm"/>
        <xsd:element ecore:name="datiDistributore" maxOccurs="1" minOccurs="0" ref="tns36:datiDistributore"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="VerificaFattibilitaOFFRequest" nillable="false">
    <xsd:complexType ecore:name="VerificaFattibilitaOFFRequestType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFVerificaFattibilitaOFFRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="DATIGDO" form="qualified" maxOccurs="1" minOccurs="0"
            name="DATIGDO" type="xsd:string"/>
        <xsd:element ecore:name="INSOFFERTA" form="qualified" maxOccurs="1" minOccurs="0"
            name="INSOFFERTA" type="xsd:string"/>
        <xsd:element ecore:name="DATIOUTCDM" form="qualified" maxOccurs="1" minOccurs="0"
            name="DATIOUTCDM" type="xsd:string"/>
        <xsd:element ecore:name="fattibilitaOperazione" maxOccurs="1" minOccurs="0"
            ref="tns36:FattibilitaOperazione"/>
        <xsd:element ecore:name="datiCrm" maxOccurs="1" minOccurs="0" ref="tns36:datiCrm"/>
        <xsd:element ecore:name="datiDistributore" maxOccurs="1" minOccurs="0" ref="tns36:datiDistributore"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="VerificaFattibilitaOFFResponse" nillable="false">
    <xsd:complexType ecore:name="VerificaFattibilitaOFFResponseType" id="com.enel.xmlns.mercato.libero.schema.presentation.OOLVFVerificaFattibilitaOFFResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esitoVerifica" maxOccurs="1" minOccurs="1" ref="tns36:EsitoVerifica"/>
        <xsd:element ecore:name="DATIGDO" form="qualified" maxOccurs="1" minOccurs="0"
            name="DATIGDO" type="xsd:string"/>
        <xsd:element ecore:name="INSOFFERTA" form="qualified" maxOccurs="1" minOccurs="0"
            name="INSOFFERTA" type="xsd:string"/>
        <xsd:element ecore:name="DATIOUTCDM" form="qualified" maxOccurs="1" minOccurs="0"
            name="DATIOUTCDM" type="xsd:string"/>
        <xsd:element ecore:name="vf_flg_vbl" form="qualified" maxOccurs="1" minOccurs="0"
            name="vf_flg_vbl" type="xsd:string"/>
        <xsd:element ecore:name="vf_tipo_operazione" form="qualified" maxOccurs="1"
            minOccurs="0" name="vf_tipo_operazione" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>