tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/com.enel.mind.esitisaleforce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/esitisaleforce" xmlns:tns37="http://mind.enel.com/esitisaleforce"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/esitisaleforce">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Business Objects/EsitiSaleForce.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="EsitiSF_Input" id="_i-XnsCUjEeOUCeE2_rDoZg" name="EsitiSF_Input">
    <xsd:sequence>
      <xsd:element ecore:name="canale_Di_Vendita" id="_pn8jwCUjEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="canale_Di_Vendita">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causale_Operazione" id="_q5PzkCUjEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="causale_Operazione" type="xsd:string"/>
      <xsd:element ecore:name="codice_Scarto" id="_tt6TkCUjEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="codice_Scarto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione_Scarto" id="_u6YtwCUjEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="descrizione_Scarto" type="xsd:string"/>
      <xsd:element ecore:name="esito_Caricamento" id="_wKfDsCUjEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="esito_Caricamento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="id_Attivita_Scarto" id="_xZLrcCUjEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="id_Attivita_Scarto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="id_BPM" id="_zjYSICUjEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="id_BPM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="id_Transazione_Canale" id="_0-FVkCUjEeOUCeE2_rDoZg"
          maxOccurs="1" minOccurs="0" name="id_Transazione_Canale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitiSF_Output" id="_kS7m4CUjEeOUCeE2_rDoZg" name="EsitiSF_Output">
    <xsd:sequence>
      <xsd:element ecore:name="codice_Scarto" id="_FtM-QCUkEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="codice_Scarto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione_Scarto" id="_HnI7YCUkEeOUCeE2_rDoZg" maxOccurs="1"
          minOccurs="0" name="descrizione_Scarto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="esito" id="_JFtLICUkEeOUCeE2_rDoZg" maxOccurs="1" minOccurs="0"
          name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="EsitiSF_InputElement" type="EsitiSF_Input"/>
  <xsd:element name="EsitiSF_OutputElement" type="EsitiSF_Output"/>
</xsd:schema>