tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.schema.amxbpm.esitocaricamentovasvendita.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/schema/amxbpm/esitocaricamentovasvendita.xsd"
    xmlns:tns25="http://xmlns.enel.com/mercato/libero/schema/amxbpm/esitocaricamentovasvendita.xsd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/mercato/libero/schema/amxbpm/esitocaricamentovasvendita.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Generated Business Objects/com.enel.xmlns.mercato.libero.schema.amxbpm.esitocaricamentovasvendita.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="EsitoCaricamentoVasVendita" nillable="false">
    <xsd:complexType ecore:name="EsitoCaricamentoVasVenditaType" id="com.enel.xmlns.mercato.libero.schema.amxbpm.esitocaricamentovasvenditaEsitoCaricamentoVasVenditaType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idProcessoBpm" form="qualified" maxOccurs="1" minOccurs="1"
            name="IdProcessoBpm" type="xsd:string"/>
        <xsd:element ecore:name="canaleDiVendita" form="qualified" maxOccurs="1" minOccurs="0"
            name="CanaleDiVendita" type="xsd:string"/>
        <xsd:element ecore:name="CRMU_Servizi_Partner_Out" form="qualified" maxOccurs="1"
            minOccurs="0" name="CRMU_Servizi_Partner_Out" type="xsd:string"/>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="qualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneEsito" form="qualified" maxOccurs="1"
            minOccurs="0" name="DescrizioneEsito" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>