tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/presentation/abstract/ServiceCloudGatewayService"
    xmlns:tns9="http://xmlns.enel.com/mercato/libero/presentation/abstract/ServiceCloudGatewayService"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/mercato/libero/presentation/abstract/ServiceCloudGatewayService">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Generated Business Objects/com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayService.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="stringa1" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa12"
      name="stringa1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa10" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa102"
      name="stringa10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa12" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa1223"
      name="stringa12">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa15" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa152"
      name="stringa15">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa16" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa162"
      name="stringa16">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa2" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa22"
      name="stringa2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa20" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa202"
      name="stringa20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa255" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa2552"
      name="stringa255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa282" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa2822"
      name="stringa282">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="282"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa30" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa302"
      name="stringa30">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="stringa50" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServicestringa502"
      name="stringa50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="UpdateIncassoFatturaRequestType" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServiceUpdateIncassoFatturaRequestType"
      abstract="false" mixed="false" name="UpdateIncassoFatturaRequestType">
    <xsd:sequence>
      <xsd:element ecore:name="chiaveUnivocaCRM" id="UpdateIncassoFatturaRequestTypeChiaveUnivocaCRM"
          form="qualified" maxOccurs="1" minOccurs="1" name="ChiaveUnivocaCRM" type="tns9:stringa30"/>
      <xsd:element ecore:name="idRichiestaFO" id="UpdateIncassoFatturaRequestTypeIdRichiestaFO"
          form="qualified" maxOccurs="1" minOccurs="1" name="IdRichiestaFO" type="tns9:stringa15"/>
      <xsd:element ecore:name="causaleBonifico" id="UpdateIncassoFatturaRequestTypeCausaleBonifico"
          form="qualified" maxOccurs="1" minOccurs="1" name="CausaleBonifico" type="tns9:stringa282"/>
      <xsd:element ecore:name="checkCausaleSAP" id="UpdateIncassoFatturaRequestTypeCheckCausaleSAP"
          form="qualified" maxOccurs="1" minOccurs="1" name="CheckCausaleSAP" type="tns9:stringa2"/>
      <xsd:element ecore:name="importoBonifico" id="UpdateIncassoFatturaRequestTypeImportoBonifico"
          form="qualified" maxOccurs="1" minOccurs="1" name="ImportoBonifico" type="tns9:stringa30"/>
      <xsd:element ecore:name="percBonifico" id="UpdateIncassoFatturaRequestTypePercBonifico"
          form="qualified" maxOccurs="1" minOccurs="1" name="PercBonifico" type="tns9:stringa30"/>
      <xsd:element ecore:name="dataValuta" id="UpdateIncassoFatturaRequestTypeDataValuta"
          form="qualified" maxOccurs="1" minOccurs="1" name="DataValuta" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="UpdateIncassoFatturaResponseType" id="com.enel.xmlns.mercato.libero.presentation.abstract_.ServiceCloudGatewayServiceUpdateIncassoFatturaResponseType"
      abstract="false" mixed="false" name="UpdateIncassoFatturaResponseType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="UpdateIncassoFatturaResponseTypeEsito" form="qualified"
          maxOccurs="1" minOccurs="1" name="Esito" type="tns9:stringa2"/>
      <xsd:element ecore:name="codiceEsito" id="UpdateIncassoFatturaResponseTypeCodiceEsito"
          form="qualified" maxOccurs="1" minOccurs="0" name="CodiceEsito" type="tns9:stringa15"/>
      <xsd:element ecore:name="descrizioneEsito" id="UpdateIncassoFatturaResponseTypeDescrizioneEsito"
          form="qualified" maxOccurs="1" minOccurs="0" name="DescrizioneEsito" type="tns9:stringa255"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="UpdateIncassoFatturaResponseTypeSistemaSorgenteEsito"
          form="qualified" maxOccurs="1" minOccurs="1" name="SistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="UpdateIncassoFatturaRequest" nillable="false"
      type="UpdateIncassoFatturaRequestType"/>
  <xsd:element abstract="false" name="UpdateIncassoFatturaResponse" nillable="false"
      type="UpdateIncassoFatturaResponseType"/>
</xsd:schema>