tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemalliba.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/schema/presentation/allineamentobanchemalliba.xsd"
    xmlns:tns16="http://xmlns.enel.com/mercato/libero/schema/presentation/allineamentobanchemalliba.xsd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/mercato/libero/schema/presentation/allineamentobanchemalliba.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Generated Business Objects/com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemalliba.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="DescrizioneAbiCabCrmRequest" nillable="false">
    <xsd:complexType ecore:name="DescrizioneAbiCabCrmRequestType" id="com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemallibaDescrizioneAbiCabCrmRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="sistemaRichiedente" form="qualified" maxOccurs="1"
            minOccurs="0" name="sistemaRichiedente" type="xsd:string"/>
        <xsd:element ecore:name="canale" form="qualified" maxOccurs="1" minOccurs="0"
            name="canale" type="xsd:string"/>
        <xsd:element ecore:name="idRichiesta" form="qualified" maxOccurs="1" minOccurs="0"
            name="idRichiesta" type="xsd:string"/>
        <xsd:element ecore:name="tipoOperazione" form="qualified" maxOccurs="1" minOccurs="0"
            name="tipoOperazione" type="xsd:string"/>
        <xsd:element ecore:name="causale" form="qualified" maxOccurs="1" minOccurs="0"
            name="causale" type="xsd:string"/>
        <xsd:element ecore:name="idProcessoBpm" form="qualified" maxOccurs="1" minOccurs="0"
            name="idProcessoBpm" type="xsd:string"/>
        <xsd:element ecore:name="commodity" form="qualified" maxOccurs="1" minOccurs="0"
            name="commodity" type="xsd:string"/>
        <xsd:element ecore:name="flagDelibera40" form="qualified" maxOccurs="1" minOccurs="0"
            name="flagDelibera40" type="xsd:boolean"/>
        <xsd:element ecore:name="ip" form="qualified" maxOccurs="1" minOccurs="0"
            name="Ip" type="xsd:string"/>
        <xsd:element ecore:name="profilo" form="qualified" maxOccurs="1" minOccurs="0"
            name="Profilo" type="xsd:string"/>
        <xsd:element ecore:name="matricola" form="qualified" maxOccurs="1" minOccurs="0"
            name="Matricola" type="xsd:string"/>
        <xsd:element ecore:name="dataRichiesta" form="qualified" maxOccurs="1" minOccurs="0"
            name="DataRichiesta" type="xsd:date"/>
        <xsd:element ecore:name="idMuti" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdMuti" type="xsd:string"/>
        <xsd:element ecore:name="idDms" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdDms" type="xsd:string"/>
        <xsd:element ecore:name="idDmsReclamo" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdDmsReclamo" type="xsd:string"/>
        <xsd:element ecore:name="idR2RD" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdR2RD">
          <xsd:complexType ecore:name="IdR2RDType" id="com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemallibaIdR2RDType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="idDistr" form="qualified" maxOccurs="1" minOccurs="0"
                  name="IdDistr" type="xsd:string"/>
              <xsd:element ecore:name="idDistr2" form="qualified" maxOccurs="1" minOccurs="0"
                  name="IdDistr2" type="xsd:string"/>
              <xsd:element ecore:name="idR2RD" form="qualified" maxOccurs="1" minOccurs="0"
                  name="IdR2RD" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="dataDecorrenza" form="qualified" maxOccurs="1" minOccurs="0"
            name="dataDecorrenza" type="xsd:date"/>
        <xsd:element ecore:name="tipoRichiesta" form="qualified" maxOccurs="1" minOccurs="0"
            name="tipoRichiesta" type="xsd:string"/>
        <xsd:element ecore:name="flagComplesso" form="qualified" maxOccurs="1" minOccurs="0"
            name="flagComplesso" type="xsd:boolean"/>
        <xsd:element ecore:name="flagPreventivo" form="qualified" maxOccurs="1" minOccurs="0"
            name="flagPreventivo" type="xsd:string"/>
        <xsd:element ecore:name="flagDocumentazione" form="qualified" maxOccurs="1"
            minOccurs="0" name="flagDocumentazione" type="xsd:string"/>
        <xsd:element ecore:name="idCRM" form="qualified" maxOccurs="1" minOccurs="0"
            name="idCRM" type="xsd:string"/>
        <xsd:element ecore:name="statoServizio" form="qualified" maxOccurs="1" minOccurs="0"
            name="statoServizio" type="xsd:string"/>
        <xsd:element ecore:name="statoOrdine" form="qualified" maxOccurs="1" minOccurs="0"
            name="statoOrdine" type="xsd:string"/>
        <xsd:element ecore:name="statoFiCa" form="qualified" maxOccurs="1" minOccurs="0"
            name="statoFiCa" type="xsd:string"/>
        <xsd:element ecore:name="statoISU" form="qualified" maxOccurs="1" minOccurs="0"
            name="statoISU" type="xsd:string"/>
        <xsd:element ecore:name="statoR2D" form="qualified" maxOccurs="1" minOccurs="0"
            name="statoR2D" type="xsd:string"/>
        <xsd:element ecore:name="statoSD" form="qualified" maxOccurs="1" minOccurs="0"
            name="statoSD" type="xsd:string"/>
        <xsd:element ecore:name="statoSempre" form="qualified" maxOccurs="1" minOccurs="0"
            name="statoSempre" type="xsd:string"/>
        <xsd:element ecore:name="statoUDB" form="qualified" maxOccurs="1" minOccurs="0"
            name="statoUDB" type="xsd:string"/>
        <xsd:element ecore:name="idR2R" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdR2R">
          <xsd:complexType ecore:name="IdR2RType" id="com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemallibaIdR2RType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="idR2R" form="qualified" maxOccurs="1" minOccurs="0"
                  name="IdR2R">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="idAttivitaCrm" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdAttivitaCrm">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="datiBam" form="qualified" maxOccurs="1" minOccurs="0"
            name="DatiBam">
          <xsd:complexType ecore:name="DatiBamType" id="com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemallibaDatiBamType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="tipoPratica" form="qualified" maxOccurs="1"
                  minOccurs="0" name="TipoPratica" type="xsd:string"/>
              <xsd:element ecore:name="servizio" form="qualified" maxOccurs="1" minOccurs="0"
                  name="Servizio" type="xsd:string"/>
              <xsd:element ecore:name="idPadre" form="qualified" maxOccurs="1" minOccurs="0"
                  name="IdPadre" type="xsd:string"/>
              <xsd:element ecore:name="tipoPraticaPadre" form="qualified" maxOccurs="1"
                  minOccurs="0" name="TipoPraticaPadre" type="xsd:string"/>
              <xsd:element ecore:name="servizioPadre" form="qualified" maxOccurs="1"
                  minOccurs="0" name="ServizioPadre" type="xsd:string"/>
              <xsd:element ecore:name="keys" form="qualified" maxOccurs="unbounded"
                  minOccurs="0" name="Keys">
                <xsd:complexType ecore:name="KeysType" id="com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemallibaKeysType"
                    mixed="false">
                  <xsd:sequence>
                    <xsd:element ecore:name="nomeChiave" form="qualified" maxOccurs="1"
                        minOccurs="0" name="NomeChiave" type="xsd:string"/>
                    <xsd:element ecore:name="valoreChiave" form="qualified" maxOccurs="1"
                        minOccurs="0" name="ValoreChiave" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="dataAggiornamento" form="qualified" maxOccurs="1"
            minOccurs="0" name="DataAggiornamento" type="xsd:dateTime"/>
        <xsd:element ecore:name="codicePaese" form="qualified" maxOccurs="1" minOccurs="0"
            name="codicePaese" type="xsd:string"/>
        <xsd:element ecore:name="cin" form="qualified" maxOccurs="1" minOccurs="0"
            name="cin" type="xsd:string"/>
        <xsd:element ecore:name="checkDigit" form="qualified" maxOccurs="1" minOccurs="0"
            name="checkDigit" type="xsd:string"/>
        <xsd:element ecore:name="numeroContoBancario" form="qualified" maxOccurs="1"
            minOccurs="0" name="numeroContoBancario" type="xsd:string"/>
        <xsd:element ecore:name="chiaveBanca" form="qualified" maxOccurs="1" minOccurs="0"
            name="chiaveBanca" type="xsd:string"/>
        <xsd:element ecore:name="codiceFiscaleTitolareConto" form="qualified" maxOccurs="1"
            minOccurs="0" name="codiceFiscaleTitolareConto">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="16"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="titolareConto" form="qualified" maxOccurs="1" minOccurs="0"
            name="titolareConto">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="ABI" form="qualified" maxOccurs="1" minOccurs="0"
            name="ABI">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="CAB" form="qualified" maxOccurs="1" minOccurs="0"
            name="CAB">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="statoDomiciliazioneBanca" form="qualified" maxOccurs="1"
            minOccurs="0" name="statoDomiciliazioneBanca">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="iban" form="qualified" maxOccurs="1" minOccurs="0"
            name="iban" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneBanca" form="qualified" maxOccurs="1"
            minOccurs="0" name="descrizioneBanca" type="xsd:string"/>
        <xsd:element ecore:name="VCY" form="qualified" maxOccurs="1" minOccurs="0"
            name="VCY" type="xsd:string"/>
        <xsd:element ecore:name="codiceLocalita" form="qualified" maxOccurs="1" minOccurs="0"
            name="codiceLocalita" type="xsd:string"/>
        <xsd:element ecore:name="codiceSportello" form="qualified" maxOccurs="1" minOccurs="0"
            name="codiceSportello" type="xsd:string"/>
        <xsd:element ecore:name="descrizione_Abi" form="qualified" maxOccurs="1" minOccurs="0"
            name="Descrizione_Abi" type="xsd:string"/>
        <xsd:element ecore:name="descrizione_Cab" form="qualified" maxOccurs="1" minOccurs="0"
            name="Descrizione_Cab" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="DescrizioneAbiCabCrmResponse" nillable="false">
    <xsd:complexType ecore:name="DescrizioneAbiCabCrmResponseType" id="com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemallibaDescrizioneAbiCabCrmResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="codicePaese" form="qualified" maxOccurs="1" minOccurs="0"
            name="codicePaese" type="xsd:string"/>
        <xsd:element ecore:name="cin" form="qualified" maxOccurs="1" minOccurs="0"
            name="cin" type="xsd:string"/>
        <xsd:element ecore:name="checkDigit" form="qualified" maxOccurs="1" minOccurs="0"
            name="checkDigit" type="xsd:string"/>
        <xsd:element ecore:name="numeroContoBancario" form="qualified" maxOccurs="1"
            minOccurs="0" name="numeroContoBancario" type="xsd:string"/>
        <xsd:element ecore:name="chiaveBanca" form="qualified" maxOccurs="1" minOccurs="0"
            name="chiaveBanca" type="xsd:string"/>
        <xsd:element ecore:name="codiceFiscaleTitolareConto" form="qualified" maxOccurs="1"
            minOccurs="0" name="codiceFiscaleTitolareConto">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="16"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="titolareConto" form="qualified" maxOccurs="1" minOccurs="0"
            name="titolareConto">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="ABI" form="qualified" maxOccurs="1" minOccurs="0"
            name="ABI">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="CAB" form="qualified" maxOccurs="1" minOccurs="0"
            name="CAB">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="statoDomiciliazioneBanca" form="qualified" maxOccurs="1"
            minOccurs="0" name="statoDomiciliazioneBanca">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="iban" form="qualified" maxOccurs="1" minOccurs="0"
            name="iban" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneBanca" form="qualified" maxOccurs="1"
            minOccurs="0" name="descrizioneBanca" type="xsd:string"/>
        <xsd:element ecore:name="VCY" form="qualified" maxOccurs="1" minOccurs="0"
            name="VCY" type="xsd:string"/>
        <xsd:element ecore:name="codiceLocalita" form="qualified" maxOccurs="1" minOccurs="0"
            name="codiceLocalita" type="xsd:string"/>
        <xsd:element ecore:name="codiceSportello" form="qualified" maxOccurs="1" minOccurs="0"
            name="codiceSportello" type="xsd:string"/>
        <xsd:element ecore:name="descrizione_Abi" form="qualified" maxOccurs="1" minOccurs="0"
            name="Descrizione_Abi" type="xsd:string"/>
        <xsd:element ecore:name="descrizione_cab" form="qualified" maxOccurs="1" minOccurs="0"
            name="Descrizione_cab" type="xsd:string"/>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="0"
            name="esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="qualified" maxOccurs="1" minOccurs="0"
            name="codiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizione" form="qualified" maxOccurs="1" minOccurs="0"
            name="descrizione" type="xsd:string"/>
        <xsd:element ecore:name="tipoEsito" form="qualified" maxOccurs="1" minOccurs="0"
            name="tipoEsito" type="xsd:string"/>
        <xsd:element ecore:name="sistemaSorgenteEsito" form="qualified" maxOccurs="1"
            minOccurs="1" name="sistemaSorgenteEsito" type="xsd:string"/>
        <xsd:element ecore:name="azioni" form="qualified" maxOccurs="1" minOccurs="0"
            name="Azioni" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RisvegliaTuttiRequest" nillable="false">
    <xsd:complexType ecore:name="RisvegliaTuttiRequestType" id="com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemallibaRisvegliaTuttiRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="id_Richiesta" form="qualified" maxOccurs="1" minOccurs="1"
            name="Id_Richiesta" type="xsd:string"/>
        <xsd:element ecore:name="abi" form="qualified" maxOccurs="1" minOccurs="1"
            name="Abi" type="xsd:string"/>
        <xsd:element ecore:name="cab" form="qualified" maxOccurs="1" minOccurs="1"
            name="Cab" type="xsd:string"/>
        <xsd:element ecore:name="esito_Allineamento" form="qualified" maxOccurs="1"
            minOccurs="1" name="Esito_Allineamento" type="xsd:string"/>
        <xsd:element ecore:name="codice_Allineamento" form="qualified" maxOccurs="1"
            minOccurs="0" name="Codice_Allineamento" type="xsd:string"/>
        <xsd:element ecore:name="descrizione_Allineamento" form="qualified" maxOccurs="1"
            minOccurs="0" name="Descrizione_Allineamento" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RisvegliaTuttiResponse" nillable="false">
    <xsd:complexType ecore:name="RisvegliaTuttiResponseType" id="com.enel.xmlns.mercato.libero.schema.presentation.allineamentobanchemallibaRisvegliaTuttiResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="xsd:string"/>
        <xsd:element ecore:name="codice" form="qualified" maxOccurs="1" minOccurs="1"
            name="Codice" type="xsd:string"/>
        <xsd:element ecore:name="descrizione" form="qualified" maxOccurs="1" minOccurs="0"
            name="Descrizione" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>