tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/com.enel.mind.caricatoreunicoofferta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/caricatoreunicoofferta" xmlns:tns27="http://mind.enel.com/caricatoreunicoofferta"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/caricatoreunicoofferta">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Generated Business Objects/com.enel.mind.caricatoreunicoofferta.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="CaricatoreUnicoOffertaInput" id="com.enel.mind.caricatoreunicooffertaCaricatoreUnicoOffertaInput"
      abstract="false" mixed="false" name="CaricatoreUnicoOffertaInput">
    <xsd:sequence>
      <xsd:element ecore:name="datiMasterInsOffertaIprProcessRequest" id="CaricatoreUnicoOffertaInputdatiMasterInsOffertaIprProcessRequest"
          form="unqualified" maxOccurs="1" minOccurs="0" name="datiMasterInsOffertaIprProcessRequest"
          type="DatiMasterInsOffertaIprProcessRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="DatiMasterInsOffertaIprProcessRequest" id="com.enel.mind.caricatoreunicooffertaDatiMasterInsOffertaIprProcessRequest"
      abstract="false" mixed="false" name="DatiMasterInsOffertaIprProcessRequest">
    <xsd:sequence>
      <xsd:element ecore:name="richiesta" id="DatiMasterInsOffertaIprProcessRequestrichiesta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="richiesta" type="RichiestaType"/>
      <xsd:element ecore:name="insOffertaMemo" id="DatiMasterInsOffertaIprProcessRequestinsOffertaMemo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="insOffertaMemo" type="xsd:string"/>
      <xsd:element ecore:name="esitoVBL" id="DatiMasterInsOffertaIprProcessRequestesitoVBL"
          form="unqualified" maxOccurs="1" minOccurs="0" name="esitoVBL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causaleVBL" id="DatiMasterInsOffertaIprProcessRequestcausaleVBL"
          form="unqualified" maxOccurs="1" minOccurs="0" name="causaleVBL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causaleEsitoDescrizioneCVP" id="DatiMasterInsOffertaIprProcessRequestcausaleEsitoDescrizioneCVP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="causaleEsitoDescrizioneCVP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataEsitoInvioCVP" id="DatiMasterInsOffertaIprProcessRequestdataEsitoInvioCVP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataEsitoInvioCVP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="esitoCVP" id="DatiMasterInsOffertaIprProcessRequestesitoCVP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="esitoCVP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="importMorositaCVP" id="DatiMasterInsOffertaIprProcessRequestimportMorositaCVP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="importMorositaCVP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="macroCausaleEsitoDescrizioneCVP" id="DatiMasterInsOffertaIprProcessRequestmacroCausaleEsitoDescrizioneCVP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="macroCausaleEsitoDescrizioneCVP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causaleEsito" id="DatiMasterInsOffertaIprProcessRequestcausaleEsito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="causaleEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ORIGINE_FIRST" id="DatiMasterInsOffertaIprProcessRequestORIGINE_FIRST"
          form="unqualified" maxOccurs="1" minOccurs="0" name="ORIGINE_FIRST">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ID_CHIAMATA" id="DatiMasterInsOffertaIprProcessRequestID_CHIAMATA"
          form="unqualified" maxOccurs="1" minOccurs="0" name="ID_CHIAMATA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="TELEFONO_CONTRATTO" id="DatiMasterInsOffertaIprProcessRequestTELEFONO_CONTRATTO"
          form="unqualified" maxOccurs="1" minOccurs="0" name="TELEFONO_CONTRATTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="CONSENSO_PROFILAZIONE" id="DatiMasterInsOffertaIprProcessRequestCONSENSO_PROFILAZIONE"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CONSENSO_PROFILAZIONE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RichiestaType" id="com.enel.mind.caricatoreunicooffertaRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaricatoreUnicoOffertaOutput" id="com.enel.mind.caricatoreunicooffertaCaricatoreUnicoOffertaOutput"
      abstract="false" mixed="false" name="CaricatoreUnicoOffertaOutput">
    <xsd:sequence>
      <xsd:element ecore:name="datiMasterInsOffertaIprProcessResponse" id="CaricatoreUnicoOffertaOutputdatiMasterInsOffertaIprProcessResponse"
          form="unqualified" maxOccurs="1" minOccurs="0" name="datiMasterInsOffertaIprProcessResponse"
          type="DatiMasterInsOffertaIprProcessResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="DatiMasterInsOffertaIprProcessResponse" id="com.enel.mind.caricatoreunicooffertaDatiMasterInsOffertaIprProcessResponse"
      abstract="false" mixed="false" name="DatiMasterInsOffertaIprProcessResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="DatiMasterInsOffertaIprProcessResponseesito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="esito" type="EsitoType"/>
      <xsd:element ecore:name="sottoCanale" id="DatiMasterInsOffertaIprProcessResponsesottoCanale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sottoCanale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codCamp" id="DatiMasterInsOffertaIprProcessResponsecodCamp"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codCamp">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causaleOperazione" id="DatiMasterInsOffertaIprProcessResponsecausaleOperazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="causaleOperazione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="X_codiceChannel" id="DatiMasterInsOffertaIprProcessResponseX_codiceChannel"
          form="unqualified" maxOccurs="1" minOccurs="0" name="X_codiceChannel">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codUnivocoServizioPartener" id="DatiMasterInsOffertaIprProcessResponsecodUnivocoServizioPartener"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codUnivocoServizioPartener">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="X_codiceIncaricato" id="DatiMasterInsOffertaIprProcessResponseX_codiceIncaricato"
          form="unqualified" maxOccurs="1" minOccurs="0" name="X_codiceIncaricato">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoType" id="com.enel.mind.caricatoreunicooffertaEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="CaricatoreUnicoOffertaInputElement" nillable="false"
      type="CaricatoreUnicoOffertaInput"/>
  <xsd:element abstract="false" name="CaricatoreUnicoOffertaOutputElement" nillable="false"
      type="CaricatoreUnicoOffertaOutput"/>
  <xsd:element abstract="false" name="DatiMasterInsOffertaIprProcessResponseElement"
      nillable="false" type="DatiMasterInsOffertaIprProcessResponse"/>
  <xsd:element abstract="false" name="EsitoTypeElement" nillable="false" type="EsitoType"/>
  <xsd:element abstract="false" name="DatiMasterInsOffertaIprProcessRequestElement"
      nillable="false" type="DatiMasterInsOffertaIprProcessRequest"/>
  <xsd:element abstract="false" name="RichiestaTypeElement" nillable="false" type="RichiestaType"/>
</xsd:schema>