tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/crmgateway.presentation.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.presentation.crmgateway" xmlns:tns2="http://com.enel.mind.presentation.crmgateway"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.presentation.crmgateway">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Generated Business Objects/crmgateway.presentation.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="IdFatturazioneCrmType" id="crmgateway.presentation.mind.enel.comIdFatturazioneCrmType"
      abstract="false" mixed="false" name="IdFatturazioneCrmType">
    <xsd:sequence>
      <xsd:element ecore:name="businessPartner" id="IdFatturazioneCrmTypebusinessPartner"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartner" type="xsd:string"/>
      <xsd:element ecore:name="contoContrattuale" id="IdFatturazioneCrmTypecontoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattuale"
          type="xsd:string"/>
      <xsd:element ecore:name="contrattoSap" id="IdFatturazioneCrmTypecontrattoSap"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contrattoSap" type="xsd:string"/>
      <xsd:element ecore:name="businessPartnerEsterno" id="IdFatturazioneCrmTypebusinessPartnerEsterno"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartnerEsterno"
          type="xsd:string"/>
      <xsd:element ecore:name="descrizioneContoContrattuale" id="IdFatturazioneCrmTypedescrizioneContoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizioneContoContrattuale"
          type="xsd:string"/>
      <xsd:element ecore:name="caratteristicaDeterminazioneConti" id="IdFatturazioneCrmTypecaratteristicaDeterminazioneConti"
          form="unqualified" maxOccurs="1" minOccurs="0" name="caratteristicaDeterminazioneConti"
          type="xsd:string"/>
      <xsd:element ecore:name="contrattoCRM" id="IdFatturazioneCrmTypecontrattoCRM"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contrattoCRM" type="xsd:string"/>
      <xsd:element ecore:name="contrattoSD" id="IdFatturazioneCrmTypecontrattoSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contrattoSD" type="xsd:string"/>
      <xsd:element ecore:name="contoContrattualeSD" id="IdFatturazioneCrmTypecontoContrattualeSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattualeSD"
          type="xsd:string"/>
      <xsd:element ecore:name="businessPartnerSD" id="IdFatturazioneCrmTypebusinessPartnerSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartnerSD"
          type="xsd:string"/>
      <xsd:element ecore:name="numeroProgressivo" id="IdFatturazioneCrmTypenumeroProgressivo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroProgressivo"
          type="xsd:string"/>
      <xsd:element ecore:name="codiceSocieta" id="IdFatturazioneCrmTypecodiceSocieta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codiceSocieta" type="xsd:string"/>
      <xsd:element ecore:name="tipoPratica" id="IdFatturazioneCrmTypetipoPratica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="tipoPratica" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RichiestaType" id="crmgateway.presentation.mind.enel.comRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente"
          type="xsd:string"/>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canale" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="RichiestaTypeidRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="RichiestaTypetipoOperazione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="RichiestaTypecausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="RichiestaTypecommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaTypeflagDelibera40" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="RichiestaTypeIp" form="unqualified" maxOccurs="1"
          minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element ecore:name="profilo" id="RichiestaTypeProfilo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Profilo" type="xsd:string"/>
      <xsd:element ecore:name="matricola" id="RichiestaTypeMatricola" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Matricola" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiesta" id="RichiestaTypeDataRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaTypeIdMuti" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdMuti" type="xsd:string"/>
      <xsd:element ecore:name="idDms" id="RichiestaTypeIdDms" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdDms" type="xsd:string"/>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaTypeIdDmsReclamo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="RichiestaTypeIdR2d" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2d" type="IdentificativiR2dType"/>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestaTypedataDecorrenza" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestaTypetipoRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="flagComplesso" id="RichiestaTypeflagComplesso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaTypeflagPreventivo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaTypeflagDocumentazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione"
          type="xsd:string"/>
      <xsd:element ecore:name="idCRM" id="RichiestaTypeidCRM" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idCRM" type="xsd:string"/>
      <xsd:element ecore:name="statoServizio" id="RichiestaTypestatoServizio" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoServizio" type="xsd:string"/>
      <xsd:element ecore:name="statoOrdine" id="RichiestaTypestatoOrdine" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine" type="xsd:string"/>
      <xsd:element ecore:name="statoFiCa" id="RichiestaTypestatoFiCa" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa" type="xsd:string"/>
      <xsd:element ecore:name="statoISU" id="RichiestaTypestatoISU" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoISU" type="xsd:string"/>
      <xsd:element ecore:name="statoR2D" id="RichiestaTypestatoR2D" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoR2D" type="xsd:string"/>
      <xsd:element ecore:name="statoSD" id="RichiestaTypestatoSD" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSD" type="xsd:string"/>
      <xsd:element ecore:name="statoSempre" id="RichiestaTypestatoSempre" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSempre" type="xsd:string"/>
      <xsd:element ecore:name="statoUDB" id="RichiestaTypestatoUDB" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoUDB" type="xsd:string"/>
      <xsd:element ecore:name="idR2R" id="RichiestaTypeIdR2R" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2R" type="IdentificativiR2rType"/>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaTypeIdAttivitaCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2dType" id="crmgateway.presentation.mind.enel.comIdentificativiR2dType"
      abstract="false" mixed="false" name="IdentificativiR2dType">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="IdentificativiR2dTypeIdDistr" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr" type="xsd:string"/>
      <xsd:element ecore:name="idDistr2" id="IdentificativiR2dTypeIdDistr2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr2" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="IdentificativiR2dTypeIdR2d" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2d" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2rType" id="crmgateway.presentation.mind.enel.comIdentificativiR2rType"
      abstract="false" mixed="false" name="IdentificativiR2rType">
    <xsd:sequence>
      <xsd:element ecore:name="idR2R" id="IdentificativiR2rTypeIdR2R" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2R" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Esito_R2D" id="crmgateway.presentation.mind.enel.comEsito_R2D"
      abstract="false" mixed="false" name="Esito_R2D">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="Esito_R2DIdDistr" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdDistr" type="xsd:string"/>
      <xsd:element ecore:name="idDistr2" id="Esito_R2DIdDistr2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr2" type="xsd:string"/>
      <xsd:element ecore:name="idR2D" id="Esito_R2DIdR2D" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2D" type="xsd:string"/>
      <xsd:element ecore:name="dataAttivazioneTrasp" id="Esito_R2DDataAttivazioneTrasp"
          form="unqualified" maxOccurs="1" minOccurs="0" name="DataAttivazioneTrasp"
          type="xsd:string"/>
      <xsd:element ecore:name="descEsitoDT" id="Esito_R2DDescEsitoDT" form="unqualified"
          maxOccurs="1" minOccurs="0" name="DescEsitoDT" type="xsd:string"/>
      <xsd:element ecore:name="codEsitoDT" id="Esito_R2DCodEsitoDT" form="unqualified"
          maxOccurs="1" minOccurs="0" name="CodEsitoDT" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsitoDT" id="Esito_R2DTipoEsitoDT" form="unqualified"
          maxOccurs="1" minOccurs="0" name="TipoEsitoDT" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoUdbType" id="crmgateway.presentation.mind.enel.comEsitoUdbType"
      abstract="false" mixed="false" name="EsitoUdbType">
    <xsd:sequence>
      <xsd:element ecore:name="titolareConto" id="EsitoUdbTypeTitolareConto" form="unqualified"
          maxOccurs="1" minOccurs="0" name="TitolareConto" type="xsd:string"/>
      <xsd:element ecore:name="CFTitolare" id="EsitoUdbTypeCFTitolare" form="unqualified"
          maxOccurs="1" minOccurs="0" name="CFTitolare" type="xsd:string"/>
      <xsd:element ecore:name="numConto" id="EsitoUdbTypeNumConto" form="unqualified"
          maxOccurs="1" minOccurs="0" name="NumConto" type="xsd:string"/>
      <xsd:element ecore:name="codicePaese" id="EsitoUdbTypeCodicePaese" form="unqualified"
          maxOccurs="1" minOccurs="0" name="CodicePaese" type="xsd:string"/>
      <xsd:element ecore:name="cinIban" id="EsitoUdbTypeCinIban" form="unqualified"
          maxOccurs="1" minOccurs="0" name="CinIban" type="xsd:string"/>
      <xsd:element ecore:name="cin" id="EsitoUdbTypeCin" form="unqualified" maxOccurs="1"
          minOccurs="0" name="Cin" type="xsd:string"/>
      <xsd:element ecore:name="cab" id="EsitoUdbTypeCab" form="unqualified" maxOccurs="1"
          minOccurs="0" name="Cab" type="xsd:string"/>
      <xsd:element ecore:name="abi" id="EsitoUdbTypeAbi" form="unqualified" maxOccurs="1"
          minOccurs="0" name="Abi" type="xsd:string"/>
      <xsd:element ecore:name="metodoPagamento" id="EsitoUdbTypeMetodoPagamento" form="unqualified"
          maxOccurs="1" minOccurs="0" name="MetodoPagamento" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoType" id="crmgateway.presentation.mind.enel.comEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="RicezioneEsitiAttivazioniRequest" nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiAttivazioniRequestType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiAttivazioniRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="esitiCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="EsitiCDM" type="xsd:string"/>
        <xsd:element ecore:name="idFatturazioneSapCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazioneSapCDM" type="xsd:string"/>
        <xsd:element ecore:name="clienteCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ClienteCDM" type="xsd:string"/>
        <xsd:element ecore:name="ambito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Ambito" type="xsd:string"/>
        <xsd:element ecore:name="letturaCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="LetturaCDM" type="xsd:string"/>
        <xsd:element ecore:name="ambito_Rilavorazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="Ambito_Rilavorazione" type="xsd:string"/>
        <xsd:element ecore:name="bonusCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="BonusCDM" type="xsd:string"/>
        <xsd:element ecore:name="scontoCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ScontoCDM" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiAttivazioniResponse" nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiAttivazioniResponseType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiAttivazioniResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idAggModPag" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdAggModPag" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="OrdineAdeguamentoMercatoRequest" nillable="false">
    <xsd:complexType ecore:name="OrdineAdeguamentoMercatoRequestType" id="crmgateway.presentation.mind.enel.comOrdineAdeguamentoMercatoRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="fornituraCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FornituraCDM" type="xsd:string"/>
        <xsd:element ecore:name="clienteCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ClienteCDM" type="xsd:string"/>
        <xsd:element ecore:name="pod" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Pod" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="OrdineAdeguamentoMercatoResponse" nillable="false">
    <xsd:complexType ecore:name="OrdineAdeguamentoMercatoResponseType" id="crmgateway.presentation.mind.enel.comOrdineAdeguamentoMercatoResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="richiestaCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="RichiestaCDM" type="xsd:string"/>
        <xsd:element ecore:name="clienteCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ClienteCDM" type="xsd:string"/>
        <xsd:element ecore:name="fornituraCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FornituraCDM" type="xsd:string"/>
        <xsd:element ecore:name="idFatturazioneIsuCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazioneIsuCDM" type="xsd:string"/>
        <xsd:element ecore:name="preventivoTecnicoCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="PreventivoTecnicoCDM" type="xsd:string"/>
        <xsd:element ecore:name="numeroUtente" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NumeroUtente" type="xsd:string"/>
        <xsd:element ecore:name="pod" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Pod" type="xsd:string"/>
        <xsd:element ecore:name="dataDecorrenza" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DataDecorrenza" type="xsd:string"/>
        <xsd:element ecore:name="idAggModPag" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdAggModPag" type="xsd:string"/>
        <xsd:element ecore:name="idFatturazioneCrm" form="unqualified" maxOccurs="1"
            minOccurs="1" name="IdFatturazioneCrm" type="IdFatturazioneCrmType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiDistributoreRequest" nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiDistributoreRequestType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiDistributoreRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="richiestaCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="RichiestaCDM" type="xsd:string"/>
        <xsd:element ecore:name="clienteCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ClienteCDM" type="xsd:string"/>
        <xsd:element ecore:name="letturaCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="LetturaCDM" type="xsd:string"/>
        <xsd:element ecore:name="fornituraCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FornituraCDM" type="xsd:string"/>
        <xsd:element ecore:name="indirizzoDistributoreCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IndirizzoDistributoreCDM" type="xsd:string"/>
        <xsd:element ecore:name="preventivoTecnicoCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="PreventivoTecnicoCDM" type="xsd:string"/>
        <xsd:element ecore:name="preventivoCommercialeCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="PreventivoCommercialeCDM" type="xsd:string"/>
        <xsd:element ecore:name="appuntamentoCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="AppuntamentoCDM" type="xsd:string"/>
        <xsd:element ecore:name="datiOutCdmSDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="DatiOutCdmSDM" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiDistributoreResponse" nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiDistributoreResponseType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiDistributoreResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiPreventivoCommercialeRequest"
      nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiPreventivoCommercialeRequestType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiPreventivoCommercialeRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idFatturazioneSdCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazioneSdCDM" type="xsd:string"/>
        <xsd:element ecore:name="preventivoCommercialeCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="PreventivoCommercialeCDM" type="xsd:string"/>
        <xsd:element ecore:name="datiOutCdmSDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="DatiOutCdmSDM" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiPreventivoCommercialeResponse"
      nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiPreventivoCommercialeResponseType"
        id="crmgateway.presentation.mind.enel.comRicezioneEsitiPreventivoCommercialeResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiSdRequest" nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiSdRequestType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiSdRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="fatturaCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FatturaCDM" type="xsd:string"/>
        <xsd:element ecore:name="tipoFlusso" form="unqualified" maxOccurs="1" minOccurs="0"
            name="TipoFlusso" type="xsd:string"/>
        <xsd:element ecore:name="ambito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Ambito" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiSdResponse" nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiSdResponseType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiSdResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiRvcCompletaRequest" nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiRvcCompletaRequestType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiRvcCompletaRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="esitiCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="EsitiCDM" type="xsd:string"/>
        <xsd:element ecore:name="idFatturazioneSapCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazioneSapCDM" type="xsd:string"/>
        <xsd:element ecore:name="clienteCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ClienteCDM" type="xsd:string"/>
        <xsd:element ecore:name="ambito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Ambito" type="xsd:string"/>
        <xsd:element ecore:name="esitoUdb" form="unqualified" maxOccurs="1" minOccurs="0"
            name="EsitoUdb" type="EsitoUdbType"/>
        <xsd:element ecore:name="esito_R2D" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito_R2D" type="Esito_R2D"/>
        <xsd:element ecore:name="letturaCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="LetturaCDM" type="xsd:string"/>
        <xsd:element ecore:name="ambito_Rilavorazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="Ambito_Rilavorazione" type="xsd:string"/>
        <xsd:element ecore:name="fornituraMemo" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FornituraMemo" type="xsd:string"/>
        <xsd:element ecore:name="prodottoMemo" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ProdottoMemo" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RicezioneEsitiRvcCompletaResponse" nillable="false">
    <xsd:complexType ecore:name="RicezioneEsitiRvcCompletaResponseType" id="crmgateway.presentation.mind.enel.comRicezioneEsitiRvcCompletaResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idAggModPag" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdAggModPag" type="xsd:string"/>
        <xsd:element ecore:name="dataAttivazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DataAttivazione" type="xsd:date"/>
        <xsd:element ecore:name="dataCessazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DataCessazione" type="xsd:date"/>
        <xsd:element ecore:name="fornituraMemo" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FornituraMemo" type="xsd:string"/>
        <xsd:element ecore:name="prodottoMemo" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ProdottoMemo" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitoScontiBonusPSRequest" nillable="false">
    <xsd:complexType ecore:name="EsitoScontiBonusPSRequestType" id="crmgateway.presentation.mind.enel.comEsitoScontiBonusPSRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idRichiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="idRichiesta" type="xsd:string"/>
        <xsd:element ecore:name="idCRM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="idCRM" type="xsd:string"/>
        <xsd:element ecore:name="tipoOperazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="TipoOperazione" type="xsd:string"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Descrizione" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitoScontiBonusPSResponse" nillable="false">
    <xsd:complexType ecore:name="EsitoScontiBonusPSResponseType" id="crmgateway.presentation.mind.enel.comEsitoScontiBonusPSResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="IscrizioneCRMRequest" nillable="false">
    <xsd:complexType ecore:name="IscrizioneCRMRequestType" id="crmgateway.presentation.mind.enel.comIscrizioneCRMRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="CDM_RICHIESTA" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_RICHIESTA" type="xsd:string"/>
        <xsd:element ecore:name="CDM_FORNITURA" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_FORNITURA" type="xsd:string"/>
        <xsd:element ecore:name="CDM_CLIENTE" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_CLIENTE" type="xsd:string"/>
        <xsd:element ecore:name="codice_Loyalty" form="unqualified" maxOccurs="1"
            minOccurs="0" name="Codice_Loyalty" type="xsd:string"/>
        <xsd:element ecore:name="codice_Utente" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Codice_Utente" type="xsd:string"/>
        <xsd:element ecore:name="applicazione_Loyalty" form="unqualified" maxOccurs="1"
            minOccurs="0" name="Applicazione_Loyalty" type="xsd:string"/>
        <xsd:element ecore:name="flag_Stato_Iscrizione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="Flag_Stato_Iscrizione" type="xsd:string"/>
        <xsd:element ecore:name="data" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Data" type="xsd:string"/>
        <xsd:element ecore:name="data_Scadenza" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Data_Scadenza" type="xsd:string"/>
        <xsd:element ecore:name="segmento" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Segmento" type="xsd:string"/>
        <xsd:element ecore:name="codice_Sottocanale" form="unqualified" maxOccurs="1"
            minOccurs="0" name="Codice_Sottocanale" type="xsd:string"/>
        <xsd:element ecore:name="data_Sottoscrizione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="Data_Sottoscrizione" type="xsd:string"/>
        <xsd:element ecore:name="tipologiaEnelMia" form="unqualified" maxOccurs="1"
            minOccurs="0" name="TipologiaEnelMia">
          <xsd:complexType ecore:name="TipologiaEnelMiaType" id="crmgateway.presentation.mind.enel.comTipologiaEnelMiaType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="codTipoEnelMia" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="CodTipoEnelMia" type="xsd:string"/>
              <xsd:element ecore:name="tipoEnelMia" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="TipoEnelMia" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="IscrizioneCRMResponse" nillable="false">
    <xsd:complexType ecore:name="IscrizioneCRMResponseType" id="crmgateway.presentation.mind.enel.comIscrizioneCRMResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NotificaEsitiVasRequest" nillable="false">
    <xsd:complexType ecore:name="NotificaEsitiVasRequestType" id="crmgateway.presentation.mind.enel.comNotificaEsitiVasRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idMuti" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdMuti" type="xsd:string"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="CDM_IDFATTURAZIONE" form="unqualified" maxOccurs="1"
            minOccurs="0" name="CDM_IDFATTURAZIONE" type="xsd:string"/>
        <xsd:element ecore:name="CDM_VAS" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_VAS" type="xsd:string"/>
        <xsd:element ecore:name="CDM_CLIENTE" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_CLIENTE" type="xsd:string"/>
        <xsd:element ecore:name="CDM_FATTURAZIONE" form="unqualified" maxOccurs="1"
            minOccurs="0" name="CDM_FATTURAZIONE" type="xsd:string"/>
        <xsd:element ecore:name="pod" form="unqualified" maxOccurs="1" minOccurs="0"
            name="pod" type="xsd:string"/>
        <xsd:element ecore:name="faseEsito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FaseEsito" type="xsd:string"/>
        <xsd:element ecore:name="dataDisponibilitaMerce" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DataDisponibilitaMerce" type="xsd:date"/>
        <xsd:element ecore:name="numeroDDT" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NumeroDDT" type="xsd:string"/>
        <xsd:element ecore:name="dataConsegna" form="unqualified" maxOccurs="1" minOccurs="0"
            name="DataConsegna" type="xsd:date"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NotificaEsitiVasResponse" nillable="false">
    <xsd:complexType ecore:name="NotificaEsitiVasResponseType" id="crmgateway.presentation.mind.enel.comNotificaEsitiVasResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idMuti" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdMuti" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitazioneCRMRequest" nillable="false">
    <xsd:complexType ecore:name="EsitazioneCRMRequestType" id="crmgateway.presentation.mind.enel.comEsitazioneCRMRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitazioneCRMResponse" nillable="false">
    <xsd:complexType ecore:name="EsitazioneCRMResponseType" id="crmgateway.presentation.mind.enel.comEsitazioneCRMResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NotificaMMPRequest" nillable="false">
    <xsd:complexType ecore:name="NotificaMMPRequestType" id="crmgateway.presentation.mind.enel.comNotificaMMPRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idProcessoMMP" form="unqualified" maxOccurs="1" minOccurs="1"
            name="IdProcessoMMP" type="xsd:string"/>
        <xsd:element ecore:name="idCliente" form="unqualified" maxOccurs="1" minOccurs="1"
            name="IdCliente" type="xsd:string"/>
        <xsd:element ecore:name="idLavoriOrdini" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdLavoriOrdini" type="xsd:string"/>
        <xsd:element ecore:name="tipoAttivita" form="unqualified" maxOccurs="1" minOccurs="1"
            name="TipoAttivita" type="xsd:string"/>
        <xsd:element ecore:name="statoAttivita" form="unqualified" maxOccurs="1" minOccurs="1"
            name="StatoAttivita" type="xsd:string"/>
        <xsd:element ecore:name="causaleContatto" form="unqualified" maxOccurs="1"
            minOccurs="1" name="CausaleContatto" type="xsd:string"/>
        <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Descrizione" type="xsd:string"/>
        <xsd:element ecore:name="specifica" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Specifica" type="xsd:string"/>
        <xsd:element ecore:name="POD" form="unqualified" maxOccurs="1" minOccurs="1"
            name="POD" type="xsd:string"/>
        <xsd:element ecore:name="numUtente" form="unqualified" maxOccurs="1" minOccurs="1"
            name="NumUtente" type="xsd:string"/>
        <xsd:element ecore:name="note" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Note" type="xsd:string"/>
        <xsd:element ecore:name="noteScarto" form="unqualified" maxOccurs="1" minOccurs="1"
            name="NoteScarto" type="xsd:string"/>
        <xsd:element ecore:name="origine" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Origine" type="xsd:string"/>
        <xsd:element ecore:name="codOpMMP" form="unqualified" maxOccurs="1" minOccurs="1"
            name="CodOpMMP" type="xsd:string"/>
        <xsd:element ecore:name="metPagDest" form="unqualified" maxOccurs="1" minOccurs="1"
            name="MetPagDest" type="xsd:string"/>
        <xsd:element ecore:name="abi" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Abi" type="xsd:string"/>
        <xsd:element ecore:name="cab" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Cab" type="xsd:string"/>
        <xsd:element ecore:name="cin" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Cin" type="xsd:string"/>
        <xsd:element ecore:name="cinIban" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CinIban" type="xsd:string"/>
        <xsd:element ecore:name="codicePaese" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CodicePaese" type="xsd:string"/>
        <xsd:element ecore:name="numeroConto" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NumeroConto" type="xsd:string"/>
        <xsd:element ecore:name="titConto" form="unqualified" maxOccurs="1" minOccurs="0"
            name="TitConto" type="xsd:string"/>
        <xsd:element ecore:name="CFTitConto" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CFTitConto" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NotificaMMPResponse" nillable="false">
    <xsd:complexType ecore:name="NotificaMMPResponseType" id="crmgateway.presentation.mind.enel.comNotificaMMPResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitiInterrogazioneLetturaRequest" nillable="false">
    <xsd:complexType ecore:name="EsitiInterrogazioneLetturaRequestType" id="crmgateway.presentation.mind.enel.comEsitiInterrogazioneLetturaRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idCrm" form="unqualified" maxOccurs="1" minOccurs="1"
            name="idCrm">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="idMuti" form="unqualified" maxOccurs="1" minOccurs="1"
            name="idMuti">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="sistema" form="unqualified" maxOccurs="1" minOccurs="1"
            name="sistema">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="flagEspletamento" form="unqualified" maxOccurs="1"
            minOccurs="0" name="flagEspletamento">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="esito">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="codice" form="unqualified" maxOccurs="1" minOccurs="1"
            name="codice">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1" minOccurs="1"
            name="descrizione">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="tipoOperazione" form="unqualified" maxOccurs="1"
            minOccurs="1" name="tipoOperazione">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="causale" form="unqualified" maxOccurs="1" minOccurs="1"
            name="causale">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="CDM_Lettura" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_Lettura" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="EsitiInterrogazioneLetturaResponse" nillable="false">
    <xsd:complexType ecore:name="EsitiInterrogazioneLetturaResponseType" id="crmgateway.presentation.mind.enel.comEsitiInterrogazioneLetturaResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>