tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/.precompiled/bom2Xsd/NotificaEsitiCRMFromISU.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.NotificaEsitiCRMFromISU" xmlns:tns21="http://com.enel.mind.NotificaEsitiCRMFromISU"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.NotificaEsitiCRMFromISU">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.presentation.resources/Generated Business Objects/NotificaEsitiCRMFromISU.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="string_100" id="NotificaEsitiCRMFromISU.mind.enel.comstring_1002"
      name="string_100">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string_4000" id="NotificaEsitiCRMFromISU.mind.enel.comstring_40002"
      name="string_4000">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="4000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="integer_3" id="NotificaEsitiCRMFromISU.mind.enel.cominteger_32"
      name="integer_3">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits fixed="false" value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string_50" id="NotificaEsitiCRMFromISU.mind.enel.comstring_502"
      name="string_50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="integer_9" id="NotificaEsitiCRMFromISU.mind.enel.cominteger_92"
      name="integer_9">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits fixed="false" value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="SESICRMISU_errorCode" nillable="false" type="string_100"/>
  <xsd:element abstract="false" name="SESICRMISU_errorDetail" nillable="false" type="string_4000"/>
  <xsd:element abstract="false" name="SESICRMISU_errorMaxRetries" nillable="false"
      type="integer_3"/>
  <xsd:element abstract="false" name="SESICRMISU_errorPerformer" nillable="false"
      type="string_50"/>
  <xsd:element abstract="false" name="SESICRMISU_errorRetryCount" nillable="false"
      type="integer_3"/>
  <xsd:element abstract="false" name="SESICRMISU_errorShortRetries" nillable="false"
      type="integer_3"/>
  <xsd:element abstract="false" name="SESICRMISU_errorWaitLongDelayMin" nillable="false"
      type="integer_9"/>
  <xsd:element abstract="false" name="SESICRMISU_errorWaitShortDelayMin" nillable="false"
      type="integer_9"/>
  <xsd:element abstract="false" name="SESICRMISU_msgPayload" nillable="false" type="string_4000"/>
  <xsd:element abstract="false" name="SESICRMISU_processId" nillable="false" type="string_50"/>
  <xsd:element abstract="false" name="SESICRMISU_processName" nillable="false" type="string_100"/>
</xsd:schema>