tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC4DEmbedsS1S1IncX1S1X1DefineType/Service Descriptors/AirlineUserProfileL.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://www.amsbqa.uc4d.com/linda08/WSDLEmbedSchema1/Schema1IncludeSchema2"
	 targetNamespace="http://www.amsbqa.uc4d.com/linda08/WSDLEmbedSchema1/Schema1IncludeSchema2"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:complexType name="FrequentFlier">
		<xsd:sequence>
			<xsd:element name="airline" type="xsd:string"/>
			<xsd:element name="freqFlierNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>