tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9CXsdAnyAttribute/Service Descriptors/CustomerFromEmail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerFromEmail" targetNamespace="http://www.example.org/CustomerFromEmail/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/CustomerFromEmail/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CustomerFromEmail/">
			<xsd:complexType name="CustomerCredentials">
				<xsd:sequence>
					<xsd:element name="email" type="xsd:string"/>
				</xsd:sequence>
				<xsd:anyAttribute processContents="lax"/>
			</xsd:complexType>

			<xsd:complexType name="Customer">
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string"/>
					<xsd:element name="secondname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="CustCredElem" type="tns:CustomerCredentials"/>
			<xsd:element name="CustElem" type="tns:Customer"/>

		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomerRequest">
    <wsdl:part name="parameters" element="tns:CustCredElem">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCustomerResponse">
    <wsdl:part name="parameters" element="tns:CustElem">
    </wsdl:part>

  </wsdl:message>
  <wsdl:portType name="CustomerFromEmail">
    <wsdl:operation name="GetCustomer">
      <wsdl:input message="tns:GetCustomerRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CustomerFromEmailSOAP" type="tns:CustomerFromEmail">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://www.example.org/CustomerFromEmail/GetCustomer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerFromEmail">
    <wsdl:port name="CustomerFromEmailSOAP" binding="tns:CustomerFromEmailSOAP">
      <soap:address location="http://localhost:9090/CustomerFromEmail/services/CustomerFromEmail/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

