tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.centrostampa.resources/.precompiled/bom2Xsd/com.example.com.enel.mind_common.integration.inviowelcomeletter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://integration.mind_common.enel.com.example.com/inviowelcomeletter"
    xmlns:tns3="http://integration.mind_common.enel.com.example.com/inviowelcomeletter"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integration.mind_common.enel.com.example.com/inviowelcomeletter">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.centrostampa.resources/Business Objects/com.enel.mind_common.integration.inviowelcomeletter.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="InvioWelcomeLetterRequest" id="_u7nA0KVLEeOtzcGdrh2dcg"
      name="InvioWelcomeLetterRequest">
    <xsd:sequence>
      <xsd:element ecore:name="idBpm" id="_zGvkgKVLEeOtzcGdrh2dcg" maxOccurs="1" minOccurs="0"
          name="idBpm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="clienteCDM" id="_2BZXwKVLEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="clienteCDM" type="xsd:string"/>
      <xsd:element ecore:name="indirizzoCDM" id="_514WAKVLEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="indirizzoCDM" type="xsd:string"/>
      <xsd:element ecore:name="numContratto" id="_8D3QgKVLEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="numContratto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataAttivazione" id="_-D0WEKVLEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="dataAttivazione" type="xsd:date"/>
      <xsd:element ecore:name="tipoDocumento" id="_B8Ck0KVMEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="tipoDocumento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataAdesione" id="_C777kKVMEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="dataAdesione" type="xsd:date"/>
      <xsd:element ecore:name="numPratica" id="_GdDR4KVMEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="numPratica">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numUtePdr" id="_IavGkKVMEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="numUtePdr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceVas" id="_JoTF4KVMEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="codiceVas">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InvioWelcomeLetterResponse" id="_keMKQKVMEeOtzcGdrh2dcg"
      name="InvioWelcomeLetterResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="_36WA8KVMEeOtzcGdrh2dcg" maxOccurs="1" minOccurs="0"
          name="esito" type="tns3:EsitoCentroStampa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoCentroStampa" id="_Iik-gKVNEeOtzcGdrh2dcg" name="EsitoCentroStampa">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="_IillkKVNEeOtzcGdrh2dcg" maxOccurs="1" minOccurs="0"
          name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceEsito" id="_Iillk6VNEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="codiceEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizioneEsito" id="_IilllqVNEeOtzcGdrh2dcg" maxOccurs="1"
          minOccurs="0" name="descrizioneEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="_IillmaVNEeOtzcGdrh2dcg"
          maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InvioWelcomeLetterRequestElement" type="InvioWelcomeLetterRequest"/>
  <xsd:element name="InvioWelcomeLetterResponseElement" type="InvioWelcomeLetterResponse"/>
  <xsd:element name="EsitoCentroStampaElement" type="EsitoCentroStampa"/>
</xsd:schema>