tbs-bpm/product/com.tibco.xpd.process.editor.developer.feature/plugins/com.tibco.xpd.implementer.nativeservices/model/EMail/Email.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:email="http://www.tibco.com/XPD/email1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="email" ecore:package="com.tibco.xpd.implementer.nativeservices.emailservice.email" targetNamespace="http://www.tibco.com/XPD/email1.0.0">
  <xsd:element name="Email" type="email:Email_._type">
    <xsd:annotation>
      <xsd:documentation>Comment describing your root element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:attribute default="Custom" name="Configuration" type="email:Configuration_._type">
    <xsd:annotation>
      <xsd:documentation>Configuration type - can be Custom or Server.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:complexType name="AttachmentType">
    <xsd:annotation>
      <xsd:documentation>E-Mail attachment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="value" form="qualified" minOccurs="0" name="Value" type="email:ParameterType"/>
      <xsd:element ecore:name="files" form="qualified" minOccurs="0" name="Files" type="email:Files_._type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType ecore:name="ConfigurationType" name="Configuration_._type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Custom"/>
      <xsd:enumeration value="Server"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DefinitionType">
    <xsd:annotation>
      <xsd:documentation>E-Mail definition section</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="from" form="qualified" minOccurs="0" name="From" type="email:From_._type"/>
      <xsd:element ecore:name="to" form="qualified" minOccurs="0" name="To" type="email:ParameterType"/>
      <xsd:element ecore:name="cc" form="qualified" minOccurs="0" name="Cc" type="email:ParameterType"/>
      <xsd:element ecore:name="bcc" form="qualified" minOccurs="0" name="Bcc" type="email:ParameterType"/>
      <xsd:element ecore:name="replyTo" form="qualified" minOccurs="0" name="ReplyTo" type="email:ParameterType"/>
      <xsd:element ecore:name="headers" form="qualified" minOccurs="0" name="Headers" type="email:ParameterType"/>
      <xsd:element ecore:name="priority" form="qualified" minOccurs="0" name="Priority" type="email:ParameterType"/>
      <xsd:element ecore:name="subject" form="qualified" minOccurs="0" name="Subject" type="email:ParameterType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EmailType" name="Email_._type">
    <xsd:sequence>
      <xsd:element ecore:name="definition" form="qualified" name="Definition" type="email:DefinitionType"/>
      <xsd:element ecore:name="body" form="qualified" minOccurs="0" name="Body" type="email:ParameterType"/>
      <xsd:element ecore:name="attachment" form="qualified" minOccurs="0" name="Attachment" type="email:AttachmentType"/>
      <xsd:element ecore:name="sMTP" form="qualified" minOccurs="0" name="SMTP" type="email:SMTPType"/>
      <xsd:element ecore:name="error" form="qualified" minOccurs="0" name="Error" type="email:ErrorType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErrorType">
    <xsd:sequence>
      <xsd:element ecore:name="returnCode" form="qualified" minOccurs="0" name="ReturnCode" type="email:ParameterType"/>
      <xsd:element ecore:name="returnMessage" form="qualified" minOccurs="0" name="ReturnMessage" type="email:ParameterType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="FilesType" name="Files_._type">
    <xsd:sequence>
      <xsd:element ecore:name="file" form="qualified" maxOccurs="unbounded" name="File" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="FromType" name="From_._type">
    <xsd:simpleContent>
      <xsd:extension base="email:ParameterType">
        <xsd:attribute ecore:name="configuration" ref="email:Configuration">
          <xsd:annotation>
            <xsd:documentation>Configuration type - can be Custom or Server.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ParameterType">
    <xsd:annotation>
      <xsd:documentation>E-Mail body</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="SMTPType">
    <xsd:attribute ecore:name="configuration" ref="email:Configuration">
      <xsd:annotation>
        <xsd:documentation>Configuration type - can be Custom or Server.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="host" name="Host" type="xsd:string"/>
    <xsd:attribute ecore:name="port" name="Port" type="xsd:decimal"/>
  </xsd:complexType>
  <xsd:complexType name="TextMappingType">
    <xsd:annotation>
      <xsd:documentation>A text mapping to an email parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="text" form="qualified" name="Text" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>
