tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.credito.resources/.precompiled/bom2Xsd/creditoaccelerazionedunning.integration.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.integration.creditoaccelerazionedunning" xmlns:tns8="http://com.enel.mind.integration.creditoaccelerazionedunning"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.integration.creditoaccelerazionedunning">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.credito.resources/Generated Business Objects/creditoaccelerazionedunning.integration.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="AccelerazioneDunningRequest" nillable="false">
    <xsd:complexType ecore:name="AccelerazioneDunningRequestType" id="creditoaccelerazionedunning.integration.mind.enel.comAccelerazioneDunningRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idRichiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdRichiesta" type="xsd:string"/>
        <xsd:element ecore:name="canale" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Canale" type="xsd:string"/>
        <xsd:element ecore:name="idProcesso" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdProcesso" type="xsd:string"/>
        <xsd:element ecore:name="pod" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Pod" type="xsd:string"/>
        <xsd:element ecore:name="codiceFiscale" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CodiceFiscale" type="xsd:string"/>
        <xsd:element ecore:name="businessPartner" form="unqualified" maxOccurs="1"
            minOccurs="0" name="BusinessPartner" type="xsd:string"/>
        <xsd:element ecore:name="contractAccount" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ContractAccount" type="xsd:string"/>
        <xsd:element ecore:name="contratto" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Contratto" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AccelerazioneDunningResponse" nillable="false">
    <xsd:complexType ecore:name="AccelerazioneDunningResponseType" id="creditoaccelerazionedunning.integration.mind.enel.comAccelerazioneDunningResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneEsito" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DescrizioneEsito" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>