tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.enel.mind.aggiornamento_crm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/aggiornamento_crm" xmlns:tns13="http://mind.enel.com/aggiornamento_crm"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/aggiornamento_crm">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Business Objects/com.enel.mind.crm.aggiornamento.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="UpdateChiaviAnagSAPRequest" id="_nnDrwKCCEeOgypk58SLXxg"
      name="UpdateChiaviAnagSAPRequest">
    <xsd:sequence>
      <xsd:element ecore:name="codiceClienteMasterCRM" id="_qcHNUKCCEeOgypk58SLXxg"
          maxOccurs="1" minOccurs="0" name="codiceClienteMasterCRM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="chiaveUnivocaBeneCRM" id="_qoPk0KCCEeOgypk58SLXxg"
          maxOccurs="1" minOccurs="0" name="chiaveUnivocaBeneCRM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="BPSapSD" id="_qy_cQKCCEeOgypk58SLXxg" maxOccurs="1"
          minOccurs="0" name="BPSapSD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contoContrattualeSapSD" id="_q_p_QKCCEeOgypk58SLXxg"
          maxOccurs="1" minOccurs="0" name="contoContrattualeSapSD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idBpm" id="_rNsbQKCCEeOgypk58SLXxg" maxOccurs="1" minOccurs="0"
          name="idBpm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="UpdateChiaviAnagSAPResponse" id="_n0ttQKCCEeOgypk58SLXxg"
      name="UpdateChiaviAnagSAPResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="_rbQ9MKCCEeOgypk58SLXxg" maxOccurs="1" minOccurs="0"
          name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceEsito" id="_rnFLoKCCEeOgypk58SLXxg" maxOccurs="1"
          minOccurs="0" name="codiceEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizioneEsito" id="_rwj3wKCCEeOgypk58SLXxg" maxOccurs="1"
          minOccurs="0" name="descrizioneEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="_r6LGwKCCEeOgypk58SLXxg"
          maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateChiaviAnagSAPRequestElement" type="UpdateChiaviAnagSAPRequest"/>
  <xsd:element name="UpdateChiaviAnagSAPResponseElement" type="UpdateChiaviAnagSAPResponse"/>
</xsd:schema>