tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.enel.mind.creazioneordinecrm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/creazioneordinecrm" xmlns:tns5="http://mind.enel.com/creazioneordinecrm"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/creazioneordinecrm">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/com.enel.mind.creazioneordinecrm.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="CreazioneOrdineCRM_Input" id="com.enel.mind.creazioneordinecrmCreazioneOrdineCRM_Input"
      abstract="false" mixed="false" name="CreazioneOrdineCRM_Input">
    <xsd:sequence>
      <xsd:element ecore:name="canale" id="CreazioneOrdineCRM_Inputcanale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceCliente" id="CreazioneOrdineCRM_InputcodiceCliente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codiceCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="operazione" id="CreazioneOrdineCRM_Inputoperazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="operazione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="mail" id="CreazioneOrdineCRM_Inputmail" form="unqualified"
          maxOccurs="1" minOccurs="0" name="mail">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cellulare" id="CreazioneOrdineCRM_Inputcellulare" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cellulare">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="commodity" id="CreazioneOrdineCRM_Inputcommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="login" id="CreazioneOrdineCRM_Inputlogin" form="unqualified"
          maxOccurs="1" minOccurs="0" name="login">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="indirizzoIp" id="CreazioneOrdineCRM_InputindirizzoIp"
          form="unqualified" maxOccurs="1" minOccurs="0" name="indirizzoIp">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="prodottoVAS" id="CreazioneOrdineCRM_InputprodottoVAS"
          form="unqualified" maxOccurs="1" minOccurs="0" name="prodottoVAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataDecorrenza" id="CreazioneOrdineCRM_InputdataDecorrenza"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="flgTracciamento" id="CreazioneOrdineCRM_InputflgTracciamento"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flgTracciamento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causale" id="CreazioneOrdineCRM_Inputcausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="specificaAttivita" id="CreazioneOrdineCRM_InputspecificaAttivita"
          form="unqualified" maxOccurs="1" minOccurs="0" name="specificaAttivita">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizioneAttivita" id="CreazioneOrdineCRM_InputdescrizioneAttivita"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizioneAttivita">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codicaCampagna" id="CreazioneOrdineCRM_InputcodicaCampagna"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codicaCampagna">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idBPM" id="CreazioneOrdineCRM_InputidBPM" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idBPM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CreazioneOrdineCRM_Output" id="com.enel.mind.creazioneordinecrmCreazioneOrdineCRM_Output"
      abstract="false" mixed="false" name="CreazioneOrdineCRM_Output">
    <xsd:sequence>
      <xsd:element ecore:name="sequence" id="CreazioneOrdineCRM_Outputsequence" form="unqualified"
          maxOccurs="1" minOccurs="0" name="sequence" type="Sequence"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Sequence" id="com.enel.mind.creazioneordinecrmSequence"
      abstract="false" mixed="false" name="Sequence">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="Sequenceesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codice" id="Sequencecodice" form="unqualified" maxOccurs="1"
          minOccurs="0" name="codice">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="Sequencedescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="row_id" id="Sequencerow_id" form="unqualified" maxOccurs="1"
          minOccurs="0" name="row_id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="SequencesistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="CreazioneOrdineCRM_InputElement" nillable="false"
      type="CreazioneOrdineCRM_Input"/>
  <xsd:element abstract="false" name="CreazioneOrdineCRM_OutputElement" nillable="false"
      type="CreazioneOrdineCRM_Output"/>
  <xsd:element abstract="false" name="SequenceElement" nillable="false" type="Sequence"/>
</xsd:schema>