tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.interface_.integration.tracciamentogdo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/interface/integration/tracciamentogdo"
    xmlns:tns17="http://xmlns.enel.com/mercato/libero/interface/integration/tracciamentogdo"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.enel.com/mercato/libero/interface/integration/tracciamentogdo">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/com.enel.xmlns.mercato.libero.interface_.integration.tracciamentogdo.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="TracciamentoGdo" nillable="false">
    <xsd:complexType ecore:name="TracciamentoGdoType" id="com.enel.xmlns.mercato.libero.interface_.integration.tracciamentogdoTracciamentoGdoType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idCrm" form="unqualified" maxOccurs="1" minOccurs="1"
            name="idCrm" type="xsd:string"/>
        <xsd:element ecore:name="tipoFlusso" form="unqualified" maxOccurs="1" minOccurs="1"
            name="tipoFlusso" type="xsd:string"/>
        <xsd:element ecore:name="tipoEntita" form="unqualified" maxOccurs="1" minOccurs="1"
            name="tipoEntita" type="xsd:string"/>
        <xsd:element ecore:name="canaleInvio" form="unqualified" maxOccurs="1" minOccurs="1"
            name="canaleInvio" type="xsd:string"/>
        <xsd:element ecore:name="idMind" form="unqualified" maxOccurs="1" minOccurs="0"
            name="idMind" type="xsd:string"/>
        <xsd:element ecore:name="tipoFlussoGdo" form="unqualified" maxOccurs="1" minOccurs="0"
            name="tipoFlussoGdo" type="xsd:string"/>
        <xsd:element ecore:name="esitoGdo" form="unqualified" maxOccurs="1" minOccurs="0"
            name="esitoGdo" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneEsitoGdo" form="unqualified" maxOccurs="1"
            minOccurs="0" name="descrizioneEsitoGdo" type="xsd:string"/>
        <xsd:element ecore:name="idSgPec" form="unqualified" maxOccurs="1" minOccurs="0"
            name="idSgPec" type="xsd:string"/>
        <xsd:element ecore:name="idCorrispondenza" form="unqualified" maxOccurs="1"
            minOccurs="0" name="idCorrispondenza" type="xsd:string"/>
        <xsd:element ecore:name="numeroProgressivo" form="unqualified" maxOccurs="1"
            minOccurs="0" name="numeroProgressivo" type="xsd:string"/>
        <xsd:element ecore:name="dettaglioModelli" form="unqualified" maxOccurs="1"
            minOccurs="0" name="dettaglioModelli">
          <xsd:complexType ecore:name="dettaglioModelliType" id="com.enel.xmlns.mercato.libero.interface_.integration.tracciamentogdodettaglioModelliType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="nomeModello" form="unqualified" maxOccurs="1"
                  minOccurs="1" name="nomeModello" type="xsd:string"/>
              <xsd:element ecore:name="codiceFascicolo" form="unqualified" maxOccurs="1"
                  minOccurs="1" name="codiceFascicolo" type="xsd:string"/>
              <xsd:element ecore:name="dataObsolescenza" form="unqualified" maxOccurs="1"
                  minOccurs="1" name="dataObsolescenza" type="xsd:string"/>
              <xsd:element ecore:name="progressivoStampa" form="unqualified" maxOccurs="1"
                  minOccurs="1" name="progressivoStampa" type="xsd:string"/>
              <xsd:element ecore:name="tipoAllegato" form="unqualified" maxOccurs="1"
                  minOccurs="1" name="tipoAllegato" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="dettaglioBarcode" form="unqualified" maxOccurs="1"
            minOccurs="0" name="dettaglioBarcode">
          <xsd:complexType ecore:name="dettaglioBarcodeType" id="com.enel.xmlns.mercato.libero.interface_.integration.tracciamentogdodettaglioBarcodeType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="barcodeModello" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="barcodeModello" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="TracciamentoGdoResponse" nillable="false">
    <xsd:complexType ecore:name="TracciamentoGdoResponseType" id="com.enel.xmlns.mercato.libero.interface_.integration.tracciamentogdoTracciamentoGdoResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito">
          <xsd:complexType ecore:name="EsitoType" id="com.enel.xmlns.mercato.libero.interface_.integration.tracciamentogdoEsitoType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
                  name="esito" type="xsd:string"/>
              <xsd:element ecore:name="codiceEsito" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="codiceEsito" type="xsd:string"/>
              <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="descrizione" type="xsd:string"/>
              <xsd:element ecore:name="tipoEsito" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="tipoEsito" type="xsd:string"/>
              <xsd:element ecore:name="sistemaSorgenteEsito" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="sistemaSorgenteEsito" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>