tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.enel.mind.recuperadaticliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/recuperadaticliente" xmlns:tns9="http://mind.enel.com/recuperadaticliente"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/recuperadaticliente">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/com.enel.mind.recuperadaticliente.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="RecuperaDatiClienteInput" id="com.enel.mind.recuperadaticlienteRecuperaDatiClienteInput"
      abstract="false" mixed="false" name="RecuperaDatiClienteInput">
    <xsd:sequence>
      <xsd:element ecore:name="datiClienteMaster" id="RecuperaDatiClienteInputdatiClienteMaster"
          form="unqualified" maxOccurs="unbounded" minOccurs="1" name="datiClienteMaster"
          type="Master"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Master" id="com.enel.mind.recuperadaticlienteMaster"
      abstract="false" mixed="false" name="Master">
    <xsd:sequence>
      <xsd:element ecore:name="codiceFiscale" id="MastercodiceFiscale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceFiscale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="partitaIVA" id="MasterpartitaIVA" form="unqualified"
          maxOccurs="1" minOccurs="0" name="partitaIVA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroUtenza" id="MasternumeroUtenza" form="unqualified"
          maxOccurs="1" minOccurs="0" name="numeroUtenza">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="accountMaster" id="MasteraccountMaster" form="unqualified"
          maxOccurs="1" minOccurs="0" name="accountMaster">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="customerAccount" id="MastercustomerAccount" form="unqualified"
          maxOccurs="1" minOccurs="0" name="customerAccount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgente" id="MastersistemaSorgente" form="unqualified"
          maxOccurs="1" minOccurs="0" name="sistemaSorgente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RecuperaDatiClienteOutput" id="com.enel.mind.recuperadaticlienteRecuperaDatiClienteOutput"
      abstract="false" mixed="false" name="RecuperaDatiClienteOutput">
    <xsd:sequence>
      <xsd:element ecore:name="listOfVt_SolRicercadaticustomer_Output" id="RecuperaDatiClienteOutputlistOfVt_SolRicercadaticustomer_Output"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfVt_SolRicercadaticustomer_Output"
          type="ListOfVt_SolRicercadaticustomer_Output"/>
      <xsd:element ecore:name="esito" id="RecuperaDatiClienteOutputesito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codice" id="RecuperaDatiClienteOutputcodice" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codice">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="RecuperaDatiClienteOutputdescrizione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfVt_SolRicercadaticustomer_Output" id="com.enel.mind.recuperadaticlienteListOfVt_SolRicercadaticustomer_Output"
      abstract="false" mixed="false" name="ListOfVt_SolRicercadaticustomer_Output">
    <xsd:sequence>
      <xsd:element ecore:name="infoMaster" id="ListOfVt_SolRicercadaticustomer_OutputinfoMaster"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="infoMaster"
          type="InfoMaster"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoMaster" id="com.enel.mind.recuperadaticlienteInfoMaster"
      abstract="false" mixed="false" name="InfoMaster">
    <xsd:sequence>
      <xsd:element ecore:name="operation" id="InfoMasteroperation" form="unqualified"
          maxOccurs="1" minOccurs="0" name="operation" type="xsd:string"/>
      <xsd:element ecore:name="searchspec" id="InfoMastersearchspec" form="unqualified"
          maxOccurs="1" minOccurs="0" name="searchspec" type="xsd:string"/>
      <xsd:element ecore:name="cli_master_id" id="InfoMastercli_master_id" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_master_id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="created" id="InfoMastercreated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="created">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="createdBy" id="InfoMastercreatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="createdBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updated" id="InfoMasterupdated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updated">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updatedBy" id="InfoMasterupdatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updatedBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="conflictId" id="InfoMasterconflictId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="conflictId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="modId" id="InfoMastermodId" form="unqualified" maxOccurs="1"
          minOccurs="0" name="modId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_bp_sap" id="InfoMastercli_bp_sap" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_bp_sap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_master_nome" id="InfoMastercli_master_nome" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_master_nome">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_master_pg" id="InfoMastercli_master_pg" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_master_pg" type="xsd:string"/>
      <xsd:element ecore:name="cli_master_cf_piva" id="InfoMastercli_master_cf_piva"
          form="unqualified" maxOccurs="1" minOccurs="0" name="cli_master_cf_piva">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="masterAccountId" id="InfoMastermasterAccountId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="masterAccountId" type="xsd:string"/>
      <xsd:element ecore:name="cli_master_cogn_rag_soc" id="InfoMastercli_master_cogn_rag_soc"
          form="unqualified" maxOccurs="1" minOccurs="0" name="cli_master_cogn_rag_soc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="parentAccountTypeCode" id="InfoMasterparentAccountTypeCode"
          form="unqualified" maxOccurs="1" minOccurs="0" name="parentAccountTypeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="partyTypeCode" id="InfoMasterpartyTypeCode" form="unqualified"
          maxOccurs="1" minOccurs="0" name="partyTypeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="partyUId" id="InfoMasterpartyUId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="partyUId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="segmento_B_Completo" id="InfoMastersegmento_B_Completo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="segmento_B_Completo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="listOfVt_SolBcAccount" id="InfoMasterlistOfVt_SolBcAccount"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfVt_SolBcAccount"
          type="ListOfVt_SolBcAccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfVt_SolBcAccount" id="com.enel.mind.recuperadaticlienteListOfVt_SolBcAccount"
      abstract="false" mixed="false" name="ListOfVt_SolBcAccount">
    <xsd:sequence>
      <xsd:element ecore:name="infoCustomer" id="ListOfVt_SolBcAccountinfoCustomer"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="infoCustomer"
          type="InfoCustomer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoCustomer" id="com.enel.mind.recuperadaticlienteInfoCustomer"
      abstract="false" mixed="false" name="InfoCustomer">
    <xsd:sequence>
      <xsd:element ecore:name="cli_customer_id" id="InfoCustomercli_customer_id" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_customer_id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ind_toponomastica" id="InfoCustomerind_toponomastica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="ind_toponomastica">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ind_nomevia" id="InfoCustomerind_nomevia" form="unqualified"
          maxOccurs="1" minOccurs="0" name="ind_nomevia">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_forma_giur" id="InfoCustomercli_forma_giur" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_forma_giur">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_lty" id="InfoCustomercli_lty" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_lty">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="accountTypeCode" id="InfoCustomeraccountTypeCode" form="unqualified"
          maxOccurs="1" minOccurs="0" name="accountTypeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_nome" id="InfoCustomercli_nome" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_nome">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_reg_tar" id="InfoCustomercli_reg_tar" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_reg_tar" type="xsd:string"/>
      <xsd:element ecore:name="cli_cell" id="InfoCustomercli_cell" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_cell">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ind_citta" id="InfoCustomerind_citta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="ind_citta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ind_civico" id="InfoCustomerind_civico" form="unqualified"
          maxOccurs="1" minOccurs="0" name="ind_civico">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_codfisc" id="InfoCustomercli_codfisc" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_codfisc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_piva" id="InfoCustomercli_piva" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_piva">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_desctel" id="InfoCustomercli_desctel" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_desctel">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_email" id="InfoCustomercli_email" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_email">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_email_PEC" id="InfoCustomercli_email_PEC" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_email_PEC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_tel" id="InfoCustomercli_tel" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_tel" type="xsd:string"/>
      <xsd:element ecore:name="masterAccountId" id="InfoCustomermasterAccountId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="masterAccountId" type="xsd:string"/>
      <xsd:element ecore:name="cli_cognome_rag_soc" id="InfoCustomercli_cognome_rag_soc"
          form="unqualified" maxOccurs="1" minOccurs="0" name="cli_cognome_rag_soc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="parentAccountId" id="InfoCustomerparentAccountId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="parentAccountId" type="xsd:string"/>
      <xsd:element ecore:name="parentAccountIntegrationId" id="InfoCustomerparentAccountIntegrationId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="parentAccountIntegrationId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="parentQuoteId" id="InfoCustomerparentQuoteId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="parentQuoteId" type="xsd:string"/>
      <xsd:element ecore:name="ind_cap" id="InfoCustomerind_cap" form="unqualified"
          maxOccurs="1" minOccurs="0" name="ind_cap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_canale_preferito" id="InfoCustomercli_canale_preferito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="cli_canale_preferito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="primaryPositionId" id="InfoCustomerprimaryPositionId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="primaryPositionId"
          type="xsd:string"/>
      <xsd:element ecore:name="ind_estensione" id="InfoCustomerind_estensione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="ind_estensione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cli_segmento" id="InfoCustomercli_segmento" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_segmento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ind_provincia" id="InfoCustomerind_provincia" form="unqualified"
          maxOccurs="1" minOccurs="0" name="ind_provincia" type="xsd:string"/>
      <xsd:element ecore:name="cli_tipo" id="InfoCustomercli_tipo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="cli_tipo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="segmento_B_Completo" id="InfoCustomersegmento_B_Completo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="segmento_B_Completo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="listOfContact" id="InfoCustomerlistOfContact" form="unqualified"
          maxOccurs="1" minOccurs="0" name="listOfContact" type="ListOfContact"/>
      <xsd:element ecore:name="listOfServiceAgreement" id="InfoCustomerlistOfServiceAgreement"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfServiceAgreement"
          type="ListOfServiceAgreement"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfContact" id="com.enel.mind.recuperadaticlienteListOfContact"
      abstract="false" mixed="false" name="ListOfContact">
    <xsd:sequence>
      <xsd:element ecore:name="infoReferente" id="ListOfContactinfoReferente" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="infoReferente" type="InfoReferente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoReferente" id="com.enel.mind.recuperadaticlienteInfoReferente"
      abstract="false" mixed="false" name="InfoReferente">
    <xsd:sequence>
      <xsd:element ecore:name="id" id="InfoReferenteid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="created" id="InfoReferentecreated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="created">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="con_cell" id="InfoReferentecon_cell" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_cell" type="xsd:string"/>
      <xsd:element ecore:name="con_idcode" id="InfoReferentecon_idcode" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_idcode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="created2" id="InfoReferentecreated2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="created2" type="xsd:string"/>
      <xsd:element ecore:name="con_created" id="InfoReferentecon_created" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_created" type="xsd:string"/>
      <xsd:element ecore:name="con_cf" id="InfoReferentecon_cf" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_cf" type="xsd:string"/>
      <xsd:element ecore:name="con_eMail" id="InfoReferentecon_eMail" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_eMail">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="con_fax" id="InfoReferentecon_fax" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_fax" type="xsd:string"/>
      <xsd:element ecore:name="con_telabitazione" id="InfoReferentecon_telabitazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="con_telabitazione"
          type="xsd:string"/>
      <xsd:element ecore:name="con_mansione" id="InfoReferentecon_mansione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_mansione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="75"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="con_nome" id="InfoReferentecon_nome" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_nome">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="con_tramite" id="InfoReferentecon_tramite" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_tramite">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="con_telufficio" id="InfoReferentecon_telufficio" form="unqualified"
          maxOccurs="1" minOccurs="0" name="con_telufficio" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfServiceAgreement" id="com.enel.mind.recuperadaticlienteListOfServiceAgreement"
      abstract="false" mixed="false" name="ListOfServiceAgreement">
    <xsd:sequence>
      <xsd:element ecore:name="infoContratto" id="ListOfServiceAgreementinfoContratto"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="infoContratto"
          type="InfoContratto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoContratto" id="com.enel.mind.recuperadaticlienteInfoContratto"
      abstract="false" mixed="false" name="InfoContratto">
    <xsd:sequence>
      <xsd:element ecore:name="contr_id" id="InfoContrattocontr_id" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contr_id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="agreementEndDate" id="InfoContrattoagreementEndDate"
          form="unqualified" maxOccurs="1" minOccurs="0" name="agreementEndDate" type="xsd:string"/>
      <xsd:element ecore:name="contr_codice_contratto" id="InfoContrattocontr_codice_contratto"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contr_codice_contratto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="agreementStartDate" id="InfoContrattoagreementStartDate"
          form="unqualified" maxOccurs="1" minOccurs="0" name="agreementStartDate"
          type="xsd:string"/>
      <xsd:element ecore:name="lty_adesione_EM" id="InfoContrattolty_adesione_EM"
          form="unqualified" maxOccurs="1" minOccurs="0" name="lty_adesione_EM" type="xsd:string"/>
      <xsd:element ecore:name="lty_codice_EM" id="InfoContrattolty_codice_EM" form="unqualified"
          maxOccurs="1" minOccurs="0" name="lty_codice_EM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="lty_adesione_EP" id="InfoContrattolty_adesione_EP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="lty_adesione_EP" type="xsd:string"/>
      <xsd:element ecore:name="lty_codice_EP" id="InfoContrattolty_codice_EP" form="unqualified"
          maxOccurs="1" minOccurs="0" name="lty_codice_EP" type="xsd:string"/>
      <xsd:element ecore:name="quoteId" id="InfoContrattoquoteId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="quoteId" type="xsd:string"/>
      <xsd:element ecore:name="listOfActionAttachment" id="InfoContrattolistOfActionAttachment"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfActionAttachment"
          type="ListOfActionAttachment"/>
      <xsd:element ecore:name="listOfAssetMgmtAssetHeader" id="InfoContrattolistOfAssetMgmtAssetHeader"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfAssetMgmtAssetHeader"
          type="ListOfAssetMgmtAssetHeader"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfActionAttachment" id="com.enel.mind.recuperadaticlienteListOfActionAttachment"
      abstract="false" mixed="false" name="ListOfActionAttachment">
    <xsd:sequence>
      <xsd:element ecore:name="infoContrattoAttachment" id="ListOfActionAttachmentinfoContrattoAttachment"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="infoContrattoAttachment"
          type="InfoContrattoAttachment"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoContrattoAttachment" id="com.enel.mind.recuperadaticlienteInfoContrattoAttachment"
      abstract="false" mixed="false" name="InfoContrattoAttachment">
    <xsd:sequence>
      <xsd:element ecore:name="operation" id="InfoContrattoAttachmentoperation" form="unqualified"
          maxOccurs="1" minOccurs="0" name="operation" type="xsd:string"/>
      <xsd:element ecore:name="searchspec" id="InfoContrattoAttachmentsearchspec"
          form="unqualified" maxOccurs="1" minOccurs="0" name="searchspec" type="xsd:string"/>
      <xsd:element ecore:name="activityFileSrcType" id="InfoContrattoAttachmentactivityFileSrcType"
          form="unqualified" maxOccurs="1" minOccurs="0" name="activityFileSrcType"
          type="xsd:string"/>
      <xsd:element ecore:name="id" id="InfoContrattoAttachmentid" form="unqualified"
          maxOccurs="1" minOccurs="0" name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="created" id="InfoContrattoAttachmentcreated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="created">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="createdBy" id="InfoContrattoAttachmentcreatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="createdBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updated" id="InfoContrattoAttachmentupdated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updated">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updatedBy" id="InfoContrattoAttachmentupdatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updatedBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="conflictId" id="InfoContrattoAttachmentconflictId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="conflictId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="modId" id="InfoContrattoAttachmentmodId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="modId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="activityId" id="InfoContrattoAttachmentactivityId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="activityId" type="xsd:string"/>
      <xsd:element ecore:name="activityFileDeferFlg" id="InfoContrattoAttachmentactivityFileDeferFlg"
          form="unqualified" maxOccurs="1" minOccurs="0" name="activityFileDeferFlg">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contr_link_DMS" id="InfoContrattoAttachmentcontr_link_DMS"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contr_link_DMS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="mailAttachmentType" id="InfoContrattoAttachmentmailAttachmentType"
          form="unqualified" maxOccurs="1" minOccurs="0" name="mailAttachmentType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="quoteId" id="InfoContrattoAttachmentquoteId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="quoteId" type="xsd:string"/>
      <xsd:element ecore:name="activityFileBuffer" id="InfoContrattoAttachmentactivityFileBuffer"
          form="unqualified" maxOccurs="1" minOccurs="0" name="activityFileBuffer"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfAssetMgmtAssetHeader" id="com.enel.mind.recuperadaticlienteListOfAssetMgmtAssetHeader"
      abstract="false" mixed="false" name="ListOfAssetMgmtAssetHeader">
    <xsd:sequence>
      <xsd:element ecore:name="infoFornitura" id="ListOfAssetMgmtAssetHeaderinfoFornitura"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="infoFornitura"
          type="InfoFornitura"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoFornitura" id="com.enel.mind.recuperadaticlienteInfoFornitura"
      abstract="false" mixed="false" name="InfoFornitura">
    <xsd:sequence>
      <xsd:element ecore:name="operation" id="InfoFornituraoperation" form="unqualified"
          maxOccurs="1" minOccurs="0" name="operation" type="xsd:string"/>
      <xsd:element ecore:name="searchspec" id="InfoForniturasearchspec" form="unqualified"
          maxOccurs="1" minOccurs="0" name="searchspec" type="xsd:string"/>
      <xsd:element ecore:name="id" id="InfoFornituraid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="created" id="InfoFornituracreated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="created">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="createdBy" id="InfoFornituracreatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="createdBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updated" id="InfoFornituraupdated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updated">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="modId" id="InfoFornituramodId" form="unqualified" maxOccurs="1"
          minOccurs="0" name="modId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="billingAccountId" id="InfoForniturabillingAccountId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="billingAccountId" type="xsd:string"/>
      <xsd:element ecore:name="for_met_pag_banca" id="InfoForniturafor_met_pag_banca"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_met_pag_banca">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_met_pag_cf_titol" id="InfoForniturafor_met_pag_cf_titol"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_met_pag_cf_titol">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_cod_utilizzo" id="InfoForniturafor_cod_utilizzo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_cod_utilizzo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_contract_account_sap" id="InfoForniturafor_contract_account_sap"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_contract_account_sap"
          type="xsd:string"/>
      <xsd:element ecore:name="for_contract_sap" id="InfoForniturafor_contract_sap"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_contract_sap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_ind_forn" id="InfoForniturafor_ind_forn" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_ind_forn" type="xsd:string"/>
      <xsd:element ecore:name="for_met_pag_iban" id="InfoForniturafor_met_pag_iban"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_met_pag_iban" type="xsd:string"/>
      <xsd:element ecore:name="CRMUMetodoPagamentoId" id="InfoFornituraCRMUMetodoPagamentoId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CRMUMetodoPagamentoId"
          type="xsd:string"/>
      <xsd:element ecore:name="for_met_pag" id="InfoForniturafor_met_pag" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_met_pag">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_pod" id="InfoForniturafor_pod" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_pod" type="xsd:string"/>
      <xsd:element ecore:name="for_potenza_contr" id="InfoForniturafor_potenza_contr"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_potenza_contr"
          type="xsd:string"/>
      <xsd:element ecore:name="for_potenza_disp" id="InfoForniturafor_potenza_disp"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_potenza_disp" type="xsd:string"/>
      <xsd:element ecore:name="for_potenza_gen" id="InfoForniturafor_potenza_gen"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_potenza_gen" type="xsd:string"/>
      <xsd:element ecore:name="for_potenza_fran" id="InfoForniturafor_potenza_fran"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_potenza_fran">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_prod_salv" id="InfoForniturafor_prod_salv" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_prod_salv">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="CRMUShipToAddressId" id="InfoFornituraCRMUShipToAddressId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CRMUShipToAddressId"
          type="xsd:string"/>
      <xsd:element ecore:name="CRMUSiglaStato" id="InfoFornituraCRMUSiglaStato" form="unqualified"
          maxOccurs="1" minOccurs="0" name="CRMUSiglaStato">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_tensione_consegna" id="InfoForniturafor_tensione_consegna"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_tensione_consegna">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_met_pag_titol_conto" id="InfoForniturafor_met_pag_titol_conto"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_met_pag_titol_conto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_codice" id="InfoForniturafor_codice" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_codice" type="xsd:string"/>
      <xsd:element ecore:name="integrationId" id="InfoFornituraintegrationId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="integrationId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="parentAssetId" id="InfoFornituraparentAssetId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="parentAssetId" type="xsd:string"/>
      <xsd:element ecore:name="for_prod_id" id="InfoForniturafor_prod_id" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_prod_id" type="xsd:string"/>
      <xsd:element ecore:name="for_prod_desc" id="InfoForniturafor_prod_desc" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_prod_desc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="quoteItemId" id="InfoFornituraquoteItemId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="quoteItemId" type="xsd:string"/>
      <xsd:element ecore:name="serviceAccountId" id="InfoFornituraserviceAccountId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="serviceAccountId" type="xsd:string"/>
      <xsd:element ecore:name="for_tipo" id="InfoForniturafor_tipo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_tipo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_stato" id="InfoForniturafor_stato" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_stato">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="billingCAP" id="InfoForniturabillingCAP" form="unqualified"
          maxOccurs="1" minOccurs="0" name="billingCAP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="billingCity" id="InfoForniturabillingCity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="billingCity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="billingCivico" id="InfoForniturabillingCivico" form="unqualified"
          maxOccurs="1" minOccurs="0" name="billingCivico">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="billingState" id="InfoForniturabillingState" form="unqualified"
          maxOccurs="1" minOccurs="0" name="billingState">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="billingToponomastica" id="InfoForniturabillingToponomastica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="billingToponomastica">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="billingVia" id="InfoForniturabillingVia" form="unqualified"
          maxOccurs="1" minOccurs="0" name="billingVia">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_ind_fatt" id="InfoForniturafor_ind_fatt" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_ind_fatt" type="xsd:string"/>
      <xsd:element ecore:name="for_cat_uso" id="InfoForniturafor_cat_uso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="for_cat_uso" type="xsd:string"/>
      <xsd:element ecore:name="codice_imposte" id="InfoFornituracodice_imposte" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codice_imposte">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="aliquota_iva" id="InfoFornituraaliquota_iva" form="unqualified"
          maxOccurs="1" minOccurs="0" name="aliquota_iva">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contr_data_scadenza_old" id="InfoFornituracontr_data_scadenza_old"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contr_data_scadenza_old"
          type="xsd:string"/>
      <xsd:element ecore:name="contr_data_scadenza" id="InfoFornituracontr_data_scadenza"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contr_data_scadenza"
          type="xsd:string"/>
      <xsd:element ecore:name="for_uso_fornitura" id="InfoForniturafor_uso_fornitura"
          form="unqualified" maxOccurs="1" minOccurs="0" name="for_uso_fornitura">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="for_prod_tipo" id="InfoForniturafor_prod_tipo" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="for_prod_tipo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="data_cess_forn" id="InfoFornituradata_cess_forn" form="unqualified"
          maxOccurs="1" minOccurs="0" name="data_cess_forn" type="xsd:string"/>
      <xsd:element ecore:name="codiceOfferta" id="InfoFornituracodiceOfferta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceOfferta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="CRMUFaseCampagnaRinnovo" id="InfoFornituraCRMUFaseCampagnaRinnovo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CRMUFaseCampagnaRinnovo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="CRMUNomeListinoAttuale" id="InfoFornituraCRMUNomeListinoAttuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CRMUNomeListinoAttuale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="CRMUDataAdeguamentoListino" id="InfoFornituraCRMUDataAdeguamentoListino"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CRMUDataAdeguamentoListino"
          type="xsd:string"/>
      <xsd:element ecore:name="CRMUNomeListinoCampagna" id="InfoFornituraCRMUNomeListinoCampagna"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CRMUNomeListinoCampagna">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="CRMUStatoRinnovo" id="InfoFornituraCRMUStatoRinnovo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CRMUStatoRinnovo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="CRMUProdottoRinnovo" id="InfoFornituraCRMUProdottoRinnovo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CRMUProdottoRinnovo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="listOfCrmuVas2" id="InfoFornituralistOfCrmuVas2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="listOfCrmuVas2" type="ListOfCrmuVas2"/>
      <xsd:element ecore:name="listOfVt_SolFormeContrattuali" id="InfoFornituralistOfVt_SolFormeContrattuali"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfVt_SolFormeContrattuali"
          type="ListOfVt_SolFormeContrattuali"/>
      <xsd:element ecore:name="listOfScontoBonus" id="InfoFornituralistOfScontoBonus"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfScontoBonus"
          type="ListOfScontoBonus"/>
      <xsd:element ecore:name="listOfServiziPartner" id="InfoFornituralistOfServiziPartner"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfServiziPartner"
          type="ListOfServiziPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfCrmuVas2" id="com.enel.mind.recuperadaticlienteListOfCrmuVas2"
      abstract="false" mixed="false" name="ListOfCrmuVas2">
    <xsd:sequence>
      <xsd:element ecore:name="infoVas" id="ListOfCrmuVas2infoVas" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="infoVas" type="InfoVas"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoVas" id="com.enel.mind.recuperadaticlienteInfoVas"
      abstract="false" mixed="false" name="InfoVas">
    <xsd:sequence>
      <xsd:element ecore:name="id" id="InfoVasid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="parentAssetId" id="InfoVasparentAssetId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="parentAssetId" type="xsd:string"/>
      <xsd:element ecore:name="vas_nome" id="InfoVasvas_nome" form="unqualified" maxOccurs="1"
          minOccurs="0" name="vas_nome">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="vas_stato" id="InfoVasvas_stato" form="unqualified"
          maxOccurs="1" minOccurs="0" name="vas_stato">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="listOfAssetMgmtAssetXa" id="InfoVaslistOfAssetMgmtAssetXa"
          form="unqualified" maxOccurs="1" minOccurs="0" name="listOfAssetMgmtAssetXa"
          type="ListOfAssetMgmtAssetXa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfAssetMgmtAssetXa" id="com.enel.mind.recuperadaticlienteListOfAssetMgmtAssetXa"
      abstract="false" mixed="false" name="ListOfAssetMgmtAssetXa">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns9:InfoVasXA">
        <xsd:sequence>
          <xsd:element ecore:name="infoVasXA" id="ListOfAssetMgmtAssetXainfoVasXA"
              form="unqualified" maxOccurs="unbounded" minOccurs="0" name="infoVasXA"
              type="InfoVasXA"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoVasXA" id="com.enel.mind.recuperadaticlienteInfoVasXA"
      abstract="false" mixed="false" name="InfoVasXA">
    <xsd:sequence>
      <xsd:element ecore:name="operation" id="InfoVasXAoperation" form="unqualified"
          maxOccurs="1" minOccurs="0" name="operation" type="xsd:string"/>
      <xsd:element ecore:name="searchspec" id="InfoVasXAsearchspec" form="unqualified"
          maxOccurs="1" minOccurs="0" name="searchspec" type="xsd:string"/>
      <xsd:element ecore:name="id" id="InfoVasXAid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="created" id="InfoVasXAcreated" form="unqualified" maxOccurs="1"
          minOccurs="0" name="created">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="createdBy" id="InfoVasXAcreatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="createdBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updated" id="InfoVasXAupdated" form="unqualified" maxOccurs="1"
          minOccurs="0" name="updated">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updatedBy" id="InfoVasXAupdatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updatedBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="conflictId" id="InfoVasXAconflictId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="conflictId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="modId" id="InfoVasXAmodId" form="unqualified" maxOccurs="1"
          minOccurs="0" name="modId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataType" id="InfoVasXAdataType" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="vas_par_name" id="InfoVasXAvas_par_name" form="unqualified"
          maxOccurs="1" minOccurs="0" name="vas_par_name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="75"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numericValue" id="InfoVasXAnumericValue" form="unqualified"
          maxOccurs="1" minOccurs="0" name="numericValue" type="xsd:string"/>
      <xsd:element ecore:name="objectId" id="InfoVasXAobjectId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="objectId" type="xsd:string"/>
      <xsd:element ecore:name="vas_mail_tel" id="InfoVasXAvas_mail_tel" form="unqualified"
          maxOccurs="1" minOccurs="0" name="vas_mail_tel">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfVt_SolFormeContrattuali" id="com.enel.mind.recuperadaticlienteListOfVt_SolFormeContrattuali"
      abstract="false" mixed="false" name="ListOfVt_SolFormeContrattuali">
    <xsd:sequence>
      <xsd:element ecore:name="infoFormeContrattuali" id="ListOfVt_SolFormeContrattualiinfoFormeContrattuali"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="infoFormeContrattuali"
          type="InfoFormeContrattuali"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoFormeContrattuali" id="com.enel.mind.recuperadaticlienteInfoFormeContrattuali"
      abstract="false" mixed="false" name="InfoFormeContrattuali">
    <xsd:sequence>
      <xsd:element ecore:name="off_ln_prod_desc" id="InfoFormeContrattualioff_ln_prod_desc"
          form="unqualified" maxOccurs="1" minOccurs="0" name="off_ln_prod_desc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contr_data_attivazione_old" id="InfoFormeContrattualicontr_data_attivazione_old"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contr_data_attivazione_old"
          type="xsd:string"/>
      <xsd:element ecore:name="contr_data_attivazione" id="InfoFormeContrattualicontr_data_attivazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contr_data_attivazione"
          type="xsd:string"/>
      <xsd:element ecore:name="contr_data_scadenza_old" id="InfoFormeContrattualicontr_data_scadenza_old"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contr_data_scadenza_old"
          type="xsd:string"/>
      <xsd:element ecore:name="contr_data_scadenza" id="InfoFormeContrattualicontr_data_scadenza"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contr_data_scadenza"
          type="xsd:string"/>
      <xsd:element ecore:name="frm_contr_stato" id="InfoFormeContrattualifrm_contr_stato"
          form="unqualified" maxOccurs="1" minOccurs="0" name="frm_contr_stato" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfScontoBonus" id="com.enel.mind.recuperadaticlienteListOfScontoBonus"
      abstract="false" mixed="false" name="ListOfScontoBonus">
    <xsd:sequence>
      <xsd:element ecore:name="scontiBonus" id="ListOfScontoBonusscontiBonus" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="scontiBonus" type="ScontiBonus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ScontiBonus" id="com.enel.mind.recuperadaticlienteScontiBonus"
      abstract="false" mixed="false" name="ScontiBonus">
    <xsd:sequence>
      <xsd:element ecore:name="id" id="ScontiBonusid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="parentAssetId" id="ScontiBonusparentAssetId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="parentAssetId" type="xsd:string"/>
      <xsd:element ecore:name="nome" id="ScontiBonusnome" form="unqualified" maxOccurs="1"
          minOccurs="0" name="nome">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="tipo" id="ScontiBonustipo" form="unqualified" maxOccurs="1"
          minOccurs="0" name="tipo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="stato" id="ScontiBonusstato" form="unqualified" maxOccurs="1"
          minOccurs="0" name="stato">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfServiziPartner" id="com.enel.mind.recuperadaticlienteListOfServiziPartner"
      abstract="false" mixed="false" name="ListOfServiziPartner">
    <xsd:sequence>
      <xsd:element ecore:name="serviziPartner" id="ListOfServiziPartnerserviziPartner"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="serviziPartner"
          type="ServiziPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ServiziPartner" id="com.enel.mind.recuperadaticlienteServiziPartner"
      abstract="false" mixed="false" name="ServiziPartner">
    <xsd:sequence>
      <xsd:element ecore:name="productName" id="ServiziPartnerproductName" form="unqualified"
          maxOccurs="1" minOccurs="0" name="productName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoPartner" id="ServiziPartnerstatoPartner" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoPartner">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceUnivoco" id="ServiziPartnercodiceUnivoco" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceUnivoco">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataAttivazionePartner" id="ServiziPartnerdataAttivazionePartner"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataAttivazionePartner"
          type="xsd:string"/>
      <xsd:element ecore:name="dataAdesione" id="ServiziPartnerdataAdesione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataAdesione" type="xsd:string"/>
      <xsd:element ecore:name="numContrattoCartaceo" id="ServiziPartnernumContrattoCartaceo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numContrattoCartaceo"
          type="xsd:string"/>
      <xsd:element ecore:name="flagBeneConInstallazione" id="ServiziPartnerflagBeneConInstallazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagBeneConInstallazione"
          type="xsd:string"/>
      <xsd:element ecore:name="flagPagamentoUnicaSoluzione" id="ServiziPartnerflagPagamentoUnicaSoluzione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagPagamentoUnicaSoluzione"
          type="xsd:string"/>
      <xsd:element ecore:name="listOfServiziPartnerXA" id="ServiziPartnerlistOfServiziPartnerXA"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="listOfServiziPartnerXA"
          type="ListOfServiziPartnerXA"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfServiziPartnerXA" id="com.enel.mind.recuperadaticlienteListOfServiziPartnerXA"
      abstract="false" mixed="false" name="ListOfServiziPartnerXA">
    <xsd:sequence>
      <xsd:element ecore:name="serviziPartnerXA" id="ListOfServiziPartnerXAserviziPartnerXA"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="serviziPartnerXA"
          type="ServiziPartnerXA"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ServiziPartnerXA" id="com.enel.mind.recuperadaticlienteServiziPartnerXA"
      abstract="false" mixed="false" name="ServiziPartnerXA">
    <xsd:sequence>
      <xsd:element ecore:name="id" id="ServiziPartnerXAid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="created" id="ServiziPartnerXAcreated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="created">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="createdBy" id="ServiziPartnerXAcreatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="createdBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updated" id="ServiziPartnerXAupdated" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updated">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="updatedBy" id="ServiziPartnerXAupdatedBy" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updatedBy">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="vas_mail_tel" id="ServiziPartnerXAvas_mail_tel" form="unqualified"
          maxOccurs="1" minOccurs="0" name="vas_mail_tel">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="conflictId" id="ServiziPartnerXAconflictId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="conflictId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="modId" id="ServiziPartnerXAmodId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="modId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="operation" id="ServiziPartnerXAoperation" form="unqualified"
          maxOccurs="1" minOccurs="0" name="operation">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="searchspec" id="ServiziPartnerXAsearchspec" form="unqualified"
          maxOccurs="1" minOccurs="0" name="searchspec">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataType" id="ServiziPartnerXAdataType" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="vas_par_name" id="ServiziPartnerXAvas_par_name" form="unqualified"
          maxOccurs="1" minOccurs="0" name="vas_par_name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="75"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numericValue" id="ServiziPartnerXAnumericValue" form="unqualified"
          maxOccurs="1" minOccurs="0" name="numericValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="objectId" id="ServiziPartnerXAobjectId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="objectId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RecuperoDatiContattoCliente_Request" id="com.enel.mind.recuperadaticlienteRecuperoDatiContattoCliente_Request"
      abstract="false" mixed="false" name="RecuperoDatiContattoCliente_Request">
    <xsd:sequence>
      <xsd:element ecore:name="CDM_Cliente" id="RecuperoDatiContattoCliente_RequestCDM_Cliente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_Cliente" type="xsd:string"/>
      <xsd:element ecore:name="richiesta" id="RecuperoDatiContattoCliente_RequestRichiesta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="Richiesta" type="RichiestaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RichiestaType" id="com.enel.mind.recuperadaticlienteRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente"
          type="xsd:string"/>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canale" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="RichiestaTypeidRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="RichiestaTypetipoOperazione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="RichiestaTypecausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="RichiestaTypecommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaTypeflagDelibera40" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="RichiestaTypeIp" form="unqualified" maxOccurs="1"
          minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element ecore:name="profilo" id="RichiestaTypeProfilo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Profilo" type="xsd:string"/>
      <xsd:element ecore:name="matricola" id="RichiestaTypeMatricola" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Matricola" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiesta" id="RichiestaTypeDataRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaTypeIdMuti" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdMuti" type="xsd:string"/>
      <xsd:element ecore:name="idDms" id="RichiestaTypeIdDms" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdDms" type="xsd:string"/>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaTypeIdDmsReclamo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="RichiestaTypeIdR2dType" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2d">
        <xsd:complexType ecore:name="IdR2dType" id="com.enel.mind.recuperadaticlienteIdR2dType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="idDistr" form="unqualified" maxOccurs="1" minOccurs="0"
                name="IdDistr" type="xsd:string"/>
            <xsd:element ecore:name="idDistr2" form="unqualified" maxOccurs="1" minOccurs="0"
                name="IdDistr2" type="xsd:string"/>
            <xsd:element ecore:name="idR2d" form="unqualified" maxOccurs="1" minOccurs="0"
                name="IdR2d" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestaTypedataDecorrenza" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestaTypetipoRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="flagComplesso" id="RichiestaTypeflagComplesso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaTypeflagPreventivo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaTypeflagDocumentazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione"
          type="xsd:string"/>
      <xsd:element ecore:name="idCRM" id="RichiestaTypeidCRM" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idCRM" type="xsd:string"/>
      <xsd:element ecore:name="statoServizio" id="RichiestaTypestatoServizio" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoServizio" type="xsd:string"/>
      <xsd:element ecore:name="statoOrdine" id="RichiestaTypestatoOrdine" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine" type="xsd:string"/>
      <xsd:element ecore:name="statoFiCa" id="RichiestaTypestatoFiCa" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa" type="xsd:string"/>
      <xsd:element ecore:name="statoISU" id="RichiestaTypestatoISU" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoISU" type="xsd:string"/>
      <xsd:element ecore:name="statoR2D" id="RichiestaTypestatoR2D" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoR2D" type="xsd:string"/>
      <xsd:element ecore:name="statoSD" id="RichiestaTypestatoSD" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSD" type="xsd:string"/>
      <xsd:element ecore:name="statoSempre" id="RichiestaTypestatoSempre" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSempre" type="xsd:string"/>
      <xsd:element ecore:name="statoUDB" id="RichiestaTypestatoUDB" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoUDB" type="xsd:string"/>
      <xsd:element ecore:name="idR2R" id="RichiestaTypeIdR2RType" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2R">
        <xsd:complexType ecore:name="IdR2RType" id="com.enel.mind.recuperadaticlienteIdR2RType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="idR2R" form="unqualified" maxOccurs="1" minOccurs="0"
                name="IdR2R" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaTypeIdAttivitaCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RecuperoDatiContattoCliente_Response" id="com.enel.mind.recuperadaticlienteRecuperoDatiContattoCliente_Response"
      abstract="false" mixed="false" name="RecuperoDatiContattoCliente_Response">
    <xsd:sequence>
      <xsd:element ecore:name="response" id="RecuperoDatiContattoCliente_Responseresponse"
          form="unqualified" maxOccurs="1" minOccurs="0" name="response" type="RispostaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RispostaType" id="com.enel.mind.recuperadaticlienteRispostaType"
      abstract="false" mixed="false" name="RispostaType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="RispostaTypeEsito" form="unqualified" maxOccurs="1"
          minOccurs="1" name="Esito" type="EsitoType"/>
      <xsd:element ecore:name="CDM_Cliente_O" id="RispostaTypeCDM_Cliente_O" form="unqualified"
          maxOccurs="1" minOccurs="0" name="CDM_Cliente_O" type="xsd:string"/>
      <xsd:element ecore:name="telefonoCellulare" id="RispostaTypetelefonoCellulare"
          form="unqualified" maxOccurs="1" minOccurs="0" name="telefonoCellulare">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="telefonoFisso" id="RispostaTypetelefonoFisso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="telefonoFisso">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="altroTelefono" id="RispostaTypealtroTelefono" form="unqualified"
          maxOccurs="1" minOccurs="0" name="altroTelefono">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="identificativoUnivocoCRM" id="RispostaTypeidentificativoUnivocoCRM"
          form="unqualified" maxOccurs="1" minOccurs="0" name="identificativoUnivocoCRM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizioneTelefono" id="RispostaTypedescrizioneTelefono"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizioneTelefono">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoType" id="com.enel.mind.recuperadaticlienteEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="RecuperaDatiClienteInputElement" nillable="false"
      type="RecuperaDatiClienteInput"/>
  <xsd:element abstract="false" name="RecuperaDatiClienteOutputElement" nillable="false"
      type="RecuperaDatiClienteOutput"/>
  <xsd:element abstract="false" name="MasterElement" nillable="false" type="Master"/>
  <xsd:element abstract="false" name="InfoMasterElement" nillable="false" type="InfoMaster"/>
  <xsd:element abstract="false" name="InfoCustomerElement" nillable="false" type="InfoCustomer"/>
  <xsd:element abstract="false" name="InfoReferenteElement" nillable="false" type="InfoReferente"/>
  <xsd:element abstract="false" name="InfoContrattoElement" nillable="false" type="InfoContratto"/>
  <xsd:element abstract="false" name="InfoContrattoAttachmentElement" nillable="false"
      type="InfoContrattoAttachment"/>
  <xsd:element abstract="false" name="InfoFornituraElement" nillable="false" type="InfoFornitura"/>
  <xsd:element abstract="false" name="ScontiBonusElement" nillable="false" type="ScontiBonus"/>
  <xsd:element abstract="false" name="InfoFormeContrattualiElement" nillable="false"
      type="InfoFormeContrattuali"/>
  <xsd:element abstract="false" name="ServiziPartnerElement" nillable="false" type="ServiziPartner"/>
  <xsd:element abstract="false" name="InfoVasElement" nillable="false" type="InfoVas"/>
  <xsd:element abstract="false" name="InfoVasXAElement" nillable="false" type="InfoVasXA"/>
  <xsd:element abstract="false" name="ServiziPartnerXAElement" nillable="false" type="ServiziPartnerXA"/>
  <xsd:element abstract="false" name="ListOfVt_SolRicercadaticustomer_OutputElement"
      nillable="false" type="ListOfVt_SolRicercadaticustomer_Output"/>
  <xsd:element abstract="false" name="ListOfVt_SolBcAccountElement" nillable="false"
      type="ListOfVt_SolBcAccount"/>
  <xsd:element abstract="false" name="ListOfContactElement" nillable="false" type="ListOfContact"/>
  <xsd:element abstract="false" name="ListOfServiceAgreementElement" nillable="false"
      type="ListOfServiceAgreement"/>
  <xsd:element abstract="false" name="ListOfActionAttachmentElement" nillable="false"
      type="ListOfActionAttachment"/>
  <xsd:element abstract="false" name="ListOfAssetMgmtAssetHeaderElement" nillable="false"
      type="ListOfAssetMgmtAssetHeader"/>
  <xsd:element abstract="false" name="ListOfCrmuVas2Element" nillable="false" type="ListOfCrmuVas2"/>
  <xsd:element abstract="false" name="ListOfAssetMgmtAssetXaElement" nillable="false"
      type="ListOfAssetMgmtAssetXa"/>
  <xsd:element abstract="false" name="ListOfVt_SolFormeContrattualiElement" nillable="false"
      type="ListOfVt_SolFormeContrattuali"/>
  <xsd:element abstract="false" name="ListOfScontoBonusElement" nillable="false" type="ListOfScontoBonus"/>
  <xsd:element abstract="false" name="ListOfServiziPartnerElement" nillable="false"
      type="ListOfServiziPartner"/>
  <xsd:element abstract="false" name="ListOfServiziPartnerXAElement" nillable="false"
      type="ListOfServiziPartnerXA"/>
  <xsd:element abstract="false" name="RecuperoDatiContattoCliente_RequestElement"
      nillable="false" type="RecuperoDatiContattoCliente_Request"/>
  <xsd:element abstract="false" name="RecuperoDatiContattoCliente_ResponseElement"
      nillable="false" type="RecuperoDatiContattoCliente_Response"/>
</xsd:schema>