tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.abstract_.integration.crmmotebpm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/abstract/integration/crmmotebpm" xmlns:tns21="http://xmlns.enel.com/mercato/libero/abstract/integration/crmmotebpm"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/mercato/libero/abstract/integration/crmmotebpm">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/com.enel.xmlns.mercato.libero.abstract_.integration.crmmotebpm.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="EsitoType" id="com.enel.xmlns.mercato.libero.abstract_.integration.crmmotebpmEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="qualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="qualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="qualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="qualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RichiestaType" id="com.enel.xmlns.mercato.libero.abstract_.integration.crmmotebpmRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="qualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente" type="xsd:string"/>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="qualified" maxOccurs="1"
          minOccurs="0" name="canale" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="RichiestaTypeidRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="RichiestaTypetipoOperazione" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="RichiestaTypecausale" form="qualified"
          maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="qualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="RichiestaTypecommodity" form="qualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaTypeflagDelibera40" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="RichiestaTypeIp" form="qualified" maxOccurs="1"
          minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element ecore:name="profilo" id="RichiestaTypeProfilo" form="qualified"
          maxOccurs="1" minOccurs="0" name="Profilo" type="xsd:string"/>
      <xsd:element ecore:name="matricola" id="RichiestaTypeMatricola" form="qualified"
          maxOccurs="1" minOccurs="0" name="Matricola" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiesta" id="RichiestaTypeDataRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaTypeIdMuti" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdMuti" type="xsd:string"/>
      <xsd:element ecore:name="idDms" id="RichiestaTypeIdDms" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdDms" type="xsd:string"/>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaTypeIdDmsReclamo" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="RichiestaTypeIdR2d" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdR2d" type="IdentificativiR2dType"/>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestaTypedataDecorrenza" form="qualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestaTypetipoRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="flagComplesso" id="RichiestaTypeflagComplesso" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaTypeflagPreventivo" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaTypeflagDocumentazione"
          form="qualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione" type="xsd:string"/>
      <xsd:element ecore:name="idCRM" id="RichiestaTypeidCRM" form="qualified" maxOccurs="1"
          minOccurs="0" name="idCRM" type="xsd:string"/>
      <xsd:element ecore:name="statoServizio" id="RichiestaTypestatoServizio" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoServizio" type="xsd:string"/>
      <xsd:element ecore:name="statoOrdine" id="RichiestaTypestatoOrdine" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine" type="xsd:string"/>
      <xsd:element ecore:name="statoFiCa" id="RichiestaTypestatoFiCa" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa" type="xsd:string"/>
      <xsd:element ecore:name="statoISU" id="RichiestaTypestatoISU" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoISU" type="xsd:string"/>
      <xsd:element ecore:name="statoR2D" id="RichiestaTypestatoR2D" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoR2D" type="xsd:string"/>
      <xsd:element ecore:name="statoSD" id="RichiestaTypestatoSD" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoSD" type="xsd:string"/>
      <xsd:element ecore:name="statoSempre" id="RichiestaTypestatoSempre" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoSempre" type="xsd:string"/>
      <xsd:element ecore:name="statoUDB" id="RichiestaTypestatoUDB" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoUDB" type="xsd:string"/>
      <xsd:element ecore:name="idR2R" id="RichiestaTypeIdR2R" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdR2R" type="IdentificativiR2rType"/>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaTypeIdAttivitaCrm" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2dType" id="com.enel.xmlns.mercato.libero.abstract_.integration.crmmotebpmIdentificativiR2dType"
      abstract="false" mixed="false" name="IdentificativiR2dType">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="IdentificativiR2dTypeIdDistr" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDistr" type="xsd:string"/>
      <xsd:element ecore:name="idDistr2" id="IdentificativiR2dTypeIdDistr2" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDistr2" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="IdentificativiR2dTypeIdR2d" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdR2d" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2rType" id="com.enel.xmlns.mercato.libero.abstract_.integration.crmmotebpmIdentificativiR2rType"
      abstract="false" mixed="false" name="IdentificativiR2rType">
    <xsd:sequence>
      <xsd:element ecore:name="idR2R" id="IdentificativiR2rTypeIdR2R" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdR2R" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="ModificaAnagraficaTecnicaRequest" nillable="false">
    <xsd:complexType ecore:name="ModificaAnagraficaTecnicaRequestType" id="com.enel.xmlns.mercato.libero.abstract_.integration.crmmotebpmModificaAnagraficaTecnicaRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="qualified" maxOccurs="1" minOccurs="1"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="CDM_Fornitura" form="qualified" maxOccurs="1" minOccurs="1"
            name="CDM_Fornitura" type="xsd:string"/>
        <xsd:element ecore:name="CDM_LetturaMisuratore" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_LetturaMisuratore" type="xsd:string"/>
        <xsd:element ecore:name="CDM_LetturaCorrettore" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_LetturaCorrettore" type="xsd:string"/>
        <xsd:element ecore:name="CDM_NuovaFornitura" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_NuovaFornitura" type="xsd:string"/>
        <xsd:element ecore:name="CDM_distributore" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_distributore" type="xsd:string"/>
        <xsd:element ecore:name="CDM_IndirizzoDistributore" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_IndirizzoDistributore" type="xsd:string"/>
        <xsd:element ecore:name="CDM_NuovaLetturaMisuratore" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_NuovaLetturaMisuratore" type="xsd:string"/>
        <xsd:element ecore:name="CDM_NuovaLetturaCorrettore" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_NuovaLetturaCorrettore" type="xsd:string"/>
        <xsd:element ecore:name="CDM_prodotto" form="qualified" maxOccurs="1" minOccurs="1"
            name="CDM_prodotto" type="xsd:string"/>
        <xsd:element ecore:name="CDM_fatturazione" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_fatturazione" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaAnagraficaTecnicaResponse" nillable="false">
    <xsd:complexType ecore:name="ModificaAnagraficaTecnicaResponseType" id="com.enel.xmlns.mercato.libero.abstract_.integration.crmmotebpmModificaAnagraficaTecnicaResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>