tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.enel.mind.ricercadaticustomerv5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/ricercadaticustomerv5" xmlns:tns8="http://mind.enel.com/ricercadaticustomerv5"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/ricercadaticustomerv5">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Business Objects/com.enel.mind.ricercadaticustomerv5.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="RecuperodatiCliente_Request" id="_-r1OoEeQEeOL0sK2uXHbtA"
      name="RecuperodatiCliente_Request">
    <xsd:sequence>
      <xsd:element ecore:name="request" id="_Hqgu8EeTEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="request" type="tns8:Request"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RicercaDatiCustomer_V5_Output" id="_eQ-QYEeREeOL0sK2uXHbtA"
      name="RicercaDatiCustomer_V5_Output">
    <xsd:sequence>
      <xsd:element ecore:name="recuperoDatiClienteResponse" id="_nWEFQEeUEeOL0sK2uXHbtA"
          maxOccurs="1" minOccurs="0" name="recuperoDatiClienteResponse" type="tns8:RecuperodatiCliente_Response"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Request" id="_4WUMIEeSEeOL0sK2uXHbtA" name="Request">
    <xsd:sequence>
      <xsd:element ecore:name="tipoPratica" id="_PjmLEEeTEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="tipoPratica">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idAttivitaCRM" id="_PvpqEEeTEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="idAttivitaCRM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idOrdineCRM" id="_P913EEeTEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="idOrdineCRM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroUtente" id="_QLClkEeTEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="numeroUtente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="praticaReclamo" id="_QY7QkEeTEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="praticaReclamo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="64"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="praticaTroubleTicket" id="_QllzkEeTEeOL0sK2uXHbtA"
          maxOccurs="1" minOccurs="0" name="praticaTroubleTicket">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="64"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idCorrispondenzaGDO" id="_QzjXEEeTEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="idCorrispondenzaGDO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceFiscaleCliente" id="_RCvCkEeTEeOL0sK2uXHbtA"
          maxOccurs="1" minOccurs="0" name="codiceFiscaleCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="partitaIVACliente" id="_RRAIEEeTEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="partitaIVACliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contoContrattualeSAPISU" id="_RfzZEEeTEeOL0sK2uXHbtA"
          maxOccurs="1" minOccurs="0" name="contoContrattualeSAPISU">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idProcessoBpm" id="_vwMpkFLEEeOwtLMQnHCRHQ" maxOccurs="1"
          minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RicercaDatiCustomer_V5_Input" id="_7MsG4EeTEeOL0sK2uXHbtA"
      name="RicercaDatiCustomer_V5_Input">
    <xsd:sequence>
      <xsd:element ecore:name="recuperoDatiClienteRequest" id="_-1n8cEeTEeOL0sK2uXHbtA"
          maxOccurs="1" minOccurs="0" name="recuperoDatiClienteRequest" type="tns8:RecuperodatiCliente_Request"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RecuperodatiCliente_Response" id="_quyUkEeUEeOL0sK2uXHbtA"
      name="RecuperodatiCliente_Response">
    <xsd:sequence>
      <xsd:element ecore:name="esito_Response" id="_Px6pAEeVEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="esito_Response" type="tns8:Esito_Response"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Esito_Response" id="_rdemkEeUEeOL0sK2uXHbtA" name="Esito_Response">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="_g2IX8EeVEeOL0sK2uXHbtA" maxOccurs="1" minOccurs="0"
          name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceEsito" id="_hBuj8EeVEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="codiceEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizioneEsito" id="_hM8VcEeVEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="descrizioneEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="masteAccount" id="_hahecEeVEeOL0sK2uXHbtA" maxOccurs="unbounded"
          minOccurs="0" name="masteAccount" type="tns8:MasterAccount"/>
      <xsd:element ecore:name="sorgenteEsito" id="_rzJcgFamEeO6f8vdBmwSng" maxOccurs="1"
          minOccurs="0" name="sorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="MasterAccount" id="_s_93kEeVEeOL0sK2uXHbtA" name="MasterAccount">
    <xsd:sequence>
      <xsd:element ecore:name="businessPartnerSAPISU" id="_NEx34EeWEeOL0sK2uXHbtA"
          maxOccurs="1" minOccurs="0" name="businessPartnerSAPISU">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="listOfCustomerAccount" id="_NU4JYEeWEeOL0sK2uXHbtA"
          maxOccurs="unbounded" minOccurs="0" name="listOfCustomerAccount" type="tns8:ListOfCustomerAccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfCustomerAccount" id="_rFw_QEeWEeOL0sK2uXHbtA"
      name="ListOfCustomerAccount">
    <xsd:sequence>
      <xsd:element ecore:name="idCliente" id="_E4Kw4EeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="idCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="formaGiuridicaCliente" id="_FEfVoEeYEeOL0sK2uXHbtA"
          maxOccurs="1" minOccurs="0" name="formaGiuridicaCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="telefonoCliente" id="_FOEIYEeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="telefonoCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cellulareCliente" id="_FYyKoEeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="cellulareCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="emailCliente" id="_GAwwoEeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="emailCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="PEC" id="_GPhlYEeYEeOL0sK2uXHbtA" maxOccurs="1" minOccurs="0"
          name="PEC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="faxCliente" id="_ztM7cE9zEeOUEPyFM4YaHQ" maxOccurs="1"
          minOccurs="0" name="faxCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="referente" id="_Gdyq4EeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="referente" type="tns8:Referente"/>
      <xsd:element ecore:name="listOfServizio" id="_Gq1oYEeYEeOL0sK2uXHbtA" maxOccurs="unbounded"
          minOccurs="0" name="listOfServizio" type="tns8:ListOfServizio"/>
      <xsd:element ecore:name="ordine" id="_G5o5YEeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="ordine" type="tns8:Ordine"/>
      <xsd:element ecore:name="offerta" id="_HK9S4EeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="offerta" type="tns8:Offerta"/>
      <xsd:element ecore:name="reclamo" id="_Hbg3YEeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="reclamo" type="tns8:Reclamo"/>
      <xsd:element ecore:name="troubleTicket" id="_HoVycEeYEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="troubleTicket" type="tns8:TroubleTicket"/>
      <xsd:element ecore:name="nomeCliente" id="_POAJoFOIEeOcsJqeMfvnhw" maxOccurs="1"
          minOccurs="0" name="nomeCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cognomeCliente" id="_PfosMFOIEeOcsJqeMfvnhw" maxOccurs="1"
          minOccurs="0" name="cognomeCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ragioneSocialeCliente" id="_S3JakFOIEeOcsJqeMfvnhw"
          maxOccurs="1" minOccurs="0" name="ragioneSocialeCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Referente" id="_rYTgwEeWEeOL0sK2uXHbtA" name="Referente">
    <xsd:sequence>
      <xsd:element ecore:name="telefonoReferente" id="_3OtmsEeZEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="telefonoReferente" type="xsd:string"/>
      <xsd:element ecore:name="cellulareReferente" id="_QAca8EeaEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="cellulareReferente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="faxReferente" id="_vCxMoE9zEeOUEPyFM4YaHQ" maxOccurs="1"
          minOccurs="0" name="faxReferente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="nomeReferente" id="_HisOUFOJEeOcsJqeMfvnhw" maxOccurs="1"
          minOccurs="0" name="nomeReferente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cognomeReferente" id="_Ml3NQFOJEeOcsJqeMfvnhw" maxOccurs="1"
          minOccurs="0" name="cognomeReferente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ragioneSocialeReferente" id="_M2HPwFOJEeOcsJqeMfvnhw"
          maxOccurs="1" minOccurs="0" name="ragioneSocialeReferente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Ordine" id="_sWGlwEeWEeOL0sK2uXHbtA" name="Ordine">
    <xsd:sequence>
      <xsd:element ecore:name="idOrdineCRM" id="_8z1KMEebEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="idOrdineCRM" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Offerta" id="_atS0oEeZEeOL0sK2uXHbtA" name="Offerta">
    <xsd:sequence>
      <xsd:element ecore:name="idOffertaCRM" id="_cn9qMEecEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="idOffertaCRM" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Reclamo" id="_a9nvoEeZEeOL0sK2uXHbtA" name="Reclamo">
    <xsd:sequence>
      <xsd:element ecore:name="idPraticaReclamo" id="_vKaRsEecEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="idPraticaReclamo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListOfServizio" id="_9-i7wEeZEeOL0sK2uXHbtA" name="ListOfServizio">
    <xsd:sequence>
      <xsd:element ecore:name="numeroUtente" id="_QTjkMEeaEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="numeroUtente" type="xsd:string"/>
      <xsd:element ecore:name="statoServizio" id="_QigmMEeaEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="statoServizio" type="xsd:string"/>
      <xsd:element ecore:name="contoContrattuale" id="_QxbL8EeaEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="contoContrattuale" type="xsd:string"/>
      <xsd:element ecore:name="contrattoSAP" id="_RACPsEeaEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="contrattoSAP" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="TroubleTicket" id="_JuZ1IEeaEeOL0sK2uXHbtA" name="TroubleTicket">
    <xsd:sequence>
      <xsd:element ecore:name="idTroubleTicket" id="_vYJLsEecEeOL0sK2uXHbtA" maxOccurs="1"
          minOccurs="0" name="idTroubleTicket" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RecuperodatiCliente_RequestElement" type="RecuperodatiCliente_Request"/>
  <xsd:element name="RicercaDatiCustomer_V5_OutputElement" type="RicercaDatiCustomer_V5_Output"/>
  <xsd:element name="RequestElement" type="Request"/>
  <xsd:element name="RicercaDatiCustomer_V5_InputElement" type="RicercaDatiCustomer_V5_Input"/>
  <xsd:element name="RecuperodatiCliente_ResponseElement" type="RecuperodatiCliente_Response"/>
  <xsd:element name="Esito_ResponseElement" type="Esito_Response"/>
  <xsd:element name="MasterAccountElement" type="MasterAccount"/>
  <xsd:element name="ListOfCustomerAccountElement" type="ListOfCustomerAccount"/>
  <xsd:element name="ReferenteElement" type="Referente"/>
  <xsd:element name="OrdineElement" type="Ordine"/>
  <xsd:element name="OffertaElement" type="Offerta"/>
  <xsd:element name="ReclamoElement" type="Reclamo"/>
  <xsd:element name="ListOfServizioElement" type="ListOfServizio"/>
  <xsd:element name="TroubleTicketElement" type="TroubleTicket"/>
</xsd:schema>