tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.enel.mind.tracciamentocrm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/tracciamentocrm" xmlns:tns7="http://mind.enel.com/tracciamentocrm"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/tracciamentocrm">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/com.enel.mind.tracciamentocrm.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="TracciamentoCRMInput" id="com.enel.mind.tracciamentocrmTracciamentoCRMInput"
      abstract="false" mixed="false" name="TracciamentoCRMInput">
    <xsd:sequence>
      <xsd:element ecore:name="idBPM" id="TracciamentoCRMInputidBPM" form="unqualified"
          maxOccurs="1" minOccurs="1" name="idBPM" type="xsd:string"/>
      <xsd:element ecore:name="canale" id="TracciamentoCRMInputcanale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canale" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="TracciamentoCRMInputtipoOperazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="TracciamentoCRMInputcausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="TracciamentoCRMInputcommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="contoContrattualeSAP" id="TracciamentoCRMInputcontoContrattualeSAP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattualeSAP"
          type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="TracciamentoCRMInputdescrizione" form="unqualified"
          maxOccurs="1" minOccurs="1" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="indirizzoIP" id="TracciamentoCRMInputindirizzoIP" form="unqualified"
          maxOccurs="1" minOccurs="0" name="indirizzoIP" type="xsd:string"/>
      <xsd:element ecore:name="POD" id="TracciamentoCRMInputPOD" form="unqualified"
          maxOccurs="1" minOccurs="0" name="POD" type="xsd:string"/>
      <xsd:element ecore:name="sistemaOrigineEsito" id="TracciamentoCRMInputsistemaOrigineEsito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaOrigineEsito"
          type="xsd:string"/>
      <xsd:element ecore:name="stato" id="TracciamentoCRMInputstato" form="unqualified"
          maxOccurs="1" minOccurs="1" name="stato" type="xsd:string"/>
      <xsd:element ecore:name="tipoAttivita" id="TracciamentoCRMInputtipoAttivita"
          form="unqualified" maxOccurs="1" minOccurs="1" name="tipoAttivita" type="xsd:string"/>
      <xsd:element ecore:name="specifica" id="TracciamentoCRMInputspecifica" form="unqualified"
          maxOccurs="1" minOccurs="1" name="specifica" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="TracciamentoCRMInputidRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="numeroOrdine" id="TracciamentoCRMInputnumeroOrdine"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroOrdine" type="xsd:string"/>
      <xsd:element ecore:name="dataEmissioneFattRettifica" id="TracciamentoCRMInputdataEmissioneFattRettifica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataEmissioneFattRettifica"
          type="xsd:date"/>
      <xsd:element ecore:name="dataScadenzaFattRettificata" id="TracciamentoCRMInputdataScadenzaFattRettificata"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataScadenzaFattRettificata"
          type="xsd:date"/>
      <xsd:element ecore:name="dataLettura" id="TracciamentoCRMInputdataLettura" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataLettura" type="xsd:date"/>
      <xsd:element ecore:name="dataScadenza" id="TracciamentoCRMInputdataScadenza"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataScadenza" type="xsd:date"/>
      <xsd:element ecore:name="numeroUtente" id="TracciamentoCRMInputnumeroUtente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroUtente" type="xsd:string"/>
      <xsd:element ecore:name="login" id="TracciamentoCRMInputlogin" form="unqualified"
          maxOccurs="1" minOccurs="0" name="login" type="xsd:string"/>
      <xsd:element ecore:name="idAttivita" id="TracciamentoCRMInputidAttivita" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idAttivita" type="xsd:string"/>
      <xsd:element ecore:name="flagAsync" id="TracciamentoCRMInputflagAsync" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagAsync" type="xsd:string"/>
      <xsd:element ecore:name="codClienteId" id="TracciamentoCRMInputcodClienteId"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codClienteId" type="xsd:string"/>
      <xsd:element ecore:name="commento" id="TracciamentoCRMInputcommento" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commento" type="xsd:string"/>
      <xsd:element ecore:name="userId" id="TracciamentoCRMInputuserId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="userId" type="xsd:string"/>
      <xsd:element ecore:name="numeroFattura" id="TracciamentoCRMInputnumeroFattura"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroFattura" type="xsd:string"/>
      <xsd:element ecore:name="idCasisticaCredito" id="TracciamentoCRMInputidCasisticaCredito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idCasisticaCredito"
          type="xsd:string"/>
      <xsd:element ecore:name="letturaF1" id="TracciamentoCRMInputletturaF1" form="unqualified"
          maxOccurs="1" minOccurs="0" name="letturaF1" type="xsd:string"/>
      <xsd:element ecore:name="letturaF2" id="TracciamentoCRMInputletturaF2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="letturaF2" type="xsd:string"/>
      <xsd:element ecore:name="letturaF3" id="TracciamentoCRMInputletturaF3" form="unqualified"
          maxOccurs="1" minOccurs="0" name="letturaF3" type="xsd:string"/>
      <xsd:element ecore:name="letturaMisuratore" id="TracciamentoCRMInputletturaMisuratore"
          form="unqualified" maxOccurs="1" minOccurs="0" name="letturaMisuratore"
          type="xsd:string"/>
      <xsd:element ecore:name="letturaCorrettore" id="TracciamentoCRMInputletturaCorrettore"
          form="unqualified" maxOccurs="1" minOccurs="0" name="letturaCorrettore"
          type="xsd:string"/>
      <xsd:element ecore:name="trasmissioneLettura" id="TracciamentoCRMInputtrasmissioneLettura"
          form="unqualified" maxOccurs="1" minOccurs="0" name="trasmissioneLettura"
          type="xsd:string"/>
      <xsd:element ecore:name="pagata" id="TracciamentoCRMInputpagata" form="unqualified"
          maxOccurs="1" minOccurs="0" name="pagata" type="xsd:string"/>
      <xsd:element ecore:name="contrattoSAP" id="TracciamentoCRMInputcontrattoSAP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contrattoSAP" type="xsd:string"/>
      <xsd:element ecore:name="dataAutoLettura" id="TracciamentoCRMInputdataAutoLettura"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataAutoLettura" type="xsd:string"/>
      <xsd:element ecore:name="fineFinestraTemporale" id="TracciamentoCRMInputfineFinestraTemporale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="fineFinestraTemporale"
          type="xsd:string"/>
      <xsd:element ecore:name="inizioFinestraTemporale" id="TracciamentoCRMInputinizioFinestraTemporale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="inizioFinestraTemporale"
          type="xsd:string"/>
      <xsd:element ecore:name="importo" id="TracciamentoCRMInputimporto" form="unqualified"
          maxOccurs="1" minOccurs="0" name="importo" type="xsd:string"/>
      <xsd:element ecore:name="messaggioRettifica" id="TracciamentoCRMInputmessaggioRettifica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="messaggioRettifica"
          type="xsd:string"/>
      <xsd:element ecore:name="psri" id="TracciamentoCRMInputpsri" form="unqualified"
          maxOccurs="1" minOccurs="0" name="psri" type="xsd:string"/>
      <xsd:element ecore:name="statoLettura" id="TracciamentoCRMInputstatoLettura"
          form="unqualified" maxOccurs="1" minOccurs="0" name="statoLettura" type="xsd:string"/>
      <xsd:element ecore:name="numeroFatturaRettificata" id="TracciamentoCRMInputnumeroFatturaRettificata"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroFatturaRettificata"
          type="xsd:string"/>
      <xsd:element ecore:name="importoRettifica" id="TracciamentoCRMInputimportoRettifica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="importoRettifica" type="xsd:string"/>
      <xsd:element ecore:name="modalitaRettifica" id="TracciamentoCRMInputmodalitaRettifica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="modalitaRettifica"
          type="xsd:string"/>
      <xsd:element ecore:name="tipoRettifica" id="TracciamentoCRMInputtipoRettifica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="tipoRettifica" type="xsd:string"/>
      <xsd:element ecore:name="esito" id="TracciamentoCRMInputesito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="numeroBolletta" id="TracciamentoCRMInputnumeroBolletta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroBolletta" type="xsd:string"/>
      <xsd:element ecore:name="dataCalcoloIndenizzo" id="TracciamentoCRMInputdataCalcoloIndenizzo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataCalcoloIndenizzo"
          type="xsd:string"/>
      <xsd:element ecore:name="dataFatturaIndenizzo" id="TracciamentoCRMInputdataFatturaIndenizzo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dataFatturaIndenizzo"
          type="xsd:string"/>
      <xsd:element ecore:name="numeroFatturaIndenizzo" id="TracciamentoCRMInputnumeroFatturaIndenizzo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroFatturaIndenizzo"
          type="xsd:string"/>
      <xsd:element ecore:name="importoIndenizzo" id="TracciamentoCRMInputimportoIndenizzo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="importoIndenizzo" type="xsd:string"/>
      <xsd:element ecore:name="crmCausaleKO" id="TracciamentoCRMInputcrmCausaleKO"
          form="unqualified" maxOccurs="1" minOccurs="0" name="crmCausaleKO" type="xsd:string"/>
      <xsd:element ecore:name="crmCodiceEsitoKO" id="TracciamentoCRMInputcrmCodiceEsitoKO"
          form="unqualified" maxOccurs="1" minOccurs="0" name="crmCodiceEsitoKO" type="xsd:string"/>
      <xsd:element ecore:name="crmContratto" id="TracciamentoCRMInputcrmContratto"
          form="unqualified" maxOccurs="1" minOccurs="0" name="crmContratto" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="TracciamentoCRMOutput" id="com.enel.mind.tracciamentocrmTracciamentoCRMOutput"
      abstract="false" mixed="false" name="TracciamentoCRMOutput">
    <xsd:sequence>
      <xsd:element ecore:name="esitoType" id="TracciamentoCRMOutputesitoType" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esitoType" type="EsitoType"/>
      <xsd:element ecore:name="idAttivita" id="TracciamentoCRMOutputidAttivita" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idAttivita" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoType" id="com.enel.mind.tracciamentocrmEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="TracciamentoCRMInputElement" nillable="false"
      type="TracciamentoCRMInput"/>
  <xsd:element abstract="false" name="TracciamentoCRMOutputElement" nillable="false"
      type="TracciamentoCRMOutput"/>
  <xsd:element abstract="false" name="EsitoTypeElement" nillable="false" type="EsitoType"/>
</xsd:schema>