tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.enel.mind.aggiornamentocrm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/aggiornamentocrm" xmlns:tns19="http://mind.enel.com/aggiornamentocrm"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/aggiornamentocrm">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/com.enel.mind.aggiornamentocrm.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Esito" id="com.enel.mind.aggiornamentocrmEsito" abstract="false"
      mixed="false" name="Esito">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="Esitoesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceEsito" id="EsitocodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="Esitodescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitotipoEsito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="tipoEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitosistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AggiornamentoCodicePSMRequest" id="com.enel.mind.aggiornamentocrmAggiornamentoCodicePSMRequest"
      abstract="false" mixed="false" name="AggiornamentoCodicePSMRequest">
    <xsd:sequence>
      <xsd:element ecore:name="codUniConfVen" id="AggiornamentoCodicePSMRequestcodUniConfVen"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codUniConfVen">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codConfVen" id="AggiornamentoCodicePSMRequestcodConfVen"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codConfVen">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="commodity" id="AggiornamentoCodicePSMRequestcommodity"
          form="unqualified" maxOccurs="1" minOccurs="0" name="commodity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idBPMPadre" id="AggiornamentoCodicePSMRequestidBPMPadre"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idBPMPadre">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idBPMFiglio" id="AggiornamentoCodicePSMRequestidBPMFiglio"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idBPMFiglio">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AggiornamentoCodicePSMResponse" id="com.enel.mind.aggiornamentocrmAggiornamentoCodicePSMResponse"
      abstract="false" mixed="false" name="AggiornamentoCodicePSMResponse">
    <xsd:sequence>
      <xsd:element ecore:name="idCrm" id="AggiornamentoCodicePSMResponseidCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idCrm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="PSM" id="AggiornamentoCodicePSMResponsePSM" form="unqualified"
          maxOccurs="1" minOccurs="0" name="PSM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="esito" id="AggiornamentoCodicePSMResponseesito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AggiornamentoCodiceListinoRequest" id="com.enel.mind.aggiornamentocrmAggiornamentoCodiceListinoRequest"
      abstract="false" mixed="false" name="AggiornamentoCodiceListinoRequest">
    <xsd:sequence>
      <xsd:element ecore:name="codUniConfVen" id="AggiornamentoCodiceListinoRequestcodUniConfVen"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codUniConfVen">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codConfVen" id="AggiornamentoCodiceListinoRequestcodConfVen"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codConfVen">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idBPMPadre" id="AggiornamentoCodiceListinoRequestidBPMPadre"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idBPMPadre">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idBPMFiglio" id="AggiornamentoCodiceListinoRequestidBPMFiglio"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idBPMFiglio">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="commodity" id="AggiornamentoCodiceListinoRequestcommodity"
          form="unqualified" maxOccurs="1" minOccurs="0" name="commodity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="esitoSap" id="AggiornamentoCodiceListinoRequestesitoSap"
          form="unqualified" maxOccurs="1" minOccurs="0" name="esitoSap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceSAP" id="AggiornamentoCodiceListinoRequestcodiceSAP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codiceSAP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizioneSAP" id="AggiornamentoCodiceListinoRequestdescrizioneSAP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizioneSAP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="CDM_DatiFatt" id="AggiornamentoCodiceListinoRequestCDM_DatiFatt"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_DatiFatt" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AggiornamentoCodiceListinoResponse" id="com.enel.mind.aggiornamentocrmAggiornamentoCodiceListinoResponse"
      abstract="false" mixed="false" name="AggiornamentoCodiceListinoResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="AggiornamentoCodiceListinoResponseesito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Richiesta" id="com.enel.mind.aggiornamentocrmRichiesta"
      abstract="false" mixed="false" name="Richiesta">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestasistemaRichiedente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="canale" id="Richiestacanale" form="unqualified" maxOccurs="1"
          minOccurs="0" name="canale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idRichiesta" id="RichiestaidRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="tipoOperazione" id="RichiestatipoOperazione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causale" id="Richiestacausale" form="unqualified" maxOccurs="1"
          minOccurs="0" name="causale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idProcessoBPM" id="RichiestaidProcessoBPM" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBPM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="commodity" id="Richiestacommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaflagDelibera40" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="IP" id="RichiestaIP" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="profilo" id="Richiestaprofilo" form="unqualified" maxOccurs="1"
          minOccurs="0" name="profilo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="matricola" id="Richiestamatricola" form="unqualified"
          maxOccurs="1" minOccurs="0" name="matricola">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataRichiesta" id="RichiestadataRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaidMuti" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idMuti">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idDms" id="RichiestaidDms" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idDms">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaidDmsReclamo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idDmsReclamo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idR2D" id="RichiestaidR2D" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idR2D" type="IdentificativiR2D"/>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestadataDecorrenza" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestatipoRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="flagComplesso" id="RichiestaflagComplesso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaflagPreventivo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaflagDocumentazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idCrm" id="RichiestaidCrm" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idCrm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoServizio" id="RichiestastatoServizio" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoServizio">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoOrdine" id="RichiestastatoOrdine" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoFiCa" id="RichiestastatoFiCa" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoISU" id="RichiestastatoISU" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoISU">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoR2D" id="RichiestastatoR2D" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoR2D">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoSD" id="RichiestastatoSD" form="unqualified" maxOccurs="1"
          minOccurs="0" name="statoSD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoSempre" id="RichiestastatoSempre" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSempre">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoUDB" id="RichiestastatoUDB" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoUDB">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idR2R" id="RichiestaidR2R" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idR2R">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaidAttivitaCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idAttivitaCrm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2D" id="com.enel.mind.aggiornamentocrmIdentificativiR2D"
      abstract="false" mixed="false" name="IdentificativiR2D">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="IdentificativiR2DidDistr" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idDistr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idDistr2" id="IdentificativiR2DidDistr2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idDistr2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idR2D" id="IdentificativiR2DidR2D" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idR2D">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoDisalimentabilitaResponse" id="com.enel.mind.aggiornamentocrmInfoDisalimentabilitaResponse"
      abstract="false" mixed="false" name="InfoDisalimentabilitaResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="InfoDisalimentabilitaResponseesito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
      <xsd:element ecore:name="CDM_Cliente" id="InfoDisalimentabilitaResponseCDM_Cliente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_Cliente" type="xsd:string"/>
      <xsd:element ecore:name="CDM_Fornitura" id="InfoDisalimentabilitaResponseCDM_Fornitura"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_Fornitura" type="xsd:string"/>
      <xsd:element ecore:name="CDM_IdISUFatturazione" id="InfoDisalimentabilitaResponseCDM_IdISUFatturazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_IdISUFatturazione"
          type="xsd:string"/>
      <xsd:element ecore:name="CDM_Richiesta" id="InfoDisalimentabilitaResponseCDM_Richiesta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_Richiesta" type="xsd:string"/>
      <xsd:element ecore:name="businessPartner" id="InfoDisalimentabilitaResponsebusinessPartner"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartner">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contoContrattuale" id="InfoDisalimentabilitaResponsecontoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattuale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contrattoSAP" id="InfoDisalimentabilitaResponsecontrattoSAP"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contrattoSAP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="disalimentabile" id="InfoDisalimentabilitaResponsedisalimentabile"
          form="unqualified" maxOccurs="1" minOccurs="0" name="disalimentabile">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="flagIsu" id="InfoDisalimentabilitaResponseflagIsu"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagIsu">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idCrm" id="InfoDisalimentabilitaResponseidCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idCrm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idCrmCliente" id="InfoDisalimentabilitaResponseidCrmCliente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idCrmCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="tipoPolling" id="InfoDisalimentabilitaResponsetipoPolling"
          form="unqualified" maxOccurs="1" minOccurs="0" name="tipoPolling">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroUtente" id="InfoDisalimentabilitaResponsenumeroUtente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroUtente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="InfoDisalimentabilitaRequest" id="com.enel.mind.aggiornamentocrmInfoDisalimentabilitaRequest"
      abstract="false" mixed="false" name="InfoDisalimentabilitaRequest">
    <xsd:sequence>
      <xsd:element ecore:name="richiersta" id="InfoDisalimentabilitaRequestRichiersta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="Richiersta" type="Richiesta"/>
      <xsd:element ecore:name="CDM_Cliente" id="InfoDisalimentabilitaRequestCDM_Cliente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_Cliente" type="xsd:string"/>
      <xsd:element ecore:name="CDM_Fornitura" id="InfoDisalimentabilitaRequestCDM_Fornitura"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_Fornitura" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BonificaTriplettaSapRequest" id="com.enel.mind.aggiornamentocrmBonificaTriplettaSapRequest"
      abstract="false" mixed="false" name="BonificaTriplettaSapRequest">
    <xsd:sequence>
      <xsd:element ecore:name="richiesta" id="BonificaTriplettaSapRequestrichiesta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="richiesta" type="Richiesta"/>
      <xsd:element ecore:name="CDM_Cliente" id="BonificaTriplettaSapRequestCDM_Cliente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_Cliente" type="xsd:string"/>
      <xsd:element ecore:name="CDM_FatturazioneIDFatturazione" id="BonificaTriplettaSapRequestCDM_FatturazioneIDFatturazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="CDM_FatturazioneIDFatturazione"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BonificaTriplettaSapResponse" id="com.enel.mind.aggiornamentocrmBonificaTriplettaSapResponse"
      abstract="false" mixed="false" name="BonificaTriplettaSapResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="BonificaTriplettaSapResponseEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Esito" type="Esito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AggiornamentoDatiClienteResponse" id="com.enel.mind.aggiornamentocrmAggiornamentoDatiClienteResponse"
      abstract="false" mixed="false" name="AggiornamentoDatiClienteResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="AggiornamentoDatiClienteResponseesito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AggiornamentoDatiClienteRequest" id="com.enel.mind.aggiornamentocrmAggiornamentoDatiClienteRequest"
      abstract="false" mixed="false" name="AggiornamentoDatiClienteRequest">
    <xsd:sequence>
      <xsd:element ecore:name="richiersta" id="AggiornamentoDatiClienteRequestRichiersta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="Richiersta" type="Richiesta"/>
      <xsd:element ecore:name="CDM_Cliente" id="AggiornamentoDatiClienteRequestCDM_Cliente"
          form="unqualified" maxOccurs="1" minOccurs="1" name="CDM_Cliente" type="xsd:string"/>
      <xsd:element ecore:name="descrizioneTelefono" id="AggiornamentoDatiClienteRequestdescrizioneTelefono"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizioneTelefono"
          type="xsd:string"/>
      <xsd:element ecore:name="altroNumero" id="AggiornamentoDatiClienteRequestaltroNumero"
          form="unqualified" maxOccurs="1" minOccurs="0" name="altroNumero" type="xsd:string"/>
      <xsd:element ecore:name="telefono" id="AggiornamentoDatiClienteRequesttelefono"
          form="unqualified" maxOccurs="1" minOccurs="0" name="telefono" type="xsd:string"/>
      <xsd:element ecore:name="cellulare" id="AggiornamentoDatiClienteRequestcellulare"
          form="unqualified" maxOccurs="1" minOccurs="0" name="cellulare" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="NewElement" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="EsitoElement" nillable="false" type="Esito"/>
  <xsd:element abstract="false" name="AggiornamentoCodicePSMRequestElement" nillable="false"
      type="AggiornamentoCodicePSMRequest"/>
  <xsd:element abstract="false" name="AggiornamentoCodicePSMResponseElement" nillable="false"
      type="AggiornamentoCodicePSMResponse"/>
  <xsd:element abstract="false" name="AggiornamentoCodiceListinoRequestElement" nillable="false"
      type="AggiornamentoCodiceListinoRequest"/>
  <xsd:element abstract="false" name="AggiornamentoCodiceListinoResponseElement" nillable="false"
      type="AggiornamentoCodiceListinoResponse"/>
  <xsd:element abstract="false" name="RichiestaElement" nillable="false" type="Richiesta"/>
  <xsd:element abstract="false" name="IdentificativiR2DElement" nillable="false" type="IdentificativiR2D"/>
  <xsd:element abstract="false" name="InfoDisalimentabilitaResponseElement" nillable="false"
      type="InfoDisalimentabilitaResponse"/>
  <xsd:element abstract="false" name="InfoDisalimentabilitaRequestElement" nillable="false"
      type="InfoDisalimentabilitaRequest"/>
  <xsd:element abstract="false" name="BonificaTriplettaSapRequestElement" nillable="false"
      type="BonificaTriplettaSapRequest"/>
  <xsd:element abstract="false" name="BonificaTriplettaSapResponseElement" nillable="false"
      type="BonificaTriplettaSapResponse"/>
  <xsd:element abstract="false" name="AggiornamentoDatiClienteResponseElement" nillable="false"
      type="AggiornamentoDatiClienteResponse"/>
  <xsd:element abstract="false" name="AggiornamentoDatiClienteRequestElement" nillable="false"
      type="AggiornamentoDatiClienteRequest"/>
</xsd:schema>