tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/com.example.tracciamentogenerico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/tracciamentogenerico" xmlns:tns4="http://example.com/tracciamentogenerico"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/tracciamentogenerico">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/com.example.tracciamentogenerico.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="TracciamentoGenericoRequest" id="com.example.tracciamentogenericoTracciamentoGenericoRequest"
      abstract="false" mixed="false" name="TracciamentoGenericoRequest">
    <xsd:sequence>
      <xsd:element ecore:name="idRichiesta" id="TracciamentoGenericoRequestidRichiesta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idRichiesta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="stato" id="TracciamentoGenericoRequeststato" form="unqualified"
          maxOccurs="1" minOccurs="0" name="stato">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="N_Offerta" id="TracciamentoGenericoRequestN_Offerta"
          form="unqualified" maxOccurs="1" minOccurs="0" name="N_Offerta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causale" id="TracciamentoGenericoRequestcausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="specifica" id="TracciamentoGenericoRequestspecifica"
          form="unqualified" maxOccurs="1" minOccurs="0" name="specifica">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="note" id="TracciamentoGenericoRequestnote" form="unqualified"
          maxOccurs="1" minOccurs="0" name="note">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="TracciamentoGenericoRequestdescrizione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="tipoAttivita" id="TracciamentoGenericoRequesttipoAttivita"
          form="unqualified" maxOccurs="1" minOccurs="0" name="tipoAttivita">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idOrdine" id="TracciamentoGenericoRequestidOrdine"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idOrdine">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idCliente" id="TracciamentoGenericoRequestidCliente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="TracciamentoGenericoResponse" id="com.example.tracciamentogenericoTracciamentoGenericoResponse"
      abstract="false" mixed="false" name="TracciamentoGenericoResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="TracciamentoGenericoResponseesito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
      <xsd:element ecore:name="idAttivita" id="TracciamentoGenericoResponseidAttivita"
          form="unqualified" maxOccurs="1" minOccurs="0" name="idAttivita">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Esito" id="com.example.tracciamentogenericoEsito" abstract="false"
      mixed="false" name="Esito">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="Esitoesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceEsito" id="EsitocodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="Esitodescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitosistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="TracciamentoGenericoRequestElement" nillable="false"
      type="TracciamentoGenericoRequest"/>
  <xsd:element abstract="false" name="TracciamentoGenericoResponseElement" nillable="false"
      type="TracciamentoGenericoResponse"/>
  <xsd:element abstract="false" name="EsitoElement" nillable="false" type="Esito"/>
</xsd:schema>