tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/precheckcrm.integration.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.integration.precheckcrm" xmlns:tns20="http://com.enel.mind.integration.precheckcrm"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.integration.precheckcrm">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/precheckcrm.integration.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="RichiestaType" id="precheckcrm.integration.mind.enel.comRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente"
          type="xsd:string"/>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canale" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="RichiestaTypeidRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="RichiestaTypetipoOperazione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="RichiestaTypecausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="RichiestaTypecommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaTypeflagDelibera40" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="RichiestaTypeIp" form="unqualified" maxOccurs="1"
          minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element ecore:name="profilo" id="RichiestaTypeProfilo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Profilo" type="xsd:string"/>
      <xsd:element ecore:name="matricola" id="RichiestaTypeMatricola" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Matricola" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiesta" id="RichiestaTypeDataRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaTypeIdMuti" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdMuti" type="xsd:string"/>
      <xsd:element ecore:name="idDms" id="RichiestaTypeIdDms" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdDms" type="xsd:string"/>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaTypeIdDmsReclamo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="RichiestaTypeIdR2d" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2d" type="IdentificativiR2dType"/>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestaTypedataDecorrenza" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestaTypetipoRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="flagComplesso" id="RichiestaTypeflagComplesso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaTypeflagPreventivo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaTypeflagDocumentazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione"
          type="xsd:string"/>
      <xsd:element ecore:name="idCRM" id="RichiestaTypeidCRM" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idCRM" type="xsd:string"/>
      <xsd:element ecore:name="statoServizio" id="RichiestaTypestatoServizio" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoServizio" type="xsd:string"/>
      <xsd:element ecore:name="statoOrdine" id="RichiestaTypestatoOrdine" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine" type="xsd:string"/>
      <xsd:element ecore:name="statoFiCa" id="RichiestaTypestatoFiCa" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa" type="xsd:string"/>
      <xsd:element ecore:name="statoISU" id="RichiestaTypestatoISU" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoISU" type="xsd:string"/>
      <xsd:element ecore:name="statoR2D" id="RichiestaTypestatoR2D" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoR2D" type="xsd:string"/>
      <xsd:element ecore:name="statoSD" id="RichiestaTypestatoSD" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSD" type="xsd:string"/>
      <xsd:element ecore:name="statoSempre" id="RichiestaTypestatoSempre" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSempre" type="xsd:string"/>
      <xsd:element ecore:name="statoUDB" id="RichiestaTypestatoUDB" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoUDB" type="xsd:string"/>
      <xsd:element ecore:name="idR2R" id="RichiestaTypeIdR2R" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2R" type="IdentificativiR2rType"/>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaTypeIdAttivitaCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2dType" id="precheckcrm.integration.mind.enel.comIdentificativiR2dType"
      abstract="false" mixed="false" name="IdentificativiR2dType">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="IdentificativiR2dTypeIdDistr" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr" type="xsd:string"/>
      <xsd:element ecore:name="idDistr2" id="IdentificativiR2dTypeIdDistr2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr2" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="IdentificativiR2dTypeIdR2d" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2d" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2rType" id="precheckcrm.integration.mind.enel.comIdentificativiR2rType"
      abstract="false" mixed="false" name="IdentificativiR2rType">
    <xsd:sequence>
      <xsd:element ecore:name="idR2R" id="IdentificativiR2rTypeIdR2R" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2R" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoType" id="precheckcrm.integration.mind.enel.comEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="VerificaAddebitoAccreditoRequest" nillable="false">
    <xsd:complexType ecore:name="VerificaAddebitoAccreditoRequestType" id="precheckcrm.integration.mind.enel.comVerificaAddebitoAccreditoRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="fornitura" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Fornitura" type="xsd:string"/>
        <xsd:element ecore:name="cliente" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Cliente" type="xsd:string"/>
        <xsd:element ecore:name="fattura" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Fattura" type="xsd:string"/>
        <xsd:element ecore:name="tipoLavoro" form="unqualified" maxOccurs="1" minOccurs="1"
            name="TipoLavoro" type="xsd:string"/>
        <xsd:element ecore:name="dataEmissioneFattura" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DataEmissioneFattura" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="VerificaAddebitoAccreditoResponse" nillable="false">
    <xsd:complexType ecore:name="VerificaAddebitoAccreditoResponseType" id="precheckcrm.integration.mind.enel.comVerificaAddebitoAccreditoResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idFatturazione" form="unqualified" maxOccurs="1"
            minOccurs="1" name="IdFatturazione" type="xsd:string"/>
        <xsd:element ecore:name="cliente" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Cliente" type="xsd:string"/>
        <xsd:element ecore:name="fornitura" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Fornitura" type="xsd:string"/>
        <xsd:element ecore:name="contoContrattualeSap" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ContoContrattualeSap" type="xsd:string"/>
        <xsd:element ecore:name="contrattoSap" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ContrattoSap" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FattibilitaSwitchAttivo" nillable="false">
    <xsd:complexType ecore:name="FattibilitaSwitchAttivoType" id="precheckcrm.integration.mind.enel.comFattibilitaSwitchAttivoType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idProcessoBpm" form="unqualified" maxOccurs="1" minOccurs="0"
            name="idProcessoBpm" type="xsd:string"/>
        <xsd:element ecore:name="canale" form="unqualified" maxOccurs="1" minOccurs="0"
            name="canale" type="xsd:string"/>
        <xsd:element ecore:name="sistema" form="unqualified" maxOccurs="1" minOccurs="0"
            name="sistema" type="xsd:string"/>
        <xsd:element ecore:name="tipoFlusso" form="unqualified" maxOccurs="1" minOccurs="0"
            name="tipoFlusso" type="xsd:string"/>
        <xsd:element ecore:name="SDM_VENDITA" form="unqualified" maxOccurs="1" minOccurs="0"
            name="SDM_VENDITA" type="xsd:string"/>
        <xsd:element ecore:name="CDM_CLIENTE" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_CLIENTE" type="xsd:string"/>
        <xsd:element ecore:name="countQI" form="unqualified" maxOccurs="1" minOccurs="0"
            name="countQI" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FattibilitaSwitchAttivoResponse" nillable="false">
    <xsd:complexType ecore:name="FattibilitaSwitchAttivoResponseType" id="precheckcrm.integration.mind.enel.comFattibilitaSwitchAttivoResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito">
          <xsd:complexType ecore:name="EsitoType1" id="precheckcrm.integration.mind.enel.comEsitoType2"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
                  name="Esito" type="xsd:string"/>
              <xsd:element ecore:name="codide" form="unqualified" maxOccurs="1" minOccurs="0"
                  name="Codide" type="xsd:string"/>
              <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="Descrizione" type="xsd:string"/>
              <xsd:element ecore:name="sorgenteEsito" form="unqualified" maxOccurs="1"
                  minOccurs="0" name="SorgenteEsito" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="flagWinBack" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FlagWinBack" type="xsd:string"/>
        <xsd:element ecore:name="flagPrecheck" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FlagPrecheck" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>