tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/recuperodatidelcrm.integration.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.integration.recuperodatidelcrm" xmlns:tns15="http://com.enel.mind.integration.recuperodatidelcrm"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.integration.recuperodatidelcrm">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/recuperodatidelcrm.integration.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="RichiestaType" id="recuperodatidelcrm.integration.mind.enel.comRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente"
          type="xsd:string"/>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canale" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="RichiestaTypeidRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="RichiestaTypetipoOperazione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="RichiestaTypecausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="RichiestaTypecommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaTypeflagDelibera40" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="RichiestaTypeIp" form="unqualified" maxOccurs="1"
          minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element ecore:name="profilo" id="RichiestaTypeProfilo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Profilo" type="xsd:string"/>
      <xsd:element ecore:name="matricola" id="RichiestaTypeMatricola" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Matricola" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiesta" id="RichiestaTypeDataRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaTypeIdMuti" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdMuti" type="xsd:string"/>
      <xsd:element ecore:name="idDms" id="RichiestaTypeIdDms" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdDms" type="xsd:string"/>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaTypeIdDmsReclamo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="RichiestaTypeIdR2d" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2d" type="IdentificativiR2dType"/>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestaTypedataDecorrenza" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestaTypetipoRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="flagComplesso" id="RichiestaTypeflagComplesso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaTypeflagPreventivo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaTypeflagDocumentazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione"
          type="xsd:string"/>
      <xsd:element ecore:name="idCRM" id="RichiestaTypeidCRM" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idCRM" type="xsd:string"/>
      <xsd:element ecore:name="statoServizio" id="RichiestaTypestatoServizio" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoServizio" type="xsd:string"/>
      <xsd:element ecore:name="statoOrdine" id="RichiestaTypestatoOrdine" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine" type="xsd:string"/>
      <xsd:element ecore:name="statoFiCa" id="RichiestaTypestatoFiCa" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa" type="xsd:string"/>
      <xsd:element ecore:name="statoISU" id="RichiestaTypestatoISU" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoISU" type="xsd:string"/>
      <xsd:element ecore:name="statoR2D" id="RichiestaTypestatoR2D" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoR2D" type="xsd:string"/>
      <xsd:element ecore:name="statoSD" id="RichiestaTypestatoSD" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSD" type="xsd:string"/>
      <xsd:element ecore:name="statoSempre" id="RichiestaTypestatoSempre" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSempre" type="xsd:string"/>
      <xsd:element ecore:name="statoUDB" id="RichiestaTypestatoUDB" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoUDB" type="xsd:string"/>
      <xsd:element ecore:name="idR2R" id="RichiestaTypeIdR2R" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2R" type="IdentificativiR2rType"/>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaTypeIdAttivitaCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2dType" id="recuperodatidelcrm.integration.mind.enel.comIdentificativiR2dType"
      abstract="false" mixed="false" name="IdentificativiR2dType">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="IdentificativiR2dTypeIdDistr" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr" type="xsd:string"/>
      <xsd:element ecore:name="idDistr2" id="IdentificativiR2dTypeIdDistr2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr2" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="IdentificativiR2dTypeIdR2d" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2d" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2rType" id="recuperodatidelcrm.integration.mind.enel.comIdentificativiR2rType"
      abstract="false" mixed="false" name="IdentificativiR2rType">
    <xsd:sequence>
      <xsd:element ecore:name="idR2R" id="IdentificativiR2rTypeIdR2R" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2R" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoType" id="recuperodatidelcrm.integration.mind.enel.comEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdFatturazioneType" id="recuperodatidelcrm.integration.mind.enel.comIdFatturazioneType"
      abstract="false" mixed="false" name="IdFatturazioneType">
    <xsd:sequence>
      <xsd:element ecore:name="businessPartner" id="IdFatturazioneTypebusinessPartner"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartner" type="xsd:string"/>
      <xsd:element ecore:name="contoContrattuale" id="IdFatturazioneTypecontoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattuale"
          type="xsd:string"/>
      <xsd:element ecore:name="contrattoSap" id="IdFatturazioneTypecontrattoSap" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoSap" type="xsd:string"/>
      <xsd:element ecore:name="businessPartnerEsterno" id="IdFatturazioneTypebusinessPartnerEsterno"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartnerEsterno"
          type="xsd:string"/>
      <xsd:element ecore:name="descrizioneContoContrattuale" id="IdFatturazioneTypedescrizioneContoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizioneContoContrattuale"
          type="xsd:string"/>
      <xsd:element ecore:name="cartatteristicaDeterminazioneConti" id="IdFatturazioneTypecartatteristicaDeterminazioneConti"
          form="unqualified" maxOccurs="1" minOccurs="0" name="cartatteristicaDeterminazioneConti"
          type="xsd:string"/>
      <xsd:element ecore:name="contrattoCRM" id="IdFatturazioneTypecontrattoCRM" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoCRM" type="xsd:string"/>
      <xsd:element ecore:name="contrattoSD" id="IdFatturazioneTypecontrattoSD" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoSD" type="xsd:string"/>
      <xsd:element ecore:name="contoContrattualeSD" id="IdFatturazioneTypecontoContrattualeSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattualeSD"
          type="xsd:string"/>
      <xsd:element ecore:name="businessPartnerSD" id="IdFatturazioneTypebusinessPartnerSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartnerSD"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="CompletamentoDatiOrdineRequest" nillable="false">
    <xsd:complexType ecore:name="CompletamentoDatiOrdineRequestType" id="recuperodatidelcrm.integration.mind.enel.comCompletamentoDatiOrdineRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="tipoPolling" form="unqualified" maxOccurs="1" minOccurs="1"
            name="TipoPolling" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="CompletamentoDatiOrdineResponse" nillable="false">
    <xsd:complexType ecore:name="CompletamentoDatiOrdineResponseType" id="recuperodatidelcrm.integration.mind.enel.comCompletamentoDatiOrdineResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idFatturazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazione" type="IdFatturazioneType"/>
        <xsd:element ecore:name="idIsuFatturazioneCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdIsuFatturazioneCDM" type="xsd:string"/>
        <xsd:element ecore:name="flagChiaviISU" form="unqualified" maxOccurs="1" minOccurs="1"
            name="FlagChiaviISU" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>