tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/.precompiled/bom2Xsd/tracciamentogenerico.integration.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.integration.tracciamentogenerico" xmlns:tns22="http://com.enel.mind.integration.tracciamentogenerico"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.integration.tracciamentogenerico">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_common.integration.crm.resource/Generated Business Objects/tracciamentogenerico.integration.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="string_255" id="tracciamentogenerico.integration.mind.enel.comstring_2552"
      name="string_255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string_15" id="tracciamentogenerico.integration.mind.enel.comstring_152"
      name="string_15">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string_100" id="tracciamentogenerico.integration.mind.enel.comstring_1002"
      name="string_100">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string_4000" id="tracciamentogenerico.integration.mind.enel.comstring_40002"
      name="string_4000">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="4000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="integer_3" id="tracciamentogenerico.integration.mind.enel.cominteger_32"
      name="integer_3">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits fixed="false" value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string_50" id="tracciamentogenerico.integration.mind.enel.comstring_502"
      name="string_50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="integer_9" id="tracciamentogenerico.integration.mind.enel.cominteger_92"
      name="integer_9">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits fixed="false" value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="TracciamentoGenerico_DescEsito" nillable="false"
      type="string_255"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_Esito" nillable="false"
      type="string_255"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_SorgenteEsito" nillable="false"
      type="string_15"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_errorCode" nillable="false"
      type="string_100"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_errorDetail" nillable="false"
      type="string_4000"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_errorMaxRetries" nillable="false"
      type="integer_3"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_errorPerformer" nillable="false"
      type="string_50"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_errorRetryCount" nillable="false"
      type="integer_3"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_errorShortRetries" nillable="false"
      type="integer_3"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_errorWaitLongDelayMin"
      nillable="false" type="integer_9"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_errorWaitShortDelayMin"
      nillable="false" type="integer_9"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_msgPayload" nillable="false"
      type="string_4000"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_processId" nillable="false"
      type="string_50"/>
  <xsd:element abstract="false" name="TracciamentoGenerico_processName" nillable="false"
      type="string_100"/>
</xsd:schema>