tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/bom-xsd/WSDLBOM49_BOMGenTestForSourcesInDifferentFolders/Test_6062/Service Descriptors/XSDs/XSDTwo/xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns3="http://www.example.org/xsd3" targetNamespace="http://www.example.org/xsd2" xmlns:tns="http://www.example.org/xsd2" elementFormDefault="qualified">

	<import namespace="http://www.example.org/xsd3" schemaLocation="../XSDThree/xsd3.xsd">
	</import>

	<complexType name="CompTypeInXSD2">
    	<sequence>
    		<element name="e1" type="string"></element>
    		<element name="e2" type="tns3:CompTypeInXsd3"></element>
    	</sequence>
    </complexType>

</schema>