tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/XSDAnyAttributeSimpleMappings/XSDAnyAttribute/Service Descriptors/TestAnyAttribute.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/TestAnyAttribute/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="TestAnyAttribute" targetNamespace="http://www.example.org/TestAnyAttribute/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">	<wsdl:types>		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"			targetNamespace="http://www.example.org/TestAnyAttribute/">

			<xsd:complexType name="Customer">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
				</xsd:sequence>
				<xsd:anyAttribute />
			</xsd:complexType>

			<xsd:complexType name="Order">
				<xsd:sequence>
					<xsd:element name="orderID" type="xsd:string" />
				</xsd:sequence>
				<xsd:anyAttribute />
			</xsd:complexType>			<xsd:element name="CustomerOrderRequestElem" type="tns:Customer" />
			<xsd:element name="CustomerOrderResponseElem" type="tns:Order" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CustomerOrderRequest">		<wsdl:part name="parameters" element="tns:CustomerOrderRequestElem"></wsdl:part>
	</wsdl:message>	<wsdl:message name="CustomerOrderResponse">		<wsdl:part name="parameters" element="tns:CustomerOrderResponseElem"></wsdl:part>
	</wsdl:message>	<wsdl:portType name="TestAnyAttributePortType">		<wsdl:operation name="GetCustomerOrderOp">			<wsdl:input message="tns:CustomerOrderRequest" name="RequestMessage"></wsdl:input>			<wsdl:output message="tns:CustomerOrderResponse" name="ResponseMessage"></wsdl:output>		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
