tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM46_BOMGenFor_ec_wsdl/gold/builder/com.tibco.n2.ec.api.base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://base.api.ec.n2.tibco.com" xmlns:tns2="http://base.api.ec.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://base.api.ec.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.ec.api.base.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="AttributeType" id="com.tibco.n2.ec.api.baseAttributeType"
      name="AttributeType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the AttributeTypes for specific AttributeDefinitions. One of: DATE, INT, STRING, BOOLEAN, LONG or DOUBLE. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="DATE" value="DATE"/>
      <xsd:enumeration ecore:name="INT" value="INT"/>
      <xsd:enumeration ecore:name="STRING" value="STRING"/>
      <xsd:enumeration ecore:name="BOOLEAN" value="BOOLEAN"/>
      <xsd:enumeration ecore:name="LONG" value="LONG"/>
      <xsd:enumeration ecore:name="DOUBLE" value="DOUBLE"/>
      <xsd:enumeration ecore:name="BIGDECIMAL" value="BIGDECIMAL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="SortType" id="com.tibco.n2.ec.api.baseSortType" name="SortType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the type of sort which can be used for each element of a SortOrder. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="DESCENDING" value="DESCENDING"/>
      <xsd:enumeration ecore:name="ASCENDING" value="ASCENDING"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ConfigurationType" id="com.tibco.n2.ec.api.baseConfigurationType"
      name="ConfigurationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="HIBERNATEMAPPING" value="HIBERNATE_MAPPING"/>
      <xsd:enumeration ecore:name="RULESCONFIGURATION" value="RULES_CONFIGURATION"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="QueryTarget" id="com.tibco.n2.ec.api.baseQueryTarget"
      name="QueryTarget">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="AUDIT" value="AUDIT"/>
      <xsd:enumeration ecore:name="PROCESSMETRICS" value="PROCESS_METRICS"/>
      <xsd:enumeration ecore:name="PROCESSSTATS" value="PROCESS_STATS"/>
      <xsd:enumeration ecore:name="WORKITEMSTATS" value="WORKITEM_STATS"/>
      <xsd:enumeration ecore:name="USERACTIVITY" value="USER_ACTIVITY"/>
      <xsd:enumeration ecore:name="REGISTEREDQUERIES" value="REGISTERED_QUERIES"/>
      <xsd:enumeration ecore:name="REGISTEREDCOMPONENTS" value="REGISTERED_COMPONENTS"/>
      <xsd:enumeration ecore:name="REGISTEREDATTRIBUTES" value="REGISTERED_ATTRIBUTES"/>
      <xsd:enumeration ecore:name="PROCESSACTIVITY" value="PROCESS_ACTIVITY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="PurgeStatusType" id="com.tibco.n2.ec.api.basePurgeStatusType"
      name="PurgeStatusType">
    <xsd:annotation>
      <xsd:documentation>An enumerated status indicator for the last purge opertation </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="PURGEINPROGRESS" value="PURGE_IN_PROGRESS"/>
      <xsd:enumeration ecore:name="PURGECOMPLETED" value="PURGE_COMPLETED"/>
      <xsd:enumeration ecore:name="PURGESTOPPED" value="PURGE_STOPPED"/>
      <xsd:enumeration ecore:name="PURGEFAILED" value="PURGE_FAILED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="MeasureType" id="com.tibco.n2.ec.api.baseMeasureType"
      name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the type of measure to return. 

** PRIVATE API - Reserved for internal use **. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="PROCESSTEMPLATEMEASURE" value="PROCESS_TEMPLATE_MEASURE"/>
      <xsd:enumeration ecore:name="PROCESSDURATIONMEASURE" value="PROCESS_DURATION_MEASURE"/>
      <xsd:enumeration ecore:name="WORKITEMFORRESOURCEMEASURE" value="WORK_ITEM_FOR_RESOURCE_MEASURE"/>
      <xsd:enumeration ecore:name="WORKITEMFORTEMPLATEMEASURE" value="WORK_ITEM_FOR_TEMPLATE_MEASURE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="MeasureGranularity" id="com.tibco.n2.ec.api.baseMeasureGranularity"
      name="MeasureGranularity">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the unit of time represented by a MeasurePeriod that is either required (in a request) or returned (in a response).

One of: HOUR, DAY, MONTH, YEAR or WEEK. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="HOUR" value="HOUR"/>
      <xsd:enumeration ecore:name="DAY" value="DAY"/>
      <xsd:enumeration ecore:name="MONTH" value="MONTH"/>
      <xsd:enumeration ecore:name="YEAR" value="YEAR"/>
      <xsd:enumeration ecore:name="WEEK" value="WEEK"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ProcessTemplateStatusType" id="com.tibco.n2.ec.api.baseProcessTemplateStatusType"
      name="ProcessTemplateStatusType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the state of a process instance. One of: STARTED, COMPLETED, SUSPENDED, HALTED, CANCELLED or FAILED. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="STARTED" value="STARTED"/>
      <xsd:enumeration ecore:name="COMPLETED" value="COMPLETED"/>
      <xsd:enumeration ecore:name="SUSPENDED" value="SUSPENDED"/>
      <xsd:enumeration ecore:name="HALTED" value="HALTED"/>
      <xsd:enumeration ecore:name="CANCELLED" value="CANCELLED"/>
      <xsd:enumeration ecore:name="FAILED" value="FAILED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="WorkItemStatusType" id="com.tibco.n2.ec.api.baseWorkItemStatusType"
      name="WorkItemStatusType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the state of a work item. One of: OFFERED, ALLOCATED, PENDED, COMPLETED, SUSPENDED, CANCELLED or OPENED. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="OFFERED" value="OFFERED"/>
      <xsd:enumeration ecore:name="ALLOCATED" value="ALLOCATED"/>
      <xsd:enumeration ecore:name="PENDED" value="PENDED"/>
      <xsd:enumeration ecore:name="COMPLETED" value="COMPLETED"/>
      <xsd:enumeration ecore:name="SUSPENDED" value="SUSPENDED"/>
      <xsd:enumeration ecore:name="CANCELLED" value="CANCELLED"/>
      <xsd:enumeration ecore:name="OPENED" value="OPENED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ConsolidationType" id="com.tibco.n2.ec.api.baseConsolidationType"
      name="ConsolidationType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the consolidation modes available for the measure request. One of: NO_CONSOLIDATION, CONSOLIDATE or BOTH.

See MeasureOptions.consolidation for more information. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="NOCONSOLIDATION" value="NO_CONSOLIDATION"/>
      <xsd:enumeration ecore:name="CONSOLIDATE" value="CONSOLIDATE"/>
      <xsd:enumeration ecore:name="BOTH" value="BOTH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="AveragesMeasureType" id="com.tibco.n2.ec.api.baseAveragesMeasureType"
      name="AveragesMeasureType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the type of an AverageMeasure. One of the following:

- PROCESS_TOTAL: Total number of instances of this process template started during this ProcessDurationMeasurePeriod.

- PROCESS_TOTAL_TIME: Total time that instances of this process template were active during this ProcessDurationMeasurePeriod.

- PROCESS_AVERAGE_TIME: Average time that an instance of this process template was active during this ProcessDurationMeasurePeriod.

- WORKITEM_TOTAL: Total number of work items generated by this process template that were active during this ProcessDurationMeasurePeriod.

- WORKITEM_ACTIVE_AVERAGE_TIME: Average time that a work item generated by this process template was active during this ProcessDurationMeasurePeriod. A work item is defined as being active between the time of the event when it first entered the OFFERED state and the time of the event that it entered the COMPLETED state, disregarding any intermediate states.

- WORKITEM_ACTIVE_TOTAL_TIME: Total time that work items generated by this process template were active during this ProcessDurationMeasurePeriod. A work item is defined as being active between the time of the event when it first entered the OFFERED state and the time of the event that it entered the COMPLETED state, disregarding any intermediate states.

- WORKITEM_WAIT_TOTAL_TIME: Total time that work items generated by this process template were waiting during this ProcessDurationMeasurePeriod. A work item is defined as waiting between the time of the event when it first entered the OFFERED state and the time of the event when it first entered the OPENED state.

- WORKITEM_WAIT_AVERAGE_TIME: Average time that a work item generated by this process template was waiting during this ProcessDurationMeasurePeriod. A work item is defined as waiting between the time of the event when it first entered the OFFERED state and the time of the event when it first entered the OPENED state.

- WORKITEM_ACTION_TOTAL_TIME: Total time that work items generated by this process template were being actioned during this ProcessDurationMeasurePeriod. A work item is defined as being actioned between the time of the event when it first entered the OPENED state and the time of the event that it entered the COMPLETED state - that is, when the user submitted the form.

- WORKITEM_ACTION_AVERAGE_TIME: Average time that a work item generated by this process template during this ProcessDurationMeasurePeriod. A work item is defined as being actioned between the time of the event when it first entered the OPENED state and the time of the event that it entered the COMPLETED state - that is, when the user submitted the form.

- WORKITEM_WORKINGTIME_TOTAL_TIME: Total time that users spent processing work items generated by this process template during this ProcessDurationMeasurePeriod. A work item is defined as being worked on between the accumulated time between each event when it entered the OPENED state and the time of the paired event when it entered a PENDED, SUSPENDED, CANCELLED or COMPLETED state. 

- WORKITEM_WORKINGTIME_AVERAGE_TIME: Average time that a work item generated by this process template was worked on by users during this ProcessDurationMeasurePeriod. A work item is defined as being worked on between the accumulated time between each event when it entered the OPENED state and the time of the paired event when it entered a PENDED, SUSPENDED, CANCELLED or COMPLETED state.  </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="PROCESSTOTAL" value="PROCESS_TOTAL"/>
      <xsd:enumeration ecore:name="PROCESSTOTALTIME" value="PROCESS_TOTAL_TIME"/>
      <xsd:enumeration ecore:name="PROCESSAVERAGETIME" value="PROCESS_AVERAGE_TIME"/>
      <xsd:enumeration ecore:name="WORKITEMTOTAL" value="WORKITEM_TOTAL"/>
      <xsd:enumeration ecore:name="WORKITEMACTIVEAVERAGETIME" value="WORKITEM_ACTIVE_AVERAGE_TIME"/>
      <xsd:enumeration ecore:name="WORKITEMACTIVETOTALTIME" value="WORKITEM_ACTIVE_TOTAL_TIME"/>
      <xsd:enumeration ecore:name="WORKITEMWAITTOTALTIME" value="WORKITEM_WAIT_TOTAL_TIME"/>
      <xsd:enumeration ecore:name="WORKITEMWAITAVERAGETIME" value="WORKITEM_WAIT_AVERAGE_TIME"/>
      <xsd:enumeration ecore:name="WORKITEMACTIONTOTALTIME" value="WORKITEM_ACTION_TOTAL_TIME"/>
      <xsd:enumeration ecore:name="WORKITEMACTIONAVERAGETIME" value="WORKITEM_ACTION_AVERAGE_TIME"/>
      <xsd:enumeration ecore:name="WORKITEMWORKINGTIMETOTALTIME" value="WORKITEM_WORKINGTIME_TOTAL_TIME"/>
      <xsd:enumeration ecore:name="WORKITEMWORKINGTIMEAVERAGETIME" value="WORKITEM_WORKINGTIME_AVERAGE_TIME"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="Target" id="com.tibco.n2.ec.api.baseTarget" name="Target">
    <xsd:annotation>
      <xsd:documentation>Specifies the target table in the Event Collector database against which the query should be executed. One of:

- AUDIT: This is the default option if QueryTarget is not specified.

- PROCESS_METRICS: 

- PROCESS_STATS: 

- WORKITEM_STATS:  

- REGISTERED_QUERIES: 

- REGISTERED_COMPONENTS

- REGISTERED_ATTRIBUTES

- USER_ACTIVITY </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="AUDIT" value="AUDIT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="Attribute" id="com.tibco.n2.ec.api.baseAttribute" abstract="false"
      mixed="false" name="Attribute">
    <xsd:annotation>
      <xsd:documentation>Definition of a specific attribute/value pairing.  

The attributeId can be referenced to an AttributeDefinition using the following operations:

- getAttributes 
- getAllAttributes  </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="attributeId" id="AttributeattributeId" form="unqualified"
          maxOccurs="1" minOccurs="1" name="attributeId" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="attributeName" id="AttributeattributeName" form="unqualified"
          maxOccurs="1" minOccurs="0" name="attributeName" type="xsd:string"/>
      <xsd:element ecore:name="value" id="Attributevalue" form="unqualified" maxOccurs="1"
          minOccurs="1" name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryParameter" id="com.tibco.n2.ec.api.baseQueryParameter"
      abstract="false" mixed="false" name="QueryParameter">
    <xsd:annotation>
      <xsd:documentation>Definition of a QueryParameter, which can be used when late-binding values into a query filter string.

This can make it easier to re-use an existing query, where only certain values will change within the query. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="parameterName" id="QueryParameterparameterName" form="unqualified"
          maxOccurs="1" minOccurs="1" name="parameterName" type="xsd:string"/>
      <xsd:element ecore:name="parameterValue" id="QueryParameterparameterValue" form="unqualified"
          maxOccurs="1" minOccurs="1" name="parameterValue" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Result" id="com.tibco.n2.ec.api.baseResult" abstract="false"
      mixed="false" name="Result">
    <xsd:annotation>
      <xsd:documentation>Information returned by an executeQueryResponse message.
The Result object contains summary information followed by a list of the events returned by the query. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="endPosition" id="ResultendPosition" form="unqualified"
          maxOccurs="1" minOccurs="1" name="endPosition" type="xsd:int"/>
      <xsd:element ecore:name="startPosition" id="ResultstartPosition" form="unqualified"
          maxOccurs="1" minOccurs="1" name="startPosition" type="xsd:int"/>
      <xsd:element ecore:name="totalItems" id="ResulttotalItems" form="unqualified"
          maxOccurs="1" minOccurs="1" name="totalItems" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="event" id="Resultevent" form="unqualified" maxOccurs="unbounded"
          minOccurs="0" name="event" type="Event"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Event" id="com.tibco.n2.ec.api.baseEvent" abstract="false"
      mixed="false" name="Event">
    <xsd:annotation>
      <xsd:documentation>Details of a specific event contained in or submitted to Event Collector.   </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="correlationId" id="EventcorrelationId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="correlationId" type="xsd:string"/>
      <xsd:element ecore:name="eventTimestamp" id="EventeventTimestamp" form="unqualified"
          maxOccurs="1" minOccurs="1" name="eventTimestamp" type="xsd:dateTime"/>
      <xsd:element ecore:name="id" id="Eventid" form="unqualified" maxOccurs="1" minOccurs="0"
          name="id" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="message" id="Eventmessage" form="unqualified" maxOccurs="1"
          minOccurs="1" name="message" type="xsd:string"/>
      <xsd:element ecore:name="messageId" id="EventmessageId" form="unqualified" maxOccurs="1"
          minOccurs="1" name="messageId" type="xsd:string"/>
      <xsd:element ecore:name="priority" id="Eventpriority" form="unqualified" maxOccurs="1"
          minOccurs="1" name="priority" type="xsd:string"/>
      <xsd:element ecore:name="severity" id="Eventseverity" form="unqualified" maxOccurs="1"
          minOccurs="1" name="severity" type="xsd:string"/>
      <xsd:element ecore:name="attribute" id="Eventattribute" form="unqualified" maxOccurs="unbounded"
          minOccurs="0" name="attribute" type="Attribute"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AdvancedPurgeOption" id="com.tibco.n2.ec.api.baseAdvancedPurgeOption"
      abstract="false" mixed="false" name="AdvancedPurgeOption">
    <xsd:annotation>
      <xsd:documentation>Advanced options for the Purge operation </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="optionName" id="AdvancedPurgeOptionoptionName" form="unqualified"
          maxOccurs="1" minOccurs="1" name="optionName" type="xsd:string"/>
      <xsd:element ecore:name="optionValue" id="AdvancedPurgeOptionoptionValue" form="unqualified"
          maxOccurs="1" minOccurs="1" name="optionValue" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ConfigurationArea" id="com.tibco.n2.ec.api.baseConfigurationArea"
      abstract="false" mixed="false" name="ConfigurationArea">
    <xsd:sequence>
      <xsd:element ecore:name="type" id="ConfigurationAreatype" form="unqualified"
          maxOccurs="1" minOccurs="1" name="type" type="tns2:ConfigurationType"/>
      <xsd:element ecore:name="target" id="ConfigurationAreatarget" form="unqualified"
          maxOccurs="1" minOccurs="1" name="target" type="tns2:Target"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Query" id="com.tibco.n2.ec.api.baseQuery" abstract="false"
      mixed="false" name="Query">
    <xsd:annotation>
      <xsd:documentation>Definition of a query to execute on the system, to obtain data from the Event Collector database.  

Queries can either be executed directly, or registered for later execution (recommended  when repeatedly calling the same query). </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="correlate" id="Querycorrelate" form="unqualified" maxOccurs="1"
          minOccurs="0" name="correlate" type="xsd:boolean"/>
      <xsd:element ecore:name="filter" id="Queryfilter" form="unqualified" maxOccurs="1"
          minOccurs="1" name="filter" type="xsd:string"/>
      <xsd:element ecore:name="requireAllAttributes" id="QueryrequireAllAttributes"
          form="unqualified" maxOccurs="1" minOccurs="0" name="requireAllAttributes"
          type="xsd:boolean"/>
      <xsd:element ecore:name="requiredAttribute" id="QueryrequiredAttribute" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="requiredAttribute" type="xsd:string"/>
      <xsd:element ecore:name="sortOrder" id="QuerysortOrder" form="unqualified" maxOccurs="unbounded"
          minOccurs="0" name="sortOrder" type="SortElement"/>
      <xsd:element ecore:name="target" id="Querytarget" form="unqualified" maxOccurs="1"
          minOccurs="0" name="target" type="tns2:QueryTarget"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="SortElement" id="com.tibco.n2.ec.api.baseSortElement"
      abstract="false" mixed="false" name="SortElement">
    <xsd:annotation>
      <xsd:documentation>Definition of a specific SortElement (used to build up the SortOrder on a query). </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="attribute" id="SortElementattribute" form="unqualified"
          maxOccurs="1" minOccurs="1" name="attribute" type="xsd:string"/>
      <xsd:element ecore:name="type" id="SortElementtype" form="unqualified" maxOccurs="1"
          minOccurs="1" name="type" type="tns2:SortType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryIdentifier" id="com.tibco.n2.ec.api.baseQueryIdentifier"
      abstract="false" mixed="false" name="QueryIdentifier">
    <xsd:annotation>
      <xsd:documentation>Definition of the identifier for a query registered in Event Collector.

The QueryIdentifier can contain either a guid or a tag to identify the query. A guid is generally recommended for better performance. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="guid" id="QueryIdentifierguid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="guid" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="tag" id="QueryIdentifiertag" form="unqualified" maxOccurs="1"
          minOccurs="0" name="tag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryOptions" id="com.tibco.n2.ec.api.baseQueryOptions"
      abstract="false" mixed="false" name="QueryOptions">
    <xsd:annotation>
      <xsd:documentation>Execution-time options to be used with this query. These include:

- paging options for the query.

- runtime QueryParameters that should be used for any late-bound parameters specified in the query. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="getTotalCount" id="QueryOptionsgetTotalCount" form="unqualified"
          maxOccurs="1" minOccurs="0" name="getTotalCount" type="xsd:boolean"/>
      <xsd:element ecore:name="numberOfItems" id="QueryOptionsnumberOfItems" form="unqualified"
          maxOccurs="1" minOccurs="0" name="numberOfItems" type="xsd:int"/>
      <xsd:element ecore:name="populateAttributeNames" id="QueryOptionspopulateAttributeNames"
          form="unqualified" maxOccurs="1" minOccurs="0" name="populateAttributeNames"
          type="xsd:boolean"/>
      <xsd:element ecore:name="startPosition" id="QueryOptionsstartPosition" form="unqualified"
          maxOccurs="1" minOccurs="0" name="startPosition" type="xsd:int"/>
      <xsd:element ecore:name="parameter" id="QueryOptionsparameter" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="parameter" type="QueryParameter"/>
      <xsd:element ecore:name="advancedOption" id="QueryOptionsadvancedOption" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="advancedOption" type="AdvancedQueryOption"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AdvancedQueryOption" id="com.tibco.n2.ec.api.baseAdvancedQueryOption"
      abstract="false" mixed="false" name="AdvancedQueryOption">
    <xsd:annotation>
      <xsd:documentation>** PRIVATE API - Reserved for internal use ** </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="optionName" id="AdvancedQueryOptionoptionName" form="unqualified"
          maxOccurs="1" minOccurs="1" name="optionName" type="xsd:string"/>
      <xsd:element ecore:name="optionValue" id="AdvancedQueryOptionoptionValue" form="unqualified"
          maxOccurs="1" minOccurs="1" name="optionValue" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AttributeDefinition" id="com.tibco.n2.ec.api.baseAttributeDefinition"
      abstract="false" mixed="false" name="AttributeDefinition">
    <xsd:annotation>
      <xsd:documentation>Definition of an attribute. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="category" id="AttributeDefinitioncategory" form="unqualified"
          maxOccurs="1" minOccurs="0" name="category" type="xsd:string"/>
      <xsd:element ecore:name="componentId" id="AttributeDefinitioncomponentId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="componentId" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="id" id="AttributeDefinitionid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="isPrimary" id="AttributeDefinitionisPrimary" form="unqualified"
          maxOccurs="1" minOccurs="0" name="isPrimary" type="xsd:boolean"/>
      <xsd:element ecore:name="length" id="AttributeDefinitionlength" form="unqualified"
          maxOccurs="1" minOccurs="0" name="length" type="xsd:int"/>
      <xsd:element ecore:name="name" id="AttributeDefinitionname" form="unqualified"
          maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element ecore:name="type" id="AttributeDefinitiontype" form="unqualified"
          maxOccurs="1" minOccurs="0" name="type" type="tns2:AttributeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Component" id="com.tibco.n2.ec.api.baseComponent" abstract="false"
      mixed="false" name="Component">
    <xsd:annotation>
      <xsd:documentation>Definition of a component.  

(When registering components the id property should not be filled in, instead the system will return a component object which contains the passed in values and also the id property.) </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="componentClass" id="ComponentcomponentClass" form="unqualified"
          maxOccurs="1" minOccurs="0" name="componentClass" type="xsd:string"/>
      <xsd:element ecore:name="componentName" id="ComponentcomponentName" form="unqualified"
          maxOccurs="1" minOccurs="0" name="componentName" type="xsd:string"/>
      <xsd:element ecore:name="description" id="Componentdescription" form="unqualified"
          maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element ecore:name="id" id="Componentid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="implementationType" id="ComponentimplementationType"
          form="unqualified" maxOccurs="1" minOccurs="0" name="implementationType"
          type="xsd:string"/>
      <xsd:element ecore:name="name" id="Componentname" form="unqualified" maxOccurs="1"
          minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="parentId" id="ComponentparentId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="parentId" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="revision" id="Componentrevision" form="unqualified"
          maxOccurs="1" minOccurs="0" name="revision" type="xsd:string"/>
      <xsd:element ecore:name="version" id="Componentversion" form="unqualified" maxOccurs="1"
          minOccurs="1" name="version" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryInfo" id="com.tibco.n2.ec.api.baseQueryInfo" abstract="false"
      mixed="false" name="QueryInfo">
    <xsd:annotation>
      <xsd:documentation>Details of a query, including its QueryIdentifier. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="query" id="QueryInfoquery" form="unqualified" maxOccurs="1"
          minOccurs="1" name="query" type="Query"/>
      <xsd:element ecore:name="identifier" id="QueryInfoidentifier" form="unqualified"
          maxOccurs="1" minOccurs="1" name="identifier" type="QueryIdentifier"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ConfigurationValue" id="com.tibco.n2.ec.api.baseConfigurationValue"
      abstract="false" mixed="false" name="ConfigurationValue">
    <xsd:sequence>
      <xsd:element ecore:name="name" id="ConfigurationValuename" form="unqualified"
          maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="value" id="ConfigurationValuevalue" form="unqualified"
          maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EventBatch" id="com.tibco.n2.ec.api.baseEventBatch"
      abstract="false" mixed="false" name="EventBatch">
    <xsd:annotation>
      <xsd:documentation>A batch of events for submission to Event Collector </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="event" id="EventBatchevent" form="unqualified" maxOccurs="unbounded"
          minOccurs="1" name="event" type="Event"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PurgeStatus" id="com.tibco.n2.ec.api.basePurgeStatus"
      abstract="false" mixed="false" name="PurgeStatus">
    <xsd:annotation>
      <xsd:documentation>The status of a purge operation </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="statusMessage" id="PurgeStatusstatusMessage" form="unqualified"
          maxOccurs="1" minOccurs="1" name="statusMessage" type="xsd:string"/>
      <xsd:element ecore:name="status" id="PurgeStatusstatus" form="unqualified" maxOccurs="1"
          minOccurs="1" name="status" type="tns2:PurgeStatusType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="MeasureId" id="com.tibco.n2.ec.api.baseMeasureId" abstract="true"
      mixed="false" name="MeasureId">
    <xsd:annotation>
      <xsd:documentation>Basic MeasureId. The id used by a measure depends on the type of measure being referred to. For example, in the case of ProcessTemplate measures the id is defined by the name, version and module of the process template.

In all cases, the MeasureId uniquely identifies a specific entity in the EventCollectorMeasuresService.   </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType ecore:name="MeasureOptions" id="com.tibco.n2.ec.api.baseMeasureOptions"
      abstract="false" mixed="false" name="MeasureOptions">
    <xsd:annotation>
      <xsd:documentation>Options to apply to this measure request. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="consolidation" id="MeasureOptionsconsolidation" form="unqualified"
          maxOccurs="1" minOccurs="0" name="consolidation" type="tns2:ConsolidationType"/>
      <xsd:element ecore:name="advancedOption" id="MeasureOptionsadvancedOption" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="advancedOption" type="AdvancedMeasureOption"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AdvancedMeasureOption" id="com.tibco.n2.ec.api.baseAdvancedMeasureOption"
      abstract="false" mixed="false" name="AdvancedMeasureOption">
    <xsd:annotation>
      <xsd:documentation>** PRIVATE API - Reserved for internal use ** </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="optionName" id="AdvancedMeasureOptionoptionName" form="unqualified"
          maxOccurs="1" minOccurs="1" name="optionName" type="xsd:string"/>
      <xsd:element ecore:name="optionValue" id="AdvancedMeasureOptionoptionValue"
          form="unqualified" maxOccurs="1" minOccurs="1" name="optionValue" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="MeasureDuration" id="com.tibco.n2.ec.api.baseMeasureDuration"
      abstract="false" mixed="false" name="MeasureDuration">
    <xsd:annotation>
      <xsd:documentation>A specific duration within a MeasurePeriod. This is used:

- in a request, to provide the required start date, end date and granularity. 

- in a response, to describe the time a MeasurePeriod refers to.  

See MeasurePeriod for more details. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="endDate" id="MeasureDurationendDate" form="unqualified"
          maxOccurs="1" minOccurs="0" name="endDate" type="xsd:dateTime"/>
      <xsd:element ecore:name="startDate" id="MeasureDurationstartDate" form="unqualified"
          maxOccurs="1" minOccurs="0" name="startDate" type="xsd:dateTime"/>
      <xsd:element ecore:name="granularity" id="MeasureDurationgranularity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="granularity" type="tns2:MeasureGranularity"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Measure" id="com.tibco.n2.ec.api.baseMeasure" abstract="true"
      mixed="false" name="Measure">
    <xsd:annotation>
      <xsd:documentation>Base entity returned when requesting a measure.  

When making a request, an array of identifiers can be passed in. For example, an array of ProcessTemplateIds can be supplied when calling the requestProcessTemplateMeasure operation.

The number of measures returned depends on the consolidation mode selected in the MeasureOptions. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="index" id="Measureindex" form="unqualified" maxOccurs="1"
          minOccurs="1" name="index" type="xsd:int"/>
      <xsd:element ecore:name="isConsolidatedMeasure" id="MeasureisConsolidatedMeasure"
          form="unqualified" maxOccurs="1" minOccurs="1" name="isConsolidatedMeasure"
          type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="MeasureEntry" id="com.tibco.n2.ec.api.baseMeasureEntry"
      abstract="true" mixed="false" name="MeasureEntry">
    <xsd:annotation>
      <xsd:documentation>Generic MeasureEntry. Within a MeasurePeriod an entry will be returned for each entry type available. 

For example, when using a ProcessTemplate measure, one entry will be returned for each of: STARTED, COMPLETED, SUSPENDED and CANCELLED. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="index" id="MeasureEntryindex" form="unqualified" maxOccurs="1"
          minOccurs="1" name="index" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplateMeasure" id="com.tibco.n2.ec.api.baseProcessTemplateMeasure"
      abstract="false" mixed="false" name="ProcessTemplateMeasure">
    <xsd:annotation>
      <xsd:documentation>Entity returned by a requestProcessTemplateMeasureResponse message. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:Measure">
        <xsd:sequence>
          <xsd:element ecore:name="id" id="ProcessTemplateMeasureid" form="unqualified"
              maxOccurs="1" minOccurs="0" name="id" type="ProcessTemplateId"/>
          <xsd:element ecore:name="period" id="ProcessTemplateMeasureperiod" form="unqualified"
              maxOccurs="unbounded" minOccurs="1" name="period" type="ProcessTemplateMeasurePeriod"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplateId" id="com.tibco.n2.ec.api.baseProcessTemplateId"
      abstract="false" mixed="false" name="ProcessTemplateId">
    <xsd:annotation>
      <xsd:documentation>Id of a valid process template. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasureId">
        <xsd:sequence>
          <xsd:element ecore:name="moduleName" id="ProcessTemplateIdmoduleName" form="unqualified"
              maxOccurs="1" minOccurs="0" name="moduleName" type="xsd:string"/>
          <xsd:element ecore:name="processTemplateName" id="ProcessTemplateIdprocessTemplateName"
              form="unqualified" maxOccurs="1" minOccurs="1" name="processTemplateName"
              type="xsd:string"/>
          <xsd:element ecore:name="processTemplateVersion" id="ProcessTemplateIdprocessTemplateVersion"
              form="unqualified" maxOccurs="1" minOccurs="0" name="processTemplateVersion"
              type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplateMeasurePeriod" id="com.tibco.n2.ec.api.baseProcessTemplateMeasurePeriod"
      abstract="false" mixed="false" name="ProcessTemplateMeasurePeriod">
    <xsd:annotation>
      <xsd:documentation>MeasurePeriod for ProcessTemplateMeasure objects.  See MeasurePeriod for more information. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasurePeriod">
        <xsd:sequence>
          <xsd:element ecore:name="entry" id="ProcessTemplateMeasurePeriodentry" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="entry" type="ProcessTemplateMeasureEntry"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplateMeasureEntry" id="com.tibco.n2.ec.api.baseProcessTemplateMeasureEntry"
      abstract="false" mixed="false" name="ProcessTemplateMeasureEntry">
    <xsd:annotation>
      <xsd:documentation>Measure entry for the ProcessTemplateMeasure type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:IntMeasure">
        <xsd:sequence>
          <xsd:element ecore:name="type" id="ProcessTemplateMeasureEntrytype" form="unqualified"
              maxOccurs="1" minOccurs="1" name="type" type="tns2:ProcessTemplateStatusType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="IntMeasure" id="com.tibco.n2.ec.api.baseIntMeasure"
      abstract="true" mixed="false" name="IntMeasure">
    <xsd:annotation>
      <xsd:documentation>Specific type of MeasureEntry that returns an integer value for each entry. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasureEntry">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="IntMeasurevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="MeasurePeriod" id="com.tibco.n2.ec.api.baseMeasurePeriod"
      abstract="true" mixed="false" name="MeasurePeriod">
    <xsd:annotation>
      <xsd:documentation>Definition of a specific time period used by a measure.

When requesting a measure, a startDate, endDate and granularity value (HOUR, DAY, MONTH, YEAR, WEEK) must be specified. A MeasurePeriod will then be returned for each &quot;unit&quot; defined by this time period. 

For example if start and end dates defining 1 day of time are specified, with a granularity of HOUR, 24 MeasurePeriods will be returned. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="index" id="MeasurePeriodindex" form="unqualified" maxOccurs="1"
          minOccurs="1" name="index" type="xsd:int"/>
      <xsd:element ecore:name="duration" id="MeasurePeriodduration" form="unqualified"
          maxOccurs="1" minOccurs="1" name="duration" type="MeasureDuration"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="WorkItemMeasure" id="com.tibco.n2.ec.api.baseWorkItemMeasure"
      abstract="false" mixed="false" name="WorkItemMeasure">
    <xsd:annotation>
      <xsd:documentation>Entity returned by a requestWorkItemPerformanceForTemplateResponse or requestWorkItemPerformanceForResourceResponse message. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:Measure">
        <xsd:sequence>
          <xsd:element ecore:name="id" id="WorkItemMeasureid" form="unqualified" maxOccurs="1"
              minOccurs="0" name="id" type="MeasureId"/>
          <xsd:element ecore:name="period" id="WorkItemMeasureperiod" form="unqualified"
              maxOccurs="unbounded" minOccurs="1" name="period" type="WorkItemMeasurePeriod"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="WorkItemMeasurePeriod" id="com.tibco.n2.ec.api.baseWorkItemMeasurePeriod"
      abstract="false" mixed="false" name="WorkItemMeasurePeriod">
    <xsd:annotation>
      <xsd:documentation>MeasurePeriod for WorkItemMeasure objects. See MeasurePeriod for more information </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasurePeriod">
        <xsd:sequence>
          <xsd:element ecore:name="entry" id="WorkItemMeasurePeriodentry" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="entry" type="WorkItemMeasureEntry"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="WorkItemMeasureEntry" id="com.tibco.n2.ec.api.baseWorkItemMeasureEntry"
      abstract="false" mixed="false" name="WorkItemMeasureEntry">
    <xsd:annotation>
      <xsd:documentation>Measure entry for the WorkItemMeasure type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:IntMeasure">
        <xsd:sequence>
          <xsd:element ecore:name="type" id="WorkItemMeasureEntrytype" form="unqualified"
              maxOccurs="1" minOccurs="1" name="type" type="tns2:WorkItemStatusType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResourceId" id="com.tibco.n2.ec.api.baseResourceId"
      abstract="false" mixed="false" name="ResourceId">
    <xsd:annotation>
      <xsd:documentation>ResourceId implementation of the MeasureId.  </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasureId">
        <xsd:sequence>
          <xsd:element ecore:name="resourceId" id="ResourceIdresourceId" form="unqualified"
              maxOccurs="1" minOccurs="1" name="resourceId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="AverageMeasure" id="com.tibco.n2.ec.api.baseAverageMeasure"
      abstract="true" mixed="false" name="AverageMeasure">
    <xsd:annotation>
      <xsd:documentation>Specific type of MeasureEntry that returns an average value for each entry. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasureEntry">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="AverageMeasurevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="tns2:long_StudioGeneratedTemplate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessDurationMeasureEntry" id="com.tibco.n2.ec.api.baseProcessDurationMeasureEntry"
      abstract="false" mixed="false" name="ProcessDurationMeasureEntry">
    <xsd:annotation>
      <xsd:documentation>Measure entry for the ProcessDurationMeasure type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:LongMeasure">
        <xsd:sequence>
          <xsd:element ecore:name="type" id="ProcessDurationMeasureEntrytype" form="unqualified"
              maxOccurs="1" minOccurs="1" name="type" type="tns2:AveragesMeasureType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="LongMeasure" id="com.tibco.n2.ec.api.baseLongMeasure"
      abstract="false" mixed="false" name="LongMeasure">
    <xsd:annotation>
      <xsd:documentation>Specific type of MeasureEntry that returns a long value for each entry. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasureEntry">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="LongMeasurevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="tns2:long_StudioGeneratedTemplate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BasicMeasureId" id="com.tibco.n2.ec.api.baseBasicMeasureId"
      abstract="false" mixed="false" name="BasicMeasureId">
    <xsd:annotation>
      <xsd:documentation>** PRIVATE API - Reserved for internal use ** </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasureId">
        <xsd:sequence>
          <xsd:element ecore:name="id" id="BasicMeasureIdid" form="unqualified" maxOccurs="1"
              minOccurs="1" name="id" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BasicValueMeasure" id="com.tibco.n2.ec.api.baseBasicValueMeasure"
      abstract="false" mixed="false" name="BasicValueMeasure">
    <xsd:annotation>
      <xsd:documentation>** PRIVATE API - Reserved for internal use ** </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:IntMeasure">
        <xsd:sequence>
          <xsd:element ecore:name="type" id="BasicValueMeasuretype" form="unqualified"
              maxOccurs="1" minOccurs="1" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessDurationMeasure" id="com.tibco.n2.ec.api.baseProcessDurationMeasure"
      abstract="false" mixed="false" name="ProcessDurationMeasure">
    <xsd:annotation>
      <xsd:documentation>Entity returned by a requestProcessDurationMeasureResponse message. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:Measure">
        <xsd:sequence>
          <xsd:element ecore:name="id" id="ProcessDurationMeasureid" form="unqualified"
              maxOccurs="1" minOccurs="0" name="id" type="ProcessTemplateId"/>
          <xsd:element ecore:name="period" id="ProcessDurationMeasureperiod" form="unqualified"
              maxOccurs="unbounded" minOccurs="1" name="period" type="ProcessDurationMeasurePeriod"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessDurationMeasurePeriod" id="com.tibco.n2.ec.api.baseProcessDurationMeasurePeriod"
      abstract="false" mixed="false" name="ProcessDurationMeasurePeriod">
    <xsd:annotation>
      <xsd:documentation>MeasurePeriod for ProcessDurationMeasure objects.  See MeasurePeriod for more information. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasurePeriod">
        <xsd:sequence>
          <xsd:element ecore:name="entry" id="ProcessDurationMeasurePeriodentry" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="entry" type="ProcessDurationMeasureEntry"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BasicMeasure" id="com.tibco.n2.ec.api.baseBasicMeasure"
      abstract="false" mixed="false" name="BasicMeasure">
    <xsd:annotation>
      <xsd:documentation>** PRIVATE API - Reserved for internal use ** </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:Measure">
        <xsd:sequence>
          <xsd:element ecore:name="id" id="BasicMeasureid" form="unqualified" maxOccurs="1"
              minOccurs="1" name="id" type="BasicMeasureId"/>
          <xsd:element ecore:name="period" id="BasicMeasureperiod" form="unqualified"
              maxOccurs="unbounded" minOccurs="1" name="period" type="BasicMeasurePeriod"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BasicMeasurePeriod" id="com.tibco.n2.ec.api.baseBasicMeasurePeriod"
      abstract="false" mixed="false" name="BasicMeasurePeriod">
    <xsd:annotation>
      <xsd:documentation>** PRIVATE API - Reserved for internal use ** </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:MeasurePeriod">
        <xsd:sequence>
          <xsd:element ecore:name="entry" id="BasicMeasurePeriodentry" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="entry" type="BasicValueMeasure"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ConfigurationEntry" id="com.tibco.n2.ec.api.baseConfigurationEntry"
      abstract="false" mixed="false" name="ConfigurationEntry">
    <xsd:sequence>
      <xsd:element ecore:name="name" id="ConfigurationEntryname" form="unqualified"
          maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="value" id="ConfigurationEntryvalue" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="value" type="ConfigurationValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GenericResult" id="com.tibco.n2.ec.api.baseGenericResult"
      abstract="false" mixed="false" name="GenericResult">
    <xsd:annotation>
      <xsd:documentation>Information returned by an executeGenericQueryResponse message.
The GenericResult object contains summary information for this query, as well as the entries returned by the query. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="endPosition" id="GenericResultendPosition" form="unqualified"
          maxOccurs="1" minOccurs="1" name="endPosition" type="xsd:int"/>
      <xsd:element ecore:name="startPosition" id="GenericResultstartPosition" form="unqualified"
          maxOccurs="1" minOccurs="1" name="startPosition" type="xsd:int"/>
      <xsd:element ecore:name="totalItems" id="GenericResulttotalItems" form="unqualified"
          maxOccurs="1" minOccurs="1" name="totalItems" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="resultEntry" id="GenericResultresultEntry" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="resultEntry" type="ResultEntry"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResultEntry" id="com.tibco.n2.ec.api.baseResultEntry"
      abstract="false" mixed="false" name="ResultEntry">
    <xsd:annotation>
      <xsd:documentation>ResultEntry contains the id and ref for this entry, as well as the attributes set for this entry </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="id" id="ResultEntryid" form="unqualified" maxOccurs="1"
          minOccurs="0" name="id" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="ref" id="ResultEntryref" form="unqualified" maxOccurs="1"
          minOccurs="0" name="ref" type="xsd:string"/>
      <xsd:element ecore:name="attribute" id="ResultEntryattribute" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="attribute" type="BaseEntryAttribute"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseEntryAttribute" id="com.tibco.n2.ec.api.baseBaseEntryAttribute"
      abstract="true" mixed="false" name="BaseEntryAttribute">
    <xsd:annotation>
      <xsd:documentation>Specific attribute that is set on an entry returned by a query.

This entity is abstract and provides the id and name (where requested/applicable) for the query. It is then extended by each specific type supported, which provides a hard-typed value for the attribute. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="attributeId" id="BaseEntryAttributeattributeId" form="unqualified"
          maxOccurs="1" minOccurs="1" name="attributeId" type="tns2:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="attributeName" id="BaseEntryAttributeattributeName"
          form="unqualified" maxOccurs="1" minOccurs="0" name="attributeName" type="xsd:string"/>
      <xsd:element ecore:name="type" id="BaseEntryAttributetype" form="unqualified"
          maxOccurs="1" minOccurs="1" name="type" type="tns2:AttributeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="LongEntryAttribute" id="com.tibco.n2.ec.api.baseLongEntryAttribute"
      abstract="false" mixed="false" name="LongEntryAttribute">
    <xsd:annotation>
      <xsd:documentation>A long-typed entry attribute </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:BaseEntryAttribute">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="LongEntryAttributevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="tns2:long_StudioGeneratedTemplate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="StringEntryAttribute" id="com.tibco.n2.ec.api.baseStringEntryAttribute"
      abstract="false" mixed="false" name="StringEntryAttribute">
    <xsd:annotation>
      <xsd:documentation>String-typed entry attribute. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:BaseEntryAttribute">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="StringEntryAttributevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="IntegerEntryAttribute" id="com.tibco.n2.ec.api.baseIntegerEntryAttribute"
      abstract="false" mixed="false" name="IntegerEntryAttribute">
    <xsd:annotation>
      <xsd:documentation>An integer-typed entry attribute </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:BaseEntryAttribute">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="IntegerEntryAttributevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="DateEntryAttribute" id="com.tibco.n2.ec.api.baseDateEntryAttribute"
      abstract="false" mixed="false" name="DateEntryAttribute">
    <xsd:annotation>
      <xsd:documentation>A date-typed entry attribute. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:BaseEntryAttribute">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="DateEntryAttributevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BooleanEntryAttribute" id="com.tibco.n2.ec.api.baseBooleanEntryAttribute"
      abstract="false" mixed="false" name="BooleanEntryAttribute">
    <xsd:annotation>
      <xsd:documentation>A boolean-typed entry attribute. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:BaseEntryAttribute">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="BooleanEntryAttributevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="DoubleEntryAttribute" id="com.tibco.n2.ec.api.baseDoubleEntryAttribute"
      abstract="false" mixed="false" name="DoubleEntryAttribute">
    <xsd:annotation>
      <xsd:documentation>A double-typed entry attribute. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:BaseEntryAttribute">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="DoubleEntryAttributevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="tns2:double_StudioGeneratedTemplate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="PurgeOptions" id="com.tibco.n2.ec.api.basePurgeOptions"
      abstract="false" mixed="false" name="PurgeOptions">
    <xsd:annotation>
      <xsd:documentation>Provides options to control how a purge is carried out </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="batchSize" id="PurgeOptionsbatchSize" form="unqualified"
          maxOccurs="1" minOccurs="0" name="batchSize" type="xsd:int"/>
      <xsd:element ecore:name="runInBackground" id="PurgeOptionsrunInBackground" form="unqualified"
          maxOccurs="1" minOccurs="0" name="runInBackground" type="xsd:boolean"/>
      <xsd:element ecore:name="threshold" id="PurgeOptionsthreshold" form="unqualified"
          maxOccurs="1" minOccurs="0" name="threshold" type="xsd:dateTime"/>
      <xsd:element ecore:name="advancedOption" id="PurgeOptionsadvancedOption" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="advancedOption" type="AdvancedPurgeOption"/>
      <xsd:element ecore:name="processTemplates" id="PurgeOptionsprocessTemplates"
          form="unqualified" maxOccurs="1" minOccurs="0" name="processTemplates" type="ProcessTemplates"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplates" id="com.tibco.n2.ec.api.baseProcessTemplates"
      abstract="false" mixed="false" name="ProcessTemplates">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element ecore:name="processTemplateIdIdentifier" id="ProcessTemplatesprocessTemplateIdIdentifier"
            form="unqualified" maxOccurs="1" minOccurs="1" name="processTemplateIdIdentifier"
            type="ProcessTemplateIdIdentifier"/>
        <xsd:element ecore:name="processTemplateNameIdentifier" id="ProcessTemplatesprocessTemplateNameIdentifier"
            form="unqualified" maxOccurs="1" minOccurs="1" name="processTemplateNameIdentifier"
            type="ProcessTemplateNameIdentifier"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplateIdIdentifier" id="com.tibco.n2.ec.api.baseProcessTemplateIdIdentifier"
      abstract="false" mixed="false" name="ProcessTemplateIdIdentifier">
    <xsd:annotation>
      <xsd:documentation>A Process Template identified by the id associated with it.   </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="processTemplateId" id="ProcessTemplateIdIdentifierprocessTemplateId"
          form="unqualified" maxOccurs="1" minOccurs="1" name="processTemplateId"
          type="tns2:long_StudioGeneratedTemplate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplateNameIdentifier" id="com.tibco.n2.ec.api.baseProcessTemplateNameIdentifier"
      abstract="false" mixed="false" name="ProcessTemplateNameIdentifier">
    <xsd:annotation>
      <xsd:documentation>A Process Template identified by name, and optionally moduleName/version. Note: This option must uniquely identify a Process Template.  Name can be used alone provided there is only one template on the system with it. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="processTemplateName" id="ProcessTemplateNameIdentifierprocessTemplateName"
          form="unqualified" maxOccurs="1" minOccurs="1" name="processTemplateName"
          type="xsd:string"/>
      <xsd:element ecore:name="moduleName" id="ProcessTemplateNameIdentifiermoduleName"
          form="unqualified" maxOccurs="1" minOccurs="0" name="moduleName" type="xsd:string"/>
      <xsd:element ecore:name="version" id="ProcessTemplateNameIdentifierversion"
          form="unqualified" maxOccurs="1" minOccurs="0" name="version" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BigDecimalEntryAttribute" id="com.tibco.n2.ec.api.baseBigDecimalEntryAttribute"
      abstract="false" mixed="false" name="BigDecimalEntryAttribute">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:BaseEntryAttribute">
        <xsd:sequence>
          <xsd:element ecore:name="value" id="BigDecimalEntryAttributevalue" form="unqualified"
              maxOccurs="1" minOccurs="1" name="value" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="AttributeDefinitions" id="com.tibco.n2.ec.api.baseAttributeDefinitions"
      abstract="false" mixed="false" name="AttributeDefinitions">
    <xsd:sequence>
      <xsd:element ecore:name="definition" id="AttributeDefinitionsdefinition" form="unqualified"
          maxOccurs="unbounded" minOccurs="1" name="definition" type="AttributeDefinition"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplateIds" id="com.tibco.n2.ec.api.baseProcessTemplateIds"
      abstract="false" mixed="false" name="ProcessTemplateIds">
    <xsd:sequence>
      <xsd:element ecore:name="id" id="ProcessTemplateIdsid" form="unqualified" maxOccurs="unbounded"
          minOccurs="1" name="id" type="ProcessTemplateId"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessDurationMeasures" id="com.tibco.n2.ec.api.baseProcessDurationMeasures"
      abstract="false" mixed="false" name="ProcessDurationMeasures">
    <xsd:sequence>
      <xsd:element ecore:name="measure" id="ProcessDurationMeasuresmeasure" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="measure" type="ProcessDurationMeasure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessTemplateMeasures" id="com.tibco.n2.ec.api.baseProcessTemplateMeasures"
      abstract="false" mixed="false" name="ProcessTemplateMeasures">
    <xsd:sequence>
      <xsd:element ecore:name="measure" id="ProcessTemplateMeasuresmeasure" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="measure" type="ProcessTemplateMeasure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="WorkItemMeasures" id="com.tibco.n2.ec.api.baseWorkItemMeasures"
      abstract="false" mixed="false" name="WorkItemMeasures">
    <xsd:sequence>
      <xsd:element ecore:name="measure" id="WorkItemMeasuresmeasure" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="measure" type="WorkItemMeasure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Components" id="com.tibco.n2.ec.api.baseComponents"
      abstract="false" mixed="false" name="Components">
    <xsd:sequence>
      <xsd:element ecore:name="component" id="Componentscomponent" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="component" type="Component"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryPayload" id="com.tibco.n2.ec.api.baseQueryPayload"
      abstract="false" mixed="false" name="QueryPayload">
    <xsd:sequence>
      <xsd:element ecore:name="query" id="QueryPayloadquery" form="unqualified" maxOccurs="1"
          minOccurs="1" name="query" type="Query"/>
      <xsd:element ecore:name="options" id="QueryPayloadoptions" form="unqualified"
          maxOccurs="1" minOccurs="0" name="options" type="QueryOptions"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="double_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-179.76931348623157E+306"/>
      <xsd:maxInclusive value="179.76931348623157E+306"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="Component" nillable="false" type="Component"/>
  <xsd:element abstract="false" name="AttributeDefinition" nillable="false" type="AttributeDefinition"/>
  <xsd:element abstract="false" name="EventBatch" nillable="false" type="EventBatch"/>
  <xsd:element abstract="false" name="Event" nillable="false" type="Event"/>
  <xsd:element abstract="false" name="Query" nillable="false" type="Query"/>
  <xsd:element abstract="false" name="QueryIdentifier" nillable="false" type="QueryIdentifier"/>
  <xsd:element abstract="false" name="QueryOptions" nillable="false" type="QueryOptions"/>
  <xsd:element abstract="false" name="Result" nillable="false" type="Result"/>
  <xsd:element abstract="false" name="GenericResult" nillable="false" type="GenericResult"/>
  <xsd:element abstract="false" name="QueryInfo" nillable="false" type="QueryInfo"/>
  <xsd:element abstract="false" name="Attribute" nillable="false" type="Attribute"/>
  <xsd:element abstract="false" name="QueryParameter" nillable="false" type="QueryParameter"/>
  <xsd:element abstract="false" name="AdvancedPurgeOption" nillable="false" type="AdvancedPurgeOption"/>
  <xsd:element abstract="false" name="ConfigurationArea" nillable="false" type="ConfigurationArea"/>
  <xsd:element abstract="false" name="ConfigurationValue" nillable="false" type="ConfigurationValue"/>
  <xsd:element abstract="false" name="PurgeStatus" nillable="false" type="PurgeStatus"/>
  <xsd:element abstract="false" name="SortElement" nillable="false" type="SortElement"/>
  <xsd:element abstract="false" name="AdvancedQueryOption" nillable="false" type="AdvancedQueryOption"/>
  <xsd:element abstract="false" name="MeasureId" nillable="false" type="MeasureId"/>
  <xsd:element abstract="false" name="MeasureOptions" nillable="false" type="MeasureOptions"/>
  <xsd:element abstract="false" name="MeasureDuration" nillable="false" type="MeasureDuration"/>
  <xsd:element abstract="false" name="Measure" nillable="false" type="Measure"/>
  <xsd:element abstract="false" name="MeasureEntry" nillable="false" type="MeasureEntry"/>
  <xsd:element abstract="false" name="ProcessTemplateMeasure" nillable="false" type="ProcessTemplateMeasure"/>
  <xsd:element abstract="false" name="MeasurePeriod" nillable="false" type="MeasurePeriod"/>
  <xsd:element abstract="false" name="WorkItemMeasure" nillable="false" type="WorkItemMeasure"/>
  <xsd:element abstract="false" name="ProcessTemplateId" nillable="false" type="ProcessTemplateId"/>
  <xsd:element abstract="false" name="ResourceId" nillable="false" type="ResourceId"/>
  <xsd:element abstract="false" name="IntMeasure" nillable="false" type="IntMeasure"/>
  <xsd:element abstract="false" name="ProcessTemplateMeasureEntry" nillable="false"
      type="ProcessTemplateMeasureEntry"/>
  <xsd:element abstract="false" name="WorkItemMeasureEntry" nillable="false" type="WorkItemMeasureEntry"/>
  <xsd:element abstract="false" name="AverageMeasure" nillable="false" type="AverageMeasure"/>
  <xsd:element abstract="false" name="ProcessDurationMeasureEntry" nillable="false"
      type="ProcessDurationMeasureEntry"/>
  <xsd:element abstract="false" name="AdvancedMeasureOption" nillable="false" type="AdvancedMeasureOption"/>
  <xsd:element abstract="false" name="BasicMeasureId" nillable="false" type="BasicMeasureId"/>
  <xsd:element abstract="false" name="BasicValueMeasure" nillable="false" type="BasicValueMeasure"/>
  <xsd:element abstract="false" name="ProcessDurationMeasure" nillable="false" type="ProcessDurationMeasure"/>
  <xsd:element abstract="false" name="BasicMeasure" nillable="false" type="BasicMeasure"/>
  <xsd:element abstract="false" name="ProcessTemplateMeasurePeriod" nillable="false"
      type="ProcessTemplateMeasurePeriod"/>
  <xsd:element abstract="false" name="WorkItemMeasurePeriod" nillable="false" type="WorkItemMeasurePeriod"/>
  <xsd:element abstract="false" name="ProcessDurationMeasurePeriod" nillable="false"
      type="ProcessDurationMeasurePeriod"/>
  <xsd:element abstract="false" name="BasicMeasurePeriod" nillable="false" type="BasicMeasurePeriod"/>
  <xsd:element abstract="false" name="ConfigurationEntry" nillable="false" type="ConfigurationEntry"/>
  <xsd:element abstract="false" name="LongMeasure" nillable="false" type="LongMeasure"/>
  <xsd:element abstract="false" name="ResultEntry" nillable="false" type="ResultEntry"/>
  <xsd:element abstract="false" name="BaseEntryAttribute" nillable="false" type="BaseEntryAttribute"/>
  <xsd:element abstract="false" name="LongEntryAttribute" nillable="false" type="LongEntryAttribute"/>
  <xsd:element abstract="false" name="StringEntryAttribute" nillable="false" type="StringEntryAttribute"/>
  <xsd:element abstract="false" name="IntegerEntryAttribute" nillable="false" type="IntegerEntryAttribute"/>
  <xsd:element abstract="false" name="DateEntryAttribute" nillable="false" type="DateEntryAttribute"/>
  <xsd:element abstract="false" name="BooleanEntryAttribute" nillable="false" type="BooleanEntryAttribute"/>
  <xsd:element abstract="false" name="DoubleEntryAttribute" nillable="false" type="DoubleEntryAttribute"/>
  <xsd:element abstract="false" name="PurgeOptions" nillable="false" type="PurgeOptions"/>
  <xsd:element abstract="false" name="ProcessTemplateNameIdentifier" nillable="false"
      type="ProcessTemplateNameIdentifier"/>
  <xsd:element abstract="false" name="ProcessTemplateIdIdentifier" nillable="false"
      type="ProcessTemplateIdIdentifier"/>
  <xsd:element abstract="false" name="ProcessTemplates" nillable="false" type="ProcessTemplates"/>
  <xsd:element abstract="false" name="BigDecimalEntryAttribute" nillable="false" type="BigDecimalEntryAttribute"/>
  <xsd:element abstract="false" name="AttributeDefinitions" nillable="false" type="AttributeDefinitions"/>
  <xsd:element abstract="false" name="ProcessTemplateIds" nillable="false" type="ProcessTemplateIds"/>
  <xsd:element abstract="false" name="ProcessDurationMeasures" nillable="false" type="ProcessDurationMeasures"/>
  <xsd:element abstract="false" name="ProcessTemplateMeasures" nillable="false" type="ProcessTemplateMeasures"/>
  <xsd:element abstract="false" name="WorkItemMeasures" nillable="false" type="WorkItemMeasures"/>
  <xsd:element abstract="false" name="Components" nillable="false" type="Components"/>
  <xsd:element abstract="false" name="QueryPayload" nillable="false" type="QueryPayload"/>
</xsd:schema>