tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XSDBOM40_GeneratedClassDuplicateNamesTransformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://XSDBOM39_GeneratedClassDuplicateNamesTransformation" xmlns:tns1="http://XSDBOM39_GeneratedClassDuplicateNamesTransformation"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://XSDBOM39_GeneratedClassDuplicateNamesTransformation">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/fd/Business Objects/XSDBOM39_GeneratedClassDuplicateNamesTransformation.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Class1" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass1"
      abstract="false" mixed="false" name="Class1">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class1AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class2" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass2"
      abstract="false" mixed="false" name="Class2">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class2AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType2" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType2"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute2"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class3" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass3"
      abstract="false" mixed="false" name="Class3">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class3AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType3" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType23"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute23"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class4" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass4"
      abstract="false" mixed="false" name="Class4">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class4AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType4" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType234"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute234"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class5" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass5"
      abstract="false" mixed="false" name="Class5">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class5AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType5" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType2345"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute2345"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class6" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass6"
      abstract="false" mixed="false" name="Class6">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class6AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType6" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType23456"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute23456"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class7" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass7"
      abstract="false" mixed="false" name="Class7">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class7AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType7" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType234567"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute234567"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class8" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass8"
      abstract="false" mixed="false" name="Class8">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class8AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType8" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType2345678"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute2345678"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class9" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass9"
      abstract="false" mixed="false" name="Class9">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class9AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType9" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType23456789"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute23456789"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class10" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationClass10"
      abstract="false" mixed="false" name="Class10">
    <xsd:sequence>
      <xsd:element ecore:name="associatedClass" id="Class10AssociatedClassType" form="qualified"
          maxOccurs="1" minOccurs="1" name="AssociatedClass">
        <xsd:complexType ecore:name="AssociatedClassType1" id="XSDBOM39_GeneratedClassDuplicateNamesTransformationAssociatedClassType2345678910"
            mixed="false">
          <xsd:attribute ecore:name="attribute" id="AssociatedClassTypeattribute2345678910"
              form="unqualified" name="attribute" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>