tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTest"
    xmlns:tns1="http://www.example.org/XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTest"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTest">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/kkapill/Business Objects/org.example.XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Customer" id="org.example.XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTestCustomer"
      abstract="false" mixed="false" name="Customer">
    <xsd:sequence>
      <xsd:element ecore:name="customer" id="CustomerCustomer" form="qualified" maxOccurs="1"
          minOccurs="1" name="Customer" type="Person"/>
      <xsd:element ecore:name="contract" id="CustomerContract" form="qualified" maxOccurs="1"
          minOccurs="1" name="Contract" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Person" id="org.example.XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTestPerson"
      abstract="false" mixed="false" name="Person">
    <xsd:sequence>
      <xsd:element ecore:name="name" id="Personname" form="qualified" maxOccurs="1"
          minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="address" id="Personaddress" form="qualified" maxOccurs="1"
          minOccurs="1" name="address" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>