tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XSDBOM30_ComplexNamesSameAsBaseTypeNamesTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com/complexbasenames" xmlns:tns1="http://com/complexbasenames" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/complexbasenames">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/fsdfs/Business Objects/XSDBOM30_ComplexNamesSameAsBaseTypeNamesTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="com.complexbasenamesAccountSearchCriteria" abstract="false"
      mixed="false" name="AccountSearchCriteria">
    <xsd:sequence>
      <xsd:element id="AccountSearchCriterianame" form="unqualified" maxOccurs="1"
          minOccurs="0" name="name" type="Name"/>
      <xsd:element id="AccountSearchCriteriaboolean" form="unqualified" maxOccurs="1"
          minOccurs="0" name="boolean" type="boolean"/>
      <xsd:element id="AccountSearchCriteriadateTime" form="unqualified" maxOccurs="1"
          minOccurs="0" name="dateTime" type="dateTime"/>
      <xsd:element id="AccountSearchCriteriadecimal" form="unqualified" maxOccurs="1"
          minOccurs="0" name="decimal" type="decimal"/>
      <xsd:element id="AccountSearchCriteriafloat" form="unqualified" maxOccurs="1"
          minOccurs="0" name="float" type="float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.complexbasenamesName" abstract="false" mixed="false" name="Name"/>
  <xsd:complexType id="com.complexbasenamesboolean" abstract="false" mixed="false"
      name="boolean"/>
  <xsd:complexType id="com.complexbasenamesdateTime" abstract="false" mixed="false"
      name="dateTime"/>
  <xsd:complexType id="com.complexbasenamesdecimal" abstract="false" mixed="false"
      name="decimal"/>
  <xsd:complexType id="com.complexbasenamesfloat" abstract="false" mixed="false" name="float"/>
</xsd:schema>