tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XSDBOM11_CheckDifferentTypesImportedTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/DifferentTypes" xmlns:tns1="http://www.example.org/DifferentTypes"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/DifferentTypes">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM11_CheckDifferentTypesImportedTransformationTest/Business Objects/org.example.DifferentTypes.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="tmpItem" id="org.example.DifferentTypestmpItem" abstract="false"
      mixed="false" name="tmpItem">
    <xsd:sequence>
      <xsd:element ecore:name="anyURIX" id="tmpItemanyURIX" form="qualified" maxOccurs="1"
          minOccurs="1" name="anyURIX" type="xsd:anyURI"/>
      <xsd:element ecore:name="booleanX" id="tmpItembooleanX" form="qualified" maxOccurs="1"
          minOccurs="1" name="booleanX" type="xsd:boolean"/>
      <xsd:element ecore:name="byteX" id="tmpItembyteX" form="qualified" maxOccurs="1"
          minOccurs="1" name="byteX" type="tns1:byte_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="dateX" id="tmpItemdateX" form="qualified" maxOccurs="1"
          minOccurs="1" name="dateX" type="xsd:date"/>
      <xsd:element ecore:name="dateTimeX" id="tmpItemdateTimeX" form="qualified" maxOccurs="1"
          minOccurs="1" name="dateTimeX" type="xsd:dateTime"/>
      <xsd:element ecore:name="decimalX" id="tmpItemdecimalX" form="qualified" maxOccurs="1"
          minOccurs="1" name="decimalX" type="xsd:decimal"/>
      <xsd:element ecore:name="doubleX" id="tmpItemdoubleX" form="qualified" maxOccurs="1"
          minOccurs="1" name="doubleX" type="tns1:double_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="durationX" id="tmpItemdurationX" form="qualified" maxOccurs="1"
          minOccurs="1" name="durationX" type="xsd:duration"/>
      <xsd:element ecore:name="entitiesX" id="tmpItementitiesX" form="qualified" maxOccurs="1"
          minOccurs="1" name="entitiesX" type="tns1:entities_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="entityX" id="tmpItementityX" form="qualified" maxOccurs="1"
          minOccurs="1" name="entityX" type="tns1:entity_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="floatX" id="tmpItemfloatX" form="qualified" maxOccurs="1"
          minOccurs="1" name="floatX" type="tns1:float_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gdayX" id="tmpItemgDayX" form="qualified" maxOccurs="1"
          minOccurs="1" name="gDayX" type="tns1:gday_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gmonthX" id="tmpItemgMonthX" form="qualified" maxOccurs="1"
          minOccurs="1" name="gMonthX" type="tns1:gmonth_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gmonthDayX" id="tmpItemgMonthDayX" form="qualified"
          maxOccurs="1" minOccurs="1" name="gMonthDayX" type="tns1:gmonthday_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gyearX" id="tmpItemgYearX" form="qualified" maxOccurs="1"
          minOccurs="1" name="gYearX" type="tns1:gyear_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gyearMonthX" id="tmpItemgYearMonthX" form="qualified"
          maxOccurs="1" minOccurs="1" name="gYearMonthX" type="tns1:gyearmonth_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="hexBinaryX" id="tmpItemhexBinaryX" form="qualified"
          maxOccurs="1" minOccurs="1" name="hexBinaryX" type="tns1:hexbinary_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="base64BinaryX" id="tmpItembase64BinaryX" form="qualified"
          maxOccurs="1" minOccurs="1" name="base64BinaryX" type="tns1:base64binary_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="idX" id="tmpItemidX" form="qualified" maxOccurs="1"
          minOccurs="1" name="idX" type="tns1:id_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="idhrefX" id="tmpItemidhrefX" form="qualified" maxOccurs="1"
          minOccurs="1" name="idhrefX" type="tns1:idref_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="idhrefsX" id="tmpItemidhrefsX" form="qualified" maxOccurs="1"
          minOccurs="1" name="idhrefsX" type="tns1:idrefs_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="intX" id="tmpItemintX" form="qualified" maxOccurs="1"
          minOccurs="1" name="intX" type="xsd:int"/>
      <xsd:element ecore:name="integerX" id="tmpItemintegerX" form="qualified" maxOccurs="1"
          minOccurs="1" name="integerX" type="xsd:integer"/>
      <xsd:element ecore:name="languageX" id="tmpItemlanguageX" form="qualified" maxOccurs="1"
          minOccurs="1" name="languageX" type="tns1:language_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="longX" id="tmpItemlongX" form="qualified" maxOccurs="1"
          minOccurs="1" name="longX" type="tns1:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="nameX" id="tmpItemnameX" form="qualified" maxOccurs="1"
          minOccurs="1" name="nameX" type="tns1:name_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="ncNameX" id="tmpItemncNameX" form="qualified" maxOccurs="1"
          minOccurs="1" name="ncNameX" type="tns1:ncname_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="negativeIntegerX" id="tmpItemnegativeIntegerX" form="qualified"
          maxOccurs="1" minOccurs="1" name="negativeIntegerX" type="tns1:negativeinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="nmTOKENX" id="tmpItemnmTOKENX" form="qualified" maxOccurs="1"
          minOccurs="1" name="nmTOKENX" type="tns1:nmtoken_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="nmTOKENSX" id="tmpItemnmTOKENSX" form="qualified" maxOccurs="1"
          minOccurs="1" name="nmTOKENSX" type="tns1:nmtokens_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="nonNegativeIntegerX" id="tmpItemnonNegativeIntegerX"
          form="qualified" maxOccurs="1" minOccurs="1" name="nonNegativeIntegerX"
          type="tns1:nonnegativeinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="nonPositiveIntegerX" id="tmpItemnonPositiveIntegerX"
          form="qualified" maxOccurs="1" minOccurs="1" name="nonPositiveIntegerX"
          type="tns1:nonpositiveinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="normalizedStringX" id="tmpItemnormalizedStringX" form="qualified"
          maxOccurs="1" minOccurs="1" name="normalizedStringX" type="tns1:normalizedstring_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="positiveIntegerX" id="tmpItempositiveIntegerX" form="qualified"
          maxOccurs="1" minOccurs="1" name="positiveIntegerX" type="tns1:positiveinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="qnameX" id="tmpItemqNameX" form="qualified" maxOccurs="1"
          minOccurs="1" name="qNameX" type="tns1:qname_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="shortX" id="tmpItemshortX" form="qualified" maxOccurs="1"
          minOccurs="1" name="shortX" type="tns1:short_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="stringX" id="tmpItemstringX" form="qualified" maxOccurs="1"
          minOccurs="1" name="stringX" type="xsd:string"/>
      <xsd:element ecore:name="timeX" id="tmpItemtimeX" form="qualified" maxOccurs="1"
          minOccurs="1" name="timeX" type="xsd:time"/>
      <xsd:element ecore:name="tokenX" id="tmpItemtokenX" form="qualified" maxOccurs="1"
          minOccurs="1" name="tokenX" type="tns1:token_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="unsignedByteX" id="tmpItemunsignedByteX" form="qualified"
          maxOccurs="1" minOccurs="1" name="unsignedByteX" type="tns1:unsignedbyte_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="unsignedIntX" id="tmpItemunsignedIntX" form="qualified"
          maxOccurs="1" minOccurs="1" name="unsignedIntX" type="tns1:unsignedint_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="unsignedLongX" id="tmpItemunsignedLongX" form="qualified"
          maxOccurs="1" minOccurs="1" name="unsignedLongX" type="tns1:unsignedlong_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="unsignedShortX" id="tmpItemunsignedShortX" form="qualified"
          maxOccurs="1" minOccurs="1" name="unsignedShortX" type="tns1:unsignedshort_StudioGeneratedTemplate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="byte_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="-128"/>
      <xsd:maxInclusive value="127"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="double_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-179.76931348623157E+306"/>
      <xsd:maxInclusive value="179.76931348623157E+306"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="entities_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="entity_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="float_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-340.28235E+36"/>
      <xsd:maxInclusive value="340.28235E+36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gday_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\-\-\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gmonth_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\-\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gmonthday_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\-\-(0[1-9]|[1][0-2])\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gyear_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gyearmonth_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="hexbinary_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9a-fA-F][0-9a-fA-F])*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="base64binary_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(([A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[A-Za-z0-9+/] ?)*(([A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[A-Za-z0-9+/])|([A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[AEIMQUYcgkosw048] ?=)|([A-Za-z0-9+/] ?[AQgw] ?= ?=)))?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="id_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idref_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idrefs_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="language_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="name_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\i\c*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ncname_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="negativeinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="-1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nmtoken_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\c+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nmtokens_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\c+( \c+)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nonnegativeinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nonpositiveinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="normalizedstring_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="positiveinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="qname_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="short_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="-32768"/>
      <xsd:maxInclusive value="32767"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="token_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^ \t\n\r]+([ ][^ \t\n\r]+)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unsignedbyte_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unsignedint_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="4294967295"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unsignedlong_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="18446744073709551615"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unsignedshort_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="65535"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>