tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XSDBOM27_ComplexExplicitGroupHierarchyTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM27_ComplexExplicitGroupHierarchyTransformationTest"
    xmlns:tns1="http://www.example.org/XSDBOM27_ComplexExplicitGroupHierarchyTransformationTest"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM27_ComplexExplicitGroupHierarchyTransformationTest">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM27_ComplexExplicitGroupHierarchyTransformationTest/Business Objects/org.example.XSDBOM27_ComplexExplicitGroupHierarchyTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="PersonDetails" id="org.example.XSDBOM27_ComplexExplicitGroupHierarchyTransformationTestPersonDetails"
      abstract="false" mixed="false" name="PersonDetails">
    <xsd:sequence>
      <xsd:sequence>
        <xsd:element ecore:name="groupAElem1" id="PersonDetailsgroupAElem1" form="qualified"
            maxOccurs="1" minOccurs="1" name="groupAElem1" type="xsd:string"/>
      </xsd:sequence>
      <xsd:element ecore:name="elem1" id="PersonDetailselem1" form="qualified" maxOccurs="1"
          minOccurs="1" name="elem1" type="xsd:string"/>
      <xsd:element ecore:name="elem2" id="PersonDetailselem2" form="qualified" maxOccurs="1"
          minOccurs="1" name="elem2" type="xsd:string"/>
      <xsd:sequence>
        <xsd:element ecore:name="groupBElem1" id="PersonDetailsgroupBElem1" form="qualified"
            maxOccurs="1" minOccurs="1" name="groupBElem1" type="xsd:string"/>
        <xsd:sequence>
          <xsd:element ecore:name="groupBElem2" id="PersonDetailsgroupBElem2" form="qualified"
              maxOccurs="1" minOccurs="1" name="groupBElem2" type="xsd:string"/>
          <xsd:sequence>
            <xsd:element ecore:name="groupBElem3" id="PersonDetailsgroupBElem3" form="qualified"
                maxOccurs="1" minOccurs="1" name="groupBElem3" type="xsd:string"/>
            <xsd:sequence>
              <xsd:element ecore:name="groupDElem1" id="PersonDetailsgroupDElem1"
                  form="qualified" maxOccurs="1" minOccurs="1" name="groupDElem1"
                  type="xsd:string"/>
              <xsd:element ecore:name="groupDElem2" id="PersonDetailsgroupDElem2"
                  form="qualified" maxOccurs="1" minOccurs="1" name="groupDElem2"
                  type="xsd:string"/>
            </xsd:sequence>
            <xsd:element ecore:name="groupBElem4" id="PersonDetailsgroupBElem4" form="qualified"
                maxOccurs="1" minOccurs="1" name="groupBElem4" type="xsd:string"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:sequence>
      <xsd:element ecore:name="elem3" id="PersonDetailselem3" form="qualified" maxOccurs="1"
          minOccurs="1" name="elem3" type="xsd:string"/>
      <xsd:element ecore:name="elem4" id="PersonDetailselem4" form="qualified" maxOccurs="1"
          minOccurs="1" name="elem4" type="xsd:string"/>
      <xsd:sequence>
        <xsd:element ecore:name="groupCElem1" id="PersonDetailsgroupCElem1" form="qualified"
            maxOccurs="1" minOccurs="1" name="groupCElem1" type="xsd:string"/>
        <xsd:sequence>
          <xsd:element ecore:name="groupCElem2" id="PersonDetailsgroupCElem2" form="qualified"
              maxOccurs="1" minOccurs="1" name="groupCElem2" type="xsd:string"/>
          <xsd:sequence>
            <xsd:element ecore:name="groupCElem3" id="PersonDetailsgroupCElem3" form="qualified"
                maxOccurs="1" minOccurs="1" name="groupCElem3" type="xsd:string"/>
            <xsd:sequence>
              <xsd:element ecore:name="groupCElem4" id="PersonDetailsgroupCElem4"
                  form="qualified" maxOccurs="1" minOccurs="1" name="groupCElem4"
                  type="xsd:string"/>
              <xsd:element ecore:name="groupCElem5" id="PersonDetailsgroupCElem5"
                  form="qualified" maxOccurs="1" minOccurs="1" name="groupCElem5"
                  type="xsd:string"/>
            </xsd:sequence>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:sequence>
      <xsd:element ecore:name="gdf" id="PersonDetailsgdf" form="qualified" maxOccurs="1"
          minOccurs="1" name="gdf" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="attr1" id="PersonDetailsattr1" form="unqualified" name="attr1"
        type="xsd:string" use="optional"/>
  </xsd:complexType>
</xsd:schema>