tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.wsdlgen.test/resources/DocLitReqActsSimpAndBOMtypes/DocLitWsdlGen/Service Descriptors/UsingSimpleTypes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_FaqGgNeKEd-2PosGfugNUA" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsingSimpleTypes" targetNamespace="http://www.tibco.com/bs3.0/_FaqGgNeKEd-2PosGfugNUA" tibex:XPDL="UsingSimpleTypes.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_FaqGgNeKEd-2PosGfugNUA" targetNamespace="http://www.tibco.com/bs3.0/_FaqGgNeKEd-2PosGfugNUA">
      <xsd:simpleType name="boolean">
        <xsd:restriction base="xsd:boolean"/>
      </xsd:simpleType>
      <xsd:element name="RcvTask_booleanP" type="boolean"/>
      <xsd:simpleType name="dateTime">
        <xsd:restriction base="xsd:dateTime"/>
      </xsd:simpleType>
      <xsd:element name="RcvTask_datetimeP" type="dateTime"/>
      <xsd:simpleType name="decimal__">
        <xsd:restriction base="xsd:decimal"/>
      </xsd:simpleType>
      <xsd:element name="RcvTask_decP" type="decimal__"/>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:date"/>
      </xsd:simpleType>
      <xsd:element name="RcvTask_dtP" type="date"/>
      <xsd:simpleType name="integer_10">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="RcvTask_intgr" type="integer_10"/>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:element name="RcvTask_performer" type="string"/>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="RcvTask_txt" type="string_50"/>
      <xsd:element name="StartEvent_booleanP" type="boolean"/>
      <xsd:element name="StartEvent_datetimeP" type="dateTime"/>
      <xsd:element name="StartEvent_decP" type="decimal__"/>
      <xsd:element name="StartEvent_dtP" type="date"/>
      <xsd:element name="StartEvent_intgr" type="integer_10"/>
      <xsd:element name="StartEvent_performer" type="string"/>
      <xsd:element name="StartEvent_txt" type="string_50"/>
      <xsd:element name="IntMsgAct_booleanP" type="boolean"/>
      <xsd:element name="IntMsgAct_datetimeP" type="dateTime"/>
      <xsd:element name="IntMsgAct_decP" type="decimal__"/>
      <xsd:element name="IntMsgAct_dtP" type="date"/>
      <xsd:element name="IntMsgAct_intgr" type="integer_10"/>
      <xsd:element name="IntMsgAct_performer" type="string"/>
      <xsd:element name="IntMsgAct_txt" type="string_50"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RcvTask_ReceiveTask_INPUT">
    <wsdl:part element="ns:RcvTask_booleanP" name="booleanP"/>
    <wsdl:part element="ns:RcvTask_datetimeP" name="datetimeP"/>
    <wsdl:part element="ns:RcvTask_decP" name="decP"/>
    <wsdl:part element="ns:RcvTask_dtP" name="dtP"/>
    <wsdl:part element="ns:RcvTask_intgr" name="intgr"/>
    <wsdl:part element="ns:RcvTask_performer" name="performer"/>
    <wsdl:part element="ns:RcvTask_txt" name="txt"/>
  </wsdl:message>
  <wsdl:message name="RcvTask_ReceiveTask_OUTPUT">
    <wsdl:part element="ns:RcvTask_booleanP" name="booleanP"/>
    <wsdl:part element="ns:RcvTask_datetimeP" name="datetimeP"/>
    <wsdl:part element="ns:RcvTask_decP" name="decP"/>
    <wsdl:part element="ns:RcvTask_dtP" name="dtP"/>
    <wsdl:part element="ns:RcvTask_intgr" name="intgr"/>
    <wsdl:part element="ns:RcvTask_performer" name="performer"/>
    <wsdl:part element="ns:RcvTask_txt" name="txt"/>
  </wsdl:message>
  <wsdl:message name="StartEvent_StartEvent_INPUT">
    <wsdl:part element="ns:StartEvent_booleanP" name="booleanP"/>
    <wsdl:part element="ns:StartEvent_datetimeP" name="datetimeP"/>
    <wsdl:part element="ns:StartEvent_decP" name="decP"/>
    <wsdl:part element="ns:StartEvent_dtP" name="dtP"/>
    <wsdl:part element="ns:StartEvent_intgr" name="intgr"/>
    <wsdl:part element="ns:StartEvent_performer" name="performer"/>
    <wsdl:part element="ns:StartEvent_txt" name="txt"/>
  </wsdl:message>
  <wsdl:message name="StartEvent_StartEvent_OUTPUT">
    <wsdl:part element="ns:StartEvent_booleanP" name="booleanP"/>
    <wsdl:part element="ns:StartEvent_datetimeP" name="datetimeP"/>
    <wsdl:part element="ns:StartEvent_decP" name="decP"/>
    <wsdl:part element="ns:StartEvent_dtP" name="dtP"/>
    <wsdl:part element="ns:StartEvent_intgr" name="intgr"/>
    <wsdl:part element="ns:StartEvent_performer" name="performer"/>
    <wsdl:part element="ns:StartEvent_txt" name="txt"/>
  </wsdl:message>
  <wsdl:message name="IntMsgAct_CatchMessageEvent_INPUT">
    <wsdl:part element="ns:IntMsgAct_booleanP" name="booleanP"/>
    <wsdl:part element="ns:IntMsgAct_datetimeP" name="datetimeP"/>
    <wsdl:part element="ns:IntMsgAct_decP" name="decP"/>
    <wsdl:part element="ns:IntMsgAct_dtP" name="dtP"/>
    <wsdl:part element="ns:IntMsgAct_intgr" name="intgr"/>
    <wsdl:part element="ns:IntMsgAct_performer" name="performer"/>
    <wsdl:part element="ns:IntMsgAct_txt" name="txt"/>
  </wsdl:message>
  <wsdl:message name="IntMsgAct_CatchMessageEvent_OUTPUT">
    <wsdl:part element="ns:IntMsgAct_booleanP" name="booleanP"/>
    <wsdl:part element="ns:IntMsgAct_datetimeP" name="datetimeP"/>
    <wsdl:part element="ns:IntMsgAct_decP" name="decP"/>
    <wsdl:part element="ns:IntMsgAct_dtP" name="dtP"/>
    <wsdl:part element="ns:IntMsgAct_intgr" name="intgr"/>
    <wsdl:part element="ns:IntMsgAct_performer" name="performer"/>
    <wsdl:part element="ns:IntMsgAct_txt" name="txt"/>
  </wsdl:message>
  <wsdl:portType name="RcvTask" tibex:FlowContainer="_8MM9cNeKEd-2PosGfugNUA">
    <wsdl:operation name="ReceiveTask">
      <wsdl:input message="ns:RcvTask_ReceiveTask_INPUT" tibex:Event="__HqB8NeKEd-2PosGfugNUA"/>
      <wsdl:output message="ns:RcvTask_ReceiveTask_OUTPUT" tibex:Event="__HqB8NeKEd-2PosGfugNUA"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StartEvent" tibex:FlowContainer="_FbtPYNeKEd-2PosGfugNUA">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="StartEvent">
      <wsdl:input message="ns:StartEvent_StartEvent_INPUT" tibex:Event="_GRgO-deKEd-2PosGfugNUA"/>
      <wsdl:output message="ns:StartEvent_StartEvent_OUTPUT" tibex:Event="_GRgO-deKEd-2PosGfugNUA"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IntMsgAct" tibex:FlowContainer="_FI2vYNeLEd-2PosGfugNUA">
    <wsdl:operation name="CatchMessageEvent">
      <wsdl:input message="ns:IntMsgAct_CatchMessageEvent_INPUT" tibex:Event="_HM4coNeLEd-2PosGfugNUA"/>
      <wsdl:output message="ns:IntMsgAct_CatchMessageEvent_OUTPUT" tibex:Event="_HM4coNeLEd-2PosGfugNUA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
