tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM36_SameNamePrimTypeInTwoSchemas/gold/builder/org.example.PrimSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/PrimSchema1" xmlns:tns2="http://www.example.org/PrimSchema1"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns3="http://www.example.org/PrimSchema2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/PrimSchema1">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD4041/Generated Business Objects/org.example.PrimSchema1.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.example.org/PrimSchema2" schemaLocation="org.example.PrimSchema2.xsd"/>
  <xsd:simpleType ecore:name="MyString" id="org.example.PrimSchema1MyString2" name="MyString">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="ComplexWithPrimTypeInSameSchema" id="org.example.PrimSchema1ComplexWithPrimTypeInSameSchema"
      abstract="false" mixed="false" name="ComplexWithPrimTypeInSameSchema">
    <xsd:sequence>
      <xsd:element ecore:name="myprimtype" id="ComplexWithPrimTypeInSameSchemamyprimtype2"
          form="qualified" maxOccurs="1" minOccurs="1" name="myprimtype" type="tns2:MyString"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ComplexWithPrimTypeInOtherSchema" id="org.example.PrimSchema1ComplexWithPrimTypeInOtherSchema"
      abstract="false" mixed="false" name="ComplexWithPrimTypeInOtherSchema">
    <xsd:sequence>
      <xsd:element ecore:name="otherprimtype" id="ComplexWithPrimTypeInOtherSchemaotherprimtype"
          form="qualified" maxOccurs="1" minOccurs="1" name="otherprimtype" type="tns3:MyString"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>