tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/XPD547WSDLToBOMAndWSDLBOMIndexingTest/WSDLtoBOM Indexer Testcases/Service Descriptors/ExternalXSDDifferentNamespace.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ExternalXSDDifferentNamespace/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExternalXSDDifferentNamespace" targetNamespace="http://www.example.org/ExternalXSDDifferentNamespace/" xmlns:xsd1="http://www.example.org/ExternalXSD" xmlns:xsd2="http://www.example.org/WsdlImportedExternalXSD">

  <wsdl:import namespace="http://www.example.org/WsdlImportedExternalXSD" location="WsdlImportedExternalXXSSD.xsd"/>

  <wsdl:types>
    <xsd:schema xmlns:xyz="http://www.example.org/ExternalXSD" targetNamespace="http://www.example.org/ExternalXSDDifferentNamespace/">
     <xsd:import namespace="http://www.example.org/ExternalXSD" schemaLocation="ExternalXXSSD.xsd"></xsd:import>
     
        <xsd:complexType name="NewOperation">
          <xsd:sequence>
          	<xsd:element name="definedInWsdlInline" type="xsd:string" />
          	<xsd:element name="referenceToInlineXsdImportedType" type="xyz:XYZ"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="NewOperationResponse">
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="TestComplex">
        	<xsd:sequence>
        		<xsd:element name="InnerEl">
        			<xsd:complexType>
        				<xsd:complexContent>
        					<xsd:extension base="xyz:XYZ"></xsd:extension>		
        				</xsd:complexContent>
        			</xsd:complexType>
        		</xsd:element>
        	</xsd:sequence>
        </xsd:complexType>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="ExtSchemasDifferentNamespaceOperationRequest">
    <wsdl:part type="tns:NewOperation" name="inInlineTypeUsesTypeFromImportedXsd"/>
    <wsdl:part name="directReferenceToSchemaImportedXsd" type="xsd1:XYZ"></wsdl:part>
    <wsdl:part name="directReferenceToWsdlImportedXsd" type="xsd2:WsdlImportedXYZ"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExtSchemasDifferentNamespaceOperationResponse">
    <wsdl:part type="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ExternalXSDDifferentNamespace">
    <wsdl:operation name="ExtSchemasDifferentNamespaceOperation">
      <wsdl:input message="tns:ExtSchemasDifferentNamespaceOperationRequest"/>
      <wsdl:output message="tns:ExtSchemasDifferentNamespaceOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExternalXSDDifferentNamespaceSOAP" type="tns:ExternalXSDDifferentNamespace">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ExtSchemasDifferentNamespaceOperation">
      <soap:operation soapAction="http://www.example.org/ExternalXSDDifferentNamespace/ExtSchemasDifferentNamespaceOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalXSDDifferentNamespace">
    <wsdl:port binding="tns:ExternalXSDDifferentNamespaceSOAP" name="ExternalXSDDifferentNamespaceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
