tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9FXsdAnySimpleType/WSDL/AnySimpleTypeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/AnySimpleTypeService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AnySimpleTypeService"
	targetNamespace="http://www.example.org/AnySimpleTypeService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/AnySimpleTypeService/">
			<xsd:element name="GetRandomData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRandomDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
						<xsd:element name="couldBeString" type="xsd:anySimpleType" />
						<xsd:element name="couldBeInteger" type="xsd:anySimpleType" />
						<xsd:element name="couldBeDate" type="xsd:anySimpleType" />
						<xsd:element name="couldBeFloat" type="xsd:anySimpleType" />
						<xsd:element name="couldBeBoolean" type="xsd:anySimpleType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendRandomData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
						<xsd:element name="couldBeString" type="xsd:anySimpleType" />
						<xsd:element name="couldBeInteger" type="xsd:anySimpleType" />
						<xsd:element name="couldBeDate" type="xsd:anySimpleType" />
						<xsd:element name="couldBeFloat" type="xsd:anySimpleType" />
						<xsd:element name="couldBeBoolean" type="xsd:anySimpleType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendRandomDataResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="result" type="xsd:boolean"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetRandomDataRequest">
		<wsdl:part element="tns:GetRandomData" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetRandomDataResponse">
		<wsdl:part element="tns:GetRandomDataResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendRandomDataRequest">
		<wsdl:part name="parameters" element="tns:SendRandomData"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SendRandomDataResponse">
		<wsdl:part name="parameters" element="tns:SendRandomDataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AnySimpleTypeService">
		<wsdl:operation name="GetRandomData">
			<wsdl:input message="tns:GetRandomDataRequest" />
			<wsdl:output message="tns:GetRandomDataResponse" />
		</wsdl:operation>
		<wsdl:operation name="SendRandomData">
			<wsdl:input message="tns:SendRandomDataRequest"></wsdl:input>
			<wsdl:output message="tns:SendRandomDataResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AnySimpleTypeServiceSOAP" type="tns:AnySimpleTypeService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetRandomData">
			<soap:operation
				soapAction="http://www.example.org/AnySimpleTypeService/GetRandomData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SendRandomData">
			<soap:operation
				soapAction="http://www.example.org/AnySimpleTypeService/GetRandomData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AnySimpleTypeService">
		<wsdl:port binding="tns:AnySimpleTypeServiceSOAP" name="AnySimpleTypeServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
