tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9FXsdAnySimpleType/WSDL/UC9FXsdAnySimpleTypeAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/UC9FXsdAnySimpleTypeAbstract/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="UC9FXsdAnySimpleTypeAbstract" targetNamespace="http://www.example.org/UC9FXsdAnySimpleTypeAbstract/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/UC9FXsdAnySimpleTypeAbstract/">
			<xsd:element name="GetRandomDataRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
						<xsd:element name="couldBeString" type="xsd:anySimpleType" />
						<xsd:element name="couldBeInteger" type="xsd:anySimpleType" />
						<xsd:element name="couldBeDate" type="xsd:anySimpleType" />
						<xsd:element name="couldBeFloat" type="xsd:anySimpleType" />
						<xsd:element name="couldBeBoolean" type="xsd:anySimpleType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRandomDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
						<xsd:element name="couldBeString" type="xsd:anySimpleType" />
						<xsd:element name="couldBeInteger" type="xsd:anySimpleType" />
						<xsd:element name="couldBeDate" type="xsd:anySimpleType" />
						<xsd:element name="couldBeFloat" type="xsd:anySimpleType" />
						<xsd:element name="couldBeBoolean" type="xsd:anySimpleType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetRandomDataRequest">
		<wsdl:part element="tns:GetRandomDataRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetRandomDataResponse">
		<wsdl:part element="tns:GetRandomDataResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="UC9FXsdAnySimpleTypeAbstract">
		<wsdl:operation name="GetRandomData">
			<wsdl:input message="tns:GetRandomDataRequest" />
			<wsdl:output message="tns:GetRandomDataResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UC9FXsdAnySimpleTypeAbstractSOAP"
		type="tns:UC9FXsdAnySimpleTypeAbstract">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetRandomData">
			<soap:operation
				soapAction="http://www.example.org/UC9FXsdAnySimpleTypeAbstract/GetRandomData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UC9FXsdAnySimpleTypeAbstract">
		<wsdl:port binding="tns:UC9FXsdAnySimpleTypeAbstractSOAP"
			name="UC9FXsdAnySimpleTypeAbstractSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
