tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC1CfWSInvokeJavaScriptCDS/Service Descriptors/DummyWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_PkpXgHJvEd-FheAVh0HI0A1" xmlns:tns1="http://example.com/newuserrequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessPackage" targetNamespace="http://www.tibco.com/bs3.0/_PkpXgHJvEd-FheAVh0HI0A1" xmlns:st1="http://www.tibco.com/bs3.0/_PkpXgHJvEd-FheAVh0HI0A_GatherUserInformation__otu80HdGEd-N8_g3KrbO3g" xmlns:st2="http://www.tibco.com/bs3.0/_PkpXgHJvEd-FheAVh0HI0A_CheckifRequestorisVPoraboveARMRestfulAPI__TIVgUHl4Ed-VxNqbjTK23A">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_PkpXgHJvEd-FheAVh0HI0A_GatherUserInformation__otu80HdGEd-N8_g3KrbO3g" targetNamespace="http://www.tibco.com/bs3.0/_PkpXgHJvEd-FheAVh0HI0A_GatherUserInformation__otu80HdGEd-N8_g3KrbO3g">
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_PkpXgHJvEd-FheAVh0HI0A_CheckifRequestorisVPoraboveARMRestfulAPI__TIVgUHl4Ed-VxNqbjTK23A" targetNamespace="http://www.tibco.com/bs3.0/_PkpXgHJvEd-FheAVh0HI0A_CheckifRequestorisVPoraboveARMRestfulAPI__TIVgUHl4Ed-VxNqbjTK23A">
      <xsd:simpleType name="myboolean">
        <xsd:restriction base="xsd:boolean"/>
      </xsd:simpleType>
    </xsd:schema>
   <xsd:schema xmlns="http://example.com/newuserrequest" xmlns:tns1="http://example.com/newuserrequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/newuserrequest">
    <xsd:complexType id="_f_vycHcZEd-yZfh7D0paag" name="Employee">
    <xsd:sequence>
      <xsd:element id="_h0uXEHcZEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="firstName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_h2Ea4HcZEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="lastName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_h2qQwHcZEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="email">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_iswLQHcZEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="phone">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_i1_m0HcZEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="raCFID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_8rpJkHpjEd-AOPV52W0hEw" maxOccurs="1" minOccurs="0" name="title">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_lMErUHpkEd-AOPV52W0hEw" maxOccurs="1" minOccurs="0" name="userId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="_0nItMHcZEd-yZfh7D0paag" name="RequestInformation">
    <xsd:sequence>
      <xsd:element id="_6w-ZQHcZEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="requestor"
          type="Employee"/>
      <xsd:element id="_9z4woHcZEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="requestee"
          type="Employee"/>
      <xsd:element id="_ID6OMHj3Ed-onJPXn1HflA" maxOccurs="1" minOccurs="0" name="requestorComment">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_-EbHAHcZEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="reportingManager"
          type="Employee"/>
      <xsd:element id="_enB2lHcaEd-yZfh7D0paag" maxOccurs="unbounded" minOccurs="1"
          name="productInformation" type="ProductInformation"/>
      <xsd:element id="_yqVz5HcaEd-yZfh7D0paag" maxOccurs="1" minOccurs="1" name="approvalinformation"
          type="ApprovalInformation"/>
      <xsd:element id="_T_czIHj3Ed-onJPXn1HflA" default="false" maxOccurs="1" minOccurs="0"
          name="newUserIDRequest">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_rCRAYHioEd-D4cJTy1UZ0Q" maxOccurs="1" minOccurs="0" name="userID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_Mia9UHipEd-D4cJTy1UZ0Q" maxOccurs="1" minOccurs="0" name="company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="_DaaUQHcaEd-yZfh7D0paag" name="ProductInformation">
    <xsd:sequence>
      <xsd:element id="_FVfg4HcaEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="productID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_GKPXkHcaEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="productDescription">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_G60f8HcaEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="siSID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_HmViIHcaEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="role">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_ILlkQHcaEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="tag">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_I03KwHcaEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="productApproverVP"
          type="Employee"/>
      <xsd:element id="_J81fcHcaEd-yZfh7D0paag" default="false" maxOccurs="1" minOccurs="0"
          name="productRequestApproval">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_9Qg9EHj2Ed-onJPXn1HflA" maxOccurs="1" minOccurs="0" name="productApproverVPComment">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="_j2ng4HcaEd-yZfh7D0paag" name="ApprovalInformation">
    <xsd:sequence>
      <xsd:element id="_lE_YgHcaEd-yZfh7D0paag" default="false" maxOccurs="1" minOccurs="0"
          name="employeeRequestApproval">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_llCKgHcaEd-yZfh7D0paag" maxOccurs="1" minOccurs="0" name="employeeRequestApproverVP"
          type="Employee"/>
      <xsd:element id="_FE4RQHj3Ed-onJPXn1HflA" maxOccurs="1" minOccurs="0" name="employeeRequestApproverVPComment">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="_7fPOkHpoEd-0CrKr3h_eqg" name="ProductInformationList">
    <xsd:sequence>
      <xsd:element id="__Kuo4HpoEd-0CrKr3h_eqg" maxOccurs="unbounded" minOccurs="0"
          name="productInformation" type="ProductInformation"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="_2KPMoHsUEd-x6ZzIwFKy_g" name="ProductQualifier">
    <xsd:sequence>
      <xsd:element id="_fgsYwI0vEd-9GuEkxt9wOQ" default="false" maxOccurs="1" minOccurs="0"
          name="select">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_4m3nIHsUEd-x6ZzIwFKy_g" maxOccurs="1" minOccurs="0" name="productId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_5sWBcHsUEd-x6ZzIwFKy_g" maxOccurs="1" minOccurs="0" name="productDescription">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_oT-CAJMeEd-p-t6Su98_Vw" maxOccurs="unbounded" minOccurs="0"
          name="roleList">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_oYfVoJMeEd-p-t6Su98_Vw" maxOccurs="1" minOccurs="0" name="selectedRole">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_ocwxoJMeEd-p-t6Su98_Vw" maxOccurs="unbounded" minOccurs="0"
          name="tagList">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="_oiyhIJMeEd-p-t6Su98_Vw" maxOccurs="1" minOccurs="0" name="selectedTag">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="_9bfzwHsUEd-x6ZzIwFKy_g" name="ProductQualifierList">
    <xsd:sequence>
      <xsd:element id="_ACIe0HsVEd-x6ZzIwFKy_g" maxOccurs="unbounded" minOccurs="0"
          name="productQualifier" type="ProductQualifier"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewRequestSubProcess_CallServicetogetRequesteeReportingVPARMRestfulAPI_INPUT">
    <wsdl:part name="RequesteeEmployee" type="tns1:Employee"/>
  </wsdl:message>
  <wsdl:message name="CreateNewRequestSubProcess_CallServicetogetRequesteeReportingVPARMRestfulAPI_OUTPUT">
    <wsdl:part name="RequesteeEmployeeVP" type="tns1:Employee"/>
  </wsdl:message>
    <wsdl:message name="ProcessPackageCreateProductAccessRequest_GatherUserInformation_INPUT">
    <wsdl:part name="EmployeeDetailsInput" type="tns1:Employee" />
    </wsdl:message>
  <wsdl:message name="ProcessPackageCreateProductAccessRequest_GatherUserInformation_OUTPUT">
    <wsdl:part name="EmployeeDetailsOutput" type="tns1:Employee"/>
  </wsdl:message>
    <wsdl:message name="CreateNewRequestSubProcess_CheckifRequestorisVPoraboveARMRestfulAPI_INPUT">
    <wsdl:part name="RequesteeEmployee" type="tns1:Employee"/>
  </wsdl:message>
  <wsdl:message name="CreateNewRequestSubProcess_CheckifRequestorisVPoraboveARMRestfulAPI_OUTPUT">
    <wsdl:part name="IsRequesteeEmployeeVP" type="st2:myboolean"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageCreateProductAccessRequest_CallServicetogetProducts_INPUT">
    <wsdl:part name="ProductSearchString" type="st1:string_50"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageCreateProductAccessRequest_CallServicetogetProducts_OUTPUT">
    <wsdl:part name="ProductInformationList" type="tns1:ProductInformationList"/>
  </wsdl:message>
  <wsdl:message name="GetProductRolesAndTagsRequest">
  	<wsdl:part name="GetProductRolesAndTagsRequest"
  		type="tns1:ProductQualifierList">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProductRolesAndTagsResponse">
  	<wsdl:part name="GetProductRolesAndTagsResponse" type="tns1:ProductQualifierList"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeAccess">
    <wsdl:operation name="GetRequesteeReportingVP">
      <wsdl:input message="ns:CreateNewRequestSubProcess_CallServicetogetRequesteeReportingVPARMRestfulAPI_INPUT"/>
      <wsdl:output message="ns:CreateNewRequestSubProcess_CallServicetogetRequesteeReportingVPARMRestfulAPI_OUTPUT"/>
    </wsdl:operation>
    <wsdl:operation name="GetUserInformation">
      <wsdl:input message="ns:ProcessPackageCreateProductAccessRequest_GatherUserInformation_INPUT"/>
      <wsdl:output message="ns:ProcessPackageCreateProductAccessRequest_GatherUserInformation_OUTPUT"/>
    </wsdl:operation>
	<wsdl:operation name="IsRequesteeVPorAbove">
      <wsdl:input message="ns:CreateNewRequestSubProcess_CheckifRequestorisVPoraboveARMRestfulAPI_INPUT"/>
      <wsdl:output message="ns:CreateNewRequestSubProcess_CheckifRequestorisVPoraboveARMRestfulAPI_OUTPUT"/>
    </wsdl:operation>        
  </wsdl:portType>
  <wsdl:portType name="ProductAccess">
    <wsdl:operation name="GetProductList">
      <wsdl:input message="ns:ProcessPackageCreateProductAccessRequest_CallServicetogetProducts_INPUT"/>
      <wsdl:output message="ns:ProcessPackageCreateProductAccessRequest_CallServicetogetProducts_OUTPUT"/>
    </wsdl:operation>        
    <wsdl:operation name="GetProductRolesAndTags">
    	<wsdl:input message="ns:GetProductRolesAndTagsRequest"></wsdl:input>
    	<wsdl:output message="ns:GetProductRolesAndTagsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
