tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM34_MessageInOneWsdlImplInOtherWsdlTest/gold/builder/org.example.WSDL3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/WSDL3/" xmlns:tns1="http://www.example.org/WSDL3/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/WSDL3/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/trial/Generated Business Objects/org.example.WSDL3.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Cust" id="org.example.WSDL3Cust" abstract="false" mixed="false"
      name="Cust">
    <xsd:sequence>
      <xsd:element ecore:name="in1" id="Custin" form="qualified" maxOccurs="1" minOccurs="1"
          name="in" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Addr" id="org.example.WSDL3Addr" abstract="false" mixed="false"
      name="Addr">
    <xsd:sequence>
      <xsd:element ecore:name="out" id="Addrout" form="qualified" maxOccurs="1" minOccurs="1"
          name="out" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>