tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.test/resources/N241EnumerationToTextMappingTest/EnumMapping/Service Descriptors/UserDef.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_mZsWYHxgEeSni5PAFtWCvg"  xmlns:ttns="http://example.com/enummapping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="userDef" targetNamespace="http://www.tibco.com/bs3.0/_mZsWYHxgEeSni5PAFtWCvg" >
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_mZsWYHxgEeSni5PAFtWCvg" targetNamespace="http://www.tibco.com/bs3.0/_mZsWYHxgEeSni5PAFtWCvg">
       <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
   <xsd:schema xmlns="http://example.com/enummapping" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/enummapping" targetNamespace="http://example.com/enummapping">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/EnumMapping/Business Objects/EnumMapping.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType name="IntegerPType">
        <xsd:restriction base="xsd:int"/>
      </xsd:simpleType>
      <xsd:simpleType name="TextPType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DateTimePType">
        <xsd:restriction base="xsd:dateTime"/>
      </xsd:simpleType>
      <xsd:simpleType name="StatusEnum">
        <xsd:restriction base="TextPType">
          <xsd:enumeration value="TEXTLITERAL1"/>
          <xsd:enumeration value="TEXTLITERAL2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PriorityEnum">
        <xsd:restriction base="IntegerPType">
          <xsd:enumeration value="100"/>
          <xsd:enumeration value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ScheduleEnum">
        <xsd:restriction base="DateTimePType">
          <xsd:enumeration value="2014-12-12T15:08:00"/>
          <xsd:enumeration value="2014-12-18T15:08:00"/>
          <xsd:enumeration value="2014-12-31T15:09:00"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ProductionDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="custName" type="StatusEnum"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="priority" type="PriorityEnum"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="schedule" type="ScheduleEnum"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="department" type="StatusEnum"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="priority" type="PriorityEnum"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="schedule" type="ScheduleEnum"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="IntegerPTypeElement">
        <xsd:simpleType>
          <xsd:restriction base="IntegerPType"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TextPTypeElement">
        <xsd:simpleType>
          <xsd:restriction base="TextPType"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DateTimePTypeElement">
        <xsd:simpleType>
          <xsd:restriction base="DateTimePType"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="StatusEnumElement">
        <xsd:simpleType>
          <xsd:restriction base="StatusEnum"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PriorityEnumElement">
        <xsd:simpleType>
          <xsd:restriction base="PriorityEnum"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ScheduleEnumElement">
        <xsd:simpleType>
          <xsd:restriction base="ScheduleEnum"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ProductionDetailsElement" type="ProductionDetails"/>
      <xsd:element name="ItemDetailsElement" type="ItemDetails"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="userDefProcess_CatchMessageEvent_INPUT">
    <wsdl:part name="Parameter5" type="ns:string_50"/>
    <wsdl:part name="textCustName" type="ns:string_50"/>
    <wsdl:part name="productionDetails" type="ttns:ProductionDetails"/>
    <wsdl:part name="itemDetails" type="ttns:ItemDetails"/>
    <wsdl:part name="textDept" type="ns:string_50"/>
    <wsdl:part name="textPriority" type="ns:string_50"/>
  </wsdl:message>
  <wsdl:message name="userDefProcess_CatchMessageEvent_OUTPUT">
    <wsdl:part name="Parameter5" type="ns:string_50"/>
    <wsdl:part name="textCustName" type="ns:string_50"/>
    <wsdl:part name="productionDetails" type="ttns:ProductionDetails"/>
    <wsdl:part name="itemDetails" type="ttns:ItemDetails"/>
    <wsdl:part name="textDept" type="ns:string_50"/>
    <wsdl:part name="textPriority" type="ns:string_50"/>
  </wsdl:message>
  <wsdl:message name="userDefProcess_StartMessageEvent_OUTPUT">
    <wsdl:part name="Parameter5" type="ns:string_50"/>
   
  </wsdl:message>
  <wsdl:portType name="UserDef" >
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="CatchMessageEvent">
      <wsdl:input message="ns:userDefProcess_CatchMessageEvent_INPUT" />
      <wsdl:output message="ns:userDefProcess_CatchMessageEvent_OUTPUT" />
    </wsdl:operation>
    <wsdl:operation name="StartMessageEvent">
      <wsdl:input message="ns:userDefProcess_CatchMessageEvent_INPUT" />
    </wsdl:operation>
      <wsdl:operation name="ReceiveMessageEvent">
      <wsdl:input message="ns:userDefProcess_CatchMessageEvent_INPUT" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
