tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.preventivi.resources/.precompiled/bom2Xsd/com.enel.mind_inviosd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://enel.com/mind_inviosd" xmlns:tns2="http://enel.com/mind_inviosd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://enel.com/mind_inviosd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.preventivi.resources/Business Objects/com.enel.mind_inviosd.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="CreazioneAnagraficaRequest" id="_pgB1wKOGEeOkHJl3PMqM3Q"
      name="CreazioneAnagraficaRequest">
    <xsd:sequence>
      <xsd:element ecore:name="idBpm" id="_qaKiwKOGEeOkHJl3PMqM3Q" maxOccurs="1" minOccurs="0"
          name="idBpm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="clienteCdm" id="_GO2KoKOHEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="clienteCdm" type="xsd:string"/>
      <xsd:element ecore:name="idFatturazioneCdm" id="_GbgtoKOHEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="idFatturazioneCdm" type="xsd:string"/>
      <xsd:element ecore:name="datiFatturazioneCdm" id="_GoBfoKOHEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="datiFatturazioneCdm" type="xsd:string"/>
      <xsd:element ecore:name="indirizzoCdm" id="_HCa8oKOHEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="indirizzoCdm" type="xsd:string"/>
      <xsd:element ecore:name="caratteristicaDeterminazioneconti" id="_HQ1zIKOHEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="caratteristicaDeterminazioneconti">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="condizioniPagamento" id="_HektIKOHEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="condizioniPagamento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="definiziocontocontrattuale" id="_Hq21oKOHEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="definiziocontocontrattuale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="commodity" id="_IE8woKOHEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="commodity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaOrigineDati" id="_IRnToKOHEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="sistemaOrigineDati">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idRichiesta" id="_IB3yAKOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="idRichiesta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroUtente" id="_INwR4KOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="numeroUtente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceVAS" id="_IZ53gKOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="codiceVAS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceBusinessPartner" id="_IkRUcKOIEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="codiceBusinessPartner">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceBusinessPartnerSAPSD" id="_Ivo28KOIEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="codiceBusinessPartnerSAPSD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contoContrattualeSAPSD" id="_I6T14KOIEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="contoContrattualeSAPSD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cognomeCliente" id="_e4sYwKOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="cognomeCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="nomeCliente" id="_fExs8KOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="nomeCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceFiscaleCliente" id="_fPGGkKOIEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="codiceFiscaleCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="PIVACliente" id="_fZk4QKOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="PIVACliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceFormaGiuridica" id="_fj-KYKOIEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="codiceFormaGiuridica">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="recapitoPresso" id="_fuQu0KOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="recapitoPresso">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="recapitoIndirizzo" id="_f4b-gKOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="recapitoIndirizzo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="recapitoNumeroCivico" id="_gB3nUKOIEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="recapitoNumeroCivico">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="recapitoCAP" id="_gK3yUKOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="recapitoCAP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="recapitoLocalita" id="_gaXm4KOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="recapitoLocalita">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="recapitoProvincia" id="_gl0B4KOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="recapitoProvincia">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="emailCliente" id="_gvap0KOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="emailCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="241"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="chiaveCondPagamento" id="_g8e1cKOIEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="chiaveCondPagamento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceIndirizzoEsterno" id="_jBBSEJhGEeS-NfU2Vo6x7g"
          maxOccurs="1" minOccurs="0" name="codiceIndirizzoEsterno">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CreazioneAnagraficaResponse" id="_pqBfQKOGEeOkHJl3PMqM3Q"
      name="CreazioneAnagraficaResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="_9H9zwKOIEeOkHJl3PMqM3Q" maxOccurs="1" minOccurs="0"
          name="esito" type="tns2:Esito"/>
      <xsd:element ecore:name="idfatturazioneBlob" id="_TwcnEKOKEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="idfatturazioneBlob" type="xsd:string"/>
      <xsd:element ecore:name="sorgenteesito" id="_T8L9AKOKEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="sorgenteesito" type="xsd:string"/>
      <xsd:element ecore:name="dataAttivazione" id="_UIAygKOKEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="dataAttivazione" type="xsd:date"/>
      <xsd:element ecore:name="pod" id="_UT2PEKOKEeOkHJl3PMqM3Q" maxOccurs="1" minOccurs="0"
          name="pod" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="_UeOTEKOKEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="idRichiesta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceBusinessPartnerSAP" id="_mclWEKOKEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="codiceBusinessPartnerSAP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contoContrattuale" id="_5g24QKOKEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="contoContrattuale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Esito" id="_uaA8IKOJEeOkHJl3PMqM3Q" name="Esito">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="_v73JYKOJEeOkHJl3PMqM3Q" maxOccurs="1" minOccurs="0"
          name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codice" id="_wE0REKOJEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="codice">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="_wOvpIKOJEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="descrizione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="tipoEsito" id="_w0IOIKOJEeOkHJl3PMqM3Q" maxOccurs="1"
          minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="_vw6doKOJEeOkHJl3PMqM3Q"
          maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EmissioneFatturaRequest" id="_-T6TYKYCEeOD9esAIUFrxA"
      name="EmissioneFatturaRequest">
    <xsd:sequence>
      <xsd:element ecore:name="strutturaVas" id="_aAQCIKYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="strutturaVas" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="_aO9MgKYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="idBpm" id="_aaqGMKYEEeOD9esAIUFrxA" maxOccurs="1" minOccurs="0"
          name="idBpm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaChiamante" id="_anoLMKYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="sistemaChiamante" type="xsd:string"/>
      <xsd:element ecore:name="condizioniPagamento" id="_azQzcKYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="condizioniPagamento" type="xsd:string"/>
      <xsd:element ecore:name="clienteCdm" id="_a-xf4KYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="clienteCdm" type="xsd:string"/>
      <xsd:element ecore:name="datiFatturazioneCdm" id="_bNAJIKYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="datiFatturazioneCdm" type="xsd:string"/>
      <xsd:element ecore:name="idFatturazioneCDM" id="_bZOAMKYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="idFatturazioneCDM" type="xsd:string"/>
      <xsd:element ecore:name="importoTotale" id="_bm86MKYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="importoTotale" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="_byPkMKYEEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="idRichiesta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceInstallatore" id="_POX-gKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="codiceInstallatore" type="xsd:string"/>
      <xsd:element ecore:name="numeroDDT" id="_Pa-QEKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="numeroDDT" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiestaConsegna" id="_PnbXsKYFEeOD9esAIUFrxA"
          maxOccurs="1" minOccurs="0" name="dataRichiestaConsegna">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="consegnaManuale" id="_PzEnAKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="consegnaManuale" type="xsd:string"/>
      <xsd:element ecore:name="tipoFlusso" id="_P_LwYKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="tipoFlusso">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroRate" id="_QK-JoKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="numeroRate" type="xsd:string"/>
      <xsd:element ecore:name="causaleOperazione" id="_QXoFkKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="causaleOperazione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceBusinessPartner" id="_QkAUsKYFEeOD9esAIUFrxA"
          maxOccurs="1" minOccurs="0" name="codiceBusinessPartner">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contoContrattuale" id="_Qvo88KYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="contoContrattuale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idPraticaFinanziamento" id="_o8p6kKYFEeOD9esAIUFrxA"
          maxOccurs="1" minOccurs="0" name="idPraticaFinanziamento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="nome" id="_pJutQKYFEeOD9esAIUFrxA" maxOccurs="1" minOccurs="0"
          name="nome">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cognome" id="_pUcIcKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="cognome">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="ragioneSociale" id="_phMLAKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="ragioneSociale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="email" id="_psQykKYFEeOD9esAIUFrxA" maxOccurs="1" minOccurs="0"
          name="email">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="241"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="telefono" id="_p32XgKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="telefono">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cellulare" id="_qDBFsKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="cellulare">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="presso" id="_qPyWYKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="presso">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="via" id="_qcANcKYFEeOD9esAIUFrxA" maxOccurs="1" minOccurs="0"
          name="via">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="civico" id="_qonGEKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="civico">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="cap" id="_89wRYKYFEeOD9esAIUFrxA" maxOccurs="1" minOccurs="0"
          name="cap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="comune" id="_9MHdgKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="comune">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="provincia" id="_9aTDcKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="provincia">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceProdotto" id="_9krugKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="codiceProdotto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="quantitaProdotto" id="_9x98kKYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="quantitaProdotto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="attributoProdotto" id="_9-_r8KYFEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="attributoProdotto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroContratto" id="_-NOXUBmXEeSUXNIMDiqgag" maxOccurs="1"
          minOccurs="0" name="numeroContratto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataVendita" id="__h_x4BmXEeSUXNIMDiqgag" maxOccurs="1"
          minOccurs="0" name="dataVendita">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EmissioneFatturaResponse" id="__pu20KYCEeOD9esAIUFrxA"
      name="EmissioneFatturaResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="_La86wKYGEeOD9esAIUFrxA" maxOccurs="1" minOccurs="0"
          name="esito" type="tns2:Esito"/>
      <xsd:element ecore:name="fattura" id="_LmnYMKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="fattura" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="_LwXxIKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="_L6VlcKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="tipoFlusso" id="_UPpDgKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="tipoFlusso" type="xsd:string"/>
      <xsd:element ecore:name="idProtocollo" id="_UZh_UKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="idProtocollo" type="tns2:double_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="dataEmissione" id="_Uj_i4KYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="dataEmissione" type="xsd:date"/>
      <xsd:element ecore:name="dataConsegna" id="_UswdUKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="dataConsegna">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroFattura" id="_U2u4sKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="numeroFattura" type="xsd:string"/>
      <xsd:element ecore:name="importoFattura" id="_VPKm0KYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="importoFattura" type="xsd:string"/>
      <xsd:element ecore:name="importoNetto" id="_VbJ0YKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="importoNetto" type="xsd:string"/>
      <xsd:element ecore:name="importoIva" id="_oo2YUKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="importoIva" type="xsd:string"/>
      <xsd:element ecore:name="idDocumentoStampa" id="_o2ADgKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="idDocumentoStampa" type="xsd:string"/>
      <xsd:element ecore:name="idOrdineSAP" id="_pB05AKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="idOrdineSAP" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="_vTymUKYGEeOD9esAIUFrxA" maxOccurs="1"
          minOccurs="0" name="idRichiesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="double_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-179.76931348623157E+306"/>
      <xsd:maxInclusive value="179.76931348623157E+306"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="CreazioneAnagraficaRequestElement" type="CreazioneAnagraficaRequest"/>
  <xsd:element name="CreazioneAnagraficaResponseElement" type="CreazioneAnagraficaResponse"/>
  <xsd:element name="EsitoElement" type="Esito"/>
  <xsd:element name="EmissioneFatturaRequestElement" type="EmissioneFatturaRequest"/>
  <xsd:element name="EmissioneFatturaResponseElement" type="EmissioneFatturaResponse"/>
</xsd:schema>