tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/XPD547WSDLToBOMAndWSDLBOMIndexingTest/WSDLtoBOM Indexer Testcases/Service Descriptors/ExtXSDSameNs.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:this="http://www.example.org/ExternalXSDSameNamespace/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ExternalXSDSameNamespace/">
	<xsd:complexType name="NewOperation">
          <xsd:sequence>
            <xsd:element name="definedInExtSchemaSameNamespace" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="NewOperationResponse">
          <xsd:sequence>
            <xsd:element name="definedInExtSchemaSameNamespace" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
