tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDLCoverageAMXBPM/WSDL24/services/profile/AirlineUserProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.xyzcorp/procureservice/UserProfile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xyzcorp/procureservice/UserProfile">

	<xsd:complexType name="AirlinePreference">
		<xsd:sequence>
			<xsd:element name="seating" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="mealType" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="specialRequest" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FrequentFlier">
    	<xsd:sequence>
        	<xsd:element name="airline" type="xsd:string"></xsd:element>
        	<xsd:element name="freqFlierNumber" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
   
</xsd:schema>