tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDLCoverageAMXBPM/WSDL24/services/profile/CarUserProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.xyzcorp/procureservice/UserProfile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xyzcorp/procureservice/UserProfile">

	<xsd:complexType name="CarPreference">
    	<xsd:sequence>
        	<xsd:element name="carType" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="carMake" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="rentalAgency"
            			type="xsd:string" maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="nonSmoking" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="specialRequest" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	</xsd:sequence>
	</xsd:complexType>
           

</xsd:schema>