tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE20_SameNameComplexTypesWithAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="XSDBOM_TLE20_SameNameComplexTypesWithAttributes" xmlns:tns1="XSDBOM_TLE20_SameNameComplexTypesWithAttributes"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3"
    xmlns:tns3="XSDBOM_TLE20_SameNameComplexTypesWithAttributes2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="XSDBOM_TLE20_SameNameComplexTypesWithAttributes">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/hfdgh/Business Objects/XSDBOM_TLE20_SameNameComplexTypesWithAttributes.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="XSDBOM_TLE20_SameNameComplexTypesWithAttributes2" schemaLocation="XSDBOM_TLE20_SameNameComplexTypesWithAttributes2.xsd"/>
  <xsd:import namespace="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3" schemaLocation="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3.xsd"/>
  <xsd:complexType id="XSDBOM_TLE20_SameNameComplexTypesWithAttributesHotelSearchResults"
      abstract="false" mixed="false" name="HotelSearchResults">
    <xsd:sequence>
      <xsd:element id="HotelSearchResultshotelsType" maxOccurs="1" minOccurs="1" name="hotels">
        <xsd:complexType id="XSDBOM_TLE20_SameNameComplexTypesWithAttributeshotelsType"
            mixed="false">
          <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="hotel"
                type="tns3:HotelDetails"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="XSDBOM_TLE20_SameNameComplexTypesWithAttributesCarSearchResults"
      abstract="false" mixed="false" name="CarSearchResults">
    <xsd:sequence>
      <xsd:element id="CarSearchResultsrentalAgenciesType" maxOccurs="1" minOccurs="1"
          name="rentalAgencies">
        <xsd:complexType id="XSDBOM_TLE20_SameNameComplexTypesWithAttributesrentalAgenciesType"
            mixed="false">
          <xsd:sequence>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="rentalAgency"
                type="tns2:RentalAgencyDetails"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="topAddress" nillable="false">
    <xsd:complexType id="XSDBOM_TLE20_SameNameComplexTypesWithAttributestopAddressType"
        mixed="false">
      <xsd:sequence>
        <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="street">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>