tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE14_ElementsWithTypeOutsideSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/root" xmlns:tns1="http://www.example.org/root" xmlns:tns3="http://www.example.org/referenced"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/root">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/64564564/Business Objects/XSDBOM_TLE14_ElementsWithTypeOutsideSchema.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.example.org/referenced" schemaLocation="XSDBOM_TLE14_ElementsWithTypeOutsideSchema2.xsd"/>
  <xsd:simpleType id="org.example.root_rootSimple2" name="rootSimple">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType id="org.example.root_rootEnum" name="rootEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ENUMLIT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType id="org.example.root_rootComplex" abstract="false" mixed="false"
      name="rootComplex">
    <xsd:sequence>
      <xsd:element id="rootComplex_elem" form="qualified" maxOccurs="1" minOccurs="1"
          name="elem">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="rootElem2" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="tns3:referencedSimple"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="rootElem3" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="tns3:referencedEnum"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="rootElem" nillable="false" type="tns3:referencedComplex"/>
</xsd:schema>