tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE18_JustTLEWithExternalTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/elementDeclaredTypesUsage" xmlns:tns1="http://example.com/elementDeclaredTypesUsage"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://XSDBOM_TLE18_JustTLEWithExternalTypes2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://example.com/elementDeclaredTypesUsage">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/hfghfgh/Business Objects/XSDBOM_TLE18_JustTLEWithExternalTypes.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://XSDBOM_TLE18_JustTLEWithExternalTypes2" schemaLocation="XSDBOM_TLE18_JustTLEWithExternalTypes2.xsd"/>
  <xsd:element abstract="false" name="SimpTypeUsage" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="tns2:SimpType"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="ExtSimpTypeUsage" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="tns2:ExtSimpType"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="SubEnumTypeUsage" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="tns2:SubEnumType"/>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>