tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE01B_SimpleElementTypeAllBaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM_TLA01_SimpleElementTypes" xmlns:tns1="http://www.example.org/XSDBOM_TLA01_SimpleElementTypes"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM_TLA01_SimpleElementTypes">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/p1/Business Objects/myTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="tleString" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleGDay" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gDay">
        <xsd:pattern value="\-\-\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleGMonth" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gMonth">
        <xsd:pattern value="\-\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleGMonthDay" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gMonthDay">
        <xsd:pattern value="\-\-(0[1-9]|[1][0-2])\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleGYear" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gYear">
        <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleGYearMonth" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gYearMonth">
        <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleId" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:ID">
        <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleIdRef" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:IDREF">
        <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleIdRefs" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:IDREFS">
        <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleLanguage" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:language">
        <xsd:pattern value="([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleName" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:Name">
        <xsd:pattern value="\i\c*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleNCName" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:NCName">
        <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleNMToken" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKEN">
        <xsd:pattern value="\c+"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleNMTokens" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS">
        <xsd:pattern value="\c+( \c+)*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleNormalizedString" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:normalizedString">
        <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleQName" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:QName">
        <xsd:pattern value="([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleENTITY" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:ENTITY">
        <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleENTITIES" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:ENTITIES">
        <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleToken" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:pattern value="\c+([ ]\c+)*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleByte" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:minInclusive value="-128"/>
        <xsd:maxInclusive value="127"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleUnsignedByte" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:unsignedByte">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="255"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleShort" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short">
        <xsd:minInclusive value="-32768"/>
        <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleUnsignedShort" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:unsignedShort">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="65535"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleInt" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleLong" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:long">
        <xsd:minInclusive value="-9223372036854775808"/>
        <xsd:maxInclusive value="9223372036854775807"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleNegativeInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:negativeInteger">
        <xsd:maxInclusive value="-1"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleNonNegativeInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:minInclusive value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tlePositiveInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:positiveInteger">
        <xsd:minInclusive value="1"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleNonPositiveInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:nonPositiveInteger">
        <xsd:maxInclusive value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleUnsignedInt" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:unsignedInt">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="4294967295"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleUnsignedLong" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:unsignedLong">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="18446744073709551615"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleDecimal" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleFloat" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:float">
        <xsd:minInclusive value="-340.28235E+36"/>
        <xsd:maxInclusive value="340.28235E+36"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleDouble" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="-179.76931348623157E+306"/>
        <xsd:maxInclusive value="179.76931348623157E+306"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleBoolean" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleDate" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleTime" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:time"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleDateTime" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleAnyURI" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="tleDuration" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:duration"/>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>