tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM38_NameConflicts_FixedIn_XPD_5786/gold/builder/com.tibco.AFF.services.pricing.PriceService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/AFF/services/pricing/PriceService" xmlns:tns5="http://www.tibco.com/AFF/services/pricing/PriceService"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns6="http://www.tibco.com/AFF/V4.0.0/classes/order"
    xmlns:tns7="http://www.tibco.com/AFF/V4.0.0/classes/resultstatus" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/AFF/services/pricing/PriceService">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/junit8721/Generated Business Objects/com.tibco.AFF.services.pricing.PriceService.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.tibco.com/AFF/V4.0.0/classes/order" schemaLocation="com.tibco.AFF.V4._0._0.classes.order.xsd"/>
  <xsd:import namespace="http://www.tibco.com/AFF/V4.0.0/classes/resultstatus" schemaLocation="com.tibco.AFF.V4._0._0.classes.resultstatus.xsd"/>
  <xsd:complexType ecore:name="CalculationResultLineType" id="com.tibco.AFF.services.pricing.PriceServiceCalculationResultLineType"
      abstract="false" mixed="false" name="CalculationResultLineType">
    <xsd:sequence>
      <xsd:element ecore:name="lineNumber" id="CalculationResultLineTypeLineNumber"
          maxOccurs="1" minOccurs="1" ref="tns5:LineNumber"/>
      <xsd:element ecore:name="product" id="CalculationResultLineTypeProductType"
          form="unqualified" maxOccurs="1" minOccurs="1" name="Product">
        <xsd:complexType ecore:name="ProductType" id="com.tibco.AFF.services.pricing.PriceServiceProductType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="item" maxOccurs="1" minOccurs="1" ref="tns5:Item"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="quantity" id="CalculationResultLineTypeQuantity" maxOccurs="1"
          minOccurs="1" ref="tns5:Quantity"/>
      <xsd:element ecore:name="prices" id="CalculationResultLineTypePricesType" form="qualified"
          maxOccurs="1" minOccurs="1" name="Prices">
        <xsd:complexType ecore:name="PricesType1" id="com.tibco.AFF.services.pricing.PriceServicePricesType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="priceItem" maxOccurs="unbounded" minOccurs="0"
                ref="tns5:PriceItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ItemType" id="com.tibco.AFF.services.pricing.PriceServiceItemType"
      abstract="false" mixed="false" name="ItemType">
    <xsd:sequence>
      <xsd:element ecore:name="ID" id="ItemTypeID" maxOccurs="1" minOccurs="1" ref="tns5:ID"/>
      <xsd:element ecore:name="UDFs" id="ItemTypeUDFsType" form="unqualified" maxOccurs="1"
          minOccurs="0" name="UDFs">
        <xsd:complexType ecore:name="UDFsType" id="com.tibco.AFF.services.pricing.PriceServiceUDFsType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="UDF" maxOccurs="unbounded" minOccurs="0" ref="tns6:UDF"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute ecore:name="linkID" id="ItemTypeLinkID" form="unqualified" name="LinkID"
        type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="QuantityType" id="com.tibco.AFF.services.pricing.PriceServiceQuantityType"
      abstract="false" mixed="false" name="QuantityType">
    <xsd:sequence>
      <xsd:element ecore:name="amount" id="QuantityTypeAmount" form="unqualified"
          maxOccurs="1" minOccurs="1" name="Amount" type="tns5:double_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="UOM" id="QuantityTypeUOM" form="unqualified" maxOccurs="1"
          minOccurs="1" name="UOM" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PriceType" id="com.tibco.AFF.services.pricing.PriceServicePriceType"
      abstract="false" mixed="false" name="PriceType">
    <xsd:sequence>
      <xsd:element ecore:name="UDFs" id="PriceTypeUDFsType" form="unqualified" maxOccurs="1"
          minOccurs="1" name="UDFs">
        <xsd:complexType ecore:name="UDFsType1" id="com.tibco.AFF.services.pricing.PriceServiceUDFsType2"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="UDF" maxOccurs="unbounded" minOccurs="0" ref="tns6:UDF"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="modifiers" id="PriceTypeModifiersType" form="unqualified"
          maxOccurs="1" minOccurs="1" name="Modifiers">
        <xsd:complexType ecore:name="ModifiersType" id="com.tibco.AFF.services.pricing.PriceServiceModifiersType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="modifierItem" maxOccurs="unbounded" minOccurs="0"
                ref="tns5:ModifierItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ModifierItemType" id="com.tibco.AFF.services.pricing.PriceServiceModifierItemType"
      abstract="false" mixed="false" name="ModifierItemType">
    <xsd:sequence>
      <xsd:element ecore:name="UDF" id="ModifierItemTypeUDF" maxOccurs="unbounded"
          minOccurs="1" ref="tns6:UDF"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CalculationResultType" id="com.tibco.AFF.services.pricing.PriceServiceCalculationResultType"
      abstract="false" mixed="false" name="CalculationResultType">
    <xsd:sequence>
      <xsd:element ecore:name="calculationResultLine" id="CalculationResultTypeCalculationResultLine"
          maxOccurs="unbounded" minOccurs="1" ref="tns5:CalculationResultLine"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="HeaderType" id="com.tibco.AFF.services.pricing.PriceServiceHeaderType"
      abstract="false" mixed="false" name="HeaderType">
    <xsd:sequence>
      <xsd:element ecore:name="businessTransactionID" id="HeaderTypeBusinessTransactionID"
          form="unqualified" maxOccurs="1" minOccurs="1" name="BusinessTransactionID"
          type="xsd:string"/>
      <xsd:element ecore:name="requestID" id="HeaderTypeRequestID" form="unqualified"
          maxOccurs="1" minOccurs="1" name="RequestID" type="xsd:string"/>
      <xsd:element ecore:name="businessObjectRef" id="HeaderTypeBusinessObjectRef"
          form="unqualified" maxOccurs="1" minOccurs="0" name="BusinessObjectRef"
          type="xsd:string"/>
      <xsd:element ecore:name="messageTimestamp" id="HeaderTypeMessageTimestamp" form="unqualified"
          maxOccurs="1" minOccurs="1" name="MessageTimestamp" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RequestBodyType" id="com.tibco.AFF.services.pricing.PriceServiceRequestBodyType"
      abstract="false" mixed="false" name="RequestBodyType">
    <xsd:sequence>
      <xsd:element ecore:name="correlationID" id="RequestBodyTypeCorrelationID" maxOccurs="1"
          minOccurs="1" ref="tns5:CorrelationID"/>
      <xsd:element ecore:name="calculationProduct" id="RequestBodyTypeCalculationProductType"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="CalculationProduct">
        <xsd:complexType ecore:name="CalculationProductType" id="com.tibco.AFF.services.pricing.PriceServiceCalculationProductType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="lineNumber" maxOccurs="1" minOccurs="1" ref="tns5:LineNumber"/>
            <xsd:element ecore:name="item" maxOccurs="1" minOccurs="1" ref="tns5:Item"/>
            <xsd:element ecore:name="quantity" maxOccurs="1" minOccurs="1" ref="tns5:Quantity"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="optionalProduct" id="RequestBodyTypeOptionalProduct"
          maxOccurs="unbounded" minOccurs="0" ref="tns5:OptionalProduct"/>
      <xsd:element ecore:name="relatedIProduct" id="RequestBodyTypeRelatedIProduct"
          maxOccurs="unbounded" minOccurs="0" ref="tns5:RelatedIProduct"/>
      <xsd:element ecore:name="relatedSegment" id="RequestBodyTypeRelatedSegment"
          maxOccurs="unbounded" minOccurs="0" ref="tns5:RelatedSegment"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RequestsType" id="com.tibco.AFF.services.pricing.PriceServiceRequestsType"
      abstract="false" mixed="false" name="RequestsType">
    <xsd:sequence>
      <xsd:element ecore:name="requestBody" id="RequestsTypeRequestBody" maxOccurs="unbounded"
          minOccurs="1" ref="tns5:RequestBody"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResponseBodyType" id="com.tibco.AFF.services.pricing.PriceServiceResponseBodyType"
      abstract="false" mixed="false" name="ResponseBodyType">
    <xsd:sequence>
      <xsd:element ecore:name="correlationID" id="ResponseBodyTypeCorrelationID" maxOccurs="1"
          minOccurs="1" ref="tns5:CorrelationID"/>
      <xsd:element ecore:name="result" id="ResponseBodyTypeResult" maxOccurs="1" minOccurs="1"
          ref="tns5:Result"/>
      <xsd:element ecore:name="calculationResult" id="ResponseBodyTypeCalculationResult"
          maxOccurs="unbounded" minOccurs="0" ref="tns5:CalculationResult"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResultType" id="com.tibco.AFF.services.pricing.PriceServiceResultType"
      abstract="false" mixed="false" name="ResultType">
    <xsd:sequence>
      <xsd:element ecore:name="returnCode" id="ResultTypeReturnCode" form="unqualified"
          maxOccurs="1" minOccurs="1" name="ReturnCode">
        <xsd:simpleType ecore:name="ReturnCodeType">
          <xsd:restriction base="xsd:string">
            <xsd:enumeration ecore:name="SUCCESS" value="SUCCESS"/>
            <xsd:enumeration ecore:name="TECHNICALERROR" value="TECHNICAL-ERROR"/>
            <xsd:enumeration ecore:name="BUSINESSERROR" value="BUSINESS-ERROR"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="resultStatus" id="ResultTypeResultStatus" maxOccurs="unbounded"
          minOccurs="0" ref="tns7:ResultStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResponsesType" id="com.tibco.AFF.services.pricing.PriceServiceResponsesType"
      abstract="false" mixed="false" name="ResponsesType">
    <xsd:sequence>
      <xsd:element ecore:name="responseBody" id="ResponsesTypeResponseBody" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="ResponseBody" type="ResponseBodyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="getPricesRequestType" id="com.tibco.AFF.services.pricing.PriceServicegetPricesRequestType"
      abstract="false" mixed="false" name="getPricesRequestType">
    <xsd:sequence>
      <xsd:element ecore:name="requestHeader" id="getPricesRequestTypeRequestHeader"
          maxOccurs="1" minOccurs="1" ref="tns5:RequestHeader"/>
      <xsd:element ecore:name="requests" id="getPricesRequestTypeRequests" maxOccurs="1"
          minOccurs="1" ref="tns5:Requests"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="getPricesResponseType" id="com.tibco.AFF.services.pricing.PriceServicegetPricesResponseType"
      abstract="false" mixed="false" name="getPricesResponseType">
    <xsd:sequence>
      <xsd:element ecore:name="responseHeader" id="getPricesResponseTypeResponseHeader"
          maxOccurs="1" minOccurs="1" ref="tns5:ResponseHeader"/>
      <xsd:element ecore:name="responses" id="getPricesResponseTypeResponses" maxOccurs="1"
          minOccurs="1" ref="tns5:Responses"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="double_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-179.76931348623157E+306"/>
      <xsd:maxInclusive value="179.76931348623157E+306"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="LineNumber" nillable="false" type="tns5:long_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="ID" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="Item" nillable="false" type="ItemType"/>
  <xsd:element abstract="false" name="Quantity" nillable="false" type="QuantityType"/>
  <xsd:element abstract="false" name="ModifierItem" nillable="false" type="ModifierItemType"/>
  <xsd:element abstract="false" name="PriceItem" nillable="false" type="PriceType"/>
  <xsd:element abstract="false" name="CalculationResultLine" nillable="false" type="CalculationResultLineType"/>
  <xsd:element abstract="false" name="CorrelationID" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="OptionalProduct" nillable="false">
    <xsd:complexType ecore:name="OptionalProductType" id="com.tibco.AFF.services.pricing.PriceServiceOptionalProductType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="item" maxOccurs="1" minOccurs="1" ref="tns5:Item"/>
        <xsd:element ecore:name="quantity" maxOccurs="1" minOccurs="1" ref="tns5:Quantity"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RelatedIProduct" nillable="false">
    <xsd:complexType ecore:name="RelatedIProductType" id="com.tibco.AFF.services.pricing.PriceServiceRelatedIProductType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="item" maxOccurs="1" minOccurs="1" ref="tns5:Item"/>
        <xsd:element ecore:name="quantity" maxOccurs="1" minOccurs="1" ref="tns5:Quantity"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RelatedSegment" nillable="false">
    <xsd:complexType ecore:name="RelatedSegmentType" id="com.tibco.AFF.services.pricing.PriceServiceRelatedSegmentType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="ID" maxOccurs="1" minOccurs="1" ref="tns5:ID"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RequestBody" nillable="false" type="RequestBodyType"/>
  <xsd:element abstract="false" name="Result" nillable="false" type="ResultType"/>
  <xsd:element abstract="false" name="CalculationResult" nillable="false" type="CalculationResultType"/>
  <xsd:element abstract="false" name="RequestHeader" nillable="false" type="HeaderType"/>
  <xsd:element abstract="false" name="Requests" nillable="false" type="RequestsType"/>
  <xsd:element abstract="false" name="ResponseHeader" nillable="false" type="HeaderType"/>
  <xsd:element abstract="false" name="Responses" nillable="false" type="ResponsesType"/>
  <xsd:element abstract="false" name="PriceID" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="PriceValue" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="getPricesRequest" nillable="false" type="getPricesRequestType"/>
  <xsd:element abstract="false" name="getPricesResponse" nillable="false" type="getPricesResponseType"/>
  <xsd:element abstract="false" name="Price" nillable="false">
    <xsd:complexType ecore:name="PriceType1" id="com.tibco.AFF.services.pricing.PriceServicePriceType2"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="priceID" maxOccurs="1" minOccurs="0" ref="tns5:PriceID"/>
        <xsd:element ecore:name="priceValue" maxOccurs="1" minOccurs="0" ref="tns5:PriceValue"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Prices" nillable="false">
    <xsd:complexType ecore:name="PricesType" id="com.tibco.AFF.services.pricing.PriceServicePricesType2"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="price" maxOccurs="unbounded" minOccurs="0" ref="tns5:Price"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="getPricesUIResponse" nillable="false">
    <xsd:complexType ecore:name="getPricesUIResponseType" id="com.tibco.AFF.services.pricing.PriceServicegetPricesUIResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="prices" maxOccurs="1" minOccurs="1" ref="tns5:Prices"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>