tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM38_NameConflicts_FixedIn_XPD_5786/gold/builder/com.tibco.AFF.classes.product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/AFF/classes/product" xmlns:tns3="http://www.tibco.com/AFF/classes/product"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.tibco.com/AFF/classes/product">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/junit8721/Generated Business Objects/com.tibco.AFF.classes.product.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="Characteristic" nillable="false">
    <xsd:complexType ecore:name="CharacteristicType" id="com.tibco.AFF.classes.productCharacteristicType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="name" form="qualified" maxOccurs="1" minOccurs="1"
            name="Name" type="xsd:string"/>
        <xsd:element ecore:name="description" form="qualified" maxOccurs="1" minOccurs="1"
            name="Description" type="xsd:string"/>
        <xsd:element ecore:name="values" form="qualified" maxOccurs="1" minOccurs="1"
            name="Values">
          <xsd:complexType ecore:name="ValuesType" id="com.tibco.AFF.classes.productValuesType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="value" form="qualified" maxOccurs="unbounded"
                  minOccurs="0" name="Value">
                <xsd:complexType ecore:name="ValueType" id="com.tibco.AFF.classes.productValueType"
                    mixed="false">
                  <xsd:sequence>
                    <xsd:element ecore:name="valueName" form="qualified" maxOccurs="1"
                        minOccurs="1" name="ValueName" type="xsd:string"/>
                    <xsd:element ecore:name="valueType" form="qualified" maxOccurs="1"
                        minOccurs="1" name="ValueType" type="xsd:string"/>
                    <xsd:element ecore:name="value" form="qualified" maxOccurs="1"
                        minOccurs="0" name="Value" type="xsd:string"/>
                    <xsd:element ecore:name="valueFrom" form="qualified" maxOccurs="1"
                        minOccurs="0" name="ValueFrom" type="xsd:string"/>
                    <xsd:element ecore:name="valueTo" form="qualified" maxOccurs="1"
                        minOccurs="0" name="ValueTo" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="Product" nillable="false">
    <xsd:complexType ecore:name="ProductType" id="com.tibco.AFF.classes.productProductType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="productID" form="qualified" maxOccurs="1" minOccurs="1"
            name="ProductID" type="xsd:string"/>
        <xsd:element ecore:name="productName" form="qualified" maxOccurs="1" minOccurs="1"
            name="ProductName" type="xsd:string"/>
        <xsd:element ecore:name="productType" form="qualified" maxOccurs="1" minOccurs="1"
            name="ProductType" type="xsd:string"/>
        <xsd:element ecore:name="productSubType" form="qualified" maxOccurs="1" minOccurs="0"
            name="ProductSubType" type="xsd:string"/>
        <xsd:element ecore:name="description" form="qualified" maxOccurs="1" minOccurs="1"
            name="Description" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>