tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM38_NameConflicts_FixedIn_XPD_5786/gold/builder/com.tibco.AFF.OCV.services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/AFF/OCV/services" xmlns:tns11="http://www.tibco.com/AFF/OCV/services"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns12="http://www.tibco.com/AFF/classes/order"
    xmlns:tns2="http://www.tibco.com/AFF/classes/resultstatus" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.tibco.com/AFF/OCV/services">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/junit8721/Generated Business Objects/com.tibco.AFF.OCV.services.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.tibco.com/AFF/classes/order" schemaLocation="com.tibco.AFF.classes.order.xsd"/>
  <xsd:import namespace="http://www.tibco.com/AFF/classes/resultstatus" schemaLocation="com.tibco.AFF.classes.resultstatus.xsd"/>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="double_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-179.76931348623157E+306"/>
      <xsd:maxInclusive value="179.76931348623157E+306"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="OneTimePrice" nillable="false">
    <xsd:complexType ecore:name="OneTimePriceType" id="com.tibco.AFF.OCV.servicesOneTimePriceType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="currency" form="qualified" maxOccurs="1" minOccurs="0"
            name="Currency" type="xsd:string"/>
        <xsd:element ecore:name="amount" form="qualified" maxOccurs="1" minOccurs="1"
            name="Amount" type="tns11:double_StudioGeneratedTemplate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RecurringPrice" nillable="false">
    <xsd:complexType ecore:name="RecurringPriceType" id="com.tibco.AFF.OCV.servicesRecurringPriceType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="currency" form="qualified" maxOccurs="1" minOccurs="0"
            name="Currency" type="xsd:string"/>
        <xsd:element ecore:name="amount" form="qualified" maxOccurs="1" minOccurs="1"
            name="Amount" type="tns11:double_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="period" form="qualified" maxOccurs="1" minOccurs="1"
            name="Period" type="xsd:string"/>
        <xsd:element ecore:name="term" form="qualified" maxOccurs="1" minOccurs="0"
            name="Term" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="CustomerPrice" nillable="false">
    <xsd:complexType ecore:name="CustomerPriceType" id="com.tibco.AFF.OCV.servicesCustomerPriceType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="oneTimePrice" maxOccurs="1" minOccurs="0" ref="tns11:OneTimePrice"/>
        <xsd:element ecore:name="recurringPrice" maxOccurs="unbounded" minOccurs="0"
            ref="tns11:RecurringPrice"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetOfferDetailsReply" nillable="false">
    <xsd:complexType ecore:name="GetOfferDetailsReplyType" id="com.tibco.AFF.OCV.servicesGetOfferDetailsReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="order" maxOccurs="1" minOccurs="0" ref="tns12:Order"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetOfferDetailsReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetOfferDetailsRequest" nillable="false">
    <xsd:complexType ecore:name="GetOfferDetailsRequestType" id="com.tibco.AFF.OCV.servicesGetOfferDetailsRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="orderRef" form="qualified" maxOccurs="1" minOccurs="1"
            name="OrderRef" type="xsd:string"/>
        <xsd:element ecore:name="version" form="qualified" maxOccurs="1" minOccurs="0"
            name="Version" type="tns11:long_StudioGeneratedTemplate"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetOfferDetailsRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriberPrices" nillable="false">
    <xsd:complexType ecore:name="SubscriberPricesType" id="com.tibco.AFF.OCV.servicesSubscriberPricesType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="subscriber" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="Subscriber">
          <xsd:complexType ecore:name="SubscriberType" id="com.tibco.AFF.OCV.servicesSubscriberType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="subscriberID" form="qualified" maxOccurs="1"
                  minOccurs="1" name="SubscriberID" type="xsd:string"/>
              <xsd:element ecore:name="oneTimePrice" maxOccurs="1" minOccurs="0" ref="tns11:OneTimePrice"/>
              <xsd:element ecore:name="recurringPrice" maxOccurs="unbounded" minOccurs="0"
                  ref="tns11:RecurringPrice"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetOfferPriceReply" nillable="false">
    <xsd:complexType ecore:name="GetOfferPriceReplyType" id="com.tibco.AFF.OCV.servicesGetOfferPriceReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="orderLines" form="qualified" maxOccurs="1" minOccurs="0"
            name="OrderLines">
          <xsd:complexType ecore:name="OrderLinesType1" id="com.tibco.AFF.OCV.servicesOrderLinesType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="orderLine" form="qualified" maxOccurs="unbounded"
                  minOccurs="0" name="OrderLine">
                <xsd:complexType ecore:name="OrderLineType1" id="com.tibco.AFF.OCV.servicesOrderLineType"
                    mixed="false">
                  <xsd:sequence>
                    <xsd:element ecore:name="lineNumber" form="qualified" maxOccurs="1"
                        minOccurs="1" name="LineNumber" type="xsd:string"/>
                    <xsd:element ecore:name="price" form="qualified" maxOccurs="1"
                        minOccurs="0" name="Price">
                      <xsd:complexType ecore:name="PriceType" id="com.tibco.AFF.OCV.servicesPriceType"
                          mixed="false">
                        <xsd:sequence>
                          <xsd:element ecore:name="customerPrice" maxOccurs="1" minOccurs="0"
                              ref="tns11:CustomerPrice"/>
                          <xsd:element ecore:name="subscriberPrices" maxOccurs="1"
                              minOccurs="0" ref="tns11:SubscriberPrices"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="totalPrice" form="qualified" maxOccurs="1" minOccurs="0"
            name="TotalPrice">
          <xsd:complexType ecore:name="TotalPriceType" id="com.tibco.AFF.OCV.servicesTotalPriceType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="customerPrice" maxOccurs="1" minOccurs="0"
                  ref="tns11:CustomerPrice"/>
              <xsd:element ecore:name="subscriberPrices" maxOccurs="1" minOccurs="0"
                  ref="tns11:SubscriberPrices"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="overallPrice" form="qualified" maxOccurs="1" minOccurs="0"
            name="OverallPrice">
          <xsd:complexType ecore:name="OverallPriceType" id="com.tibco.AFF.OCV.servicesOverallPriceType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="oneTimePrice" maxOccurs="1" minOccurs="0" ref="tns11:OneTimePrice"/>
              <xsd:element ecore:name="recurringPrice" maxOccurs="unbounded" minOccurs="0"
                  ref="tns11:RecurringPrice"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetOfferPriceReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetOfferPriceRequest" nillable="false">
    <xsd:complexType ecore:name="GetOfferPriceRequestType" id="com.tibco.AFF.OCV.servicesGetOfferPriceRequestType"
        mixed="false">
      <xsd:choice>
        <xsd:element ecore:name="order" maxOccurs="1" minOccurs="1" ref="tns12:Order"/>
        <xsd:sequence>
          <xsd:element ecore:name="orderRef" id="GetOfferPriceRequestTypeOrderRef"
              form="qualified" maxOccurs="1" minOccurs="1" name="OrderRef" type="xsd:string"/>
          <xsd:element ecore:name="version" id="GetOfferPriceRequestTypeVersion" form="qualified"
              maxOccurs="1" minOccurs="0" name="Version" type="tns11:long_StudioGeneratedTemplate"/>
        </xsd:sequence>
      </xsd:choice>
      <xsd:attribute ecore:name="businessTransactionID" id="GetOfferPriceRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetOffersReply" nillable="false">
    <xsd:complexType ecore:name="GetOffersReplyType" id="com.tibco.AFF.OCV.servicesGetOffersReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="offers" form="qualified" maxOccurs="1" minOccurs="0"
            name="Offers">
          <xsd:complexType ecore:name="OffersType" id="com.tibco.AFF.OCV.servicesOffersType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="order" maxOccurs="unbounded" minOccurs="0"
                  ref="tns12:Order"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="pagination" form="qualified" maxOccurs="1" minOccurs="0"
            name="Pagination">
          <xsd:complexType ecore:name="PaginationType" id="com.tibco.AFF.OCV.servicesPaginationType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="startRecord" form="qualified" maxOccurs="1"
                  minOccurs="1" name="StartRecord" type="tns11:long_StudioGeneratedTemplate"/>
              <xsd:element ecore:name="endRecord" form="qualified" maxOccurs="1" minOccurs="1"
                  name="EndRecord" type="tns11:long_StudioGeneratedTemplate"/>
              <xsd:element ecore:name="totalRecords" form="qualified" maxOccurs="1"
                  minOccurs="1" name="TotalRecords" type="tns11:long_StudioGeneratedTemplate"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetOffersReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetOffersRequest" nillable="false">
    <xsd:complexType ecore:name="GetOffersRequestType" id="com.tibco.AFF.OCV.servicesGetOffersRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="orderRef" form="qualified" maxOccurs="1" minOccurs="0"
            name="OrderRef" type="xsd:string"/>
        <xsd:choice minOccurs="0">
          <xsd:element ecore:name="latestVersion" id="GetOffersRequestTypeLatestVersion"
              form="qualified" maxOccurs="1" minOccurs="1" name="LatestVersion" type="xsd:boolean"/>
          <xsd:element ecore:name="version" id="GetOffersRequestTypeVersion" form="qualified"
              maxOccurs="1" minOccurs="1" name="Version" type="tns11:long_StudioGeneratedTemplate"/>
        </xsd:choice>
        <xsd:element ecore:name="customerID" form="qualified" maxOccurs="1" minOccurs="0"
            name="CustomerID" type="xsd:string"/>
        <xsd:element ecore:name="subscriberID" form="qualified" maxOccurs="1" minOccurs="0"
            name="SubscriberID" type="xsd:string"/>
        <xsd:element ecore:name="dateRange" form="qualified" maxOccurs="1" minOccurs="0"
            name="DateRange">
          <xsd:complexType ecore:name="DateRangeType" id="com.tibco.AFF.OCV.servicesDateRangeType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="startDate" form="qualified" maxOccurs="1" minOccurs="0"
                  name="StartDate" type="xsd:date"/>
              <xsd:element ecore:name="endDate" form="qualified" maxOccurs="1" minOccurs="0"
                  name="EndDate" type="xsd:date"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="orderStatus" form="qualified" maxOccurs="1" minOccurs="0"
            name="OrderStatus" type="xsd:string"/>
        <xsd:element ecore:name="headerUDF" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="HeaderUDF">
          <xsd:complexType ecore:name="HeaderUDFType" id="com.tibco.AFF.OCV.servicesHeaderUDFType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="name" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Name" type="xsd:string"/>
              <xsd:element ecore:name="value" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Value" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="orderLineUDF" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="OrderLineUDF">
          <xsd:complexType ecore:name="OrderLineUDFType" id="com.tibco.AFF.OCV.servicesOrderLineUDFType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="name" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Name" type="xsd:string"/>
              <xsd:element ecore:name="value" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Value" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:choice minOccurs="0">
          <xsd:element ecore:name="count" id="GetOffersRequestTypeCount" form="qualified"
              maxOccurs="1" minOccurs="1" name="Count" type="tns11:long_StudioGeneratedTemplate"/>
          <xsd:element ecore:name="pagination" id="GetOffersRequestTypePaginationType"
              form="qualified" maxOccurs="1" minOccurs="1" name="Pagination">
            <xsd:complexType ecore:name="PaginationType1" id="com.tibco.AFF.OCV.servicesPaginationType2"
                mixed="false">
              <xsd:sequence>
                <xsd:element ecore:name="startRecord" form="qualified" maxOccurs="1"
                    minOccurs="1" name="StartRecord" type="tns11:long_StudioGeneratedTemplate"/>
                <xsd:element ecore:name="endRecord" form="qualified" maxOccurs="1"
                    minOccurs="1" name="EndRecord" type="tns11:long_StudioGeneratedTemplate"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <xsd:element ecore:name="orderSummary" form="qualified" maxOccurs="1" minOccurs="0"
            name="OrderSummary" type="xsd:boolean"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetOffersRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RemoveOfferReply" nillable="false">
    <xsd:complexType ecore:name="RemoveOfferReplyType" id="com.tibco.AFF.OCV.servicesRemoveOfferReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="RemoveOfferReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="RemoveOfferRequest" nillable="false">
    <xsd:complexType ecore:name="RemoveOfferRequestType" id="com.tibco.AFF.OCV.servicesRemoveOfferRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="orderRef" form="qualified" maxOccurs="1" minOccurs="1"
            name="OrderRef" type="xsd:string"/>
        <xsd:choice minOccurs="0">
          <xsd:element ecore:name="allVersions" id="RemoveOfferRequestTypeAllVersions"
              form="qualified" maxOccurs="1" minOccurs="1" name="AllVersions" type="xsd:boolean"/>
          <xsd:element ecore:name="version" id="RemoveOfferRequestTypeVersion" form="qualified"
              maxOccurs="1" minOccurs="1" name="Version" type="tns11:long_StudioGeneratedTemplate"/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="RemoveOfferRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="SaveOfferReply" nillable="false">
    <xsd:complexType ecore:name="SaveOfferReplyType" id="com.tibco.AFF.OCV.servicesSaveOfferReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="orderRef" form="qualified" maxOccurs="1" minOccurs="0"
            name="OrderRef" type="xsd:string"/>
        <xsd:element ecore:name="version" form="qualified" maxOccurs="1" minOccurs="0"
            name="Version" type="tns11:long_StudioGeneratedTemplate"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="SaveOfferReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="SaveOfferRequest" nillable="false">
    <xsd:complexType ecore:name="SaveOfferRequestType" id="com.tibco.AFF.OCV.servicesSaveOfferRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="order" maxOccurs="1" minOccurs="1" ref="tns12:Order"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="SaveOfferRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ValidateOfferReply" nillable="false">
    <xsd:complexType ecore:name="ValidateOfferReplyType" id="com.tibco.AFF.OCV.servicesValidateOfferReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="validationPass" form="qualified" maxOccurs="1" minOccurs="1"
            name="ValidationPass" type="xsd:boolean"/>
        <xsd:element ecore:name="message" form="qualified" maxOccurs="unbounded" minOccurs="0"
            name="Message">
          <xsd:complexType ecore:name="MessageType" id="com.tibco.AFF.OCV.servicesMessageType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="lineNumber" form="qualified" maxOccurs="1"
                  minOccurs="0" name="LineNumber" type="xsd:string"/>
              <xsd:element ecore:name="type" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Type" type="xsd:string"/>
              <xsd:element ecore:name="code" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Code" type="xsd:string"/>
              <xsd:element ecore:name="description" form="qualified" maxOccurs="1"
                  minOccurs="1" name="Description" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="ValidateOfferReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ValidateOfferRequest" nillable="false">
    <xsd:complexType ecore:name="ValidateOfferRequestType" id="com.tibco.AFF.OCV.servicesValidateOfferRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="order" maxOccurs="1" minOccurs="1" ref="tns12:Order"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="ValidateOfferRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>