tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/AtomicRPX/inner/AtomicRPXChangeCouponStatus.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:types="http://www.t-mobile.com/esp/atomic/rpx/types" xmlns:tns="http://www.t-mobile.com/esp/atomic/rpx/ChangeCouponStatus" targetNamespace="http://www.t-mobile.com/esp/atomic/rpx/ChangeCouponStatus" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.t-mobile.com/esp/atomic/rpx/types" schemaLocation="inner2/AtomicRPXTypes.xsd"/>
<!--	<xs:element name="changeCouponStatusRequest">
		<xs:annotation>
			<xs:documentation>This request is used to use the coupon status for IHAP only. Other coupon changes should use the concrete APIs like reserve, use, etc... .</xs:documentation>
		</xs:annotation> -->
		<xs:complexType name="changeCouponStatusRequest">
			<xs:sequence>
				<xs:element name="requestInfo" type="types:requestInfoType"/>
				<xs:element name="msisdn" type="types:msisdnType" minOccurs="0"/>
				<xs:element name="ban" type="types:banType" minOccurs="0"/>
				<xs:choice>
					<xs:element name="couponPin" type="types:couponPinType" minOccurs="0"/>
					<xs:element name="couponIssuerAndSerialNumber" type="types:couponIssuerAndSerialType" minOccurs="0"/>
				</xs:choice>
				<xs:element name="couponStatus" type="xs:normalizedString"/>
				<xs:element name="externalUserID" type="xs:normalizedString" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
<!--	</xs:element> -->
<!--	<xs:element name="changeCouponStatusResponse">
		<xs:annotation>
			<xs:documentation>
				This is the success response for the use coupons request.  
				The request may contain multiple coupons: 
				For each coupon, the status of the coupon is returned and the total value of all used coupons.
			</xs:documentation>
		</xs:annotation> -->
		<xs:complexType name="changeCouponStatusResponse">
			<xs:sequence>
				<xs:element name="correlationId" type="types:correlationIdType" minOccurs="0"/>
				<xs:element name="couponInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="errorCode" type="xs:nonNegativeInteger" minOccurs="0"/>
							<xs:element name="errorMessage" type="xs:normalizedString" minOccurs="0"/>
							<xs:element name="couponDetails" type="types:couponDetailsType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
<!--	</xs:element> -->
</xs:schema>
