tbs-bpm/tests/com.tibco.xpd.sce.test.feature/plugins/com.tibco.xpd.sce.test/resources/BrmRascTest/BrmRascSharedResourceTest/SimpleProc/.processOut/process/SimpleProc.xpdl/TIBCO-REST-PassThrough.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.tibco.com/rsbtPassThrough/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="rsbtPassThrough" targetNamespace="http://www.tibco.com/rsbtPassThrough/">
	<partnerLinkType xmlns="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="RESTPassThroughService_PLT">
		<role name="RESTPassThroughServiceProvider" portType="tns:RESTPassThroughService"/>
	</partnerLinkType>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.tibco.com/rsbtPassThrough/">
  
            <xsd:element name="httpRequest" type="tns:httpRequest"/>
            <xsd:element name="httpResponse" type="tns:httpResponse"/>
            <xsd:complexType name="httpRequest">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="requestURI" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="httpMethod" type="tns:httpMethod">
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="httpHeaders" type="tns:httpHeaders">
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="httpBody" type="xsd:base64Binary">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
  
            <xsd:complexType name="httpResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="httpStatus" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="httpHeaders" type="tns:httpHeaders">
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="httpBody" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>
              
            <xsd:simpleType name="httpMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="GET"/>
                    <xsd:enumeration value="PUT"/>
                    <xsd:enumeration value="POST"/>
                    <xsd:enumeration value="DELETE"/>
                </xsd:restriction>
            </xsd:simpleType>
  
  
             <xsd:complexType name="httpHeaders">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="httpHeader" type="tns:httpHeader"/>
                </xsd:sequence>
            </xsd:complexType>
             
            <xsd:complexType name="httpHeader">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
  
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="invokeRequest">
        <wsdl:part element="tns:httpRequest" name="httpRequest"/>
    </wsdl:message>
    <wsdl:message name="invokeResponse">
        <wsdl:part element="tns:httpResponse" name="httpResponse"/>
    </wsdl:message>
    <wsdl:portType name="RESTPassThroughService">
        <wsdl:operation name="invoke">
            <wsdl:input message="tns:invokeRequest"/>
            <wsdl:output message="tns:invokeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
