tbs-bpm/tests/com.tibco.xpd.sce.test.feature/plugins/com.tibco.xpd.sce.test/resources/BrmRascTest/BrmRascTestProject/.bom2Xsd/com.example.brmrasctest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://example.com/brmrasctest" xmlns:tns1="http://example.com/brmrasctest"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/brmrasctest">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/BrmRascTest/Business Objects/BrmRascTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Class1" id="_DgW5IF0lEemv57AKFO26Pg" name="Class1">
    <xsd:sequence>
      <xsd:element ecore:name="attribute1" id="_Fv9kQF0lEemv57AKFO26Pg" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="attribute2" id="_GApEkF0lEemv57AKFO26Pg" maxOccurs="1"
          minOccurs="0" name="attribute2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Class1Element" type="Class1"/>
</xsd:schema>