tbs-bpm/tests/com.tibco.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/elements/MultipleElmDiffComplex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://example.com/MultipleElmDiffComplex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/MultipleElmDiffComplex" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore">
	<xsd:element name="CustomerElement" type="Customer"/>
	<xsd:element name="AnotherCustomerElement" type="Customer"/>
	<xsd:element name="PersonElement" type="Person"/>
	<xsd:element name="AnotherPersonElement" type="Person"/>
	<xsd:complexType name="Person" ecore:name="Person">
		<xsd:sequence>
			<xsd:element name="name" ecore:name="name">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Customer" ecore:name="Customer">
		<xsd:complexContent>
			<xsd:extension base="Person">
				<xsd:sequence>
					<xsd:element name="customerId" ecore:name="customerId">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
