tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/builder/XSDBOM_TLE18_JustTLEWithExternalTypes2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://XSDBOM_TLE18_JustTLEWithExternalTypes2" xmlns:tns2="http://XSDBOM_TLE18_JustTLEWithExternalTypes2"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://XSDBOM_TLE18_JustTLEWithExternalTypes2">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD3877/Business Objects/XSDBOM_TLE18_JustTLEWithExternalTypes2.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="SimpType" id="XSDBOM_TLE18_JustTLEWithExternalTypes2SimpType2"
      name="SimpType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ExtSimpType" id="XSDBOM_TLE18_JustTLEWithExternalTypes2ExtSimpType2"
      name="ExtSimpType">
    <xsd:restriction base="tns2:SimpType">
      <xsd:maxLength fixed="false" value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="duration" id="XSDBOM_TLE18_JustTLEWithExternalTypes2duration2"
      name="duration">
    <xsd:restriction base="xsd:duration"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="SubEnumType" id="XSDBOM_TLE18_JustTLEWithExternalTypes2SubEnumType"
      name="SubEnumType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="ONE" value="One"/>
      <xsd:enumeration ecore:name="TWO" value="Two"/>
      <xsd:enumeration ecore:name="THREE" value="Three"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attribute name="attributeString" type="xsd:string"/>
  <xsd:simpleType name="double_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-179.76931348623157E+306"/>
      <xsd:maxInclusive value="179.76931348623157E+306"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attribute name="attributeDouble" type="tns2:double_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="elementString" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="elementInteger" nillable="false" type="xsd:int"/>
  <xsd:element abstract="false" name="elementEnumeration" nillable="false" type="SubEnumType"/>
  <xsd:element abstract="false" name="elementSimpType" nillable="false" type="SimpType"/>
  <xsd:element abstract="false" name="elementExtSimpType" nillable="false" type="ExtSimpType"/>
  <xsd:element abstract="false" name="duration" nillable="true" type="duration"/>
  <xsd:element abstract="false" name="elementAnonSimpleType" nillable="false">
    <xsd:simpleType ecore:name="elementAnonSimpleTypeType">
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="200"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>