tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/builder/XSDBOM_TLE18_JustTLEWithExternalTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/elementDeclaredTypesUsage" xmlns:tns2="http://example.com/elementDeclaredTypesUsage"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://XSDBOM_TLE18_JustTLEWithExternalTypes2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://example.com/elementDeclaredTypesUsage">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/UC1WaFaultHandlingWS/Business Objects/com.example.elementDeclaredTypesUsage.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://XSDBOM_TLE18_JustTLEWithExternalTypes2" schemaLocation="XSDBOM_TLE18_JustTLEWithExternalTypes2.xsd"/>
  <xsd:element abstract="false" name="SubEnumTypeUsage" nillable="false" type="tns1:SubEnumType"/>
  <xsd:element abstract="false" name="SimpTypeUsage" nillable="false" type="tns1:SimpType"/>
  <xsd:element abstract="false" name="ExtSimpTypeUsage" nillable="false" type="tns1:ExtSimpType"/>
</xsd:schema>