tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-any/XSDBOM_Any06_AttributeContent.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com"
	elementFormDefault="qualified">

	<xs:complexType name="person">
		<xs:sequence>			
			<xs:any minOccurs="2" maxOccurs="5" namespace="##any" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="person2">
		<xs:sequence>			
			<xs:any namespace="##local" processContents="skip" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="person3">
		<xs:sequence>			
			<xs:any namespace="##other" processContents="strict" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="person4">
		<xs:sequence>			
			<xs:any namespace="http://www.tibco.com tibco.com ##targetNamespace"  />
		</xs:sequence>
	</xs:complexType>

</xs:schema>