tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.sce.n2.wsdlgen.test/resources/BPMNestedBOM/Service Descriptors/NestedBOMsGOLD1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://example.com/bomwithinternalpackages/internalpkg2" xmlns:ttns1="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" xmlns:ttns2="http://example.com/bomwithinternalpackages" xmlns:ttns3="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:ttns4="http://example.com/testoriginalbom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NestedBOMs" targetNamespace="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" tibex:XPDL="NestedBOMs.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" targetNamespace="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw"/>
    <xsd:schema xmlns="http://example.com/bomwithinternalpackages/internalpkg2" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bomwithinternalpackages" xmlns:tns3="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" targetNamespace="http://example.com/bomwithinternalpackages/internalpkg2">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal"/>
      <xsd:import namespace="http://example.com/bomwithinternalpackages"/>
      <xsd:complexType name="Internal2C1">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="nonInternal" type="tns1:NonInternal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Internal2C1Element" type="Internal2C1"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" targetNamespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="InternalInternal1"/>
      <xsd:element name="InternalInternal1Element" type="InternalInternal1"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/bomwithinternalpackages" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:tns3="http://example.com/bomwithinternalpackages/internalpkg2" targetNamespace="http://example.com/bomwithinternalpackages">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/interalpkg1"/>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2"/>
      <xsd:complexType name="NonInternal"/>
      <xsd:element name="NonInternalElement" type="NonInternal"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:tns2="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" targetNamespace="http://example.com/bomwithinternalpackages/interalpkg1">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal"/>
      <xsd:complexType mixed="false" name="Internal1">
        <xsd:complexContent>
          <xsd:extension base="tns2:InternalInternal1"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Internal2"/>
      <xsd:element name="Internal1Element" type="Internal1"/>
      <xsd:element name="Internal2Element" type="Internal2"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/testoriginalbom" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/testoriginalbom" targetNamespace="http://example.com/testoriginalbom">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/TestOriginalBOM.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="TypesTest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="typesContainer" type="TypesContainer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TypesContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="textField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element default="false" maxOccurs="1" minOccurs="0" name="booleanField" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateField" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateTimeField" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateTimeZoneField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="durationField" type="xsd:duration"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="timeField" type="xsd:time"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="uriField" type="xsd:anyURI"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="decimalField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="2"/>
                <xsd:pattern value="[+-]?([1-9][0-9]{0,7}|0)(\.[0-9]{0,2})?"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="floatType" type="double_StudioGeneratedTemplate"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="integerField" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bigInteger">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="double_StudioGeneratedTemplate">
        <xsd:restriction base="xsd:double">
          <xsd:minInclusive value="-179.76931348623157E+306"/>
          <xsd:maxInclusive value="179.76931348623157E+306"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TypesTestElement" type="TypesTest"/>
      <xsd:element name="TypesContainerElement" type="TypesContainer"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NestedBOMsProcess_CatchIntermediateMessageEvent_INPUT">
    <wsdl:part name="NestedBOMParam1Inout" type="ttns3:Internal1"/>
    <wsdl:part name="NestedBOMparamInMandatory" type="ttns:Internal2C1"/>
  </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_CatchIntermediateMessageEvent_OUTPUT">
    <wsdl:part name="NestedBOMParam1Inout" type="ttns3:Internal1"/>
    <wsdl:part name="NestedBOMParamOutMandatory" type="ttns4:TypesContainer"/>
  </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_ReceiveTask_INPUT">
    <wsdl:part name="NestedBOMParam1Inout" type="ttns3:Internal1"/>
    <wsdl:part name="NestedBOMparamInMandatory" type="ttns:Internal2C1"/>
  </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_ReceiveTask_OUTPUT">
    <wsdl:part name="NestedBOMParam1Inout" type="ttns3:Internal1"/>
    <wsdl:part name="NestedBOMParamOutMandatory" type="ttns4:TypesContainer"/>
  </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_StartMessageEvent_INPUT">
    <wsdl:part name="NestedBOMParam1Inout" type="ttns3:Internal1"/>
    <wsdl:part name="NestedBOMparamInMandatory" type="ttns:Internal2C1"/>
  </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_StartMessageEvent_OUTPUT">
    <wsdl:part name="NestedBOMParam1Inout" type="ttns3:Internal1"/>
    <wsdl:part name="NestedBOMParamOutMandatory" type="ttns4:TypesContainer"/>
  </wsdl:message>
  <wsdl:portType name="NestedBOMsProcess" tibex:FlowContainer="_CNdp0RY_Ed-n1oNotSI1sw">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="CatchIntermediateMessageEvent">
      <wsdl:input message="ns:NestedBOMsProcess_CatchIntermediateMessageEvent_INPUT" tibex:Event="_Qj_DcBY_Ed-n1oNotSI1sw"/>
      <wsdl:output message="ns:NestedBOMsProcess_CatchIntermediateMessageEvent_OUTPUT" tibex:Event="_Qj_DcBY_Ed-n1oNotSI1sw"/>
    </wsdl:operation>
    <wsdl:operation name="ReceiveTask">
      <wsdl:input message="ns:NestedBOMsProcess_ReceiveTask_INPUT" tibex:Event="_SAh58BY_Ed-n1oNotSI1sw"/>
      <wsdl:output message="ns:NestedBOMsProcess_ReceiveTask_OUTPUT" tibex:Event="_SAh58BY_Ed-n1oNotSI1sw"/>
    </wsdl:operation>
    <wsdl:operation name="StartMessageEvent">
      <wsdl:input message="ns:NestedBOMsProcess_StartMessageEvent_INPUT" tibex:Event="_PeQKcBY_Ed-n1oNotSI1sw"/>
      <wsdl:output message="ns:NestedBOMsProcess_StartMessageEvent_OUTPUT" tibex:Event="_PeQKcBY_Ed-n1oNotSI1sw"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
