tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources-ABPM-702/xsd/01_BasicConstructMapping/XSDBOM07_ComplexContentExtensionTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://businessobjectmodel" xmlns:hxy="http://businessobjectmodel"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
	<xs:complexType name="file2">
		<xs:sequence>
			<xs:element name="description" type="xs:string" />
			<xs:element name="contents" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="extFile2">
		<xs:complexContent>
			<xs:extension base="file2">
				<xs:sequence>
					<xs:element name="moredetails" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>