tbs-bpm/bx-product/com.tibco.sce.bx.designtime.debug.feature/plugins/com.tibco.bx.design.debug.http/wsdl/processManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Adrian Hussey (Tibco 
	Software Ltd) -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.tibco.com/bx/2009/management/process" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pm="http://www.tibco.com/bx/2009/management/processManagerType"
	xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="processManagement"
	targetNamespace="http://www.tibco.com/bx/2009/management/process"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.tibco.com/bx/2009/management/processManagerType">
			<xsd:include schemaLocation="processManagement.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="listStarterOperationsRequest">
		<wsdl:part name="params" element="pm:qualifiedProcessName" />
	</wsdl:message>
	<wsdl:message name="listStarterOperationsResponse">
		<wsdl:part name="params" element="pm:starterOperations" />
	</wsdl:message>
	<wsdl:message name="createProcessInstanceRequest">
		<wsdl:part name="params" element="pm:createProcessInstanceInput" />
	</wsdl:message>
	<wsdl:message name="createProcessInstanceResponse">
		<wsdl:part name="params" element="pm:processID" />
	</wsdl:message>
	<wsdl:message name="getProcessInstanceStatusRequest">
		<wsdl:part name="params" element="pm:processID" />
	</wsdl:message>
	<wsdl:message name="getStarterOperationInfoRequest">
		<wsdl:part name="params" element="pm:starterOperation" />
	</wsdl:message>
	<wsdl:message name="getStarterOperationInfoResponse">
		<wsdl:part name="params" element="pm:operationInfo" />
	</wsdl:message>
	<wsdl:message name="successMessage">
		<wsdl:part name="params" element="pm:success" />
	</wsdl:message>
	<wsdl:message name="illegalArgumentFault">
		<wsdl:part name="fault" element="pm:illegalArgumentFault" />
	</wsdl:message>
	<wsdl:message name="operationFailedFault">
		<wsdl:part name="fault" element="pm:operationFailedFault" />
	</wsdl:message>
	<wsdl:portType name="processManagement">
		<wsdl:documentation>Manage process templates and process instances.
		</wsdl:documentation>
		<wsdl:operation name="createProcessInstance">
			<wsdl:documentation>Create a process instance using a starter
				operation. (See also: listStarterOperations and
				getStarterOperationInfo.)
			</wsdl:documentation>
			<wsdl:input message="tns:createProcessInstanceRequest">
				<wsdl:documentation>Request message (uses
					pm:createProcessInstanceInput element): Specifies the starter
					operation and its associated parameter values that should be used
					to create the process instance.
				</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="tns:createProcessInstanceResponse">
				<wsdl:documentation>Response message (uses pm:processID element):
					Returns the unique ID of the newly created process instance.
				</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault" message="tns:illegalArgumentFault">
				<wsdl:documentation>Error message (uses pm:illegalArgumentFault
					element): The request failed because a required parameter in the
					request message was either invalid or missing. (The "reason"
					element provides more information about the error.)
				</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault" message="tns:operationFailedFault">
				<wsdl:documentation>Error message (uses pm:operationFailedFault
					element): The operation failed. (The "reason" element provides more
					information about the error.)
				</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStarterOperationInfo">
			<wsdl:documentation>List the parameter details for a particular
				starter operation. (See also: listStarterOperations and
				createProcessInstance.)
			</wsdl:documentation>
			<wsdl:input message="tns:getStarterOperationInfoRequest">
				<wsdl:documentation>Request message (uses pm:starterOperation
					element): Specifies the starter operation for which parameter
					details should be listed.
				</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="tns:getStarterOperationInfoResponse">
				<wsdl:documentation>Response message (uses pm:operationInfo
					element): Lists the details of the of the specified starter
					operation's parameters.
				</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault" message="tns:illegalArgumentFault">
				<wsdl:documentation>Error message (uses pm:illegalArgumentFault
					element): The request failed because a required parameter in the
					request message was either invalid or missing. (The "reason"
					element provides more information about the error.)
				</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault" message="tns:operationFailedFault">
				<wsdl:documentation>Error message (uses pm:operationFailedFault
					element): The operation failed. (The "reason" element provides more
					information about the error.)
				</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listStarterOperations">
			<wsdl:documentation>List available starter operations for one or more
				process templates. See also createProcessInstance.
			</wsdl:documentation>
			<wsdl:input message="tns:listStarterOperationsRequest">
				<wsdl:documentation>Request message (uses pm:qualifiedProcessName
					element): Specifies the process templates for which starter
					operations are to be listed.
				</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="tns:listStarterOperationsResponse">
				<wsdl:documentation>Response message (uses pm:starterOperations
					element): Lists all starter operations defined for the specified
					process templates.
				</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault" message="tns:illegalArgumentFault">
				<wsdl:documentation>Error message (uses pm:illegalArgumentFault
					element): The request failed because a required parameter in the
					request message was either invalid or missing. (The "reason"
					element provides more information about the error.)
				</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault" message="tns:operationFailedFault">
				<wsdl:documentation>Error message (uses pm:operationFailedFault
					element): The operation failed. (The "reason" element provides more
					information about the error.)
				</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<!-- 1.1 binding -->
	<wsdl:binding name="ProcessManagerBinding" type="tns:processManagement">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createProcessInstance">
			<soap:operation soapAction="createProcessInstance"
				style="document" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault">
				<soap:fault name="illegalArgumentFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStarterOperationInfo">
			<soap:operation soapAction="getStarterOperationInfo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault">
				<soap:fault name="illegalArgumentFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listStarterOperations">
			<soap:operation soapAction="listStarterOperations"
				style="document" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault">
				<soap:fault name="illegalArgumentFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>


	<!-- 1.2 binding -->
	<wsdl:binding name="ProcessManagerBinding12" type="tns:processManagement">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createProcessInstance">
			<soap12:operation soapAction="createProcessInstance"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault">
				<soap12:fault name="illegalArgumentFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault">
				<soap12:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStarterOperationInfo">
			<soap12:operation soapAction="getStarterOperationInfo"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault">
				<soap12:fault name="illegalArgumentFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault">
				<soap12:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listStarterOperations">
			<soap12:operation soapAction="listStarterOperations"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2009/management/process" />
			</wsdl:output>
			<wsdl:fault name="illegalArgumentFault">
				<soap12:fault name="illegalArgumentFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="operationFailedFault">
				<soap12:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ProcessManagerService">
		<wsdl:port name="ProcessManagerPort" binding="tns:ProcessManagerBinding">
			<soap:address
				location="http://localhost:8080/bxEngine/node/processManagement/" />
		</wsdl:port>

		<wsdl:port name="ProcessManagerPort12" binding="tns:ProcessManagerBinding12">
            <soap12:address location="http://localhost:8080/bxEngine/node/processManagement/"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>