tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/01_BasicConstructMapping/XSDBOM16_AnonymousTypeTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by XMLSpy 2009 Enterprise Ed., Concurrent for 6 users (with SMP from 2009-11-06 to 2010-11-07) (Tibco Software Ltd) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.example.com/anonymousTypes" targetNamespace="http://www.example.com/anonymousTypes">
	<xs:complexType name="typeWithAnonymousSimpleType">
		<xs:sequence>
			<xs:element name="anonymousSimpleType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="typeCode" type="xs:normalizedString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeWithAnonymousComplexType">
		<xs:sequence>
			<xs:element name="issuerId" type="xs:positiveInteger"/>
			<xs:element name="serialNumber" type="xs:nonNegativeInteger"/>
			<xs:element name="validForRefill" type="xs:boolean"/>
			<xs:element name="validForActivation" type="xs:boolean"/>
			<xs:element name="faceValue" type="xs:nonNegativeInteger"/>
			<xs:element name="anonymousComplexTypeField">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="validForRefill2" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="typeCode" type="xs:normalizedString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeWithAnonymousEnumeration">
		<xs:sequence>
			<xs:element name="issuerId" type="xs:positiveInteger"/>
			<xs:element name="serialNumber" type="xs:nonNegativeInteger"/>
			<xs:element name="validForRefill" type="xs:boolean"/>
			<xs:element name="validForActivation" type="xs:boolean"/>
			<xs:element name="faceValue" type="xs:nonNegativeInteger"/>
			<xs:element name="anonymousEnumeration">
				<xs:simpleType>
					<xs:restriction base="xs:normalizedString">
						<xs:enumeration value="activation"/>
						<xs:enumeration value="refill"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="typeCode" type="xs:normalizedString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeWithAnonymousExtensionOfSimpleType">
		<xs:sequence>
			<xs:element name="issuerId" type="xs:positiveInteger"/>
			<xs:element name="serialNumber" type="xs:nonNegativeInteger"/>
			<xs:element name="validForRefill" type="xs:boolean"/>
			<xs:element name="validForActivation" type="xs:boolean"/>
			<xs:element name="faceValue" type="xs:nonNegativeInteger"/>
			<xs:element name="anonymousExtensionOfSimpleType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-z]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="typeCode" type="xs:normalizedString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeWithAnonymousRestrictionOfSimpleType">
		<xs:sequence>
			<xs:element name="anonymousExtensionOfSimpleType1">
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:maxExclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="anonymousExtensionOfSimpleType2">
				<xs:simpleType>
					<xs:restriction base="MySimpleType">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="typeCode" type="xs:normalizedString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeWithAnonymousExtensionOfComplexType">
		<xs:sequence>
			<xs:element name="anonymousExtensionOfComplexType">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="typeWithAnonymousComplexType">
							<xs:sequence>
								<xs:element name="address" type="xs:string"/>
								<xs:element name="city" type="xs:string"/>
								<xs:element name="country" type="xs:string"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MySimpleType">
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="typeWithAnonymousTypeRecursion">
		<xs:sequence>
			<xs:element name="anonymousComplexTypeField">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="anotherFieldOfTypeAnonymous">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="validForRefill" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
