tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/WSDL-AMXBPM-API/WSDL04/services/ec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (x64) (http://www.altova.com) by XMLSpy 2009 Enterprise Ed., Concurrent for 6 users (with SMP from 2009-11-06 to 2010-11-07) (Tibco Software Ltd) -->
<xs:schema xmlns:base="http://base.api.ec.n2.tibco.com" xmlns="http://api.ec.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.ec.n2.tibco.com" version="1.0">
	<xs:import namespace="http://base.api.ec.n2.tibco.com" schemaLocation="ec-basetypes.xsd"/>
	<!-- Query Service -->
	<xs:element name="executeQueryResponse" type="queryResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="executeQueryRequest" type="executeQueryObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="executeGenericQueryResponse" type="genericQueryResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for executeGenericQuery operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="executeGenericQueryRequest" type="executeQueryObject">
		<xs:annotation>
			<xs:documentation>Request element for executeGenericQuery operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="executeRegisteredQueryRequest" type="executeRegisteredQueryObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="executeRegisteredQueryResponse" type="queryResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="executeRegisteredGenericQueryRequest" type="executeRegisteredQueryObject">
		<xs:annotation>
			<xs:documentation>Request element for executeRegisteredGenericQuery operation.

The specified QueryIdentifier can contain either a guid or a tag to identify the query. A guid is recommended for better performance.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="executeRegisteredGenericQueryResponse" type="genericQueryResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for executeRegisteredGenericQuery operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getAllAttributesRequest" type="getAllAttributesObject">
		<xs:annotation>
			<xs:documentation>Request element for getAllAttributes operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getAllAttributesResponse" type="attributesResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for getAllAttributes operation.

The list of attributes returned may contain different versions of attributes - each version will be identifieed by a unique ID.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getAttributesRequest" type="getAttributesObject">
		<xs:annotation>
			<xs:documentation>Request element for getAttributes operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getAttributesResponse" type="attributesResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for getAttributes operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="isQueryRegisteredRequest" type="isQueryRegisteredObject">
		<xs:annotation>
			<xs:documentation>Request element for isQueryRegistered operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="isQueryRegisteredResponse" type="queryRegisteredResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for isQueryRegistered operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="registerQueryRequest" type="registerQueryObject">
		<xs:annotation>
			<xs:documentation>Request element for registerQuery operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="registerQueryResponse" type="registerQueryResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for registerQuery operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unRegisterQueryRequest" type="unRegisterQueryObject">
		<xs:annotation>
			<xs:documentation>Request element for unRegisterQuery operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unRegisterQueryResponse" type="unRegisterQueryResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for unRegisterQuery operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getComponentsRequest" type="getComponentsObject">
		<xs:annotation>
			<xs:documentation>Request element for getComponent operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getComponentsResponse" type="getComponentsResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for getComponents operation.

(Due to versioning multiple components can be returned with similar details and duplicate attribute definitions.)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="lookupQueryByTagRequest" type="lookupQueryByTagObject">
		<xs:annotation>
			<xs:documentation>Request element for lookupQueryByTag operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="lookupQueryByTagResponse" type="lookupQueryByTagResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for lookupQueryByTag operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- Update Service -->
	<xs:element name="eventResponse" type="eventResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="eventRequest" type="eventObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="registerComponentRequest" type="registerComponentObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="registerComponentResponse" type="registerComponentResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="registerAttributesRequest" type="registerAttributesObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="registerAttributesResponse" type="registerAttributesResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- Measures Service-->
	<xs:element name="requestMeasureRequest" type="requestMeasureObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestMeasureResponse" type="requestMeasureResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestGenericMeasureRequest" type="requestGenericMeasureObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestGenericMeasureResponse" type="requestGenericMeasureResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestProcessTemplateMeasureRequest" type="requestProcessTemplateMeasureObject">
		<xs:annotation>
			<xs:documentation>Request element for requestProcessTemplateMeasure operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestProcessTemplateMeasureResponse" type="requestProcessTemplateMeasureResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for requestProcessTemplateMeasure operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestProcessDurationMeasureRequest" type="requestProcessDurationMeasureObject">
		<xs:annotation>
			<xs:documentation>Request element for requestProcessDurationMeasure operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestProcessDurationMeasureResponse" type="requestProcessDurationMeasureResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for requestProcessDurationMeasure operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestWorkItemPerformanceForTemplateRequest" type="requestWorkItemPerformanceForTemplateObject">
		<xs:annotation>
			<xs:documentation>Request element for requestWorkItemPerformanceForTemplateMeasure operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestWorkItemPerformanceForTemplateResponse" type="requestWorkItemPerformanceForTemplateResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for requestWorkItemPerformanceForTemplateMeasure operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestWorkItemPerformanceForResourceRequest" type="requestWorkItemPerformanceForResourceObject">
		<xs:annotation>
			<xs:documentation>Request element for requestWorkItemPerformanceForResourceMeasure operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestWorkItemPerformanceForResourceResponse" type="requestWorkItemPerformanceForResourceResponseObject">
		<xs:annotation>
			<xs:documentation>Response element for requestWorkItemPerformanceForResourceMeasure operation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- Type definitions -->
	<xs:complexType name="registerComponentObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="base:Component"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="registerComponentResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="base:Component"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="registerAttributesObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="componentId" type="xs:long"/>
			<xs:element ref="base:AttributeDefinition" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="registerAttributesResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="base:AttributeDefinition" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="base:Event"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="registerQueryObject">
		<xs:sequence>
			<xs:element name="tag" type="xs:string">
				<xs:annotation>
					<xs:documentation>String identifier for this query.

The string must be unique (i.e. not already used by another registered query on the system).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="base:Query"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="registerQueryResponseObject">
		<xs:sequence>
			<xs:element ref="base:QueryIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getComponentsObject"/>
	<xs:complexType name="getComponentsResponseObject">
		<xs:sequence>
			<xs:element ref="base:Component" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="unRegisterQueryObject">
		<xs:sequence>
			<xs:element ref="base:QueryIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="unRegisterQueryResponseObject"/>
	<xs:complexType name="isQueryRegisteredObject">
		<xs:sequence>
			<xs:element ref="base:QueryIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="queryRegisteredResponseObject">
		<xs:sequence>
			<xs:element name="result" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Boolean value specifying whether the query is registered with Event Collector.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getAllAttributesObject"/>
	<xs:complexType name="getAttributesObject">
		<xs:sequence>
			<xs:element name="componentId" type="xs:long">
				<xs:annotation>
					<xs:documentation>ID of the component for which attributes should be returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attributesResponseObject">
		<xs:sequence>
			<xs:element ref="base:AttributeDefinition" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="executeRegisteredQueryObject">
		<xs:sequence>
			<xs:element ref="base:QueryIdentifier"/>
			<xs:element ref="base:QueryOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="executeQueryObject">
		<xs:sequence>
			<xs:element ref="base:Query"/>
			<xs:element ref="base:QueryOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="queryResponseObject">
		<xs:sequence>
			<xs:element ref="base:Result"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genericQueryResponseObject">
		<xs:sequence>
			<xs:element ref="base:GenericResult"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="lookupQueryByTagObject">
		<xs:sequence>
			<xs:element name="tag" type="xs:string">
				<xs:annotation>
					<xs:documentation>String identifier for the query to be looked up.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="lookupQueryByTagResponseObject">
		<xs:sequence>
			<xs:element ref="base:QueryInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestMeasureObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="measureType" type="base:MeasureType"/>
			<xs:element name="id" type="base:MeasureId" maxOccurs="unbounded"/>
			<xs:element name="duration" type="base:MeasureDuration"/>
			<xs:element name="options" type="base:MeasureOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestMeasureResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="measure" type="base:Measure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestProcessDurationMeasureObject">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="base:ProcessTemplateId" maxOccurs="unbounded"/>
			<xs:element name="duration" type="base:MeasureDuration"/>
			<xs:element name="options" type="base:MeasureOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestProcessDurationMeasureResponseObject">
		<xs:sequence>
			<xs:element name="measure" type="base:ProcessDurationMeasure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestProcessTemplateMeasureObject">
		<xs:sequence>
			<xs:element name="id" type="base:ProcessTemplateId" maxOccurs="unbounded"/>
			<xs:element name="duration" type="base:MeasureDuration"/>
			<xs:element name="options" type="base:MeasureOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestProcessTemplateMeasureResponseObject">
		<xs:sequence>
			<xs:element name="measure" type="base:ProcessTemplateMeasure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestWorkItemPerformanceForTemplateObject">
		<xs:sequence>
			<xs:element name="id" type="base:ProcessTemplateId" maxOccurs="unbounded"/>
			<xs:element name="duration" type="base:MeasureDuration"/>
			<xs:element name="options" type="base:MeasureOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestWorkItemPerformanceForTemplateResponseObject">
		<xs:sequence>
			<xs:element name="measure" type="base:WorkItemMeasure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestWorkItemPerformanceForResourceObject">
		<xs:sequence>
			<xs:element name="id" type="base:ResourceId" maxOccurs="unbounded"/>
			<xs:element name="duration" type="base:MeasureDuration"/>
			<xs:element name="options" type="base:MeasureOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestWorkItemPerformanceForResourceResponseObject">
		<xs:sequence>
			<xs:element name="measure" type="base:WorkItemMeasure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestGenericMeasureObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="measureType" type="xs:string"/>
			<xs:element name="id" type="base:BasicMeasureId" maxOccurs="unbounded"/>
			<xs:element name="duration" type="base:MeasureDuration"/>
			<xs:element name="options" type="base:MeasureOptions"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestGenericMeasureResponseObject">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="measure" type="base:Measure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
