tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd-choice/gold/wizard/XSDBOM_Choice02_ComplexChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/ComplexChoice" xmlns:tns1="http://example.com/ComplexChoice"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/ComplexChoice">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/p1/Business Objects/myTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="com.example.ComplexChoicePlane" abstract="false" mixed="false"
      name="Plane">
    <xsd:choice>
      <xsd:element id="PlanefreightDetails" form="unqualified" maxOccurs="1" minOccurs="1"
          name="freightDetails" type="Box"/>
      <xsd:element id="Planeseats" form="unqualified" maxOccurs="1" minOccurs="1"
          name="seats" type="SeatInfo"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType id="com.example.ComplexChoiceBox" abstract="false" mixed="false"
      name="Box">
    <xsd:sequence>
      <xsd:element id="Boxcapacity" form="unqualified" maxOccurs="1" minOccurs="1"
          name="capacity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="-179.76931348623157E+306"/>
            <xsd:maxInclusive value="179.76931348623157E+306"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.example.ComplexChoiceSeatInfo" abstract="false" mixed="false"
      name="SeatInfo">
    <xsd:sequence>
      <xsd:element id="SeatInfosize" form="unqualified" maxOccurs="1" minOccurs="1"
          name="size">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="-179.76931348623157E+306"/>
            <xsd:maxInclusive value="179.76931348623157E+306"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="SeatInfocolour" form="unqualified" maxOccurs="1" minOccurs="1"
          name="colour">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="Boeing" nillable="false" type="Plane"/>
</xsd:schema>