tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd-choice/gold/wizard/XSDBOM_Choice01_SimpleChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/SimpleChoice" xmlns:tns1="http://example.com/SimpleChoice"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/SimpleChoice">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/Test1/Business Objects/SimpleChoice.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="com.example.simple.choice_Plane" abstract="false" mixed="false"
      name="Plane">
    <xsd:choice>
      <xsd:element id="Plane_freightDetails" form="unqualified" maxOccurs="1" minOccurs="1"
          name="freightDetails">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="Plane_passengers" form="unqualified" maxOccurs="1" minOccurs="1"
          name="passengers">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>