tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/CMISProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Paul Raby (Tibco Software Ltd) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tib="http://www.tibco.com/cmis/proxy" name="CMISProxyService" targetNamespace="http://www.tibco.com/cmis/proxy">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.tibco.com/cmis/proxy" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:attribute name="permitBatch" type="xs:boolean"/>
			<xs:simpleType name="baseRepositoryType">
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
			<xs:complexType name="simpleQueryType">
				<xs:sequence>
					<xs:element name="queryReference">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute ref="tib:permitBatch" default="false"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="complexQueryType">
				<xs:choice>
					<xs:element name="cmisQuery" type="xs:string"/>
					<xs:element name="cmisQueryWithBind">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="query" type="xs:string"/>
								<xs:element name="bind">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="variable" type="xs:string" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="simpleQueryResponseType">
				<xs:sequence>
					<xs:element name="response" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="complexQueryResponseType">
				<xs:sequence>
					<xs:element name="response" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="uri" type="xs:string" minOccurs="0"/>
								<xs:element name="objectId" type="xs:string" minOccurs="0"/>
								<xs:element name="name" type="xs:string" minOccurs="0"/>
								<xs:element name="author" type="xs:string" minOccurs="0"/>
								<xs:element name="version" type="xs:string" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="baseNameType">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="baseIdType">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="baseCPNameType">
				<xs:sequence>
					<xs:element name="childName" type="xs:string"/>
					<xs:element name="properties" type="tib:propertiesType" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="baseSTNameType">
				<xs:sequence>
					<xs:element name="sourceFolderName" type="xs:string"/>
					<xs:element name="sourceObjectName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="baseSTIdType">
				<xs:sequence>
					<xs:element name="sourceFolderId" type="xs:string"/>
					<xs:element name="sourceObjectId" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="simpleCPNameType">
				<xs:complexContent>
					<xs:extension base="tib:baseCPNameType">
						<xs:sequence>
							<xs:element name="parentName" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="simpleCPHybridType">
				<xs:complexContent>
					<xs:extension base="tib:baseCPNameType">
						<xs:sequence>
							<xs:element name="parentId" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="complexCPHybridType">
				<xs:complexContent>
					<xs:extension base="tib:baseCPNameType">
						<xs:sequence>
							<xs:element name="parentFolder">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="tib:complexQueryType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="simpleSTNameType">
				<xs:complexContent>
					<xs:extension base="tib:baseSTNameType">
						<xs:sequence>
							<xs:element name="targetFolderName" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="simpleSTIdType">
				<xs:complexContent>
					<xs:extension base="tib:baseSTIdType">
						<xs:sequence>
							<xs:element name="targetFolderId" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="complexSTType">
				<xs:sequence>
					<xs:element name="sourceObject" type="tib:complexQueryType"/>
					<xs:element name="sourceFolder" type="tib:complexQueryType"/>
					<xs:element name="targetFolder" type="tib:complexQueryType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="propertyType">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>
					<xs:element name="type" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="propertiesType">
				<xs:sequence>
					<xs:element name="property" type="tib:propertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="compositeRepositoryType">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CMProxyException">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:integer"/>
						<xs:element name="message" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="queryURIByDocName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="queryURIByDocNameResponse" type="tib:simpleQueryResponseType"/>
			<xs:element name="queryURIByFolderName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="queryURIByFolderNameResponse" type="tib:simpleQueryResponseType"/>
			<xs:element name="queryObjectIdByDocName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="queryObjectIdByDocNameResponse" type="tib:simpleQueryResponseType"/>
			<xs:element name="queryDocObjectIdByFolderName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="queryDocObjectIdByFolderNameResponse" type="tib:simpleQueryResponseType"/>
			<xs:element name="queryFolderObjectIdByFolderName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="queryFolderObjectIdByFolderNameResponse" type="tib:simpleQueryResponseType"/>
			<xs:element name="query">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:complexQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
							<xs:attribute ref="tib:permitBatch"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="queryResponse" type="tib:complexQueryResponseType"/>
			<xs:element name="getRepositories" type="xs:string"/>
			<xs:element name="getRepositoriesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="repository" type="tib:compositeRepositoryType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getRepositoryInfo" type="xs:string"/>
			<xs:element name="getRepositoryInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="cmisVersion" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getTypeChildren" type="xs:string"/>
			<xs:element name="getTypeChildrenResponse" type="xs:string"/>
			<xs:element name="getTypeDescendants" type="xs:string"/>
			<xs:element name="getTypeDescendantsResponse" type="xs:string"/>
			<xs:element name="getTypeDefinition" type="xs:string"/>
			<xs:element name="getTypeDefinitionResponse" type="xs:string"/>
			<xs:element name="createFolderByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleCPNameType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="createFolderByNameResponse" type="xs:string"/>
			<xs:element name="createFolderByObjectId">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleCPHybridType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="createFolderByObjectIdResponse" type="xs:string"/>
			<xs:element name="createFolderByQuery">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:complexCPHybridType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="createFolderByQueryResponse" type="xs:string"/>
			<xs:element name="deleteFolderByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseNameType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteFolderByNameResponse" type="xs:string"/>
			<xs:element name="deleteObjectByObjectId">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseIdType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteObjectByObjectIdResponse" type="xs:string"/>
			<xs:element name="deleteDocByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseNameType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteDocByNameResponse" type="xs:string"/>
			<xs:element name="deleteObjectByQuery">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:complexQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteObjectByQueryResponse" type="xs:string"/>
			<xs:element name="deleteFolderTreeByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseNameType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteFolderTreeByNameResponse" type="xs:string"/>
			<xs:element name="deleteFolderTreeByObjectId">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseIdType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteFolderTreeByObjectIdResponse" type="xs:string"/>
			<xs:element name="deleteFolderTreeByQuery">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:complexQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteFolderTreeByQueryResponse" type="xs:string"/>
			<xs:element name="moveFolderByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleSTNameType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="moveFolderByNameResponse" type="xs:string"/>
			<xs:element name="moveObjectByObjectId">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleSTIdType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="moveObjectByObjectIdResponse" type="xs:string"/>
			<xs:element name="moveDocByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:simpleSTNameType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="moveDocByNameResponse" type="xs:string"/>
			<xs:element name="moveObjectByQuery">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:complexSTType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="moveObjectByQueryResponse" type="xs:string"/>
			<xs:element name="getFolderPropsByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseNameType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getFolderPropsByNameResponse" type="tib:propertiesType"/>
			<xs:element name="getDocPropsByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseNameType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getDocPropsByNameResponse" type="tib:propertiesType"/>
			<xs:element name="getObjectPropsByObjectId">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseIdType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjectPropsByObjectIdResponse" type="tib:propertiesType"/>
			<xs:element name="getObjectPropsByQuery">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:complexQueryType">
							<xs:sequence>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getObjectPropsByQueryResponse" type="tib:propertiesType"/>
			<xs:element name="updateFolderPropsByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseNameType">
							<xs:sequence>
								<xs:element name="properties" type="tib:propertiesType"/>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateFolderPropsByNameResponse" type="xs:string"/>
			<xs:element name="updateDocPropsByName">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseNameType">
							<xs:sequence>
								<xs:element name="properties" type="tib:propertiesType"/>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateDocPropsByNameResponse" type="xs:string"/>
			<xs:element name="updateObjectPropsByObjectId">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:baseIdType">
							<xs:sequence>
								<xs:element name="properties" type="tib:propertiesType"/>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateObjectPropsByObjectIdResponse" type="xs:string"/>
			<xs:element name="updateObjectPropsByQuery">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tib:complexQueryType">
							<xs:sequence>
								<xs:element name="properties" type="tib:propertiesType"/>
								<xs:element name="repository" type="tib:baseRepositoryType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateObjectPropsByQueryResponse" type="xs:string"/>
			<xs:element name="createDocRelationshipByName"/>
			<xs:element name="createDocRelationshipByNameResponse"/>
			<xs:element name="createFolderRelationshipByName"/>
			<xs:element name="createFolderRelationshipByNameResponse"/>
			<xs:element name="createObjectRelationshipByObjectId"/>
			<xs:element name="createObjectRelationshipByObjectIdResponse"/>
			<xs:element name="createObjectRelationshipByQuery"/>
			<xs:element name="createObjectRelationshipByQueryResponse"/>
			<xs:element name="createDocumentByName"/>
			<xs:element name="createDocumentByNameResponse"/>
			<xs:element name="createDocumentByObjectId"/>
			<xs:element name="createDocumentByObjectIdResponse"/>
			<xs:element name="createDocumentByQuery"/>
			<xs:element name="createDocumentByQueryResponse"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="query">
		<wsdl:part name="parameter" element="tib:query"/>
	</wsdl:message>
	<wsdl:message name="queryResponse">
		<wsdl:part name="parameter" element="tib:queryResponse"/>
	</wsdl:message>
	<wsdl:message name="queryURIByDocName">
		<wsdl:part name="parameter" element="tib:queryURIByDocName"/>
	</wsdl:message>
	<wsdl:message name="queryURIByDocNameResponse">
		<wsdl:part name="parameter" element="tib:queryURIByDocNameResponse"/>
	</wsdl:message>
	<wsdl:message name="queryURIByFolderName">
		<wsdl:part name="parameter" element="tib:queryURIByFolderName"/>
	</wsdl:message>
	<wsdl:message name="queryURIByFolderNameResponse">
		<wsdl:part name="parameter" element="tib:queryURIByFolderNameResponse"/>
	</wsdl:message>
	<wsdl:message name="queryObjectIdByDocName">
		<wsdl:part name="parameter" element="tib:queryObjectIdByDocName"/>
	</wsdl:message>
	<wsdl:message name="queryObjectIdByDocNameResponse">
		<wsdl:part name="parameter" element="tib:queryObjectIdByDocNameResponse"/>
	</wsdl:message>
	<wsdl:message name="queryDocObjectIdByFolderName">
		<wsdl:part name="parameter" element="tib:queryDocObjectIdByFolderName"/>
	</wsdl:message>
	<wsdl:message name="queryDocObjectIdByFolderNameResponse">
		<wsdl:part name="parameter" element="tib:queryDocObjectIdByFolderNameResponse"/>
	</wsdl:message>
	<wsdl:message name="createFolderByName">
		<wsdl:part name="parameter" element="tib:createFolderByName"/>
	</wsdl:message>
	<wsdl:message name="createFolderByNameResponse">
		<wsdl:part name="parameter" element="tib:createFolderByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="createFolderByQuery">
		<wsdl:part name="parameter" element="tib:createFolderByQuery"/>
	</wsdl:message>
	<wsdl:message name="createFolderByQueryResponse">
		<wsdl:part name="parameter" element="tib:createFolderByQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="createFolderByObjectId">
		<wsdl:part name="parameter" element="tib:createFolderByObjectId"/>
	</wsdl:message>
	<wsdl:message name="createFolderByObjectIdResponse">
		<wsdl:part name="parameter" element="tib:createFolderByObjectIdResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderByName">
		<wsdl:part name="parameter" element="tib:deleteFolderByName"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderByNameResponse">
		<wsdl:part name="parameter" element="tib:deleteFolderByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteObjectByQuery">
		<wsdl:part name="parameter" element="tib:deleteObjectByQuery"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderByQueryResponse">
		<wsdl:part name="parameter" element="tib:deleteObjectByQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteObjectByObjectId">
		<wsdl:part name="parameter" element="tib:deleteObjectByObjectId"/>
	</wsdl:message>
	<wsdl:message name="deleteObjectByObjectIdResponse">
		<wsdl:part name="parameter" element="tib:deleteObjectByObjectIdResponse"/>
	</wsdl:message>
	<wsdl:message name="getRepositories">
		<wsdl:part name="parameter" element="tib:getRepositories"/>
	</wsdl:message>
	<wsdl:message name="getRepositoriesResponse">
		<wsdl:part name="parameter" element="tib:getRepositoriesResponse"/>
	</wsdl:message>
	<wsdl:message name="getRepositoryInfo">
		<wsdl:part name="parameter" element="tib:getRepositoryInfo"/>
	</wsdl:message>
	<wsdl:message name="getRepositoryInfoResponse">
		<wsdl:part name="parameter" element="tib:getRepositoryInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="getTypeDescendants">
		<wsdl:part name="parameter" element="tib:getTypeDescendants"/>
	</wsdl:message>
	<wsdl:message name="getTypeDescendantsResponse">
		<wsdl:part name="parameter" element="tib:getTypeDescendantsResponse"/>
	</wsdl:message>
	<wsdl:message name="getTypeDefinition">
		<wsdl:part name="parameter" element="tib:getTypeDefinition"/>
	</wsdl:message>
	<wsdl:message name="getTypeDefinitionResponse">
		<wsdl:part name="parameter" element="tib:getTypeDefinitionResponse"/>
	</wsdl:message>
	<wsdl:message name="CMBaseException">
		<wsdl:part name="CMBaseException" element="tib:CMProxyException"/>
	</wsdl:message>
	<wsdl:message name="getTypeChildren">
		<wsdl:part name="parameter" element="tib:getTypeChildren"/>
	</wsdl:message>
	<wsdl:message name="getTypeChildrenResponse">
		<wsdl:part name="parameter" element="tib:getTypeChildrenResponse"/>
	</wsdl:message>
	<wsdl:message name="queryFolderObjectIdByFolderName">
		<wsdl:part name="parameter" element="tib:queryFolderObjectIdByFolderName"/>
	</wsdl:message>
	<wsdl:message name="queryFolderObjectIdByFolderNameResponse">
		<wsdl:part name="parameter" element="tib:queryFolderObjectIdByFolderNameResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteDocByName">
		<wsdl:part name="parameter" element="tib:deleteDocByName"/>
	</wsdl:message>
	<wsdl:message name="deleteDocByNameResponse">
		<wsdl:part name="parameter" element="tib:deleteDocByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderTreeByName">
		<wsdl:part name="parameter" element="tib:deleteFolderTreeByName"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderTreeByNameResponse">
		<wsdl:part name="parameter" element="tib:deleteFolderTreeByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderTreeByQuery">
		<wsdl:part name="parameter" element="tib:deleteFolderTreeByQuery"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderTreeByQueryResponse">
		<wsdl:part name="parameter" element="tib:deleteFolderTreeByQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderTreeByObjectId">
		<wsdl:part name="parameter" element="tib:deleteFolderTreeByObjectId"/>
	</wsdl:message>
	<wsdl:message name="deleteFolderTreeByObjectIdResponse">
		<wsdl:part name="parameter" element="tib:deleteFolderTreeByObjectIdResponse"/>
	</wsdl:message>
	<wsdl:message name="moveFolderByName">
		<wsdl:part name="parameter" element="tib:moveFolderByName"/>
	</wsdl:message>
	<wsdl:message name="moveFolderByNameResponse">
		<wsdl:part name="parameter" element="tib:moveFolderByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="moveObjectByObjectId">
		<wsdl:part name="parameter" element="tib:moveObjectByObjectId"/>
	</wsdl:message>
	<wsdl:message name="moveObjectByObjectIdResponse">
		<wsdl:part name="parameter" element="tib:moveObjectByObjectIdResponse"/>
	</wsdl:message>
	<wsdl:message name="moveDocByName">
		<wsdl:part name="parameter" element="tib:moveDocByName"/>
	</wsdl:message>
	<wsdl:message name="moveDocByNameResponse">
		<wsdl:part name="parameter" element="tib:moveDocByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="moveObjectByQuery">
		<wsdl:part name="parameter" element="tib:moveObjectByQuery"/>
	</wsdl:message>
	<wsdl:message name="moveObjectByQueryResponse">
		<wsdl:part name="parameter" element="tib:moveObjectByQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteObjectByQueryResponse">
		<wsdl:part name="parameter" element="tib:deleteObjectByQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="getFolderPropsByName">
		<wsdl:part name="parameter" element="tib:getFolderPropsByName"/>
	</wsdl:message>
	<wsdl:message name="getFolderPropsByNameResponse">
		<wsdl:part name="parameter" element="tib:getFolderPropsByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="getDocPropsByName">
		<wsdl:part name="parameter" element="tib:getDocPropsByName"/>
	</wsdl:message>
	<wsdl:message name="getDocPropsByNameResponse">
		<wsdl:part name="parameter" element="tib:getDocPropsByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="getObjectPropsByObjectId">
		<wsdl:part name="parameter" element="tib:getObjectPropsByObjectId"/>
	</wsdl:message>
	<wsdl:message name="getObjectPropsByObjectIdResponse">
		<wsdl:part name="parameter" element="tib:getObjectPropsByObjectIdResponse"/>
	</wsdl:message>
	<wsdl:message name="getObjectPropsByQuery">
		<wsdl:part name="parameter" element="tib:getObjectPropsByQuery"/>
	</wsdl:message>
	<wsdl:message name="getObjectPropsByQueryResponse">
		<wsdl:part name="parameter" element="tib:getObjectPropsByQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="updateFolderPropsByName">
		<wsdl:part name="parameter" element="tib:updateFolderPropsByName"/>
	</wsdl:message>
	<wsdl:message name="updateFolderPropsByNameResponse">
		<wsdl:part name="parameter" element="tib:updateFolderPropsByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="updateDocPropsByName">
		<wsdl:part name="parameter" element="tib:updateDocPropsByName"/>
	</wsdl:message>
	<wsdl:message name="updateDocPropsByNameResponse">
		<wsdl:part name="parameter" element="tib:updateDocPropsByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="updateObjectPropsByObjectId">
		<wsdl:part name="parameter" element="tib:updateObjectPropsByObjectId"/>
	</wsdl:message>
	<wsdl:message name="updateObjectPropsByObjectIdResponse">
		<wsdl:part name="parameter" element="tib:updateObjectPropsByObjectIdResponse"/>
	</wsdl:message>
	<wsdl:message name="updateObjectPropsByQuery">
		<wsdl:part name="parameter" element="tib:updateObjectPropsByQuery"/>
	</wsdl:message>
	<wsdl:message name="updateObjectPropsByQueryResponse">
		<wsdl:part name="parameter" element="tib:updateObjectPropsByQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="createDocRelationshipByName">
		<wsdl:part name="parameter" element="tib:createDocRelationshipByName"/>
	</wsdl:message>
	<wsdl:message name="createDocRelationshipByNameResponse">
		<wsdl:part name="parameter" element="tib:createDocRelationshipByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="createFolderRelationshipByName">
		<wsdl:part name="parameter" element="tib:createFolderRelationshipByName"/>
	</wsdl:message>
	<wsdl:message name="createFolderRelationshipByNameResponse">
		<wsdl:part name="parameter" element="tib:createFolderRelationshipByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="createObjectRelationshipByObjectId">
		<wsdl:part name="parameter" element="tib:createObjectRelationshipByObjectId"/>
	</wsdl:message>
	<wsdl:message name="createObjectRelationshipByObjectIdResponse">
		<wsdl:part name="parameter" element="tib:createObjectRelationshipByObjectIdResponse"/>
	</wsdl:message>
	<wsdl:message name="createObjectRelationshipByQuery">
		<wsdl:part name="parameter" element="tib:createObjectRelationshipByQuery"/>
	</wsdl:message>
	<wsdl:message name="createObjectRelationshipByQueryResponse">
		<wsdl:part name="parameter" element="tib:createObjectRelationshipByQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="createDocumentByName">
		<wsdl:part name="parameter" element="tib:createDocumentByName"/>
	</wsdl:message>
	<wsdl:message name="createDocumentByNameResponse">
		<wsdl:part name="parameter" element="tib:createDocumentByNameResponse"/>
	</wsdl:message>
	<wsdl:message name="createDocumentByObjectId">
		<wsdl:part name="parameter" element="tib:createDocumentByObjectId"/>
	</wsdl:message>
	<wsdl:message name="createDocumentByObjectIdResponse">
		<wsdl:part name="parameter" element="tib:createDocumentByObjectIdResponse"/>
	</wsdl:message>
	<wsdl:message name="createDocumentByQuery">
		<wsdl:part name="parameter" element="tib:createDocumentByQuery"/>
	</wsdl:message>
	<wsdl:message name="createDocumentByQueryResponse">
		<wsdl:part name="parameter" element="tib:createDocumentByQueryResponse"/>
	</wsdl:message>
	<wsdl:portType name="AutomationDiscoveryServicePort">
		<wsdl:operation name="queryURIByDocName">
			<wsdl:input message="tib:queryURIByDocName"/>
			<wsdl:output message="tib:queryURIByDocNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="queryURIByFolderName">
			<wsdl:input message="tib:queryURIByFolderName"/>
			<wsdl:output message="tib:queryURIByFolderNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="queryObjectIdByDocName">
			<wsdl:input message="tib:queryObjectIdByDocName"/>
			<wsdl:output message="tib:queryObjectIdByDocNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="queryDocObjectIdByFolderName">
			<wsdl:input message="tib:queryDocObjectIdByFolderName"/>
			<wsdl:output message="tib:queryDocObjectIdByFolderNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="queryFolderObjectIdByFolderName">
			<wsdl:input message="tib:queryFolderObjectIdByFolderName"/>
			<wsdl:output message="tib:queryFolderObjectIdByFolderNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="query">
			<wsdl:input message="tib:query"/>
			<wsdl:output message="tib:queryResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AutomationObjectServicePort">
		<wsdl:operation name="createFolderByName">
			<wsdl:input message="tib:createFolderByName"/>
			<wsdl:output message="tib:createFolderByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createFolderByQuery">
			<wsdl:input message="tib:createFolderByQuery"/>
			<wsdl:output message="tib:createFolderByQueryResponse"/>
			<wsdl:fault name="FaultName" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createFolderByObjectId">
			<wsdl:input message="tib:createFolderByObjectId"/>
			<wsdl:output message="tib:createFolderByObjectIdResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteFolderByName">
			<wsdl:input message="tib:deleteFolderByName"/>
			<wsdl:output message="tib:deleteFolderByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteObjectByQuery">
			<wsdl:input message="tib:deleteObjectByQuery"/>
			<wsdl:output message="tib:deleteObjectByQueryResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteObjectByObjectId">
			<wsdl:input message="tib:deleteObjectByObjectId"/>
			<wsdl:output message="tib:deleteObjectByObjectIdResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteDocByName">
			<wsdl:input message="tib:deleteDocByName"/>
			<wsdl:output message="tib:deleteDocByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteFolderTreeByName">
			<wsdl:input message="tib:deleteFolderTreeByName"/>
			<wsdl:output message="tib:deleteFolderTreeByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteFolderTreeByQuery">
			<wsdl:input message="tib:deleteFolderTreeByQuery"/>
			<wsdl:output message="tib:deleteFolderTreeByQueryResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteFolderTreeByObjectId">
			<wsdl:input message="tib:deleteFolderTreeByObjectId"/>
			<wsdl:output message="tib:deleteFolderTreeByObjectIdResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="moveFolderByName">
			<wsdl:input message="tib:moveFolderByName"/>
			<wsdl:output message="tib:moveFolderByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="moveObjectByObjectId">
			<wsdl:input message="tib:moveObjectByObjectId"/>
			<wsdl:output message="tib:moveObjectByObjectIdResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="moveDocByName">
			<wsdl:input message="tib:moveDocByName"/>
			<wsdl:output message="tib:moveDocByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="moveObjectByQuery">
			<wsdl:input message="tib:moveObjectByQuery"/>
			<wsdl:output message="tib:moveObjectByQueryResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="getFolderPropsByName">
			<wsdl:input message="tib:getFolderPropsByName"/>
			<wsdl:output message="tib:getFolderPropsByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="getDocPropsByName">
			<wsdl:input message="tib:getDocPropsByName"/>
			<wsdl:output message="tib:getDocPropsByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="getObjectPropsByObjectId">
			<wsdl:input message="tib:getObjectPropsByObjectId"/>
			<wsdl:output message="tib:getObjectPropsByObjectIdResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="getObjectPropsByQuery">
			<wsdl:input message="tib:getObjectPropsByQuery"/>
			<wsdl:output message="tib:getObjectPropsByQueryResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="updateFolderPropsByName">
			<wsdl:input message="tib:updateFolderPropsByName"/>
			<wsdl:output message="tib:updateFolderPropsByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="updateDocPropsByName">
			<wsdl:input message="tib:updateDocPropsByName"/>
			<wsdl:output message="tib:updateDocPropsByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="updateObjectPropsByObjectId">
			<wsdl:input message="tib:updateObjectPropsByObjectId"/>
			<wsdl:output message="tib:updateObjectPropsByObjectIdResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="updateObjectPropsByQuery">
			<wsdl:input message="tib:updateObjectPropsByQuery"/>
			<wsdl:output message="tib:updateObjectPropsByQueryResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createDocRelationshipByName">
			<wsdl:input message="tib:createDocRelationshipByName"/>
			<wsdl:output message="tib:createDocRelationshipByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createFolderRelationshipByName">
			<wsdl:input message="tib:createFolderRelationshipByName"/>
			<wsdl:output message="tib:createFolderRelationshipByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createObjectRelationshipByObjectId">
			<wsdl:input message="tib:createObjectRelationshipByObjectId"/>
			<wsdl:output message="tib:createObjectRelationshipByObjectIdResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createObjectRelationshipByQuery">
			<wsdl:input message="tib:createObjectRelationshipByQuery"/>
			<wsdl:output message="tib:createObjectRelationshipByQueryResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createDocumentByName">
			<wsdl:input message="tib:createDocumentByName"/>
			<wsdl:output message="tib:createDocumentByNameResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createDocumentByObjectId">
			<wsdl:input message="tib:createDocumentByObjectId"/>
			<wsdl:output message="tib:createDocumentByObjectIdResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createDocumentByQuery">
			<wsdl:input message="tib:createDocumentByQuery"/>
			<wsdl:output message="tib:createDocumentByQueryResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AutomationRepositoryServicePort">
		<wsdl:operation name="getRepositories">
			<wsdl:input message="tib:getRepositories"/>
			<wsdl:output message="tib:getRepositoriesResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="getRepositoryInfo">
			<wsdl:input message="tib:getRepositoryInfo"/>
			<wsdl:output message="tib:getRepositoryInfoResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="getTypeDescendants">
			<wsdl:input message="tib:getTypeDescendants"/>
			<wsdl:output message="tib:getTypeDescendantsResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="getTypeDefinition">
			<wsdl:input message="tib:getTypeDefinition"/>
			<wsdl:output message="tib:getTypeDefinitionResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="getTypeChildren">
			<wsdl:input message="tib:getTypeChildren"/>
			<wsdl:output message="tib:getTypeChildrenResponse"/>
			<wsdl:fault name="CMBaseException" message="tib:CMBaseException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AutomationDiscoveryServiceSoapBinding" type="tib:AutomationDiscoveryServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="queryURIByDocName">
			<soap:operation soapAction="queryURIByDocName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryURIByFolderName">
			<soap:operation soapAction="queryURIByFolderName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryObjectIdByDocName">
			<soap:operation soapAction="queryObjectIdByDocName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryDocObjectIdByFolderName">
			<soap:operation soapAction="queryDocObjectIdByFolderName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryFolderObjectIdByFolderName">
			<soap:operation soapAction="queryFolderObjectIdByFolderName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="query">
			<soap:operation soapAction="query" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AutomationObjectServiceSoapBinding" type="tib:AutomationObjectServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="createFolderByName">
			<soap:operation soapAction="createFolderByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createFolderByQuery">
			<soap:operation soapAction="createFolderByQuery" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createFolderByObjectId">
			<soap:operation soapAction="createFolderByObjectId" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteFolderByName">
			<soap:operation soapAction="deleteFolderByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteObjectByQuery">
			<soap:operation soapAction="deleteObjectByQuery" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteObjectByObjectId">
			<soap:operation soapAction="deleteFolderByObjectId" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteDocByName">
			<soap:operation soapAction="deleteDocByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteFolderTreeByName">
			<soap:operation soapAction="deleteFolderTreeByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteFolderTreeByQuery">
			<soap:operation soapAction="deleteFolderTreeByQuery" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteFolderTreeByObjectId">
			<soap:operation soapAction="deleteFolderTreeByObjectId" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="moveFolderByName">
			<soap:operation soapAction="moveFolderByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="moveObjectByObjectId">
			<soap:operation soapAction="moveObjectByObjectId" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="moveDocByName">
			<soap:operation soapAction="moveDocByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="moveObjectByQuery">
			<soap:operation soapAction="moveObjectByQuery" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getFolderPropsByName">
			<soap:operation soapAction="getFolderPropsByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDocPropsByName">
			<soap:operation soapAction="getDocPropsByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObjectPropsByObjectId">
			<soap:operation soapAction="getObjectPropsByObjectId" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getObjectPropsByQuery">
			<soap:operation soapAction="getObjectPropsByQuery" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateFolderPropsByName">
			<soap:operation soapAction="updateFolderPropsByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateDocPropsByName">
			<soap:operation soapAction="updateDocPropsByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateObjectPropsByObjectId">
			<soap:operation soapAction="updateObjectPropsByObjectId" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateObjectPropsByQuery">
			<soap:operation soapAction="updateObjectPropsByQuery" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createDocRelationshipByName">
			<soap:operation soapAction="createDocRelationshipByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException"/>
		</wsdl:operation>
		<wsdl:operation name="createFolderRelationshipByName">
			<soap:operation soapAction="createFolderRelationshipByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createObjectRelationshipByObjectId">
			<soap:operation soapAction="createObjectRelationshipByObjectId" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createObjectRelationshipByQuery">
			<soap:operation soapAction="createObjectRelationshipByQuery" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createDocumentByName">
			<soap:operation soapAction="createDocumentByName" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createDocumentByObjectId">
			<soap:operation soapAction="createDocumentByObjectId" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createDocumentByQuery">
			<soap:operation soapAction="createDocumentByQuery" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AutomationRepositoryServiceSoapBinding" type="tib:AutomationRepositoryServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getRepositories">
			<soap:operation soapAction="getRepositories" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRepositoryInfo">
			<soap:operation soapAction="getRepositoryInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTypeDescendants">
			<soap:operation soapAction="getTypeDescendants" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTypeDefinition">
			<soap:operation soapAction="getTypeDefinition" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTypeChildren">
			<soap:operation soapAction="getTypeChildren" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CMBaseException">
				<soap:fault name="CMBaseException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AutomationDiscoveryService">
		<wsdl:port name="AutomationDiscoveryServicePort" binding="tib:AutomationDiscoveryServiceSoapBinding">
			<soap:address location="http://10.100.83.55:8080/cmis/AutomationDiscoveryService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="AutomationObjectService">
		<wsdl:port name="AutomationObjectServicePort" binding="tib:AutomationObjectServiceSoapBinding">
			<soap:address location="http://10.100.83.55:8080/cmis/AutomationObjectService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="AutomationRepositoryService">
		<wsdl:port name="AutomationRepositoryServicePort" binding="tib:AutomationRepositoryServiceSoapBinding">
			<soap:address location="http://10.100.83.55:8080/cmis/AutomationRepositoryService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
