tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM10_InlineCrossSchema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://my.webservice.namespace" xmlns:schema1="http://schema1" targetNamespace="http://my.webservice.namespace">
	<wsdl:types>
		<xs:schema xmlns="http://schema1" xmlns:sch="http://schema2" targetNamespace="http://schema1"  attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xs:import namespace="http://schema2"></xs:import>
			<xs:complexType name="Class1">
				<xs:sequence>
					<xs:element name="myClass2" type="sch:Class2"/>
					<xs:element name="myClass1a" type="Class1a"/>
					<xs:element name="myDateTime" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Class1a">
				<xs:sequence>
					<xs:element name="colour" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns="http://schema2" targetNamespace="http://schema2"  attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xs:complexType name="Class2">
				<xs:sequence>
					<xs:element name="age" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="NewMessageRequest">
		<wsdl:part name="parameter" type="schema1:Class1"/>
	</wsdl:message>
	<wsdl:message name="NewMessageResponse">
		<wsdl:part name="parameter" type="schema1:Class1"/>
	</wsdl:message>
	<wsdl:portType name="SimonPortType">
		<wsdl:operation name="simonOperation">
			<wsdl:input message="tns:NewMessageRequest"/>
			<wsdl:output message="tns:NewMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimonBinding" type="tns:SimonPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="simonOperation">			
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewService">
		<wsdl:port name="NewPort" binding="tns:SimonBinding">
			<soap:address location="No Target Address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
