tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-any/XSDBOM_Any05_Generalization.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com"
	elementFormDefault="qualified">

	<xs:complexType name="person">
		<xs:complexContent>
			<xs:extension base="person2">
				<xs:sequence>
					<xs:element name="firstname" type="xs:string" />				
					<xs:any></xs:any>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="person2">
		<xs:sequence>
			<xs:element name="attr1" type="xs:boolean"></xs:element>
			<xs:any></xs:any>
		</xs:sequence>
	</xs:complexType>

</xs:schema>