tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/bom-global-data/gold/wizard/XSDBOM_GlobalData06_UniDirectionalAggregation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/businessobjectmodel6" xmlns:tns1="http://example.com/businessobjectmodel6"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/businessobjectmodel6">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gdfg/Business Objects/XSDBOM_GlobalData06_UniDirectionalAggregation.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="_NK0HEXGXEeC5w-_cphi0rw" name="Order">
    <xsd:sequence>
      <xsd:element ecore:reference="Employee" id="_NK0HEnGXEeC5w-_cphi0rw" maxOccurs="5"
          minOccurs="0" name="dispatcher" type="xsd:anyURI"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="_NK0HFXGXEeC5w-_cphi0rw" name="Employee"/>
  <xsd:element name="OrderElement" type="Order"/>
  <xsd:element name="EmployeeElement" type="Employee"/>
</xsd:schema>