tbs-bpm/tests/com.tibco.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/other_constructs/MultipleOccursSequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/MultipleOccursSequence" targetNamespace="http://example.com/MultipleOccursSequence" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore">
	<xs:complexType name="PlaneSimple" ecore:name="PlaneSimple">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="freightDetails" type="xs:string" ecore:name="freightDetails"/>
			<xs:element name="passengers" type="xs:int" ecore:name="passengers"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlaneSimpleElement" type="PlaneSimple"/>
	<xs:complexType name="PlaneOptionalElms" ecore:name="PlaneOptionalElms">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="freightDetails" type="xs:string" minOccurs="0" ecore:name="freightDetails"/>
			<xs:element name="passengers" type="xs:int" minOccurs="0" ecore:name="passengers"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlaneOptionalElmsElement" type="PlaneOptionalElms"/>
	<xs:complexType name="PlaneUnbound" ecore:name="PlaneUnbound">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="crew" type="xs:string" maxOccurs="unbounded" ecore:name="crew"/>
			<xs:element name="freightDetails" type="xs:string" minOccurs="0" maxOccurs="unbounded" ecore:name="freightDetails"/>
			<xs:element name="passengers" type="xs:int" maxOccurs="unbounded" ecore:name="passengers"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlaneUnboundElement" type="PlaneUnbound"/>
</xs:schema>
