tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.test/resources/SytemParticSharedResTest/WsdlProject/Service Descriptors/makepayment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.tibco.com/studio/makepayment/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="makepayment" targetNamespace="http://www.tibco.com/studio/makepayment/" tibex:src="file:/C:/Documents%20and%20Settings/bharge/Desktop/WSDLs/makepayment.wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/studio/makepayment/">


            <xsd:element name="Request1" type="tns:RequestData1"/>
            <xsd:element name="Response1" type="tns:ResponseData1"/>
            
            <xsd:complexType name="RequestData1">
            	<xsd:sequence>
            		<xsd:element name="account" type="xsd:int"/>
            		<xsd:element name="sortcode" type="xsd:string"/>
            		<xsd:element name="amount" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ResponseData1">
            	<xsd:sequence>
            		<xsd:element name="reference" type="xsd:int"/>
            		<xsd:element name="sortcode" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:element name="Request2" type="tns:RequestData2"/>

            <xsd:element name="Request3" type="tns:RequestData3"/>


            <xsd:element name="Response3" type="tns:ResponseData3"/>
            
            <xsd:element name="Response2" type="tns:ResponseData2"/>
            
            <xsd:complexType name="RequestData2">
            	<xsd:sequence>
            		<xsd:element name="account" type="xsd:string"/>
            		<xsd:element minOccurs="1" name="sortcode" type="xsd:string"/>
            		<xsd:element name="amount" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="RequestData3">
            	<xsd:sequence>
            		<xsd:element name="account" type="xsd:int"/>
            		<xsd:element name="sortcode" type="xsd:string"/>
            		<xsd:element name="amount" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ResponseData2">
            	<xsd:sequence>
            		<xsd:element name="reference" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ResponseData3">
            	<xsd:sequence>
            		<xsd:element name="reference" type="xsd:int"/>
            	</xsd:sequence>
            </xsd:complexType>




    
            <xsd:complexType name="RequestData4">
            	<xsd:sequence>
            		<xsd:element name="date" type="xsd:dateTime"/>
            		<xsd:element name="amount" type="xsd:float"/>
            		<xsd:element name="confirmation" type="xsd:boolean"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ResponseData4">
            	<xsd:sequence>
            		<xsd:element name="date" type="xsd:dateTime"/>
            		<xsd:element name="amount" type="xsd:float"/>
            		<xsd:element name="confirmation" type="xsd:boolean"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="Request4" type="tns:RequestData4"/>
    
            <xsd:element name="Response4" type="tns:ResponseData4"/>

    
            <xsd:element name="Request4a" type="tns:RequestData4a"/>
            
            <xsd:complexType name="RequestData4a">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="1" name="data" type="tns:RequestData4"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:element name="Response4a" type="tns:ResponseData4a"/>
            
            <xsd:complexType name="ResponseData4a">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="1" name="data" type="tns:ResponseData4"/>
            	</xsd:sequence>
            </xsd:complexType>



            <xsd:element name="MakePayments">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="unbounded" name="in" type="tns:RequestData1"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="MakePaymentsResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="unbounded" name="out" type="tns:ResponseData1"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="MakePaymentWithdraw" type="tns:RequestData1">

            </xsd:element>

            <xsd:element name="MakePaymentArrays" type="tns:RequestData1a">

            </xsd:element>
            <xsd:element name="MakePaymentArraysResponse" type="tns:ResponseData1a">

            </xsd:element>
    
            <xsd:complexType name="RequestData1a">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="account" type="xsd:int"/>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="sortcode" type="xsd:string"/>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="amount" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ResponseData1a">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="reference" type="xsd:int"/>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="sortcode" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="TestDateTime" type="tns:MultiDateTime">

            </xsd:element>
            <xsd:element name="TestDateTimeResponse" type="tns:MultiDateTime">

            </xsd:element>
            
            <xsd:complexType name="MultiDateTime">
            	<xsd:sequence>
            		<xsd:element name="DateTime" type="xsd:dateTime"/>
            		<xsd:element name="Date" type="xsd:date"/>
            		<xsd:element name="Time" type="xsd:time"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SchedulePaymentsResponse">
    <wsdl:part element="tns:Response4a" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePayment1Request">
    <wsdl:part element="tns:Request1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SchedulePaymentRequest">
    <wsdl:part element="tns:Request4" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePayment2Response">
    <wsdl:part element="tns:Response2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePaymentWithdrawResponse">
  </wsdl:message>
  <wsdl:message name="SchedulePaymentsRequest">
    <wsdl:part element="tns:Request4a" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SchedulePaymentResponse">
    <wsdl:part element="tns:Response4" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestDateTimeResponse">
    <wsdl:part element="tns:TestDateTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePaymentArraysRequest">
    <wsdl:part element="tns:MakePaymentArrays" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePaymentWithdrawRequest">
    <wsdl:part element="tns:MakePaymentWithdraw" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePayment2Request">
    <wsdl:part element="tns:Request2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePaymentsRequest">
    <wsdl:part element="tns:MakePayments" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePaymentsResponse">
    <wsdl:part element="tns:MakePaymentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePayment1Response">
    <wsdl:part element="tns:Response1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePaymentArraysResponse">
    <wsdl:part element="tns:MakePaymentArraysResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePayment3Response">
    <wsdl:part element="tns:Response3" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MakePayment3Request">
    <wsdl:part element="tns:Request3" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestDateTimeRequest">
    <wsdl:part element="tns:TestDateTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="makepayment">
    <wsdl:operation name="MakePayment1">
      <wsdl:input message="tns:MakePayment1Request">
    </wsdl:input>
      <wsdl:output message="tns:MakePayment1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayment2">
      <wsdl:input message="tns:MakePayment2Request">
    </wsdl:input>
      <wsdl:output message="tns:MakePayment2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayment3">
      <wsdl:input message="tns:MakePayment3Request">
    </wsdl:input>
      <wsdl:output message="tns:MakePayment3Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchedulePayment">
      <wsdl:input message="tns:SchedulePaymentRequest">
    </wsdl:input>
      <wsdl:output message="tns:SchedulePaymentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchedulePayments">
      <wsdl:input message="tns:SchedulePaymentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:SchedulePaymentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayments">
      <wsdl:input message="tns:MakePaymentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:MakePaymentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePaymentWithdraw">
      <wsdl:input message="tns:MakePaymentWithdrawRequest">
    </wsdl:input>
      <wsdl:output message="tns:MakePaymentWithdrawResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePaymentArrays">
      <wsdl:input message="tns:MakePaymentArraysRequest">
    </wsdl:input>
      <wsdl:output message="tns:MakePaymentArraysResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDateTime">
      <wsdl:input message="tns:TestDateTimeRequest">
    </wsdl:input>
      <wsdl:output message="tns:TestDateTimeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="makepaymentSOAP" type="tns:makepayment">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MakePayment1">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/MakePayment1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayment2">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/MakePayment2"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayment3">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/MakePayment3"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchedulePayment">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/SchedulePayment"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchedulePayments">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/SchedulePayments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayments">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/MakePayments"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePaymentWithdraw">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/MakePaymentWithdraw"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePaymentArrays">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/MakePaymentArrays"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDateTime">
      <soap:operation soapAction="http://www.tibco.com/studio/makepayment/TestDateTime"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="makepayment">
    <wsdl:port binding="tns:makepaymentSOAP" name="makepaymentSOAP">
      <soap:address location="http://10.100.83.60:8080/paymentservice/services/makepayment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
