tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.sce.n2.mappings.validation.test/resources/N2WebSvcSimpleJavaScriptUnionMappings/UATUnion/Service Descriptors/UnionWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/UnionWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnionWSDL"
	targetNamespace="http://www.example.org/UnionWSDL/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/UnionWSDL/">

			<xsd:simpleType name="jeans_size">
				<xsd:union memberTypes="tns:sizebyno tns:sizebystring" />
			</xsd:simpleType>

			<xsd:simpleType name="sizebyno">
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:maxInclusive value="42" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="sizebystring">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="small" />
					<xsd:enumeration value="medium" />
					<xsd:enumeration value="large" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="FamilyJeanSizes">
				<xsd:sequence>
					<xsd:element name="dads" type="tns:jeans_size"/>
					<xsd:element name="mums" type="tns:jeans_size"/>
					<xsd:element name="sons" type="tns:jeans_size"/>
					<xsd:element name="daughters" type="tns:jeans_size"/>
					<xsd:element name="basicStringSize" type="tns:sizebystring"/>
					<xsd:element name="basicNumberSize" type="tns:sizebyno"/>					
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="FamilySizes" type="tns:FamilyJeanSizes"></xsd:element>
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetStockRequest">
		<wsdl:part element="tns:FamilySizes" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStockResponse">
		<wsdl:part element="tns:FamilySizes" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="UnionWSDL">
		<wsdl:operation name="GetStock">
			<wsdl:input message="tns:GetStockRequest" />
			<wsdl:output message="tns:GetStockResponse" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
