tbs-bpm/tests/com.tibco.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/wsdlimport/import/CoverageNo07/schemas/hotel/Hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.xyzcorp/procureservice/Hotel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xyzcorp/procureservice/Hotel">

	<xsd:complexType name="Address">
		<xsd:sequence>
			<xsd:element name="street" type="xsd:string"></xsd:element>
			<xsd:element name="city" type="xsd:string"></xsd:element>
			<xsd:element name="state" type="xsd:string"></xsd:element>
			<xsd:element name="zip" type="xsd:string"></xsd:element>
			<xsd:element name="country" type="xsd:string"></xsd:element>
			<xsd:element name="landmarks" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
        
	<xsd:complexType name="HotelDetails">
		<xsd:sequence>
			<xsd:element name="hotelName" type="xsd:string"></xsd:element>
			<xsd:element name="address" type="tns:Address"></xsd:element>
                    	<xsd:element name="starRating" type="xsd:string"></xsd:element>
                    	<xsd:element name="amenities" type="xsd:string"></xsd:element>
			<xsd:element name="directions" type="xsd:string"></xsd:element>
			<xsd:element name="comments" type="xsd:string"></xsd:element>
			<xsd:element name="roomOptions">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="roomDetails"
							type="tns:RoomDetails" maxOccurs="unbounded" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType></xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="RoomDetails">
		<xsd:sequence>
			<xsd:element name="roomType" type="xsd:string"></xsd:element>
			<xsd:element name="avgCostPerNight" type="xsd:float"></xsd:element>
			<xsd:element name="roomAmenities" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>