tbs-bpm/tests/com.tibco.sce.bds.designtime.test.feature/plugins/com.tibco.sce.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/other_constructs/SimpleAll.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/SimpleAll" targetNamespace="http://example.com/SimpleAll" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore">
	<xs:element name="personAllOrder">
		<xs:complexType ecore:name="personAllOrderType">
			<xs:all>
				<xs:element name="firstname" type="xs:string" ecore:name="firstname"/>
				<xs:element name="lastname" type="xs:string" ecore:name="lastname"/>
				<xs:element name="age" type="xs:int" ecore:name="age"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
