tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/wizard/XSDBOM02_SimpleTypeTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://businessobjectmodel" xmlns:tns1="http://businessobjectmodel" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gdsfgds/Business Objects/XSDBOM02_SimpleTypeTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType id="businessobjectmodelmySimple2" final="#all" name="mySimple">
    <xsd:restriction base="xsd:ID">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      <xsd:maxLength fixed="false" value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="businessobjectmodelpersonalInfoType2" name="personalInfoType">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:minLength fixed="false" value="1"/>
      <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
      <xsd:maxLength fixed="false" value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="businessobjectmodelmiddleNameType2" name="middleNameType">
    <xsd:restriction base="tns1:personalInfoType">
      <xsd:minLength fixed="false" value="1"/>
      <xsd:maxLength fixed="false" value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>