tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/wizard/XSDBOM14_NumberLengthTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/test/schema" xmlns:tns1="http://www.tibco.com/test/schema"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/test/schema">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gdfgdfgd/Business Objects/XSDBOM14_NumberLengthTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType id="com.tibco.test.schematestAlone2" name="testAlone">
    <xsd:restriction base="xsd:integer"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematest12" name="test1">
    <xsd:restriction base="xsd:integer"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematest22" name="test2">
    <xsd:restriction base="tns1:test1"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematestAlonePosInt2" name="testAlonePosInt">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematest1PosInt2" name="test1PosInt">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematest2PosInt2" name="test2PosInt">
    <xsd:restriction base="tns1:test1PosInt">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematestAloneUnLong2" name="testAloneUnLong">
    <xsd:restriction base="xsd:unsignedLong">
      <xsd:maxInclusive value="18446744073709551615"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematest1UnLong2" name="test1UnLong">
    <xsd:restriction base="xsd:unsignedLong">
      <xsd:maxInclusive value="18446744073709551615"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematest2UnLong2" name="test2UnLong">
    <xsd:restriction base="tns1:test1UnLong">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="18446744073709551615"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schemamountainbikesize" name="mountainbikesize">
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schemamountainbikesizePosInt" name="mountainbikesizePosInt">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schemamountainbikesizeUnLong" name="mountainbikesizeUnLong">
    <xsd:restriction base="xsd:unsignedLong">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType id="com.tibco.test.schematestComplex" abstract="false" mixed="false"
      name="testComplex">
    <xsd:sequence>
      <xsd:element id="testComplexattr" form="unqualified" maxOccurs="1" minOccurs="1"
          name="attr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="testComplexattr2" form="unqualified" maxOccurs="1" minOccurs="1"
          name="attr2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schematestMeSimpleContent" abstract="false"
      mixed="false" name="testMeSimpleContent">
    <xsd:simpleContent>
      <xsd:extension base="xsd:integer">
        <xsd:attribute id="testMeSimpleContentga" form="unqualified" name="ga" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:integer"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schemaFamilyMountainBikeSizes" abstract="false"
      mixed="false" name="FamilyMountainBikeSizes">
    <xsd:simpleContent>
      <xsd:extension base="mountainbikesize">
        <xsd:attribute id="FamilyMountainBikeSizesfamilyMember" form="unqualified"
            name="familyMember" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:integer"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schematestComplexPosInt" abstract="false" mixed="false"
      name="testComplexPosInt">
    <xsd:sequence>
      <xsd:element id="testComplexPosIntattrPosInt" form="unqualified" maxOccurs="1"
          minOccurs="1" name="attrPosInt">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="testComplexPosIntattr2PosInt" form="unqualified" maxOccurs="1"
          minOccurs="1" name="attr2PosInt">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schematestMeSimpleContentPosInt" abstract="false"
      mixed="false" name="testMeSimpleContentPosInt">
    <xsd:simpleContent>
      <xsd:extension base="xsd:integer">
        <xsd:attribute id="testMeSimpleContentPosIntgaPosInt" form="unqualified" name="gaPosInt"
            use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:positiveInteger">
              <xsd:minInclusive value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schemaFamilyMountainBikeSizesPosInt" abstract="false"
      mixed="false" name="FamilyMountainBikeSizesPosInt">
    <xsd:simpleContent>
      <xsd:extension base="mountainbikesizePosInt">
        <xsd:attribute id="FamilyMountainBikeSizesPosIntfamilyMemberPosInt" form="unqualified"
            name="familyMemberPosInt" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:positiveInteger">
              <xsd:minInclusive value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schematestComplexUnLong" abstract="false" mixed="false"
      name="testComplexUnLong">
    <xsd:sequence>
      <xsd:element id="testComplexUnLongattrUnLong" form="unqualified" maxOccurs="1"
          minOccurs="1" name="attrUnLong">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedLong">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="18446744073709551615"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="testComplexUnLongattr2UnLong" form="unqualified" maxOccurs="1"
          minOccurs="1" name="attr2UnLong">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedLong">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="18446744073709551615"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schematestMeSimpleContentUnLong" abstract="false"
      mixed="false" name="testMeSimpleContentUnLong">
    <xsd:simpleContent>
      <xsd:extension base="xsd:integer">
        <xsd:attribute id="testMeSimpleContentUnLonggaUnLong" form="unqualified" name="gaUnLong"
            use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:unsignedLong">
              <xsd:minInclusive value="0"/>
              <xsd:maxInclusive value="18446744073709551615"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schemaFamilyMountainBikeSizesUnLong" abstract="false"
      mixed="false" name="FamilyMountainBikeSizesUnLong">
    <xsd:simpleContent>
      <xsd:extension base="mountainbikesizeUnLong">
        <xsd:attribute id="FamilyMountainBikeSizesUnLongfamilyMemberUnLong" form="unqualified"
            name="familyMemberUnLong" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:unsignedLong">
              <xsd:minInclusive value="0"/>
              <xsd:maxInclusive value="18446744073709551615"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>