tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/wizard/XSDBOM08_ComplexTypeElemAndAttsTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://businessobjectmodel" xmlns:tns1="http://businessobjectmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/WSImportBOMTest/Business Objects/XSDBOM08_ComplexTypeElemAndAttsTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="businessobjectmodel_concept1" abstract="false" mixed="false"
      name="concept1">
    <xsd:sequence>
      <xsd:element id="concept1_id" form="unqualified" maxOccurs="1" minOccurs="1"
          name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute id="concept1_id2" form="qualified" name="id2" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType id="businessobjectmodel_Help" abstract="false" mixed="false" name="Help">
    <xsd:sequence>
      <xsd:element id="Help_Request_elem" form="unqualified" maxOccurs="unbounded"
          minOccurs="1" name="Request" type="HelpRequest"/>
      <xsd:element id="Help_Request2_elem" form="unqualified" maxOccurs="1" minOccurs="1"
          name="Request2" type="HelpRequest"/>
      <xsd:element id="Help_Request3" form="unqualified" maxOccurs="unbounded" minOccurs="0"
          name="Request3" type="HelpRequest"/>
      <xsd:element id="Help_Request4" form="unqualified" maxOccurs="unbounded" minOccurs="2"
          name="Request4" type="HelpRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="businessobjectmodel_HelpRequest" abstract="false" mixed="false"
      name="HelpRequest"/>
  <xsd:complexType id="businessobjectmodel_ItemPriceLookup" abstract="false" mixed="false"
      name="ItemPriceLookup">
    <xsd:sequence>
      <xsd:element id="ItemPriceLookup_Request" form="unqualified" maxOccurs="unbounded"
          minOccurs="1" name="Request" type="HelpRequest"/>
      <xsd:element id="ItemPriceLookup_Request2" form="unqualified" maxOccurs="1"
          minOccurs="1" name="Request2" type="HelpRequest"/>
      <xsd:element id="ItemPriceLookup_Request3_elem" form="unqualified" maxOccurs="unbounded"
          minOccurs="0" name="Request3" type="HelpRequest"/>
      <xsd:element id="ItemPriceLookup_Request4_elem" form="unqualified" maxOccurs="unbounded"
          minOccurs="2" name="Request4" type="HelpRequest"/>
      <xsd:element id="ItemPriceLookup_uriWithDefault" default="http://www.tibco.com"
          form="unqualified" maxOccurs="1" minOccurs="1" name="uriWithDefault">
        <xsd:simpleType>
          <xsd:restriction base="xsd:anyURI"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ItemPriceLookup_textWithDefault" default="mytextdefault" form="unqualified"
          maxOccurs="1" minOccurs="1" name="textWithDefault">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ItemPriceLookup_integerWithDefault" default="1" form="unqualified"
          maxOccurs="1" minOccurs="1" name="integerWithDefault">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ItemPriceLookup_decimalWithDefault" default="1.1" form="unqualified"
          maxOccurs="1" minOccurs="1" name="decimalWithDefault">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ItemPriceLookup_booleanWithDefault" default="true" form="unqualified"
          maxOccurs="1" minOccurs="1" name="booleanWithDefault">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="businessobjectmodel_TypesTestComplexType" abstract="false"
      mixed="false" name="TypesTestComplexType">
    <xsd:sequence>
      <xsd:element id="TypesTestComplexType_myDateTimeTZ" form="unqualified" maxOccurs="1"
          minOccurs="0" name="myDateTimeTZ">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime">
            <xsd:pattern value=".+T.+(Z|[+-].+)"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TypesTestComplexType_normString" form="unqualified" maxOccurs="1"
          minOccurs="0" name="normString">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="(0[1-9]|[1][0-2])"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TypesTestComplexType_myLong" form="unqualified" maxOccurs="1"
          minOccurs="1" name="myLong">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minExclusive value="120"/>
            <xsd:maxExclusive value="250"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TypesTestComplexType_myDecimal" form="unqualified" maxOccurs="1"
          minOccurs="1" name="myDecimal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:minExclusive value="-12345678901234567890"/>
            <xsd:maxExclusive value="12345678901234567890"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TypesTestComplexType_myPosInteger" form="unqualified" maxOccurs="1"
          minOccurs="1" name="myPosInteger">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TypesTestComplexType_myPosIntegerWR" form="unqualified" maxOccurs="1"
          minOccurs="1" name="myPosIntegerWR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="5"/>
            <xsd:maxInclusive value="25"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>