tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/wizard/XSDBOM09_ComplexTypeCompositionElementTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://businessobjectmodel" xmlns:tns1="http://businessobjectmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gdfgdf/Business Objects/XSDBOM09_ComplexTypeCompositionElementTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="businessobjectmodel_file2" abstract="false" mixed="false" name="file2">
    <xsd:attribute id="file2_id" form="unqualified" name="id" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType id="businessobjectmodel_concept2" abstract="false" mixed="false"
      name="concept2">
    <xsd:sequence>
      <xsd:element id="concept2_file" form="unqualified" maxOccurs="1" minOccurs="1"
          name="file" type="file2"/>
    </xsd:sequence>
    <xsd:attribute id="concept2_id" form="unqualified" name="id" use="required">
      <xsd:simpleType>
        <xsd:restriction base="xsd:integer"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute id="concept2_name" form="unqualified" name="name" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>