tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/wizard/XSDBOM16_AnonymousTypeTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.com/anonymousTypes" xmlns:tns1="http://www.example.com/anonymousTypes"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.com/anonymousTypes">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gfdgdf/Business Objects/XSDBOM16_AnonymousTypeTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType id="com.example.anonymousTypesMySimpleType2" name="MySimpleType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength fixed="false" value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType id="com.example.anonymousTypestypeWithAnonymousSimpleType" abstract="false"
      mixed="false" name="typeWithAnonymousSimpleType">
    <xsd:sequence>
      <xsd:element id="typeWithAnonymousSimpleTypeanonymousSimpleType" form="qualified"
          maxOccurs="1" minOccurs="0" name="anonymousSimpleType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousSimpleTypetypeCode" form="qualified" maxOccurs="1"
          minOccurs="1" name="typeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.example.anonymousTypestypeWithAnonymousComplexType" abstract="false"
      mixed="false" name="typeWithAnonymousComplexType">
    <xsd:sequence>
      <xsd:element id="typeWithAnonymousComplexTypeissuerId" form="qualified" maxOccurs="1"
          minOccurs="1" name="issuerId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousComplexTypeserialNumber" form="qualified"
          maxOccurs="1" minOccurs="1" name="serialNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousComplexTypevalidForRefill" form="qualified"
          maxOccurs="1" minOccurs="1" name="validForRefill">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousComplexTypevalidForActivation" form="qualified"
          maxOccurs="1" minOccurs="1" name="validForActivation">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousComplexTypefaceValue" form="qualified" maxOccurs="1"
          minOccurs="1" name="faceValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousComplexTypeanonymousComplexTypeFieldType"
          form="qualified" maxOccurs="1" minOccurs="1" name="anonymousComplexTypeField">
        <xsd:complexType id="com.example.anonymousTypesanonymousComplexTypeFieldType"
            mixed="false">
          <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="validForRefill2">
              <xsd:simpleType>
                <xsd:restriction base="xsd:boolean"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousComplexTypetypeCode" form="qualified" maxOccurs="1"
          minOccurs="1" name="typeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.example.anonymousTypestypeWithAnonymousEnumeration" abstract="false"
      mixed="false" name="typeWithAnonymousEnumeration">
    <xsd:sequence>
      <xsd:element id="typeWithAnonymousEnumerationissuerId" form="qualified" maxOccurs="1"
          minOccurs="1" name="issuerId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousEnumerationserialNumber" form="qualified"
          maxOccurs="1" minOccurs="1" name="serialNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousEnumerationvalidForRefill" form="qualified"
          maxOccurs="1" minOccurs="1" name="validForRefill">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousEnumerationvalidForActivation" form="qualified"
          maxOccurs="1" minOccurs="1" name="validForActivation">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousEnumerationfaceValue" form="qualified" maxOccurs="1"
          minOccurs="1" name="faceValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousEnumerationanonymousEnumeration" form="qualified"
          maxOccurs="1" minOccurs="1" name="anonymousEnumeration">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:enumeration value="activation"/>
            <xsd:enumeration value="refill"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousEnumerationtypeCode" form="qualified" maxOccurs="1"
          minOccurs="1" name="typeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.example.anonymousTypestypeWithAnonymousExtensionOfSimpleType"
      abstract="false" mixed="false" name="typeWithAnonymousExtensionOfSimpleType">
    <xsd:sequence>
      <xsd:element id="typeWithAnonymousExtensionOfSimpleTypeissuerId" form="qualified"
          maxOccurs="1" minOccurs="1" name="issuerId">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousExtensionOfSimpleTypeserialNumber" form="qualified"
          maxOccurs="1" minOccurs="1" name="serialNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousExtensionOfSimpleTypevalidForRefill" form="qualified"
          maxOccurs="1" minOccurs="1" name="validForRefill">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousExtensionOfSimpleTypevalidForActivation" form="qualified"
          maxOccurs="1" minOccurs="1" name="validForActivation">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousExtensionOfSimpleTypefaceValue" form="qualified"
          maxOccurs="1" minOccurs="1" name="faceValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousExtensionOfSimpleTypeanonymousExtensionOfSimpleType"
          form="qualified" maxOccurs="1" minOccurs="1" name="anonymousExtensionOfSimpleType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousExtensionOfSimpleTypetypeCode" form="qualified"
          maxOccurs="1" minOccurs="1" name="typeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.example.anonymousTypestypeWithAnonymousRestrictionOfSimpleType"
      abstract="false" mixed="false" name="typeWithAnonymousRestrictionOfSimpleType">
    <xsd:sequence>
      <xsd:element id="typeWithAnonymousRestrictionOfSimpleTypeanonymousExtensionOfSimpleType1"
          form="qualified" maxOccurs="1" minOccurs="1" name="anonymousExtensionOfSimpleType1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
            <xsd:maxExclusive value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousRestrictionOfSimpleTypeanonymousExtensionOfSimpleType2"
          form="qualified" maxOccurs="1" minOccurs="1" name="anonymousExtensionOfSimpleType2">
        <xsd:simpleType>
          <xsd:restriction base="MySimpleType">
            <xsd:maxLength fixed="false" value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="typeWithAnonymousRestrictionOfSimpleTypetypeCode" form="qualified"
          maxOccurs="1" minOccurs="1" name="typeCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.example.anonymousTypestypeWithAnonymousExtensionOfComplexType"
      abstract="false" mixed="false" name="typeWithAnonymousExtensionOfComplexType">
    <xsd:sequence>
      <xsd:element id="typeWithAnonymousExtensionOfComplexTypeanonymousExtensionOfComplexTypeType"
          form="qualified" maxOccurs="1" minOccurs="1" name="anonymousExtensionOfComplexType">
        <xsd:complexType id="com.example.anonymousTypesanonymousExtensionOfComplexTypeType"
            mixed="false">
          <xsd:complexContent>
            <xsd:extension base="tns1:typeWithAnonymousComplexType">
              <xsd:sequence>
                <xsd:element id="anonymousExtensionOfComplexTypeTypeaddress" form="qualified"
                    maxOccurs="1" minOccurs="1" name="address">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element id="anonymousExtensionOfComplexTypeTypecity" form="qualified"
                    maxOccurs="1" minOccurs="1" name="city">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element id="anonymousExtensionOfComplexTypeTypecountry" form="qualified"
                    maxOccurs="1" minOccurs="1" name="country">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.example.anonymousTypestypeWithAnonymousTypeRecursion" abstract="false"
      mixed="false" name="typeWithAnonymousTypeRecursion">
    <xsd:sequence>
      <xsd:element id="typeWithAnonymousTypeRecursionanonymousComplexTypeFieldType"
          form="qualified" maxOccurs="1" minOccurs="1" name="anonymousComplexTypeField">
        <xsd:complexType id="com.example.anonymousTypesanonymousComplexTypeFieldType2"
            mixed="false">
          <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="anotherFieldOfTypeAnonymous">
              <xsd:complexType id="com.example.anonymousTypesanotherFieldOfTypeAnonymousType"
                  mixed="false">
                <xsd:sequence>
                  <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="validForRefill">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:boolean"/>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>