tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/08_GlobalElements/XSDBOM_TLE1_ClashingNamespaceDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL
This highlights a few edge cases -
1. A local element referring to a top level element outside its own schema
2. The local element referring is itself contained in a top level element 
   that has a duplicate name as another top level element in another schema that 
   it is importing.
3. We have int1 and str1 as top level elements in both schemas and also they themselves
   are being referenced by local elements in each schemas.
4. Most importantly if you notice in this case the wsdl definitions ns0 is referring to Schema.xsd 
   however the Schema.xsd has its own ns0 definition referring to SimpleMappings.xsd and this was 
   making the transformation bring back the wrong schema for prefix.
-->
<wsdl:definitions xmlns:ns0="http://www.tibco.com/schemas/CreateExamples/Schema.xsd" xmlns:ns1="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.example.com/1288969353955" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.example.com/1288969353955" tibex:src="file:/C:/MyTasks/Tests/egonsalves/TLE/WSDLs/bwImportExample.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/CreateExamples/Schema.xsd" xmlns:ns0="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/CreateExamples/Schema.xsd">
            <xs:import namespace="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2"/>
            <xs:element name="int1" type="xs:string"/>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="str1"/>
                        <xs:element ref="int1"/>
                        <xs:element ref="ns0:dec1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="str1" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2">
            <xs:element name="bfield1" type="xs:boolean"/>
            <xs:element name="date1" type="xs:date"/>
            <xs:element name="dec1" type="xs:decimal"/>
            <xs:element name="dtfield" type="xs:dateTime"/>
            <xs:element name="int1" type="xs:int"/>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:simpleContainer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="simpleContainer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:bfield1"/>
                        <xs:element ref="ns1:date1"/>
                        <xs:element ref="ns1:dec1"/>
                        <xs:element ref="ns1:dtfield"/>
                        <xs:element ref="ns1:int1"/>
                        <xs:element ref="ns1:time1"/>
                        <xs:element ref="ns1:str1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="str1" type="xs:string"/>
            <xs:element name="time1" type="xs:time"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="intfusingImportProcess-service">
        <wsdl:port binding="tns:intfwsusingImportProcessEndpoint1Binding" name="intfwsusingImportProcessEndpoint1">
            <soap:address location="http://localhost:8001/intfusingImportProcess-service.serviceagent/intfwsusingImportProcessEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="usingImportProcessOp">
            <wsdl:input message="tns:root"/>
            <wsdl:output message="tns:root2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsusingImportProcessEndpoint1Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="usingImportProcessOp">
            <soap:operation soapAction="/intfusingImportProcess-service.serviceagent/intfwsusingImportProcessEndpoint1/usingImportProcessOp" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="root">
        <wsdl:part element="ns0:root" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="root2">
        <wsdl:part element="ns0:root" name="parameters"/>
    </wsdl:message>
</wsdl:definitions>
