tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.preventivi.resources/Service Descriptors/EmissioneFatturaServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="com.enel.mind.EmissioneFatturaServiceCall" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://enel.com/mind_inviosd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Integration_PreventivoLavori" targetNamespace="com.enel.mind.EmissioneFatturaServiceCall" tibex:ServiceTask="_sCBBoKYIEeOD9esAIUFrxA" tibex:XPDL="PreventivoLavori.xpdl" tibex:process="_2820AKYHEeOD9esAIUFrxA">
  <wsdl:types>
    <xsd:schema xmlns="com.enel.mind.EmissioneFatturaServiceCall" targetNamespace="com.enel.mind.EmissioneFatturaServiceCall">
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:element name="LavoriInvioSdEmissioneFattura_errorCode" type="string"/>
      <xsd:element name="LavoriInvioSdEmissioneFattura_errorDetail" type="string"/>
      <xsd:simpleType name="integer_3">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="LavoriInvioSdEmissioneFattura_errorMaxRetries" type="integer_3"/>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="LavoriInvioSdEmissioneFattura_errorPerformer" type="string_50"/>
      <xsd:element name="LavoriInvioSdEmissioneFattura_errorRetryCount" type="integer_3"/>
      <xsd:element name="LavoriInvioSdEmissioneFattura_errorShortRetries" type="integer_3"/>
      <xsd:simpleType name="integer_9">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="LavoriInvioSdEmissioneFattura_errorWaitLongDelayMin" type="integer_9"/>
      <xsd:element name="LavoriInvioSdEmissioneFattura_errorWaitShortDelayMin" type="integer_9"/>
      <xsd:simpleType name="string_4000">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4000"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="LavoriInvioSdEmissioneFattura_msgPayload" type="string_4000"/>
      <xsd:element name="LavoriInvioSdEmissioneFattura_parentProcessId" type="string_50"/>
      <xsd:element name="LavoriInvioSdEmissioneFattura_processId" type="string_50"/>
      <xsd:simpleType name="string_100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="LavoriInvioSdEmissioneFattura_processName" type="string_100"/>
    </xsd:schema>
    <xsd:schema xmlns="http://enel.com/mind_inviosd" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://enel.com/mind_inviosd" targetNamespace="http://enel.com/mind_inviosd">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/com.enel.mind_integration.preventivi.resources/Business Objects/com.enel.mind_inviosd.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="CreazioneAnagraficaRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idBpm">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="clienteCdm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idFatturazioneCdm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="datiFatturazioneCdm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="indirizzoCdm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="caratteristicaDeterminazioneconti">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="condizioniPagamento">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="definiziocontocontrattuale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="commodity">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaOrigineDati">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idRichiesta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroUtente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceVAS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceBusinessPartner">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceBusinessPartnerSAPSD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contoContrattualeSAPSD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cognomeCliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="nomeCliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceFiscaleCliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="PIVACliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceFormaGiuridica">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="recapitoPresso">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="recapitoIndirizzo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="recapitoNumeroCivico">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="recapitoCAP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="recapitoLocalita">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="recapitoProvincia">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="emailCliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="241"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="chiaveCondPagamento">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreazioneAnagraficaResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idfatturazioneBlob" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sorgenteesito" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataAttivazione" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="pod" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idRichiesta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceBusinessPartnerSAP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contoContrattuale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Esito">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codice">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EmissioneFatturaRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="strutturaVas" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idBpm">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaChiamante" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="condizioniPagamento" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="clienteCdm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="datiFatturazioneCdm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idFatturazioneCDM" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="importoTotale" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idRichiesta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceInstallatore" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroDDT" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataRichiestaConsegna">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="consegnaManuale" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoFlusso">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroRate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="causaleOperazione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceBusinessPartner">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contoContrattuale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idPraticaFinanziamento">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="nome">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cognome">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ragioneSociale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="email">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="241"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefono">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulare">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="presso">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="via">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="civico">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cap">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="comune">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="provincia">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceProdotto">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="quantitaProdotto">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="attributoProdotto">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroContratto">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataVendita">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EmissioneFatturaResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fattura" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoFlusso" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idProtocollo" type="double_StudioGeneratedTemplate"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataEmissione" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataConsegna">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroFattura" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="importoFattura" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="importoNetto" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="importoIva" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idDocumentoStampa" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idOrdineSAP" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="double_StudioGeneratedTemplate">
        <xsd:restriction base="xsd:double">
          <xsd:minInclusive value="-179.76931348623157E+306"/>
          <xsd:maxInclusive value="179.76931348623157E+306"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="CreazioneAnagraficaRequestElement" type="CreazioneAnagraficaRequest"/>
      <xsd:element name="CreazioneAnagraficaResponseElement" type="CreazioneAnagraficaResponse"/>
      <xsd:element name="EsitoElement" type="Esito"/>
      <xsd:element name="EmissioneFatturaRequestElement" type="EmissioneFatturaRequest"/>
      <xsd:element name="EmissioneFatturaResponseElement" type="EmissioneFatturaResponse"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LavoriInvioSdEmissioneFattura_EmissioneFatturaServiceCall_INPUT">
    <wsdl:part element="ttns:EmissioneFatturaRequestElement" name="InvioSdEmissioneFatturaRequest"/>
  </wsdl:message>
  <wsdl:message name="LavoriInvioSdEmissioneFattura_EmissioneFatturaServiceCall_OUTPUT">
    <wsdl:part element="ttns:EmissioneFatturaResponseElement" name="InvioSdEmissioneFatturaResponse"/>
  </wsdl:message>
  <wsdl:message name="LavoriInvioSdEmissioneFattura_EmissioneFatturaServiceCall_GenericErrorEvent_fault">
    <wsdl:part element="ttns:EmissioneFatturaResponseElement" name="InvioSdEmissioneFatturaResponse"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_errorCode" name="errorCode"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_errorDetail" name="errorDetail"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_errorMaxRetries" name="errorMaxRetries"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_errorPerformer" name="errorPerformer"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_errorRetryCount" name="errorRetryCount"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_errorShortRetries" name="errorShortRetries"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_errorWaitLongDelayMin" name="errorWaitLongDelayMin"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_errorWaitShortDelayMin" name="errorWaitShortDelayMin"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_msgPayload" name="msgPayload"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_parentProcessId" name="parentProcessId"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_processId" name="processId"/>
    <wsdl:part element="ns:LavoriInvioSdEmissioneFattura_processName" name="processName"/>
  </wsdl:message>
  <wsdl:portType name="LavoriInvioSdEmissioneFattura" tibex:FlowContainer="_2820AKYHEeOD9esAIUFrxA">
    <wsdl:operation name="EmissioneFatturaServiceCall">
      <wsdl:input message="ns:LavoriInvioSdEmissioneFattura_EmissioneFatturaServiceCall_INPUT" tibex:Event="_sCBBoKYIEeOD9esAIUFrxA"/>
      <wsdl:output message="ns:LavoriInvioSdEmissioneFattura_EmissioneFatturaServiceCall_OUTPUT" tibex:Event="_sCBBoKYIEeOD9esAIUFrxA"/>
      <wsdl:fault message="ns:LavoriInvioSdEmissioneFattura_EmissioneFatturaServiceCall_GenericErrorEvent_fault" name="GenericErrorEvent" tibex:Error="_sCBBq6YIEeOD9esAIUFrxA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
