tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.sce.n2.wsdlgen.test/resources/ProcIfcNestedBOM/GOLDS/ProcIfcNestedBOMsGOLD.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://example.com/bomwithinternalpackages/internalpkg2" xmlns:ttns1="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" xmlns:ttns2="http://example.com/bomwithinternalpackages" xmlns:ttns3="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NestedBOMs" targetNamespace="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" tibex:XPDL="ProcIfcNestedBOMs.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" targetNamespace="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw"/>
    <xsd:schema xmlns="http://example.com/bomwithinternalpackages/internalpkg2" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bomwithinternalpackages" xmlns:tns2="http://example.com/bomwithinternalpackages/internalpkg2" xmlns:tns3="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" targetNamespace="http://example.com/bomwithinternalpackages/internalpkg2">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/ProcIfcNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal"/>
      <xsd:import namespace="http://example.com/bomwithinternalpackages"/>
      <xsd:complexType name="Internal2C1">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="nonInternal" type="tns1:NonInternal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Internal2C1Element" type="Internal2C1"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" targetNamespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/ProcIfcNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="InternalInternal1"/>
      <xsd:element name="InternalInternal1Element" type="InternalInternal1"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/bomwithinternalpackages" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bomwithinternalpackages" xmlns:tns2="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:tns3="http://example.com/bomwithinternalpackages/internalpkg2" targetNamespace="http://example.com/bomwithinternalpackages">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/ProcIfcNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/interalpkg1"/>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2"/>
      <xsd:complexType name="NonInternal"/>
      <xsd:element name="NonInternalElement" type="NonInternal"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:tns2="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" targetNamespace="http://example.com/bomwithinternalpackages/interalpkg1">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/ProcIfcNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal"/>
      <xsd:complexType mixed="false" name="Internal1">
        <xsd:complexContent>
          <xsd:extension base="tns2:InternalInternal1"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Internal2"/>
      <xsd:element name="Internal1Element" type="Internal1"/>
      <xsd:element name="Internal2Element" type="Internal2"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NestedBOMsInterface_IntermediateMessage_INPUT">
    <wsdl:part name="Internal1" type="ttns3:Internal1"/>
    <wsdl:part name="Internal2" type="ttns3:Internal2"/>
  </wsdl:message>
  <wsdl:message name="NestedBOMsInterface_IntermediateMessage_OUTPUT">
    <wsdl:part name="Internal1" type="ttns3:Internal1"/>
    <wsdl:part name="InternalInternal1" type="ttns1:InternalInternal1"/>
  </wsdl:message>
  <wsdl:message name="NestedBOMsInterface_StartMessage_INPUT">
    <wsdl:part name="Internal2" type="ttns3:Internal2"/>
  </wsdl:message>
  <wsdl:message name="NestedBOMsInterface_StartMessage_OUTPUT">
    <wsdl:part name="InternalInternal1" type="ttns1:InternalInternal1"/>
  </wsdl:message>
  <wsdl:portType name="NestedBOMsInterface" tibex:FlowContainer="_J0yXsBpJEd-KR4rH3IKjZA">
    <wsdl:operation name="IntermediateMessage">
      <wsdl:input message="ns:NestedBOMsInterface_IntermediateMessage_INPUT" tibex:Event="_vKaxYBpJEd-KR4rH3IKjZA"/>
      <wsdl:output message="ns:NestedBOMsInterface_IntermediateMessage_OUTPUT" tibex:Event="_vKaxYBpJEd-KR4rH3IKjZA"/>
    </wsdl:operation>
    <wsdl:operation name="StartMessage">
      <wsdl:input message="ns:NestedBOMsInterface_StartMessage_INPUT" tibex:Event="_pQg-wBpJEd-KR4rH3IKjZA"/>
      <wsdl:output message="ns:NestedBOMsInterface_StartMessage_OUTPUT" tibex:Event="_pQg-wBpJEd-KR4rH3IKjZA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
