tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM45_BOMGenFor_dac_wsdl/dac-notification-service.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://calendar.api.dac.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://notification.api.dac.n2.tibco.com" version="1.0">

  <xs:element name="deleteReferences">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Identifies a number of Calendar References that have been deleted by the calling Component.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="reference" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteReferencesResponse">
    <xs:complexType/>
  </xs:element>
</xs:schema>
