tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-any/gold/builder/XSDBOM_Any04_Composition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.w3schools.com" xmlns:tns1="http://www.w3schools.com" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.w3schools.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Any04_Composition/Business Objects/com.w3schools.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="person" id="com.w3schoolsperson" abstract="false" mixed="false"
      name="person">
    <xsd:sequence>
      <xsd:element ecore:name="firstname" id="personfirstname" form="qualified" maxOccurs="1"
          minOccurs="1" name="firstname" type="person2"/>
      <xsd:element ecore:name="lastname" id="personlastname" form="qualified" maxOccurs="1"
          minOccurs="1" name="lastname" type="person3"/>
      <xsd:any ecore:name="any" id="personany" namespace="##any" processContents="strict"
          maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="person2" id="com.w3schoolsperson2" abstract="false"
      mixed="false" name="person2">
    <xsd:sequence>
      <xsd:element ecore:name="attr1" id="person2attr1" form="qualified" maxOccurs="1"
          minOccurs="1" name="attr1" type="xsd:boolean"/>
      <xsd:any ecore:name="any" id="person2any" namespace="##any" processContents="strict"
          maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="person3" id="com.w3schoolsperson3" abstract="false"
      mixed="false" name="person3">
    <xsd:sequence>
      <xsd:element ecore:name="attr1" id="person3attr1" form="qualified" maxOccurs="1"
          minOccurs="1" name="attr1" type="xsd:boolean"/>
      <xsd:any ecore:name="any" id="person3any" namespace="##any" processContents="strict"
          maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>