tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-any/gold/builder/XSDBOM_Any08_AnyTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/NewXMLSchema2" xmlns:tns1="http://www.example.org/NewXMLSchema2"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/NewXMLSchema2">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Any08_AnyTypes/Business Objects/org.example.NewXMLSchema2.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="customer" id="org.example.NewXMLSchema2customer" abstract="false"
      mixed="false" name="customer">
    <xsd:sequence>
      <xsd:element ecore:name="anyElem3" id="customeranyElem3" form="qualified" maxOccurs="1"
          minOccurs="1" name="anyElem3" type="xsd:anyType"/>
      <xsd:element ecore:name="anyElem4" id="customeranyElem4" form="qualified" maxOccurs="1"
          minOccurs="1" name="anyElem4" type="xsd:anyType"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="anyAttr7" id="customeranyAttr7" form="unqualified"
        name="anyAttr7" use="optional"/>
  </xsd:complexType>
  <xsd:attribute name="topAttr"/>
  <xsd:element abstract="false" name="topElem" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="topElem2" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="topCustomer" nillable="false">
    <xsd:complexType ecore:name="topCustomerType" id="org.example.NewXMLSchema2topCustomerType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="anyElem" form="qualified" maxOccurs="1" minOccurs="1"
            name="anyElem" type="xsd:anyType"/>
        <xsd:element ecore:name="anyElem2" form="qualified" maxOccurs="1" minOccurs="1"
            name="anyElem2" type="xsd:anyType"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="anyAttr3" id="topCustomerTypeanyAttr3" form="unqualified"
          name="anyAttr3" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>