tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM30_AsociationReferringDiffrentClassProblemTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.alfam.nl/xsd/nap/napservices/napdb/v1/getproceslogrequest.xsd" xmlns:ns1="http://xmlns.alfam.nl/xsd/nap/napservices/napdb/v1/getproceslogresponse.xsd" xmlns:ns2="http://xmlns.alfam.nl/xsd/nap/services/amkr/v1/storeproceslogrequest.xsd" xmlns:ns3="http://xmlns.alfam.nl/xsd/nap/services/amkr/v1/storeproceslogresponse.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="urn:amx:BPMEnvironment/nl.alfam.nap.bpm.mediation.napdb.proceslog" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ProcesLog_1.0.0.201208191916_service_ProcesLogPortType_ProcesLogPortType" targetNamespace="urn:amx:BPMEnvironment/nl.alfam.nap.bpm.mediation.napdb.proceslog" tibex:src="file:/C:/tibco_workspaces/tibco-workspace/nl.alfam.nap.bpm.common.bom/Service%20Descriptors/BPM_Mediation_NAPDB_ProcesLog.wsdl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.alfam.nl/xsd/nap/napservices/napdb/v1/getproceslogresponse.xsd">
            <xs:import namespace="http://xmlns.alfam.nl/xsd/nap/napservices/napdb/v1/getproceslogrequest.xsd"/>
            <xs:import namespace="http://xmlns.alfam.nl/xsd/nap/services/amkr/v1/storeproceslogrequest.xsd"/>
            <xs:import namespace="http://xmlns.alfam.nl/xsd/nap/services/amkr/v1/storeproceslogresponse.xsd"/>
            <xs:complexType name="ProcesLogCollectieType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ProcesLog" type="ns1:ProcesLogType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProcesLogType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ProcesLogId" type="xs:integer"/>
                    <xs:element name="AanvraagNummer" type="xs:integer"/>
                    <xs:element name="LogType" type="xs:string"/>
                    <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"/>
                    <xs:element name="Gebruiker" type="xs:string"/>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="LogCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="Omschrijving" type="xs:string"/>
                    <xs:element minOccurs="0" name="Instructies" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetProcesLogResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:ProcesLogCollectie"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProcesLog" type="ns1:ProcesLogType"/>
            <xs:element name="ProcesLogCollectie" type="ns1:ProcesLogCollectieType"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.alfam.nl/xsd/nap/napservices/napdb/v1/getproceslogrequest.xsd">
            
            <xs:element name="GetProcesLogRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AanvraagNummer" type="xs:integer"/>
                        <xs:element minOccurs="0" name="LogType" type="xs:string"/>
                        <xs:element minOccurs="0" name="Status" type="xs:string"/>
                        <xs:element name="Laatse" type="xs:boolean"/>
                        <xs:element name="AndOr" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.alfam.nl/xsd/nap/services/amkr/v1/storeproceslogrequest.xsd">
            
            <xs:complexType name="ProcesLogCollectieType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ProcesLog" type="ns2:ProcesLogType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProcesLogType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ProcesLogId" type="xs:integer"/>
                    <xs:element name="AanvraagNummer" type="xs:integer"/>
                    <xs:element name="LogType" type="xs:string"/>
                    <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"/>
                    <xs:element name="Gebruiker" type="xs:string"/>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="LogCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="Omschrijving" type="xs:string"/>
                    <xs:element minOccurs="0" name="Instructies" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ProcesLogCollectie" type="ns2:ProcesLogCollectieType"/>
            <xs:element name="ProcesLogRequest" type="ns2:ProcesLogType"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.alfam.nl/xsd/nap/services/amkr/v1/storeproceslogresponse.xsd">
            
            <xs:element name="StoreProcesLogResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReturnValue" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetProcesLogRequestMessage">
        <wsdl:part element="ns0:GetProcesLogRequest" name="Input"/>
    </wsdl:message>
    <wsdl:message name="GetProcesLogResponseMessage">
        <wsdl:part element="ns1:GetProcesLogResponse" name="Output"/>
    </wsdl:message>
    <wsdl:message name="StoreProcesLogRequestMessage">
        <wsdl:part element="ns2:ProcesLogRequest" name="Input"/>
    </wsdl:message>
    <wsdl:message name="StoreProcesLogResponseMessage">
        <wsdl:part element="ns3:StoreProcesLogResponse" name="Output"/>
    </wsdl:message>
    <wsdl:portType name="ProcesLogPortType">
        <wsdl:operation name="GetProcesLogOperation">
            <wsdl:input message="tns:GetProcesLogRequestMessage"/>
            <wsdl:output message="tns:GetProcesLogResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="StoreProcesLogOperation">
            <wsdl:input message="tns:StoreProcesLogRequestMessage"/>
            <wsdl:output message="tns:StoreProcesLogResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPService_Binding_Mediation_NAPDB_ProcesLog" type="tns:ProcesLogPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetProcesLogOperation">
            <wsdl:documentation/>
            <soap:operation soapAction="GetProcesLogOperation" style="document"/>
            <wsdl:input>
                <soap:body parts="Input" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="Output" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="StoreProcesLogOperation">
            <wsdl:documentation/>
            <soap:operation soapAction="StoreProcesLogOperation" style="document"/>
            <wsdl:input>
                <soap:body parts="Input" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="Output" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProcesLog_1.0.0.201208191916_service_ProcesLogPortType_ProcesLogPortType">
        <wsdl:port binding="tns:SOAPService_Binding_Mediation_NAPDB_ProcesLog" name="SOAPService_Binding_Mediation_NAPDB_ProcesLog">
            <soap:address location="http://rob-pc:9002/procesLogPortType/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
