tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM19_SchemasWithNoTargetNamespaceTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.amsbqa.com/linda13/XSD2Define_Types13" xmlns:ns1="www.library.orgbook"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.amsbqa.com/linda13/XSD2Define_Types13" 
	elementFormDefault="unqualified">	

	<xsd:include schemaLocation="WSDLBOM19_SchemasWithNoTargetNamespaceTest2.xsd"></xsd:include>	

	<xsd:element name="Employee">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Name" type="xsd:string" />
				<xsd:element name="SSN" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Library">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Books">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Book"
								maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Employees">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="Employee"
								maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
