tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM16_AutoGeneratedValidation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_Ge3DYH-DEd-kragpFoKJBw" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns1="http://ns.tibco.com/DEUtilities/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessPackage" targetNamespace="http://www.tibco.com/bs3.0/_Ge3DYH-DEd-kragpFoKJBw" tibex:XPDL="ProcessPackage.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_Ge3DYH-DEd-kragpFoKJBw" targetNamespace="http://www.tibco.com/bs3.0/_Ge3DYH-DEd-kragpFoKJBw">
      <xsd:simpleType name="integer_10">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
        <xsd:schema xmlns="http://ns.tibco.com/DEUtilities/" targetNamespace="http://ns.tibco.com/DEUtilities/">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/GetWorkStatistics/Generated Business Objects/com.tibco.ns.de.utilities.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType abstract="false" mixed="false" name="ResourceInfo">
        <xsd:annotation/>
        <xsd:sequence>
          <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="resourceId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="emailAddress">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType abstract="false" mixed="false" name="getEmailAddressesRequest">
        <xsd:sequence>
          <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="1" name="resourceId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType abstract="false" mixed="false" name="getEmailAddressesResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="resourceInfo" type="ResourceInfo"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
        <xsd:schema xmlns="http://ns.tibco.com/DEUtilities/" targetNamespace="http://ns.tibco.com/DEUtilities/">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/GetWorkStatistics/Generated Business Objects/com.tibco.ns.de.utilities.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType abstract="false" mixed="false" name="ResourceInfo">
        <xsd:annotation/>
        <xsd:sequence>
          <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="resourceId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="emailAddress">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType abstract="false" mixed="false" name="getEmailAddressesRequest">
        <xsd:sequence>
          <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="1" name="resourceId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType abstract="false" mixed="false" name="getEmailAddressesResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="resourceInfo" type="ResourceInfo"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="ProcessPackageProcess_StartEvent_INPUT">
        <wsdl:part name="dummy" type="ns:integer_10"/>
    </wsdl:message>
  <wsdl:portType name="ProcessPackageProcess" tibex:FlowContainer="_GfHiEH-DEd-kragpFoKJBw">
    <wsdl:operation name="StartEvent">
      <wsdl:input message="ns:ProcessPackageProcess_StartEvent_INPUT" tibex:Event="_NRz94n-DEd-kragpFoKJBw"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
