tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM29_ClassAssociatingWrongPackageElementTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/WSDLBOM25_ClassAssociatingWrongPackageElementTest/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDLBOM25_ClassAssociatingWrongPackageElementTest" targetNamespace="http://www.example.org/WSDLBOM25_ClassAssociatingWrongPackageElementTest/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/WSDLBOM25_ClassAssociatingWrongPackageElementTest/">
      <xsd:import namespace="http://www.example.org/NewXMLSchema1"></xsd:import>
      <xsd:complexType name="MyClass">
		<xsd:sequence>
			<xsd:element name="element" type="tns:AssociatedClass">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AssociatedClass"></xsd:complexType>
      
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
     <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema1" xmlns:tns="http://www.example.org/NewXMLSchema1" elementFormDefault="qualified">
<xs:complexType name="AssociatedClass"></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WSDLBOM25_ClassAssociatingWrongPackageElementTest">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDLBOM25_ClassAssociatingWrongPackageElementTestSOAP" type="tns:WSDLBOM25_ClassAssociatingWrongPackageElementTest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/WSDLBOM25_ClassAssociatingWrongPackageElementTest/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDLBOM25_ClassAssociatingWrongPackageElementTest">
    <wsdl:port binding="tns:WSDLBOM25_ClassAssociatingWrongPackageElementTestSOAP" name="WSDLBOM25_ClassAssociatingWrongPackageElementTestSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
