tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/wizard/XSDBOM13_MaxTextLengthTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/test/schema" xmlns:tns1="http://www.tibco.com/test/schema"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/test/schema">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/hfghfgh/Business Objects/XSDBOM13_MaxTextLengthTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType id="com.tibco.test.schematestAlone2" name="testAlone">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematest12" name="test1">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schematest22" name="test2">
    <xsd:restriction base="tns1:test1"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.tibco.test.schemamountainbikesize" name="mountainbikesize">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="small"/>
      <xsd:enumeration value="medium"/>
      <xsd:enumeration value="large"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType id="com.tibco.test.schematestComplex" abstract="false" mixed="false"
      name="testComplex">
    <xsd:sequence>
      <xsd:element id="testComplexattr" form="unqualified" maxOccurs="1" minOccurs="1"
          name="attr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="testComplexattr2" form="unqualified" maxOccurs="1" minOccurs="1"
          name="attr2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schematestMeSimpleContent" abstract="false"
      mixed="false" name="testMeSimpleContent">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute id="testMeSimpleContentga" form="unqualified" name="ga" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.test.schemaFamilyMountainBikeSizes" abstract="false"
      mixed="false" name="FamilyMountainBikeSizes">
    <xsd:simpleContent>
      <xsd:extension base="mountainbikesize">
        <xsd:attribute id="FamilyMountainBikeSizesfamilyMember" form="unqualified"
            name="familyMember" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>