tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/wizard/XSDBOM11_CheckDifferentTypesImportedTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/DifferentTypes" xmlns:tns1="http://www.example.org/DifferentTypes"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/DifferentTypes">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gfdgdf/Business Objects/XSDBOM11_CheckDifferentTypesImportedTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="org.example.DifferentTypestmpItem" abstract="false" mixed="false"
      name="tmpItem">
    <xsd:sequence>
      <xsd:element id="tmpItemanyURIX" form="qualified" maxOccurs="1" minOccurs="1"
          name="anyURIX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:anyURI"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItembooleanX" form="qualified" maxOccurs="1" minOccurs="1"
          name="booleanX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItembyteX" form="qualified" maxOccurs="1" minOccurs="1"
          name="byteX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:byte">
            <xsd:minInclusive value="-128"/>
            <xsd:maxInclusive value="127"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdateX" form="qualified" maxOccurs="1" minOccurs="1"
          name="dateX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:date"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdateTimeX" form="qualified" maxOccurs="1" minOccurs="1"
          name="dateTimeX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdecimalX" form="qualified" maxOccurs="1" minOccurs="1"
          name="decimalX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdoubleX" form="qualified" maxOccurs="1" minOccurs="1"
          name="doubleX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="-179.76931348623157E+306"/>
            <xsd:maxInclusive value="179.76931348623157E+306"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdurationX" form="qualified" maxOccurs="1" minOccurs="1"
          name="durationX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:duration"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItementitiesX" form="qualified" maxOccurs="1" minOccurs="1"
          name="entitiesX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:ENTITIES">
            <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItementityX" form="qualified" maxOccurs="1" minOccurs="1"
          name="entityX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:ENTITY">
            <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemfloatX" form="qualified" maxOccurs="1" minOccurs="1"
          name="floatX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:float">
            <xsd:minInclusive value="-340.28235E+36"/>
            <xsd:maxInclusive value="340.28235E+36"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgDayX" form="qualified" maxOccurs="1" minOccurs="1"
          name="gDayX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gDay">
            <xsd:pattern value="\-\-\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgMonthX" form="qualified" maxOccurs="1" minOccurs="1"
          name="gMonthX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gMonth">
            <xsd:pattern value="\-\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgMonthDayX" form="qualified" maxOccurs="1" minOccurs="1"
          name="gMonthDayX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gMonthDay">
            <xsd:pattern value="\-\-(0[1-9]|[1][0-2])\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgYearX" form="qualified" maxOccurs="1" minOccurs="1"
          name="gYearX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gYear">
            <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgYearMonthX" form="qualified" maxOccurs="1" minOccurs="1"
          name="gYearMonthX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gYearMonth">
            <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemhexBinaryX" form="qualified" maxOccurs="1" minOccurs="1"
          name="hexBinaryX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:hexBinary">
            <xsd:pattern value="([0-9a-fA-F][0-9a-fA-F])*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItembase64BinaryX" form="qualified" maxOccurs="1" minOccurs="1"
          name="base64BinaryX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:base64Binary">
            <xsd:pattern value="(([A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[A-Za-z0-9+/] ?)*(([A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[A-Za-z0-9+/])|([A-Za-z0-9+/] ?[A-Za-z0-9+/] ?[AEIMQUYcgkosw048] ?=)|([A-Za-z0-9+/] ?[AQgw] ?= ?=)))?"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemidX" form="qualified" maxOccurs="1" minOccurs="1" name="idX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:ID">
            <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemidhrefX" form="qualified" maxOccurs="1" minOccurs="1"
          name="idhrefX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:IDREF">
            <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemidhrefsX" form="qualified" maxOccurs="1" minOccurs="1"
          name="idhrefsX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:IDREFS">
            <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemintX" form="qualified" maxOccurs="1" minOccurs="1" name="intX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemintegerX" form="qualified" maxOccurs="1" minOccurs="1"
          name="integerX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemlanguageX" form="qualified" maxOccurs="1" minOccurs="1"
          name="languageX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:language">
            <xsd:pattern value="([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemlongX" form="qualified" maxOccurs="1" minOccurs="1"
          name="longX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="-9223372036854775808"/>
            <xsd:maxInclusive value="9223372036854775807"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnameX" form="qualified" maxOccurs="1" minOccurs="1"
          name="nameX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:Name">
            <xsd:pattern value="\i\c*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemncNameX" form="qualified" maxOccurs="1" minOccurs="1"
          name="ncNameX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NCName">
            <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnegativeIntegerX" form="qualified" maxOccurs="1" minOccurs="1"
          name="negativeIntegerX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:negativeInteger">
            <xsd:maxInclusive value="-1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnmTOKENX" form="qualified" maxOccurs="1" minOccurs="1"
          name="nmTOKENX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:pattern value="\c+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnmTOKENSX" form="qualified" maxOccurs="1" minOccurs="1"
          name="nmTOKENSX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKENS">
            <xsd:pattern value="\c+( \c+)*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnonNegativeIntegerX" form="qualified" maxOccurs="1"
          minOccurs="1" name="nonNegativeIntegerX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnonPositiveIntegerX" form="qualified" maxOccurs="1"
          minOccurs="1" name="nonPositiveIntegerX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonPositiveInteger">
            <xsd:maxInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnormalizedStringX" form="qualified" maxOccurs="1" minOccurs="1"
          name="normalizedStringX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItempositiveIntegerX" form="qualified" maxOccurs="1" minOccurs="1"
          name="positiveIntegerX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemqNameX" form="qualified" maxOccurs="1" minOccurs="1"
          name="qNameX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:QName">
            <xsd:pattern value="([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemshortX" form="qualified" maxOccurs="1" minOccurs="1"
          name="shortX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="-32768"/>
            <xsd:maxInclusive value="32767"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemstringX" form="qualified" maxOccurs="1" minOccurs="1"
          name="stringX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemtimeX" form="qualified" maxOccurs="1" minOccurs="1"
          name="timeX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:time"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemtokenX" form="qualified" maxOccurs="1" minOccurs="1"
          name="tokenX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:token">
            <xsd:pattern value="\c+([ ]\c+)*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemunsignedByteX" form="qualified" maxOccurs="1" minOccurs="1"
          name="unsignedByteX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedByte">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemunsignedIntX" form="qualified" maxOccurs="1" minOccurs="1"
          name="unsignedIntX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="4294967295"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemunsignedLongX" form="qualified" maxOccurs="1" minOccurs="1"
          name="unsignedLongX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedLong">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="18446744073709551615"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemunsignedShortX" form="qualified" maxOccurs="1" minOccurs="1"
          name="unsignedShortX">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedShort">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="65535"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>