tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/wizard/XSDBOM17_AnonymousTypeNameClash.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://nameclash" xmlns:tns1="http://nameclash" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://nameclash">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gfdgdf/Business Objects/XSDBOM17_AnonymousTypeNameClash.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType id="nameclashbanana2" name="banana">
    <xsd:restriction base="xsd:int"/>
  </xsd:simpleType>
  <xsd:simpleType id="nameclashBanana2" name="Banana">
    <xsd:restriction base="xsd:integer"/>
  </xsd:simpleType>
  <xsd:simpleType id="nameclashcherry2" name="cherry">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType id="nameclashBananaType2" name="BananaType2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Curvy"/>
      <xsd:enumeration value="Straight"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="nameclash_cherry" name="_cherry">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GLACE"/>
      <xsd:enumeration value="MORELLO"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType id="nameclashApple" abstract="false" mixed="false" name="Apple">
    <xsd:sequence>
      <xsd:element id="AppleAppleType" form="qualified" maxOccurs="1" minOccurs="1"
          name="Apple">
        <xsd:complexType id="nameclashAppleType" mixed="false">
          <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="Apple">
              <xsd:complexType id="nameclashAppleType2" mixed="false">
                <xsd:sequence>
                  <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="banana">
                    <xsd:complexType id="nameclashbananaType" mixed="false">
                      <xsd:sequence>
                        <xsd:element form="qualified" maxOccurs="1" minOccurs="1"
                            name="attr1">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element form="qualified" maxOccurs="1" minOccurs="1"
                            name="Attr1">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int"/>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element form="qualified" maxOccurs="1" minOccurs="1"
                            name="Banana">
                          <xsd:complexType id="nameclashBananaType" mixed="false">
                            <xsd:sequence>
                              <xsd:element form="qualified" maxOccurs="1" minOccurs="1"
                                  name="deepNestedBananaName">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string"/>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element form="qualified" maxOccurs="1" minOccurs="1"
                            name="AppleType">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="Granny Smith"/>
                              <xsd:enumeration value="GrannySmith"/>
                              <xsd:enumeration value="GRANNYSMITH"/>
                              <xsd:enumeration value="GRANNY_SMITH"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="nameclashapple" abstract="false" mixed="false" name="apple">
    <xsd:sequence>
      <xsd:element id="appletopLevelAppleAttr" form="qualified" maxOccurs="1" minOccurs="1"
          name="topLevelAppleAttr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="nameclashAppleType23" abstract="false" mixed="false" name="AppleType"/>
  <xsd:complexType id="nameclashBananaType1" abstract="false" mixed="false" name="BananaType1">
    <xsd:sequence>
      <xsd:element id="BananaType1AttrInBananaType1" form="qualified" maxOccurs="1"
          minOccurs="1" name="AttrInBananaType1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="nameclashCherry" abstract="false" mixed="false" name="Cherry"/>
</xsd:schema>