tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/wizard/XSDBOM04_PropertyAttributesTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/schema1" xmlns:tns1="http://www.example.org/schema1"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/schema1">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/p1/Business Objects/XSDBOM04_PropertyAttributesTransformationTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType id="org.example.schema1myprim2" name="myprim">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="org.example.schema1myprimWR2" name="myprimWR">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:maxInclusive fixed="false" value="15"/>
      <xsd:minInclusive fixed="false" value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType id="org.example.schema1Class1" abstract="false" mixed="false" name="Class1">
    <xsd:sequence>
      <xsd:element id="Class1myClass2" block="#all" fixed="false" form="qualified"
          maxOccurs="1" minOccurs="0" name="myClass2" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="Class1elemWithMinInc" form="qualified" maxOccurs="1" minOccurs="1"
          name="elemWithMinInc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="Class1elemWithMinIncSimple" form="qualified" maxOccurs="1"
          minOccurs="1" name="elemWithMinIncSimple">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="Class1elemWithMinIncSimpleOveride" form="qualified" maxOccurs="1"
          minOccurs="1" name="elemWithMinIncSimpleOveride">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="2"/>
            <xsd:maxInclusive value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute id="Class1attr2" default="defval" form="unqualified" name="attr2"
        use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>