tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XPD4323/com.gwl.MyRequestBaseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://gwl.com/MyRequestBaseType.xsd" xmlns:tns3="http://gwl.com/MyRequestBaseType.xsd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gwl.com/MyRequestBaseType.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/Test4323JunitInStudio/Business Objects/com.gwl.MyRequestBaseType.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="RequestBaseType" id="com.gwl.MyRequestBaseTypeRequestBaseType"
      abstract="false" mixed="false" name="RequestBaseType">
    <xsd:annotation>
      <xsd:documentation>Comment describing your root element
			 </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="requestID" id="RequestBaseTypeRequestID" form="qualified"
          maxOccurs="1" minOccurs="1" name="RequestID" type="xsd:string"/>
      <xsd:element ecore:name="scope" id="RequestBaseTypeScope" form="qualified" maxOccurs="1"
          minOccurs="0" name="Scope" type="xsd:string"/>
      <xsd:element ecore:name="service" id="RequestBaseTypeService" form="qualified"
          maxOccurs="1" minOccurs="0" name="Service" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>