tbs-bpm/AcceptanceTests/PreCompiledSamples/ARefB_CloseThis/.precompiled/bom2Xsd/com.example.arefb_closethis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/arefb_closethis" xmlns:tns1="http://example.com/arefb_closethis"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/arefb_closethis">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/ARefB_CloseThis/Business Objects/ARefB_CloseThis.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Class1" id="_cZA9wBvkEeWdKfk0Ooxh3A" name="Class1">
    <xsd:sequence>
      <xsd:element ecore:name="attribute1" id="_co7pEBvkEeWdKfk0Ooxh3A" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Class1Element" type="Class1"/>
</xsd:schema>