tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM48_BOMGenFor_wp_wsdl/gold/builder/com.tibco.n2.wp.api.base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://base.api.wp.n2.tibco.com" xmlns:tns5="http://base.api.wp.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns10="http://datafeed.common.n2.tibco.com"
    xmlns:tns11="http://channeltype.common.n2.tibco.com" xmlns:tns9="http://service.archive.wp.n2.tibco.com"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://base.api.wp.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.wp.api.base.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://channeltype.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.channeltype.xsd"/>
  <xsd:import namespace="http://datafeed.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.datafeed.xsd"/>
  <xsd:import namespace="http://service.archive.wp.n2.tibco.com" schemaLocation="com.tibco.n2.wp.archive.service.xsd"/>
  <xsd:simpleType ecore:name="ArtifactType" id="com.tibco.n2.wp.api.baseArtifactType"
      name="ArtifactType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining available artifact types. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="FORM" value="FORM"/>
      <xsd:enumeration ecore:name="PAGEFLOW" value="PAGEFLOW"/>
      <xsd:enumeration ecore:name="EXT" value="EXT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ActionType" id="com.tibco.n2.wp.api.baseActionType"
      name="ActionType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining available Rest activites. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="OPENNEXT" value="OPEN_NEXT"/>
      <xsd:enumeration ecore:name="INITIATE" value="INITIATE"/>
      <xsd:enumeration ecore:name="OPEN" value="OPEN"/>
      <xsd:enumeration ecore:name="COMPLETE" value="COMPLETE"/>
      <xsd:enumeration ecore:name="CANCEL" value="CANCEL"/>
      <xsd:enumeration ecore:name="CLOSE" value="CLOSE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="WorkType" id="com.tibco.n2.wp.api.baseWorkType" abstract="false"
      mixed="false" name="WorkType">
    <xsd:annotation>
      <xsd:documentation>Work type details. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="uid" id="WorkTypeuid" form="unqualified" name="uid"
        type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique ID of the work type. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="version" id="WorkTypeversion" form="unqualified" name="version"
        type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Version number of the work type. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="WorkItem" id="com.tibco.n2.wp.api.baseWorkItem" abstract="false"
      mixed="false" name="WorkItem">
    <xsd:annotation>
      <xsd:documentation>Work item details. </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute ecore:name="id" id="WorkItemid2" form="unqualified" name="id"
            type="tns5:long_StudioGeneratedTemplate" use="required">
          <xsd:annotation>
            <xsd:documentation>Unique ID of the work item. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="version" id="WorkItemversion" default="-1" form="unqualified"
            name="version" type="tns5:long_StudioGeneratedTemplate" use="optional">
          <xsd:annotation>
            <xsd:documentation>Version number of the work item. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="PresentationChannel" id="com.tibco.n2.wp.api.basePresentationChannel"
      abstract="false" mixed="false" name="PresentationChannel">
    <xsd:annotation>
      <xsd:documentation>Presentation channel artifact details. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:sequence maxOccurs="unbounded" minOccurs="0">
        <xsd:element ecore:name="workTypeArtifact" id="PresentationChannelWorkTypeArtifact"
            form="unqualified" maxOccurs="1" minOccurs="1" name="WorkTypeArtifact"
            type="WorkTypeArtifact"/>
      </xsd:sequence>
      <xsd:sequence maxOccurs="unbounded" minOccurs="0">
        <xsd:element ecore:name="businessServiceArtifact" id="PresentationChannelBusinessServiceArtifact"
            form="unqualified" maxOccurs="1" minOccurs="1" name="BusinessServiceArtifact"
            type="tns9:businessServiceType"/>
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute ecore:name="version" id="PresentationChannelversion" form="unqualified"
        name="version" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional version </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="PresentationChannelname" form="unqualified"
        name="name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional name </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="channelId" id="PresentationChannelchannelId" form="unqualified"
        name="channelId" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The Channel ID </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="description" id="PresentationChanneldescription" form="unqualified"
        name="description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>The optional description </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="presentationChannelType" id="PresentationChannelpresentationChannelType"
        form="unqualified" name="presentationChannelType" type="tns11:PresentationType"
        use="required">
      <xsd:annotation>
        <xsd:documentation>The presentation channel type information </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="channelType" id="PresentationChannelchannelType" form="unqualified"
        name="channelType" type="tns11:ChannelType" use="optional">
      <xsd:annotation>
        <xsd:documentation>The channel type </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="implementationType" id="PresentationChannelimplementationType"
        form="unqualified" name="implementationType" type="tns11:ImplementationType"
        use="optional">
      <xsd:annotation>
        <xsd:documentation>The implmentation type </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="createdOn" id="PresentationChannelcreatedOn" form="unqualified"
        name="createdOn" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional created on information </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="modifiedOn" id="PresentationChannelmodifiedOn" form="unqualified"
        name="modifiedOn" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional modified on information </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="defaultChannel" id="PresentationChanneldefaultChannel"
        default="false" form="unqualified" name="defaultChannel" type="xsd:boolean"
        use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates if this is a default channel </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="WorkTypeArtifact" id="com.tibco.n2.wp.api.baseWorkTypeArtifact"
      abstract="false" mixed="false" name="WorkTypeArtifact">
    <xsd:annotation>
      <xsd:documentation>Work type artifact details. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns5:BaseArtifact">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element ecore:name="form" id="WorkTypeArtifactform" form="unqualified"
                maxOccurs="1" minOccurs="1" name="form" type="tns9:formType"/>
            <xsd:element ecore:name="pageFlow" id="WorkTypeArtifactpageFlow" form="unqualified"
                maxOccurs="1" minOccurs="1" name="pageFlow" type="tns9:pageFlowType"/>
            <xsd:element ecore:name="extension" id="WorkTypeArtifactextension" form="unqualified"
                maxOccurs="1" minOccurs="1" name="extension" type="tns9:channelExtentionType"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseArtifact" id="com.tibco.n2.wp.api.baseBaseArtifact"
      abstract="false" mixed="false" name="BaseArtifact">
    <xsd:annotation>
      <xsd:documentation>Base artifact details. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="workTypeUid" id="BaseArtifactworkTypeUid" form="unqualified"
        name="workTypeUid" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The work type uid </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="artifactName" id="BaseArtifactartifactName" form="unqualified"
        name="artifactName" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The specfic artifact name </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="version" id="BaseArtifactversion" form="unqualified"
        name="version" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional version </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="createdOn" id="BaseArtifactcreatedOn" form="unqualified"
        name="createdOn" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional created on </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="modifiedOn" id="BaseArtifactmodifiedOn" form="unqualified"
        name="modifiedOn" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional modified on </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="artifactType" id="BaseArtifactartifactType" form="unqualified"
        name="artifactType" type="ArtifactType" use="required">
      <xsd:annotation>
        <xsd:documentation>Artifact type information </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseRequest" id="com.tibco.n2.wp.api.baseBaseRequest"
      abstract="false" mixed="false" name="BaseRequest">
    <xsd:annotation>
      <xsd:documentation>Base request to retrieve details of a work item. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="resourceId" id="BaseRequestresourceId" form="unqualified"
          maxOccurs="1" minOccurs="1" name="resourceId" type="xsd:string"/>
      <xsd:element ecore:name="channelId" id="BaseRequestchannelId" form="unqualified"
          maxOccurs="1" minOccurs="1" name="channelId" type="xsd:string"/>
      <xsd:element ecore:name="channelType" id="BaseRequestchannelType" form="unqualified"
          maxOccurs="1" minOccurs="1" name="channelType" type="tns11:ChannelType"/>
      <xsd:element ecore:name="responsePayloadMode" id="BaseRequestresponsePayloadMode"
          default="JSON" form="unqualified" maxOccurs="1" minOccurs="0" name="responsePayloadMode"
          type="tns10:payloadModeType"/>
      <xsd:element ecore:name="workListViewId" id="BaseRequestworkListViewId" form="unqualified"
          maxOccurs="1" minOccurs="0" name="workListViewId" type="tns5:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="getGlobalValues" id="BaseRequestgetGlobalValues" form="unqualified"
          maxOccurs="1" minOccurs="0" name="getGlobalValues" type="xsd:boolean"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="action" id="BaseRequestaction" form="unqualified" name="action"
        type="ActionType" use="optional">
      <xsd:annotation>
        <xsd:documentation>** PRIVATE API - Reserved for internal use**

Defines the action for this request. (This is only required when calling WP Extender Servlet Chaning mechanism.) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseWorkRequest" id="com.tibco.n2.wp.api.baseBaseWorkRequest"
      abstract="false" mixed="false" name="BaseWorkRequest">
    <xsd:annotation>
      <xsd:documentation>Base work request to retrieve details of a work item. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns5:BaseRequest">
        <xsd:sequence>
          <xsd:element ecore:name="workItem" id="BaseWorkRequestworkItem" form="unqualified"
              maxOccurs="1" minOccurs="1" name="workItem" type="WorkItem"/>
          <xsd:element ecore:name="workTypeDetail" id="BaseWorkRequestworkTypeDetailType"
              form="unqualified" maxOccurs="1" minOccurs="1" name="workTypeDetail">
            <xsd:complexType ecore:name="workTypeDetailType" id="com.tibco.n2.wp.api.baseworkTypeDetailType"
                mixed="false">
              <xsd:complexContent mixed="false">
                <xsd:extension base="tns5:WorkType">
                  <xsd:attribute ecore:name="openNextPiled" id="workTypeDetailTypeopenNextPiled"
                      default="true" form="unqualified" name="openNextPiled" type="xsd:boolean"
                      use="optional">
                    <xsd:annotation>
                      <xsd:documentation>Boolean value specifying whether (if the current work item is piled) the next piled work item should be opened.

This parameter is not applicable to openWorkItem, cancelWorkItem or closeWorkItem operations. It is currently only applicable to completeWorkItem. </xsd:documentation>
                    </xsd:annotation>
                  </xsd:attribute>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="WorkRequest" id="com.tibco.n2.wp.api.baseWorkRequest"
      abstract="false" mixed="false" name="WorkRequest">
    <xsd:annotation>
      <xsd:documentation>Base work request to retrieve details of a work item, supplying payload information. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns5:BaseWorkRequest">
        <xsd:sequence>
          <xsd:element ecore:name="payloadDetails" id="WorkRequestpayloadDetails"
              form="unqualified" maxOccurs="1" minOccurs="1" name="payloadDetails"
              type="tns10:dataPayload"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="Status" id="com.tibco.n2.wp.api.baseStatus" abstract="false"
      mixed="false" name="Status">
    <xsd:annotation>
      <xsd:documentation>Status information from a server call </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="message" id="Statusmessage" form="unqualified" maxOccurs="1"
          minOccurs="1" name="message" type="xsd:string"/>
      <xsd:element ecore:name="exceptionTrace" id="StatusexceptionTrace" form="unqualified"
          maxOccurs="1" minOccurs="1" name="exceptionTrace" type="xsd:string"/>
      <xsd:element ecore:name="successful" id="Statussuccessful" form="unqualified"
          maxOccurs="1" minOccurs="1" name="successful" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Properties" id="com.tibco.n2.wp.api.baseProperties"
      abstract="false" mixed="false" name="Properties">
    <xsd:annotation>
      <xsd:documentation>Properties for an item. Contains zero or more properties			 </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="property" id="PropertiespropertyType" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="property">
        <xsd:complexType ecore:name="propertyType" id="com.tibco.n2.wp.api.basepropertyType"
            mixed="false">
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute ecore:name="key" id="propertyTypekey" form="unqualified"
                  name="key" type="xsd:string" use="required"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ChannelTypeDetail" id="com.tibco.n2.wp.api.baseChannelTypeDetail"
      abstract="false" mixed="false" name="ChannelTypeDetail">
    <xsd:annotation>
      <xsd:documentation>Channel type details </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="description" id="ChannelTypeDetaildescription" form="unqualified"
        name="description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional description </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="ChannelTypeDetailname" form="unqualified"
        name="name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional Name </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="channelType" id="ChannelTypeDetailchannelType" form="unqualified"
        name="channelType" type="tns11:ChannelType" use="required">
      <xsd:annotation>
        <xsd:documentation>The channel Type information </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="PresentationChannelRequest" id="com.tibco.n2.wp.api.basePresentationChannelRequest"
      abstract="false" mixed="false" name="PresentationChannelRequest">
    <xsd:annotation>
      <xsd:documentation>Channel identifier. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="channelId" id="PresentationChannelRequestchannelId"
        form="unqualified" name="channelId" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Channel ID for which the response should include information.

NOTE: The response only contains information for the default channel unless both channelId and channelType are specified.
 </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="channelType" id="PresentationChannelRequestchannelType"
        form="unqualified" name="channelType" type="tns11:ChannelType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Channel type of the specified channelId.

NOTE: The response only contains information for the default channel unless both channelId and channelType are specified.
 </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="ChannelTypeRequest" id="com.tibco.n2.wp.api.baseChannelTypeRequest"
      abstract="false" mixed="false" name="ChannelTypeRequest">
    <xsd:annotation>
      <xsd:documentation>Channel type to be used in requests. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="channelImplementationType" id="ChannelTypeRequestchannelImplementationType"
        form="unqualified" name="channelImplementationType" type="tns11:ImplementationType"
        use="optional">
      <xsd:annotation>
        <xsd:documentation>The requested channel implementation type, if not specfied all are returned </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="PresentationArtifactRequest" id="com.tibco.n2.wp.api.basePresentationArtifactRequest"
      abstract="false" mixed="false" name="PresentationArtifactRequest">
    <xsd:annotation>
      <xsd:documentation>Presentation artifact to be used in requests. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="workTypeUid" id="PresentationArtifactRequestworkTypeUid"
        form="unqualified" name="workTypeUid" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The requested worktype UID </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="version" id="PresentationArtifactRequestversion" form="unqualified"
        name="version" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional version, if no version is supplied all version information is returned </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="Success" id="com.tibco.n2.wp.api.baseSuccess" abstract="false"
      mixed="false" name="Success">
    <xsd:annotation>
      <xsd:documentation>Indicates whether the call to WorkPresentationService was successful.  </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="isSuccessful" id="SuccessisSuccessful" form="unqualified"
        name="isSuccessful" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Boolean value indicating whether the call to WorkPresentationService was successful.  </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="PresentationArtifact" id="com.tibco.n2.wp.api.basePresentationArtifact"
      abstract="false" mixed="false" name="PresentationArtifact">
    <xsd:annotation>
      <xsd:documentation>If the work item displays:

- a form: presentation contains details of the form artifact associated with this work item.

- a pageflow: presentation is not used. (In this case, the form artifact details for the pageflow are contained in thePageFlowDetail element.) </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="type" id="PresentationArtifacttype" form="unqualified"
        name="type" use="required">
      <xsd:simpleType ecore:name="typeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration ecore:name="GWTFORM" value="GWT_FORM"/>
          <xsd:enumeration ecore:name="GIFORM" value="GI_FORM"/>
          <xsd:enumeration ecore:name="PAGEFLOW" value="PAGEFLOW"/>
          <xsd:enumeration ecore:name="CUSTOMFORM" value="CUSTOM_FORM"/>
          <xsd:enumeration ecore:name="FORM" value="FORM"/>
          <xsd:enumeration ecore:name="_" value=""/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:name="formIdenitifier" id="PresentationArtifactformIdenitifier"
        form="unqualified" name="formIdenitifier" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Identifier for the JSON form artifact to be used to display the data for the work item.
										 </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="activityName" id="PresentationArtifactactivityName"
        form="unqualified" name="activityName" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name of the process activity from which the work item was generated.
										 </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="version" id="PresentationArtifactversion" form="unqualified"
        name="version" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Version number of the form artifact. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>