tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM48_BOMGenFor_wp_wsdl/gold/builder/com.tibco.n2.bs.api.base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://base.api.bs.n2.tibco.com" xmlns:tns7="http://base.api.bs.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns10="http://datafeed.common.n2.tibco.com"
    xmlns:tns11="http://channeltype.common.n2.tibco.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://base.api.bs.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.bs.api.base.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://channeltype.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.channeltype.xsd"/>
  <xsd:import namespace="http://datafeed.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.datafeed.xsd"/>
  <xsd:simpleType ecore:name="Privilege" id="com.tibco.n2.bs.api.basePrivilege2" name="Privilege">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ProcessState" id="com.tibco.n2.bs.api.baseProcessState"
      name="ProcessState">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="NOTSTARTED" value="NOT_STARTED"/>
      <xsd:enumeration ecore:name="STARTED" value="STARTED"/>
      <xsd:enumeration ecore:name="INPROGRESS" value="IN_PROGRESS"/>
      <xsd:enumeration ecore:name="COMPLETED" value="COMPLETED"/>
      <xsd:enumeration ecore:name="UNKNOWN" value="UNKNOWN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="BusinessServiceAction" id="com.tibco.n2.bs.api.baseBusinessServiceAction"
      name="BusinessServiceAction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="STARTSERVICE" value="START_SERVICE"/>
      <xsd:enumeration ecore:name="UPDATESERVICE" value="UPDATE_SERVICE"/>
      <xsd:enumeration ecore:name="CANCELSERVICE" value="CANCEL_SERVICE"/>
      <xsd:enumeration ecore:name="QUERYSERVICES" value="QUERY_SERVICES"/>
      <xsd:enumeration ecore:name="LISTCATEGORIES" value="LIST_CATEGORIES"/>
      <xsd:enumeration ecore:name="LISTSERVICES" value="LIST_SERVICES"/>
      <xsd:enumeration ecore:name="QUERYCATEGORIES" value="QUERY_CATEGORIES"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="BaseWrapperRequest" id="com.tibco.n2.bs.api.baseBaseWrapperRequest"
      abstract="false" mixed="false" name="BaseWrapperRequest">
    <xsd:attribute ecore:name="action" id="BaseWrapperRequestaction" form="unqualified"
        name="action" type="BusinessServiceAction" use="optional">
      <xsd:annotation>
        <xsd:documentation>Defines the action required for this request </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="Category" id="com.tibco.n2.bs.api.baseCategory" abstract="false"
      mixed="false" name="Category">
    <xsd:sequence maxOccurs="unbounded" minOccurs="0">
      <xsd:element ecore:name="childCategory" id="CategoryChildCategory" form="qualified"
          maxOccurs="1" minOccurs="1" name="ChildCategory" type="Category"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="name" id="Categoryname" form="unqualified" name="name"
        type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="BusinessCategory" id="com.tibco.n2.bs.api.baseBusinessCategory"
      abstract="false" mixed="false" name="BusinessCategory">
    <xsd:sequence>
      <xsd:element ecore:name="businessServiceTemplate" id="BusinessCategoryBusinessServiceTemplate"
          form="qualified" maxOccurs="unbounded" minOccurs="1" name="BusinessServiceTemplate"
          type="BusinessServiceTemplate"/>
      <xsd:element ecore:name="childBusinessCategory" id="BusinessCategoryChildBusinessCategory"
          form="qualified" maxOccurs="unbounded" minOccurs="0" name="ChildBusinessCategory"
          type="BusinessCategory"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="name" id="BusinessCategoryname" form="unqualified"
        name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The category name </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="BusinessServiceTemplate" id="com.tibco.n2.bs.api.baseBusinessServiceTemplate"
      abstract="false" mixed="false" name="BusinessServiceTemplate">
    <xsd:attribute ecore:name="moduleName" id="BusinessServiceTemplatemoduleName"
        form="unqualified" name="moduleName" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="processName" id="BusinessServiceTemplateprocessName"
        form="unqualified" name="processName" type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="version" id="BusinessServiceTemplateversion" form="unqualified"
        name="version" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="Channel" id="com.tibco.n2.bs.api.baseChannel" abstract="false"
      mixed="false" name="Channel">
    <xsd:attribute ecore:name="channelId" id="ChannelchannelId" form="unqualified"
        name="channelId" type="xsd:string" use="optional"/>
    <xsd:attribute ecore:name="channelType" id="ChannelchannelType" form="unqualified"
        name="channelType" type="tns11:ChannelType" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="BusinessResponse" id="com.tibco.n2.bs.api.baseBusinessResponse"
      abstract="false" mixed="false" name="BusinessResponse">
    <xsd:sequence>
      <xsd:element ecore:name="pageActivityResponse" id="BusinessResponsepageActivityResponseType"
          form="qualified" maxOccurs="unbounded" minOccurs="1" name="pageActivityResponse">
        <xsd:complexType ecore:name="pageActivityResponseType" id="com.tibco.n2.bs.api.basepageActivityResponseType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="payloadModel" form="qualified" maxOccurs="1"
                minOccurs="0" name="payloadModel" type="tns10:dataPayload"/>
            <xsd:element ecore:name="presentationType" form="qualified" maxOccurs="1"
                minOccurs="0" name="PresentationType" type="xsd:string"/>
            <xsd:element ecore:name="presentationUrl" form="qualified" maxOccurs="1"
                minOccurs="0" name="PresentationUrl" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute ecore:name="activityId" id="BusinessResponseactivityId" form="unqualified"
        name="activityId" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>ID of the page activity </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="processState" id="BusinessResponseprocessState" form="unqualified"
        name="processState" type="ProcessState" use="required">
      <xsd:annotation>
        <xsd:documentation>Indicates the current state of the Business Service </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="processId" id="BusinessResponseprocessId" form="unqualified"
        name="processId" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Process Id of the Business Service instance </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListCategoriesRequest" id="com.tibco.n2.bs.api.baseListCategoriesRequest"
      abstract="false" mixed="false" name="ListCategoriesRequest">
    <xsd:attribute ecore:name="channelId" id="ListCategoriesRequestchannelId" form="unqualified"
        name="channelId" type="xsd:string" use="optional"/>
    <xsd:attribute ecore:name="privilege" id="ListCategoriesRequestprivilege" form="unqualified"
        name="privilege" type="Privilege" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryCategoriesRequest" id="com.tibco.n2.bs.api.baseQueryCategoriesRequest"
      abstract="false" mixed="false" name="QueryCategoriesRequest">
    <xsd:attribute ecore:name="channelId" id="QueryCategoriesRequestchannelId" form="unqualified"
        name="channelId" type="xsd:string" use="optional"/>
    <xsd:attribute ecore:name="privilege" id="QueryCategoriesRequestprivilege" form="unqualified"
        name="privilege" type="Privilege" use="optional"/>
    <xsd:attribute ecore:name="category" id="QueryCategoriesRequestcategory" form="unqualified"
        name="category" type="xsd:string" use="optional"/>
    <xsd:attribute ecore:name="includeFormalParameters" id="QueryCategoriesRequestincludeFormalParameters"
        form="unqualified" name="includeFormalParameters" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryBusinessServicesRequest" id="com.tibco.n2.bs.api.baseQueryBusinessServicesRequest"
      abstract="false" mixed="false" name="QueryBusinessServicesRequest">
    <xsd:attribute ecore:name="category" id="QueryBusinessServicesRequestcategory"
        form="unqualified" name="category" type="xsd:string" use="optional"/>
    <xsd:attribute ecore:name="channelId" id="QueryBusinessServicesRequestchannelId"
        form="unqualified" name="channelId" type="xsd:string" use="optional"/>
    <xsd:attribute ecore:name="privilege" id="QueryBusinessServicesRequestprivilege"
        form="unqualified" name="privilege" type="Privilege" use="optional"/>
    <xsd:attribute ecore:name="includeFormalParameters" id="QueryBusinessServicesRequestincludeFormalParameters"
        form="unqualified" name="includeFormalParameters" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="UpdateBusinessServiceRequest" id="com.tibco.n2.bs.api.baseUpdateBusinessServiceRequest"
      abstract="false" mixed="false" name="UpdateBusinessServiceRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns7:Channel">
        <xsd:sequence>
          <xsd:element ecore:name="payloadModel" id="UpdateBusinessServiceRequestpayloadModel"
              form="qualified" maxOccurs="1" minOccurs="1" name="payloadModel" type="tns10:dataPayload"/>
          <xsd:element ecore:name="businessServiceTemplate" id="UpdateBusinessServiceRequestBusinessServiceTemplate"
              form="qualified" maxOccurs="1" minOccurs="1" name="BusinessServiceTemplate"
              type="BusinessServiceTemplate"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="activityId" id="UpdateBusinessServiceRequestactivityId"
            form="unqualified" name="activityId" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>ID of the page activity </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="privilege" id="UpdateBusinessServiceRequestprivilege"
            form="unqualified" name="privilege" type="Privilege" use="optional"/>
        <xsd:attribute ecore:name="processId" id="UpdateBusinessServiceRequestprocessId"
            form="unqualified" name="processId" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>The Process Id of the Business Service instance to to updated. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="StartBusinessServiceRequest" id="com.tibco.n2.bs.api.baseStartBusinessServiceRequest"
      abstract="false" mixed="false" name="StartBusinessServiceRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns7:Channel">
        <xsd:sequence>
          <xsd:element ecore:name="payloadMode" id="StartBusinessServiceRequestpayloadMode"
              form="qualified" maxOccurs="1" minOccurs="1" name="payloadMode" type="tns10:payloadModeType"/>
          <xsd:element ecore:name="businessServiceTemplate" id="StartBusinessServiceRequestBusinessServiceTemplate"
              form="qualified" maxOccurs="1" minOccurs="1" name="BusinessServiceTemplate"
              type="BusinessServiceTemplate"/>
          <xsd:element ecore:name="formalParams" id="StartBusinessServiceRequestformalParams"
              form="qualified" maxOccurs="1" minOccurs="0" name="formalParams" type="tns10:dataPayload"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="privilege" id="StartBusinessServiceRequestprivilege"
            form="unqualified" name="privilege" type="Privilege" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListBusinessServicesRequest" id="com.tibco.n2.bs.api.baseListBusinessServicesRequest"
      abstract="false" mixed="false" name="ListBusinessServicesRequest">
    <xsd:attribute ecore:name="channelId" id="ListBusinessServicesRequestchannelId"
        form="unqualified" name="channelId" type="xsd:string" use="optional"/>
    <xsd:attribute ecore:name="privilege" id="ListBusinessServicesRequestprivilege"
        form="unqualified" name="privilege" type="Privilege" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="CancelBusinessServiceRequest" id="com.tibco.n2.bs.api.baseCancelBusinessServiceRequest"
      abstract="false" mixed="false" name="CancelBusinessServiceRequest">
    <xsd:sequence>
      <xsd:element ecore:name="businessServiceTemplate" id="CancelBusinessServiceRequestBusinessServiceTemplate"
          form="qualified" maxOccurs="1" minOccurs="1" name="BusinessServiceTemplate"
          type="BusinessServiceTemplate"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="privilege" id="CancelBusinessServiceRequestprivilege"
        form="unqualified" name="privilege" type="Privilege" use="optional"/>
    <xsd:attribute ecore:name="processId" id="CancelBusinessServiceRequestprocessId"
        form="unqualified" name="processId" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListCategoriesResponse" id="com.tibco.n2.bs.api.baseListCategoriesResponse"
      abstract="false" mixed="false" name="ListCategoriesResponse">
    <xsd:sequence>
      <xsd:element ecore:name="category" id="ListCategoriesResponseCategory" form="qualified"
          maxOccurs="unbounded" minOccurs="0" name="Category" type="Category"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryBusinessServicesResponse" id="com.tibco.n2.bs.api.baseQueryBusinessServicesResponse"
      abstract="false" mixed="false" name="QueryBusinessServicesResponse">
    <xsd:sequence>
      <xsd:element ecore:name="businessServiceTemplate" id="QueryBusinessServicesResponseBusinessServiceTemplate"
          form="qualified" maxOccurs="unbounded" minOccurs="0" name="BusinessServiceTemplate"
          type="BusinessServiceTemplate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="StartBusinessServiceResponse" id="com.tibco.n2.bs.api.baseStartBusinessServiceResponse"
      abstract="false" mixed="false" name="StartBusinessServiceResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns7:BusinessResponse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="UpdateBusinessServiceResponse" id="com.tibco.n2.bs.api.baseUpdateBusinessServiceResponse"
      abstract="false" mixed="false" name="UpdateBusinessServiceResponse">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns7:BusinessResponse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListBusinessServicesResponse" id="com.tibco.n2.bs.api.baseListBusinessServicesResponse"
      abstract="false" mixed="false" name="ListBusinessServicesResponse">
    <xsd:sequence>
      <xsd:element ecore:name="businessCategory" id="ListBusinessServicesResponseBusinessCategory"
          form="qualified" maxOccurs="unbounded" minOccurs="0" name="BusinessCategory"
          type="BusinessCategory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="QueryCategoriesResponse" id="com.tibco.n2.bs.api.baseQueryCategoriesResponse"
      abstract="false" mixed="false" name="QueryCategoriesResponse">
    <xsd:sequence>
      <xsd:element ecore:name="businessCategory" id="QueryCategoriesResponseBusinessCategory"
          form="qualified" maxOccurs="unbounded" minOccurs="0" name="BusinessCategory"
          type="BusinessCategory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CancelBusinessServiceResponse" id="com.tibco.n2.bs.api.baseCancelBusinessServiceResponse"
      abstract="false" mixed="false" name="CancelBusinessServiceResponse">
    <xsd:attribute ecore:name="success" id="CancelBusinessServiceResponsesuccess"
        form="unqualified" name="success" type="xsd:boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="BusinessServicesRequest" id="com.tibco.n2.bs.api.baseBusinessServicesRequest"
      abstract="false" mixed="false" name="BusinessServicesRequest">
    <xsd:annotation>
      <xsd:documentation>Used by any component that uses Servlet Chaining to call the Business Services API </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns7:BaseWrapperRequest">
        <xsd:choice>
          <xsd:element ecore:name="listCategoriesRequest" id="BusinessServicesRequestListCategoriesRequest"
              form="qualified" maxOccurs="1" minOccurs="1" name="ListCategoriesRequest"
              type="ListCategoriesRequest"/>
          <xsd:element ecore:name="listBusinessServicesRequest" id="BusinessServicesRequestListBusinessServicesRequest"
              form="qualified" maxOccurs="1" minOccurs="1" name="ListBusinessServicesRequest"
              type="ListBusinessServicesRequest"/>
          <xsd:element ecore:name="startBusinessServiceRequest" id="BusinessServicesRequestStartBusinessServiceRequest"
              form="qualified" maxOccurs="1" minOccurs="1" name="StartBusinessServiceRequest"
              type="StartBusinessServiceRequest"/>
          <xsd:element ecore:name="updateBusinessServiceRequest" id="BusinessServicesRequestUpdateBusinessServiceRequest"
              form="qualified" maxOccurs="1" minOccurs="1" name="UpdateBusinessServiceRequest"
              type="UpdateBusinessServiceRequest"/>
          <xsd:element ecore:name="cancelBusinessServiceRequest" id="BusinessServicesRequestCancelBusinessServiceRequestType"
              form="qualified" maxOccurs="1" minOccurs="1" name="CancelBusinessServiceRequest">
            <xsd:complexType ecore:name="CancelBusinessServiceRequestType" id="com.tibco.n2.bs.api.baseCancelBusinessServiceRequestType"
                mixed="false">
              <xsd:complexContent mixed="false">
                <xsd:extension base="tns7:CancelBusinessServiceRequest"/>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ecore:name="queryBusinessServicesRequest" id="BusinessServicesRequestQueryBusinessServicesRequest"
              form="qualified" maxOccurs="1" minOccurs="1" name="QueryBusinessServicesRequest"
              type="QueryBusinessServicesRequest"/>
          <xsd:element ecore:name="queryCategoriesRequest" id="BusinessServicesRequestQueryCategoriesRequest"
              form="qualified" maxOccurs="1" minOccurs="1" name="QueryCategoriesRequest"
              type="QueryCategoriesRequest"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BusinessServicesResponse" id="com.tibco.n2.bs.api.baseBusinessServicesResponse"
      abstract="false" mixed="false" name="BusinessServicesResponse">
    <xsd:choice>
      <xsd:element ecore:name="listCategoriesResponse" id="BusinessServicesResponseListCategoriesResponse"
          form="qualified" maxOccurs="1" minOccurs="1" name="ListCategoriesResponse"
          type="ListCategoriesResponse"/>
      <xsd:element ecore:name="queryBusinessServicesResponse" id="BusinessServicesResponseQueryBusinessServicesResponse"
          form="qualified" maxOccurs="1" minOccurs="1" name="QueryBusinessServicesResponse"
          type="QueryBusinessServicesResponse"/>
      <xsd:element ecore:name="startBusinessServiceResponse" id="BusinessServicesResponseStartBusinessServiceResponse"
          form="qualified" maxOccurs="1" minOccurs="1" name="StartBusinessServiceResponse"
          type="StartBusinessServiceResponse"/>
      <xsd:element ecore:name="updateBusinessServiceResponse" id="BusinessServicesResponseUpdateBusinessServiceResponse"
          form="qualified" maxOccurs="1" minOccurs="1" name="UpdateBusinessServiceResponse"
          type="UpdateBusinessServiceResponse"/>
      <xsd:element ecore:name="cancelBusinessServiceResponse" id="BusinessServicesResponseCancelBusinessServiceResponse"
          form="qualified" maxOccurs="1" minOccurs="1" name="CancelBusinessServiceResponse"
          type="CancelBusinessServiceResponse"/>
      <xsd:element ecore:name="listBusinessServicesResponse" id="BusinessServicesResponseListBusinessServicesResponse"
          form="qualified" maxOccurs="1" minOccurs="1" name="ListBusinessServicesResponse"
          type="ListBusinessServicesResponse"/>
      <xsd:element ecore:name="queryCategoriesResponse" id="BusinessServicesResponseQueryCategoriesResponse"
          form="qualified" maxOccurs="1" minOccurs="1" name="QueryCategoriesResponse"
          type="QueryCategoriesResponse"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType ecore:name="PageFlowTemplate" id="com.tibco.n2.bs.api.basePageFlowTemplate"
      abstract="false" mixed="false" name="PageFlowTemplate">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns7:BusinessServiceTemplate"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>