tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.wsdlgen.test/resources/BPMNestedBOM/Service Descriptors/NestedBOMsGOLD3.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns1="http://example.com/bomwithinternalpackages/interalpkg1" xmlns:tns10="http://example.com/testoriginalbom" xmlns:tns2="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" xmlns:tns3="http://example.com/bomwithinternalpackages/internalpkg2" xmlns:tns4="http://example.com/bomwithinternalpackages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NestedBOMs" targetNamespace="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" tibex:XPDL="NestedBOMs.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw" targetNamespace="http://www.tibco.com/bs3.0/_CNdp0BY_Ed-n1oNotSI1sw"/>
    <xsd:schema xmlns="http://example.com/testoriginalbom" xmlns:tns1="http://example.com/testoriginalbom" targetNamespace="http://example.com/testoriginalbom">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/TestOriginalBOM.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="TypesTest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="typesContainer" type="TypesContainer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TypesContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="textField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element default="false" maxOccurs="1" minOccurs="0" name="booleanField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:date"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateTimeField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateTimeZoneField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="durationField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:duration"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="timeField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:time"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="uriField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="decimalField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="2"/>
                <xsd:pattern value="[+-]?([1-9][0-9]{0,7}|0)(\.[0-9]{0,2})?"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="floatType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:double"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="integerField">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="bigInteger">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer">
                <xsd:totalDigits value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TypesTest" type="TypesTest"/>
      <xsd:element name="TypesContainer" type="TypesContainer"/>
    </xsd:schema>
        <xsd:schema xmlns="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal" targetNamespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="InternalInternal1"/>
      <xsd:element name="InternalInternal1" type="InternalInternal1"/>
    </xsd:schema>
        <xsd:schema xmlns="http://example.com/bomwithinternalpackages/internalpkg2" targetNamespace="http://example.com/bomwithinternalpackages/internalpkg2">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal"/>
      <xsd:import namespace="http://example.com/bomwithinternalpackages"/>
      <xsd:complexType name="Internal2C1">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="nonInternal" type="tns4:NonInternal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InternalClassAdded"/>
      <xsd:element name="Internal2C1" type="Internal2C1"/>
      <xsd:element name="InternalClassAdded" type="InternalClassAdded"/>
    </xsd:schema>
        <xsd:schema xmlns="http://example.com/bomwithinternalpackages" targetNamespace="http://example.com/bomwithinternalpackages">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/interalpkg1"/>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2"/>
      <xsd:complexType name="NonInternal"/>
      <xsd:complexType name="NewClassAdded"/>
      <xsd:element name="NonInternal" type="NonInternal"/>
      <xsd:element name="NewClassAdded" type="NewClassAdded"/>
    </xsd:schema>
        <xsd:schema xmlns="http://example.com/bomwithinternalpackages/interalpkg1" targetNamespace="http://example.com/bomwithinternalpackages/interalpkg1">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/BPMNestedBOM/Business Objects/BOMWithInternalPackages.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/bomwithinternalpackages/internalpkg2/internalinternal"/>
      <xsd:complexType name="Internal1">
        <xsd:complexContent>
          <xsd:extension base="tns2:InternalInternal1"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Internal2"/>
      <xsd:element name="Internal1" type="Internal1"/>
      <xsd:element name="Internal2" type="Internal2"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="NestedBOMsProcess_ReceiveTask_INPUT">
        <wsdl:part name="NestedBOMParam1Inout" type="tns1:Internal1"/>
        <wsdl:part name="NestedBOMparamInMandatory" type="tns3:Internal2C1"/>
    </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_ReceiveTask_OUTPUT">
        <wsdl:part name="NestedBOMParam1Inout" type="tns1:Internal1"/>
        <wsdl:part name="NestedBOMParamOutMandatory" type="tns10:TypesContainer"/>
    </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_StartMessageEvent_INPUT">
        <wsdl:part name="NestedBOMParam1Inout" type="tns1:Internal1"/>
        <wsdl:part name="NestedBOMparamInMandatory" type="tns3:Internal2C1"/>
    </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_StartMessageEvent_OUTPUT">
        <wsdl:part name="NestedBOMParam1Inout" type="tns1:Internal1"/>
        <wsdl:part name="NestedBOMParamOutMandatory" type="tns10:TypesContainer"/>
    </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_CatchIntermediateMessageEvent_INPUT">
        <wsdl:part name="NestedBOMParam1Inout" type="tns1:Internal1"/>
        <wsdl:part name="NestedBOMparamInMandatory" type="tns3:Internal2C1"/>
    </wsdl:message>
  <wsdl:message name="NestedBOMsProcess_CatchIntermediateMessageEvent_OUTPUT">
        <wsdl:part name="NestedBOMParam1Inout" type="tns1:Internal1"/>
        <wsdl:part name="NestedBOMParamOutMandatory" type="tns10:TypesContainer"/>
    </wsdl:message>
  <wsdl:portType name="NestedBOMsProcess" tibex:FlowContainer="_CNdp0RY_Ed-n1oNotSI1sw">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="ReceiveTask">
      <wsdl:input message="ns:NestedBOMsProcess_ReceiveTask_INPUT" tibex:Event="_SAh58BY_Ed-n1oNotSI1sw"/>
      <wsdl:output message="ns:NestedBOMsProcess_ReceiveTask_OUTPUT" tibex:Event="_SAh58BY_Ed-n1oNotSI1sw"/>
    </wsdl:operation>
    <wsdl:operation name="StartMessageEvent">
      <wsdl:input message="ns:NestedBOMsProcess_StartMessageEvent_INPUT" tibex:Event="_PeQKcBY_Ed-n1oNotSI1sw"/>
      <wsdl:output message="ns:NestedBOMsProcess_StartMessageEvent_OUTPUT" tibex:Event="_PeQKcBY_Ed-n1oNotSI1sw"/>
    </wsdl:operation>
    <wsdl:operation name="CatchIntermediateMessageEvent">
      <wsdl:input message="ns:NestedBOMsProcess_CatchIntermediateMessageEvent_INPUT" tibex:Event="_Qj_DcBY_Ed-n1oNotSI1sw"/>
      <wsdl:output message="ns:NestedBOMsProcess_CatchIntermediateMessageEvent_OUTPUT" tibex:Event="_Qj_DcBY_Ed-n1oNotSI1sw"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
