tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/ParticipantRequiredTest/ngIT/Service Descriptors/ngITProcess-SendTaskOneWayRequest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_Boc8cIj3Ed-83M13HG-9BA_SendTaskOneWayRequest__zs8xIJ4OEd-iL_eLoRZsAQ" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns1="http://dtag.com/ngit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ngITPackage" targetNamespace="http://www.tibco.com/bs3.0/_Boc8cIj3Ed-83M13HG-9BA_SendTaskOneWayRequest__zs8xIJ4OEd-iL_eLoRZsAQ" tibex:ServiceTask="_zs8xIJ4OEd-iL_eLoRZsAQ" tibex:XPDL="ngITPackage.xpdl" tibex:process="_Bogm0Ij3Ed-83M13HG-9BA">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_Boc8cIj3Ed-83M13HG-9BA_SendTaskOneWayRequest__zs8xIJ4OEd-iL_eLoRZsAQ" targetNamespace="http://www.tibco.com/bs3.0/_Boc8cIj3Ed-83M13HG-9BA_SendTaskOneWayRequest__zs8xIJ4OEd-iL_eLoRZsAQ">
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns="http://dtag.com/ngit" targetNamespace="http://dtag.com/ngit">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/ngIT/Business Objects/ngITModel.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="Call">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="phoneFrom">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="phoneTo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="start">
            <xsd:simpleType>
              <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="durationInSeconds">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Order">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="info">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="orderdetails" type="OrderDetails"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Partner">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="partID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="phone">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="email">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="street">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="city">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="info">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SMS">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="message">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="number">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrderDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="what">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="quantity">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="price">
            <xsd:simpleType>
              <xsd:restriction base="xsd:double"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Customer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="custID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="stbID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="phone">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="email">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="street">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="city">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="info">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ngITProcess_SendTaskOneWayRequest_INPUT">
    <wsdl:part name="call" type="tns1:Call"/>
    <wsdl:part name="customer" type="tns1:Customer"/>
    <wsdl:part name="order" type="tns1:Order"/>
    <wsdl:part name="partner" type="tns1:Partner"/>
    <wsdl:part name="sms" type="tns1:SMS"/>
    <wsdl:part name="strField" type="ns:string_50"/>
  </wsdl:message>
  <wsdl:message name="ngITProcess_SendTaskOneWayRequest_OUTPUT"/>
  <wsdl:portType name="ngITProcess" tibex:FlowContainer="_Bogm0Ij3Ed-83M13HG-9BA">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="SendTaskOneWayRequest">
      <wsdl:input message="ns:ngITProcess_SendTaskOneWayRequest_INPUT" tibex:Event="_zs8xIJ4OEd-iL_eLoRZsAQ"/>
      <wsdl:output message="ns:ngITProcess_SendTaskOneWayRequest_OUTPUT"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
