tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-choice/gold/builder/XSDBOM_Choice03_EnumChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/EnumChoice" xmlns:tns1="http://example.com/EnumChoice"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/EnumChoice">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Choice03_EnumChoice/Business Objects/com.example.EnumChoice.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Plane" id="com.example.EnumChoicePlane" abstract="false"
      mixed="false" name="Plane">
    <xsd:choice>
      <xsd:element ecore:name="engineType" id="PlaneengineType" form="unqualified"
          maxOccurs="1" minOccurs="1" name="engineType">
        <xsd:simpleType ecore:name="engineTypeType">
          <xsd:restriction base="xsd:string">
            <xsd:enumeration ecore:name="JET" value="Jet"/>
            <xsd:enumeration ecore:name="PROPELLER" value="Propeller"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="engineName" id="PlaneengineName" form="unqualified"
          maxOccurs="1" minOccurs="1" name="engineName" type="xsd:string"/>
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>