tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd-final/gold/builder/XSDBOM_Final02_Multiple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/NewXMLSchema" xmlns:tns1="http://www.example.org/NewXMLSchema"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/NewXMLSchema">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Final02_Multiple/Business Objects/org.example.NewXMLSchema.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="topSimpleRest" id="org.example.NewXMLSchematopSimpleRest2"
      final="restriction restriction" name="topSimpleRest">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="topSimpleUnion" id="org.example.NewXMLSchematopSimpleUnion2"
      final="union union" name="topSimpleUnion">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="topSimpleList" id="org.example.NewXMLSchematopSimpleList2"
      final="list list" name="topSimpleList">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType ecore:name="myComplexRest" id="org.example.NewXMLSchemamyComplexRest"
      abstract="false" final="restriction restriction" mixed="false" name="myComplexRest"/>
  <xsd:complexType ecore:name="myComplexExtension" id="org.example.NewXMLSchemamyComplexExtension"
      abstract="false" final="extension extension" mixed="false" name="myComplexExtension"/>
  <xsd:element abstract="false" final="restriction restriction restriction" name="topElemRest"
      nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" final="extension extension extension" name="topElemExtension"
      nillable="false" type="xsd:string"/>
</xsd:schema>