tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/surgerylookup-saml.soa/Service Descriptors/SurgeryAddressService_gen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://www.tibco.com/studio-3.3/SurgeryAddressService/_gen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/studio-3.3/SurgeryAddressService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LookUpSurgeryServicePortType" targetNamespace="http://www.tibco.com/studio-3.3/SurgeryAddressService/_gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/studio-3.3/SurgeryAddressService/" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:annotation/>
            <xs:complexType name="SurgeryAddressQueryType">
                <xs:sequence>
                    <xs:element name="postalCode" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="country" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SurgeryAddressResultType">
                <xs:sequence>
                    <xs:element name="addrLine1" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="addrLine2" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="city" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="province" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="postalCode" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="country" form="unqualified">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="SurgeryLookupAddress_INPUT">
        <wsdl:part name="surgeryAddressQuery" type="ns0:SurgeryAddressQueryType"/>
    </wsdl:message>
    <wsdl:message name="SurgeryLookupAddress_OUTPUT">
        <wsdl:part name="surgeryAddressResult" type="ns0:SurgeryAddressResultType"/>
    </wsdl:message>
    <wsdl:portType name="LookUpSurgeryServicePortType">
        <wsdl:operation name="LookupSurgeryAddress">
            <wsdl:input message="tns:SurgeryLookupAddress_INPUT"/>
            <wsdl:output message="tns:SurgeryLookupAddress_OUTPUT"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LookUpSurgeryAddressService" type="tns:LookUpSurgeryServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="LookupSurgeryAddress">
            <wsdl:documentation/>
            <soap:operation style="rpc" soapAction="LookupSurgeryAddress"/>
            <wsdl:input>
                <soap:body use="literal" parts="surgeryAddressQuery"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="surgeryAddressResult"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LookUpSurgeryServicePortType">
        <wsdl:port name="LookUpSurgeryAddressService" binding="tns:LookUpSurgeryAddressService">
            <soap:address location="http://localhost:80/lookUpSurgeryServicePortType/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>