tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9GXsdUnion/Service Descriptors/ClothesShopUnion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ClothesShopUnion"
	targetNamespace="http://www.example.org/ClothesShopUnion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.example.org/ClothesShopUnion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/ClothesShopUnion/">

			<xsd:simpleType name="DressSizeNumber">
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="2" />
					<xsd:maxInclusive value="18" />
				</xsd:restriction>

			</xsd:simpleType>

			<xsd:simpleType name="DressSizeCategory">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="small" />
					<xsd:enumeration value="medium" />
					<xsd:enumeration value="large" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="SizeType">
				<xsd:union memberTypes="tns:DressSizeNumber tns:DressSizeCategory" />
			</xsd:simpleType>

			<xsd:complexType name="Item">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:integer" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="size" type="tns:SizeType" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="OrderConfirmation">
				<xsd:sequence>
					<xsd:element name="item" type="tns:Item" />
					<xsd:element name="orderCode" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="checkStock">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="item" type="tns:Item" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkStockResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="item" type="tns:Item" />
						<xsd:element name="quantity" type="xsd:integer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="placeOrder">
				<xsd:complexType>

					<xsd:sequence>
						<xsd:element name="item" type="tns:Item" />
						<xsd:element name="quatity" type="xsd:integer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="placeOrderResponse" type="tns:OrderConfirmation" />

		</xsd:schema>

	</wsdl:types>
	<wsdl:message name="placeOrderRequest">
		<wsdl:part name="parameters" element="tns:placeOrder">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="checkStockRequest">
		<wsdl:part name="parameters" element="tns:checkStock">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="checkStockResponse">
		<wsdl:part name="parameters" element="tns:checkStockResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="placeOrderResponse">
		<wsdl:part name="parameters" element="tns:placeOrderResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ClothesShopUnion">

		<wsdl:operation name="checkStock">
			<wsdl:input message="tns:checkStockRequest">
			</wsdl:input>
			<wsdl:output message="tns:checkStockResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="placeOrder">
			<wsdl:input message="tns:placeOrderRequest">
			</wsdl:input>

			<wsdl:output message="tns:placeOrderResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ClothesShopUnionSOAP" type="tns:ClothesShopUnion">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="checkStock">
			<soap:operation soapAction="http://www.example.org/ClothesShopUnion/checkStock" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="placeOrder">
			<soap:operation soapAction="http://www.example.org/ClothesShopUnion/placeOrder" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ClothesShopUnion">
		<wsdl:port name="ClothesShopUnionSOAP" binding="tns:ClothesShopUnionSOAP">

			<soap:address
				location="http://localhost:9090/ClothesShopUnion/services/ClothesShopUnion/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
