tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9GXsdUnion/Service Descriptors/UC9GXsdUnionAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/UC9GXsdUnionAbstract/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UC9GXsdUnionAbstract"
	targetNamespace="http://www.example.org/UC9GXsdUnionAbstract/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/UC9GXsdUnionAbstract/">

			<xsd:simpleType name="DressSizeNumber">
				<xsd:restriction base="xsd:integer">
					<xsd:minInclusive value="2" />
					<xsd:maxInclusive value="18" />
				</xsd:restriction>

			</xsd:simpleType>

			<xsd:simpleType name="DressSizeCategory">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="small" />
					<xsd:enumeration value="medium" />
					<xsd:enumeration value="large" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="SizeType">
				<xsd:union memberTypes="tns:DressSizeNumber tns:DressSizeCategory" />
			</xsd:simpleType>

			<xsd:complexType name="Item">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:integer" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="size" type="tns:SizeType" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="CheckStock">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="item" type="tns:Item" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CheckStockResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="quantity" type="xsd:integer" />
						<xsd:element name="result" type="xsd:string" />						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CheckStockRequest">
		<wsdl:part element="tns:CheckStock" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CheckStockResponse">
		<wsdl:part element="tns:CheckStockResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="UC9GXsdUnionAbstract">
		<wsdl:operation name="CheckStock">
			<wsdl:input message="tns:CheckStockRequest" />
			<wsdl:output message="tns:CheckStockResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UC9GXsdUnionAbstractSOAP" type="tns:UC9GXsdUnionAbstract">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CheckStock">
			<soap:operation
				soapAction="http://www.example.org/UC9GXsdUnionAbstract/CheckStock" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UC9GXsdUnionAbstract">
		<wsdl:port binding="tns:UC9GXsdUnionAbstractSOAP" name="UC9GXsdUnionAbstractSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
