tbs-bpm/tests/com.tibco.sce.process.developer.test.feature/plugins/com.tibco.xpd.proc.dev.mappings.test/resources/XPathInvalidModeMappedTest/XPathMappingsTest No Dest Set/Service Descriptors/ArrMinWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ArrMinWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArrMinWSDL" targetNamespace="http://www.example.org/ArrMinWSDL/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ArrMinWSDL/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="in" type="xsd:string" />
          	<xsd:element name="arrElement" type="xsd:string" maxOccurs="unbounded"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation_fault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NewOperation_fault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
            <xsd:element name="Element2" type="tns:ElementType"></xsd:element>
        
            <xsd:complexType name="ElementType">
            	<xsd:sequence maxOccurs="unbounded">
            		<xsd:element name="Elem1" type="xsd:string"></xsd:element>
            		<xsd:element name="arrElem2" type="xsd:string" maxOccurs="unbounded"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameter1"/>
    <wsdl:part name="param2" element="tns:Element2"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperation_faultMsg">
  	<wsdl:part name="parameters" element="tns:NewOperation_fault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArrMinWSDL">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="fault" message="tns:NewOperation_faultMsg"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArrMinWSDLSOAP" type="tns:ArrMinWSDL">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/ArrMinWSDL/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArrMinWSDL">
    <wsdl:port binding="tns:ArrMinWSDLSOAP" name="ArrMinWSDLSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
