tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/IAPJMSMessages.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/enel/IAPJMSMessages.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="IAPJMSMessages" targetNamespace="http://www.tibco.com/enel/IAPJMSMessages.xsd">
  <wsdl:types>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://xmlns.enel.it/schema/libero/2011/10/01/BAMAllarme.xsd"
	 targetNamespace="http://xmlns.enel.it/schema/libero/2011/10/01/BAMAllarme.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="BAMCreaAllarmeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdProcessoBpm" type="xs:string"/>
				<xs:element name="IdAllarme" type="xs:string"/>
				<xs:element name="TipoPratica" type="xs:string" minOccurs="0"/>
				<xs:element name="Servizio" type="xs:string" minOccurs="0"/>
				<xs:element name="Idcrm" type="xs:string" minOccurs="0"/>
				<xs:element name="Pod" type="xs:string" minOccurs="0"/>
				<xs:element name="Stato" type="xs:string" minOccurs="0"/>
				<xs:element name="TipoAllarme" type="xs:string" minOccurs="0"/>
				<xs:element name="FlagUtente" type="xs:string" minOccurs="0"/>
				<xs:element name="Sla_HH" type="xs:integer" minOccurs="0"/>
				<xs:element name="Operazione" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BAMChiudiAllarmeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IdProcessoBpm" type="xs:string"/>
				<xs:element name="IdAllarme" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://xmlns.enel.com/schema/libero/2009/01/01/BpmReport"
	 targetNamespace="http://xmlns.enel.com/schema/libero/2009/01/01/BpmReport"
	 version="1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="BPMReportRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TibcoAuditId" type="xs:string" minOccurs="0"/>
				<xs:element name="IdProcessBpm">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TipoPratica">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Servizio">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Stato">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NumeroUtente" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="idCrm" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="75"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Pod" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Timestamp" type="xs:string"/>
				<xs:element name="Key1" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Key2" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Key3" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Key4" type="xs:string" minOccurs="0"/>
				<xs:element name="Key5" type="xs:string" minOccurs="0"/>
				<xs:element name="Key6" type="xs:string" minOccurs="0"/>
				<xs:element name="Key7" type="xs:string" minOccurs="0"/>
				<xs:element name="Key8" type="xs:string" minOccurs="0"/>
				<xs:element name="Key9" type="xs:string" minOccurs="0"/>
				<xs:element name="Key10" type="xs:string" minOccurs="0"/>
				<xs:element name="Sistema" type="xs:string" minOccurs="0"/>
				<xs:element name="Commodity" type="xs:string" minOccurs="0"/>
				<xs:element name="Esito" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Esito">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
										<!--<xs:enumeration value="OK"/>
										<xs:enumeration value="Ko"/>
										<xs:enumeration value="ok"/>
										<xs:enumeration value="ko"/>
										<xs:enumeration value="KO"/>
										<xs:enumeration value=""/> 
										<xs:enumeration value="Ok"/>
										<xs:enumeration value="RI"/>
										<xs:enumeration value="Ri"/>
										<xs:enumeration value="NA"/> -->
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Codice" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Descrizione" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Key11" type="xs:string" minOccurs="0"/>
				<xs:element name="Key12" type="xs:string" minOccurs="0"/>
				<xs:element name="Key13" type="xs:string" minOccurs="0"/>
				<xs:element name="Key14" type="xs:string" minOccurs="0"/>
				<xs:element name="Key15" type="xs:string" minOccurs="0"/>
				<xs:element name="Key16" type="xs:string" minOccurs="0"/>
				<xs:element name="Key17" type="xs:string" minOccurs="0"/>
				<xs:element name="Key18" type="xs:string" minOccurs="0"/>
				<xs:element name="Key19" type="xs:string" minOccurs="0"/>
				<xs:element name="Key20" type="xs:string" minOccurs="0"/>
				<xs:element name="PadreId" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PadreTipoPratica" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PadreServizio" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BPMReportResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Esito">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
							<xs:minLength value="1"/>
							<!--<xs:enumeration value="Ok"/>
							<xs:enumeration value="Ko"/>
							<xs:enumeration value="OK"/>
							<xs:enumeration value="ok"/>
							<xs:enumeration value="ko"/>
							<xs:enumeration value="KO"/>
							<xs:enumeration value="RI"/>
							<xs:enumeration value="Ri"/> -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Codice_Esito" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Descrizione_Esito" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>



  </wsdl:types>

  
  <wsdl:message name="BPMReportRequest">
    <wsdl:part xmlns:xxx="http://xmlns.enel.com/schema/libero/2009/01/01/BpmReport" element="xxx:BPMReportRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BAMCreaAllarmeRequest">
    <wsdl:part xmlns:xxx="http://xmlns.enel.it/schema/libero/2011/10/01/BAMAllarme.xsd" element="xxx:BAMCreaAllarmeRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BAMChiduiAllarmeRequest">
    <wsdl:part xmlns:xxx="http://xmlns.enel.it/schema/libero/2011/10/01/BAMAllarme.xsd" element="xxx:BAMChiudiAllarmeRequest" name="parameters"/>
  </wsdl:message>

 
  <wsdl:portType name="IAMJMSPortType">
    <wsdl:operation name="SendGestioneAllarmeReportRequest">
      <wsdl:input message="tns:BPMReportRequest"/>
    </wsdl:operation>

    <wsdl:operation name="SendVariazioneStatoReportRequest">
      <wsdl:input message="tns:BPMReportRequest"/>
    </wsdl:operation>

    <wsdl:operation name="SendCreaAllarmeRequest">
      <wsdl:input message="tns:BAMCreaAllarmeRequest"/>
    </wsdl:operation>

    <wsdl:operation name="SendChiudiAllarmeRequest">
      <wsdl:input message="tns:BAMChiduiAllarmeRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  
  
</wsdl:definitions>
