tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/MutiIntegrationGestioneScartiAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://com.enel.mind.integration.gestionescarti" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MutiIntegrationGestioneScartiAbstract" targetNamespace="http://com.enel.mind.integration.gestionescarti" tibex:src="file:/C:/Users/egiusro/Desktop/MIGRAZIONE_AMX_BPM/PORTING_R2/AUTOMATIZZAZIONE_FATTURAZIONE/MutiIntegrationGestioneScartiAbstract.wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.enel.mind.integration.gestionescarti">
      <xsd:element name="AperturaChiusuraScartoRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element minOccurs="1" name="IdBpm" type="xsd:string"/>
			<xsd:element minOccurs="0" name="IdScartoIn" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="1" name="Azione" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="FlagAnnullamento" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Processo" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="Servizio" type="xsd:string">
          	</xsd:element>			
			<xsd:element minOccurs="0" name="EsitoIn" type="xsd:string">
          	</xsd:element>	
			<xsd:element minOccurs="0" name="CodiceIn" type="xsd:string">
          	</xsd:element>	
			<xsd:element minOccurs="0" name="DescrizioneIn" type="xsd:string">
          	</xsd:element>	
			<xsd:element minOccurs="0" name="NumeroUtente" type="xsd:string">
          	</xsd:element>	
			<xsd:element minOccurs="0" name="Pod" type="xsd:string">
          	</xsd:element>	
			<xsd:element minOccurs="0" name="Canale" type="xsd:string">
          	</xsd:element>	
			<xsd:element minOccurs="0" name="Sistema" type="xsd:string">
          	</xsd:element>				
			<xsd:element minOccurs="0" name="Commodity" type="xsd:string">
          	</xsd:element>				
			<xsd:element minOccurs="0" name="DataLimite" type="xsd:date">
          	</xsd:element>				
			<xsd:element minOccurs="0" name="Key1" type="xsd:string">
          	</xsd:element>	
			<xsd:element minOccurs="0" name="Key2" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="Key3" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key4" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key5" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key6" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key7" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key8" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key9" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key10" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key11" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key12" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key13" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key14" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key15" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key16" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key17" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key18" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key19" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key20" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key21" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key22" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key23" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key24" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key25" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key26" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key27" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key28" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key29" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="Key30" type="xsd:string">
          	</xsd:element>
			
			

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AperturaChiusuraScartoResponse">
        <xsd:complexType>
          <xsd:sequence>
          	
			<xsd:element minOccurs="1" name="EsitoOut" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="1" name="CodiceOut" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="DescrizioneOut" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="IdScartoOut" type="xsd:string">
          	</xsd:element>			
			
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  

	  
      <xsd:complexType name="RichiestaType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="sistemaRichiedente" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="canale" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="idRichiesta" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="causale" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="commodity" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      		<xsd:element minOccurs="0" name="Ip" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="Profilo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="Matricola" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      		<xsd:element minOccurs="0" name="IdMuti" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDms" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2d" type="tns:IdentificativiR2dType">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      		<xsd:element minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      		<xsd:element minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagDocumentazione" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="idCRM" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoServizio" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoOrdine" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoFiCa" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoISU" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoR2D" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoSD" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoSempre" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoUDB" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2R" type="tns:IdentificativiR2rType">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="IdentificativiR2dType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="IdDistr" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDistr2" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2d" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="IdentificativiR2rType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="IdR2R" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="EsitoType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="esito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="codiceEsito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="tipoEsito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="1" name="sistemaSorgenteEsito" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AperturaChiusuraScartoRequest">
    <wsdl:part element="tns:AperturaChiusuraScartoRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="AperturaChiusuraScartoResponse">
    <wsdl:part element="tns:AperturaChiusuraScartoResponse" name="response"/>
  </wsdl:message>


  
  <wsdl:portType name="MutiIntegrationGestioneScartiAbstract">
  
    <wsdl:operation name="AperturaChiusuraScarto">
      <wsdl:input message="tns:AperturaChiusuraScartoRequest"/>
      <wsdl:output message="tns:AperturaChiusuraScartoResponse"/>
    </wsdl:operation>


	
	
	</wsdl:portType>


</wsdl:definitions>
