tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/ReceiveTaskUdbRicezioneEsitiServiceConcrete.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskudbricezioneesiti" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskudbricezioneesiti" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskudbricezioneesiti" tibex:src="file:/C:/Users/egiusro/Desktop/AMX-ALLACCIO/ReceiveTaskUdbRicezioneEsitiServiceConcrete.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskudbricezioneesiti" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskudbricezioneesiti">
            <xs:element name="UdbRicezioneEsitiRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="correlationID" type="xs:string"/>
                        <xs:element minOccurs="0" name="esito" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="descrizioneEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="sorgenteEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="causale" type="xs:string"/>
                        <xs:element minOccurs="0" name="routing" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdMido" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ReceiveTaskUdbRicezioneEsitiService">
        <wsdl:port binding="tns:ReceiveTaskUdbRicezioneEsitiPortTypeEndpointBinding" name="ReceiveTaskUdbRicezioneEsitiPortTypeEndpoint">
            <soap:address location="http://localhost:99999/mercato/libero/service/bpm/receivetaskudbricezioneesiti"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ReceiveTaskUdbRicezioneEsitiPortType">
        <wsdl:operation name="ReceiveTaskUdbRicezioneEsiti">
            <wsdl:input message="tns:UdbRicezioneEsitiRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReceiveTaskUdbRicezioneEsitiPortTypeEndpointBinding" type="tns:ReceiveTaskUdbRicezioneEsitiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveTaskUdbRicezioneEsiti">
            <soap:operation soapAction="/Processes/ReceiveTaskUdbRicezioneEsiti/Service.serviceagent/ReceiveTaskUdbRicezioneEsitiPortTypeEndpoint1/ReceiveTaskUdbRicezioneEsiti" style="document"/>
            <wsdl:input>
                <soap:body parts="input" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="UdbRicezioneEsitiRequest">
        <wsdl:part element="ns0:UdbRicezioneEsitiRequest" name="input"/>
    </wsdl:message>
</wsdl:definitions>
