tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/ReceiveTaskGdoRicezioneEsitiServiceConcrete.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskgdoricezioneesiti" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskgdoricezioneesiti" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskgdoricezioneesiti" tibex:src="file:/C:/Users/egiusro/Desktop/AMX-ALLACCIO/ReceiveTaskGdoRicezioneEsitiServiceConcrete.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskgdoricezioneesiti" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskgdoricezioneesiti">
            <xs:element name="GdoRicezioneEsitiRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="correlationID" type="xs:string"/>
                        <xs:element minOccurs="0" name="canaleInvio" type="xs:string"/>
                        <xs:element minOccurs="0" name="clienteMemo" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="datiFattMemo" type="xs:string"/>
                        <xs:element minOccurs="0" name="datiOutCDMMemo" type="xs:string"/>
                        <xs:element minOccurs="0" name="descrizioneEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="esito" type="xs:string"/>
                        <xs:element minOccurs="0" name="fornituraMemo" type="xs:string"/>
                        <xs:element minOccurs="0" name="gdoMemo" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdSdFattMemo" type="xs:string"/>
                        <xs:element minOccurs="0" name="preventivoCommercialeMemo" type="xs:string"/>
                        <xs:element minOccurs="0" name="preventivoTecnicoMemo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ReceiveTaskGdoRicezioneEsitiService">
        <wsdl:port binding="tns:ReceiveTaskGdoRicezioneEsitiPortTypeEndpointBinding" name="ReceiveTaskGdoRicezioneEsitiPortTypeEndpoint">
            <soap:address location="http://localhost:99999/mercato/libero/service/bpm/receivetaskgdoricezioneesiti"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ReceiveTaskGdoRicezioneEsitiPortType">
        <wsdl:operation name="ReceiveTaskGdoRicezioneEsiti">
            <wsdl:input message="tns:GdoRicezioneEsitiRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReceiveTaskGdoRicezioneEsitiPortTypeEndpointBinding" type="tns:ReceiveTaskGdoRicezioneEsitiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveTaskGdoRicezioneEsiti">
            <soap:operation soapAction="/Processes/ReceiveTaskGdoRicezioneEsiti/Service.serviceagent/ReceiveTaskGdoRicezioneEsitiPortTypeEndpoint1/ReceiveTaskGdoRicezioneEsiti" style="document"/>
            <wsdl:input>
                <soap:body parts="input" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GdoRicezioneEsitiRequest">
        <wsdl:part element="ns0:GdoRicezioneEsitiRequest" name="input"/>
    </wsdl:message>
</wsdl:definitions>
