tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/ReceiveTaskCrmRicezioneEsitiServiceConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskcrmricezioneesiti" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskcrmricezioneesiti" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskcrmricezioneesiti">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskcrmricezioneesiti" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskcrmricezioneesiti" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="CrmRicezioneEsitiRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="correlationID" type="xs:string"/>
                        <xs:element name="datiFattMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="esito" type="xs:string" minOccurs="0"/>
                        <xs:element name="codiceEsito" type="xs:string" minOccurs="0"/>
                        <xs:element name="descrizioneEsito" type="xs:string" minOccurs="0"/>
                        <xs:element name="NumeroListino" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ReceiveTaskCrmRicezioneEsitiService">
        <wsdl:port name="ReceiveTaskCrmRicezioneEsitiPortTypeEndpoint" binding="tns:ReceiveTaskCrmRicezioneEsitiPortTypeEndpointBinding">
            <soap:address location="http://localhost:99999/mercato/libero/service/bpm/receivetaskcrmricezioneesiti"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ReceiveTaskCrmRicezioneEsitiPortType">
        <wsdl:operation name="ReceiveTaskCrmRicezioneEsiti">
            <wsdl:input message="tns:CrmRicezioneEsitiRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReceiveTaskCrmRicezioneEsitiPortTypeEndpointBinding" type="tns:ReceiveTaskCrmRicezioneEsitiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveTaskCrmRicezioneEsiti">
            <soap:operation style="document" soapAction="/Processes/ReceiveTaskCrmRicezioneEsiti/ReceiveTaskCrmRicezioneEsitiService.serviceagent/ReceiveTaskCrmRicezioneEsitiPortTypeEndpoint1/ReceiveTaskCrmRicezioneEsiti"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="CrmRicezioneEsitiRequest">
        <wsdl:part name="input" element="ns0:CrmRicezioneEsitiRequest"/>
    </wsdl:message>
</wsdl:definitions>