tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/ReceiveTaskR2dRicezioneEsitiServiceConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskr2dricezioneesiti" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskr2dricezioneesiti" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskr2dricezioneesiti">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskr2dricezioneesiti" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskr2dricezioneesiti" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="R2dRicezioneEsitiRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="correlationID" type="xs:string"/>
                        <xs:element name="appuntMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="clienteMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="esito" type="xs:string" minOccurs="0"/>
                        <xs:element name="codiceEsito" type="xs:string" minOccurs="0"/>
                        <xs:element name="descrizioneEsito" type="xs:string" minOccurs="0"/>
                        <xs:element name="tipoEsito" type="xs:string" minOccurs="0"/>
                        <xs:element name="datiOutCDMMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="FlgEsecuzioneLavori" type="xs:string" minOccurs="0"/>
                        <xs:element name="fornituraMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="indDistributoreMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="letturaMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="preventivoCommercialeMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="preventivoTecnicoMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="richiestaMemo" type="xs:string" minOccurs="0"/>
                        <xs:element name="Note" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ReceiveTaskR2dRicezioneEsitiService">
        <wsdl:port name="ReceiveTaskR2dRicezioneEsitiPortTypeEndpoint" binding="tns:ReceiveTaskR2dRicezioneEsitiPortTypeEndpointBinding">
            <soap:address location="http://localhost:99999/mercato/libero/service/bpm/receivetaskr2dricezioneesiti"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ReceiveTaskR2dRicezioneEsitiPortType">
        <wsdl:operation name="ReceiveTaskR2dRicezioneEsiti">
            <wsdl:input message="tns:R2dRicezioneEsitiRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReceiveTaskR2dRicezioneEsitiPortTypeEndpointBinding" type="tns:ReceiveTaskR2dRicezioneEsitiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveTaskR2dRicezioneEsiti">
            <soap:operation style="document" soapAction="/Processes/ReceiveTaskR2dRicezioneEsiti/Service.serviceagent/ReceiveTaskR2dRicezioneEsitiPortTypeEndpoint1/ReceiveTaskR2dRicezioneEsiti"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="R2dRicezioneEsitiRequest">
        <wsdl:part name="input" element="ns0:R2dRicezioneEsitiRequest"/>
    </wsdl:message>
</wsdl:definitions>