tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/ReceiveTaskSapIsuRicezioneEsitiServiceConcrete.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.enel.com/mercato/libero/service/bpm/receivetasksapisuricezioneesiti" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetasksapisuricezioneesiti" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/bpm/receivetasksapisuricezioneesiti">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetasksapisuricezioneesiti" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetasksapisuricezioneesiti" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="SapIsuRicezioneEsitiRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="correlationID" type="xs:string"/>
                        <xs:element name="esito" type="xs:string" minOccurs="0"/>
                        <xs:element name="codiceEsito" type="xs:string" minOccurs="0"/>
                        <xs:element name="descrizioneEsito" type="xs:string" minOccurs="0"/>
                        <xs:element name="SistemaSorgente" type="xs:string" minOccurs="0"/>
                        <xs:element name="ID_FATTURAZIONE" type="xs:string" minOccurs="0"/>
                        <xs:element name="BP" type="xs:string" minOccurs="0"/>
                        <xs:element name="ContoContrattuale" type="xs:string" minOccurs="0"/>
                        <xs:element name="Contratto" type="xs:string" minOccurs="0"/>
                        <xs:element name="ESITI" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ReceiveTaskSapIsuRicezioneEsitiService">
        <wsdl:port name="ReceiveTaskSapIsuRicezioneEsitiPortTypeEndpoint" binding="tns:ReceiveTaskSapIsuRicezioneEsitiPortTypeEndpointBinding">
            <soap:address location="http://localhost:99999/mercato/libero/service/bpm/receivetasksapisuricezioneesiti"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ReceiveTaskSapIsuRicezioneEsitiPortType">
        <wsdl:operation name="ReceiveTaskSapIsuRicezioneEsiti">
            <wsdl:input message="tns:SapIsuRicezioneEsitiRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReceiveTaskSapIsuRicezioneEsitiPortTypeEndpointBinding" type="tns:ReceiveTaskSapIsuRicezioneEsitiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveTaskSapIsuRicezioneEsiti">
            <soap:operation style="document" soapAction="/Processes/ReceiveTaskSapIsuRicezioneEsiti/Service.serviceagent/ReceiveTaskSapIsuRicezioneEsitiPortTypeEndpoint1/ReceiveTaskSapIsuRicezioneEsiti"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="SapIsuRicezioneEsitiRequest">
        <wsdl:part name="input" element="ns0:SapIsuRicezioneEsitiRequest"/>
    </wsdl:message>
</wsdl:definitions>