tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/ReceiveTaskKamHelperRicezioneEsitiServiceConcrete.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskkamhelperricezioneesiti" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskkamhelperricezioneesiti" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/bpm/receivetaskkamhelperricezioneesiti" tibex:src="file:/C:/Users/egiusro/Desktop/AMX-ALLACCIO/ReceiveTaskKamHelperRicezioneEsitiServiceConcrete.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskkamhelperricezioneesiti" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskkamhelperricezioneesiti">
            <xs:element name="KamHelperRicezioneEsitiRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="correlationID" type="xs:string"/>
                        <xs:element minOccurs="0" name="esito" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="descrizioneEsito" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ReceiveTaskKamHelperRicezioneEsitiService">
        <wsdl:port binding="tns:ReceiveTaskKamHelperRicezioneEsitiPortTypeEndpointBinding" name="ReceiveTaskKamHelperRicezioneEsitiPortTypeEndpoint">
            <soap:address location="http://localhost:99999/mercato/libero/service/bpm/receivetaskkamhelperricezioneesiti"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ReceiveTaskKamHelperRicezioneEsitiPortType">
        <wsdl:operation name="ReceiveTaskKamHelperRicezioneEsiti">
            <wsdl:input message="tns:KamHelperRicezioneEsitiRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReceiveTaskKamHelperRicezioneEsitiPortTypeEndpointBinding" type="tns:ReceiveTaskKamHelperRicezioneEsitiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveTaskKamHelperRicezioneEsiti">
            <soap:operation soapAction="/Processes/ReceiveTaskKamHelperRicezioneEsiti/Service.serviceagent/ReceiveTaskKamHelperRicezioneEsitiPortTypeEndpoint1/ReceiveTaskKamHelperRicezioneEsiti" style="document"/>
            <wsdl:input>
                <soap:body parts="input" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="KamHelperRicezioneEsitiRequest">
        <wsdl:part element="ns0:KamHelperRicezioneEsitiRequest" name="input"/>
    </wsdl:message>
</wsdl:definitions>
