tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/ReceiveTaskCsRicezioneEsitiServiceConcrete.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskcvpricezioneesiti" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.example.com/1380792667633" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.example.com/1380792667633" tibex:src="file:/C:/Users/Santullo/Documents/Progetti/ENEL/Schemas/ReceiveTaskCsRicezioneEsitiServiceConcrete.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskcvpricezioneesiti" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetaskcvpricezioneesiti">
            <xs:element name="CsRicezioneEsitiRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Esito" type="xs:string"/>
                        <xs:element minOccurs="0" name="CodEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="DescrizioneEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="TipoEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="SistemaSorgente" type="xs:string"/>
                        <xs:element minOccurs="0" name="CorrelationId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ReceiveTaskCsRicezioneEsitiService">
        <wsdl:port binding="tns:ReceiveTaskCsRicezioneEsitiPortTypeEndpoint0Binding" name="ReceiveTaskCsRicezioneEsitiPortTypeEndpoint0">
            <soap:address location="http://localhost:99999/Processes/ReceiveTaskCsRicezioneEsiti/ReceiveTaskCsRicezioneEsitiWSDL-service0.serviceagent/ReceiveTaskCsRicezioneEsitiPortTypeEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ReceiveTaskCsRicezioneEsitiPortType">
        <wsdl:operation name="ReceiveTaskCsRicezioneEsiti">
            <wsdl:input message="tns:CsRicezioneEsitiRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReceiveTaskCsRicezioneEsitiPortTypeEndpoint0Binding" type="tns:ReceiveTaskCsRicezioneEsitiPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveTaskCsRicezioneEsiti">
            <soap:operation soapAction="/Processes/ReceiveTaskCsRicezioneEsiti/ReceiveTaskCsRicezioneEsitiWSDL-service0.serviceagent/ReceiveTaskCsRicezioneEsitiPortTypeEndpoint0/ReceiveTaskCsRicezioneEsiti" style="document"/>
            <wsdl:input>
                <soap:body parts="Input" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="CsRicezioneEsitiRequest">
        <wsdl:part element="ns0:CsRicezioneEsitiRequest" name="Input"/>
    </wsdl:message>
</wsdl:definitions>
