tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/Service Descriptors/UtilityServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://com.enel.mind.integration.utility" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MutiIntegrationUtilityAbstract" targetNamespace="http://com.enel.mind.integration.utility" tibex:src="file:/C:/Users/egiusro/Desktop/AMX-ALLACCIO/UtilityAbdtract.wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.enel.mind.integration.utility">
      <xsd:element name="AttesaFatturazioneRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element minOccurs="1" name="IdProcessoBPM" type="xsd:string"/>
			<xsd:element minOccurs="1" name="DelayedReleaseId" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="1" name="RowIdListino" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="TipoPratica" type="xsd:string">
          	</xsd:element>
			
			<xsd:element minOccurs="0" name="DatiFatturazioneCDM" type="xsd:string">
          	</xsd:element>


			

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AttesaFatturazioneResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element minOccurs="1" name="Esito" type="tns:EsitoType"/>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
      <xsd:element name="SbloccoMMPRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element minOccurs="1" name="IdProcessoBPM" type="xsd:string"/>
		

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SbloccoMMPResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element minOccurs="1" name="Esito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Codice_Esito" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Descrizione_Esito" type="xsd:string"/>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>	  
	  
	  
      <xsd:element name="CheckAttivitaRettificaRequest">
        <xsd:complexType>
          <xsd:sequence>
		  <xsd:element minOccurs="1" name="Richiesta" type="tns:RichiestaType"/>
          	<xsd:element minOccurs="1" name="Pod" type="xsd:string"/>
			<xsd:element minOccurs="1" name="NumeroFattura" type="xsd:string"/>
		

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckAttivitaRettificaResponse">
        <xsd:complexType>
          <xsd:sequence>
		  <xsd:element minOccurs="1" name="Esito" type="tns:EsitoType"/>


          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>	  

	  
      <xsd:complexType name="RichiestaType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="sistemaRichiedente" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="canale" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="idRichiesta" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="causale" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="commodity" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      		<xsd:element minOccurs="0" name="Ip" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="Profilo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="Matricola" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      		<xsd:element minOccurs="0" name="IdMuti" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDms" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2d" type="tns:IdentificativiR2dType">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      		<xsd:element minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      		<xsd:element minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagDocumentazione" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="idCRM" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoServizio" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoOrdine" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoFiCa" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoISU" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoR2D" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoSD" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoSempre" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoUDB" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2R" type="tns:IdentificativiR2rType">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="IdentificativiR2dType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="IdDistr" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDistr2" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2d" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="IdentificativiR2rType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="IdR2R" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="EsitoType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="esito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="codiceEsito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="tipoEsito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="1" name="sistemaSorgenteEsito" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AttesaFatturazioneRequest">
    <wsdl:part element="tns:AttesaFatturazioneRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="AttesaFatturazioneResponse">
    <wsdl:part element="tns:AttesaFatturazioneResponse" name="response"/>
  </wsdl:message>


    <wsdl:message name="SbloccoMMPRequest">
    <wsdl:part element="tns:SbloccoMMPRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="SbloccoMMPResponse">
    <wsdl:part element="tns:SbloccoMMPResponse" name="response"/>
  </wsdl:message>
  
      <wsdl:message name="CheckAttivitaRettificaRequest">
    <wsdl:part element="tns:CheckAttivitaRettificaRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="CheckAttivitaRettificaResponse">
    <wsdl:part element="tns:CheckAttivitaRettificaResponse" name="response"/>
  </wsdl:message>
  
  <wsdl:portType name="MutiIntegrationUtilityAbstract">
  
    <wsdl:operation name="AttesaFatturazione">
      <wsdl:input message="tns:AttesaFatturazioneRequest"/>
      <wsdl:output message="tns:AttesaFatturazioneResponse"/>
    </wsdl:operation>


    <wsdl:operation name="SbloccoMMP">
      <wsdl:input message="tns:SbloccoMMPRequest"/>
      <wsdl:output message="tns:SbloccoMMPResponse"/>
    </wsdl:operation>
	
	    <wsdl:operation name="CheckAttivitaRettifica">
      <wsdl:input message="tns:CheckAttivitaRettificaRequest"/>
      <wsdl:output message="tns:CheckAttivitaRettificaResponse"/>
    </wsdl:operation>
	
	
	</wsdl:portType>


</wsdl:definitions>
