tbs-bpm/tests/com.tibco.sce.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/any/AttributeAnys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/AttributeAnys" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" targetNamespace="http://example.com/AttributeAnys">
	<xs:attribute name="myAttrib" type="xs:string" ecore:name="myAttrib"/>
	<xs:element name="myComplexType">
		<xs:complexType ecore:name="myComplexTypeType">
			<xs:sequence>
				<xs:element name="elementData" type="xs:string" ecore:name="elementData"/>
			</xs:sequence>
			<xs:anyAttribute processContents="lax" ecore:name="anyAttribute"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="myStrictComplexType">
		<xs:complexType ecore:name="myStrictComplexType">
			<xs:sequence>
				<xs:element name="elementData" type="xs:string" ecore:name="elementData"/>
			</xs:sequence>
			<xs:anyAttribute namespace="##any" processContents="strict" ecore:name="anyAttribute"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
