tbs-bpm/tests/com.tibco.sce.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/any/nsOtherAny.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/nsOtherAny" targetNamespace="http://example.com/nsOtherAny" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore">
	<xs:element name="car">
		<xs:complexType ecore:name="carType">
			<xs:sequence>
				<xs:element name="colour" type="xs:string" ecore:name="colour"/>
				<xs:element name="make" type="xs:string" ecore:name="make"/>
				<xs:any namespace="##other" processContents="skip" maxOccurs="5" ecore:name="any"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
