tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9FXsdAnySimpleType/Service Descriptors/AnySimpleTypeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.example.com/1311247678646"
	xmlns:ns0="http://www.example.org/AnySimpleTypeService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled"
	targetNamespace="http://xmlns.example.com/1311247678646">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.example.org/AnySimpleTypeService" targetNamespace="http://www.example.org/AnySimpleTypeService"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:element name="GetRandomData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetRandomDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
						<xsd:element name="couldBeString" type="xsd:anySimpleType" />
						<xsd:element name="couldBeInteger" type="xsd:anySimpleType" />
						<xsd:element name="couldBeDate" type="xsd:anySimpleType" />
						<xsd:element name="couldBeFloat" type="xsd:anySimpleType" />
						<xsd:element name="couldBeBoolean" type="xsd:anySimpleType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendRandomData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
						<xsd:element name="couldBeString" type="xsd:anySimpleType" />
						<xsd:element name="couldBeInteger" type="xsd:anySimpleType" />
						<xsd:element name="couldBeDate" type="xsd:anySimpleType" />
						<xsd:element name="couldBeFloat" type="xsd:anySimpleType" />
						<xsd:element name="couldBeBoolean" type="xsd:anySimpleType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendRandomDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:service name="Service">
		<wsdl:port name="AnySimpleTypeServiceEndpoint1" binding="tns:AnySimpleTypeServiceEndpoint1Binding">
			<soap:address
				location="http://0.0.0.0:9091/Implementation/Service.serviceagent/AnySimpleTypeServiceEndpoint1" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:portType name="AnySimpleTypeService">
		<wsdl:operation name="SendRandomData">
			<wsdl:input message="tns:SendRandomDataRequest" />
			<wsdl:output message="tns:SendRandomDataResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetRandomData">
			<wsdl:input message="tns:GetRandomDataRequest" />
			<wsdl:output message="tns:GetRandomDataResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AnySimpleTypeServiceEndpoint1Binding"
		type="tns:AnySimpleTypeService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SendRandomData">
			<soap:operation style="document"
				soapAction="/Implementation/Service.serviceagent/AnySimpleTypeServiceEndpoint1/SendRandomData"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRandomData">
			<soap:operation style="document"
				soapAction="/Implementation/Service.serviceagent/AnySimpleTypeServiceEndpoint1/GetRandomData"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:message name="SendRandomDataRequest">
		<wsdl:part name="parameters" element="ns0:SendRandomData" />
	</wsdl:message>
	<wsdl:message name="SendRandomDataResponse">
		<wsdl:part name="parameters" element="ns0:SendRandomDataResponse" />
	</wsdl:message>
	<wsdl:message name="GetRandomDataRequest">
		<wsdl:part name="parameters" element="ns0:GetRandomData" />
	</wsdl:message>
	<wsdl:message name="GetRandomDataResponse">
		<wsdl:part name="parameters" element="ns0:GetRandomDataResponse" />
	</wsdl:message>
</wsdl:definitions>