tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-choice/XSDBOM_Choice01_SimpleChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/SimpleChoice" targetNamespace="http://example.com/SimpleChoice">
	<xs:complexType name="Plane">
		<xs:choice>
			<xs:element name="freightDetails" type="xs:string"/>
			<xs:element name="passengers" type="xs:int"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
