tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-choice/XSDBOM_Choice03_EnumChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/EnumChoice" targetNamespace="http://example.com/EnumChoice">
	<xs:complexType name="Plane">
		<xs:choice>
			<xs:element name="engineType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Jet"/>
						<xs:enumeration value="Propeller"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="engineName" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
