tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM44_BOMGenFor_busserv_wsdl/gold/builder/com.tibco.n2.pfe.exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://exception.pfe.n2.tibco.com" xmlns:tns8="http://exception.pfe.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns9="http://exception.api.common.n2.tibco.com"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://exception.pfe.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.pfe.exception.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://exception.api.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.api.exception.xsd"/>
  <xsd:complexType ecore:name="BaseException" id="com.tibco.n2.pfe.exceptionBaseException"
      abstract="false" mixed="false" name="BaseException">
    <xsd:annotation>
      <xsd:documentation>An error has occurred. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="code" id="BaseExceptioncode" form="unqualified" name="code"
        type="xsd:string" use="required"/>
    <xsd:attribute ecore:name="message" id="BaseExceptionmessage" form="unqualified"
        name="message" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="Status" id="com.tibco.n2.pfe.exceptionStatus" abstract="false"
      mixed="false" name="Status">
    <xsd:annotation>
      <xsd:documentation>Description of the error that occurred. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="message" id="Statusmessage" form="unqualified" maxOccurs="1"
          minOccurs="1" name="message" type="xsd:string"/>
      <xsd:element ecore:name="exceptionTrace" id="StatusexceptionTrace" form="unqualified"
          maxOccurs="1" minOccurs="1" name="exceptionTrace" type="xsd:string"/>
      <xsd:element ecore:name="successful" id="Statussuccessful" form="unqualified"
          maxOccurs="1" minOccurs="1" name="successful" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PageFlowExecutionException" id="com.tibco.n2.pfe.exceptionPageFlowExecutionException"
      abstract="false" mixed="false" name="PageFlowExecutionException">
    <xsd:annotation>
      <xsd:documentation>An error occurred when executing the PageFlow or Business Service. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns8:BaseException"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="SecurityException" id="com.tibco.n2.pfe.exceptionSecurityException"
      abstract="false" mixed="false" name="SecurityException">
    <xsd:annotation>
      <xsd:documentation>A security error has occurred. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns8:BaseException"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="InternalServiceFault" nillable="false" type="tns9:DetailedException"/>
  <xsd:element abstract="false" name="InvalidArgumentFault" nillable="false" type="tns9:DetailedException"/>
  <xsd:element abstract="false" name="PageFlowExecutionFault" nillable="false" type="tns9:DetailedException"/>
  <xsd:element abstract="false" name="PageFlowExecutionException" nillable="false"
      type="PageFlowExecutionException"/>
  <xsd:element abstract="false" name="SecurityException" nillable="false" type="SecurityException"/>
</xsd:schema>