tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/XSDBOM_TLE13_DuplicateNamesValidationCheck.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://example.com/XSDBOM_TLE10A_RootElementReference" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/XSDBOM_TLE10A_RootElementReference">
	
	<xs:element name="Person" type="MySimp"/>
	
	<xs:complexType name="Person">
		<xs:sequence>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:attribute name="MySimp2" type="MySimp"/>
	
	<xs:simpleType name="MySimp">
	<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="MySimp2">
	<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:element name="MySimp" type="MySimp2"/>
</xs:schema>
