tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/XSDBOM11_CheckDifferentTypesImportedTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/DifferentTypes"
	elementFormDefault="qualified" targetNamespace="http://www.example.org/DifferentTypes">

	<!-- Top Level Elements with XML Schema reserved word names -->
	<element name="anyURI" type="anyURI" />
	<element name="boolean" type="boolean" />
	<element name="byte" type="byte" />
	<element name="date" type="date" />
	<element name="dateTime" type="dateTime" />
	<element name="decimal" type="decimal" />
	<element name="double" type="double" />
	<element name="duration" type="duration" />
	<element name="ENTITIES" type="ENTITIES" />
	<element name="ENTITY" type="ENTITY" />
	<element name="float" type="float" />
	<element name="gDay" type="gDay" />
	<element name="gMonth" type="gMonth" />
	<element name="gMonthDay" type="gMonthDay" />
	<element name="gYear" type="gYear" />
	<element name="gYearMonth" type="gYearMonth" />
	<element name="hexBinary" type="hexBinary" />
	<element name="ID" type="ID" />
	<element name="IDREF" type="IDREF" />
	<element name="IDREFS" type="IDREFS" />
	<element name="int" type="int" />
	<element name="integer" type="integer" />
	<element name="language" type="language" />
	<element name="long" type="long" />
	<element name="Name" type="Name" />
	<element name="NCName" type="NCName" />
	<element name="negativeInteger" type="negativeInteger" />
	<element name="NMTOKEN" type="NMTOKEN" />
	<element name="NMTOKENS" type="NMTOKENS" />
	<element name="nonNegativeInteger" type="nonNegativeInteger" />
	<element name="nonPositiveInteger" type="nonPositiveInteger" />
	<element name="normalizedString" type="normalizedString" />
	<element name="positiveInteger" type="positiveInteger" />
	<element name="QName" type="QName" />
	<element name="short" type="short" />
	<element name="string" type="string" />
	<element name="time" type="time" />
	<element name="token" type="token" />
	<element name="unsignedByte" type="unsignedByte" />
	<element name="unsignedInt" type="unsignedInt" />
	<element name="unsignedLong" type="unsignedLong" />
	<element name="unsignedShort" type="unsignedShort" />
	
	<!-- Top Level Attributes with XML Schema reserved word names -->
	<attribute name="anyURI" type="anyURI" />
	<attribute name="boolean" type="boolean" />
	<attribute name="byte" type="byte" />
	<attribute name="date" type="date" />
	<attribute name="dateTime" type="dateTime" />
	<attribute name="decimal" type="decimal" />
	<attribute name="double" type="double" />
	<attribute name="duration" type="duration" />
	<attribute name="ENTITIES" type="ENTITIES" />
	<attribute name="ENTITY" type="ENTITY" />
	<attribute name="float" type="float" />
	<attribute name="gDay" type="gDay" />
	<attribute name="gMonth" type="gMonth" />
	<attribute name="gMonthDay" type="gMonthDay" />
	<attribute name="gYear" type="gYear" />
	<attribute name="gYearMonth" type="gYearMonth" />
	<attribute name="hexBinary" type="hexBinary" />
	<attribute name="ID" type="ID" />
	<attribute name="IDREF" type="IDREF" />
	<attribute name="IDREFS" type="IDREFS" />
	<attribute name="int" type="int" />
	<attribute name="integer" type="integer" />
	<attribute name="language" type="language" />
	<attribute name="long" type="long" />
	<attribute name="Name" type="Name" />
	<attribute name="NCName" type="NCName" />
	<attribute name="negativeInteger" type="negativeInteger" />
	<attribute name="NMTOKEN" type="NMTOKEN" />
	<attribute name="NMTOKENS" type="NMTOKENS" />
	<attribute name="nonNegativeInteger" type="nonNegativeInteger" />
	<attribute name="nonPositiveInteger" type="nonPositiveInteger" />
	<attribute name="normalizedString" type="normalizedString" />
	<attribute name="positiveInteger" type="positiveInteger" />
	<attribute name="QName" type="QName" />
	<attribute name="short" type="short" />
	<attribute name="string" type="string" />
	<attribute name="time" type="time" />
	<attribute name="token" type="token" />
	<attribute name="unsignedByte" type="unsignedByte" />
	<attribute name="unsignedInt" type="unsignedInt" />
	<attribute name="unsignedLong" type="unsignedLong" />
	<attribute name="unsignedShort" type="unsignedShort" />

	<!-- Top Level Simple Types with XML Schema reserved word names -->
	<simpleType name="anyURI">
		<restriction base="anyURI"></restriction>
	</simpleType>
	<simpleType name="boolean">
		<restriction base="boolean"></restriction>
	</simpleType>
	<simpleType name="byte">
		<restriction base="byte"></restriction>
	</simpleType>
	<simpleType name="date">
		<restriction base="date"></restriction>
	</simpleType>
	<simpleType name="dateTime">
		<restriction base="dateTime"></restriction>
	</simpleType>
	<simpleType name="decimal">
		<restriction base="decimal"></restriction>
	</simpleType>
	<simpleType name="double">
		<restriction base="double"></restriction>
	</simpleType>
	<simpleType name="duration">
		<restriction base="duration"></restriction>
	</simpleType>
	<simpleType name="ENTITIES">
		<restriction base="ENTITIES"></restriction>
	</simpleType>
	<simpleType name="ENTITY">
		<restriction base="ENTITY"></restriction>
	</simpleType>
	<simpleType name="float">
		<restriction base="float"></restriction>
	</simpleType>
	<simpleType name="gDay">
		<restriction base="gDay"></restriction>
	</simpleType>
	<simpleType name="gMonth">
		<restriction base="gMonth"></restriction>
	</simpleType>
	<simpleType name="gMonthDay">
		<restriction base="gMonthDay"></restriction>
	</simpleType>
	<simpleType name="gYear">
		<restriction base="gYear"></restriction>
	</simpleType>
	<simpleType name="gYearMonth">
		<restriction base="gYearMonth"></restriction>
	</simpleType>
	<simpleType name="hexBinary">
		<restriction base="hexBinary"></restriction>
	</simpleType>
	<simpleType name="ID">
		<restriction base="ID"></restriction>
	</simpleType>
	<simpleType name="IDREF">
		<restriction base="IDREF"></restriction>
	</simpleType>
	<simpleType name="IDREFS">
		<restriction base="IDREFS"></restriction>
	</simpleType>
	<simpleType name="int">
		<restriction base="int"></restriction>
	</simpleType>
	<simpleType name="integer">
		<restriction base="integer"></restriction>
	</simpleType>
	<simpleType name="language">
		<restriction base="language"></restriction>
	</simpleType>
	<simpleType name="long">
		<restriction base="long"></restriction>
	</simpleType>
	<simpleType name="Name">
		<restriction base="Name"></restriction>
	</simpleType>
	<simpleType name="NCName">
		<restriction base="NCName"></restriction>
	</simpleType>
	<simpleType name="negativeInteger">
		<restriction base="negativeInteger"></restriction>
	</simpleType>
	<simpleType name="NMTOKEN">
		<restriction base="NMTOKEN"></restriction>
	</simpleType>
	<simpleType name="NMTOKENS">
		<restriction base="NMTOKENS"></restriction>
	</simpleType>
	<simpleType name="nonNegativeInteger">
		<restriction base="nonNegativeInteger"></restriction>
	</simpleType>
	<simpleType name="nonPositiveInteger">
		<restriction base="nonPositiveInteger"></restriction>
	</simpleType>
	<simpleType name="normalizedString">
		<restriction base="normalizedString"></restriction>
	</simpleType>
	<simpleType name="positiveInteger">
		<restriction base="positiveInteger"></restriction>
	</simpleType>
	<simpleType name="QName">
		<restriction base="QName"></restriction>
	</simpleType>
	<simpleType name="short">
		<restriction base="short"></restriction>
	</simpleType>
	<simpleType name="string">
		<restriction base="string"></restriction>
	</simpleType>
	<simpleType name="time">
		<restriction base="time"></restriction>
	</simpleType>
	<simpleType name="token">
		<restriction base="token"></restriction>
	</simpleType>
	<simpleType name="unsignedByte">
		<restriction base="unsignedByte"></restriction>
	</simpleType>
	<simpleType name="unsignedInt">
		<restriction base="unsignedInt"></restriction>
	</simpleType>
	<simpleType name="unsignedLong">
		<restriction base="unsignedLong"></restriction>
	</simpleType>
	<simpleType name="unsignedShort">
		<restriction base="unsignedShort"></restriction>
	</simpleType>

	<!-- Top Level Complex Type with Elements with XML Schema reserved word names -->
	<complexType name="tmpItem">
		<sequence>
			<element name="anyURI" type="anyURI" />
			<element name="boolean" type="boolean" />
			<element name="byte" type="byte" />
			<element name="date" type="date" />
			<element name="dateTime" type="dateTime" />
			<element name="decimal" type="decimal" />
			<element name="double" type="double" />
			<element name="duration" type="duration" />
			<element name="ENTITIES" type="ENTITIES" />
			<element name="ENTITY" type="ENTITY" />
			<element name="float" type="float" />
			<element name="gDay" type="gDay" />
			<element name="gMonth" type="gMonth" />
			<element name="gMonthDay" type="gMonthDay" />
			<element name="gYear" type="gYear" />
			<element name="gYearMonth" type="gYearMonth" />
			<element name="hexBinary" type="hexBinary" />
			<element name="ID" type="ID" />
			<element name="IDREF" type="IDREF" />
			<element name="IDREFS" type="IDREFS" />
			<element name="int" type="int" />
			<element name="integer" type="integer" />
			<element name="language" type="language" />
			<element name="long" type="long" />
			<element name="Name" type="Name" />
			<element name="NCName" type="NCName" />
			<element name="negativeInteger" type="negativeInteger" />
			<element name="NMTOKEN" type="NMTOKEN" />
			<element name="NMTOKENS" type="NMTOKENS" />
			<element name="nonNegativeInteger" type="nonNegativeInteger" />
			<element name="nonPositiveInteger" type="nonPositiveInteger" />
			<element name="normalizedString" type="normalizedString" />
			<element name="positiveInteger" type="positiveInteger" />
			<element name="QName" type="QName" />
			<element name="short" type="short" />
			<element name="string" type="string" />
			<element name="time" type="time" />
			<element name="token" type="token" />
			<element name="unsignedByte" type="unsignedByte" />
			<element name="unsignedInt" type="unsignedInt" />
			<element name="unsignedLong" type="unsignedLong" />
			<element name="unsignedShort" type="unsignedShort" />
		</sequence>
	</complexType>

</schema>
