tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/XSDBOM_TLE14_ElementsWithTypeOutsideSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/referenced"
	xmlns:tns="http://www.example.org/referenced" elementFormDefault="qualified"
	xmlns:pref="http://www.example.org/root" xmlns:pref2="http://www.example.org/referenced2">

	<import namespace="http://www.example.org/root"
		schemaLocation="XSDBOM_TLE14_ElementsWithTypeOutsideSchema.xsd"></import>
	<import namespace="http://www.example.org/referenced2"
		schemaLocation="XSDBOM_TLE14_ElementsWithTypeOutsideSchema3.xsd"></import>

	<complexType name="referencedComplex">
		<sequence></sequence>
	</complexType>

	<simpleType name="referencedSimple">
		<restriction base="string"></restriction>
	</simpleType>

	<simpleType name="referencedEnum">
		<restriction base="string">
			<enumeration value="ENUMLIT"></enumeration>
			<enumeration value=" "></enumeration>
		</restriction>
	</simpleType>

	<element name="referencedElem" type="pref:rootComplex"></element>
	<element name="referencedElem2" type="pref:rootSimple"></element>
	<element name="referencedElem3" type="pref:rootEnum"></element>

	<element name="referencedElem4" type="pref2:referenced2Complex"></element>
	<element name="referencedElem5" type="pref2:referenced2Simple"></element>
	<element name="referencedElem6" type="pref2:referenced2Enum"></element>

</schema>