tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/XSDBOM_TLE15_ElementsWithTypeOutsideSchemaNonCircular3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://XSDBOM_TLE15_ElementsWithTypeOutsideSchemaNonCircular3"
	xmlns:tns="http://XSDBOM_TLE15_ElementsWithTypeOutsideSchemaNonCircular3" elementFormDefault="qualified">

	<complexType name="referenced2Complex">
		<sequence></sequence>
	</complexType>

	<simpleType name="referenced2Simple">
		<restriction base="string"></restriction>
	</simpleType>

	<simpleType name="referenced2Enum">
		<restriction base="string">
			<enumeration value="ENUMLIT"></enumeration>
		</restriction>
	</simpleType>
</schema>