tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/XSDBOM_TLE25_ElementsWithSubstitutionGroups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema"
	xmlns:es="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

	<element name="substitutionGroup" type="string" />
	<element name="substitutionElement" substitutionGroup="es:substitutionGroup" type="string" />
	
	<element name="substitutionElementNoType" substitutionGroup="es:substitutionGroup" />

	<element name="echoSubstitutionGroup">
		<complexType>
			<sequence>
				<element ref="es:substitutionGroup" />
			</sequence>
		</complexType>
	</element>
	
	<complexType name="myComplex">
		<sequence>
		</sequence>
	</complexType>
	
	<element name="substitutionGroup2" type="es:myComplex" />
	<element name="substitutionElement2" substitutionGroup="es:substitutionGroup2" type="es:myComplex" />
	
	
	
</schema>
