tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/XSDBOM_TLE09_NestedAnonymousTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM_TLE09_NestedAnonymousTypes"
	xmlns:tns="http://www.example.org/XSDBOM_TLE09_NestedAnonymousTypes"
	elementFormDefault="qualified">
	
	<!--
		Tests 3.10 as described in 'BDS Support for Handling - Studio BOM
		Import'.
	-->
	
	<element name="AnonymousNested">
		<complexType>
			<sequence>
				<element name="address">
					<complexType>
						<sequence>
							<element name="firstline" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element name="city" type="string"/>
				<element name="country" type="string"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="topElement">
		<complexType>
			<sequence>
				<element name="name" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="AnonymousNested2">
		<complexType>
			<sequence>
				<element name="address">
					<complexType>
						<sequence>
							<element name="firstline" type="string"/>
						</sequence>
					</complexType>
				</element>
				<element name="city" type="string"/>
				<element name="country" type="string"/>
			</sequence>
		</complexType>
	</element>
	
	
</schema>