tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.test/resources/SytemParticSharedResTest/SystemParticipantSharedResourceRuleTest/Service Descriptors/AddressLookupAppService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://com.tibco.addresslookup" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://com.tibco.addresslookup" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.tibco.addresslookup" tibex:src="file:/C:/Documents%20and%20Settings/bharge/Desktop/AddressLookupAppService.wsdl">
  <wsdl:message name="addressLookupResponse">
    <wsdl:part name="address" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addressLookupRequest">
    <wsdl:part name="zip_code" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
  	<wsdl:part name="NewOperationRequest" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="NewOperationResponse" type="xs:string"/>
  </wsdl:message>
  <wsdl:portType name="AddressLookupAppPort">
    <wsdl:operation name="addressLookup">
      <wsdl:input message="ns:addressLookupRequest">
    </wsdl:input>
      <wsdl:output message="ns:addressLookupResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NewPortType">
  	<wsdl:operation name="NewOperation">
  		<wsdl:input message="ns:NewOperationRequest"/>
  		<wsdl:output message="ns:NewOperationResponse"/>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressLookupAppBinding" type="ns:AddressLookupAppPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addressLookup">
      <soap:operation soapAction="addressLookup"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewBinding" type="ns:NewPortType">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="NewOperation">
  		<soap:operation soapAction="http://com.tibco.addresslookup/NewOperation"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressLookupAppService">
    <wsdl:port binding="ns:AddressLookupAppBinding" name="AddressLookupAppPort">
      <soap:address location="http://localhost:9090/axis2.war/services/AddressLookupAppService"/>
    </wsdl:port>
    <wsdl:port binding="ns:NewBinding" name="NewPort">
      <soap:address location="http://localhost:9090/axis2.war/services/AddressLookupAppService2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
