tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM35_SameNameEnumInTwoSchemas/MySimpWsdlForSR1-DWL75D.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/MySimpWsdlForSR1-DWL75D/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MySimpWsdlForSR1-DWL75D"
	xmlns:tns1="myschema.MyColor1" xmlns:tns2="myschema2.MyColor2"
	targetNamespace="http://www.example.org/MySimpWsdlForSR1-DWL75D/">
	<wsdl:types>



		<xsd:schema targetNamespace="myschema.MyColor1">
			<xsd:simpleType name="Color">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="red"></xsd:enumeration>
					<xsd:enumeration value="blue"></xsd:enumeration>
					<xsd:enumeration value="green"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="MyComplex">
				<xsd:sequence>
				<xsd:element name="colorelem" type="tns1:Color"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="comp2">
				<xsd:sequence>
					<xsd:element name="e1" type="tns1:MyComplex"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>		
			
		</xsd:schema>

		<xsd:schema targetNamespace="myschema2.MyColor2">
			<xsd:simpleType name="Color">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="red"></xsd:enumeration>
					<xsd:enumeration value="blue"></xsd:enumeration>
					<xsd:enumeration value="green"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="MyComplex">
				<xsd:sequence>
				<xsd:element name="colorelem" type="tns2:Color"></xsd:element>
				<xsd:element name="elem2" type="xsd:string"></xsd:element>			
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="comp2">
				<xsd:sequence>
					<xsd:element name="e1" type="tns2:MyComplex"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>		
			
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.example.org/MySimpWsdlForSR1-DWL75D/">
			<xsd:import namespace="myschema.MyColor1"></xsd:import>
			<xsd:import namespace="myschema2.MyColor2"></xsd:import>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="MySimpWsdlForSR1-DWL75D">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MySimpWsdlForSR1-DWL75DSOAP" type="tns:MySimpWsdlForSR1-DWL75D">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://www.example.org/MySimpWsdlForSR1-DWL75D/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MySimpWsdlForSR1-DWL75D">
		<wsdl:port binding="tns:MySimpWsdlForSR1-DWL75DSOAP" name="MySimpWsdlForSR1-DWL75DSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
