tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.credito.resources/Service Descriptors/CreditoAllineamentoBancheAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/abstract/integration/credito/allineamentoabicabservice.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/service/abstract/integrationfica/credito/allineamentoabicab" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/abstract/integrationfica/credito/allineamentoabicab">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/abstract/integration/credito/allineamentoabicab.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/abstract/integration/credito/allineamentoabicabservice.xsd">
            <xs:element name="CreazioneRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdRichiesta" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdMuti" type="xs:string"/>
                        <xs:element minOccurs="0" name="ABI_CAB" type="xs:string"/>
                        <xs:element minOccurs="0" name="NomeBanca" type="xs:string"/>
                        <xs:element minOccurs="0" name="Indirizzo" type="xs:string"/>
                        <xs:element minOccurs="0" name="Comune" type="xs:string"/>
                        <xs:element minOccurs="0" name="Provincia" type="xs:string"/>
                        <xs:element minOccurs="0" name="Denominazione" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreazioneResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Esito" type="xs:string"/>
                        <xs:element minOccurs="0" name="Codice" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EsitoCreazioneRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ABI_CAB" type="xs:string"/>
                        <xs:element minOccurs="0" name="NomeBanca" type="xs:string"/>
                        <xs:element minOccurs="0" name="Indirizzo" type="xs:string"/>
                        <xs:element minOccurs="0" name="Comune" type="xs:string"/>
                        <xs:element minOccurs="0" name="Provincia" type="xs:string"/>
                        <xs:element minOccurs="0" name="Denominazione" type="xs:string"/>
                        <xs:element minOccurs="0" name="Esito" type="xs:string"/>
                        <xs:element minOccurs="0" name="Codice" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="AllineamentoCabAbiPortType">
        <wsdl:operation name="Creazione">
            <wsdl:input message="tns:CreazioneRequest"/>
            <wsdl:output message="tns:CreazioneResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="CreazioneRequest">
        <wsdl:part element="ns0:CreazioneRequest" name="partBody"/>
    </wsdl:message>
    <wsdl:message name="CreazioneResponse">
        <wsdl:part element="ns0:CreazioneResponse" name="partBody"/>
    </wsdl:message>
</wsdl:definitions>
