tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.credito.resources/Service Descriptors/CreditoBpmServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://com.enel.mind.integration.CreditoBpmService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditoBpmServiceAbstract" targetNamespace="http://com.enel.mind.integration.CreditoBpmService" >
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.enel.mind.integration.CreditoBpmService">
      <xsd:element name="VerificaDimostratoPagamentoRequest">
        <xsd:complexType>
          <xsd:sequence>
		  
          	<xsd:element minOccurs="0" name="Documento" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Pagamento" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="ContoCorrente" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="IdProcessoBPM" type="xsd:string">
          	</xsd:element>
          			

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
	  
      <xsd:element name="VerificaDimostratoPagamentoResponse">
        <xsd:complexType>
          <xsd:sequence>

			<xsd:element minOccurs="0" name="NumeroCustomerAccount" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="ID_DIMPAG" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="ESITO" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="COD_ESITO" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="DESC_ESITO" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="TECNICO_ESITO" type="xsd:string">				</xsd:element>
			<xsd:element minOccurs="0" name="TECNICO_COD_ESITO" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="TECNICO_DESC_ESITO" type="xsd:string">          	</xsd:element>


          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="NotificaEsitoGestioneDunningRequest">
        <xsd:complexType>
          <xsd:sequence> 
		  
			<xsd:element minOccurs="0" name="IdBpm" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="IdFica" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="Esito" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="Codice" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="Descrizione" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="CodiceSMS" type="xsd:string">			</xsd:element>
			<xsd:element minOccurs="0" name="LinkSMS" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="IdCorrispondenza" type="xsd:string">          	</xsd:element>						
			<xsd:element minOccurs="0" name="IdSGPEC" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="Processo" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="TipoCanale" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="DataPEC" type="xsd:string">          	</xsd:element>
			<xsd:element minOccurs="0" name="CodiceEsito" type="xsd:string">          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
	  
	        <xsd:element name="NotificaEsitoGestioneDunningResponse">
        <xsd:complexType>
          <xsd:sequence>
		   	<xsd:element minOccurs="0" name="Esito" type="tns:EsitoType"/>
			<xsd:element minOccurs="0" name="IdBpm" type="xsd:string">          	</xsd:element>


          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
<xsd:complexType name="EsitoType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="esito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="codiceEsito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="tipoEsito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="1" name="sistemaSorgenteEsito" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VerificaDimostratoPagamentoRequest">
    <wsdl:part element="tns:VerificaDimostratoPagamentoRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="VerificaDimostratoPagamentoResponse">
    <wsdl:part element="tns:VerificaDimostratoPagamentoResponse" name="response"/>
  </wsdl:message>
  <wsdl:message name="NotificaEsitoGestioneDunningRequest">
    <wsdl:part element="tns:NotificaEsitoGestioneDunningRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="NotificaEsitoGestioneDunningResponse">
    <wsdl:part element="tns:NotificaEsitoGestioneDunningResponse" name="response"/>
  </wsdl:message>

  
  <wsdl:portType name="CreditoBpmServiceAbstract">
    <wsdl:operation name="VerificaDimostratoPagamento">
      <wsdl:input message="tns:VerificaDimostratoPagamentoRequest"/>
      <wsdl:output message="tns:VerificaDimostratoPagamentoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="NotificaEsitoGestioneDunning">
      <wsdl:input message="tns:NotificaEsitoGestioneDunningRequest"/>
      <wsdl:output message="tns:NotificaEsitoGestioneDunningResponse"/>
    </wsdl:operation>


	
	
	</wsdl:portType>


</wsdl:definitions>
