tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.credito.resources/Service Descriptors/VerificaBlackListServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://com.enel.mind.VerificaBlackList"  xmlns:ttns="http://mind.enel.com/verificablacklist" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://com.enel.mind.VerificaBlackList" >
  <wsdl:types>
    <xsd:schema xmlns="http://com.enel.mind.VerificaBlackList" targetNamespace="http://com.enel.mind.VerificaBlackList">
      <xsd:simpleType name="string_2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="VerificaBlackList_CodiceEsito" type="string_2"/>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="VerificaBlackList_CorrelationFieldDummy" type="string_50"/>
      <xsd:simpleType name="string_255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="VerificaBlackList_DescEsito" type="string_255"/>
      <xsd:element name="VerificaBlackList_Esito" type="string_255"/>
      <xsd:element name="VerificaBlackList_NomeProcedura" type="string_50"/>
      <xsd:element name="VerificaBlackList_SisRich" type="string_50"/>
      <xsd:simpleType name="string_15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="VerificaBlackList_SorgenteEsito" type="string_15"/>
      <xsd:simpleType name="string_100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="VerificaBlackList_errorCode" type="string_100"/>
      <xsd:simpleType name="string_4000">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4000"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="VerificaBlackList_errorDetail" type="string_4000"/>
      <xsd:simpleType name="integer_3">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="VerificaBlackList_errorMaxRetries" type="integer_3"/>
      <xsd:element name="VerificaBlackList_errorPerformer" type="string_50"/>
      <xsd:element name="VerificaBlackList_errorRetryCount" type="integer_3"/>
      <xsd:element name="VerificaBlackList_errorShortRetries" type="integer_3"/>
      <xsd:simpleType name="integer_9">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="VerificaBlackList_errorWaitLongDelayMin" type="integer_9"/>
      <xsd:element name="VerificaBlackList_errorWaitShortDelayMin" type="integer_9"/>
      <xsd:element name="VerificaBlackList_msgPayload" type="string_4000"/>
      <xsd:element name="VerificaBlackList_processId" type="string_50"/>
      <xsd:element name="VerificaBlackList_processName" type="string_100"/>
    </xsd:schema>
    <xsd:schema xmlns="http://mind.enel.com/verificablacklist" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://mind.enel.com/verificablacklist" targetNamespace="http://mind.enel.com/verificablacklist">
      <xsd:annotation>

      </xsd:annotation>
      <xsd:complexType name="DatiMasterVerificaBL">
        <xsd:sequence>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="IdRichiesta">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0" name="Canale">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="Operazione">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0" name="Sistema">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="TipoFlusso" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string"></xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="CDM_Cliente">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string"></xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>

        	<xsd:element name="SDM_VENDITA" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string"></xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="IdLinea" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string"></xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="Prodotto" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string"></xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="ModalitaPagamento" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string"></xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="IdTransazioneCanale" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"></xsd:restriction></xsd:simpleType></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VerificaBlackListInput">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="datiMasterVerficaBL" type="DatiMasterVerificaBL"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VerificaBlackListOutput">
        <xsd:sequence>
        	<xsd:element maxOccurs="1" minOccurs="0" name="esitoType"
        		type="EsitoType" />
        	<xsd:element maxOccurs="1" minOccurs="0" name="CDM_CLIENTE"><xsd:simpleType><xsd:restriction base="xsd:string"></xsd:restriction></xsd:simpleType></xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="macroCausale">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="SDM_VENDITA" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"></xsd:restriction></xsd:simpleType></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EsitoType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="datiMasterEsito" type="DatiMasterEsito"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DatiMasterEsito">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DatiMasterVerificaBLElement" type="DatiMasterVerificaBL"/>
      <xsd:element name="VerificaBlackListInputElement" type="VerificaBlackListInput"/>
      <xsd:element name="VerificaBlackListOutputElement" type="VerificaBlackListOutput"/>
      <xsd:element name="EsitoTypeElement" type="EsitoType"/>
      <xsd:element name="DatiMasterEsitoElement" type="DatiMasterEsito"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VerificaBlackList_VerificaBL_INPUT">
    <wsdl:part element="ttns:VerificaBlackListInputElement" name="request"/>
  </wsdl:message>
  <wsdl:message name="VerificaBlackList_VerificaBL_OUTPUT">
    <wsdl:part element="ttns:VerificaBlackListOutputElement" name="response"/>
  </wsdl:message>
  <wsdl:message name="VerificaBlackList_VerificaBL_GenericErrorEvent_fault">
    <wsdl:part element="ttns:VerificaBlackListOutputElement" name="response"/>
    <wsdl:part element="ns:VerificaBlackList_CodiceEsito" name="CodiceEsito"/>
    <wsdl:part element="ns:VerificaBlackList_CorrelationFieldDummy" name="CorrelationFieldDummy"/>
    <wsdl:part element="ns:VerificaBlackList_DescEsito" name="DescEsito"/>
    <wsdl:part element="ns:VerificaBlackList_Esito" name="Esito"/>
    <wsdl:part element="ns:VerificaBlackList_NomeProcedura" name="NomeProcedura"/>
    <wsdl:part element="ns:VerificaBlackList_SisRich" name="SisRich"/>
    <wsdl:part element="ns:VerificaBlackList_SorgenteEsito" name="SorgenteEsito"/>
    <wsdl:part element="ns:VerificaBlackList_errorCode" name="errorCode"/>
    <wsdl:part element="ns:VerificaBlackList_errorDetail" name="errorDetail"/>
    <wsdl:part element="ns:VerificaBlackList_errorMaxRetries" name="errorMaxRetries"/>
    <wsdl:part element="ns:VerificaBlackList_errorPerformer" name="errorPerformer"/>
    <wsdl:part element="ns:VerificaBlackList_errorRetryCount" name="errorRetryCount"/>
    <wsdl:part element="ns:VerificaBlackList_errorShortRetries" name="errorShortRetries"/>
    <wsdl:part element="ns:VerificaBlackList_errorWaitLongDelayMin" name="errorWaitLongDelayMin"/>
    <wsdl:part element="ns:VerificaBlackList_errorWaitShortDelayMin" name="errorWaitShortDelayMin"/>
    <wsdl:part element="ns:VerificaBlackList_msgPayload" name="msgPayload"/>
    <wsdl:part element="ns:VerificaBlackList_processId" name="processId"/>
    <wsdl:part element="ns:VerificaBlackList_processName" name="processName"/>
  </wsdl:message>
  <wsdl:portType name="VerificaBlackList" >
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="VerificaBL">
      <wsdl:input message="ns:VerificaBlackList_VerificaBL_INPUT" />
      <wsdl:output message="ns:VerificaBlackList_VerificaBL_OUTPUT" />
      <wsdl:fault message="ns:VerificaBlackList_VerificaBL_GenericErrorEvent_fault" name="GenericErrorEvent" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>