tbs-bpm/tests/com.tibco.xpd.wm.test.feature/plugins/com.tibco.xpd.validation.wm.test/resources/XPD2493UserDefPrimitveCoverage/XPD2493UserDefPrimitiveCoverage/Service Descriptors/TextTLE.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.example.org/TextTLE/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TextTLE" targetNamespace="http://www.example.org/TextTLE/" tibex:src="file:/C:/Users/bharge/Desktop/desktop_contents/WSDLs/TextTLE.wsdl">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/TextTLE/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" ref="tns:resource"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourceinteger"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourceboolean"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourcedecimal"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourcetime"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourcedate"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourcedatetime"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourcedatetimetimezone"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourceduration"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourceid"/>
						<xsd:element maxOccurs="unbounded" ref="tns:resourceuri"/>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resource" type="xsd:string"/>
			<xsd:element name="resourceinteger" type="xsd:integer"/>
			<xsd:element name="resourceboolean" type="xsd:boolean"/>
			<xsd:element name="resourcedecimal" type="xsd:decimal"/>
			<xsd:element name="resourcetime" type="xsd:time"/>
			<xsd:element name="resourcedate" type="xsd:date"/>
			<xsd:element name="resourcedatetime" type="xsd:dateTime"/>
			<xsd:element name="resourcedatetimetimezone" type="xsd:dateTime"/>
			<xsd:element name="resourceduration" type="xsd:duration"/>
			<xsd:element name="resourceid" type="xsd:ID"/>
			<xsd:element name="resourceuri" type="xsd:anyURI"/>
			
			
		
			<xsd:simpleType name="resourceInt">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="TextTLE">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest"/>
			<wsdl:output message="tns:NewOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TextTLESOAP" type="tns:TextTLE">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/TextTLE/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TextTLE">
		<wsdl:port binding="tns:TextTLESOAP" name="TextTLESOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
