tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XSDBOM09_ComplexTypeCompositionElementTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://businessobjectmodel" xmlns:tns1="http://businessobjectmodel" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM09_ComplexTypeCompositionElementTransformationTest/Business Objects/businessobjectmodel.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="file2" id="businessobjectmodelfile2" abstract="false"
      mixed="false" name="file2">
    <xsd:attribute ecore:name="id" id="file2id" form="unqualified" name="id" type="xsd:integer"
        use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="concept2" id="businessobjectmodelconcept2" abstract="false"
      mixed="false" name="concept2">
    <xsd:sequence>
      <xsd:element ecore:name="file" id="concept2file" form="unqualified" maxOccurs="1"
          minOccurs="1" name="file" type="file2"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="id" id="concept2id" form="unqualified" name="id" type="xsd:integer"
        use="required"/>
    <xsd:attribute ecore:name="name" id="concept2name" form="unqualified" name="name"
        type="xsd:string" use="optional"/>
  </xsd:complexType>
</xsd:schema>