tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-group/XSDBOM_Group03_Multiplicity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM_Group03_Multiplicity"
	xmlns:tns="http://www.example.org/XSDBOM_Group03_Multiplicity"
	elementFormDefault="qualified">

	<group name="groupA">
		<sequence>
			<element name="groupAElem1" type="string"></element>			
		</sequence>
	</group>	

	<complexType name="PersonDetails">
		<sequence>
			<group ref="tns:groupA" minOccurs="2" maxOccurs="5"></group>						
		</sequence>		
	</complexType>




</schema>