tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-group/XSDBOM_Group01B_SimpleGroup_ImportedSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM_Group01B_SimpleGroup_ImportedSchema"
	xmlns:tns="http://www.example.org/XSDBOM_Group01B_SimpleGroup_ImportedSchema"
	elementFormDefault="qualified">

	<group name="detailsGroup">
		<sequence>
			<element name="firstname" type="string" />
			<element name="surname" type="string" />
			<element name="email" type="string" />
		</sequence>

	</group>

</schema>