tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd-any/gold/wizard/XSDBOM_Any08_AnyTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/NewXMLSchema2" xmlns:tns1="http://www.example.org/NewXMLSchema2"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/NewXMLSchema2">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/fsdfsd/Business Objects/XSDBOM_Any08_AnyTypes.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="org.example.NewXMLSchema2customer" abstract="false" mixed="false"
      name="customer">
    <xsd:sequence>
      <xsd:element id="customeranyElem3" form="qualified" maxOccurs="1" minOccurs="1"
          name="anyElem3" type="xsd:anyType"/>
      <xsd:element id="customeranyElem4" form="qualified" maxOccurs="1" minOccurs="1"
          name="anyElem4" type="xsd:anyType"/>
    </xsd:sequence>
    <xsd:attribute id="customeranyAttr7" form="unqualified" name="anyAttr7" use="optional"/>
  </xsd:complexType>
  <xsd:attribute name="topAttr"/>
  <xsd:element abstract="false" name="topElem" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="topElem2" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="topCustomer" nillable="false">
    <xsd:complexType id="org.example.NewXMLSchema2topCustomerType" mixed="false">
      <xsd:sequence>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="anyElem" type="xsd:anyType"/>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="anyElem2"
            type="xsd:anyType"/>
      </xsd:sequence>
      <xsd:attribute id="topCustomerTypeanyAttr3" form="unqualified" name="anyAttr3"
          use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>