tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC6GTLENameClashes/Service Descriptors/NameClashes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://example.com/NameClashes" targetNamespace="http://example.com/NameClashes">
	<xs:complexType name="MatchingElementsButCase">
		<xs:sequence>
			<xs:element name="attr1" type="xs:string"/>
			<xs:element name="Attr1" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatchingElementAndAttribute">
		<xs:sequence>
			<xs:element name="clash" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="clash" type="xs:int"/>
	</xs:complexType>
</xs:schema>
