tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC6GTLENameClashes/Service Descriptors/UsingNameClashes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns1="http://example.com/NameClashes" xmlns:tns="http://www.example.org/UsingNameClashes/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsingNameClashes" targetNamespace="http://www.example.org/UsingNameClashes/">
    <wsdl:types>   
	    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/UsingNameClashes/">
			<xsd:import namespace="http://example.com/NameClashes" schemaLocation="NameClashes.xsd" />
            <xsd:complexType name="opEl">			
                <xsd:sequence>	
                    <xsd:element name="matchingElementsButCase" type="ns1:MatchingElementsButCase" />
                    <xsd:element name="matchingElAndAttrib" type="ns1:MatchingElementAndAttribute" />
                </xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
	</wsdl:types>
    <wsdl:message name="NewOperationRequest">
		<wsdl:part name="matchingElAndAttrib" type="ns1:MatchingElementAndAttribute"/>
		<wsdl:part name="matchingElementsButCase" type="ns1:MatchingElementsButCase"/>
	</wsdl:message>
    <wsdl:message name="NewOperationResponse">
    	<wsdl:part name="op" type="tns:opEl"/>
    </wsdl:message>
    <wsdl:portType name="OpNameClasp">
    	<wsdl:operation name="NewOperation">
    		<wsdl:input message="tns:NewOperationRequest"></wsdl:input>
    		<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType></wsdl:definitions>
