tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources-ABPM-702/xsd/14_xsd-group/XSDBOM_Group01C_SimpleGroup_IncludedSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM_Group01C_SimpleGroup_IncludeGroup"
	xmlns:tns="http://www.example.org/XSDBOM_Group01C_SimpleGroup_IncludeGroup"
	elementFormDefault="qualified">

	<group name="detailsGroup">
		<sequence>
			<element name="firstname" type="string" />
			<element name="surname" type="string" />
			<element name="email" type="string" />
		</sequence>
	</group>



</schema>