tbs-bpm/tests/com.tibco.xpd.sce.test.feature/plugins/com.tibco.xpd.sce.test/resources/ImportMigrationTests/ProjectMigrationTest_Process/.bom2Xsd/org.example.Invoke.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.example.org/Invoke/" xmlns:tns1="http://www.example.org/Invoke/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.example.org/Invoke/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/ProjectMigrationTest_Process/Generated Business Objects/org.example.Invoke.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="NewOperation" nillable="false">
    <xsd:complexType ecore:name="NewOperationType" id="org.example.InvokeNewOperationType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
        <xsd:element ecore:name="newElement" form="unqualified" maxOccurs="1" minOccurs="1"
            name="NewElement" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationResponse" nillable="false">
    <xsd:complexType ecore:name="NewOperationResponseType" id="org.example.InvokeNewOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
        <xsd:element ecore:name="newElement" form="unqualified" maxOccurs="1" minOccurs="1"
            name="NewElement" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationFault" nillable="false">
    <xsd:complexType ecore:name="NewOperationFaultType" id="org.example.InvokeNewOperationFaultType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="newOperationFault" form="unqualified" maxOccurs="1"
            minOccurs="1" name="NewOperationFault" type="xsd:string"/>
        <xsd:element ecore:name="newElement" form="unqualified" maxOccurs="1" minOccurs="1"
            name="NewElement" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>