tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM28_GenerateXsdForAttributeTypeDoubleTest/gold/builder/org.example.math.types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.org/math/types/" xmlns:tns3="http://example.org/math/types/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/math/types/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/k2/Generated Business Objects/org.example.math.types.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="MathInput" id="org.example.math.typesMathInput" abstract="false"
      mixed="false" name="MathInput">
    <xsd:sequence>
      <xsd:element ecore:name="x" id="MathInputx" form="unqualified" maxOccurs="1"
          minOccurs="1" name="x" type="tns3:double_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="y" id="MathInputy" form="unqualified" maxOccurs="1"
          minOccurs="1" name="y" type="tns3:double_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="description" id="MathInputdescription" form="unqualified"
          maxOccurs="5" minOccurs="0" name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="MathOutput" id="org.example.math.typesMathOutput" abstract="false"
      mixed="false" name="MathOutput">
    <xsd:sequence>
      <xsd:element ecore:name="result" id="MathOutputresult" form="unqualified" maxOccurs="1"
          minOccurs="1" name="result" type="tns3:double_StudioGeneratedTemplate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="double_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-179.76931348623157E+306"/>
      <xsd:maxInclusive value="179.76931348623157E+306"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="Subtract" nillable="false" type="MathInput"/>
  <xsd:element abstract="false" name="SubtractResponse" nillable="false" type="MathOutput"/>
  <xsd:element abstract="false" name="Multiply" nillable="false" type="MathInput"/>
  <xsd:element abstract="false" name="MultiplyResponse" nillable="false" type="MathOutput"/>
</xsd:schema>