tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/XSDBOM31_ComplexTypeWithMixedConstruct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/TLEWithComplexType"
	xmlns:tns="http://www.example.org/TLEWithComplexType"
	elementFormDefault="qualified">

	<xsd:element name="MyTLE1">
		<xsd:complexType mixed="false">
			<xsd:sequence>
				<xsd:element name="e1" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="Base" mixed="true">
		<xsd:sequence>
			<xsd:element name="baseele1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="MyTLE3">
		<xsd:complexType>
			<xsd:complexContent mixed="true">
			 	<xsd:extension base="tns:Base">
			 		<xsd:sequence>
			 			<xsd:element name="subelem1"></xsd:element>
			 		</xsd:sequence>
			 	</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="MyTLE4">
		<xsd:complexType mixed="true">
			<xsd:complexContent >
			 	<xsd:extension base="tns:Base">
			 		<xsd:sequence>
			 			<xsd:element name="subelem1"></xsd:element>
			 		</xsd:sequence>
			 	</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="MyTLE2">	
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:element name="e1" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>