tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTest" xmlns:tns="http://www.example.org/XSDBOM35_SimilarComplesTypeAndAttributeNameReferencingComplexTypeTransformationTest" elementFormDefault="qualified">
	
	<xsd:complexType name="Customer">
		<xsd:sequence>
			<xsd:element name="Customer" type="tns:Person"></xsd:element>
			<xsd:element name="Contract" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"></xsd:element>
			<xsd:element name="address" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>