tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/09_xsd-all/XSDBOM_All03_NestedAnonComplexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/XSDBOM_All03_NestedAnonComplexType"
	xmlns:tns="http://www.example.org/XSDBOM_All03_NestedAnonComplexType"
	elementFormDefault="qualified">

	<complexType name="myComplex">
		<all minOccurs="0">
			<element name="attr1">
				<complexType>
					<all minOccurs="0" maxOccurs="1">
						<element name="attr2" type="string"></element>
					</all>
				</complexType>
			</element>
		</all>
	</complexType>

</schema>