tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/09_xsd-all/XSDBOM_All04_ComplexContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/XSDBOM_All04_ComplexContent"
	xmlns:tns="http://www.example.org/XSDBOM_All04_ComplexContent"
	elementFormDefault="qualified">

	<complexType name="topLevelComplex">
		<all>
		</all>
	</complexType>

	<element name="topLevelElem">
		<complexType>
			<complexContent>
				<extension base="tns:topLevelComplex">
					<all minOccurs="0" maxOccurs="1">
						<element name="attr2" type="string"></element>
					</all>
				</extension>
			</complexContent>
		</complexType>
	</element>

</schema>