tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM53_BOMGenFor_XPD5145/goldXsds/org.example.MySimpWsdlForSR1.DWL75D.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/MySimpWsdlForSR1-DWL75D/" xmlns:tns3="http://www.example.org/MySimpWsdlForSR1-DWL75D/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/MySimpWsdlForSR1-DWL75D/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD-5145/Generated Business Objects/org.example.MySimpWsdlForSR1.DWL75D.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="NewOperation" nillable="false">
    <xsd:complexType ecore:name="NewOperationType" id="org.example.MySimpWsdlForSR1.DWL75DNewOperationType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationResponse" nillable="false">
    <xsd:complexType ecore:name="NewOperationResponseType" id="org.example.MySimpWsdlForSR1.DWL75DNewOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>