tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM19_SchemasWithNoTargetNamespaceTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.amsbqa.com/linda13/Joshua13"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.amsbqa.com/linda13/Joshua13"
	xmlns:xsd1="http://www.amsbqa.com/linda13/XSD2Define_Types13">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import
				namespace="http://www.amsbqa.com/linda13/XSD2Define_Types13"
				schemaLocation="WSDLBOM19_SchemasWithNoTargetNamespaceTest.xsd">
			</xsd:import>	
			<xsd:complexType name="cls1">
			<xsd:sequence>
			<xsd:element name="attr1" type="xsd:boolean"> </xsd:element>
			</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="topElem1" type="xsd:boolean">
			
			</xsd:element>
				
		</xsd:schema>
		
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import
				namespace="http://www.amsbqa.com/linda13/XSD2Define_Types13"
				schemaLocation="WSDLBOM19_SchemasWithNoTargetNamespaceTest.xsd">
			</xsd:import>	
			<xsd:complexType name="cls2">
			<xsd:sequence>
			<xsd:element name="attr2" type="xsd:boolean"> </xsd:element>
			</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="topElem2" type="xsd:boolean">
			
			</xsd:element>					
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="xsd1:Library" name="information" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="result" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:portType name="TopONE">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType></wsdl:definitions>
