tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM02_OperationWithInputsAndOutput.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns="http://example.com/businessobjectmodel" xmlns:businessobjectmodel="http://example.com/businessobjectmodel"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/businessobjectmodel">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/businessobjectmodel">
      <xsd:annotation>
        <xsd:documentation>BOMORIGIN::/fds/Business Objects/OperationWithInputsAndOutput.bom</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType id="_NvU0kCmcEd6uG8m8YoWBeg" name="InputPrimitiveType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType id="_8pcjoCmZEd6uG8m8YoWBeg" name="ClassC"/>
      <xsd:complexType id="_N8j_UCmcEd6uG8m8YoWBeg" name="InputClass"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClassC_operation1_outputMessage">
    <wsdl:part name="operation1_outputPart" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="ClassC_operation1_inputMessage">
    <wsdl:part name="param1" type="xsd:string"/>
    <wsdl:part name="param2" type="businessobjectmodel:InputClass"/>
    <wsdl:part name="param3" type="businessobjectmodel:InputPrimitiveType"/>
  </wsdl:message>
  <wsdl:portType name="ClassC">
    <wsdl:operation name="operation1">
      <wsdl:input message="businessobjectmodel:ClassC_operation1_inputMessage" name="operation1_inputMessage"/>
      <wsdl:output message="ClassC_operation1_outputMessage" name="operation1_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>