tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-choice/XSDBOM_Choice05_NestedChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/NestedChoice" targetNamespace="http://example.com/NestedChoice">
	<xs:complexType name="Plane">
		<xs:choice>
			<xs:element name="freightDetails" type="xs:string"/>
			<xs:element name="passengers" type="xs:int"/>
			<xs:choice>
				<xs:element name="engineType" type="xs:string"/>
				<xs:element name="engineName" type="xs:string"/>
			</xs:choice>
		</xs:choice>
	</xs:complexType>
</xs:schema>
