tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDLCoverageAMXBPM/WSDL26/services/FirstImportSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://tibco.com/amx/integration/test/wsdl/porttype"
	 xmlns:ns0="http://tibco.com/amx/integration/test/xsd/secondimportschema"
	 targetNamespace="http://tibco.com/amx/integration/test/wsdl/porttype"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://tibco.com/amx/integration/test/xsd/secondimportschema" schemaLocation="SecondImportSchema.xsd"/>
	<xs:include schemaLocation="FirstIncludeSchema.xsd"/>
	<xs:simpleType name="ST_String">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Integer">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Numeric">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Boolean">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="ST_DateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Binary">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="ST_URI">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Any">
		<xs:list itemType="xs:anySimpleType"/>
	</xs:simpleType>
	<xs:element name="String" type="xs:string"/>
	<xs:element name="Integer" type="xs:int"/>
	<xs:element name="Binary" type="xs:base64Binary"/>
	<xs:element name="Numeric" type="xs:double"/>
	<xs:element name="URI" type="xs:anyURI"/>
	<xs:element name="DateTime" type="xs:dateTime"/>
	<xs:element name="Boolean" type="xs:boolean"/>
	<xs:complexType name="CT_String">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CT_Integer">
		<xs:simpleContent>
			<xs:extension base="xs:int"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CT_Binary">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CT_Numeric">
		<xs:simpleContent>
			<xs:extension base="xs:double"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CT_URI">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CT_DateTime">
		<xs:simpleContent>
			<xs:extension base="xs:dateTime"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CT_Boolean">
		<xs:simpleContent>
			<xs:extension base="xs:boolean"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="CE_String">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="String"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CE_Integer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CE_Binary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Binary"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CE_Numeric">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Numeric"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CE_URI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="URI"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CE_DateTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CE_Boolean">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SE_String" type="ST_String"/>
	<xs:element name="SE_Integer" type="ST_Integer"/>
	<xs:element name="SE_Binary" type="ST_Binary"/>
	<xs:element name="SE_Numeric" type="ST_Numeric"/>
	<xs:element name="SE_URI" type="ST_URI"/>
	<xs:element name="SE_DateTime" type="ST_DateTime"/>
	<xs:element name="SE_Boolean" type="ST_Boolean"/>
	<xs:element name="SE_Any" type="ST_Any"/>
	<xs:element name="CE_PurchaseOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:CE_OrderInfo"/>
				<xs:element ref="ns0:CE_BillingAddress"/>
				<xs:element ref="ns0:CE_ShippingAddress"/>
				<xs:element ref="ns0:PurchaseDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CE_PurchaseOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:CE_OrderInfo"/>
				<xs:element ref="ns0:TotalPrice"/>
				<xs:element ref="ns0:CE_BillingAddress"/>
				<xs:element ref="ns0:CE_ShippingAddress"/>
				<xs:element ref="ns0:PurchaseDate"/>
				<xs:element ref="ns0:ShippingDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CE_FaultMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FaultCode"/>
				<xs:element ref="FaultString"/>
				<xs:element ref="FaultActor"/>
				<xs:element ref="Detail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FaultCode" type="xs:string"/>
	<xs:element name="FaultString" type="xs:string"/>
	<xs:element name="FaultActor" type="xs:string" nillable="true"/>
	<xs:element name="Detail" type="xs:string"/>
</xs:schema>