tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM53_BOMGenFor_XPD5145/goldXsds/myschema.MyColor2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="myschema.MyColor2" xmlns:tns2="myschema.MyColor2" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="myschema.MyColor2">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD-5145/Generated Business Objects/myschema.MyColor2.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="Color2" id="myschema.MyColor2Color2" name="Color2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="RED" value="red"/>
      <xsd:enumeration ecore:name="BLUE" value="blue"/>
      <xsd:enumeration ecore:name="GREEN" value="green"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="MyComplex" id="myschema.MyColor2MyComplex" abstract="false"
      mixed="false" name="MyComplex">
    <xsd:sequence>
      <xsd:element ecore:name="colorelem" id="MyComplexcolorelem2" form="unqualified"
          maxOccurs="1" minOccurs="1" name="colorelem" type="tns2:Color2"/>
      <xsd:element ecore:name="elem2" id="MyComplexelem2" form="unqualified" maxOccurs="1"
          minOccurs="1" name="elem2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="comp2" id="myschema.MyColor2comp2" abstract="false"
      mixed="false" name="comp2">
    <xsd:sequence>
      <xsd:element ecore:name="e1" id="comp2e12" form="unqualified" maxOccurs="1"
          minOccurs="1" name="e1" type="MyComplex"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>