tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/XSDBOM_TLE19_ChainLink1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://XSDBOM_TLE19_ChainLink"
	 elementFormDefault="qualified"
	xmlns:link2="http://XSDBOM_TLE19_ChainLink2">

	<import namespace="http://XSDBOM_TLE19_ChainLink2"
		schemaLocation="XSDBOM_TLE19_ChainLink2.xsd"></import>

	<complexType name="rootComplex">
		<sequence>
			<element name="elem" type="string"></element>
		</sequence>
	</complexType>

	<simpleType name="rootSimple">
		<restriction base="string"></restriction>
	</simpleType>

	<simpleType name="rootEnum">
		<restriction base="string">
			<enumeration value="ENUMLIT"></enumeration>
		</restriction>
	</simpleType>

	<element name="rootElem" type="link2:referencedComplex"></element>
	<element name="rootElem2" type="link2:referencedSimple"></element>
	<element name="rootElem3" type="link2:referencedEnum"></element>
</schema>