tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/XSDBOM_TLE16_DuplicateElementNamesWithComplexAndSimpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema"
	xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

	<xsd:complexType name="Elem1">
		<xsd:sequence>
			<xsd:element name="elem3" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="Elem2">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Elem3">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ENUMLIT1" />
			<xsd:enumeration value="ENUMLIT2" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Elem4">
		<xsd:simpleContent>
			<xsd:extension base="xsd:boolean"></xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:element name="topElem1">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="tns:Elem1">
					<xsd:sequence>
						<xsd:element name="elem1" type="xsd:string"></xsd:element>
						<xsd:element name="elem2" type="xsd:string"></xsd:element>
					</xsd:sequence>
					<xsd:attribute name="attr1" type="xsd:boolean"></xsd:attribute>
					<xsd:attribute name="attr2" type="xsd:boolean"></xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Elem2">
		<xsd:simpleType>
			<xsd:restriction base="tns:Elem2" />
		</xsd:simpleType>
	</xsd:element>

	<xsd:element name="Elem3">
		<xsd:simpleType>
			<xsd:restriction base="tns:Elem3" />
		</xsd:simpleType>
	</xsd:element>

	<xsd:element name="topElem4">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="tns:Elem4"></xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>