tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/migrated/brm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/brm" xmlns:tns="http://www.example.org/brm"
	elementFormDefault="qualified">
	
	<xs:include schemaLocation="brmdto.xsd"></xs:include>
	
	<xs:element name="getWorkListItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entityID" type="xs:string">
				</xs:element>
				<xs:element name="orderFilterCriteria" type="xs:string" minOccurs="0">
				</xs:element>
			</xs:sequence>
			<xs:attribute name="startPosition" type="xs:long" use="required">
			</xs:attribute>
			<xs:attribute name="numberOfItems" type="xs:long" use="required">
			</xs:attribute>
			<xs:attribute name="getTotalCount" type="xs:boolean" use="optional" default="true">
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="getWorkListItemsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="startPosition" type="xs:long">
				</xs:element>
				<xs:element name="endPosition" type="xs:long">
				</xs:element>
				<xs:element name="totalItems" type="xs:long">
				</xs:element>
				<xs:element name="workItems" type="tns:WorkItem" minOccurs="0" maxOccurs="unbounded">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
</xs:schema>