tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/wsdl/gold/wizard/XSDBOM_TLE1_ClashingNamespaceDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/schemas/CreateExamples/Schema.xsd" xmlns:tns1="http://www.tibco.com/schemas/CreateExamples/Schema.xsd"
    xmlns:tns2="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.tibco.com/schemas/CreateExamples/Schema.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/fromBWImportExample/Generated Business Objects/com.tibco.schemas.create.examples.schema.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2"
      schemaLocation="XSDBOM_TLE1_ClashingNamespaceDefinitions2.xsd"/>
  <xsd:element abstract="false" name="int1" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="str1" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="root" nillable="false">
    <xsd:complexType id="com.tibco.schemas.create.examples.schema_root_Type" mixed="false">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" ref="str1"/>
        <xsd:element maxOccurs="1" minOccurs="1" ref="int1"/>
        <xsd:element maxOccurs="1" minOccurs="1" ref="tns2:dec1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>