tbs-bpm/AcceptanceTests/PreCompiledSamples/BpmWithItsOwnBomAndWsdl/.precompiled/bom2Xsd/org.example.WSDLInBpm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/WSDLInBpm/" xmlns:tns2="http://www.example.org/WSDLInBpm/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/WSDLInBpm/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/BpmWithItsOwnBomAndWsdl/Generated Business Objects/org.example.WSDLInBpm.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="NewOperation" nillable="false">
    <xsd:complexType ecore:name="NewOperationType" id="org.example.WSDLInBpmNewOperationType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationResponse" nillable="false">
    <xsd:complexType ecore:name="NewOperationResponseType" id="org.example.WSDLInBpmNewOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>