tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/10_xsd-any/XSDBOM_Any02_NestedSequence.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com"
	elementFormDefault="qualified">

	<xs:complexType name="person">
		<xs:sequence>
			<xs:element name="firstname" type="xs:string" />
			<xs:element name="lastname" type="xs:string" />
			<xs:any minOccurs="1" maxOccurs="1" />
			<xs:sequence>
				<xs:any minOccurs="0" />
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>

</xs:schema>