tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/10_xsd-any/XSDBOM_Any08_AnyTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema2"
	xmlns:ns0="http://www.example.org/NewXMLSchema2" xmlns:tns="http://www.example.org/NewXMLSchema2"
	elementFormDefault="qualified">

	<element name="topCustomer">
		<complexType>
			<sequence>
				<element name="anyElem" />
				<element name="anyElem2" type="anyType" />					
			</sequence>
			<attribute name="anyAttr3"></attribute>			
		</complexType>
	</element>

	<complexType name="customer">
		<sequence>
			<element name="anyElem3" />			
			<element name="anyElem4" type="anyType" />
		</sequence>
		<attribute name="anyAttr7"></attribute>
	</complexType>
	
	<attribute name="topAttr" />
	
	<element name="topElem" />
	
	<element name="topElem2" type="anyType" />
</schema>