tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDL-AMXBPM-API/WSDL05/services/df-payload.xsd

<!-- edited with XMLSpy v2011 (x64) (http://www.altova.com) by Joe Humphries (Tibco Software Limited) -->
<xs:schema xmlns="http://datafeed.common.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dm="http://datamodel.common.n2.tibco.com" targetNamespace="http://datafeed.common.n2.tibco.com" version="1.0">
	<xs:import namespace="http://datamodel.common.n2.tibco.com" schemaLocation="datamodel.xsd"/>
	<xs:complexType name="dataPayload">
		<xs:annotation>
			<xs:documentation>Payload data.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="serializedPayload" type="xs:string">
				<xs:annotation>
					<xs:documentation>JSON data stream (string).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XmlPayload" type="dm:DataModel">
				<xs:annotation>
					<xs:documentation>XML data stream (DataModel).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="payloadMode" type="payloadModeType" default="JSON">
			<xs:annotation>
				<xs:documentation>Enumerated value defining the format of the data payload (JSON or XML).

If not specified, the default value is JSON.

(RSS is currently not supported.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="payloadModeType">
		<xs:annotation>
			<xs:documentation>Enumerated value defining the available payload formats. (RSS is currently not supported.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="XML"/>
			<xs:enumeration value="JSON"/>
			<xs:enumeration value="RSS"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
