tbs-core/tests/com.tibco.sce.services.test.feature/plugins/com.tibco.xpd.services.test/wsdlImportTestFiles/uddiclient-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema id="uddiclient-core"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    targetNamespace="http://systinet.com/uddi/uddiclient-core/5.0"
    xmlns:uddiClient="http://systinet.com/uddi/uddiclient-core/5.0"
    version="1.00">
    <!--
        Copyright 2001-2005 Systinet Corp. All rights reserved.
        Use is subject to license terms.
    -->
    <xsd:element name="errorReport" type="uddiClient:errorReport" final="restriction"/>
    <xsd:complexType name="errorReport" final="restriction">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="optional" />
                <xsd:attribute name="errorCode" type="xsd:int" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:element name="listDescription" type="uddiClient:listDescription" final="restriction"/>
    <xsd:complexType name="listDescription" final="restriction">
        <xsd:sequence>
            <xsd:element ref="uddiClient:includeCount"/>
            <xsd:element ref="uddiClient:actualCount"/>
            <xsd:element ref="uddiClient:listHead"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="includeCount" type="xsd:int" final="restriction"/>
    <xsd:element name="actualCount" type="xsd:int" final="restriction"/>
    <xsd:element name="listHead" type="xsd:int" final="restriction"/>

</xsd:schema>
