tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.test/resources/RESTServiceTest/UC12_RESTServiceForActivities/Service Descriptors/RequestReplyWSDLrpcLiteral.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/RequestReplyWSDLrpcLiteral/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestReplyWSDLrpcLiteral" targetNamespace="http://www.example.org/RequestReplyWSDLrpcLiteral/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/RequestReplyWSDLrpcLiteral/">
	<xsd:complexType name="compType">
		<xsd:sequence>
			<xsd:element name="NewElement" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType></xsd:schema></wsdl:types>
    <wsdl:message name="NewOperationRequest">
    <wsdl:part name="p1" type="tns:compType" />
    <wsdl:part name="p2" type="xsd:anySimpleType"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part name="p1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="RequestReplyWSDLrpcLiteral">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequestReplyWSDLrpcLiteralSOAP" type="tns:RequestReplyWSDLrpcLiteral">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/RequestReplyWSDLrpcLiteral/NewOperation"/>
      <wsdl:input>
        <soap:body namespace="http://www.example.org/RequestReplyWSDLrpcLiteral/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.example.org/RequestReplyWSDLrpcLiteral/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestReplyWSDLrpcLiteral">
    <wsdl:port binding="tns:RequestReplyWSDLrpcLiteralSOAP" name="RequestReplyWSDLrpcLiteralSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
