tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC8_03/Service Descriptors/profile/AirlineUserProfileL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tns="http://www.amsbqa.com/linda08/WSDLEmbedSchema1/Schema1IncludeSchema2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.amsbqa.com/linda08/WSDLEmbedSchema1/Schema1IncludeSchema2">
	<xsd:complexType name="FrequentFlier">
		<xsd:sequence>
			<xsd:element name="airline" type="xsd:string"/>
			<xsd:element name="freqFlierNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
