tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC4FEmbedsSchemaSchemaDefinesType/Service Descriptors/Atomic_XSD_Define_Types.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.amsbqa.uc4f.com/linda01/XSDDefineTypes/types" xmlns:ns2="http://www.amsbqa.uc4f.com/linda01/XSDDefineTypes/types" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.amsbqa.uc4f.com/linda01/XSDDefineTypes/WSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.amsbqa.uc4f.com/linda01/XSDDefineTypes/WSDL" tibex:src="file:/C:/Users/nsutton/Desktop/Refactored%20WSDL%20tests/01/elements-eliminated/Atomic_XSD_Define_Types.wsdl">
    <types>
 		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.amsbqa.uc4f.com/linda01/XSDDefineTypes/types">
            <xsd:complexType name="AirlinePreference">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="seating" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="mealType" type="xsd:integer"/>
                    <xsd:element minOccurs="0" name="specialRequest" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
           <xsd:complexType name="otherStuff">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="mealFirst" type="xsd:integer"/>
                    <xsd:element minOccurs="0" name="mealSecond" type="xsd:integer"/>
                    <xsd:element minOccurs="0" name="secondSpecialReq" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="screenSize" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
 	<message name="Test1">
		<part name="part1" type="ns2:AirlinePreference"/>
	</message>
 	<message name="Test2">
		<part name="part1" type="ns2:otherStuff"/>
	</message>
	<message name="Error">
		<part name="part1" type="xsd:string"/>
	</message>
	<portType name="AtomicRPT">
		<operation name="BaseInfo">
			<input message="tns:Test1"/>
			<output message="tns:Test2"/>
			<fault message="tns:Error" name="fault1"/>
		</operation>
	</portType>
</definitions>
