tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.sce.n2.mappings.validation.test/resources/WSEndPointRequiredTest/XPD935/Service Descriptors/ServiceTasks-Generated.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_HwfEsJDZEd-UstBb4a1IHA_ServiceTask2__BzY3UJDdEd-UstBb4a1IHA" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns1="http://example.com/testbom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestPackage" targetNamespace="http://www.tibco.com/bs3.0/_HwfEsJDZEd-UstBb4a1IHA_ServiceTask2__BzY3UJDdEd-UstBb4a1IHA" tibex:ServiceTask="_BzY3UJDdEd-UstBb4a1IHA" tibex:XPDL="TestPackage.xpdl" tibex:process="_XFaf8JDcEd-UstBb4a1IHA">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_HwfEsJDZEd-UstBb4a1IHA_ServiceTask2__BzY3UJDdEd-UstBb4a1IHA" targetNamespace="http://www.tibco.com/bs3.0/_HwfEsJDZEd-UstBb4a1IHA_ServiceTask2__BzY3UJDdEd-UstBb4a1IHA">
      <xsd:simpleType name="float__">
        <xsd:restriction base="xsd:float"/>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/testbom" targetNamespace="http://example.com/testbom">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/XPD935/Business Objects/TestBOM.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="XYZ">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="creditNum">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="creditBal">
            <xsd:simpleType>
              <xsd:restriction base="xsd:double"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="isCreditOk">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceTasks_ServiceTask2_INPUT">
    <wsdl:part name="XYZ" type="tns1:XYZ"/>
    <wsdl:part name="creditNBal" type="ns:float__"/>
    <wsdl:part name="creditNum" type="ns:integer_10"/>
  </wsdl:message>
  <wsdl:message name="ServiceTasks_ServiceTask2_OUTPUT">
    <wsdl:part name="XYZ" type="tns1:XYZ"/>
    <wsdl:part name="creditNBal" type="ns:float__"/>
    <wsdl:part name="creditNum" type="ns:integer_10"/>
  </wsdl:message>
  <wsdl:portType name="ServiceTasks" tibex:FlowContainer="_XFaf8JDcEd-UstBb4a1IHA">
    <wsdl:operation name="ServiceTask2">
      <wsdl:input message="ns:ServiceTasks_ServiceTask2_INPUT" tibex:Event="_BzY3UJDdEd-UstBb4a1IHA"/>
      <wsdl:output message="ns:ServiceTasks_ServiceTask2_OUTPUT" tibex:Event="_BzY3UJDdEd-UstBb4a1IHA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
