tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/N2 WebSvc API JavaScript Valid Mappings/TestWebSvcAPIJavaScriptValidMappings/Generated Services/TestWebSvcAPIJavaScriptValidMappings.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_slyvIJ44Ed-FEqK5UGTaIg" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns1="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestWebSvcAPIJavaScriptInvalidMappings" targetNamespace="http://www.tibco.com/bs3.0/_slyvIJ44Ed-FEqK5UGTaIg" tibex:XPDL="TestWebSvcAPIJavaScriptValidMappings.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_slyvIJ44Ed-FEqK5UGTaIg" targetNamespace="http://www.tibco.com/bs3.0/_slyvIJ44Ed-FEqK5UGTaIg">
      <xsd:simpleType name="boolean">
        <xsd:restriction base="xsd:boolean"/>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:date"/>
      </xsd:simpleType>
      <xsd:simpleType name="dateTime">
        <xsd:restriction base="xsd:dateTime"/>
      </xsd:simpleType>
      <xsd:simpleType name="float__">
        <xsd:restriction base="xsd:float"/>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.example.org/NewWSDLFile/" targetNamespace="http://www.example.org/NewWSDLFile/">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/TestWebSvcAPIJavaScriptValidMappings/Generated Business Objects/org.example.new_.wsdl.file.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType abstract="false" mixed="false" name="InParamsType">
        <xsd:sequence>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredStringIn">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalStringIn">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="1" name="requiredIntSeqIn">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="optionalDateSeqIn">
            <xsd:simpleType>
              <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredChildIn" type="ChildType"/>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalChildIn" type="ChildType"/>
          <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="optionalChildArray" type="ChildType"/>
          <xsd:choice>
            <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredSingleChoiceA">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredSingleChoiceB">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:choice>
          <xsd:choice>
            <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalSingleChoiceA">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalSingleChoiceB">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:choice>
          <xsd:element form="unqualified" maxOccurs="3" minOccurs="2" name="simpleStringArrayMin2Max3">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType abstract="false" mixed="false" name="ChildType">
        <xsd:sequence>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredChildString">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalChildString">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="simpleTypeWithAttr" type="simpleTypeWithAttrType"/>
          <xsd:element form="unqualified" maxOccurs="2" minOccurs="0" name="min0Max2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute default="false" form="unqualified" name="requiredChildAttribute" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:boolean"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute form="unqualified" name="optionalChildAttribute" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:complexType abstract="false" mixed="false" name="simpleTypeWithAttrType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute form="unqualified" name="requiredAttribute" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute form="unqualified" name="optionalAttribute" use="optional">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType abstract="false" mixed="false" name="OutParamsType">
        <xsd:sequence>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredStringOut">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalStringOut">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="1" name="requiredIntSeqOut">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="optionalDateSeqOut">
            <xsd:simpleType>
              <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredChildOut" type="ChildType"/>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalChildOut" type="ChildType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType abstract="false" mixed="false" name="FaultParamsType">
        <xsd:sequence>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredStringFault">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalStringFault">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="1" name="requiredIntSeqFault">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="optionalDateSeqFault">
            <xsd:simpleType>
              <xsd:restriction base="xsd:dateTime"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="1" name="requiredChildFault" type="ChildType"/>
          <xsd:element form="unqualified" maxOccurs="1" minOccurs="0" name="optionalChildFault" type="ChildType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="TestWebSvcAPIJavaScriptInvalidMappingsProcess_ReplyToEnoughtoprovegeneratedreqandcorrelationmappingsnotthrowing_INPUT">
        <wsdl:part name="ChildType1" type="tns1:ChildType"/>
    </wsdl:message>
    <wsdl:message name="TestWebSvcAPIJavaScriptInvalidMappingsProcess_ReplyToEnoughtoprovegeneratedreqandcorrelationmappingsnotthrowing_OUTPUT">
        <wsdl:part name="ChildType1" type="tns1:ChildType"/>
    </wsdl:message>
    <wsdl:message name="TestWebSvcAPIJavaScriptInvalidMappingsProcess_Enoughtoprovegeneratedmappingsnotthrowinguperrorsbutcorrelationsare_GeneratedFault_fault">
    <wsdl:part name="Bool1" type="ns:boolean"/>
    <wsdl:part name="ChildType1" type="tns1:ChildType"/>
    <wsdl:part name="ChildTypeArray" type="tns1:ChildType"/>
    <wsdl:part name="DateArray" type="ns:date"/>
    <wsdl:part name="DateTime1" type="ns:dateTime"/>
    <wsdl:part name="Decimal1" type="ns:float__"/>
    <wsdl:part name="Int1" type="ns:integer_10"/>
    <wsdl:part name="IntArray" type="ns:integer_10"/>
    <wsdl:part name="Text" type="ns:string_50"/>
    <wsdl:part name="Text2" type="ns:string_50"/>
    <wsdl:part name="Text3" type="ns:string_50"/>
    <wsdl:part name="Text4" type="ns:string_50"/>
    <wsdl:part name="Text5" type="ns:string_50"/>
    <wsdl:part name="Text6" type="ns:string_50"/>
    <wsdl:part name="Text7Array" type="ns:string_50"/>
    <wsdl:part name="Text8Array" type="ns:string_50"/>
    <wsdl:part name="Text9" type="ns:string_50"/>
    <wsdl:part name="WholeInParam" type="tns1:InParamsType"/>
    <wsdl:part name="WholeOutParams" type="tns1:OutParamsType"/>
  </wsdl:message>
    <wsdl:message name="TestWebSvcAPIJavaScriptInvalidMappingsProcess_ReplyToEnoughtoprovegeneratedreqandcorrelationmappingsnotthrowing_GeneratedFault_fault">
    <wsdl:part name="Bool1" type="ns:boolean"/>
    <wsdl:part name="ChildType1" type="tns1:ChildType"/>
    <wsdl:part name="ChildTypeArray" type="tns1:ChildType"/>
    <wsdl:part name="DateArray" type="ns:date"/>
    <wsdl:part name="DateTime1" type="ns:dateTime"/>
    <wsdl:part name="Decimal1" type="ns:float__"/>
    <wsdl:part name="Int1" type="ns:integer_10"/>
    <wsdl:part name="IntArray" type="ns:integer_10"/>
    <wsdl:part name="Text" type="ns:string_50"/>
    <wsdl:part name="Text2" type="ns:string_50"/>
    <wsdl:part name="Text3" type="ns:string_50"/>
    <wsdl:part name="Text4" type="ns:string_50"/>
    <wsdl:part name="Text5" type="ns:string_50"/>
    <wsdl:part name="Text6" type="ns:string_50"/>
    <wsdl:part name="Text7Array" type="ns:string_50"/>
    <wsdl:part name="Text8Array" type="ns:string_50"/>
    <wsdl:part name="Text9" type="ns:string_50"/>
    <wsdl:part name="WholeInParam" type="tns1:InParamsType"/>
    <wsdl:part name="WholeOutParams" type="tns1:OutParamsType"/>
  </wsdl:message>
    <wsdl:portType name="TestWebSvcAPIJavaScriptInvalidMappingsProcess" tibex:FlowContainer="_slyvJp44Ed-FEqK5UGTaIg">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="ReplyToEnoughtoprovegeneratedreqandcorrelationmappingsnotthrowing">
      <wsdl:input message="ns:TestWebSvcAPIJavaScriptInvalidMappingsProcess_ReplyToEnoughtoprovegeneratedreqandcorrelationmappingsnotthrowing_INPUT" tibex:Event="_slyvNZ44Ed-FEqK5UGTaIg"/>
      <wsdl:output message="ns:TestWebSvcAPIJavaScriptInvalidMappingsProcess_ReplyToEnoughtoprovegeneratedreqandcorrelationmappingsnotthrowing_OUTPUT" tibex:Event="_slyvNZ44Ed-FEqK5UGTaIg"/>
            <wsdl:fault message="ns:TestWebSvcAPIJavaScriptInvalidMappingsProcess_ReplyToEnoughtoprovegeneratedreqandcorrelationmappingsnotthrowing_GeneratedFault_fault" name="GeneratedFault" tibex:Error="_slyvO544Ed-FEqK5UGTaIg"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
