tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/08_GlobalElements/XSDBOM_TLE4B_DependencyChecker.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.exampleb.org/NewWSDLFile/" xmlns:tns2="http://www.exampleb.org/NewWSDLFile2/" xmlns:tns3="http://www.exampleb.org/NewWSDLFile3/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.exampleb.org/NewWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.exampleb.org/NewWSDLFile/">
    <xsd:import namespace="http://www.exampleb.org/NewWSDLFile2/"></xsd:import>
		 <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
            <xsd:element ref="tns2:refToComplex"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
    </xsd:schema>
    
    <xsd:schema targetNamespace="http://www.exampleb.org/NewWSDLFile2/">
    	<xsd:import namespace="http://www.exampleb.org/NewWSDLFile3/"></xsd:import>
         <xsd:element name="refToComplex" type="tns3:testComplex"></xsd:element>
    </xsd:schema>
    
    <xsd:schema targetNamespace="http://www.exampleb.org/NewWSDLFile3/">
        <xsd:complexType name="testComplex"></xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NewWSDLFile">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.exampleb.org/NewWSDLFile/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDLFile">
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="http://www.exampleb.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
