tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/.precompiled/bom2Xsd/com.enel.xmlns.schema.libero._2009._01._01.BpmReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/schema/libero/2009/01/01/BpmReport" xmlns:tns8="http://xmlns.enel.com/schema/libero/2009/01/01/BpmReport"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/schema/libero/2009/01/01/BpmReport">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.utiliy.resource/Generated Business Objects/com.enel.xmlns.schema.libero._2009._01._01.BpmReport.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="BPMReportRequest" nillable="false">
    <xsd:complexType ecore:name="BPMReportRequestType" id="com.enel.xmlns.schema.libero._2009._01._01.BpmReportBPMReportRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="tibcoAuditId" form="qualified" maxOccurs="1" minOccurs="0"
            name="TibcoAuditId" type="xsd:string"/>
        <xsd:element ecore:name="idProcessBpm" form="qualified" maxOccurs="1" minOccurs="1"
            name="IdProcessBpm">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="tipoPratica" form="qualified" maxOccurs="1" minOccurs="1"
            name="TipoPratica">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="servizio" form="qualified" maxOccurs="1" minOccurs="1"
            name="Servizio">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="stato" form="qualified" maxOccurs="1" minOccurs="1"
            name="Stato">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="numeroUtente" form="qualified" maxOccurs="1" minOccurs="0"
            name="NumeroUtente">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="9"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="idCrm" form="qualified" maxOccurs="1" minOccurs="0"
            name="idCrm">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="75"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="pod" form="qualified" maxOccurs="1" minOccurs="0"
            name="Pod">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="timestamp" form="qualified" maxOccurs="1" minOccurs="1"
            name="Timestamp" type="xsd:string"/>
        <xsd:element ecore:name="key1" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="key2" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key2">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="key3" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key3">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="key4" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key4" type="xsd:string"/>
        <xsd:element ecore:name="key5" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key5" type="xsd:string"/>
        <xsd:element ecore:name="key6" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key6" type="xsd:string"/>
        <xsd:element ecore:name="key7" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key7" type="xsd:string"/>
        <xsd:element ecore:name="key8" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key8" type="xsd:string"/>
        <xsd:element ecore:name="key9" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key9" type="xsd:string"/>
        <xsd:element ecore:name="key10" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key10" type="xsd:string"/>
        <xsd:element ecore:name="sistema" form="qualified" maxOccurs="1" minOccurs="0"
            name="Sistema" type="xsd:string"/>
        <xsd:element ecore:name="commodity" form="qualified" maxOccurs="1" minOccurs="0"
            name="Commodity" type="xsd:string"/>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="0"
            name="Esito">
          <xsd:complexType ecore:name="EsitoType" id="com.enel.xmlns.schema.libero._2009._01._01.BpmReportEsitoType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Esito">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element ecore:name="codice" form="qualified" maxOccurs="1" minOccurs="0"
                  name="Codice">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element ecore:name="descrizione" form="qualified" maxOccurs="1"
                  minOccurs="0" name="Descrizione">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="key11" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key11" type="xsd:string"/>
        <xsd:element ecore:name="key12" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key12" type="xsd:string"/>
        <xsd:element ecore:name="key13" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key13" type="xsd:string"/>
        <xsd:element ecore:name="key14" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key14" type="xsd:string"/>
        <xsd:element ecore:name="key15" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key15" type="xsd:string"/>
        <xsd:element ecore:name="key16" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key16" type="xsd:string"/>
        <xsd:element ecore:name="key17" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key17" type="xsd:string"/>
        <xsd:element ecore:name="key18" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key18" type="xsd:string"/>
        <xsd:element ecore:name="key19" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key19" type="xsd:string"/>
        <xsd:element ecore:name="key20" form="qualified" maxOccurs="1" minOccurs="0"
            name="Key20" type="xsd:string"/>
        <xsd:element ecore:name="padreId" form="qualified" maxOccurs="1" minOccurs="0"
            name="PadreId">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="padreTipoPratica" form="qualified" maxOccurs="1"
            minOccurs="0" name="PadreTipoPratica">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="padreServizio" form="qualified" maxOccurs="1" minOccurs="0"
            name="PadreServizio">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="BPMReportResponse" nillable="false">
    <xsd:complexType ecore:name="BPMReportResponseType" id="com.enel.xmlns.schema.libero._2009._01._01.BpmReportBPMReportResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="Esito">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="2"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="codice_Esito" form="qualified" maxOccurs="1" minOccurs="0"
            name="Codice_Esito">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="descrizione_Esito" form="qualified" maxOccurs="1"
            minOccurs="0" name="Descrizione_Esito">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>