tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.utiliy.resource/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.schema.bpm.receivetasksdricezioneesiti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetasksdricezioneesiti"
    xmlns:tns7="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetasksdricezioneesiti"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/mercato/libero/schema/bpm/receivetasksdricezioneesiti">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.utiliy.resource/Generated Business Objects/com.enel.xmlns.mercato.libero.schema.bpm.receivetasksdricezioneesiti.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="SdRicezioneEsitiCreazioneAnagraficaReq" nillable="false">
    <xsd:complexType ecore:name="SdRicezioneEsitiCreazioneAnagraficaReqType" id="com.enel.xmlns.mercato.libero.schema.bpm.receivetasksdricezioneesitiSdRicezioneEsitiCreazioneAnagraficaReqType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="outIdFatt" form="qualified" maxOccurs="1" minOccurs="0"
            name="OutIdFatt" type="xsd:string"/>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="qualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneEsito" form="qualified" maxOccurs="1"
            minOccurs="0" name="DescrizioneEsito" type="xsd:string"/>
        <xsd:element ecore:name="correlationId" form="qualified" maxOccurs="1" minOccurs="0"
            name="CorrelationId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="SdRicezioneEsitiEmissioneFatturaReq" nillable="false">
    <xsd:complexType ecore:name="SdRicezioneEsitiEmissioneFatturaReqType" id="com.enel.xmlns.mercato.libero.schema.bpm.receivetasksdricezioneesitiSdRicezioneEsitiEmissioneFatturaReqType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="outIdFatt" form="qualified" maxOccurs="1" minOccurs="0"
            name="OutIdFatt" type="xsd:string"/>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="qualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneEsito" form="qualified" maxOccurs="1"
            minOccurs="0" name="DescrizioneEsito" type="xsd:string"/>
        <xsd:element ecore:name="correlationId" form="qualified" maxOccurs="1" minOccurs="0"
            name="CorrelationId" type="xsd:string"/>
        <xsd:element ecore:name="dataEmissione" form="qualified" maxOccurs="1" minOccurs="0"
            name="DataEmissione" type="xsd:string"/>
        <xsd:element ecore:name="fattura" form="qualified" maxOccurs="1" minOccurs="0"
            name="Fattura" type="xsd:string"/>
        <xsd:element ecore:name="idProtocollo" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdProtocollo" type="xsd:string"/>
        <xsd:element ecore:name="importoFattura" form="qualified" maxOccurs="1" minOccurs="0"
            name="ImportoFattura" type="xsd:string"/>
        <xsd:element ecore:name="numeroFattura" form="qualified" maxOccurs="1" minOccurs="0"
            name="NumeroFattura" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="SdRicezioneEsitiStornoReq" nillable="false">
    <xsd:complexType ecore:name="SdRicezioneEsitiStornoReqType" id="com.enel.xmlns.mercato.libero.schema.bpm.receivetasksdricezioneesitiSdRicezioneEsitiStornoReqType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="outIdFatt" form="qualified" maxOccurs="1" minOccurs="0"
            name="OutIdFatt" type="xsd:string"/>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="qualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneEsito" form="qualified" maxOccurs="1"
            minOccurs="0" name="DescrizioneEsito" type="xsd:string"/>
        <xsd:element ecore:name="correlationId" form="qualified" maxOccurs="1" minOccurs="0"
            name="CorrelationId" type="xsd:string"/>
        <xsd:element ecore:name="dataEmissione" form="qualified" maxOccurs="1" minOccurs="0"
            name="DataEmissione" type="xsd:string"/>
        <xsd:element ecore:name="fattura" form="qualified" maxOccurs="1" minOccurs="0"
            name="Fattura" type="xsd:string"/>
        <xsd:element ecore:name="idProtocollo" form="qualified" maxOccurs="1" minOccurs="0"
            name="IdProtocollo" type="xsd:string"/>
        <xsd:element ecore:name="importoFattura" form="qualified" maxOccurs="1" minOccurs="0"
            name="ImportoFattura" type="xsd:string"/>
        <xsd:element ecore:name="numeroFattura" form="qualified" maxOccurs="1" minOccurs="0"
            name="NumeroFattura" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>