tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/02_DataTypeMapping/XSDBOM22_DataTypes_ComplexTypeElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM22_DataTypes_ComplexTypeElements"
	xmlns:tns="http://www.example.org/XSDBOM22_DataTypes_ComplexTypeElements"
	elementFormDefault="qualified">



	<!-- BOM: Text -->

	<simpleType name="textType1">
		<restriction base="string">
			<maxLength value="30" />
			<pattern value="XYZ" />
		</restriction>
	</simpleType>

	<simpleType name="idType1">
		<restriction base="ID">
			<maxLength value="30" />
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="idrefType1">
		<restriction base="IDREF">
			<maxLength value="30" />
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="idrefsType1">
		<restriction base="IDREFS">
			<maxLength value="30" />
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="gDayType1">
		<restriction base="gDay">
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="gMonthType1">
		<restriction base="gDay">
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="gMonthDayType1">
		<restriction base="gMonthDay">
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="gYearType1">
		<restriction base="gYear">
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="gYearMonthType1">
		<restriction base="gYearMonth">
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="languageType1">
		<restriction base="language">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>


	<simpleType name="nameType1">
		<restriction base="Name">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>


	<simpleType name="ncNameType1">
		<restriction base="NCName">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>


	<simpleType name="nmTokenType1">
		<restriction base="NMTOKEN">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>


	<simpleType name="nmTokensType1">
		<restriction base="NMTOKENS">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="normalizedStringType1">
		<restriction base="normalizedString">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="qNameType1">
		<restriction base="QName">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="entityType1">
		<restriction base="ENTITY">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="entitiesType1">
		<restriction base="ENTITIES">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="tokenType1">
		<restriction base="token">
			<maxLength value="30"></maxLength>
			<pattern value="XYZ"></pattern>
		</restriction>
	</simpleType>


	<complexType name="CTText">
		<sequence>
			<element name="attr1Text" type="string" default="City" />
			<element name="attr1TextType1" type="tns:textType1"></element>
			<element name="attr2ID" type="ID"/>
			<element name="attr2IdType1" type="tns:idType1" />
			<element name="attr3IDREF" type="IDREF" default="defaultIDREF" />
			<element name="attr3IdrefType1" type="tns:idrefType1" />
			<element name="attr4IDREFS" type="IDREFS" default="defaultIDREFS" />
			<element name="attr4IdrefsType1" type="tns:idrefsType1" />
			<element name="attr5gDay" type="gDay" />
			<element name="attr5gDayType1" type="tns:gDayType1" />
			<element name="attr6gMonth" type="gMonth" />
			<element name="attr6gMonthType1" type="tns:gMonthType1" />
			<element name="attr7gMonthDay" type="gMonthDay" />
			<element name="attr7gMonthDayType1" type="tns:gMonthDayType1" />
			<element name="attr8gYear" type="gYear" />
			<element name="attr8gYearType1" type="tns:gYearType1" />
			<element name="attr9gYearMonth" type="gYearMonth" />
			<element name="attr9gYearMonthType1" type="tns:gYearMonthType1" />
			<element name="attr10language" type="language" default="en" />
			<element name="attr10languageType1" type="tns:languageType1" />
			<element name="attr11Name" type="Name" default="defaultName" />
			<element name="attr11nameType1" type="tns:nameType1" />
			<element name="attr12ncName" type="NCName" default="defaultNCName" />
			<element name="attr12ncNameType1" type="tns:ncNameType1" />
			<element name="attr13nmToken" type="NMTOKEN" default="defaultNMTOKEN" />
			<element name="attr13nmTokenType1" type="tns:nmTokenType1" />
			<element name="attr14nmTokens" type="NMTOKENS" default="defaultNMTOKENS" />
			<element name="attr14nmTokensType1" type="tns:nmTokensType1" />
			<element name="attr15normalizedString" type="normalizedString"
				default="defaultNormString" />
			<element name="attr15normalizedStringType1" type="tns:normalizedStringType1" />
			<element name="attr16qname" type="QName" default="defaultQName" />
			<element name="attr16qnameType1" type="tns:qNameType1" />
			<element name="attr17entity" type="ENTITY" default="defaultEntity" />
			<element name="attr17entityType1" type="tns:entityType1" />
			<element name="attr18entities" type="ENTITIES" default="defaultEntities" />
			<element name="attr18entitiesType1" type="tns:entitiesType1" />
			<element name="attr19token" type="token" default="defaultToken" />
			<element name="attr19tokenType1" type="tns:tokenType1" />
		</sequence>
	</complexType>



	<!-- BOM: Integer subtype: signed -->

	<simpleType name="byteType1">
		<restriction base="byte">
			<minInclusive value="-100" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<simpleType name="unsignedByteType1">
		<restriction base="unsignedByte">
			<minInclusive value="1" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>


	<simpleType name="shortType1">
		<restriction base="short">
			<minInclusive value="-100" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<simpleType name="unsignedShortType1">
		<restriction base="unsignedShort">
			<minInclusive value="1" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<simpleType name="intType1">
		<restriction base="int">
			<minInclusive value="-100" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>


	<complexType name="CTSignedInteger">
		<sequence>
			<element name="attr1byte" type="byte" default="10" />
			<element name="attr1byteType1" type="tns:byteType1" />
			<element name="attr1unsignedByte" type="unsignedByte"
				default="10" />
			<element name="attr1unsignedByteType1" type="tns:unsignedByteType1" />
			<element name="attr1short" type="short" default="10" />
			<element name="attr1shortType1" type="tns:shortType1" />
			<element name="attr1unsignedShort" type="unsignedShort"
				default="10" />
			<element name="attr1unsignedShortType1" type="tns:unsignedShortType1" />
			<element name="attr1int" type="int" default="10" />
			<element name="attr1intType1" type="tns:intType1" />
		</sequence>
	</complexType>


	<!-- BOM: Integer subtype: fixed length -->

	<simpleType name="integerType1">
		<restriction base="integer">
			<minInclusive value="-100" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<simpleType name="longType1">
		<restriction base="long">
			<minInclusive value="-100" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<simpleType name="negativeIntegerType1">
		<restriction base="negativeInteger">
			<minInclusive value="-100" />
			<maxInclusive value="-1" />
		</restriction>
	</simpleType>

	<simpleType name="nonNegativeIntegerType1">
		<restriction base="nonNegativeInteger">
			<minInclusive value="50" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<simpleType name="positiveIntegerType1">
		<restriction base="positiveInteger">
			<minInclusive value="100" />
			<maxInclusive value="200" />
		</restriction>
	</simpleType>

	<simpleType name="nonPositiveIntegerType1">
		<restriction base="nonPositiveInteger">
			<minInclusive value="-100" />
			<maxInclusive value="-50" />
		</restriction>
	</simpleType>

	<simpleType name="unsignedIntType1">
		<restriction base="unsignedInt">
			<minInclusive value="50" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<simpleType name="unsignedLongType1">
		<restriction base="unsignedLong">
			<minInclusive value="50" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<complexType name="CTFixedLengthInteger">
		<sequence>
			<element name="attr1integer" type="integer" default="10" />
			<element name="attr1integerType1" type="tns:integerType1" />
			<element name="attr1long" type="long" default="10" />
			<element name="attr1longType1" type="tns:longType1" />
			<element name="attr1negativeInteger" type="long" default="-10" />
			<element name="attr1lnegativeIntegerType1" type="tns:negativeIntegerType1" />
			<element name="attr1nonNegativeInteger" type="nonNegativeInteger"
				default="10" />
			<element name="attr1lnonNegativeIntegerType1" type="tns:nonNegativeIntegerType1" />
			<element name="attr1positiveInteger" type="positiveInteger"
				default="10" />
			<element name="attr1positiveIntegerType1" type="tns:positiveIntegerType1" />
			<element name="attr1nonPositiveInteger" type="nonPositiveInteger"
				default="-10" />
			<element name="attr1nonPositiveIntegerType1" type="tns:nonPositiveIntegerType1" />
			<element name="attr1unsignedInt" type="unsignedInt" default="10" />
			<element name="attr1unsignedIntType1" type="tns:unsignedIntType1" />
			<element name="attr1unsignedLong" type="unsignedLong"
				default="10" />
			<element name="attr1unsignedLongType1" type="tns:unsignedLongType1" />
		</sequence>
	</complexType>



	<!-- BOM: Decimal subtype: fixed -->

	<simpleType name="decimalType1">
		<restriction base="decimal">
			<minInclusive value="50.12" />
			<maxInclusive value="100.12" />
			<fractionDigits value="2" />
			<totalDigits value="10"></totalDigits>
		</restriction>
	</simpleType>

	<simpleType name="decimalType2">
		<restriction base="decimal">
			<minExclusive value="50.12" />
			<maxExclusive value="100.12" />
			<fractionDigits value="2" />
			<totalDigits value="10"></totalDigits>
		</restriction>
	</simpleType>

	<complexType name="CTFixedDecimal">
		<sequence>
			<element name="attr1decimal" type="decimal" default="10.123" />
			<element name="attr1decimalType1" type="tns:decimalType1" />
			<element name="attr2decimalType2" type="tns:decimalType2" />
		</sequence>
	</complexType>


	<!-- BOM: Decimal subtype: floating point -->

	<simpleType name="floatType1">
		<restriction base="float">
			<minInclusive value="50.12" />
			<maxInclusive value="100.12" />
		</restriction>
	</simpleType>

	<simpleType name="floatType2">
		<restriction base="float">
			<minExclusive value="50.12" />
			<maxExclusive value="100.12" />
		</restriction>
	</simpleType>

	<simpleType name="doubleType1">
		<restriction base="double">
			<minInclusive value="50.12" />
			<maxInclusive value="100.12" />
		</restriction>
	</simpleType>

	<simpleType name="doubleType2">
		<restriction base="double">
			<minExclusive value="50.12" />
			<maxExclusive value="100.12" />
		</restriction>
	</simpleType>

	<complexType name="CTFloatingPointDecimal">
		<sequence>
			<element name="attr1float" type="decimal" default="10.123" />
			<element name="attr1floatType1" type="tns:floatType1" />
			<element name="attr2floatType2" type="tns:floatType2" />
			<element name="attr1double" type="decimal" default="10.123" />
			<element name="attr1doubleType1" type="tns:doubleType1" />
			<element name="attr2doubleType2" type="tns:doubleType2" />
		</sequence>
	</complexType>


	<!-- BOM: Boolean -->
	<complexType name="CTBoolean">
		<sequence>
			<element name="attrBoolean" type="boolean" default="true"></element>
		</sequence>
	</complexType>




</schema>