tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDLCoverageAMXBPM/WSDL24/services/profile/UserProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.xyzcorp/procureservice/UserProfile"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.xyzcorp/procureservice/UserProfile">

	<xsd:include schemaLocation="HotelUserProfile.xsd"></xsd:include>
	<xsd:include schemaLocation="CarUserProfile.xsd"></xsd:include>
	<xsd:include schemaLocation="AirlineUserProfile.xsd"></xsd:include>
	
	<xsd:complexType name="UserName">
		<xsd:sequence>
			<xsd:element name="salutation" type="xsd:string"></xsd:element>
			<xsd:element name="firstName" type="xsd:string"></xsd:element>
			<xsd:element name="middleName" type="xsd:string"></xsd:element>
			<xsd:element name="lastName" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Address">
		<xsd:sequence>
			<xsd:element name="street" type="xsd:string"></xsd:element>
			<xsd:element name="city" type="xsd:string"></xsd:element>
			<xsd:element name="state" type="xsd:string"></xsd:element>
			<xsd:element name="zip" type="xsd:string"></xsd:element>
			<xsd:element name="country" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CreditCard">
		<xsd:sequence>
			<xsd:element name="cardType" type="xsd:string"></xsd:element>
			<xsd:element name="cardNumber" type="xsd:string"></xsd:element>
			<xsd:element name="cvvCode" type="xsd:int"></xsd:element>
			<xsd:element name="expiryDate" type="xsd:date"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="UserDetails">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:string"></xsd:element>
            <xsd:element name="companyName" type="xsd:string"></xsd:element>
            <xsd:element name="phone" type="xsd:string"></xsd:element>
			<xsd:element name="mobile" type="xsd:string"></xsd:element>
			<xsd:element name="email" type="xsd:string"></xsd:element>
			<xsd:element name="fax" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="UserIdentity">
       	<xsd:sequence>
       		<xsd:element name="userId" type="xsd:string"></xsd:element>
       		<xsd:element name="name" type="tns:UserName"></xsd:element>
       	</xsd:sequence>
    </xsd:complexType>
      	
</xsd:schema>