tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.wsdlgen.test/resources/BPMSimpleTypesProcIfc/Service Descriptors/ProcIfcNoParamsGOLD.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_9pjf0BoaEd-KR4rH3IKjZA" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcIfcNoParams" targetNamespace="http://www.tibco.com/bs3.0/_9pjf0BoaEd-KR4rH3IKjZA" tibex:XPDL="ProcIfcNoParams.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_9pjf0BoaEd-KR4rH3IKjZA" targetNamespace="http://www.tibco.com/bs3.0/_9pjf0BoaEd-KR4rH3IKjZA"/>
  </wsdl:types>
  <wsdl:message name="aInterfaceWithoutParams_cIntermediateMsgEventWithoutErr_INPUT"/>
  <wsdl:message name="aInterfaceWithoutParams_cStartMsgEventWithoutError_INPUT"/>
  <wsdl:message name="aInterfaceWithoutParams_dIntermediateMsgEventWithErr_Error2_fault"/>
  <wsdl:message name="aInterfaceWithoutParams_dIntermediateMsgEventWithErr_Error_fault"/>
  <wsdl:message name="aInterfaceWithoutParams_dIntermediateMsgEventWithErr_INPUT"/>
  <wsdl:message name="aInterfaceWithoutParams_dStartMsgEventWithError_Error2_fault"/>
  <wsdl:message name="aInterfaceWithoutParams_dStartMsgEventWithError_Error_fault"/>
  <wsdl:message name="aInterfaceWithoutParams_dStartMsgEventWithError_INPUT"/>
  <wsdl:portType name="aInterfaceWithoutParams" tibex:FlowContainer="_BtvHBBobEd-KR4rH3IKjZA">
    <wsdl:documentation>
      <DocumentationElement Documentation="Process Interface with only start events of type message and type none, with errors and no errors. Contains no parameters.&#13;&#10;&#13;&#10;Used to test WSDL, and validations when processes implementing these are created."/>
    </wsdl:documentation>
    <wsdl:operation name="cIntermediateMsgEventWithoutErr">
      <wsdl:input message="ns:aInterfaceWithoutParams_cIntermediateMsgEventWithoutErr_INPUT" tibex:Event="_BtvHFhobEd-KR4rH3IKjZA"/>
    </wsdl:operation>
    <wsdl:operation name="cStartMsgEventWithoutError">
      <wsdl:input message="ns:aInterfaceWithoutParams_cStartMsgEventWithoutError_INPUT" tibex:Event="_BtvHBRobEd-KR4rH3IKjZA"/>
    </wsdl:operation>
    <wsdl:operation name="dIntermediateMsgEventWithErr">
      <wsdl:input message="ns:aInterfaceWithoutParams_dIntermediateMsgEventWithErr_INPUT" tibex:Event="_BtvHEhobEd-KR4rH3IKjZA"/>
      <wsdl:fault message="ns:aInterfaceWithoutParams_dIntermediateMsgEventWithErr_Error_fault" name="Error" tibex:Error="_BtvHFBobEd-KR4rH3IKjZA"/>
      <wsdl:fault message="ns:aInterfaceWithoutParams_dIntermediateMsgEventWithErr_Error2_fault" name="Error2" tibex:Error="_BtvHFRobEd-KR4rH3IKjZA"/>
    </wsdl:operation>
    <wsdl:operation name="dStartMsgEventWithError">
      <wsdl:input message="ns:aInterfaceWithoutParams_dStartMsgEventWithError_INPUT" tibex:Event="_BtvHChobEd-KR4rH3IKjZA"/>
      <wsdl:fault message="ns:aInterfaceWithoutParams_dStartMsgEventWithError_Error_fault" name="Error" tibex:Error="_BtvHDBobEd-KR4rH3IKjZA"/>
      <wsdl:fault message="ns:aInterfaceWithoutParams_dStartMsgEventWithError_Error2_fault" name="Error2" tibex:Error="_BtvHDRobEd-KR4rH3IKjZA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
