tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.wsdlgen.test/resources/BPMSimpleTypesProcIfc/Service Descriptors/SimpleTypesProcIfcTestGOLD.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_PqqEQBV6Ed-B_42T3cZQaA" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcIfcTest" targetNamespace="http://www.tibco.com/bs3.0/_PqqEQBV6Ed-B_42T3cZQaA" tibex:XPDL="SimpleTypesProcIfcTest.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_PqqEQBV6Ed-B_42T3cZQaA" targetNamespace="http://www.tibco.com/bs3.0/_PqqEQBV6Ed-B_42T3cZQaA">
      <xsd:simpleType name="boolean">
        <xsd:restriction base="xsd:boolean"/>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:date"/>
      </xsd:simpleType>
      <xsd:simpleType name="dateTime">
        <xsd:restriction base="xsd:dateTime"/>
      </xsd:simpleType>
      <xsd:simpleType name="decimal__">
        <xsd:restriction base="xsd:decimal"/>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:time"/>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_cIntermediateMsgEventWithoutErr_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_cIntermediateMsgEventWithoutErr_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_cStartMsgEventWithoutError_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_cStartMsgEventWithoutError_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_dIntermediateMsgEventWithErr_Error2_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_dIntermediateMsgEventWithErr_Error_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_dIntermediateMsgEventWithErr_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_dIntermediateMsgEventWithErr_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_dStartMsgEventWithError_Error2_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_dStartMsgEventWithError_Error_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_dStartMsgEventWithError_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="bInterfaceWithImplicitParamsBasicTypes_dStartMsgEventWithError_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_eIntermediateMsgEventNoAssocsNoErrors_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_eIntermediateMsgEventNoAssocsNoErrors_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_eStartMessagewithNoAssociationsNoErrors_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_eStartMessagewithNoAssociationsNoErrors_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_fIntermediateNoneEventWithAssocsNoErrors_INPUT">
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_fIntermediateNoneEventWithAssocsNoErrors_OUTPUT">
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_fStartMessagewithAssociationsNoErrors_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_fStartMessagewithAssociationsNoErrors_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_gIntermediateNoneEventNoAssocsWithErrors_Error2_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_gIntermediateNoneEventNoAssocsWithErrors_Error_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_gIntermediateNoneEventNoAssocsWithErrors_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_gIntermediateNoneEventNoAssocsWithErrors_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_gStartNonewithNoAssocwithErrors_ErrorwithAssociatedparams_fault">
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_gStartNonewithNoAssocwithErrors_ErrorwithnoAssociatedparams_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_gStartNonewithNoAssocwithErrors_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_gStartNonewithNoAssocwithErrors_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_hIntermediateNoneEventWithAssocsWithErrors_Error2_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_hIntermediateNoneEventWithAssocsWithErrors_Error_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_hIntermediateNoneEventWithAssocsWithErrors_INPUT">
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_hIntermediateNoneEventWithAssocsWithErrors_OUTPUT">
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_hStartNoneWithAssocsWithErrors_ErrorwithAssociatedparams_fault">
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_hStartNoneWithAssocsWithErrors_ErrorwithnoAssociatedparams_fault">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_hStartNoneWithAssocsWithErrors_INPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanInParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateInParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeInParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalInParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerInParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerInParam" type="ns:string"/>
    <wsdl:part name="textInNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeInParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="cInterfaceWithExplicitAssociations_hStartNoneWithAssocsWithErrors_OUTPUT">
    <wsdl:part name="booleanInOutParam" type="ns:boolean"/>
    <wsdl:part name="booleanOutParameter" type="ns:boolean"/>
    <wsdl:part name="dateInOutParam" type="ns:date"/>
    <wsdl:part name="dateOutParam" type="ns:date"/>
    <wsdl:part name="dateTimeInOutParam" type="ns:dateTime"/>
    <wsdl:part name="dateTimeOutParam" type="ns:dateTime"/>
    <wsdl:part name="decimalInOutParam" type="ns:decimal__"/>
    <wsdl:part name="decimalOutParam" type="ns:decimal__"/>
    <wsdl:part name="integerInOutParam" type="ns:integer_10"/>
    <wsdl:part name="integerOutParam" type="ns:integer_10"/>
    <wsdl:part name="performerInOutParam" type="ns:string"/>
    <wsdl:part name="performerOutParam" type="ns:string"/>
    <wsdl:part name="textInOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="textOutNotMandatory" type="ns:string_50"/>
    <wsdl:part name="timeInOutParam" type="ns:time"/>
    <wsdl:part name="timeOutParam" type="ns:time"/>
  </wsdl:message>
  <wsdl:portType name="bInterfaceWithImplicitParamsBasicTypes" tibex:FlowContainer="_PqqEURV6Ed-B_42T3cZQaA">
    <wsdl:documentation>
      <DocumentationElement Documentation="Process Interface with only start events of type message and type none, with errors and no errors. This interface contains parameters of basic types.&#13;&#10;&#13;&#10;Used to test WSDL, and validations when processes implementing these are created."/>
    </wsdl:documentation>
    <wsdl:operation name="cIntermediateMsgEventWithoutErr">
      <wsdl:input message="ns:bInterfaceWithImplicitParamsBasicTypes_cIntermediateMsgEventWithoutErr_INPUT" tibex:Event="_PqqEchV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:bInterfaceWithImplicitParamsBasicTypes_cIntermediateMsgEventWithoutErr_OUTPUT" tibex:Event="_PqqEchV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="cStartMsgEventWithoutError">
      <wsdl:input message="ns:bInterfaceWithImplicitParamsBasicTypes_cStartMsgEventWithoutError_INPUT" tibex:Event="_PqqEahV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:bInterfaceWithImplicitParamsBasicTypes_cStartMsgEventWithoutError_OUTPUT" tibex:Event="_PqqEahV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="dIntermediateMsgEventWithErr">
      <wsdl:input message="ns:bInterfaceWithImplicitParamsBasicTypes_dIntermediateMsgEventWithErr_INPUT" tibex:Event="_PqqEdxV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:bInterfaceWithImplicitParamsBasicTypes_dIntermediateMsgEventWithErr_OUTPUT" tibex:Event="_PqqEdxV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:bInterfaceWithImplicitParamsBasicTypes_dIntermediateMsgEventWithErr_Error2_fault" name="Error2" tibex:Error="_PqqEeRV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:bInterfaceWithImplicitParamsBasicTypes_dIntermediateMsgEventWithErr_Error_fault" name="Error" tibex:Error="_PqqEeBV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="dStartMsgEventWithError">
      <wsdl:input message="ns:bInterfaceWithImplicitParamsBasicTypes_dStartMsgEventWithError_INPUT" tibex:Event="_PqqEbxV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:bInterfaceWithImplicitParamsBasicTypes_dStartMsgEventWithError_OUTPUT" tibex:Event="_PqqEbxV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:bInterfaceWithImplicitParamsBasicTypes_dStartMsgEventWithError_Error2_fault" name="Error2" tibex:Error="_PqqEcRV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:bInterfaceWithImplicitParamsBasicTypes_dStartMsgEventWithError_Error_fault" name="Error" tibex:Error="_PqqEcBV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="cInterfaceWithExplicitAssociations" tibex:FlowContainer="_PqqEehV6Ed-B_42T3cZQaA">
    <wsdl:operation name="eIntermediateMsgEventNoAssocsNoErrors">
      <wsdl:input message="ns:cInterfaceWithExplicitAssociations_eIntermediateMsgEventNoAssocsNoErrors_INPUT" tibex:Event="_PqqErxV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:cInterfaceWithExplicitAssociations_eIntermediateMsgEventNoAssocsNoErrors_OUTPUT" tibex:Event="_PqqErxV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="eStartMessagewithNoAssociationsNoErrors">
      <wsdl:input message="ns:cInterfaceWithExplicitAssociations_eStartMessagewithNoAssociationsNoErrors_INPUT" tibex:Event="_PqqEmxV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:cInterfaceWithExplicitAssociations_eStartMessagewithNoAssociationsNoErrors_OUTPUT" tibex:Event="_PqqEmxV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="fIntermediateNoneEventWithAssocsNoErrors">
      <wsdl:input message="ns:cInterfaceWithExplicitAssociations_fIntermediateNoneEventWithAssocsNoErrors_INPUT" tibex:Event="_PqqEqxV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:cInterfaceWithExplicitAssociations_fIntermediateNoneEventWithAssocsNoErrors_OUTPUT" tibex:Event="_PqqEqxV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="fStartMessagewithAssociationsNoErrors">
      <wsdl:input message="ns:cInterfaceWithExplicitAssociations_fStartMessagewithAssociationsNoErrors_INPUT" tibex:Event="_PqqEnBV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:cInterfaceWithExplicitAssociations_fStartMessagewithAssociationsNoErrors_OUTPUT" tibex:Event="_PqqEnBV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="gIntermediateNoneEventNoAssocsWithErrors">
      <wsdl:input message="ns:cInterfaceWithExplicitAssociations_gIntermediateNoneEventNoAssocsWithErrors_INPUT" tibex:Event="_PqqErBV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:cInterfaceWithExplicitAssociations_gIntermediateNoneEventNoAssocsWithErrors_OUTPUT" tibex:Event="_PqqErBV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:cInterfaceWithExplicitAssociations_gIntermediateNoneEventNoAssocsWithErrors_Error_fault" name="Error" tibex:Error="_PqqErRV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:cInterfaceWithExplicitAssociations_gIntermediateNoneEventNoAssocsWithErrors_Error2_fault" name="Error2" tibex:Error="_PqqErhV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="gStartNonewithNoAssocwithErrors">
      <wsdl:input message="ns:cInterfaceWithExplicitAssociations_gStartNonewithNoAssocwithErrors_INPUT" tibex:Event="_PqqEnRV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:cInterfaceWithExplicitAssociations_gStartNonewithNoAssocwithErrors_OUTPUT" tibex:Event="_PqqEnRV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:cInterfaceWithExplicitAssociations_gStartNonewithNoAssocwithErrors_ErrorwithAssociatedparams_fault" name="ErrorwithAssociatedparams" tibex:Error="_PqqEnxV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:cInterfaceWithExplicitAssociations_gStartNonewithNoAssocwithErrors_ErrorwithnoAssociatedparams_fault" name="ErrorwithnoAssociatedparams" tibex:Error="_PqqEnhV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="hIntermediateNoneEventWithAssocsWithErrors">
      <wsdl:input message="ns:cInterfaceWithExplicitAssociations_hIntermediateNoneEventWithAssocsWithErrors_INPUT" tibex:Event="_PqqEsBV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:cInterfaceWithExplicitAssociations_hIntermediateNoneEventWithAssocsWithErrors_OUTPUT" tibex:Event="_PqqEsBV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:cInterfaceWithExplicitAssociations_hIntermediateNoneEventWithAssocsWithErrors_Error_fault" name="Error" tibex:Error="_PqqEsRV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:cInterfaceWithExplicitAssociations_hIntermediateNoneEventWithAssocsWithErrors_Error2_fault" name="Error2" tibex:Error="_PqqEshV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
    <wsdl:operation name="hStartNoneWithAssocsWithErrors">
      <wsdl:input message="ns:cInterfaceWithExplicitAssociations_hStartNoneWithAssocsWithErrors_INPUT" tibex:Event="_PqqEoBV6Ed-B_42T3cZQaA"/>
      <wsdl:output message="ns:cInterfaceWithExplicitAssociations_hStartNoneWithAssocsWithErrors_OUTPUT" tibex:Event="_PqqEoBV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:cInterfaceWithExplicitAssociations_hStartNoneWithAssocsWithErrors_ErrorwithAssociatedparams_fault" name="ErrorwithAssociatedparams" tibex:Error="_PqqEoRV6Ed-B_42T3cZQaA"/>
      <wsdl:fault message="ns:cInterfaceWithExplicitAssociations_hStartNoneWithAssocsWithErrors_ErrorwithnoAssociatedparams_fault" name="ErrorwithnoAssociatedparams" tibex:Error="_PqqEohV6Ed-B_42T3cZQaA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
