tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM45_BOMGenFor_dac_wsdl/dac.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by Duncan Head (Tibco Software Limited) -->
<wsdl:definitions xmlns:calendar="http://calendar.api.dac.n2.tibco.com" xmlns:deadline="http://deadline.api.dac.n2.tibco.com" xmlns:ex="http://exception.api.dac.n2.tibco.com" xmlns:impl="http://services.dac.n2.tibco.com" xmlns:notification="http://notification.api.dac.n2.tibco.com" xmlns:ns="http://api.dac.n2.tibco.com" xmlns:ns1="http://api.organisation.common.n2.tibco.com" xmlns:ns2="http://basic.api.dac.n2.tibco.com" xmlns:ns3="http://exception.api.common.n2.tibco.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:workcal="http://workcal.api.dac.n2.tibco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CalendarService" targetNamespace="http://services.dac.n2.tibco.com" tibex:src="file:/C:/temp/XPD6080/Public_WSDL_Library/Service%20Descriptors/dac.wsdl">
	<wsdl:types>
		<xs:schema targetNamespace="http://notification.api.dac.n2.tibco.com">
			<xs:include schemaLocation="dac-notification-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://calendar.api.dac.n2.tibco.com">
			<xs:include schemaLocation="dac-calendar-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://workcal.api.dac.n2.tibco.com">
			<xs:include schemaLocation="dac-workcal-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://deadline.api.dac.n2.tibco.com">
			<xs:include schemaLocation="dac-deadline-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://exception.api.dac.n2.tibco.com">
			<xs:include schemaLocation="dac-exception.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="calendarFault">
		<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
		<wsdl:part element="ex:CalendarFault" name="calendarFault"/>
	</wsdl:message>
	<wsdl:message name="securityFault">
		<wsdl:part element="ex:SecurityFault" name="securityFault"/>
	</wsdl:message>
	<wsdl:message name="deadlineFault">
		<wsdl:part element="ex:DeadlineFault" name="deadlineFault"/>
	</wsdl:message>
	<wsdl:message name="getCalendarEntriesRequest">
		<wsdl:part element="calendar:getCalendarEntries" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getCalendarEntriesResponse">
		<wsdl:part element="calendar:getCalendarEntriesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="updateWorkingDaysRequest">
		<wsdl:part element="calendar:updateWorkingDays" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="updateWorkingDaysResponse">
		<wsdl:part element="calendar:updateWorkingDaysResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="updateWorkingDayExceptionsRequest">
		<wsdl:part element="calendar:updateWorkingDayExceptions" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="updateWorkingDayExceptionsResponse">
		<wsdl:part element="calendar:updateWorkingDayExceptionsResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="deleteWorkingDayExceptionsRequest">
		<wsdl:part element="calendar:deleteWorkingDayExceptions" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="deleteWorkingDayExceptionsResponse">
		<wsdl:part element="calendar:deleteWorkingDayExceptionsResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="addWorkingDayExceptionsRequest">
		<wsdl:part element="calendar:addWorkingDayExceptions" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="addWorkingDayExceptionsResponse">
		<wsdl:part element="calendar:addWorkingDayExceptionsResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="calcBusinessDeadlineRequest">
		<wsdl:part element="deadline:calcBusinessDeadline" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="calcBusinessDeadlineResponse">
		<wsdl:part element="deadline:calcBusinessDeadlineResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="calcDeadlineRequest">
		<wsdl:part element="deadline:calcDeadline" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="calcDeadlineResponse">
		<wsdl:part element="deadline:calcDeadlineResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="listCalendarsRequest">
		<wsdl:part element="workcal:listCalendars" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="listCalendarsResponse">
		<wsdl:part element="workcal:listCalendarsResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="getCalendarRequest">
		<wsdl:part element="workcal:getCalendar" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getCalendarResponse">
		<wsdl:part element="workcal:getCalendarResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="saveCalendarRequest">
		<wsdl:part element="workcal:saveCalendar" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="saveCalendarResponse">
		<wsdl:part element="workcal:saveCalendarResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="renameCalendarRequest">
		<wsdl:part element="workcal:renameCalendar" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="renameCalendarResponse">
		<wsdl:part element="workcal:renameCalendarResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="deleteCalendarRequest">
		<wsdl:part element="workcal:deleteCalendar" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="deleteCalendarResponse">
		<wsdl:part element="workcal:deleteCalendarResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="saveCalendarEntryRequest">
		<wsdl:part element="workcal:saveCalendarEntry" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="saveCalendarEntryResponse">
		<wsdl:part element="workcal:saveCalendarEntryResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="deleteCalendarEntriesRequest">
		<wsdl:part element="workcal:deleteCalendarEntries" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="deleteCalendarEntriesResponse">
		<wsdl:part element="workcal:deleteCalendarEntriesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="purgeCalendarEntriesRequest">
		<wsdl:part element="workcal:purgeCalendarEntries" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="purgeCalendarEntriesResponse">
		<wsdl:part element="workcal:purgeCalendarEntriesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="getCalEntriesRequest">
		<wsdl:part element="workcal:getCalEntries" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getCalEntriesResponse">
		<wsdl:part element="workcal:getCalEntriesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="saveCalendarReferencesRequest">
		<wsdl:part element="workcal:saveCalendarReferences" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="saveCalendarReferencesResponse">
		<wsdl:part element="workcal:saveCalendarReferencesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="resolveReferencesRequest">
		<wsdl:part element="workcal:resolveReferences" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="resolveReferencesResponse">
		<wsdl:part element="workcal:resolveReferencesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="listTimeZonesRequest">
		<wsdl:part element="workcal:listTimeZones" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="listTimeZonesResponse">
		<wsdl:part element="workcal:listTimeZonesResponse" name="response"/>
	</wsdl:message>
	<wsdl:message name="copyCalendarRequest">
		<wsdl:part element="workcal:copyCalendar" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="copyCalendarResponse">
		<wsdl:part element="workcal:copyCalendarResponse" name="respone"/>
	</wsdl:message>
	<wsdl:message name="deleteReferencesRequest">
		<wsdl:part element="notification:deleteReferences" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="CalendarService">
		<wsdl:documentation>This service is deprecated and may be removed in future releases. Use WorkCalService instead. 
Get information about and configure working time for a given entity.</wsdl:documentation>
		<wsdl:operation name="getCalendarEntries">
			<wsdl:documentation>Get the working time for a given entity.</wsdl:documentation>
			<wsdl:input message="impl:getCalendarEntriesRequest" name="getCalendarEntriesRequest">
				<wsdl:documentation>Request message (uses calendar:getCalendarEntries element): Identifies the GUID for which working time details are required with an optional filter on the response to be provided.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:getCalendarEntriesResponse" name="getCalendarEntriesResponse">
				<wsdl:documentation>Response message (uses calendar:getCalendarEntriesResponse element): Contains a complete description of working time for the specified entity.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateWorkingDays">
			<wsdl:documentation>Specify the working days for a given entity.</wsdl:documentation>
			<wsdl:input message="impl:updateWorkingDaysRequest" name="updateWorkingDaysRequest">
				<wsdl:documentation>Request message (uses calendar:updateWorkingDays element): Identifies the GUID for which working day details are to be modified and the working day information for that calendar.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:updateWorkingDaysResponse" name="updateWorkingDaysResponse">
				<wsdl:documentation>Response message (uses calendar:updateWorkingDaysResponse element): Contains a confirmation that the request was successful.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addWorkingDayExceptions">
			<wsdl:documentation>Add working day exceptions for a given entity.</wsdl:documentation>
			<wsdl:input message="impl:addWorkingDayExceptionsRequest" name="addWorkingDayExceptionsRequest">
				<wsdl:documentation>Request message (uses calendar:addWorkingDayExceptions element): Identifies the GUID for which working day exception details are to be created and the new working day exception information.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:addWorkingDayExceptionsResponse" name="addWorkingDayExceptionsResponse">
				<wsdl:documentation>Response message (uses calendar:addWorkingDayExceptionsResponse element): Contains a list of GUIDs for each newly created working day exception.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateWorkingDayExceptions">
			<wsdl:documentation>Update working day exceptions for a given entity.</wsdl:documentation>
			<wsdl:input message="impl:updateWorkingDayExceptionsRequest" name="updateWorkingDayExceptionsRequest">
				<wsdl:documentation>Request message (uses calendar:updateWorkingDayExceptions element): Identifies the GUID for which working day exception details are to be modified and the updated working day exception information.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:updateWorkingDayExceptionsResponse" name="updateWorkingDayExceptionsResponse">
				<wsdl:documentation>Response message (uses calendar:updateWorkingDayExceptionsResponse element): Contains a confirmation that the request was successful.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteWorkingDayExceptions">
			<wsdl:documentation>Delete working day exceptions for a given entity.</wsdl:documentation>
			<wsdl:input message="impl:deleteWorkingDayExceptionsRequest" name="deleteWorkingDayExceptionsRequest">
				<wsdl:documentation>Request message (uses calendar:deleteWorkingDayExceptions element): Identifies the GUID for which working day exception details are to be removed and the GUIDs identifying those exceptions.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:deleteWorkingDayExceptionsResponse" name="deleteWorkingDayExceptionsResponse">
				<wsdl:documentation>Response message (uses calendar:deleteWorkingDayExceptionsResponse element): Contains a confirmation that the request was successful.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="WorkCalService">
		<wsdl:documentation>Create, edit, and get information about base and overlay calendars, time zones, and calendar entries.</wsdl:documentation>
		<wsdl:operation name="listCalendars">
			<wsdl:documentation>Returns the list of known work calendar instances (that is, Base and Overlay calendars). If there are no work calendar instances, the result will be an empty list.
An optional namespace value can be specified to return only those calendars with the given namespace. The namespace comparison will be case-sensitive. If the given namespace ends in an asterisk, then all calendars whose namespace starts with the given value will be returned. If no namespace is specified, all calendars will be listed.</wsdl:documentation>
			<wsdl:input message="impl:listCalendarsRequest" name="listCalendarsRequest">
				<wsdl:documentation>Request message (uses workcal:listCalendars element): Requests  a list of known  base and overlay calendars.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:listCalendarsResponse" name="listCalendarsResponse">
				<wsdl:documentation>Response message (uses workcal:listCalendarsResponse element): Returns list of base and overlay calendars.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCalendar">
			<wsdl:documentation>Returns the details of a named calendar. For a base calendar, the time-zone and Working Day entries will be included. Also includes the calendar entries (Working Day Exclusions and Recurring Exclusions) for a date range given in the request. If no date range is given, no calendar entries are returned. If an open-ended date-range is given, the response will include all Calendar Entries for the given start date/time onwards. The given date range will be given as time-zone neutral values.
The date and time values of the Calendar Entries are specified as time-zone neutral, and should be displayed as is, without time-zone adjustment. However, for base calendars, the time-zone identifier will be included in the response, and this should be displayed for the user to edit.
Recurring Exclusions will be listed only once, and will include the Recurrence Rule expression used to calculate the repeating occurrences.</wsdl:documentation>
			<wsdl:input message="impl:getCalendarRequest" name="getCalendarRequest">
				<wsdl:documentation>Request message (uses workcal:getCalendar element): Identifies the calendar to be returned.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:getCalendarResponse" name="getCalendarResponse">
				<wsdl:documentation>Response message (uses workcal:getCalendarResponse element): Returns details of the named calendar.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="saveCalendar">
			<wsdl:documentation>Updates, or creates, a named Calendar. For a base calendar, the time-zone and Working Day entries should be included.
Only the Calendar and, for base calendars, the Working Day entries will be included in the request.
Calendar Entries will not be included in the request, but should be saved using the Save Calendar Entry operation.
Date and time values in the request are expected to be time-zone neutral.
The request must include a version number that will be compared against the value held by the identified Calendar entry.
If the values don't match, the request will fail with a "concurrency exception".</wsdl:documentation>
			<wsdl:input message="impl:saveCalendarRequest" name="saveCalendarRequest">
				<wsdl:documentation>Request message (uses workcal:saveCalendar element): Names the calendar to be saved and for a base calendar, identifies working days.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:saveCalendarResponse" name="saveCalendarResponse">
				<wsdl:documentation>Response message (uses workcal:saveCalendarResponse element): Returns the details saved. </wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="renameCalendar">
			<wsdl:documentation>Changes the name, and/or namespace, of a Calendar.
The change will not succeed if another Calendar already exists with the new name and namespace combination.
The request must include a version number that will be compared against the value held by the identified Calendar entry.
If the values don't match, the request will fail with a "concurrency exception".</wsdl:documentation>
			<wsdl:input message="impl:renameCalendarRequest" name="renameCalendarRequest">
				<wsdl:documentation>Request message (uses workcal:renameCalendar element): Specifies old and new names and/or namespaces.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:renameCalendarResponse" name="renameCalendarResponse">
				<wsdl:documentation>Response message (uses workcal:renameCalendarResponse element): Returns the new name/namespace and version. </wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault"/>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteCalendar">
			<wsdl:documentation>Deletes the named Calendar, and all the Working Day and Calendar Entries associated with it. The deleted Calendar cannot be recovered.
The request must include a version number that will be compared against the value held by the identified Calendar entry.
If the values don't match, the request will fail with a "concurrency exception".</wsdl:documentation>
			<wsdl:input message="impl:deleteCalendarRequest" name="deleteCalendarRequest">
				<wsdl:documentation>Request message (uses workcal:deleteCalendar element): Specifies a calendar to be deleted.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:deleteCalendarResponse" name="deleteCalendarResponse">
				<wsdl:documentation>Response message (uses workcal:deleteCalendarResponse element): Indicates success of the operation.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="saveCalendarEntry">
			<wsdl:documentation> Updates, or creates, the given Calendar Entry (e.g. Working Day Exclusions and Recurring Exclusions).
 Date and time values in the request are expected to be time-zone neutral.
A Recurring Exclusion is passed using the Recurrence Rule expression, and not as individual dates and times.
The request must include a version number that will be compared against the value held by the identified Calendar entry.
If the values don't match, the request will fail with a "concurrency exception".
The response will include the saved Calendar Entry. If that entry is a Recurring Entry, the instances that fall within the date/time period, given in the request, will be included.</wsdl:documentation>
			<wsdl:input message="impl:saveCalendarEntryRequest" name="saveCalendarEntryRequest">
				<wsdl:documentation>Request message (uses workcal:saveCalendarEntry element): Specifies the calendar and entry to be saved. </wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:saveCalendarEntryResponse" name="saveCalendarEntryResponse">
				<wsdl:documentation>Response message (uses workcal:saveCalendarEntryResponse element): Returns the saved entry. </wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteCalendarEntries">
			<wsdl:documentation>Deletes the Calendar Entries identified by their GUID (e.g. Working Day Exclusions and Recurring Exclusions). The deleted entries cannot be recovered.
If any of the entries fails to be deleted, non of the listed entries will be deleted.
The request must include a version number that will be compared against the value held by the identified Calendar entry.
If the values don't match, the request will fail with a "concurrency exception".</wsdl:documentation>
			<wsdl:input message="impl:deleteCalendarEntriesRequest" name="deleteCalendarEntriesRequest">
				<wsdl:documentation>Request message (uses workcal:deleteCalendarEntries element): Specifies the calendar to be deleted.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:deleteCalendarEntriesResponse" name="deleteCalendarEntriesResponse">
				<wsdl:documentation>Response message (uses workcal:saveCalendarEntryResponse element): Indicates success of the operation.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="purgeCalendarEntries">
			<wsdl:documentation>Deletes the Calendar Entries, of the named Calendar, whose end date is earlier than the given date. The deleted entries cannot be recovered.
If any of the entries fails to be deleted, no entries will be deleted.
The request must include a version number that will be compared against the value held by the identified Calendar entry.
If the values don't match, the request will fail with a "concurrency exception".</wsdl:documentation>
			<wsdl:input message="impl:purgeCalendarEntriesRequest" name="purgeCalendarEntriesRequest">
				<wsdl:documentation>Request message (uses workcal:purgeCalendarEntries element): Specifies the calendar to be purged, and a date before which entries are to be deleted.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:purgeCalendarEntriesResponse" name="purgeCalendarEntriesResponse">
				<wsdl:documentation>Response message (uses workcal:purgeCalendarEntriesResponse element): Indicates success of the operation.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCalEntries">
			<wsdl:documentation>Returns the entries from the identified Calendar that fall within the given date range.
For Recurring Exclusions, the occurrences that fall within the given date range will also be included.</wsdl:documentation>
			<wsdl:input message="impl:getCalEntriesRequest" name="getCalEntriesRequest">
				<wsdl:documentation>Request message (uses workcal:getCalEntries element): Specifies a calendar and a date range for entries.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:getCalEntriesResponse" name="getCalEntriesResponse">
				<wsdl:documentation>Response message (uses workcal:getCalEntriesResponse element): Returns the calendar entries for the given calendar and date range.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="saveCalendarReferences">
			<wsdl:documentation>Associates a Calendar with a client component's reference identifier.
A reference can refer to only one Calendar, but a Calendar can be referenced by any number of client references.
The request must include a version number that will be compared against the value held by the identified Calendar entry.
If the values don't match, the request will fail with a "concurrency exception".</wsdl:documentation>
			<wsdl:input message="impl:saveCalendarReferencesRequest" name="saveCalendarReferencesRequest">
				<wsdl:documentation>Request message (uses workcal:saveCalendarReferences element): Specifies the calendar and one more references to be associated with it.   </wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:saveCalendarReferencesResponse" name="saveCalendarReferencesResponse">
				<wsdl:documentation>Response message (uses workcal:saveCalendarReferencesResponse element): Indicates success of the operation.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="resolveReferences">
			<wsdl:documentation>Resolves a given collection of Calendar References, by returning the identifier of the Calendar instance to which each are associated.
A Calendar Reference is an external reference to a Calendar instance held within the Calendar Component. References simply consist of a unique identifier (a GUID), that can be associated with any one of the Calendars held within the Calendar Component. The same Calendar instance can be associated with any number of Calendar References.
The response will consist of the same Calendar References as the request, but with the identifier of the Calendar instance they are associated with.
If a given Reference is not associated with a Calendar instance, it will still be included but no Calendar will be identified for that reference.</wsdl:documentation>
			<wsdl:input message="impl:resolveReferencesRequest" name="resolveReferencesRequest">
				<wsdl:documentation>Request message (uses workcal:resolveReferences element): Specifies the GUID of one or more calendar references.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:resolveReferencesResponse" name="resolveReferencesResponse">
				<wsdl:documentation>Response message (uses workcal:resolveReferencesResponse element): Returns the list of references requested plus the identifier of the calendar instance that each reference is associated with</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listTimeZones">
			<wsdl:documentation>Returns the list of time-zone identifiers recognised by the Calendar Component. The entries in the returned list are possible values for the time-zone property of a Base Calendar.</wsdl:documentation>
			<wsdl:input message="impl:listTimeZonesRequest" name="listTimeZonesRequest">
				<wsdl:documentation>Request message (uses workcal:listTimeZones element): No parameters are required for this request.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:listTimeZonesResponse" name="listTimeZonesResponse">
				<wsdl:documentation>Response message (uses workcal:listTimeZonesResponse element): Returns all known time-zone identifiers.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): </wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="copyCalendar">
			<wsdl:documentation>This service copies an identified Calendar to create a new Calendar of the same type.
For Base Calendars, the properties to be copied from the original Calendar will include the time-zone and working hours.
For Base and Overlay Calendars, future Calendar Entries can also be copied, if requested.</wsdl:documentation>
			<wsdl:input message="impl:copyCalendarRequest" name="copyCalendarRequest">
				<wsdl:documentation>Request message (uses workcal:copyCalendarRequest element): Specifies the calendar to be copied, and a name for the copy.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:copyCalendarResponse" name="copyCalendarResponse">
				<wsdl:documentation>Response message (uses workcal:copyCalendarResponse element): Returns the name of the new calendar to indicate success. </wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorization failure.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BusinessDeadlineService">
		<wsdl:documentation>Calculate the business deadline based on given calendar references.</wsdl:documentation>
		<wsdl:operation name="calcBusinessDeadline">
			<wsdl:documentation>Calculate the business deadline based on the working time for a given entity. This operation is deprecated and should no longer be used. It is only available for backward compatibility and may be removed in future releases.</wsdl:documentation>
			<wsdl:input message="impl:calcBusinessDeadlineRequest" name="calcBusinessDeadlineRequest">
				<wsdl:documentation>Request message (uses deadline:calcBusinessDeadline element): Identifies the GUID for which working day details are to be used to calculate the deadline along with the start and duration of the requested task.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:calcBusinessDeadlineResponse" name="calcBusinessDeadlineResponse">
				<wsdl:documentation>Response message (uses deadline:calcBusinessDeadlineResponse element): Contains the calculated end date based on the specified calendar's working time.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:deadlineFault" name="DeadlineFault">
				<wsdl:documentation>Error message (uses ex:DeadlineFault): The request could not be processed either due to a badly formed request or invalid working time information.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="calcDeadline">
			<wsdl:documentation>Calculate the business deadline based on the working time for a given entity.</wsdl:documentation>
			<wsdl:input message="impl:calcDeadlineRequest" name="calcDeadlineRequest">
				<wsdl:documentation>Request message (uses deadline:calcDeadline element): Identifies the GUID for which working day details are to be used to calculate the deadline along with the start and duration of the requested task.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output message="impl:calcDeadlineResponse" name="calcDeadlineResponse">
				<wsdl:documentation>Response message (uses deadline:calcDeadlineResponse element): Contains the calculated end date based on the specified calendar's working time.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault message="impl:deadlineFault" name="DeadlineFault">
				<wsdl:documentation>Error message (uses ex:DeadlineFault): The request could not be processed either due to a badly formed request or invalid working time information.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:securityFault" name="SecurityFault">
				<wsdl:documentation>Error message (uses ex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault message="impl:calendarFault" name="CalendarFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="CalendarRefNotificationService">
		<wsdl:documentation>** PRIVATE API - Reserved for internal use **</wsdl:documentation>
		<wsdl:operation name="deleteReferences">
			<wsdl:documentation>** PRIVATE API - Reserved for internal use ** - Passes a collection of GUID values that identify the Calendar References for which the calling component has no more use for.
Those references will be deleted from the Calendar instances to which they are associated.</wsdl:documentation>
			<wsdl:input message="impl:deleteReferencesRequest" name="deleteReferencesRequest">
				<wsdl:documentation>Request message (uses notification:deleteReferences element): Specifies GUIDs of the references to be deleted.</wsdl:documentation>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalendarService_EP" type="impl:CalendarService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCalendarEntries">
			<soap:operation soapAction="getCalendarEntries" style="document"/>
			<wsdl:input name="getCalendarEntriesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCalendarEntriesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateWorkingDays">
			<soap:operation soapAction="updateWorkingDays" style="document"/>
			<wsdl:input name="updateWorkingDaysRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateWorkingDaysResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addWorkingDayExceptions">
			<soap:operation soapAction="addWorkingDayExceptions" style="document"/>
			<wsdl:input name="addWorkingDayExceptionsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addWorkingDayExceptionsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateWorkingDayExceptions">
			<soap:operation soapAction="updateWorkingDayExceptions" style="document"/>
			<wsdl:input name="updateWorkingDayExceptionsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateWorkingDayExceptionsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteWorkingDayExceptions">
			<soap:operation soapAction="deleteWorkingDayExceptions" style="document"/>
			<wsdl:input name="deleteWorkingDayExceptionsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteWorkingDayExceptionsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WorkCalService_EP" type="impl:WorkCalService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="listCalendars">
			<soap:operation soapAction="listCalendars" style="document"/>
			<wsdl:input name="listCalendarsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listCalendarsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCalendar">
			<soap:operation soapAction="getCalendar" style="document"/>
			<wsdl:input name="getCalendarRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCalendarResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="saveCalendar">
			<soap:operation soapAction="saveCalendar" style="document"/>
			<wsdl:input name="saveCalendarRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="saveCalendarResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="renameCalendar">
			<soap:operation soapAction="renameCalendar" style="document"/>
			<wsdl:input name="renameCalendarRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="renameCalendarResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteCalendar">
			<soap:operation soapAction="deleteCalendar" style="document"/>
			<wsdl:input name="deleteCalendarRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteCalendarResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="saveCalendarEntry">
			<soap:operation soapAction="saveCalendarEntry" style="document"/>
			<wsdl:input name="saveCalendarEntryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="saveCalendarEntryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteCalendarEntries">
			<soap:operation soapAction="deleteCalendarEntries" style="document"/>
			<wsdl:input name="deleteCalendarEntriesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteCalendarEntriesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="purgeCalendarEntries">
			<soap:operation soapAction="purgeCalendarEntries" style="document"/>
			<wsdl:input name="purgeCalendarEntriesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="purgeCalendarEntriesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCalEntries">
			<soap:operation soapAction="getCalEntries" style="document"/>
			<wsdl:input name="getCalEntriesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCalEntriesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="saveCalendarReferences">
			<soap:operation soapAction="saveCalendarReferences" style="document"/>
			<wsdl:input name="saveCalendarReferencesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="saveCalendarReferencesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="resolveReferences">
			<soap:operation soapAction="resolveReferences" style="document"/>
			<wsdl:input name="resolveReferencesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="resolveReferencesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listTimeZones">
			<soap:operation soapAction="listTimeZones" style="document"/>
			<wsdl:input name="listTimeZonesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listTimeZonesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="copyCalendar">
			<soap:operation soapAction="copyCalendar" style="document"/>
			<wsdl:input name="copyCalendarRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="copyCalendarResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BusinessDeadlineService_EP" type="impl:BusinessDeadlineService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calcBusinessDeadline">
			<soap:operation soapAction="calcBusinessDeadline" style="document"/>
			<wsdl:input name="calcBusinessDeadlineRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="calcBusinessDeadlineResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DeadlineFault">
				<soap:fault name="DeadlineFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="calcDeadline">
			<soap:operation soapAction="calcDeadline" style="document"/>
			<wsdl:input name="calcDeadlineRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="calcDeadlineResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DeadlineFault">
				<soap:fault name="DeadlineFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CalendarRefNotificationService_EP" type="impl:CalendarRefNotificationService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="deleteReferences">
			<soap:operation soapAction="deleteReferences" style="document"/>
			<wsdl:input name="deleteReferencesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalendarService">
		<wsdl:port binding="impl:CalendarService_EP" name="CalendarService_EP">
			<soap:address location="http://localhost:8080/amxbpm/CalendarService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="WorkCalService">
		<wsdl:port binding="impl:WorkCalService_EP" name="WorkCalService_EP">
			<soap:address location="http://localhost:8080/amxbpm/WorkCalService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="BusinessDeadlineService">
		<wsdl:port binding="impl:BusinessDeadlineService_EP" name="BusinessDeadlineService_EP">
			<soap:address location="http://localhost:8080/amxbpm/BusinessDeadlineService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="CalendarRefNotificationService">
		<wsdl:port binding="impl:CalendarRefNotificationService_EP" name="CalendarRefNotificationService_EP">
			<soap:address location="http://localhost:8080/amxbpm/CalendarRefNotificationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
