tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM42_MergeSchemasTest/gold/builder/macquarietelecom.customerorder.customerorder_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.macquarietelecom/customerorder/customerorder_v1_0.xsd" xmlns:tns3="http://www.macquarietelecom/customerorder/customerorder_v1_0.xsd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.macquarietelecom/customerorder/customerorder_v1_0.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/Services_v1.0/Generated Business Objects/macquarietelecom.customerorder.customerorder_v1_0.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="BundleDetailsType" id="macquarietelecom.customerorder.customerorder_v1_0BundleDetailsType"
      abstract="false" mixed="false" name="BundleDetailsType">
    <xsd:sequence>
      <xsd:element ecore:name="orderID" id="BundleDetailsTypeOrderID" form="qualified"
          maxOccurs="1" minOccurs="0" name="OrderID" type="xsd:int"/>
      <xsd:element ecore:name="bundleName" id="BundleDetailsTypeBundleName" form="qualified"
          maxOccurs="1" minOccurs="0" name="BundleName" type="xsd:string"/>
      <xsd:element ecore:name="serviceBundles" id="BundleDetailsTypeServiceBundles"
          form="qualified" maxOccurs="1" minOccurs="0" name="ServiceBundles" nillable="true"
          type="ServiceBundlesType"/>
      <xsd:element ecore:name="LOB" id="BundleDetailsTypeLOB" form="qualified" maxOccurs="1"
          minOccurs="0" name="LOB" type="xsd:string"/>
      <xsd:element ecore:name="bundleForecastDate" id="BundleDetailsTypeBundleForecastDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="BundleForecastDate" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="bundleOwner" id="BundleDetailsTypeBundleOwner" form="qualified"
          maxOccurs="1" minOccurs="0" name="BundleOwner" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ServiceBundlesType" id="macquarietelecom.customerorder.customerorder_v1_0ServiceBundlesType"
      abstract="false" mixed="false" name="ServiceBundlesType">
    <xsd:sequence>
      <xsd:element ecore:name="serviceBundle" id="ServiceBundlesTypeServiceBundle"
          form="qualified" maxOccurs="unbounded" minOccurs="0" name="ServiceBundle"
          type="ServiceBundle"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ServiceBundle" id="macquarietelecom.customerorder.customerorder_v1_0ServiceBundle"
      abstract="false" mixed="false" name="ServiceBundle">
    <xsd:sequence>
      <xsd:element ecore:name="serviceBundleID" id="ServiceBundleServiceBundleID"
          form="qualified" maxOccurs="1" minOccurs="1" name="ServiceBundleID" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="LOBBundlesType" id="macquarietelecom.customerorder.customerorder_v1_0LOBBundlesType"
      abstract="false" mixed="false" name="LOBBundlesType">
    <xsd:sequence>
      <xsd:element ecore:name="LOBDeliveryBundle" id="LOBBundlesTypeLOBDeliveryBundle"
          form="qualified" maxOccurs="unbounded" minOccurs="0" name="LOBDeliveryBundle"
          type="LOBDeliveryBundle"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="LOBDeliveryBundle" id="macquarietelecom.customerorder.customerorder_v1_0LOBDeliveryBundle"
      abstract="false" mixed="false" name="LOBDeliveryBundle">
    <xsd:sequence>
      <xsd:element ecore:name="deliveryBundleID" id="LOBDeliveryBundleDeliveryBundleID"
          form="qualified" maxOccurs="1" minOccurs="1" name="DeliveryBundleID" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="LOBCode" id="macquarietelecom.customerorder.customerorder_v1_0LOBCode"
      abstract="false" mixed="false" name="LOBCode">
    <xsd:sequence>
      <xsd:element ecore:name="LOB" id="LOBCodeLOB" form="qualified" maxOccurs="1"
          minOccurs="1" name="LOB" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="LOBCodesType" id="macquarietelecom.customerorder.customerorder_v1_0LOBCodesType"
      abstract="false" mixed="false" name="LOBCodesType">
    <xsd:sequence>
      <xsd:element ecore:name="LOBCode" id="LOBCodesTypeLOBCode" form="qualified"
          maxOccurs="unbounded" minOccurs="0" name="LOBCode" type="LOBCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="LOBDataType" id="macquarietelecom.customerorder.customerorder_v1_0LOBDataType"
      abstract="false" mixed="false" name="LOBDataType">
    <xsd:sequence>
      <xsd:element ecore:name="LOBCode" id="LOBDataTypeLOBCode" form="qualified" maxOccurs="1"
          minOccurs="0" name="LOBCode" type="xsd:string"/>
      <xsd:element ecore:name="lineOfBusiness" id="LOBDataTypeLineOfBusiness" form="qualified"
          maxOccurs="1" minOccurs="0" name="LineOfBusiness" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="LOBDetailsType" id="macquarietelecom.customerorder.customerorder_v1_0LOBDetailsType"
      abstract="false" mixed="false" name="LOBDetailsType">
    <xsd:sequence>
      <xsd:element ecore:name="orderID" id="LOBDetailsTypeOrderID" form="qualified"
          maxOccurs="1" minOccurs="0" name="OrderID" type="xsd:int"/>
      <xsd:element ecore:name="LOB" id="LOBDetailsTypeLOB" form="qualified" maxOccurs="1"
          minOccurs="0" name="LOB" type="xsd:string"/>
      <xsd:element ecore:name="LOBOwner" id="LOBDetailsTypeLOBOwner" form="qualified"
          maxOccurs="1" minOccurs="0" name="LOBOwner" nillable="true" type="RepType"/>
      <xsd:element ecore:name="LOBReasonCCDMissed" id="LOBDetailsTypeLOBReasonCCDMissed"
          form="qualified" maxOccurs="1" minOccurs="0" name="LOBReasonCCDMissed" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="LOBActualCompDate" id="LOBDetailsTypeLOBActualCompDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="LOBActualCompDate" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="LOBCustomerCommittedDate" id="LOBDetailsTypeLOBCustomerCommittedDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="LOBCustomerCommittedDate"
          nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="LOBStage" id="LOBDetailsTypeLOBStage" form="qualified"
          maxOccurs="1" minOccurs="0" name="LOBStage" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="LOBStatusReason" id="LOBDetailsTypeLOBStatusReason"
          form="qualified" maxOccurs="1" minOccurs="0" name="LOBStatusReason" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="LOBOutstandingReason" id="LOBDetailsTypeLOBOutstandingReason"
          form="qualified" maxOccurs="1" minOccurs="0" name="LOBOutstandingReason"
          nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="LOBDelayReason" id="LOBDetailsTypeLOBDelayReason" form="qualified"
          maxOccurs="1" minOccurs="0" name="LOBDelayReason" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="LOBCommonReason" id="LOBDetailsTypeLOBCommonReason"
          form="qualified" maxOccurs="1" minOccurs="0" name="LOBCommonReason" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="LOBRejectReason" id="LOBDetailsTypeLOBRejectReason"
          form="qualified" maxOccurs="1" minOccurs="0" name="LOBRejectReason" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="LOBDeliveryBundles" id="LOBDetailsTypeLOBDeliveryBundles"
          form="qualified" maxOccurs="1" minOccurs="0" name="LOBDeliveryBundles" nillable="true"
          type="LOBBundlesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RepType" id="macquarietelecom.customerorder.customerorder_v1_0RepType"
      abstract="false" mixed="false" name="RepType">
    <xsd:sequence>
      <xsd:element ecore:name="userName" id="RepTypeUserName" form="qualified" maxOccurs="1"
          minOccurs="0" name="UserName" type="xsd:string"/>
      <xsd:element ecore:name="firstName" id="RepTypeFirstName" form="qualified" maxOccurs="1"
          minOccurs="0" name="FirstName" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="lastName" id="RepTypeLastName" form="qualified" maxOccurs="1"
          minOccurs="0" name="LastName" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="OrderBundleListType" id="macquarietelecom.customerorder.customerorder_v1_0OrderBundleListType"
      abstract="false" mixed="false" name="OrderBundleListType">
    <xsd:sequence>
      <xsd:element ecore:name="orderBundle" id="OrderBundleListTypeOrderBundle" form="qualified"
          maxOccurs="unbounded" minOccurs="0" name="OrderBundle" type="OrderDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="OrderDetailsType" id="macquarietelecom.customerorder.customerorder_v1_0OrderDetailsType"
      abstract="false" mixed="false" name="OrderDetailsType">
    <xsd:sequence>
      <xsd:element ecore:name="orderID" id="OrderDetailsTypeOrderID" form="qualified"
          maxOccurs="1" minOccurs="0" name="OrderID" type="xsd:int"/>
      <xsd:element ecore:name="LOBCodes" id="OrderDetailsTypeLOBCodes" form="qualified"
          maxOccurs="1" minOccurs="0" name="LOBCodes" nillable="true" type="LOBCodesType"/>
      <xsd:element ecore:name="orderType" id="OrderDetailsTypeOrderType" form="qualified"
          maxOccurs="1" minOccurs="0" name="OrderType" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="companyID" id="OrderDetailsTypeCompanyID" form="qualified"
          maxOccurs="1" minOccurs="0" name="CompanyID" nillable="true" type="xsd:int"/>
      <xsd:element ecore:name="companyName" id="OrderDetailsTypeCompanyName" form="qualified"
          maxOccurs="1" minOccurs="0" name="CompanyName" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="enteredBy" id="OrderDetailsTypeEnteredBy" form="qualified"
          maxOccurs="1" minOccurs="0" name="EnteredBy" nillable="true" type="RepType"/>
      <xsd:element ecore:name="lastOwner" id="OrderDetailsTypeLastOwner" form="qualified"
          maxOccurs="1" minOccurs="0" name="LastOwner" nillable="true" type="RepType"/>
      <xsd:element ecore:name="orderStatus" id="OrderDetailsTypeOrderStatus" form="qualified"
          maxOccurs="1" minOccurs="0" name="OrderStatus" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="assignedToRep" id="OrderDetailsTypeAssignedToRep" form="qualified"
          maxOccurs="1" minOccurs="0" name="AssignedToRep" nillable="true" type="RepType"/>
      <xsd:element ecore:name="assignedToGrp" id="OrderDetailsTypeAssignedToGrp" form="qualified"
          maxOccurs="1" minOccurs="0" name="AssignedToGrp" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="creationDate" id="OrderDetailsTypeCreationDate" form="qualified"
          maxOccurs="1" minOccurs="0" name="CreationDate" nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="billingNotes" id="OrderDetailsTypeBillingNotes" form="qualified"
          maxOccurs="1" minOccurs="0" name="BillingNotes" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="versionNumber" id="OrderDetailsTypeVersionNumber" form="qualified"
          maxOccurs="1" minOccurs="0" name="VersionNumber" nillable="true" type="xsd:int"/>
      <xsd:element ecore:name="lastStatusChange" id="OrderDetailsTypeLastStatusChange"
          form="qualified" maxOccurs="1" minOccurs="0" name="LastStatusChange" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="dateEnteredConv" id="OrderDetailsTypeDateEnteredConv"
          form="qualified" maxOccurs="1" minOccurs="0" name="DateEnteredConv" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="dateEnteredProv" id="OrderDetailsTypeDateEnteredProv"
          form="qualified" maxOccurs="1" minOccurs="0" name="DateEnteredProv" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="technicalConsultant" id="OrderDetailsTypeTechnicalConsultant"
          form="qualified" maxOccurs="1" minOccurs="0" name="TechnicalConsultant"
          nillable="true" type="RepType"/>
      <xsd:element ecore:name="orderDescription" id="OrderDetailsTypeOrderDescription"
          form="qualified" maxOccurs="1" minOccurs="0" name="OrderDescription" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="macBillID" id="OrderDetailsTypeMacBillID" form="qualified"
          maxOccurs="1" minOccurs="0" name="MacBillID" nillable="true" type="xsd:int"/>
      <xsd:element ecore:name="contractDuration" id="OrderDetailsTypeContractDuration"
          form="qualified" maxOccurs="1" minOccurs="0" name="ContractDuration" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="actualCompletionDate" id="OrderDetailsTypeActualCompletionDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="ActualCompletionDate"
          nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="salesRep" id="OrderDetailsTypeSalesRep" form="qualified"
          maxOccurs="1" minOccurs="0" name="SalesRep" nillable="true" type="RepType"/>
      <xsd:element ecore:name="cancelDate" id="OrderDetailsTypeCancelDate" form="qualified"
          maxOccurs="1" minOccurs="0" name="CancelDate" nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="datePaperworkArrived" id="OrderDetailsTypeDatePaperworkArrived"
          form="qualified" maxOccurs="1" minOccurs="0" name="DatePaperworkArrived"
          nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="terminationNoticeReceived" id="OrderDetailsTypeTerminationNoticeReceived"
          form="qualified" maxOccurs="1" minOccurs="0" name="TerminationNoticeReceived"
          nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="dateLeftOutstanding" id="OrderDetailsTypeDateLeftOutstanding"
          form="qualified" maxOccurs="1" minOccurs="0" name="DateLeftOutstanding"
          nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="accountContact" id="OrderDetailsTypeAccountContact"
          form="qualified" maxOccurs="1" minOccurs="0" name="AccountContact" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="dateReenteredConv" id="OrderDetailsTypeDateReenteredConv"
          form="qualified" maxOccurs="1" minOccurs="0" name="DateReenteredConv" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="lastOwnershipChangeDate" id="OrderDetailsTypeLastOwnershipChangeDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="LastOwnershipChangeDate"
          nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="outstandingReason" id="OrderDetailsTypeOutstandingReason"
          form="qualified" maxOccurs="1" minOccurs="0" name="OutstandingReason" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="outstandingFlag" id="OrderDetailsTypeOutstandingFlag"
          form="qualified" maxOccurs="1" minOccurs="0" name="OutstandingFlag" nillable="true"
          type="xsd:boolean"/>
      <xsd:element ecore:name="MSAVariation" id="OrderDetailsTypeMSAVariation" form="qualified"
          maxOccurs="1" minOccurs="0" name="MSAVariation" nillable="true" type="xsd:boolean"/>
      <xsd:element ecore:name="handoverAcceptedFlag" id="OrderDetailsTypeHandoverAcceptedFlag"
          form="qualified" maxOccurs="1" minOccurs="0" name="HandoverAcceptedFlag"
          nillable="true" type="xsd:boolean"/>
      <xsd:element ecore:name="handoverAcceptedBy" id="OrderDetailsTypeHandoverAcceptedBy"
          form="qualified" maxOccurs="1" minOccurs="0" name="HandoverAcceptedBy" nillable="true"
          type="RepType"/>
      <xsd:element ecore:name="handoverAcceptedDate" id="OrderDetailsTypeHandoverAcceptedDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="HandoverAcceptedDate"
          nillable="true" type="xsd:dateTime"/>
      <xsd:element ecore:name="finalQuote" id="OrderDetailsTypeFinalQuote" form="qualified"
          maxOccurs="1" minOccurs="0" name="FinalQuote" nillable="true" type="xsd:boolean"/>
      <xsd:element ecore:name="salesforceID" id="OrderDetailsTypeSalesforceID" form="qualified"
          maxOccurs="1" minOccurs="0" name="SalesforceID" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="tellTheStory" id="OrderDetailsTypeTellTheStory" form="qualified"
          maxOccurs="1" minOccurs="0" name="TellTheStory" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="CRISPURL" id="OrderDetailsTypeCRISPURL" form="qualified"
          maxOccurs="1" minOccurs="0" name="CRISPURL" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="enteredByRepGrp" id="OrderDetailsTypeEnteredByRepGrp"
          form="qualified" maxOccurs="1" minOccurs="0" name="EnteredByRepGrp" nillable="true"
          type="RepGroupType"/>
      <xsd:element ecore:name="showInPortal" id="OrderDetailsTypeShowInPortal" form="qualified"
          maxOccurs="1" minOccurs="0" name="ShowInPortal" nillable="true" type="xsd:int"/>
      <xsd:element ecore:name="projectID" id="OrderDetailsTypeProjectID" form="qualified"
          maxOccurs="1" minOccurs="0" name="ProjectID" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RepGroupType" id="macquarietelecom.customerorder.customerorder_v1_0RepGroupType"
      abstract="false" mixed="false" name="RepGroupType">
    <xsd:sequence>
      <xsd:element ecore:name="repGroup" id="RepGroupTypeRepGroup" form="qualified"
          maxOccurs="unbounded" minOccurs="0" name="RepGroup" type="RepGroup"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RepGroup" id="macquarietelecom.customerorder.customerorder_v1_0RepGroup"
      abstract="false" mixed="false" name="RepGroup">
    <xsd:sequence>
      <xsd:element ecore:name="group" id="RepGroupGroup" form="qualified" maxOccurs="1"
          minOccurs="1" name="Group" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="OrderProductDetailsType" id="macquarietelecom.customerorder.customerorder_v1_0OrderProductDetailsType"
      abstract="false" mixed="false" name="OrderProductDetailsType">
    <xsd:sequence>
      <xsd:element ecore:name="orderProdID" id="OrderProductDetailsTypeOrderProdID"
          form="qualified" maxOccurs="1" minOccurs="0" name="OrderProdID" type="xsd:int"/>
      <xsd:element ecore:name="orderID" id="OrderProductDetailsTypeOrderID" form="qualified"
          maxOccurs="1" minOccurs="0" name="OrderID" type="xsd:int"/>
      <xsd:element ecore:name="companyID" id="OrderProductDetailsTypeCompanyID" form="qualified"
          maxOccurs="1" minOccurs="0" name="CompanyID" nillable="true" type="xsd:int"/>
      <xsd:element ecore:name="companyName" id="OrderProductDetailsTypeCompanyName"
          form="qualified" maxOccurs="1" minOccurs="0" name="CompanyName" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="serviceBundleID" id="OrderProductDetailsTypeServiceBundleID"
          form="qualified" maxOccurs="1" minOccurs="0" name="ServiceBundleID" nillable="true"
          type="xsd:int"/>
      <xsd:element ecore:name="deliveryBundleID" id="OrderProductDetailsTypeDeliveryBundleID"
          form="qualified" maxOccurs="1" minOccurs="0" name="DeliveryBundleID" nillable="true"
          type="xsd:int"/>
      <xsd:element ecore:name="LOB" id="OrderProductDetailsTypeLOB" form="qualified"
          maxOccurs="1" minOccurs="0" name="LOB" type="xsd:string"/>
      <xsd:element ecore:name="prodCode" id="OrderProductDetailsTypeProdCode" form="qualified"
          maxOccurs="1" minOccurs="0" name="ProdCode" type="xsd:int"/>
      <xsd:element ecore:name="status" id="OrderProductDetailsTypeStatus" form="qualified"
          maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
      <xsd:element ecore:name="assignedToRep" id="OrderProductDetailsTypeAssignedToRep"
          form="qualified" maxOccurs="1" minOccurs="0" name="AssignedToRep" nillable="true"
          type="RepType"/>
      <xsd:element ecore:name="macBillInvoicingEntity" id="OrderProductDetailsTypeMacBillInvoicingEntity"
          form="qualified" maxOccurs="1" minOccurs="0" name="MacBillInvoicingEntity"
          nillable="true" type="xsd:int"/>
      <xsd:element ecore:name="completionDate" id="OrderProductDetailsTypeCompletionDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="CompletionDate" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="startBillingDate" id="OrderProductDetailsTypeStartBillingDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="StartBillingDate" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="leadTime" id="OrderProductDetailsTypeLeadTime" form="qualified"
          maxOccurs="1" minOccurs="0" name="LeadTime" nillable="true" type="xsd:decimal"/>
      <xsd:element ecore:name="leadTimeDate" id="OrderProductDetailsTypeLeadTimeDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="LeadTimeDate" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="forecastDate" id="OrderProductDetailsTypeForecastDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="ForecastDate" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="creationDate" id="OrderProductDetailsTypeCreationDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="CreationDate" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="serviceID" id="OrderProductDetailsTypeServiceID" form="qualified"
          maxOccurs="1" minOccurs="0" name="ServiceID" nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="sentToBillingDate" id="OrderProductDetailsTypeSentToBillingDate"
          form="qualified" maxOccurs="1" minOccurs="0" name="SentToBillingDate" nillable="true"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="description" id="OrderProductDetailsTypeDescription"
          form="qualified" maxOccurs="1" minOccurs="0" name="Description" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="elementCode" id="OrderProductDetailsTypeElementCode"
          form="qualified" maxOccurs="1" minOccurs="0" name="ElementCode" nillable="true"
          type="xsd:int"/>
      <xsd:element ecore:name="elementDescription" id="OrderProductDetailsTypeElementDescription"
          form="qualified" maxOccurs="1" minOccurs="0" name="ElementDescription" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="changeType" id="OrderProductDetailsTypeChangeType"
          form="qualified" maxOccurs="1" minOccurs="0" name="ChangeType" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="forecastReason" id="OrderProductDetailsTypeForecastReason"
          form="qualified" maxOccurs="1" minOccurs="0" name="ForecastReason" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="uniqueElementID" id="OrderProductDetailsTypeUniqueElementID"
          form="qualified" maxOccurs="1" minOccurs="0" name="UniqueElementID" nillable="true"
          type="xsd:int"/>
      <xsd:element ecore:name="MTReference" id="OrderProductDetailsTypeMTReference"
          form="qualified" maxOccurs="1" minOccurs="0" name="MTReference" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="fastTrackReason" id="OrderProductDetailsTypeFastTrackReason"
          form="qualified" maxOccurs="1" minOccurs="0" name="FastTrackReason" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="carrierGap" id="OrderProductDetailsTypeCarrierGap"
          form="qualified" maxOccurs="1" minOccurs="0" name="CarrierGap" nillable="true"
          type="xsd:string"/>
      <xsd:element ecore:name="reasonForCarrierGap" id="OrderProductDetailsTypeReasonForCarrierGap"
          form="qualified" maxOccurs="1" minOccurs="0" name="ReasonForCarrierGap"
          nillable="true" type="xsd:string"/>
      <xsd:element ecore:name="productType" id="OrderProductDetailsTypeProductType"
          form="qualified" maxOccurs="1" minOccurs="0" name="ProductType" nillable="true"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="OrderProductsBundleListType" id="macquarietelecom.customerorder.customerorder_v1_0OrderProductsBundleListType"
      abstract="false" mixed="false" name="OrderProductsBundleListType">
    <xsd:sequence>
      <xsd:element ecore:name="orderProductsBundle" id="OrderProductsBundleListTypeOrderProductsBundle"
          form="qualified" maxOccurs="unbounded" minOccurs="0" name="OrderProductsBundle"
          type="OrderProductDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="OrderStatusDetailsType" id="macquarietelecom.customerorder.customerorder_v1_0OrderStatusDetailsType"
      abstract="false" mixed="false" name="OrderStatusDetailsType">
    <xsd:sequence>
      <xsd:element ecore:name="orderStatus" id="OrderStatusDetailsTypeOrderStatus"
          form="qualified" maxOccurs="1" minOccurs="0" name="OrderStatus" type="xsd:int"/>
      <xsd:element ecore:name="description" id="OrderStatusDetailsTypeDescription"
          form="qualified" maxOccurs="1" minOccurs="0" name="Description" nillable="true"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="OrderTypeDetailsType" id="macquarietelecom.customerorder.customerorder_v1_0OrderTypeDetailsType"
      abstract="false" mixed="false" name="OrderTypeDetailsType">
    <xsd:sequence>
      <xsd:element ecore:name="type" id="OrderTypeDetailsTypeType" form="qualified"
          maxOccurs="1" minOccurs="0" name="Type" type="xsd:int"/>
      <xsd:element ecore:name="description" id="OrderTypeDetailsTypeDescription" form="qualified"
          maxOccurs="1" minOccurs="0" name="Description" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>