tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-union/gold/builder/XSDBOM_Union23_Variations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/UnionVariations" xmlns:tns1="http://example.com/UnionVariations"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/UnionVariations">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Union23_Variations/Business Objects/com.example.UnionVariations.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="positiveinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="jeans_size" id="com.example.UnionVariationsjeans_size"
      name="jeans_size">
    <xsd:union memberTypes="tns1:sizebyno tns1:sizebystring"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="sizebyno" id="com.example.UnionVariationssizebyno2"
      name="sizebyno">
    <xsd:restriction base="tns1:positiveinteger_StudioGeneratedTemplate">
      <xsd:maxInclusive fixed="false" value="42"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="sizebystring" id="com.example.UnionVariationssizebystring"
      name="sizebystring">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="SMALL" value="small"/>
      <xsd:enumeration ecore:name="MEDIUM" value="medium"/>
      <xsd:enumeration ecore:name="LARGE" value="large"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="tmpComplex" id="com.example.UnionVariationstmpComplex"
      abstract="false" mixed="false" name="tmpComplex">
    <xsd:sequence>
      <xsd:element ecore:name="elem1" id="tmpComplexelem1" form="unqualified" maxOccurs="1"
          minOccurs="1" name="elem1" type="tns1:jeans_size"/>
      <xsd:element ecore:name="elem2" id="tmpComplexelem2" form="unqualified" maxOccurs="1"
          minOccurs="1" name="elem2" type="tns1:sizebyno"/>
      <xsd:element ecore:name="elem3" id="tmpComplexelem3" form="unqualified" maxOccurs="1"
          minOccurs="1" name="elem3" type="tns1:sizebystring"/>
      <xsd:element ecore:name="elem4" id="tmpComplexelem4" form="unqualified" maxOccurs="1"
          minOccurs="1" name="elem4">
        <xsd:simpleType ecore:name="elem4">
          <xsd:union memberTypes="tns1:sizebyno tns1:sizebystring"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="topElem" nillable="false">
    <xsd:simpleType ecore:name="topElemType">
      <xsd:union memberTypes="tns1:sizebyno tns1:sizebystring"/>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>