tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/gold/builder/XSDBOM_TLE12A_ComplexTypeExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM_TLE12_ComplexTypeExtension" xmlns:tns1="http://www.example.org/XSDBOM_TLE12_ComplexTypeExtension"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM_TLE12_ComplexTypeExtension">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_TLE12A_ComplexTypeExtension/Business Objects/org.example.XSDBOM_TLE12_ComplexTypeExtension.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Person" id="org.example.XSDBOM_TLE12_ComplexTypeExtensionPerson"
      abstract="false" mixed="false" name="Person">
    <xsd:sequence>
      <xsd:element ecore:name="surname" id="Personsurname" form="qualified" maxOccurs="1"
          minOccurs="1" name="surname" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="Child" nillable="false">
    <xsd:complexType ecore:name="ChildType">
      <xsd:complexContent mixed="false">
        <xsd:extension base="Person">
          <xsd:sequence>
            <xsd:element ecore:name="school" id="ChildTypeschool" form="qualified"
                maxOccurs="1" minOccurs="1" name="school" type="xsd:string"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>