tbs-bpm/tests/com.tibco.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/xsdimport/complexTypeWithElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://complexTypeWithElements" targetNamespace="http://complexTypeWithElements" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Order">
		<xs:sequence>
			<xs:element name="requiredElement" type="xs:string"/>
			<xs:element name="optionalElement" type="xs:boolean" minOccurs="0"/>
			<xs:element name="manyValuedElement" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="elementWithDefault" type="xs:int" default="10"/>
			<xs:element name="elementWithPattern">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-9][0-9][0-9][0-9][0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elementWithRestriction">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
