tbs-bpm/tests/com.tibco.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/xsdimport/SubstitutionGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://SubstitutionGroup" targetNamespace="http://SubstitutionGroup">
	<xsd:element name="Publication" type="PublicationType"/>
	<xsd:element name="Catalogue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Publication" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Book" type="BookType" substitutionGroup="Publication"/>
	<xsd:element name="Magazine" type="MagazineType" substitutionGroup="Publication"/>
	<xsd:complexType name="PublicationType">
		<xsd:sequence>
			<xsd:element name="Title" type="xsd:string"/>
			<xsd:element name="Author" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BookType">
		<xsd:complexContent>
			<xsd:extension base="PublicationType">
				<xsd:sequence>
					<xsd:element name="ISBN" type="xsd:string"/>
					<xsd:element name="Publisher" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MagazineType">
		<xsd:complexContent>
			<xsd:extension base="PublicationType">
				<xsd:sequence>
					<xsd:element name="rating" type="xsd:int"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
