tbs-bpm/tests/com.tibco.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/any/AnyNestedElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/AnyNestedElement" targetNamespace="http://example.com/AnyNestedElement" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore">
	<xs:element name="train" type="TrainType"/>
	<xs:complexType name="TrainType" ecore:name="TrainType">
		<xs:sequence>
			<xs:element name="line" type="xs:string" ecore:name="line"/>
			<xs:element name="company" type="xs:string" ecore:name="company"/>
			<xs:any processContents="lax" ecore:name="any"/>
			<xs:sequence>
				<xs:element name="power" type="xs:string" ecore:name="power"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
