tbs-bpm/tests/com.tibco.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/any/NameClashAny.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/NameClashAny" targetNamespace="http://example.com/NameClashAny" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore">
	<xs:element name="person">
		<xs:complexType ecore:name="personType">
			<xs:sequence>
				<xs:element name="any" type="xs:string" ecore:name="any"/>
				<xs:element name="any1" type="xs:string" ecore:name="any1"/>
				<xs:any processContents="lax" minOccurs="0" maxOccurs="5" ecore:name="any2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
