tbs-bpm/tests/com.tibco.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/any/SimpleAnyNamed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/SimpleAnyNamed" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" targetNamespace="http://example.com/SimpleAnyNamed">
	<xs:element name="person">
		<xs:complexType ecore:name="personType">
			<xs:sequence>
				<xs:element name="firstname" type="xs:string" ecore:name="firstname"/>
				<xs:element name="lastname" type="xs:string" ecore:name="lastname"/>
				<xs:any processContents="lax" minOccurs="0" maxOccurs="5" ecore:name="customAny"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
