tbs-bpm/product/com.tibco.sce.wm.feature/plugins/com.tibco.xpd.n2.wp/model/wpModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Michael Atkins (Tibco Software Ltd) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Staffware PLC (Staffware PLC) -->
<xs:schema xmlns:wp="http://service.archive.wp.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://channeltype.common.n2.tibco.com" targetNamespace="http://service.archive.wp.n2.tibco.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://channeltype.common.n2.tibco.com" schemaLocation="channeltype.xsd"/>
	<xs:element name="Service-Archive-Descriptor">
		<xs:annotation>
			<xs:documentation>Root element of work presentation deployment schema</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="channels">
					<xs:annotation>
						<xs:documentation>Channels are presenation channels which are RTC specific.One or more channels can be deployed at the same time during deployment</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="channel" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Channel is a presentation channel.At least one channel needs to be specified during deployment.It is possible to just deploy the channel without deploying the assosciate resources or can be a full fledged channel deployment with associated work model type and its resources</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="description" type="xs:string" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													Description of the
													channel that is
													getting deployed
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="target-channel-type" type="ct:ChannelType">
											<xs:annotation>
												<xs:documentation>
													Target channel type
													indicates the client
													type of channel for
													viewing the
													presentation.EMAIL
													channel is a channel
													type which might be
													capable of
													displaying
													JSP/Forms/MS-Word
													type of
													presentations
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="presentation-channel-type" type="ct:PresentationType">
											<xs:annotation>
												<xs:documentation>
													presentation type
													specifies the
													rendering engine
													type for the
													presentation.It can
													be something like
													JSP,GI,RCP..etc
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="implementation-type" type="ct:ImplementationType">
											<xs:annotation>
												<xs:documentation>
													Implementation type
													specifies the
													fulfillment type of
													the presentation
													.This fulfillment
													type can be a server
													push/pull
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="work-type" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													WorkModel type is
													the work type/work
													model type defined
													in BRM.It is assumed
													that in runtime that
													work types/ work
													model types are
													already deployed and
													activated before the
													work presentation
													request is made.Same
													work model type can
													be associated to
													different
													presentation forms
													based on the channel
													specified
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="extended-properties" type="wp:extendedPropertiesType" nillable="true" minOccurs="0">
														<xs:annotation>
															<xs:documentation>
																It is a
																provision
																to add
																custom
																properties
																to the
																work
																model
																type
																which
																can be
																interpreted
																by the
																Work
																Presenation
																Deployment
																Analyser
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="form" type="wp:formType">
															<xs:annotation>
																<xs:documentation>
																	Form
																	indicates
																	the
																	presentation
																	resource
																	that
																	needs
																	to
																	be
																	displayed
																	for
																	this
																	particular
																	work
																	type
																	request
																</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="page-flow" type="wp:pageFlowType" nillable="false"/>
														<xs:element name="extension-config" type="wp:channelExtentionType"/>
														<xs:element name="page-flow-ref" type="wp:pageFlowRefType"/>
													</xs:choice>
												</xs:sequence>
												<xs:attribute name="guid" type="xs:string" use="required"/>
												<xs:attribute name="name" type="xs:string" use="optional"/>
												<xs:attribute name="version" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="domain" type="xs:string" minOccurs="0"/>
										<xs:element name="extended-properties" type="wp:extendedPropertiesType" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													It is a provision to
													add custom
													properties to the
													work model type
													which can be
													interpreted by the
													Work Presenation
													Deployment Analyser
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="extension-config" type="wp:channelExtentionType" nillable="true" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													Defines extended
													channel information,
													for example, Email
													Channel, or for a
													channel not yet
													implemented in WP.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="business-service" type="wp:businessServiceType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													Defines page flow
													business service
													form related
													resources.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="page-flow" type="wp:pageFlowType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="version" type="xs:string" use="optional"/>
									<xs:attribute name="channelId" type="xs:string" use="required"/>
									<xs:attribute name="name" type="xs:string" use="optional"/>
									<xs:attribute name="defaultChannel" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>Is this a default channel for the target channel type. Note there should be only one default channel per channel type.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="version" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="extendedPropertiesType">
		<xs:sequence>
			<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string">
							<xs:annotation>
								<xs:documentation>Name of the extended property</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="value" type="xs:string">
							<xs:annotation>
								<xs:documentation>Value of the extended property</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="type" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Type of the extended property</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="formType">
		<xs:sequence>
			<xs:element name="formIdentifier" type="xs:string" nillable="false">
				<xs:annotation>
					<xs:documentation>This path is relative to the deployable module toor directory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relative-path" type="xs:string" nillable="false">
				<xs:annotation>
					<xs:documentation>This path is relative to the base context path</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="base-path" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The base context of the form url</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="optional"/>
		<xs:attribute name="guid" type="xs:string" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="channelExtentionType">
		<xs:annotation>
			<xs:documentation>Defines extended Channel Type deployment information such as Email Channel, or for a channel type not yet implemented</xs:documentation>
		</xs:annotation>
		<xs:attribute name="filename" type="xs:string" use="required"/>
		<xs:attribute name="location" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="pageFlowType">
		<xs:annotation>
			<xs:documentation>This is just a place holder to accomadate any future requirements of page flow necessary for a particular type work type.This may not have much importance in the current deployment scenario</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="page-activity" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="page-reference" type="wp:formType"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="name" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="url" type="xs:string" use="required"/>
		<xs:attribute name="moduleName" type="xs:string" use="required"/>
		<xs:attribute name="moduleVersion" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="pageFlowRefType">
		<xs:annotation>
			<xs:documentation>This is type represents the reference to the pageflow element.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="refId" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="businessServiceType">
		<xs:complexContent>
			<xs:extension base="wp:pageFlowType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
