tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM28_GenerateXsdForAttributeTypeDoubleTest/gold/builder/org.example.math.types2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.org/math/types2/" xmlns:tns2="http://example.org/math/types2/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns3="http://example.org/math/types/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/math/types2/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/k2/Generated Business Objects/org.example.math.types2.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://example.org/math/types/" schemaLocation="org.example.math.types.xsd"/>
  <xsd:complexType ecore:name="MathsRestrictedInput" id="org.example.math.types2MathsRestrictedInput"
      abstract="false" mixed="false" name="MathsRestrictedInput">
    <xsd:complexContent mixed="false">
      <xsd:restriction base="tns3:MathInput">
        <xsd:sequence>
          <xsd:element ecore:name="x" id="MathsRestrictedInputx" form="unqualified"
              maxOccurs="1" minOccurs="1" name="x" type="tns3:double_StudioGeneratedTemplate"/>
          <xsd:element ecore:name="y" id="MathsRestrictedInputy" form="unqualified"
              maxOccurs="1" minOccurs="1" name="y" type="tns3:double_StudioGeneratedTemplate"/>
          <xsd:element ecore:name="description" id="MathsRestrictedInputdescription"
              form="unqualified" maxOccurs="1" minOccurs="1" name="description" type="xsd:string"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>