tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/N2 WebService XPath Valid Mappings/TestWebServiceXPathValidMappings/Service Descriptors/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">      <xsd:complexType name="InParamsType">
      	<xsd:sequence>
      		<xsd:element name="requiredStringIn" type="xsd:string"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="optionalStringIn" type="xsd:string"
      			minOccurs="0" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="optionalIntSeqIn" type="xsd:int"
      			minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="optionalDateSeqIn" type="xsd:dateTime"
      			minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="requiredChildIn" type="tns:ChildType"
      			minOccurs="1" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="optionalChildIn" type="tns:ChildType"
      			minOccurs="0" maxOccurs="1">
      		</xsd:element>

      		<xsd:element name="optionalChildArray" type="tns:ChildType"
      			minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:choice>
      			<xsd:element name="requiredSingleChoiceA"
      				type="xsd:string">
      			</xsd:element>
      			<xsd:element name="requiredSingleChoiceB"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:choice>


      		<xsd:choice>
      			<xsd:element name="optionalSingleChoiceA"
      				type="xsd:string" minOccurs="0" maxOccurs="1">
      			</xsd:element>
      			<xsd:element name="optionalSingleChoiceB"
      				type="xsd:string" minOccurs="0" maxOccurs="1">
      			</xsd:element>
      		</xsd:choice>

      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="OutParamsType">
      	<xsd:sequence>
      		<xsd:element name="requiredStringOut" type="xsd:string"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="optionalStringOut" type="xsd:string"
      			minOccurs="0" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="requiredIntSeqOut" type="xsd:int"
      			minOccurs="1" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="optionalDateSeqOut" type="xsd:dateTime"
      			minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="requiredChildOut" type="tns:ChildType"
      			minOccurs="1" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="optionalChildOut" type="tns:ChildType"
      			minOccurs="0" maxOccurs="1">
      		</xsd:element>

      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="FaultParamsType">
      	<xsd:sequence>
      		<xsd:element name="requiredStringFault" type="xsd:string"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="optionalStringFault" type="xsd:string"
      			minOccurs="0" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="requiredIntSeqFault" type="xsd:int"
      			minOccurs="1" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="optionalDateSeqFault" type="xsd:dateTime"
      			minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="requiredChildFault" type="tns:ChildType"
      			minOccurs="1" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="optionalChildFault" type="tns:ChildType"
      			minOccurs="0" maxOccurs="1">
      		</xsd:element>

      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ChildType">
      	<xsd:sequence>
      		<xsd:element name="requiredChildString" type="xsd:string"
      			minOccurs="1" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="optionalChildString" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>

      		<xsd:element name="simpleTypeWithAttr"
      			type="tns:simpleTypeWithAttrType" minOccurs="0"
      			maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="min0Max2" type="xsd:string" minOccurs="0" maxOccurs="2"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="requiredChildAttribute"
      		type="xsd:boolean" use="required">
      	</xsd:attribute>
      	
      	<xsd:attribute name="optionalChildAttribute" type="xsd:string" use="optional"></xsd:attribute>
      </xsd:complexType>
    
        
    
      <xsd:complexType name="simpleTypeWithAttrType">
      	<xsd:simpleContent>
                    <xsd:extension base="xsd:string">

      			<xsd:attribute name="requiredAttribute" type="xsd:string" use="required">
      			</xsd:attribute>
      			<xsd:attribute name="optionalAttribute" type="xsd:string" use="optional">
      			</xsd:attribute>
      		</xsd:extension>
      	</xsd:simpleContent>
      </xsd:complexType>
    
    
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part name="inParameters" type="tns:InParamsType"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part name="outParameters" type="tns:OutParamsType" />
  </wsdl:message>
  <wsdl:message name="NewOperation_faultMsg">
  	<wsdl:part name="fault" type="tns:FaultParamsType"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NewWSDLFile">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="fault" message="tns:NewOperation_faultMsg"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDLFile">
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
