tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.test/resources/Must Have Same Partic Name For Same PortType Test/BPM Project/Generated Services/ProcessPackage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_c31MwB1oEd-snYdvDX4uvw" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessPackage" targetNamespace="http://www.tibco.com/bs3.0/_c31MwB1oEd-snYdvDX4uvw" tibex:XPDL="ProcessPackage.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_c31MwB1oEd-snYdvDX4uvw" targetNamespace="http://www.tibco.com/bs3.0/_c31MwB1oEd-snYdvDX4uvw">
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="ProcessPackageProcess_ReceiveTask_INPUT">
        <wsdl:part name="Parameter" type="ns:string_50"/>
    </wsdl:message>
    <wsdl:message name="ProcessPackageProcess_ReceiveTask_OUTPUT">
        <wsdl:part name="Parameter" type="ns:string_50"/>
    </wsdl:message>
    <wsdl:message name="ProcessPackageProcess_ReceiveTask2_INPUT">
        <wsdl:part name="Parameter" type="ns:string_50"/>
    </wsdl:message>
    <wsdl:message name="ProcessPackageProcess_ReceiveTask2_OUTPUT">
        <wsdl:part name="Parameter" type="ns:string_50"/>
    </wsdl:message>
    <wsdl:portType name="ProcessPackageProcess" tibex:FlowContainer="_c5nVcB1oEd-snYdvDX4uvw">
    <wsdl:operation name="ReceiveTask">
      <wsdl:input message="ns:ProcessPackageProcess_ReceiveTask_INPUT" tibex:Event="_eFmBICBtEd-B6fy6sUlvoQ"/>
      <wsdl:output message="ns:ProcessPackageProcess_ReceiveTask_OUTPUT" tibex:Event="_eFmBICBtEd-B6fy6sUlvoQ"/>
    </wsdl:operation>
        <wsdl:operation name="ReceiveTask2">
      <wsdl:input message="ns:ProcessPackageProcess_ReceiveTask2_INPUT" tibex:Event="_2n75HCBuEd-B6fy6sUlvoQ"/>
      <wsdl:output message="ns:ProcessPackageProcess_ReceiveTask2_OUTPUT" tibex:Event="_2n75HCBuEd-B6fy6sUlvoQ"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
