tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC1CjWSInvokeMultOpsOnePorttype/Service Descriptors/CalculatorConcrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="www.tibco.com/be/ontology/CalculatorServer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.tibco.com/TNT/webservices/" name="_CalculatorServer" targetNamespace="www.tibco.com/be/ontology/CalculatorServer">
    <wsdl:types>
        <s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.tibco.com/TNT/webservices/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.tibco.com/TNT/webservices/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <s:complexType name="Add">
                <s:sequence>
                    <s:element name="a" type="s:float"/>
                    <s:element name="b" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="AddFaultReply"> 
                <s:sequence>
                    <s:element name="AddResult" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="AddResponse">
                <s:sequence>
                    <s:element name="AddResult" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Divide">
                <s:sequence>
                    <s:element name="a" type="s:float"/>
                    <s:element name="b" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="DivideResponse">
                <s:sequence>
                    <s:element name="DivideResult" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Multiply">
                <s:sequence>
                    <s:element name="a" type="s:float"/>
                    <s:element name="b" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="MultiplyResponse">
                <s:sequence>
                    <s:element name="MultiplyResult" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Subtract">
                <s:sequence>
                    <s:element name="a" type="s:float"/>
                    <s:element name="b" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="SubtractResponse">
                <s:sequence>
                    <s:element name="SubtractResult" type="s:float"/>
                </s:sequence>
            </s:complexType>
            <s:element name="float" type="s:float"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="SubtractSoapOut">
        <wsdl:part name="SubtractResponse" type="ns0:SubtractResponse" />
    </wsdl:message>
    <wsdl:message name="SubtractSoapIn">
        <wsdl:part name="Subtract" type="ns0:Subtract" />
    </wsdl:message>
    <wsdl:message name="MultiplySoapOut">
        <wsdl:part name="MultiplyResponse" type="ns0:MultiplyResponse" />
    </wsdl:message>
    <wsdl:message name="MultiplySoapIn">
        <wsdl:part name="Multiply" type="ns0:Multiply" />
    </wsdl:message>
    <wsdl:message name="DivideSoapOut">
        <wsdl:part name="DivideResponse" type="ns0:DivideResponse" />
    </wsdl:message>
    <wsdl:message name="DivideSoapIn">
        <wsdl:part name="Divide" type="ns0:Divide" />
    </wsdl:message>
    <wsdl:message name="AddSoapIn">
        <wsdl:part name="Add" type="ns0:Add" />
    </wsdl:message>
    <wsdl:message name="AddSoapOut">
        <wsdl:part name="AddResponse" type="ns0:AddResponse" />
    </wsdl:message>
    <wsdl:portType name="CalculatorServerPortType">
        <wsdl:operation name="Subtract">
            <wsdl:input message="tns:SubtractSoapIn"/>
            <wsdl:output message="tns:SubtractSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Multiply">
            <wsdl:input message="tns:MultiplySoapIn"/>
            <wsdl:output message="tns:MultiplySoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Divide">
            <wsdl:input message="tns:DivideSoapIn"/>
            <wsdl:output message="tns:DivideSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Add">
            <wsdl:input message="tns:AddSoapIn"/>
            <wsdl:output message="tns:AddSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SoapConsumerBinding" type="tns:CalculatorServerPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Add">
            <soap:operation soapAction="http___www_tibco_com_TNT_webservices_Add" style="rpc"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Subtract">
            <soap:operation soapAction="http___www_tibco_com_TNT_webservices_Subtract" style="rpc"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Multiply">
            <soap:operation soapAction="http___www_tibco_com_TNT_webservices_Multiply" style="rpc"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Divide">
            <soap:operation soapAction="http___www_tibco_com_TNT_webservices_Divide" style="rpc"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SoapConsumerService">
        <wsdl:port name="MathServiceSoapPort" binding="tns:SoapConsumerBinding">
            <soap:address location="http://localhost:8500/Soap_Java_Soap/SoapConsumer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>