tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC26_DataMapperForWSInOutAndFaultConsumer/Service Descriptors/UC7G_DocLit_SoapHttp_ProcessProvider.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL--><wsdl:definitions xmlns:ns0="http://example.com/uc7g_doclit_soaphttp_processprovider" xmlns:ns1="http://www.tibco.com/bs3.0/_sMdHsM0aEeKydowN7ZzKfA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.tibco.com/bs3.0/_sMdHsM0aEeKydowN7ZzKfA/UC7G_DocLit_SoapHttp_ProcessProviderProcess/UC7G_DocLit_SoapHttp_ProcessProviderProcess" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="UC7G_DocLit_SoapHttp_ProcessProviderProcess" targetNamespace="http://www.tibco.com/bs3.0/_sMdHsM0aEeKydowN7ZzKfA/UC7G_DocLit_SoapHttp_ProcessProviderProcess/UC7G_DocLit_SoapHttp_ProcessProviderProcess" tibex:src="http://localhost:8120/amxadministrator/generate_wsdl?svc_binding_id=627&amp;svc_binding_name=UC7G_DocLit_SoapHttp_ProcessProviderProcess_EP&amp;svc_node_id=2&amp;svc_node_name=BPMNode">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/bs3.0/_sMdHsM0aEeKydowN7ZzKfA"/>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://example.com/uc7g_doclit_soaphttp_processprovider">
            <xs:import namespace="http://www.tibco.com/bs3.0/_sMdHsM0aEeKydowN7ZzKfA"/>
            <xs:import namespace="http://www.tibco.com/bs3.0/_sMdHsM0aEeKydowN7ZzKfA"/>
            <xs:annotation>
                <xs:documentation>
                    <ns0:DocumentationElement BOMORIGIN="/UC7G_DocLit_SoapHttp_ProcessProvider/Business Objects/UC7G_DocLit_SoapHttp_ProcessProvider.bom"/>
                </xs:documentation>
            </xs:annotation>
            <xs:complexType name="FaultClass">
                <xs:sequence>
                    <xs:element form="unqualified" minOccurs="0" name="text">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InputClass">
                <xs:sequence>
                    <xs:element form="unqualified" minOccurs="0" name="text">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element form="unqualified" minOccurs="0" name="doThrowFault" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutputClass">
                <xs:sequence>
                    <xs:element form="unqualified" minOccurs="0" name="text">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="FaultClassElement" type="ns0:FaultClass"/>
            <xs:element name="InputClassElement" type="ns0:InputClass"/>
            <xs:element name="OutputClassElement" type="ns0:OutputClass"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="UC7G_DocLit_SoapHttp_ProcessProviderProcess_StartDocLitProcessAsService_INPUT">
        <wsdl:part element="ns0:InputClassElement" name="Input"/>
    </wsdl:message>
    <wsdl:message name="UC7G_DocLit_SoapHttp_ProcessProviderProcess_StartDocLitProcessAsService_OUTPUT">
        <wsdl:part element="ns0:OutputClassElement" name="Output"/>
    </wsdl:message>
    <wsdl:message name="UC7G_DocLit_SoapHttp_ProcessProviderProcess_StartDocLitProcessAsService_Error1_fault">
        <wsdl:part element="ns0:FaultClassElement" name="Fault"/>
    </wsdl:message>
    <wsdl:portType xmlns:ns2="http://www.tibco.com/bs3.2/extensions" name="UC7G_DocLit_SoapHttp_ProcessProviderProcess" ns2:FlowContainer="_sM8P4M0aEeKydowN7ZzKfA">
        <wsdl:operation name="StartDocLitProcessAsService">
            <wsdl:input message="tns:UC7G_DocLit_SoapHttp_ProcessProviderProcess_StartDocLitProcessAsService_INPUT" ns2:Event="_-fidgs0aEeKydowN7ZzKfA"/>
            <wsdl:output message="tns:UC7G_DocLit_SoapHttp_ProcessProviderProcess_StartDocLitProcessAsService_OUTPUT" ns2:Event="_-fidgs0aEeKydowN7ZzKfA"/>
            <wsdl:fault message="tns:UC7G_DocLit_SoapHttp_ProcessProviderProcess_StartDocLitProcessAsService_Error1_fault" name="Error1" ns2:Error="_3NEgAs0bEeKydowN7ZzKfA"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UC7G_DocLit_SoapHttp_ProcessProviderProcess_EP" type="tns:UC7G_DocLit_SoapHttp_ProcessProviderProcess">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="StartDocLitProcessAsService">
            <wsdl:documentation/>
            <soap:operation soapAction="StartDocLitProcessAsService" style="document"/>
            <wsdl:input>
                <soap:body parts="Input" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="Output" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Error1">
                <soap:fault name="Error1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UC7G_DocLit_SoapHttp_ProcessProviderProcess">
        <wsdl:port binding="tns:UC7G_DocLit_SoapHttp_ProcessProviderProcess_EP" name="UC7G_DocLit_SoapHttp_ProcessProviderProcess_EP">
            <soap:address location="http://0.0.0.0:8181/UC7G_DocLit_SoapHttp_ProcessProvider/UC7G_DocLit_SoapHttp_ProcessProviderProcess"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
