tbs-bpm/tests/com.tibco.xpd.wm.test.feature/plugins/com.tibco.xpd.validation.wm.test/resources/N2JavaScriptPrimitiveTypesValidation/N2JavaScriptPrimitiveTypesValidation/Service Descriptors/AnyTypeTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AnyTypeTest"
	xmlns:tns="http://www.example.org/AnyTypeTest" elementFormDefault="qualified">

	<element name="myAnyType" type="anyType"></element>

	<element name="myComplexTypeTLE">
		<complexType>
			<sequence>
				<element name="myAnyTypeElem" type="anyType" />
				<element name="myAnySimpleTypeElem"
					type="anySimpleType">
				</element>
				<any></any>
			</sequence>
			<anyAttribute></anyAttribute>
		</complexType>
	</element>


	<complexType name="myComplexType">
		<sequence>
			<element name="anyTypeElem" type="anyType" />
			<element name="anySimpleTypeElem" type="anySimpleType"></element>
			<any></any>
		</sequence>
		<anyAttribute></anyAttribute>
	</complexType>


	
    <element name="myAnySimpleType" type="anySimpleType"></element>


    <complexType name="Address">
    	<sequence>
    		<element name="streetName" type="string"></element>
    	</sequence>
    </complexType>





    <complexType name="myMultipleComplexType">
    	<sequence>
    		<any maxOccurs="unbounded"></any>
    	</sequence>
    </complexType>
</schema>