tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC8_01/Service Descriptors/Atomic_XSD_Define_Types.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.amsbqa.com/linda01/XSDDefineTypes/types" xmlns:ns2="http://www.amsbqa.com/linda01/XSDDefineTypes/types" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.amsbqa.com/linda01/XSDDefineTypes/WSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.amsbqa.com/linda01/XSDDefineTypes/WSDL" tibex:src="file:/C:/Documents%20and%20Settings/rsomayaj/Desktop/UC8Zips/01/Atomic_XSD_Define_Types.wsdl">
    <import location="Atomic_XSD_Define_Types.xsd" namespace="http://www.amsbqa.com/linda01/XSDDefineTypes/types"/>
    <message name="Authentication">
        <part name="part1" type="ns2:authenticationKeyType"/>
    </message>
    <message name="CityName">
        <part name="part1" type="ns2:cityNameType"/>
    </message>
    <message name="CouponDetails">
        <part name="part1" type="ns2:couponDetailsType"/>
    </message>
    <message name="RequestInfo">
        <part name="part1" type="ns2:requestInfoType"/>
    </message>
    <message name="Error">
        <part element="ns2:errorInfo" name="part2"/>
    </message>
    <message name="flexpaySubscriberIdType">
        <part name="part1" type="ns2:flexpaySubscriberIdType"/>
    </message>
    <message name="couponIssuerAndSerialType">
        <part name="part1" type="ns2:couponIssuerAndSerialType"/>
    </message>
    <message name="PersonalInfo">
        <part name="part1" type="ns2:personalInfoType"/>
    </message>
    <message name="SubscribePin">
        <part name="part1" type="ns2:subscriberPinType"/>
    </message>
    <message name="authenticationKey">
        <part name="part1" type="ns2:authenticationKeyType"/>
    </message>
    <message name="CityCode">
        <part name="part1" type="ns2:cityCodeType"/>
    </message>
    <message name="DeclaredCode">
        <part name="part1" type="ns2:dealerCodeType"/>
    </message>
    <portType name="AtomicRPT">
        <operation name="BaseInfo">
            <input message="tns:Authentication"/>
            <output message="tns:CityName"/>
            <fault message="tns:Error" name="fault1"/>
        </operation>
        <operation name="CouponDetails">
            <input message="tns:PersonalInfo"/>
            <output message="tns:CouponDetails"/>
        </operation>
        <operation name="Subscribe">
            <input message="tns:SubscribePin"/>
            <output message="tns:authenticationKey"/>
        </operation>
        <operation name="Request">
            <input message="tns:RequestInfo"/>
            <output message="tns:flexpaySubscriberIdType"/>
        </operation>
        <operation name="Code">
            <input message="tns:CityCode"/>
            <output message="tns:DeclaredCode"/>
        </operation>
    </portType>
</definitions>
