tbs-core/product/com.tibco.xpd.service.feature/plugins/com.tibco.xpd.wsdl/schema/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/test/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test" targetNamespace="http://www.example.org/test/">
<wsdl:types>
<xsd:schema targetNamespace="http://www.example.org/test/">
	<xsd:element name="response" type="tns:RequestType" />
	<xsd:element name="request" type="tns:RequestType" />

	<xsd:complexType name="RequestType">
		<xsd:sequence>
			<xsd:element name="A" type="tns:AType" maxOccurs="unbounded"
				minOccurs="1">
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="attrib" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="AType">
		<xsd:sequence>
			<xsd:element name="B" type="xsd:string"
				maxOccurs="unbounded" minOccurs="1">
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ATypeAttrib" type="xsd:boolean"></xsd:attribute>
	</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="NewOperationResponse">
<wsdl:part element="tns:response" name="response"/>
</wsdl:message>
<wsdl:message name="NewOperationRequest">
<wsdl:part element="tns:request" name="request"/>
</wsdl:message>
<wsdl:portType name="test">
<wsdl:operation name="NewOperation">
<wsdl:input message="tns:NewOperationRequest"/>
<wsdl:output message="tns:NewOperationResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="testSOAP" type="tns:test">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="NewOperation">
<soap:operation soapAction="http://www.example.org/test/NewOperation"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="test">
<wsdl:port binding="tns:testSOAP" name="testSOAP">
<soap:address location="http://www.example.org/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
