tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM44_BOMGenFor_busserv_wsdl/gold/builder/com.tibco.n2.busserv.api.business.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://business.api.busserv.n2.tibco.com" xmlns:tns1="http://business.api.busserv.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns3="http://common.api.pfe.n2.tibco.com"
    xmlns:tns5="http://datafeed.common.n2.tibco.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://business.api.busserv.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.busserv.api.business.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://common.api.pfe.n2.tibco.com" schemaLocation="com.tibco.n2.pfe.api.common.xsd"/>
  <xsd:import namespace="http://datafeed.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.datafeed.xsd"/>
  <xsd:element abstract="false" name="listBusinessServices" nillable="false">
    <xsd:complexType ecore:name="listBusinessServicesType">
      <xsd:complexContent mixed="false">
        <xsd:extension base="tns3:ListingRequest">
          <xsd:sequence>
            <xsd:element ecore:name="channelId" id="listBusinessServicesTypechannelId"
                form="unqualified" maxOccurs="1" minOccurs="0" name="channelId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="listBusinessServicesResponse" nillable="false">
    <xsd:complexType ecore:name="listBusinessServicesResponseType" id="com.tibco.n2.busserv.api.businesslistBusinessServicesResponseType"
        mixed="false">
      <xsd:annotation>
        <xsd:documentation>
          The collection of Resources with the given name.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element ecore:name="startPosition" form="unqualified" maxOccurs="1" minOccurs="1"
            name="startPosition" type="tns1:long_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="endPosition" form="unqualified" maxOccurs="1" minOccurs="1"
            name="endPosition" type="tns1:long_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="totalItems" form="unqualified" maxOccurs="1" minOccurs="1"
            name="totalItems" type="tns1:long_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="businessCategory" form="unqualified" maxOccurs="unbounded"
            minOccurs="0" name="businessCategory" type="tns3:BusinessCategory"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="listCategories" nillable="false">
    <xsd:complexType ecore:name="listCategoriesType">
      <xsd:complexContent mixed="false">
        <xsd:extension base="tns3:ListingRequest">
          <xsd:sequence>
            <xsd:element ecore:name="channelId" id="listCategoriesTypechannelId" form="unqualified"
                maxOccurs="1" minOccurs="0" name="channelId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="listCategoriesResponse" nillable="false">
    <xsd:complexType ecore:name="listCategoriesResponseType" id="com.tibco.n2.busserv.api.businesslistCategoriesResponseType"
        mixed="false">
      <xsd:annotation>
        <xsd:documentation>
          The collection of Resources with the given name.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element ecore:name="startPosition" form="unqualified" maxOccurs="1" minOccurs="1"
            name="startPosition" type="tns1:long_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="endPosition" form="unqualified" maxOccurs="1" minOccurs="1"
            name="endPosition" type="tns1:long_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="totalItems" form="unqualified" maxOccurs="1" minOccurs="1"
            name="totalItems" type="tns1:long_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="category" form="unqualified" maxOccurs="unbounded"
            minOccurs="0" name="Category" type="tns3:Category"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="queryBusinessServices" nillable="false">
    <xsd:complexType ecore:name="queryBusinessServicesType" id="com.tibco.n2.busserv.api.businessqueryBusinessServicesType"
        mixed="false">
      <xsd:annotation>
        <xsd:documentation>
          Request to retrieve a summary of the Groups, Positions, Privileges and Capabilities
          associated with the identified Resource.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element ecore:name="category" form="unqualified" maxOccurs="1" minOccurs="1"
            name="category" type="xsd:string"/>
        <xsd:element ecore:name="channelId" form="unqualified" maxOccurs="1" minOccurs="0"
            name="channelId" type="xsd:string"/>
        <xsd:element ecore:name="includeFormalParameters" form="unqualified" maxOccurs="1"
            minOccurs="0" name="includeFormalParameters" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="queryBusinessServicesResponse" nillable="false">
    <xsd:complexType ecore:name="queryBusinessServicesResponseType" id="com.tibco.n2.busserv.api.businessqueryBusinessServicesResponseType"
        mixed="false">
      <xsd:annotation>
        <xsd:documentation>
          The collection of Resources with the given name.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element ecore:name="businessServiceTemplate" form="unqualified" maxOccurs="unbounded"
            minOccurs="0" name="businessServiceTemplate" type="tns3:BusinessServiceTemplate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="queryCategories" nillable="false">
    <xsd:complexType ecore:name="queryCategoriesType" id="com.tibco.n2.busserv.api.businessqueryCategoriesType"
        mixed="false">
      <xsd:annotation>
        <xsd:documentation>
          Request to retrieve a summary of the Groups, Positions, Privileges and Capabilities
          associated with the identified Resource.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element ecore:name="category" form="unqualified" maxOccurs="1" minOccurs="1"
            name="category" type="xsd:string"/>
        <xsd:element ecore:name="channelId" form="unqualified" maxOccurs="1" minOccurs="0"
            name="channelId" type="xsd:string"/>
        <xsd:element ecore:name="includeFormalParameters" form="unqualified" maxOccurs="1"
            minOccurs="0" name="includeFormalParameters" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="queryCategoriesResponse" nillable="false">
    <xsd:complexType ecore:name="queryCategoriesResponseType" id="com.tibco.n2.busserv.api.businessqueryCategoriesResponseType"
        mixed="false">
      <xsd:annotation>
        <xsd:documentation>
          The collection of Resources with the given name.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element ecore:name="businessCategory" form="unqualified" maxOccurs="unbounded"
            minOccurs="0" name="businessCategory" type="tns3:BusinessCategory"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="startBusinessService" nillable="false">
    <xsd:complexType ecore:name="startBusinessServiceType" id="com.tibco.n2.busserv.api.businessstartBusinessServiceType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="businessServiceDefinition" form="unqualified" maxOccurs="1"
            minOccurs="1" name="businessServiceDefinition" type="tns3:BaseBusinessServiceTemplate"/>
        <xsd:element ecore:name="formalParams" form="unqualified" maxOccurs="1" minOccurs="0"
            name="formalParams" type="tns5:dataPayload"/>
        <xsd:element ecore:name="responsePayloadMode" form="unqualified" maxOccurs="1"
            minOccurs="0" name="responsePayloadMode" type="tns5:payloadModeType"/>
        <xsd:element ecore:name="cacheTimeout" form="unqualified" maxOccurs="1" minOccurs="0"
            name="cacheTimeout" type="tns1:long_StudioGeneratedTemplate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="startBusinessServiceResponse" nillable="false">
    <xsd:complexType ecore:name="startBusinessServiceResponseType" id="com.tibco.n2.busserv.api.businessstartBusinessServiceResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="pageResponse" form="unqualified" maxOccurs="1" minOccurs="1"
            name="pageResponse" type="tns3:PageResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="updateBusinessService" nillable="false">
    <xsd:complexType ecore:name="updateBusinessServiceType" id="com.tibco.n2.busserv.api.businessupdateBusinessServiceType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="context" form="unqualified" maxOccurs="1" minOccurs="1"
            name="context" type="tns3:RequestContext"/>
        <xsd:element ecore:name="pageFields" form="unqualified" maxOccurs="1" minOccurs="0"
            name="pageFields" type="tns5:dataPayload"/>
        <xsd:element ecore:name="responsePayloadMode" form="unqualified" maxOccurs="1"
            minOccurs="0" name="responsePayloadMode" type="tns5:payloadModeType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="updateBusinessServiceResponse" nillable="false">
    <xsd:complexType ecore:name="updateBusinessServiceResponseType" id="com.tibco.n2.busserv.api.businessupdateBusinessServiceResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="pageResponse" form="unqualified" maxOccurs="1" minOccurs="1"
            name="pageResponse" type="tns3:PageResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="injectBusinessServiceEvent" nillable="false">
    <xsd:complexType ecore:name="injectBusinessServiceEventType" id="com.tibco.n2.busserv.api.businessinjectBusinessServiceEventType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="eventDefinition" form="unqualified" maxOccurs="1"
            minOccurs="1" name="eventDefinition" type="tns3:EventDefinitionType"/>
        <xsd:element ecore:name="formalParams" form="unqualified" maxOccurs="1" minOccurs="0"
            name="formalParams" type="tns5:dataPayload"/>
        <xsd:element ecore:name="responsePayloadMode" form="unqualified" maxOccurs="1"
            minOccurs="0" name="responsePayloadMode" type="tns5:payloadModeType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="injectBusinessServiceEventResponse" nillable="false">
    <xsd:complexType ecore:name="injectBusinessServiceEventResponseType" id="com.tibco.n2.busserv.api.businessinjectBusinessServiceEventResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="pageResponse" form="unqualified" maxOccurs="1" minOccurs="1"
            name="pageResponse" type="tns3:PageResponse"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="cancelBusinessService" nillable="false">
    <xsd:complexType ecore:name="cancelBusinessServiceType" id="com.tibco.n2.busserv.api.businesscancelBusinessServiceType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="processInstanceId" form="unqualified" maxOccurs="1"
            minOccurs="1" name="processInstanceId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="cancelBusinessServiceResponse" nillable="false">
    <xsd:complexType ecore:name="cancelBusinessServiceResponseType" id="com.tibco.n2.busserv.api.businesscancelBusinessServiceResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="status" form="unqualified" maxOccurs="1" minOccurs="1"
            name="status" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>