tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM44_BOMGenFor_busserv_wsdl/gold/builder/com.tibco.n2.pfe.api.common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://common.api.pfe.n2.tibco.com" xmlns:tns3="http://common.api.pfe.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns4="http://presentationmodel.common.n2.tibco.com"
    xmlns:tns5="http://datafeed.common.n2.tibco.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://common.api.pfe.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.pfe.api.common.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://presentationmodel.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.presentationmodel.xsd"/>
  <xsd:import namespace="http://datafeed.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.datafeed.xsd"/>
  <xsd:simpleType ecore:name="ExecutionState" id="com.tibco.n2.pfe.api.commonExecutionState"
      name="ExecutionState">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the current status of the pageflow or business service. One of of:
NOT_STARTED: Unable to start.
STARTED: Started successfully.
IN_PROGRESS: In progress.
COMPLETED: Successfully conpleted.
UNKNOWN: Unknown status. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="NOTSTARTED" value="NOT_STARTED"/>
      <xsd:enumeration ecore:name="STARTED" value="STARTED"/>
      <xsd:enumeration ecore:name="INPROGRESS" value="IN_PROGRESS"/>
      <xsd:enumeration ecore:name="COMPLETED" value="COMPLETED"/>
      <xsd:enumeration ecore:name="UNKNOWN" value="UNKNOWN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="FormType" id="com.tibco.n2.pfe.api.commonFormType" name="FormType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the type of a form. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="GIFORM" value="GI_FORM"/>
      <xsd:enumeration ecore:name="GWTFORM" value="GWT_FORM"/>
      <xsd:enumeration ecore:name="CUSTOMFORM" value="CUSTOM_FORM"/>
      <xsd:enumeration ecore:name="PAGEFLOW" value="PAGEFLOW"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="ActivityReference" id="com.tibco.n2.pfe.api.commonActivityReference"
      abstract="false" mixed="false" name="ActivityReference">
    <xsd:annotation>
      <xsd:documentation>Reference details of a page activity. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:BaseActivityReference">
        <xsd:attribute ecore:name="activityName" id="ActivityReferenceactivityName"
            form="unqualified" name="activityName" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Name of the page activity. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="activityModelId" id="ActivityReferenceactivityModelId"
            form="unqualified" name="activityModelId" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Identity of the model associated with the page activity. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="moduleName" id="ActivityReferencemoduleName" form="unqualified"
            name="moduleName" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Name of the module associated with the page activity. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="moduleVersion" id="ActivityReferencemoduleVersion"
            form="unqualified" name="moduleVersion" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of the module associated with the page activity. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="processName" id="ActivityReferenceprocessName"
            form="unqualified" name="processName" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Name of the pageflow process associated with the page activity. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseActivityReference" id="com.tibco.n2.pfe.api.commonBaseActivityReference"
      abstract="false" mixed="false" name="BaseActivityReference">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for an in-progress page activity. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="activityId" id="BaseActivityReferenceactivityId" form="unqualified"
        name="activityId" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>ID of the page activity. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseBusinessServiceTemplate" id="com.tibco.n2.pfe.api.commonBaseBusinessServiceTemplate"
      abstract="false" mixed="false" name="BaseBusinessServiceTemplate">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for a business service. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:PFETemplate"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="PFETemplate" id="com.tibco.n2.pfe.api.commonPFETemplate"
      abstract="false" mixed="false" name="PFETemplate">
    <xsd:annotation>
      <xsd:documentation>Unique definition of a pageflow or business service. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:BaseTemplate">
        <xsd:attribute ecore:name="version" id="PFETemplateversion" form="unqualified"
            name="version" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Version of the process. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseTemplate" id="com.tibco.n2.pfe.api.commonBaseTemplate"
      abstract="false" mixed="false" name="BaseTemplate">
    <xsd:annotation>
      <xsd:documentation>General definition of a pageflow process or business service. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="moduleName" id="BaseTemplatemoduleName" form="unqualified"
        name="moduleName" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Module name that contains the pageflow process or business service. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="processName" id="BaseTemplateprocessName" form="unqualified"
        name="processName" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Name of the pageflow process or business service. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseFeedType" id="com.tibco.n2.pfe.api.commonBaseFeedType"
      abstract="false" mixed="false" name="BaseFeedType">
    <xsd:attribute ecore:name="feedMode" id="BaseFeedTypefeedMode" form="unqualified"
        name="feedMode" type="tns4:FeedMode" use="required"/>
    <xsd:attribute ecore:name="feedFormat" id="BaseFeedTypefeedFormat" form="unqualified"
        name="feedFormat" type="tns4:FeedFormat" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="BasePageData" id="com.tibco.n2.pfe.api.commonBasePageData"
      abstract="false" mixed="false" name="BasePageData">
    <xsd:sequence>
      <xsd:element ecore:name="pageReference" id="BasePageDatapageReference" form="unqualified"
          maxOccurs="1" minOccurs="1" name="pageReference" type="BasePageReference"/>
      <xsd:element ecore:name="payloadModel" id="BasePageDatapayloadModel" form="unqualified"
          maxOccurs="1" minOccurs="0" name="payloadModel" type="tns5:dataPayload"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BasePageReference" id="com.tibco.n2.pfe.api.commonBasePageReference"
      abstract="false" mixed="false" name="BasePageReference">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for a page reference. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:BaseActivityReference"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseProcessReference" id="com.tibco.n2.pfe.api.commonBaseProcessReference"
      abstract="false" mixed="false" name="BaseProcessReference">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for an instance of a pageflow or business process. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="id" id="BaseProcessReferenceid" form="unqualified"
          maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BaseSessionContext" id="com.tibco.n2.pfe.api.commonBaseSessionContext"
      abstract="false" mixed="false" name="BaseSessionContext">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for an in-progress process and page activity. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="processReference" id="BaseSessionContextprocessReference"
          form="unqualified" maxOccurs="1" minOccurs="1" name="processReference" type="BaseProcessReference"/>
      <xsd:element ecore:name="activityReference" id="BaseSessionContextactivityReference"
          form="unqualified" maxOccurs="1" minOccurs="1" name="activityReference"
          type="BaseActivityReference"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BusinessCategory" id="com.tibco.n2.pfe.api.commonBusinessCategory"
      abstract="false" mixed="false" name="BusinessCategory">
    <xsd:annotation>
      <xsd:documentation>Array of child business categories. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="businessServiceTemplate" id="BusinessCategoryBusinessServiceTemplate"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="BusinessServiceTemplate"
          type="BusinessServiceTemplate"/>
      <xsd:element ecore:name="childBusinessCategory" id="BusinessCategoryChildBusinessCategory"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="ChildBusinessCategory"
          type="BusinessCategory"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="name" id="BusinessCategoryname" form="unqualified"
        name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Name of the category. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="BusinessServiceTemplate" id="com.tibco.n2.pfe.api.commonBusinessServiceTemplate"
      abstract="false" mixed="false" name="BusinessServiceTemplate">
    <xsd:annotation>
      <xsd:documentation>Definition of a business service or pageflow process. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:BaseBusinessServiceTemplate">
        <xsd:attribute ecore:name="hasFormalParameters" id="BusinessServiceTemplatehasFormalParameters"
            form="unqualified" name="hasFormalParameters" type="xsd:boolean" use="required">
          <xsd:annotation>
            <xsd:documentation>Boolean value defining whether the business service or pageflow process has formal parameters. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="BusinessCategoryResponse" id="com.tibco.n2.pfe.api.commonBusinessCategoryResponse"
      abstract="false" mixed="false" name="BusinessCategoryResponse">
    <xsd:annotation>
      <xsd:documentation>Array of child business categories. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="businessServiceTemplate" id="BusinessCategoryResponseBusinessServiceTemplate"
          form="unqualified" maxOccurs="unbounded" minOccurs="1" name="BusinessServiceTemplate"
          type="BusinessServiceTemplate"/>
      <xsd:element ecore:name="childBusinessCategory" id="BusinessCategoryResponseChildBusinessCategory"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="ChildBusinessCategory"
          type="BusinessCategoryResponse"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="name" id="BusinessCategoryResponsename" form="unqualified"
        name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Name of the category. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="Category" id="com.tibco.n2.pfe.api.commonCategory"
      abstract="false" mixed="false" name="Category">
    <xsd:annotation>
      <xsd:documentation>Array of child business categories. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence maxOccurs="unbounded" minOccurs="0">
      <xsd:element ecore:name="childCategory" id="CategoryChildCategory" form="unqualified"
          maxOccurs="1" minOccurs="1" name="ChildCategory" type="Category"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="name" id="Categoryname" form="unqualified" name="name"
        type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Name of business category. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="EventDefinitionType" id="com.tibco.n2.pfe.api.commonEventDefinitionType"
      abstract="false" mixed="false" name="EventDefinitionType">
    <xsd:annotation>
      <xsd:documentation>Definition of a business event. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:BaseTemplate">
        <xsd:attribute ecore:name="eventName" id="EventDefinitionTypeeventName" form="unqualified"
            name="eventName" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Name of the catch intermediate event in the pageflow process that handles the business event (for example, UpdateExchangeRates).

Note: You cannot obtain this name programmatically. You must obtain it by examining the process in TIBCO Business Studio. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="processInstanceId" id="EventDefinitionTypeprocessInstanceId"
            form="unqualified" name="processInstanceId" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Unique ID of the process instance into which the event should be injected. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="PageData" id="com.tibco.n2.pfe.api.commonPageData"
      abstract="false" mixed="false" name="PageData">
    <xsd:annotation>
      <xsd:documentation>Complete data for the page. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="pageReference" id="PageDatapageReference" form="unqualified"
          maxOccurs="1" minOccurs="0" name="pageReference" type="PageReference"/>
      <xsd:element ecore:name="payload" id="PageDatapayload" form="unqualified" maxOccurs="1"
          minOccurs="1" name="payload" type="tns5:dataPayload"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PageReference" id="com.tibco.n2.pfe.api.commonPageReference"
      abstract="false" mixed="false" name="PageReference">
    <xsd:annotation>
      <xsd:documentation>Definition of an in-progress page reference. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:ActivityReference"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ListingRequest" id="com.tibco.n2.pfe.api.commonListingRequest"
      abstract="false" mixed="false" name="ListingRequest">
    <xsd:annotation>
      <xsd:documentation>Generic request description. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:PagingAndSorting">
        <xsd:sequence>
          <xsd:element ecore:name="includeFormalParameters" id="ListingRequestincludeFormalParameters"
              form="unqualified" maxOccurs="1" minOccurs="0" name="includeFormalParameters"
              type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="PagingAndSorting" id="com.tibco.n2.pfe.api.commonPagingAndSorting"
      abstract="false" mixed="false" name="PagingAndSorting">
    <xsd:annotation>
      <xsd:documentation>Paging and sorting parameters to enable clients to manipulate the size of a response into manageable chunks of data. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="orderFilterCriteria" id="PagingAndSortingorderFilterCriteria"
          form="unqualified" maxOccurs="1" minOccurs="0" name="orderFilterCriteria"
          type="OrderFilterCriteria"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="startPosition" id="PagingAndSortingstartPosition" form="unqualified"
        name="startPosition" type="tns3:long_StudioGeneratedTemplate" use="optional">
      <xsd:annotation>
        <xsd:documentation>Position in the list from which to start this page. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="numberOfItems" id="PagingAndSortingnumberOfItems" form="unqualified"
        name="numberOfItems" type="tns3:long_StudioGeneratedTemplate" use="optional">
      <xsd:annotation>
        <xsd:documentation>Number of items (in the list) to include in this page. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="getTotalCount" id="PagingAndSortinggetTotalCount" default="true"
        form="unqualified" name="getTotalCount" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Boolean value defining whether the Page Flow Engine builds a count of the total number of items in the  list. (If 'false' the total is set to -1.)
 </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="OrderFilterCriteria" id="com.tibco.n2.pfe.api.commonOrderFilterCriteria"
      abstract="false" mixed="false" name="OrderFilterCriteria">
    <xsd:annotation>
      <xsd:documentation>**PRIVATE API - Reserved for internal use**

Specification of sort/filter criteria to be applied to a list. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="order" id="OrderFilterCriteriaorder" form="unqualified"
          maxOccurs="1" minOccurs="0" name="order" type="xsd:string"/>
      <xsd:element ecore:name="filter" id="OrderFilterCriteriafilter" form="unqualified"
          maxOccurs="1" minOccurs="0" name="filter" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PageFlowParameters" id="com.tibco.n2.pfe.api.commonPageFlowParameters"
      abstract="false" mixed="false" name="PageFlowParameters">
    <xsd:sequence maxOccurs="unbounded" minOccurs="0">
      <xsd:element ecore:name="parameter" id="PageFlowParametersparameter" form="unqualified"
          maxOccurs="1" minOccurs="1" name="parameter" type="Parameter"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Parameter" id="com.tibco.n2.pfe.api.commonParameter"
      abstract="false" mixed="false" name="Parameter">
    <xsd:sequence>
      <xsd:element ecore:name="name" id="Parametername" form="unqualified" maxOccurs="1"
          minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="value" id="Parametervalue" form="unqualified" maxOccurs="1"
          minOccurs="1" name="value" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PageFlowProcessReference" id="com.tibco.n2.pfe.api.commonPageFlowProcessReference"
      abstract="false" mixed="false" name="PageFlowProcessReference">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for an in-progress pageflow. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="instanceId" id="PageFlowProcessReferenceinstanceId"
        form="unqualified" name="instanceId" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique ID of the process instance. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="PageFlowProcessReferencename" form="unqualified"
        name="name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name of the pageflow process. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="PageFlowTemplate" id="com.tibco.n2.pfe.api.commonPageFlowTemplate"
      abstract="false" mixed="false" name="PageFlowTemplate">
    <xsd:annotation>
      <xsd:documentation>Definition of a pageflow. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:PFETemplate">
        <xsd:attribute ecore:name="hasFormalParameters" id="PageFlowTemplatehasFormalParameters"
            form="unqualified" name="hasFormalParameters" type="xsd:boolean" use="required">
          <xsd:annotation>
            <xsd:documentation>Boolean value defining whether the pageflow contains formal parameters. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="PageResponse" id="com.tibco.n2.pfe.api.commonPageResponse"
      abstract="false" mixed="false" name="PageResponse">
    <xsd:annotation>
      <xsd:documentation>Generic container for a business service or pageflow operation response. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="context" id="PageResponsecontext" form="unqualified"
          maxOccurs="1" minOccurs="1" name="context" type="ResponseContext"/>
      <xsd:element ecore:name="pageData" id="PageResponsepageData" form="unqualified"
          maxOccurs="unbounded" minOccurs="1" name="pageData" type="PageData"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="executionState" id="PageResponseexecutionState" form="unqualified"
        name="executionState" type="ExecutionState" use="optional">
      <xsd:annotation>
        <xsd:documentation>Enumerated value defining the current status of the pageflow or business service. One of the following values:

- NOT_STARTED: Unable to start.
- STARTED: Started successfully.
- IN_PROGRESS: In progress.
- COMPLETED: Successfully conpleted.
- UNKNOWN: Unknown status. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResponseContext" id="com.tibco.n2.pfe.api.commonResponseContext"
      abstract="false" mixed="false" name="ResponseContext">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for an in-progress pageflow or business service. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="pageFlowTemplate" id="ResponseContextpageFlowTemplate"
          form="unqualified" maxOccurs="1" minOccurs="1" name="pageFlowTemplate" type="PFETemplate"/>
      <xsd:element ecore:name="processReference" id="ResponseContextprocessReference"
          form="unqualified" maxOccurs="1" minOccurs="1" name="processReference" type="ProcessReference"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ProcessReference" id="com.tibco.n2.pfe.api.commonProcessReference"
      abstract="false" mixed="false" name="ProcessReference">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for an in-progress process. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:BaseProcessReference">
        <xsd:sequence>
          <xsd:element ecore:name="name" id="ProcessReferencename" form="unqualified"
              maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="RequestContext" id="com.tibco.n2.pfe.api.commonRequestContext"
      abstract="false" mixed="false" name="RequestContext">
    <xsd:annotation>
      <xsd:documentation>Unique identifier for an in-progress pageflow or business service. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:BaseSessionContext"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ResponseFeedType" id="com.tibco.n2.pfe.api.commonResponseFeedType"
      abstract="false" mixed="false" name="ResponseFeedType">
    <xsd:sequence>
      <xsd:element ecore:name="feedTypes" id="ResponseFeedTypefeedTypes" form="unqualified"
          maxOccurs="1" minOccurs="1" name="feedTypes" type="BaseFeedType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>