tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM44_BOMGenFor_busserv_wsdl/gold/builder/com.tibco.n2.common.datafeed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://datafeed.common.n2.tibco.com" xmlns:tns5="http://datafeed.common.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://datamodel.common.n2.tibco.com"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://datafeed.common.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.common.datafeed.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://datamodel.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.datamodel.xsd"/>
  <xsd:simpleType ecore:name="payloadModeType" id="com.tibco.n2.common.datafeedpayloadModeType"
      name="payloadModeType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value defining the available payload formats. (RSS is currently not supported.) </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="XML" value="XML"/>
      <xsd:enumeration ecore:name="JSON" value="JSON"/>
      <xsd:enumeration ecore:name="RSS" value="RSS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="dataPayload" id="com.tibco.n2.common.datafeeddataPayload"
      abstract="false" mixed="false" name="dataPayload">
    <xsd:annotation>
      <xsd:documentation>Payload data. </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ecore:name="serializedPayload" id="dataPayloadserializedPayload"
          form="unqualified" maxOccurs="1" minOccurs="1" name="serializedPayload"
          type="xsd:string"/>
      <xsd:element ecore:name="xmlPayload" id="dataPayloadXmlPayload" form="unqualified"
          maxOccurs="1" minOccurs="1" name="XmlPayload" type="tns2:DataModel"/>
    </xsd:choice>
    <xsd:attribute ecore:name="payloadMode" id="dataPayloadpayloadMode" default="JSON"
        form="unqualified" name="payloadMode" type="payloadModeType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Enumerated value defining the format of the data payload (JSON or XML).

If not specified, the default value is JSON.

(RSS is currently not supported.) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>