tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/WorkedExample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/WorkedExample"
	xmlns:tns="http://www.example.org/WorkedExample" elementFormDefault="qualified">

<!-- A schema used as a worked example test in the Xsd2Bom2Xsd Transformation roundtrip -->
<!-- The following constructs should create a BOM containing 1 PrimitiveType of type Text,
and 1 Class with 3 Property types representing the complexType and its 2 elements and 1 attribute -->
	
	<simpleType name="SimpleType1">
		<restriction base="string"></restriction>
	</simpleType>


	<complexType name="ComplexType1">
		<sequence>
			<element name="element1" type="string"/>
			<element name="element2" type="boolean"/>
		</sequence>
		<attribute name="attribute1" type="string"></attribute>
	</complexType>

</schema>