tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/XSDBOM41_ComplexTypesAndTleWithSameNamesTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://XSDBOM41_ComplexTypesAndTleWithSameNamesTransformationTest" xmlns:tns="http://XSDBOM41_ComplexTypesAndTleWithSameNamesTransformationTest"
	elementFormDefault="qualified">
	<xs:complexType name="Class1">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class2">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class3">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class4">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class5">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class6">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class7">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class8">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class9">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="Class10">
		<xs:sequence>
			<xs:element name="AssociatedClass">
				<xs:complexType>
					<xs:attribute name="attribute" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:element name="AssociatedClass">
	<xs:complexType>
	<xs:attribute name="attribute" type="xs:string"></xs:attribute>
	</xs:complexType>
	</xs:element>
	
	<xs:element name="AssociatedClassType">
	<xs:complexType>
	<xs:attribute name="attribute" type="xs:string"></xs:attribute>
	</xs:complexType>
	</xs:element>
	
	<xs:complexType name="AssociatedClass">
	<xs:attribute name="attribute" type="xs:string"></xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="AssociatedClassType">
	<xs:attribute name="attribute" type="xs:string"></xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="reference">
	<xs:complexContent>
	<xs:extension base="tns:AssociatedClass"></xs:extension>
	</xs:complexContent>
	</xs:complexType>
	
	
</xs:schema>