tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/XSDBOM28_ComplexContentRestrictionTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM28_ComplexContentRestrictionTransformationTest" xmlns:tns="http://www.example.org/XSDBOM28_ComplexContentRestrictionTransformationTest"
	elementFormDefault="qualified">
	<xsd:element name="SampleOp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elsubTypeRest" type="tns:SubTypeRest" />
				<xsd:element name="subtypeExt" type="tns:SubTypeExtension"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SampleOpResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="out" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="SuperType">
		<xsd:sequence>
			<xsd:element name="subEl1" type="xsd:string"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="subAttrib1" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="SubTypeRest">
		<xsd:complexContent>
			<xsd:restriction base="tns:SuperType">
				<xsd:sequence>
					<xsd:element name="subEl1" type="xsd:string" default="Test">
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="subAttrib1" type="xsd:string">
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SubTypeExtension">
		<xsd:complexContent>
			<xsd:extension base="tns:SuperType">
				<xsd:sequence>
					<xsd:element name="extEl12" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="extAttrib12" type="xsd:string">
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<complexType name="complexA">
		<sequence>
			<element name="elemA" type="string"></element>			
		</sequence>
	</complexType>

	<element name="topElem">
		<complexType>
			<complexContent>
				<restriction base="tns:complexA">
					<sequence>
						<element name="elemA" type="string"></element>					
					</sequence>
				</restriction>
			</complexContent>
		</complexType>
	</element>

</schema>