tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/XSDBOM09_ComplexTypeCompositionElementTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns="http://businessobjectmodel" xmlns:hxy="http://businessobjectmodel" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xs:complexType name="file2">
    <xs:attribute name="id" type="xs:integer"/>
  </xs:complexType>
<xs:complexType name="concept2">
    <xs:sequence>
	 <xs:element name="file" type="file2" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
</xs:complexType>

</xs:schema>