tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/XSDBOM32_ComplexAnonymousTypeReferenceTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/XSDBOM32_ComplexAnonymousTypeReferenceTest" xmlns:tns="http://www.example.org/XSDBOM32_ComplexAnonymousTypeReferenceTest" elementFormDefault="qualified">
<xs:element name="SubmitTaskReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tns:SubmitTaskReqType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SubmitTaskReqType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="correlationId" type="xs:string"/>
                        <xs:element name="submitToken">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="RETRY"/>
                                    <xs:enumeration value="FORCE"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


</xs:schema>