tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/XSDBOM02_SimpleTypeTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns="http://businessobjectmodel" xmlns:hxy="http://businessobjectmodel" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xs:simpleType name="mySimple" final="#all">
	  <xs:restriction base="xs:ID">
	  	<xs:maxLength value="10"></xs:maxLength>  	
	  </xs:restriction>
  </xs:simpleType>  
  
  <xs:simpleType name="personalInfoType">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>			
		</xs:restriction>
  </xs:simpleType>
	
  <xs:simpleType name="middleNameType">
		<xs:restriction base="personalInfoType">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
  </xs:simpleType>	
  
</xs:schema>