tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/XSDBOM33_SimpleTypeAndElementHavingSameNameTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns="http://www.example.org/XSDBOM33_SimpleTypeAndElementHavingSameNameTransformationTest"
	xmlns:tns1="http://www.example.org/XSDBOM33_SimpleTypeAndElementHavingSameNameTransformationTest"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.example.org/XSDBOM33_SimpleTypeAndElementHavingSameNameTransformationTest">

	<xs:simpleType name="to">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>

	<xs:element name="ref_to" type="tns1:to"></xs:element>

	<xs:element name="note">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="to" />
				<xs:element ref="from" />
				<!-- <xs:element ref="heading"/> <xs:element ref="body"/> -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="to" type="xs:string" />
	<xs:element name="from" type="xs:string" />
	<!-- <xs:element name="heading" type="xs:string"/> <xs:element name="body" 
		type="xs:string"/> -->


	<!-- added by bharti -->
	<xs:simpleType name="nome">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="Nome">
		<xs:sequence>
			<xs:element name="nome" type="tns1:nome"></xs:element>
			<xs:element name="nome1" type="xs:string"></xs:element>
			<xs:element name="elem1" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="nome">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nome" type="tns1:nome"></xs:element>
				<xs:element name="e1" type="xs:string"></xs:element>
				<xs:element name="e2" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- added by bharti - ends -->
</xs:schema>