tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/XSDBOM03_SimpleTypeEnumerationTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns="http://businessobjectmodel" xmlns:hxy="http://businessobjectmodel" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xs:simpleType name="mySimpleEnum">
  <xs:restriction base="xs:ID">
  	<xs:enumeration value="ENUM1"></xs:enumeration>
  	<xs:enumeration value="ENUM2"></xs:enumeration>
  </xs:restriction>
  </xs:simpleType>  
  
  <xs:complexType name="couponDetailsType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="activation"/>
            <xs:enumeration value="refill"/>            
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="couponDetailsType2">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="activation2"/>
            <xs:enumeration value="refill2"/>            
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="couponDetailsType3">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="activation3"/>
            <xs:enumeration value="refill3"/>            
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

