tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-choice/gold/wizard/XSDBOM_Choice07_Hierarchy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/ChoiceHierarchy" xmlns:tns1="http://example.com/ChoiceHierarchy"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/ChoiceHierarchy">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/p1/Business Objects/XSDBOM_Choice07_Hierarchy.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="com.example.ChoiceHierarchyPlane" abstract="false" mixed="false"
      name="Plane">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element id="Planech1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="ch1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="Planech2" form="unqualified" maxOccurs="1" minOccurs="1"
            name="ch2" type="team"/>
      </xsd:choice>
      <xsd:element id="Planeel1" form="unqualified" maxOccurs="1" minOccurs="1" name="el1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="Planeel2" form="unqualified" maxOccurs="1" minOccurs="1" name="el2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:choice>
        <xsd:element id="Planech3" form="unqualified" maxOccurs="1" minOccurs="1"
            name="ch3">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="Planech4" form="unqualified" maxOccurs="1" minOccurs="1"
            name="ch4">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element id="Planech5" form="unqualified" maxOccurs="1" minOccurs="1"
              name="ch5">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element id="Planech6" form="unqualified" maxOccurs="1" minOccurs="1"
              name="ch6">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:choice>
            <xsd:element id="Planech7" form="unqualified" maxOccurs="1" minOccurs="1"
                name="ch7">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element id="Planech8" form="unqualified" maxOccurs="1" minOccurs="1"
                name="ch8">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:choice>
          <xsd:sequence>
            <xsd:choice>
              <xsd:element id="Planech9" form="unqualified" maxOccurs="1" minOccurs="1"
                  name="ch9">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element id="Planech10" form="unqualified" maxOccurs="1" minOccurs="1"
                  name="ch10">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element id="_vA6yFFFTEeChdfrR_Tx1Eg" maxOccurs="1" minOccurs="1"
                  ref="tns1:tleTeam"/>
            </xsd:choice>
          </xsd:sequence>
        </xsd:choice>
      </xsd:sequence>
      <xsd:choice>
        <xsd:element id="PlaneCity" form="unqualified" maxOccurs="1" minOccurs="1"
            name="City">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element id="PlaneUnited" form="unqualified" maxOccurs="1" minOccurs="1"
            name="United">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.example.ChoiceHierarchyteam" abstract="false" mixed="false"
      name="team">
    <xsd:sequence>
      <xsd:element id="teamteamname" form="unqualified" maxOccurs="1" minOccurs="1"
          name="teamname">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="teammanager" form="unqualified" maxOccurs="1" minOccurs="1"
          name="manager">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="tleTeam" nillable="false" type="team"/>
</xsd:schema>