tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-choice/gold/wizard/XSDBOM_Choice03_EnumChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://example.com/EnumChoice" xmlns:tns1="http://example.com/EnumChoice"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/EnumChoice">
	<xsd:annotation>
		<xsd:documentation>BOMORIGIN::/p1/Business
			Objects/XSDBOM_Choice03_EnumChoice.bom</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType id="com.example.enum_.choice_Plane"
		abstract="false" mixed="false" name="Plane">
		<xsd:choice>
			<xsd:element id="Plane_engineType" form="unqualified"
				maxOccurs="1" minOccurs="1" name="engineType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Jet" />
						<xsd:enumeration value="Propeller" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element id="Plane_engineName" form="unqualified"
				maxOccurs="1" minOccurs="1" name="engineName">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string" />
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>