tbs-bpm/tests/com.tibco.sce.bds.designtime.test.feature/plugins/com.tibco.sce.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/wsdlimport/import/CoverageNo09/Profile_WSLEmbedSchma12_Schema1ImprotSchema2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://www.amsbqa.com/Linda09/Schema1importSchema2/Schema1" xmlns:ns1="http://www.amsbqa.com/Linda09/Schema1importSchema2/Schema2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.amsbqa.com/Linda09/Schema1importSchema2/WSDL" name="Untitled" targetNamespace="http://www.amsbqa.com/Linda09/Schema1importSchema2/WSDL">
    <wsdl:types>
        <xs:schema xmlns="http://www.amsbqa.com/Linda09/Schema1importSchema2/Schema1" xmlns:tns="http://www.amsbqa.com/Linda09/Schema1importSchema2/Schema2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.amsbqa.com/Linda09/Schema1importSchema2/Schema1">
            <xs:import namespace="http://www.amsbqa.com/Linda09/Schema1importSchema2/Schema2"/>
            <xs:element name="Car">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:carinfo"/>
                        <xs:element ref="ns0:CarType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CarType" type="xs:string"/>
            <xs:element name="carinfo" type="tns:CarPreference"/>
        </xs:schema>
        <xsd:schema xmlns:tns="http://www.amsbqa.com/Linda09/Schema1importSchema2/Schema2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.amsbqa.com/Linda09/Schema1importSchema2/Schema2">
            <xsd:complexType name="CarPreference">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="carType" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="carMake" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="rentalAgency" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="nonSmoking" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="specialRequest" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CarInfo" type="tns:CarPreference"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Notifiy">
            <wsdl:input message="tns:Notification"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="Notification">
        <wsdl:part element="ns0:Car" name="part1"/>
    </wsdl:message>
</wsdl:definitions>