tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/ComplextoComplexTypeTest/Testtttt/Service Descriptors/UUU.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibx.com/UUU/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UUU" targetNamespace="http://www.tibx.com/UUU/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibx.com/UUU/">
        <xsd:complexType name="NewOperation">
          <xsd:sequence>
          	<xsd:element name="in" type="xsd:string" />
          	<xsd:element name="NewElement" type="tns:CTpye"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="NewOperationResponse">
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
    
      <xsd:complexType name="CTpye">
      	<xsd:sequence>
      		<xsd:element name="NewElement" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="NewAttribute" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part type="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part type="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UUU">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UUUSOAP" type="tns:UUU">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.tibx.com/UUU/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UUU">
    <wsdl:port binding="tns:UUUSOAP" name="UUUSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
