tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/36XPD5167/goldXsds/com.vietinbank.serviceenvelope.commonheader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.vietinbank.com/serviceenvelope/commonheader" xmlns:tns2="http://www.vietinbank.com/serviceenvelope/commonheader"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.vietinbank.com/serviceenvelope/commonheader">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/BD7833/Generated Business Objects/com.vietinbank.serviceenvelope.commonheader.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="CommonDetailType" id="com.vietinbank.serviceenvelope.commonheaderCommonDetailType"
      abstract="false" mixed="false" name="CommonDetailType">
    <xsd:sequence>
      <xsd:element ecore:name="businessDomain" id="CommonDetailTypeBusinessDomain"
          maxOccurs="1" minOccurs="1" ref="tns2:BusinessDomain"/>
      <xsd:element ecore:name="serviceVersion" id="CommonDetailTypeServiceVersion"
          maxOccurs="1" minOccurs="1" ref="tns2:ServiceVersion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="BusinessDomain" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="ServiceVersion" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="NewType" nillable="false" type="xsd:string"/>
</xsd:schema>