tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-attribute-group/gold/wizard/XSDBOM_AttributeGroup01B_SimpleAttrGroup_ImportAttrGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM_AttributeGroup01B_SimpleAttrGroup_ImportAttrGroup"
    xmlns:tns1="http://www.example.org/XSDBOM_AttributeGroup01B_SimpleAttrGroup_ImportAttrGroup"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM_AttributeGroup01B_SimpleAttrGroup_ImportAttrGroup">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/hghfghf/Business Objects/XSDBOM_AttributeGroup01B_SimpleAttrGroup_ImportAttrGroup.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="org.example.xsdbo.m.attribute.group01.b.simple.attr.group.import_.attr.group_PersonDetails"
      abstract="false" mixed="false" name="PersonDetails">
    <xsd:attribute id="PersonDetails_firstname" form="unqualified" name="firstname"
        use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute id="PersonDetails_surname" form="unqualified" name="surname" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute id="PersonDetails_email" form="unqualified" name="email" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>