tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-union/XSDBOM_Union22_MultipleSchemas2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/Unions2"
	targetNamespace="http://example.com/Unions2">

	<xs:simpleType name="myTopSimple">
		<xs:union memberTypes="xs:anySimpleType"></xs:union>
	</xs:simpleType>

	<xs:simpleType name="myTopSimple2">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="myTopSimple3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="myEnumLit"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
