tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources-ABPM-702/xsd/07_NestedModelGroups/XSDBOM26_AnonymousNestedTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://example.com/NestedAnonymous" xmlns:jbp="http://example.com/NestedAnonymous" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/NestedAnonymous">
	<xsd:annotation/>
	<xsd:complexType name="AnonymousNested">
		<xsd:complexContent>
			<xsd:extension base="Person">
				<xsd:sequence>					
					<xsd:element name="address">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="firstline" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="city" type="xsd:string"/>					
					<xsd:element name="country" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element name="name">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
