tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/04_DuplicationNameClashes/duplicate_globalelement_names/XSDBOM_Duplicate_01_AttributeGroupVariationsImported.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/ElmAndComplex2"
	targetNamespace="http://example.com/ElmAndComplex2">

	<!-- Tests duplicate attribute group and attribute -->
	<xs:attributeGroup name="apple">
		<xs:attribute name="attr1" type="xs:string"></xs:attribute>
	</xs:attributeGroup>
	<xs:attribute name="apple" type="xs:boolean"></xs:attribute>

	<!-- Tests duplicate attribute group and element -->
	<xs:attributeGroup name="banana">
		<xs:attribute name="attr1" type="xs:string"></xs:attribute>
	</xs:attributeGroup>
	<xs:element name="banana" type="xs:string"></xs:element>
	
	<!-- Tests duplicate attribute group and simple type -->
	<xs:attributeGroup name="melon">
		<xs:attribute name="attr1" type="xs:string"></xs:attribute>
	</xs:attributeGroup>
	<xs:simpleType name="melon">
		<xs:restriction base="xs:boolean"></xs:restriction>
	</xs:simpleType>

	<!-- Tests duplicate attribute group and complex type -->
	<xs:attributeGroup name="orange">
		<xs:attribute name="attr1" type="xs:string"></xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="orange">
		<xs:sequence>
			<xs:group ref="pear"></xs:group>
		</xs:sequence>
		<xs:attributeGroup ref="orange"></xs:attributeGroup>
	</xs:complexType>

	<!-- Tests duplicate attribute group and group -->
	<xs:attributeGroup name="pear">
		<xs:attribute name="attr1" type="xs:string"></xs:attribute>
	</xs:attributeGroup>
	<xs:group name="pear">
		<xs:sequence>
			<xs:element name="elem1" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:group>
	
	<!-- Check references are all in place -->
	<xs:attribute name="tleAttrTypeMelon" type="melon"></xs:attribute>

	<xs:element name="tleElemTypeOrange" type="orange"></xs:element>

	<xs:simpleType name="tleSimpleTypeMelon">
		<xs:restriction base="melon"></xs:restriction>
	</xs:simpleType>
	
</xs:schema>
