tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM38_NameConflicts_FixedIn_XPD_5786/gold/builder/com.tibco.AFF.PC.services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/AFF/PC/services" xmlns:tns1="http://www.tibco.com/AFF/PC/services"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://www.tibco.com/AFF/classes/resultstatus"
    xmlns:tns3="http://www.tibco.com/AFF/classes/product" xmlns:tns4="http://www.tibco.com/AFF/classes/segment"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.tibco.com/AFF/PC/services">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/junit8721/Generated Business Objects/com.tibco.AFF.PC.services.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.tibco.com/AFF/classes/product" schemaLocation="com.tibco.AFF.classes.product.xsd"/>
  <xsd:import namespace="http://www.tibco.com/AFF/classes/segment" schemaLocation="com.tibco.AFF.classes.segment.xsd"/>
  <xsd:import namespace="http://www.tibco.com/AFF/classes/resultstatus" schemaLocation="com.tibco.AFF.classes.resultstatus.xsd"/>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="GetEligibleProductsReply" nillable="false">
    <xsd:complexType ecore:name="GetEligibleProductsReplyType" id="com.tibco.AFF.PC.servicesGetEligibleProductsReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="products" form="qualified" maxOccurs="1" minOccurs="0"
            name="Products">
          <xsd:complexType ecore:name="ProductsType" id="com.tibco.AFF.PC.servicesProductsType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="product" maxOccurs="unbounded" minOccurs="0"
                  ref="tns3:Product"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="pagination" form="qualified" maxOccurs="1" minOccurs="0"
            name="Pagination">
          <xsd:complexType ecore:name="PaginationType" id="com.tibco.AFF.PC.servicesPaginationType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="startRecord" form="qualified" maxOccurs="1"
                  minOccurs="1" name="StartRecord" type="tns1:long_StudioGeneratedTemplate"/>
              <xsd:element ecore:name="endRecord" form="qualified" maxOccurs="1" minOccurs="1"
                  name="EndRecord" type="tns1:long_StudioGeneratedTemplate"/>
              <xsd:element ecore:name="totalRecords" form="qualified" maxOccurs="1"
                  minOccurs="1" name="TotalRecords" type="tns1:long_StudioGeneratedTemplate"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetEligibleProductsReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetEligibleProductsRequest" nillable="false">
    <xsd:complexType ecore:name="GetEligibleProductsRequestType" id="com.tibco.AFF.PC.servicesGetEligibleProductsRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:choice minOccurs="0">
          <xsd:element ecore:name="customerID" id="GetEligibleProductsRequestTypeCustomerID"
              form="qualified" maxOccurs="1" minOccurs="1" name="CustomerID" type="xsd:string"/>
          <xsd:element ecore:name="subscriberID" id="GetEligibleProductsRequestTypeSubscriberID"
              form="qualified" maxOccurs="1" minOccurs="1" name="SubscriberID" type="xsd:string"/>
          <xsd:sequence>
            <xsd:element ecore:name="parentCustomerID" id="GetEligibleProductsRequestTypeParentCustomerID"
                form="qualified" maxOccurs="1" minOccurs="1" name="ParentCustomerID"
                type="xsd:string"/>
            <xsd:element ecore:name="roleID" id="GetEligibleProductsRequestTypeRoleID"
                form="qualified" maxOccurs="unbounded" minOccurs="0" name="RoleID"
                type="xsd:string"/>
          </xsd:sequence>
        </xsd:choice>
        <xsd:element ecore:name="segment" form="qualified" maxOccurs="unbounded" minOccurs="0"
            name="Segment">
          <xsd:complexType ecore:name="SegmentType" id="com.tibco.AFF.PC.servicesSegmentType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="name" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Name" type="xsd:string"/>
              <xsd:element ecore:name="type" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Type" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="parentProductID" form="qualified" maxOccurs="1" minOccurs="0"
            name="ParentProductID" type="xsd:string"/>
        <xsd:element ecore:name="productName" form="qualified" maxOccurs="1" minOccurs="0"
            name="ProductName" type="xsd:string"/>
        <xsd:element ecore:name="productType" form="qualified" maxOccurs="1" minOccurs="0"
            name="ProductType" type="xsd:string"/>
        <xsd:element ecore:name="productSubType" form="qualified" maxOccurs="1" minOccurs="0"
            name="ProductSubType" type="xsd:string"/>
        <xsd:element ecore:name="productDescription" form="qualified" maxOccurs="1"
            minOccurs="0" name="ProductDescription" type="xsd:string"/>
        <xsd:element ecore:name="productCharacteristic" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="ProductCharacteristic">
          <xsd:complexType ecore:name="ProductCharacteristicType" id="com.tibco.AFF.PC.servicesProductCharacteristicType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="name" form="qualified" maxOccurs="1" minOccurs="1"
                  name="Name" type="xsd:string"/>
              <xsd:element ecore:name="value" form="qualified" maxOccurs="1" minOccurs="0"
                  name="Value" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ecore:name="orderDate" form="qualified" maxOccurs="1" minOccurs="0"
            name="OrderDate" type="xsd:dateTime"/>
        <xsd:element ecore:name="status" form="qualified" maxOccurs="1" minOccurs="0"
            name="Status" type="xsd:string"/>
        <xsd:choice minOccurs="0">
          <xsd:element ecore:name="count" id="GetEligibleProductsRequestTypeCount"
              form="qualified" maxOccurs="1" minOccurs="1" name="Count" type="tns1:long_StudioGeneratedTemplate"/>
          <xsd:element ecore:name="pagination" id="GetEligibleProductsRequestTypePaginationType"
              form="qualified" maxOccurs="1" minOccurs="1" name="Pagination">
            <xsd:complexType ecore:name="PaginationType1" id="com.tibco.AFF.PC.servicesPaginationType2"
                mixed="false">
              <xsd:sequence>
                <xsd:element ecore:name="startRecord" form="qualified" maxOccurs="1"
                    minOccurs="1" name="StartRecord" type="xsd:string"/>
                <xsd:element ecore:name="endRecord" form="qualified" maxOccurs="1"
                    minOccurs="1" name="EndRecord" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetEligibleProductsRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetIneligibleSubscribersReply" nillable="false">
    <xsd:complexType ecore:name="GetIneligibleSubscribersReplyType" id="com.tibco.AFF.PC.servicesGetIneligibleSubscribersReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="ineligibleSubscriberID" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="IneligibleSubscriberID" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetIneligibleSubscribersReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetIneligibleSubscribersRequest" nillable="false">
    <xsd:complexType ecore:name="GetIneligibleSubscribersRequestType" id="com.tibco.AFF.PC.servicesGetIneligibleSubscribersRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="parentCustomerID" form="qualified" maxOccurs="1"
            minOccurs="1" name="ParentCustomerID" type="xsd:string"/>
        <xsd:element ecore:name="productID" form="qualified" maxOccurs="1" minOccurs="1"
            name="ProductID" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetIneligibleSubscribersRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetProductInformationReply" nillable="false">
    <xsd:complexType ecore:name="GetProductInformationReplyType" id="com.tibco.AFF.PC.servicesGetProductInformationReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="productInformation" form="qualified" maxOccurs="unbounded"
            minOccurs="0" name="ProductInformation">
          <xsd:complexType ecore:name="ProductInformationType" id="com.tibco.AFF.PC.servicesProductInformationType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="product" maxOccurs="1" minOccurs="1" ref="tns3:Product"/>
              <xsd:element ecore:name="characteristics" form="qualified" maxOccurs="1"
                  minOccurs="1" name="Characteristics">
                <xsd:complexType ecore:name="CharacteristicsType" id="com.tibco.AFF.PC.servicesCharacteristicsType"
                    mixed="false">
                  <xsd:sequence>
                    <xsd:element ecore:name="characteristic" maxOccurs="unbounded"
                        minOccurs="0" ref="tns3:Characteristic"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetProductInformationReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetProductInformationRequest" nillable="false">
    <xsd:complexType ecore:name="GetProductInformationRequestType" id="com.tibco.AFF.PC.servicesGetProductInformationRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="productID" form="qualified" maxOccurs="unbounded"
            minOccurs="1" name="ProductID" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetProductInformationRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetSegmentsReply" nillable="false">
    <xsd:complexType ecore:name="GetSegmentsReplyType" id="com.tibco.AFF.PC.servicesGetSegmentsReplyType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="resultStatus" maxOccurs="1" minOccurs="1" ref="tns2:ResultStatus"/>
        <xsd:element ecore:name="segments" form="qualified" maxOccurs="1" minOccurs="0"
            name="Segments">
          <xsd:complexType ecore:name="SegmentsType" id="com.tibco.AFF.PC.servicesSegmentsType"
              mixed="false">
            <xsd:sequence>
              <xsd:element ecore:name="segment" maxOccurs="unbounded" minOccurs="0"
                  ref="tns4:Segment"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetSegmentsReplyTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GetSegmentsRequest" nillable="false">
    <xsd:complexType ecore:name="GetSegmentsRequestType" id="com.tibco.AFF.PC.servicesGetSegmentsRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="segmentType" form="qualified" maxOccurs="1" minOccurs="0"
            name="SegmentType" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="businessTransactionID" id="GetSegmentsRequestTypeBusinessTransactionID"
          form="unqualified" name="BusinessTransactionID" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>