tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDLCoverageAMXBPM/WSDL23/services/Schema/common-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="urn:xmlns:beb.ameritrade.common-message.com"
	 targetNamespace="urn:xmlns:beb.ameritrade.common-message.com"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="GroupID" type="GroupIDType"/>
	<xs:complexType name="GroupIDType">
		<xs:sequence>
			<xs:element name="Firm" type="xs:string"/>
			<xs:element name="Branch" type="xs:string"/>
			<xs:element name="ClientKey" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountKey" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="update"/>
			<xs:enumeration value="delete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResponsibleBrokerTypeU">
		<xs:simpleContent>
			<xs:extension base="ResponsibleBrokerType">
				<xs:attribute name="action" type="ActionType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="InternalAccountTypeT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Customer"/>
			<xs:enumeration value="Dealer"/>
			<xs:enumeration value="General Ledger"/>
			<xs:enumeration value="House Account"/>
			<xs:enumeration value="Location"/>
			<xs:enumeration value="Transfer Agent"/>
			<xs:enumeration value="Vendor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubAccountTypeT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cash"/>
			<xs:enumeration value="Margin"/>
			<xs:enumeration value="Income"/>
			<xs:enumeration value="Short"/>
			<xs:enumeration value="DVP/RVP"/>
			<xs:enumeration value="Dividend"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponsibleBrokerType">
		<xs:restriction base="ResponsibleBrokerValues"/>
	</xs:simpleType>
	<xs:simpleType name="ResponsibleBrokerValues">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AsOfDateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:complexType name="AsOfDateTypeU">
		<xs:simpleContent>
			<xs:extension base="AsOfDateType">
				<xs:attribute name="action" type="ActionType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CreatedDateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:complexType name="CreatedDateTypeU">
		<xs:simpleContent>
			<xs:extension base="CreatedDateType">
				<xs:attribute name="action" type="ActionType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="OrderSourceT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Broker"/>
			<xs:enumeration value="Drop Copy"/>
			<xs:enumeration value="Phone"/>
			<xs:enumeration value="Web"/>
			<xs:enumeration value="Test"/>
			<xs:enumeration value="Trade Triggers"/>
			<xs:enumeration value="Advisor Services"/>
			<xs:enumeration value="Advisor Client"/>
			<xs:enumeration value="VEO Express"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ChargesT">
		<xs:sequence>
			<xs:element name="Charge" type="ChargeT" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChargeT">
		<xs:sequence>
			<xs:element name="Type" type="ChargeTypeT"/>
			<xs:element name="Amount" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChargeTypeT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Commission"/>
			<xs:enumeration value="CommissionAmount"/>
			<xs:enumeration value="Commission Override"/>
			<xs:enumeration value="SEC Fee"/>
			<xs:enumeration value="STR Fee"/>
			<xs:enumeration value="SECFee"/>
			<xs:enumeration value="STRFee"/>
			<xs:enumeration value="Additional Fees"/>
			<xs:enumeration value="CDSCFee"/>
			<xs:enumeration value="FundRedemptionFee"/>
			<xs:enumeration value="OtherCharges"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>