tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDLCoverageAMXBPM/WSDL23/services/Schema/portfolio-stock-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="urn:xmlns:beb.ameritrade.com"
	 xmlns:ns0="urn:xmlns:beb.ameritrade.common-message.com"
	 targetNamespace="urn:xmlns:beb.ameritrade.com"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="urn:xmlns:beb.ameritrade.common-message.com" schemaLocation="common-messages.xsd"/>
	<xs:simpleType name="CancelCorrectFlagT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Correction"/>
			<xs:enumeration value="Cancelled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuySellIndicatorT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Buy"/>
			<xs:enumeration value="Sell"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PortStockTransactionTypeT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Trade - BUY TRADE"/>
			<xs:enumeration value="Trade - SELL TRADE"/>
			<xs:enumeration value="Trade - MUTUAL FUND BUY TRADE"/>
			<xs:enumeration value="Trade - MUTUAL FUND SELL TRADE"/>
			<xs:enumeration value="Receive and Deliver - DIVIDEND REINVESTMENT"/>
			<xs:enumeration value="Receive and Deliver - DIV RATE LESS THAN .26"/>
			<xs:enumeration value="Receive and Deliver - DIV RATE GREATER THAN .26"/>
			<xs:enumeration value="Receive and Deliver"/>
			<xs:enumeration value="Receive and Deliver - DEFAULT"/>
			<xs:enumeration value="Receive and Deliver - CREDIT BALANCE INTEREST"/>
			<xs:enumeration value="Receive and Deliver - CREDIT TO CLIENT"/>
			<xs:enumeration value="Receive and Deliver - DEBIT TO CLIENT"/>
			<xs:enumeration value="MARGIN INTEREST"/>
			<xs:enumeration value="DIVIDEND REINVESTMENT"/>
			<xs:enumeration value="SMA ADJUSTMENT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PortStockTransactionIndicatorT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default"/>
			<xs:enumeration value="Stock In"/>
			<xs:enumeration value="Stock Out"/>
			<xs:enumeration value="SMA In"/>
			<xs:enumeration value="SMA Out"/>
			<xs:enumeration value="BOS Trade"/>
			<xs:enumeration value="BOS Correct"/>
			<xs:enumeration value="BOS Cancel"/>
			<xs:enumeration value="Receive and Deliver"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PortStockSecurityTypeT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Common Stock"/>
			<xs:enumeration value="Preferred Stock"/>
			<xs:enumeration value="Convertible Preferred Stock"/>
			<xs:enumeration value="Mutual Fund"/>
			<xs:enumeration value="Warrant"/>
			<xs:enumeration value="Rights"/>
			<xs:enumeration value="Units"/>
			<xs:enumeration value="Municipal Bond"/>
			<xs:enumeration value="Convertible Bond"/>
			<xs:enumeration value="US Treasury Bond"/>
			<xs:enumeration value="US Treasury Bill"/>
			<xs:enumeration value="US Treasury Note"/>
			<xs:enumeration value="Government Mortgage"/>
			<xs:enumeration value="Corporate Bond"/>
			<xs:enumeration value="Put Option"/>
			<xs:enumeration value="Call Option"/>
			<xs:enumeration value="Limited Partnership"/>
			<xs:enumeration value="Bank Call Option"/>
			<xs:enumeration value="Escrow"/>
			<xs:enumeration value="Short Term Paper"/>
			<xs:enumeration value="Bond Unit"/>
			<xs:enumeration value="Muni Assessment Dist"/>
			<xs:enumeration value="Other Government"/>
			<xs:enumeration value="US Treasury Zero Coupon"/>
			<xs:enumeration value="Collateralized Mortgage Obligation"/>
			<xs:enumeration value="Money Market Fund"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PortStockTransactionSubTypeT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Money Market Off Cycle Interest"/>
			<xs:enumeration value="Money Market Off Cycle Dividend"/>
			<xs:enumeration value="Money Market Purchase"/>
			<xs:enumeration value="Money Market Redemption"/>
			<xs:enumeration value="Money Market Dividend"/>
			<xs:enumeration value="Money Market Interest"/>
			<xs:enumeration value="Transfer Request Entries"/>
			<xs:enumeration value="Bankruptcy Distribution"/>
			<xs:enumeration value="Recapitalization"/>
			<xs:enumeration value="Mandatory - Cusip Change"/>
			<xs:enumeration value="Reclassification"/>
			<xs:enumeration value="Voluntary - Conversion Offer"/>
			<xs:enumeration value="Voluntary - Dutch Auction"/>
			<xs:enumeration value="Default Mandatory"/>
			<xs:enumeration value="Move Position due to Reorganization"/>
			<xs:enumeration value="Security Movement for ESPP transaction"/>
			<xs:enumeration value="Voluntary - Election Merger"/>
			<xs:enumeration value="Voluntary - Exchange Offer"/>
			<xs:enumeration value="Removal of Expired Rights"/>
			<xs:enumeration value="Security Escheatment"/>
			<xs:enumeration value="Removal of Expired Warrants"/>
			<xs:enumeration value="Mandatory - Exchange"/>
			<xs:enumeration value="Mandatory - Forward Split"/>
			<xs:enumeration value="Movement involving Hard Seg location code 80"/>
			<xs:enumeration value="Internal Transfer between location codes"/>
			<xs:enumeration value="Internal Transfer between accounts or account types"/>
			<xs:enumeration value="Leap Conversion"/>
			<xs:enumeration value="Deposit of Non-Negotiable Securities"/>
			<xs:enumeration value="Option Position Change"/>
			<xs:enumeration value="Share Class Conversion"/>
			<xs:enumeration value="Money Market Movement"/>
			<xs:enumeration value="Mandatory - Rouding"/>
			<xs:enumeration value="Option Name Change"/>
			<xs:enumeration value="Mandatory - Name Change"/>
			<xs:enumeration value="Non Pre-refunding"/>
			<xs:enumeration value="Non-Taxable Spin off/Liquidation Distribution"/>
			<xs:enumeration value="Removal of Option due to assignment"/>
			<xs:enumeration value="Removal of Option due to exercise"/>
			<xs:enumeration value="Voluntary - Odd Lot Offer"/>
			<xs:enumeration value="Removal of Option due to expiration"/>
			<xs:enumeration value="Move Position Due to Partial Call"/>
			<xs:enumeration value="Physical Deposit of Negotiable Securities"/>
			<xs:enumeration value="Pre-refunding"/>
			<xs:enumeration value="Partial Call Lottery"/>
			<xs:enumeration value="Remove Paid Out Securities"/>
			<xs:enumeration value="Pre-refunding"/>
			<xs:enumeration value="Option Reorganization/Corporate Action"/>
			<xs:enumeration value="Redemption"/>
			<xs:enumeration value="Option Right Expiration"/>
			<xs:enumeration value="Option Right Distribution"/>
			<xs:enumeration value="Voluntary - Rights Oversubscription"/>
			<xs:enumeration value="Remove Position Per Client Request"/>
			<xs:enumeration value="Mandatory Reverse Split"/>
			<xs:enumeration value="Voluntary - Rights Subscription"/>
			<xs:enumeration value="Scheme of Arrangement"/>
			<xs:enumeration value="Stock Dividend"/>
			<xs:enumeration value="Option Even Split Reorganization"/>
			<xs:enumeration value="Option Spin Off"/>
			<xs:enumeration value="Option Odd Split Reorganization"/>
			<xs:enumeration value="Stock Split"/>
			<xs:enumeration value="Rights Subscription"/>
			<xs:enumeration value="Voluntary - Tender Offer"/>
			<xs:enumeration value="Transfer of Security or Option In"/>
			<xs:enumeration value="Transfer of Security or Option Out"/>
			<xs:enumeration value="Dividend Reinvestment (Shares)"/>
			<xs:enumeration value="Taxable Spin off/Stock Dividend"/>
			<xs:enumeration value="Security movement for DVP transaction"/>
			<xs:enumeration value="Mandatory - Unit Separation"/>
			<xs:enumeration value="Voluntary - Warrant Exercise"/>
			<xs:enumeration value="Removal of Worthless Securities"/>
			<xs:enumeration value="Transfer of Security in Safekeeping"/>
			<xs:enumeration value="Transfer of Security Out Safekeeping"/>
			<xs:enumeration value="Mandatory - ADR Termination"/>
			<xs:enumeration value="Buy Trade"/>
			<xs:enumeration value="Mandatory - Cash Merger"/>
			<xs:enumeration value="Close Short Position"/>
			<xs:enumeration value="Voluntary - Dutch Auction Payment"/>
			<xs:enumeration value="Dividend Reinvest"/>
			<xs:enumeration value="Distribution Payment"/>
			<xs:enumeration value="Bonds - Full Call"/>
			<xs:enumeration value="Mandatory - Liquidation Payment"/>
			<xs:enumeration value="Bonds - Maturity"/>
			<xs:enumeration value="Option Assignment"/>
			<xs:enumeration value="Option Exercise"/>
			<xs:enumeration value="Voluntary - Odd Lot Tender Payment"/>
			<xs:enumeration value="Bonds - Partial Call"/>
			<xs:enumeration value="Voluntary - Odd Lot Purchase Payment"/>
			<xs:enumeration value="Bonds - Redemption"/>
			<xs:enumeration value="Redemption of Rights"/>
			<xs:enumeration value="Redemption of Warrants"/>
			<xs:enumeration value="Sell Trade"/>
			<xs:enumeration value="Short Sale"/>
			<xs:enumeration value="Trade Correction"/>
			<xs:enumeration value="Voluntary - Tender Payment"/>
			<xs:enumeration value="UIT Rollover - Buy"/>
			<xs:enumeration value="UIT Rollover - Sell"/>
			<xs:enumeration value="Voluntary - UIT Termination"/>
			<xs:enumeration value="Voluntary - Odd Lot Tender Payment"/>
			<xs:enumeration value="When Issued Security"/>
			<xs:enumeration value="Default"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PortfolioStockMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:GroupID"/>
				<xs:element name="InternalAccountType" type="ns0:InternalAccountTypeT"/>
				<xs:element name="SubAccountType" type="ns0:SubAccountTypeT"/>
				<xs:element name="TransactionType" type="PortStockTransactionTypeT"/>
				<xs:element name="TransactionIndicator" type="PortStockTransactionIndicatorT"/>
				<xs:element name="RecordedDate" type="xs:date"/>
				<xs:element name="PostedDate" type="xs:date"/>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
				<xs:element name="ProcessDate" type="xs:date" minOccurs="0"/>
				<xs:element name="ClearingReferenceNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="Cusip" type="xs:string" minOccurs="0"/>
				<xs:element name="Symbol" type="xs:string" minOccurs="0"/>
				<xs:element name="Quantity" type="xs:double" minOccurs="0"/>
				<xs:element name="SecurityDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="SecurityType" type="PortStockSecurityTypeT" minOccurs="0"/>
				<xs:element name="TransactionDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="CalculateNetCashFlag" type="xs:string" minOccurs="0"/>
				<xs:element name="Price" type="xs:double" minOccurs="0"/>
				<xs:element name="StreetSideTransactionNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="StreetSideAccountNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="StreetSideAccountType" type="xs:string" minOccurs="0"/>
				<xs:element name="InterestAmount" type="xs:double" minOccurs="0"/>
				<xs:element name="ConcessionAmount" type="xs:double" minOccurs="0"/>
				<xs:element name="Charges" type="ns0:ChargesT" minOccurs="0"/>
				<xs:element name="SettledShareQuantity" type="xs:double" minOccurs="0"/>
				<xs:element name="CancelCorrectFlag" type="CancelCorrectFlagT" minOccurs="0"/>
				<xs:element name="TransactionOriginator" type="xs:string" minOccurs="0"/>
				<xs:element name="BuySellIndicator" type="BuySellIndicatorT" minOccurs="0"/>
				<xs:element name="OrderKey" type="xs:string" minOccurs="0"/>
				<xs:element name="CancelledClearingRef" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionSubType" type="PortStockTransactionSubTypeT" minOccurs="0"/>
				<xs:element name="NetAmount" type="xs:double" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>