tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM50_BOMGenFor_XPD7553/gold/builder/com.vietinbank.casa._1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.vietinbank.com/casa/1.0" xmlns:tns2="http://www.vietinbank.com/casa/1.0"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.vietinbank.com/casa/1.0">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD7553/Generated Business Objects/com.vietinbank.casa._1.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="AccountBalanceInqReqType" id="com.vietinbank.casa._1AccountBalanceInqReqType"
      abstract="false" mixed="false" name="AccountBalanceInqReqType">
    <xsd:sequence>
      <xsd:element ecore:name="requestPayLoadAccountInq" id="AccountBalanceInqReqTypeRequestPayLoadAccountInq2"
          maxOccurs="1" minOccurs="1" ref="tns2:RequestPayLoadAccountInq"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RequestPayLoadAccountInqType" id="com.vietinbank.casa._1RequestPayLoadAccountInqType"
      abstract="false" mixed="false" name="RequestPayLoadAccountInqType">
    <xsd:sequence>
      <xsd:element ecore:name="bankAccount" id="RequestPayLoadAccountInqTypeBankAccount2"
          maxOccurs="1" minOccurs="1" ref="tns2:BankAccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BankAccountType" id="com.vietinbank.casa._1BankAccountType"
      abstract="false" mixed="false" name="BankAccountType">
    <xsd:sequence>
      <xsd:element ecore:name="accountId" id="BankAccountTypeAccountId" form="qualified"
          maxOccurs="1" minOccurs="1" name="AccountId" type="xsd:string"/>
      <xsd:element ecore:name="accountType" id="BankAccountTypeAccountType" form="qualified"
          maxOccurs="1" minOccurs="0" name="AccountType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="BankAccount" nillable="false" type="BankAccountType"/>
  <xsd:element abstract="false" name="RequestPayLoadAccountInq" nillable="false" type="RequestPayLoadAccountInqType"/>
</xsd:schema>