tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDL-AMXBPM-API/WSDL04/services/ec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (x64) (http://www.altova.com) by XMLSpy 2009 Enterprise Ed., Concurrent for 6 users (with SMP from 2009-11-06 to 2010-11-07) (Tibco Software Ltd) -->
<wsdl:definitions xmlns:base="http://api.ec.n2.tibco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://services.ec.n2.tibco.com" xmlns:ex="http://exception.api.ec.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://datamodel.common.n2.tibco.com" xmlns:ns2="http://base.api.ec.n2.tibco.com" xmlns:ns3="http://exception.api.common.n2.tibco.com" name="EventCollectorQueryService" targetNamespace="http://services.ec.n2.tibco.com">
	<wsdl:types>
		<!-- Exceptions -->
		<xs:schema targetNamespace="http://exception.api.ec.n2.tibco.com">
			<xs:include schemaLocation="ecexception.xsd"/>
		</xs:schema>
		<!-- Types -->
		<xs:schema targetNamespace="http://api.ec.n2.tibco.com">
			<xs:include schemaLocation="ec.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="executeQueryRequest">
		<wsdl:part name="executeQueryDoc" element="base:executeQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="executeQueryResponse">
		<wsdl:part name="executeQueryResponseDoc" element="base:executeQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="executeGenericQueryRequest">
		<wsdl:part name="executeGenericQueryDoc" element="base:executeGenericQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="executeGenericQueryResponse">
		<wsdl:part name="executeGenericQueryResponseDoc" element="base:executeGenericQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="executeRegisteredQueryRequest">
		<wsdl:part name="executeRegisteredQueryDoc" element="base:executeRegisteredQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="executeRegisteredQueryResponse">
		<wsdl:part name="executeRegisteredQueryResponseDoc" element="base:executeRegisteredQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="executeRegisteredGenericQueryRequest">
		<wsdl:part name="executeRegisteredGenericQueryDoc" element="base:executeRegisteredGenericQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="executeRegisteredGenericQueryResponse">
		<wsdl:part name="executeRegisteredGenericQueryResponseDoc" element="base:executeRegisteredGenericQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="getComponentsRequest">
		<wsdl:part name="getComponentsDoc" element="base:getComponentsRequest"/>
	</wsdl:message>
	<wsdl:message name="getComponentsResponse">
		<wsdl:part name="getComponentsResponseDoc" element="base:getComponentsResponse"/>
	</wsdl:message>
	<wsdl:message name="getAllAttributesRequest">
		<wsdl:part name="getAllAttributesDoc" element="base:getAllAttributesRequest"/>
	</wsdl:message>
	<wsdl:message name="getAttributesRequest">
		<wsdl:part name="getAttributesDoc" element="base:getAttributesRequest"/>
	</wsdl:message>
	<wsdl:message name="getAttributesResponse">
		<wsdl:part name="getAttributesResponseDoc" element="base:getAttributesResponse"/>
	</wsdl:message>
	<wsdl:message name="isQueryRegisteredRequest">
		<wsdl:part name="isQueryRegisteredDoc" element="base:isQueryRegisteredRequest"/>
	</wsdl:message>
	<wsdl:message name="isQueryRegisteredResponse">
		<wsdl:part name="isQueryRegisteredResponseDoc" element="base:isQueryRegisteredResponse"/>
	</wsdl:message>
	<wsdl:message name="getAllAttributesResponse">
		<wsdl:part name="getAllAttributesResponseDoc" element="base:getAllAttributesResponse"/>
	</wsdl:message>
	<wsdl:message name="registerQueryRequest">
		<wsdl:part name="registerQueryDoc" element="base:registerQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="registerQueryResponse">
		<wsdl:part name="registerQueryResponseDoc" element="base:registerQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="unRegisterQueryRequest">
		<wsdl:part name="unRegisterQueryDoc" element="base:unRegisterQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="unRegisterQueryResponse">
		<wsdl:part name="unRegisterQueryResponseDoc" element="base:unRegisterQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="eventRequest">
		<wsdl:part name="eventDoc" element="base:eventRequest"/>
	</wsdl:message>
	<wsdl:message name="eventResponse">
		<wsdl:part name="eventResponseDoc" element="base:eventResponse"/>
	</wsdl:message>
	<wsdl:message name="requestMeasureRequest">
		<wsdl:part name="requestMeasureDoc" element="base:requestMeasureRequest"/>
	</wsdl:message>
	<wsdl:message name="requestMeasureResponse">
		<wsdl:part name="requestMeasureResponseDoc" element="base:requestMeasureResponse"/>
	</wsdl:message>
	<wsdl:message name="requestGenericMeasureRequest">
		<wsdl:part name="requestGenericMeasureDoc" element="base:requestGenericMeasureRequest"/>
	</wsdl:message>
	<wsdl:message name="requestGenericMeasureResponse">
		<wsdl:part name="requestGenericMeasureResponseDoc" element="base:requestGenericMeasureResponse"/>
	</wsdl:message>
	<wsdl:message name="requestProcessDurationMeasureRequest">
		<wsdl:part name="requestProcessDurationMeasureDoc" element="base:requestProcessDurationMeasureRequest"/>
	</wsdl:message>
	<wsdl:message name="requestProcessDurationMeasureResponse">
		<wsdl:part name="requestProcessDurationMeasureResponseDoc" element="base:requestProcessDurationMeasureResponse"/>
	</wsdl:message>
	<wsdl:message name="requestProcessTemplateMeasureRequest">
		<wsdl:part name="requestProcessTemplateMeasureDoc" element="base:requestProcessTemplateMeasureRequest"/>
	</wsdl:message>
	<wsdl:message name="requestProcessTemplateMeasureResponse">
		<wsdl:part name="requestProcessTemplateMeasureResponseDoc" element="base:requestProcessTemplateMeasureResponse"/>
	</wsdl:message>
	<wsdl:message name="requestWorkItemPerformanceForTemplateRequest">
		<wsdl:part name="requestWorkItemPerformanceForTemplateDoc" element="base:requestWorkItemPerformanceForTemplateRequest"/>
	</wsdl:message>
	<wsdl:message name="requestWorkItemPerformanceForTemplateResponse">
		<wsdl:part name="requestWorkItemPerformanceForTemplateResponseDoc" element="base:requestWorkItemPerformanceForTemplateResponse"/>
	</wsdl:message>
	<wsdl:message name="requestWorkItemPerformanceForResourceRequest">
		<wsdl:part name="requestWorkItemPerformanceForResourceDoc" element="base:requestWorkItemPerformanceForResourceRequest"/>
	</wsdl:message>
	<wsdl:message name="requestWorkItemPerformanceForResourceResponse">
		<wsdl:part name="requestWorkItemPerformanceForResourceResponseDoc" element="base:requestWorkItemPerformanceForResourceResponse"/>
	</wsdl:message>
	<wsdl:message name="internalServiceFault">
		<wsdl:part name="internalServiceFault" element="ex:InternalServiceFault"/>
	</wsdl:message>
	<wsdl:message name="invalidQueryFault">
		<wsdl:part name="invalidQueryFault" element="ex:InvalidQueryFault"/>
	</wsdl:message>
	<wsdl:message name="invalidQueryIdentifierFault">
		<wsdl:part name="invalidQueryIdentifierFault" element="ex:InvalidQueryIdentifierFault"/>
	</wsdl:message>
	<wsdl:message name="queryExecutionFault">
		<wsdl:part name="queryExecutionFault" element="ex:QueryExecutionFault"/>
	</wsdl:message>
	<wsdl:message name="queryNotFoundFault">
		<wsdl:part name="queryNotFoundFault" element="ex:QueryNotFoundFault"/>
	</wsdl:message>
	<wsdl:message name="noSuchComponentFault">
		<wsdl:part name="noSuchComponentFault" element="ex:NoSuchComponentFault"/>
	</wsdl:message>
	<wsdl:message name="registerComponentRequest">
		<wsdl:part name="registerComponentDoc" element="base:registerComponentRequest"/>
	</wsdl:message>
	<wsdl:message name="registerComponentResponse">
		<wsdl:part name="registerComponentResponseDoc" element="base:registerComponentResponse"/>
	</wsdl:message>
	<wsdl:message name="registerAttributesRequest">
		<wsdl:part name="registerAttributesRequest" element="base:registerAttributesRequest"/>
	</wsdl:message>
	<wsdl:message name="registerAttributesResponse">
		<wsdl:part name="registerAttributesResponse" element="base:registerAttributesResponse"/>
	</wsdl:message>
	<wsdl:message name="duplicateRegistrationFault">
		<wsdl:part name="duplicateRegistrationFault" element="ex:DuplicateRegistrationFault"/>
	</wsdl:message>
	<wsdl:message name="invalidRequestFault">
		<wsdl:part name="invalidRequestFault" element="ex:InvalidRequestFault"/>
	</wsdl:message>
	<wsdl:message name="lookupQueryByTagRequest">
		<wsdl:part name="lookupQueryByTagDoc" element="base:lookupQueryByTagRequest"/>
	</wsdl:message>
	<wsdl:message name="lookupQueryByTagResponse">
		<wsdl:part name="lookupQueryByTagResponseDoc" element="base:lookupQueryByTagResponse"/>
	</wsdl:message>
	<wsdl:portType name="EventCollectorQueryService">
		<wsdl:documentation>Get information from the Event Collector database tables about events, attributes and components.</wsdl:documentation>
		<wsdl:operation name="executeQuery">
			<wsdl:documentation>**PRIVATE API - Reserved for internal use**</wsdl:documentation>
			<wsdl:input name="executeQueryRequest" message="impl:executeQueryRequest">
				<wsdl:documentation>Request message (uses base:executeQueryRequest element): Specifies the details of the query that is to be executed, along with any options for the query.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="executeQueryResponse" message="impl:executeQueryResponse">
				<wsdl:documentation>Response message (uses base:executeQueryResponse element): Lists details of the events that match the specified query, along with summary information about the executed query. </wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryFault" message="impl:invalidQueryFault">
				<wsdl:documentation>Error message (uses ex:InvalidQueryFault element): The specified query was invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="QueryExecutionFault" message="impl:queryExecutionFault">
				<wsdl:documentation>Error message (uses ex:QueryExecutionFault element): The specified query could not be executed.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="executeGenericQuery">
			<wsdl:documentation>Execute the specified query against the Event Collector database tables. (If a query needs to be executed multiple times, using the executeRegisteredQuery operation will show improved performance.)</wsdl:documentation>
			<wsdl:input name="executeGenericQueryRequest" message="impl:executeGenericQueryRequest">
				<wsdl:documentation>Request message (uses base:executeGenericQueryRequest element): Specifies the details of the query that is to be executed, along with any options for the query.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="executeGenericQueryResponse" message="impl:executeGenericQueryResponse">
				<wsdl:documentation>Response message (uses base:executeGenericQueryResponse element): Lists details of the events that match the specified query, along with summary information about the executed query. </wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryFault" message="impl:invalidQueryFault">
				<wsdl:documentation>Error message (uses ex:InvalidQueryFault element): The specified query was invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="QueryExecutionFault" message="impl:queryExecutionFault">
				<wsdl:documentation>Error message (uses ex:QueryExecutionFault element): The specified query could not be executed.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="executeRegisteredQuery">
			<wsdl:documentation>**PRIVATE API - Reserved for internal use**</wsdl:documentation>
			<wsdl:input name="executeRegisteredQueryRequest" message="impl:executeRegisteredQueryRequest">
				<wsdl:documentation>Request message (uses base:executeRegisteredQueryRequest element): Identifies the previously registered query that is to be executed, along with any options to be used on this particular execution of the query.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="executeRegisteredQueryResponse" message="impl:executeQueryResponse">
				<wsdl:documentation>Response message (uses base:executeQueryResponse element): Lists details of the events that match the specified query, along with summary information about the executed query.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryIdentifierFault" message="impl:invalidQueryIdentifierFault">
				<wsdl:documentation>Error message (uses ex:InvalidQueryIdentifierFault element): The query identifier used (guid or tag) is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="QueryExecutionFault" message="impl:queryExecutionFault">
				<wsdl:documentation>Error message (uses ex:QueryExecutionFault element): The specified query could not be executed.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="QueryNotFoundFault" message="impl:queryNotFoundFault">
				<wsdl:documentation>Error message (uses ex:QueryNotFoundFault element): No registered query was found matching the specified tag or guid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="executeRegisteredGenericQuery">
			<wsdl:documentation>Execute a query that has been previously registered using the registerQuery operation.</wsdl:documentation>
			<wsdl:input name="executeRegisteredGenericQueryRequest" message="impl:executeRegisteredGenericQueryRequest">
				<wsdl:documentation>Request message (uses base:executeRegisteredGenericQueryRequest element): Identifies the previously registered query that is to be executed, along with any options to be used on this particular execution of the query.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="executeRegisteredGenericQueryResponse" message="impl:executeRegisteredGenericQueryResponse">
				<wsdl:documentation>Response message (uses base:executeRegisteredGenericQueryResponse element): Lists details of the events that match the specified query, along with summary information about the executed query.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryIdentifierFault" message="impl:invalidQueryIdentifierFault">
				<wsdl:documentation>Error message (uses ex:InvalidQueryIdentifierFault element): The query identifier used (guid or tag) is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="QueryExecutionFault" message="impl:queryExecutionFault">
				<wsdl:documentation>Error message (uses ex:QueryExecutionFault element): The specified query could not be executed.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="QueryNotFoundFault" message="impl:queryNotFoundFault">
				<wsdl:documentation>Error message (uses ex:QueryNotFoundFault element): No registered query was found matching the specified tag or guid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAllAttributes">
			<wsdl:documentation>List all attributes registered in the Event Collector database tables. </wsdl:documentation>
			<wsdl:input name="getAllAttributesRequest" message="impl:getAllAttributesRequest">
				<wsdl:documentation>Request message (uses base:getAllAttributesRequest element): This message has no parameters.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="getAllAttributesResponse" message="impl:getAllAttributesResponse">
				<wsdl:documentation>Response message (uses base:getAllAttributesResponse element): Lists the details of all attributes registered in the Event Collector database.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttributes">
			<wsdl:documentation>List all attributes in the Event Collector database tables that are registered for a specific component.</wsdl:documentation>
			<wsdl:input name="getAttributesRequest" message="impl:getAttributesRequest">
				<wsdl:documentation>Request message (uses base:getAttributesRequest element): Specifies the identifier of the component for which attributes should be listed.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="getAttributesResponse" message="impl:getAttributesResponse">
				<wsdl:documentation>Response message (uses base:getAttributesResponse element): Lists the details of all attributes registered in the Event Collector database for the specified component.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="NoSuchComponentFault" message="impl:noSuchComponentFault">
				<wsdl:documentation>Error message (uses ex:NoSuchComponentFault element): The identifier used to specify the component is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isQueryRegistered">
			<wsdl:documentation>Test whether a query is registered with Event Collector. (This can be useful for determining whether a frequently used query tag is already present on the system.)</wsdl:documentation>
			<wsdl:input name="isQueryRegisteredRequest" message="impl:isQueryRegisteredRequest">
				<wsdl:documentation>Request message (uses base:isQueryRegisteredRequest element): Identifies the query that is to be tested.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="isQueryRegisteredResponse" message="impl:isQueryRegisteredResponse">
				<wsdl:documentation>Response message (uses base:isQueryRegisteredResponse element): Returns whether the query is registered with Event Collector.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryIdentifierFault" message="impl:invalidQueryIdentifierFault">
				<wsdl:documentation>Error message (uses ex:invalidQueryidentifierFault element): The specified query identifier is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="registerQuery">
			<wsdl:documentation>Register a query with Event Collector, so that it can be subsequently executed using the executeRegisteredGenericQuery operation.</wsdl:documentation>
			<wsdl:input name="registerQueryRequest" message="impl:registerQueryRequest">
				<wsdl:documentation>Request message (uses base:registerQueryRequest element): Specifies the query to be registered and a tag with which to identify it.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="registerQueryResponse" message="impl:registerQueryResponse">
				<wsdl:documentation>Response message (uses base:registerQueryResponse element): Lists the guid and tag for the newly registered query.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryFault" message="impl:invalidQueryFault">
				<wsdl:documentation>Error message (uses ex:invalidQueryFault element): The query could not be registered because the query specification is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="DuplicateRegistrationFault" message="impl:duplicateRegistrationFault">
				<wsdl:documentation>Error message (uses ex:DuplicateRegistrationFault element): The tag specified for the query is already used by another registered query.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="unRegisterQuery">
			<wsdl:documentation>Unregister a previously registered query.</wsdl:documentation>
			<wsdl:input name="unRegisterQueryRequest" message="impl:unRegisterQueryRequest">
				<wsdl:documentation>Request message (uses base:unRegisteryQueryRequest element): Identifies the query that is to be unregistered (using either a guid or tag).</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="unRegisterQueryResponse" message="impl:unRegisterQueryResponse">
				<wsdl:documentation>Response message (uses base:unRegisteryQueryResponse element): This message has no parameters.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryIdentifierFault" message="impl:invalidQueryIdentifierFault">
				<wsdl:documentation>Error message (uses ex:InvalidQueryIdentifier element): The tag or guid used to identify the query is invalid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="QueryNotFoundFault" message="impl:queryNotFoundFault">
				<wsdl:documentation>Error message (uses ex:QueryNotFoundFault element): No registered query was found matching the specified tag or guid.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getComponents">
			<wsdl:documentation>List the components that are registered on the system.</wsdl:documentation>
			<wsdl:input name="getComponentsRequest" message="impl:getComponentsRequest">
				<wsdl:documentation>Request message (uses base:getComponentsRequest element): This message has no parameters.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="getComponentsResponse" message="impl:getComponentsResponse">
				<wsdl:documentation>Response message (uses base:getComponentsResponse element): Lists the details of each component that is registered on the system.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="lookupQueryByTag">
			<wsdl:documentation>List the details for a particular query (identified by its tag). This operation can be used to obtain the guid for a registered query. The executeRegisteredGenericQuery operation executes faster if the query is identified using its guid rather than its tag.</wsdl:documentation>
			<wsdl:input name="lookupQueryByTagRequest" message="impl:lookupQueryByTagRequest">
				<wsdl:documentation>Request message (uses base:lookupQueryByTagRequest element): Specifies the tag to be used to look up the query.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="lookupQueryByTagResponse" message="impl:lookupQueryByTagResponse">
				<wsdl:documentation>Response message (uses base:lookupQueryByTagResponse element): Lists the details of the specified query, including its identifier.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="QueryNotFoundFault" message="impl:queryNotFoundFault">
				<wsdl:documentation>Error message (uses ex:QueryNotFoundFault element): No registered query was found matching the specified tag.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:invalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="EventCollectorUpdateService">
		<wsdl:documentation>**PRIVATE API - Reserved for internal use**</wsdl:documentation>
		<wsdl:operation name="registerComponent">
			<wsdl:documentation>Register a component with the Event Collector database.</wsdl:documentation>
			<wsdl:input name="registerComponentRequest" message="impl:registerComponentRequest"/>
			<wsdl:output name="registerComponentResponse" message="impl:registerComponentResponse"/>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault"/>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault"/>
			<wsdl:fault name="DuplicateRegistrationFault" message="impl:duplicateRegistrationFault"/>
		</wsdl:operation>
		<wsdl:operation name="registerAttributes">
			<wsdl:documentation>Register attributes with the Event Collector database.</wsdl:documentation>
			<wsdl:input name="registerAttributesRequest" message="impl:registerAttributesRequest"/>
			<wsdl:output name="registerAttributesResponse" message="impl:registerAttributesResponse"/>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault"/>
			<wsdl:fault name="NoSuchComponentFault" message="impl:noSuchComponentFault"/>
			<wsdl:fault name="DuplicateRegistrationFault" message="impl:duplicateRegistrationFault"/>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault"/>
		</wsdl:operation>
		<wsdl:operation name="errorEvent">
			<wsdl:documentation>Submit an error event to the Event Collector database. (The event requires the component and attributes used to have been previously registered with Event Collector.)</wsdl:documentation>
			<wsdl:input name="errorEventRequest" message="impl:eventRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="EventCollectorAuditService">
		<wsdl:documentation>**PRIVATE API - Reserved for internal use**</wsdl:documentation>
		<wsdl:operation name="event">
			<wsdl:documentation>Submit an event to the Event Collector database. (The event requires the component and attributes used to have been previously registered with Event Collector.)</wsdl:documentation>
			<wsdl:input name="eventRequest" message="impl:eventRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="EventCollectorMeasuresService">
		<wsdl:documentation>Get measures information stored by the Event Collector database tables about process templates or work items.</wsdl:documentation>
		<wsdl:operation name="requestMeasure">
			<wsdl:documentation>Request the specified measure from the Event Collector database tables.</wsdl:documentation>
			<wsdl:input name="requestMeasureRequest" message="impl:requestMeasureRequest">
				<wsdl:documentation>Request message (uses base:requestMeasureRequest element): Specifies the measure types and ID(s) for which a measure is to be returned, the duration to be measured and whether data consolidation is required.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="requestMeasureResponse" message="impl:requestMeasureResponse">
				<wsdl:documentation>Response message (uses base:requestMeasureResponse element): Returns the requested measure(s).</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestGenericMeasure">
			<wsdl:documentation>Request the specified generic measure from the Event Collector database tables.</wsdl:documentation>
			<wsdl:input name="requestGenericMeasureRequest" message="impl:requestGenericMeasureRequest">
				<wsdl:documentation>Request message (uses base:requestGenericMeasureRequest element): Request message (uses base:requestMeasureRequest element): Specifies the measure types and ID(s) for which a measure is to be returned, the duration to be measured and whether data consolidation is required.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="requestGenericMeasureResponse" message="impl:requestGenericMeasureResponse">
				<wsdl:documentation>Response message (uses base:requestGenericMeasureResponse element): Returns the requested measure(s).</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestProcessDurationMeasure">
			<wsdl:documentation>Request a process duration measure from the Event Collector database tables.</wsdl:documentation>
			<wsdl:input name="requestProcessDurationMeasureRequest" message="impl:requestProcessDurationMeasureRequest">
				<wsdl:documentation>Request message (uses base:requestProcessDurationMeasureRequest element): Specifies the process template ID(s) for which a process duration measure is to be returned, the duration to be measured and whether data consolidation is required.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="requestProcessDurationMeasureResponse" message="impl:requestProcessDurationMeasureResponse">
				<wsdl:documentation>Response message (uses base:requestProcessDurationMeasureResponse element): Returns the requested measure(s).</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestProcessTemplateMeasure">
			<wsdl:documentation>Request a process template  measure from the Event Collector database tables.</wsdl:documentation>
			<wsdl:input name="requestProcessTemplateMeasureRequest" message="impl:requestProcessTemplateMeasureRequest">
				<wsdl:documentation>Request message (uses base:requestProcessTemplateMeasureRequest element): Specifies the process template ID(s) for which a process template measure is to be returned, the duration to be measured and whether data consolidation is required.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="requestProcessTemplateMeasureResponse" message="impl:requestProcessTemplateMeasureResponse">
				<wsdl:documentation>Response message (uses base:requestProcessTemplateMeasureResponse element): Returns the requested measure(s).</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestWorkItemPerformanceForTemplate">
			<wsdl:documentation>Request a work item performance measure for a process template from the Event Collector database tables.</wsdl:documentation>
			<wsdl:input name="requestWorkItemPerformanceForTemplateRequest" message="impl:requestWorkItemPerformanceForTemplateRequest">
				<wsdl:documentation>Request message (uses base:requestWorkItemPerformanceForTemplateRequest element): Specifies the process template ID(s) for which a work item performance measure is to be returned, the duration to be measured and whether data consolidation is required.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="requestWorkItemPerformanceForTemplateResponse" message="impl:requestWorkItemPerformanceForTemplateResponse">
				<wsdl:documentation>Response message (uses base:requestWorkItemPerformanceForTemplateResponse element): Returns the requested measure(s).</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestWorkItemPerformanceForResource">
			<wsdl:documentation>Request a work item performance measure for a resource from the Event Collector database tables.</wsdl:documentation>
			<wsdl:input name="requestWorkItemPerformanceForResourceRequest" message="impl:requestWorkItemPerformanceForResourceRequest">
				<wsdl:documentation>Request message (uses base:requestWorkItemPerformanceForResourceRequest element): Specifies the resource ID(s) for which a work item performance measure is to be returned, the duration to be measured and whether data consolidation is required.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="requestWorkItemPerformanceForResourceResponse" message="impl:requestWorkItemPerformanceForResourceResponse">
				<wsdl:documentation>Response message (uses base:requestWorkItemPerformanceForResourceResponse element): Returns the requested measure(s).</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault" message="impl:invalidRequestFault">
				<wsdl:documentation>Error message (uses ex:InvalidRequestFault element): The request was invalid and so could not be executed.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EventCollectorQueryService_EP" type="impl:EventCollectorQueryService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="executeQuery">
			<soap:operation soapAction="executeQuery" style="document"/>
			<wsdl:input name="executeQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="executeQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryFault">
				<soap:fault name="InvalidQueryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryExecutionFault">
				<soap:fault name="QueryExecutionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="executeGenericQuery">
			<soap:operation soapAction="executeGenericQuery" style="document"/>
			<wsdl:input name="executeGenericQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="executeGenericQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryFault">
				<soap:fault name="InvalidQueryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryExecutionFault">
				<soap:fault name="QueryExecutionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="executeRegisteredQuery">
			<soap:operation soapAction="executeRegisteredQuery" style="document"/>
			<wsdl:input name="executeRegisteredQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="executeRegisteredQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryNotFoundFault">
				<soap:fault name="QueryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryIdentifierFault">
				<soap:fault name="InvalidQueryIdentifierFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryExecutionFault">
				<soap:fault name="QueryExecutionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="executeRegisteredGenericQuery">
			<soap:operation soapAction="executeRegisteredGenericQuery" style="document"/>
			<wsdl:input name="executeRegisteredGenericQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="executeRegisteredGenericQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryNotFoundFault">
				<soap:fault name="QueryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryIdentifierFault">
				<soap:fault name="InvalidQueryIdentifierFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryExecutionFault">
				<soap:fault name="QueryExecutionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAllAttributes">
			<soap:operation soapAction="getAllAttributes" style="document"/>
			<wsdl:input name="getAllAttributesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttributes">
			<soap:operation soapAction="getAttributes" style="document"/>
			<wsdl:input name="getAttributesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="NoSuchComponentFault">
				<soap:fault name="NoSuchComponentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isQueryRegistered">
			<soap:operation soapAction="isQueryRegistered" style="document"/>
			<wsdl:input name="isQueryRegisteredRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="isQueryRegisteredResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryIdentifierFault">
				<soap:fault name="InvalidQueryIdentifierFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="registerQuery">
			<soap:operation soapAction="registerQuery" style="document"/>
			<wsdl:input name="registerQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="registerQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryFault">
				<soap:fault name="InvalidQueryFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateRegistrationFault">
				<soap:fault name="DuplicateRegistrationFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="unRegisterQuery">
			<soap:operation soapAction="unRegisterQuery" style="document"/>
			<wsdl:input name="unRegisterQueryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="unRegisterQueryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryNotFoundFault">
				<soap:fault name="QueryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidQueryIdentifierFault">
				<soap:fault name="InvalidQueryIdentifierFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getComponents">
			<soap:operation soapAction="getComponents" style="document"/>
			<wsdl:input name="getComponentsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComponentsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="lookupQueryByTag">
			<soap:operation soapAction="lookupQueryByTag" style="document"/>
			<wsdl:input name="lookupQueryByTagRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="lookupQueryByTagResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="QueryNotFoundFault">
				<soap:fault name="QueryNotFoundFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="EventCollectorUpdateService_EP" type="impl:EventCollectorUpdateService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="registerComponent">
			<soap:operation soapAction="registerComponent"/>
			<wsdl:input name="registerComponentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="registerComponentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateRegistrationFault">
				<soap:fault name="DuplicateRegistrationFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="registerAttributes">
			<soap:operation soapAction="registerAttributes"/>
			<wsdl:input name="registerAttributesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="registerAttributesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="NoSuchComponentFault">
				<soap:fault name="NoSuchComponentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="DuplicateRegistrationFault">
				<soap:fault name="DuplicateRegistrationFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="errorEvent">
			<soap:operation soapAction="errorEvent"/>
			<wsdl:input name="errorEventRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="EventCollectorAuditService_EP" type="impl:EventCollectorAuditService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="event">
			<soap:operation soapAction="event"/>
			<wsdl:input name="eventRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="EventCollectorMeasuresService_EP" type="impl:EventCollectorMeasuresService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="requestMeasure">
			<soap:operation soapAction="requestMeasure"/>
			<wsdl:input name="requestMeasureRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="requestMeasureResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestGenericMeasure">
			<soap:operation soapAction="requestGenericMeasure"/>
			<wsdl:input name="requestGenericMeasureRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="requestGenericMeasureResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestProcessDurationMeasure">
			<soap:operation soapAction="requestProcessDurationMeasure"/>
			<wsdl:input name="requestProcessDurationMeasureRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="requestProcessDurationMeasureResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestProcessTemplateMeasure">
			<soap:operation soapAction="requestProcessTemplateMeasure"/>
			<wsdl:input name="requestProcessTemplateMeasureRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="requestProcessTemplateMeasureResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestWorkItemPerformanceForTemplate">
			<soap:operation soapAction="requestWorkItemPerformanceForTemplate"/>
			<wsdl:input name="requestWorkItemPerformanceForTemplateRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="requestWorkItemPerformanceForTemplateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="requestWorkItemPerformanceForResource">
			<soap:operation soapAction="requestWorkItemPerformanceForResource"/>
			<wsdl:input name="requestWorkItemPerformanceForResourceRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="requestWorkItemPerformanceForResourceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidRequestFault">
				<soap:fault name="InvalidRequestFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EventCollectorQueryService">
		<wsdl:port name="EventCollectorQueryService_EP" binding="impl:EventCollectorQueryService_EP">
			<soap:address location="http://localhost:8080/amxbpm/EventCollectorQueryService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="EventCollectorMeasuresService">
		<wsdl:port name="EventCollectorMeasuresService_EP" binding="impl:EventCollectorMeasuresService_EP">
			<soap:address location="http://localhost:8080/amxbpm/EventCollectorMeasuresService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="EventCollectorUpdateService">
		<wsdl:port name="EventCollectorUpdateService_EP" binding="impl:EventCollectorUpdateService_EP">
			<soap:address location="http://localhost:8080/amxbpm/EventCollectorUpdateService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="EventCollectorAuditService">
		<wsdl:port name="EventCollectorAuditService_EP" binding="impl:EventCollectorAuditService_EP">
			<soap:address location="http://localhost:8080/amxbpm/EventCollectorAuditService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
