tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-final/XSDBOM_Final01_Single.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema"
	xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

	<element name="topElemAll" type="string" final="#all"></element>
	<complexType name="myComplexAll" final="#all">
		<sequence>
		</sequence>
	</complexType>
	<simpleType name="topSimpleAll" final="#all">
		<restriction base="string"></restriction>
	</simpleType>

	<element name="topElemRest" type="string" final="restriction"></element>
	<complexType name="myComplexRest" final="restriction">
		<sequence>
		</sequence>
	</complexType>
	<simpleType name="topSimpleRest" final="restriction">
		<restriction base="string"></restriction>
	</simpleType>

	<element name="topElemExtension" type="string" final="extension"></element>
	<complexType name="myComplexExtension" final="extension">
		<sequence>
		</sequence>
	</complexType>
	
	<simpleType name="topSimpleUnion" final="union">
		<restriction base="string"></restriction>
	</simpleType>
	<simpleType name="topSimpleList" final="list">
		<restriction base="string"></restriction>
	</simpleType>

</schema>