tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.sce.n2.mappings.validation.test/resources/OptionalAttribMarkerShownTest/testProject/Service Descriptors/MyWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/MyWsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyWsdl" targetNamespace="http://www.example.org/MyWsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/MyWsdl/">
        <xsd:complexType name="Type1">
        	<xsd:sequence>
        		<xsd:element name="Type1element1" type="tns:CType1" />
        		<xsd:element name="InheritedType"
        			type="tns:InheritedTypeType" minOccurs="0">
        		</xsd:element>
        		<xsd:element name="OptionalElement"
        			type="tns:OptionalElementType" minOccurs="0">
        		</xsd:element>
        		<xsd:element name="requiredstrElement"
        			type="xsd:string">
        		</xsd:element>
        		<xsd:element name="optionalStrELement" type="xsd:string"
        			minOccurs="0">
        		</xsd:element>
        	</xsd:sequence>
        	<xsd:attribute name="reqdAttrib" type="xsd:string" use="required"></xsd:attribute>
        </xsd:complexType>
        <xsd:complexType name="Type2">
         <xsd:sequence>
        		<xsd:element name="Type1element1" type="tns:CType1" />
        		<xsd:element name="InheritedType"
        			type="tns:InheritedTypeType" minOccurs="0">
        		</xsd:element>
        		<xsd:element name="OptionalElement"
        			type="tns:OptionalElementType" minOccurs="0">
        		</xsd:element>
        		<xsd:element name="requiredstrElement"
        			type="xsd:string">
        		</xsd:element>
        		<xsd:element name="optionalStrELement" type="xsd:string"
        			minOccurs="0">
        		</xsd:element>
        	</xsd:sequence>
        	<xsd:attribute name="reqdAttrib" type="xsd:string" use="required"></xsd:attribute>
        </xsd:complexType>
    
        <xsd:complexType name="CType1">
        	<xsd:sequence>
        		<xsd:element name="optionalelem1" type="xsd:string"
        			minOccurs="0">
        		</xsd:element>
        		<xsd:element name="requiredElement" type="xsd:string"></xsd:element>
        	</xsd:sequence>
        	<xsd:attribute name="cType1Attrib1" type="xsd:string"></xsd:attribute>
        </xsd:complexType>

        <xsd:complexType name="InheritedTypeType">

        	<xsd:simpleContent>
        		<xsd:extension base="xsd:int">
        			<xsd:attribute name="NewAttribute"
        				type="xsd:string">
        			</xsd:attribute>
        		</xsd:extension>
        	</xsd:simpleContent>
        </xsd:complexType>

        <xsd:complexType name="OptionalElementType">
        	<xsd:sequence>
        		<xsd:element name="requiredElement" type="xsd:string"></xsd:element>
        		<xsd:element name="optionalElem" type="xsd:string"
        			minOccurs="0">
        		</xsd:element>
        	</xsd:sequence>
        	<xsd:attribute name="reqdAttrib" type="xsd:string"
        		use="required">
        	</xsd:attribute>
        	<xsd:attribute name="optionalAttrib" type="xsd:string"></xsd:attribute>
        </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part type="tns:Type1" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part type="tns:Type2" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="MyWsdl">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWsdlSOAP" type="tns:MyWsdl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/MyWsdl/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWsdl">
    <wsdl:port binding="tns:MyWsdlSOAP" name="MyWsdlSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
