tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDL-AMXBPM-API/WSDL02/services/dac.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (x64) (http://www.altova.com) by Paul Raby (Tibco Software Ltd) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://services.dac.n2.tibco.com" xmlns:calendar="http://calendar.api.dac.n2.tibco.com" xmlns:deadline="http://deadline.api.dac.n2.tibco.com" xmlns:ex="http://exception.api.dac.n2.tibco.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:dac="http://api.dac.n2.tibco.com" xmlns:comex="http://exception.api.common.n2.tibco.com" name="CalendarService" targetNamespace="http://services.dac.n2.tibco.com">
	<wsdl:types>
		<xs:schema targetNamespace="http://calendar.api.dac.n2.tibco.com">
			<xs:include schemaLocation="dac-calendar-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://deadline.api.dac.n2.tibco.com">
			<xs:include schemaLocation="dac-deadline-service.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://exception.api.dac.n2.tibco.com">
			<xs:include schemaLocation="dac-exception.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getCalendarEntriesRequest">
		<wsdl:part name="parameters" element="calendar:getCalendarEntries"/>
	</wsdl:message>
	<wsdl:message name="getCalendarEntriesResponse">
		<wsdl:part name="response" element="calendar:getCalendarEntriesResponse"/>
	</wsdl:message>
	<wsdl:message name="updateWorkingDaysRequest">
		<wsdl:part name="parameters" element="calendar:updateWorkingDays"/>
	</wsdl:message>
	<wsdl:message name="updateWorkingDaysResponse">
		<wsdl:part name="response" element="calendar:updateWorkingDaysResponse"/>
	</wsdl:message>
	<wsdl:message name="updateWorkingDayExceptionsRequest">
		<wsdl:part name="parameters" element="calendar:updateWorkingDayExceptions"/>
	</wsdl:message>
	<wsdl:message name="updateWorkingDayExceptionsResponse">
		<wsdl:part name="response" element="calendar:updateWorkingDayExceptionsResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteWorkingDayExceptionsRequest">
		<wsdl:part name="parameters" element="calendar:deleteWorkingDayExceptions"/>
	</wsdl:message>
	<wsdl:message name="deleteWorkingDayExceptionsResponse">
		<wsdl:part name="response" element="calendar:deleteWorkingDayExceptionsResponse"/>
	</wsdl:message>
	<wsdl:message name="calcBusinessDeadlineRequest">
		<wsdl:part name="parameters" element="deadline:calcBusinessDeadline"/>
	</wsdl:message>
	<wsdl:message name="calcBusinessDeadlineResponse">
		<wsdl:part name="response" element="deadline:calcBusinessDeadlineResponse"/>
	</wsdl:message>
	<wsdl:message name="calendarFault">
		<wsdl:part name="calendarFault" element="ex:CalendarFault"/>
	</wsdl:message>
	<wsdl:message name="securityFault">
		<wsdl:part name="securityFault" element="ex:SecurityFault"/>
	</wsdl:message>
	<wsdl:message name="deadlineFault">
		<wsdl:part name="deadlineFault" element="ex:DeadlineFault"/>
	</wsdl:message>
	<wsdl:message name="addWorkingDayExceptionsRequest">
		<wsdl:part name="parameters" element="calendar:addWorkingDayExceptions"/>
	</wsdl:message>
	<wsdl:message name="addWorkingDayExceptionsResponse">
		<wsdl:part name="parameters" element="calendar:addWorkingDayExceptionsResponse"/>
	</wsdl:message>
	<wsdl:portType name="CalendarService">
		<wsdl:documentation>Get information about and configure working time for a given entity.</wsdl:documentation>
		<wsdl:operation name="getCalendarEntries" parameterOrder="parameters">
			<wsdl:documentation>Get the working time for a given entity.</wsdl:documentation>
			<wsdl:input name="getCalendarEntriesRequest" message="impl:getCalendarEntriesRequest">
				<wsdl:documentation>Request message (uses calendar:getCalendarEntries element): Identifies the GUID for which working time details are required with an optional filter on the response to be provided.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="getCalendarEntriesResponse" message="impl:getCalendarEntriesResponse">
				<wsdl:documentation>Response message (uses calendar:getCalendarEntriesResponse element): Contains a complete description of working time for the specified entity.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="CalendarFault" message="impl:calendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault" message="impl:securityFault">
				<wsdl:documentation>Error message (uses comex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateWorkingDays" parameterOrder="parameters">
			<wsdl:documentation>Update the working days for a given entity.</wsdl:documentation>
			<wsdl:input name="updateWorkingDaysRequest" message="impl:updateWorkingDaysRequest">
				<wsdl:documentation>Request message (uses calendar:updateWorkingDays element): Identifies the GUID for which working day details are to be modified and the changed working day information.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="updateWorkingDaysResponse" message="impl:updateWorkingDaysResponse">
				<wsdl:documentation>Response message (uses calendar:updateWorkingDaysResponse element): Contains a confirmation that the request was successful.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="CalendarFault" message="impl:calendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault" message="impl:securityFault">
				<wsdl:documentation>Error message (uses comex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addWorkingDayExceptions" parameterOrder="parameters">
			<wsdl:documentation>Add working day exceptions for a given entity.</wsdl:documentation>
			<wsdl:input name="addWorkingDayExceptionsRequest" message="impl:addWorkingDayExceptionsRequest">
				<wsdl:documentation>Request message (uses calendar:addWorkingDayExceptions element): Identifies the GUID for which working day exception details are to be created and the new working day exception information.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="addWorkingDayExceptionsResponse" message="impl:addWorkingDayExceptionsResponse">
				<wsdl:documentation>Response message (uses calendar:addWorkingDayExceptionsResponse element): Contains a list of GUIDs for each newly created working day exception.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="CalendarFault" message="impl:calendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault" message="impl:securityFault">
				<wsdl:documentation>Error message (uses comex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateWorkingDayExceptions" parameterOrder="parameters">
			<wsdl:documentation>Update working day exceptions for a given entity.</wsdl:documentation>
			<wsdl:input name="updateWorkingDayExceptionsRequest" message="impl:updateWorkingDayExceptionsRequest">
				<wsdl:documentation>Request message (uses calendar:updateWorkingDayExceptions element): Identifies the GUID for which working day exception details are to be modified and the updated working day exception information.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="updateWorkingDayExceptionsResponse" message="impl:updateWorkingDayExceptionsResponse">
				<wsdl:documentation>Response message (uses calendar:updateWorkingDayExceptionsResponse element): Contains a confirmation that the request was successful.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="CalendarFault" message="impl:calendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault" message="impl:securityFault">
				<wsdl:documentation>Error message (uses comex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteWorkingDayExceptions" parameterOrder="parameters">
			<wsdl:documentation>Delete working day exceptions for a given entity.</wsdl:documentation>
			<wsdl:input name="deleteWorkingDayExceptionsRequest" message="impl:deleteWorkingDayExceptionsRequest">
				<wsdl:documentation>Request message (uses calendar:deleteWorkingDayExceptions element): Identifies the GUID for which working day exception details are to be removed and the GUIDs identifying those exceptions.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="deleteWorkingDayExceptionsResponse" message="impl:deleteWorkingDayExceptionsResponse">
				<wsdl:documentation>Response message (uses calendar:deleteWorkingDayExceptionsResponse element): Contains a confirmation that the request was successful.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="CalendarFault" message="impl:calendarFault">
				<wsdl:documentation>Error message (uses ex:CalendarFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault" message="impl:securityFault">
				<wsdl:documentation>Error message (uses comex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BusinessDeadlineService">
		<wsdl:documentation>Calculate the business deadline based on a given entity's calendar.</wsdl:documentation>
		<wsdl:operation name="calcBusinessDeadline" parameterOrder="parameters">
			<wsdl:documentation>Calculate the business deadline based on the working time for a given entity.</wsdl:documentation>
			<wsdl:input name="calcBusinessDeadlineRequest" message="impl:calcBusinessDeadlineRequest">
				<wsdl:documentation>Request message (uses deadline:calcBusinessDeadline element): Identifies the GUID for which working day details are to be used to calculate the deadline along with the start and duration of the requested task.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="calcBusinessDeadlineResponse" message="impl:calcBusinessDeadlineResponse">
				<wsdl:documentation>Response message (uses deadline:calcBusinessDeadlineResponse element): Contains the calculated end date based on the specified calendar's working time.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="DeadlineFault" message="impl:deadlineFault">
				<wsdl:documentation>Error message (uses ex:DeadlineFault): The request could not be processed either due to a badly formed request or invalid working time informaiton.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault" message="impl:securityFault">
				<wsdl:documentation>Error message (uses comex:SecurityFault): The request failed due to authentication or authorisation failure.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalendarService_EP" type="impl:CalendarService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCalendarEntries">
			<soap:operation soapAction="getCalendarEntries" style="document"/>
			<wsdl:input name="getCalendarEntriesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCalendarEntriesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateWorkingDays">
			<soap:operation soapAction="updateWorkingDays" style="document"/>
			<wsdl:input name="updateWorkingDaysRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateWorkingDaysResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addWorkingDayExceptions">
			<soap:operation soapAction="addWorkingDayExceptions" style="document"/>
			<wsdl:input name="addWorkingDayExceptionsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addWorkingDayExceptionsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateWorkingDayExceptions">
			<soap:operation soapAction="updateWorkingDayExceptions" style="document"/>
			<wsdl:input name="updateWorkingDayExceptionsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateWorkingDayExceptionsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteWorkingDayExceptions">
			<soap:operation soapAction="deleteWorkingDayExceptions" style="document"/>
			<wsdl:input name="deleteWorkingDayExceptionsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteWorkingDayExceptionsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CalendarFault">
				<soap:fault name="CalendarFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BusinessDeadlineService_EP" type="impl:BusinessDeadlineService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="calcBusinessDeadline">
			<soap:operation soapAction="calcBusinessDeadline" style="document"/>
			<wsdl:input name="calcBusinessDeadlineRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="calcBusinessDeadlineResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DeadlineFault">
				<soap:fault name="DeadlineFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalendarService">
		<wsdl:port name="CalendarService_EP" binding="impl:CalendarService_EP">
			<soap:address location="http://localhost:8080/amxbpm/CalendarService"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="BusinessDeadlineService">
		<wsdl:port name="BusinessDeadlineService_EP" binding="impl:BusinessDeadlineService_EP">
			<soap:address location="http://localhost:8080/amxbpm/BusinessDeadlineService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
