tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM43_BomGenFor_brm_wsdl/gold/builder/com.tibco.n2.brm.api.exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://exception.api.brm.n2.tibco.com" xmlns:tns5="http://exception.api.brm.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns4="http://exception.api.common.n2.tibco.com"
    xmlns:tns6="http://datamodel.common.n2.tibco.com" xmlns:tns8="http://api.brm.n2.tibco.com"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://exception.api.brm.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.brm.api.exception.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://exception.api.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.api.exception.xsd"/>
  <xsd:import namespace="http://api.brm.n2.tibco.com" schemaLocation="com.tibco.n2.brm.api.xsd"/>
  <xsd:import namespace="http://datamodel.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.datamodel.xsd"/>
  <xsd:element abstract="false" name="InvalidWorkTypeFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="InvalidWorkGroupFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="InvalidVersionFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="WorkGroupFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="WorkItemFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="InvalidWorkItemFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="WorkTypeFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="InvalidEntityFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="InternalServiceFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="WorkItemOrderFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="WorkItemFilterFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="InvalidWorkModelFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="NotificationFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="OpenWorkItemLimitFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="ReadOnlyAttributeFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="NoMoreWorkItemsFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="DeploymentParameterFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="WorkItemAPIScriptCancelFault" nillable="false"
      type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="InvalidWorkViewFault" nillable="false" type="tns4:DetailedException"/>
  <xsd:element abstract="false" name="WorkItemRescheduledFault" nillable="false">
    <xsd:complexType ecore:name="WorkItemRescheduledFaultType">
      <xsd:complexContent mixed="false">
        <xsd:extension base="tns4:DetailedException">
          <xsd:sequence>
            <xsd:element ecore:name="managedObjectId" id="WorkItemRescheduledFaultTypemanagedObjectId"
                maxOccurs="1" minOccurs="1" name="managedObjectId" type="tns8:ManagedObjectID"/>
            <xsd:element ecore:name="dataModel" id="WorkItemRescheduledFaultTypedataModel"
                maxOccurs="1" minOccurs="0" name="dataModel" type="tns6:DataModel"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>