tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.wsdlgen.test/resources/EnumValuesTest/Service Descriptors/EnumValuesTestGOLD.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_eqb0ABsREd-pvJl4oHrNMg" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessPackage" targetNamespace="http://www.tibco.com/bs3.0/_eqb0ABsREd-pvJl4oHrNMg" tibex:XPDL="EnumValuesTest.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_eqb0ABsREd-pvJl4oHrNMg" targetNamespace="http://www.tibco.com/bs3.0/_eqb0ABsREd-pvJl4oHrNMg">
      <xsd:simpleType name="dateTime_ProcessPackageProcess_DateTimeWithAllowedVals">
        <xsd:restriction base="xsd:dateTime">
          <xsd:enumeration value="2010-02-17T13:46:00.000Z"/>
          <xsd:enumeration value="2010-03-13T14:31:00.000Z"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="boolean">
        <xsd:restriction base="xsd:boolean"/>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:date"/>
      </xsd:simpleType>
      <xsd:simpleType name="date_ProcessPackageProcess_dateParamWithAllowedVals">
        <xsd:restriction base="xsd:date">
          <xsd:enumeration value="2010-02-16"/>
          <xsd:enumeration value="2010-02-17"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="dateTime">
        <xsd:restriction base="xsd:dateTime"/>
      </xsd:simpleType>
      <xsd:simpleType name="decimal__">
        <xsd:restriction base="xsd:decimal"/>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10_ProcessPackageProcess_int11AllowedValues">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
          <xsd:enumeration value="7777"/>
          <xsd:enumeration value="844444"/>
          <xsd:enumeration value="2344"/>
          <xsd:enumeration value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="integer_25">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="25"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10_ProcessPackageProcess_integerWithAllowedValues">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
          <xsd:enumeration value="2"/>
          <xsd:enumeration value="3"/>
          <xsd:enumeration value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:simpleType name="time_ProcessPackageProcess_timeParamWithAllowedVals">
        <xsd:restriction base="xsd:time">
          <xsd:enumeration value="13:57:00"/>
          <xsd:enumeration value="16:40:00"/>
          <xsd:enumeration value="11:40:00"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string_60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal___ProcessPackageProcess_DecimalWithAllwoedValues">
        <xsd:restriction base="xsd:decimal">
          <xsd:enumeration value="3.4"/>
          <xsd:enumeration value="6.6"/>
          <xsd:enumeration value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:time"/>
      </xsd:simpleType>
      <xsd:simpleType name="dateTime_EnumTestIfc_DateTimeWithAllowedVals">
        <xsd:restriction base="xsd:dateTime">
          <xsd:enumeration value="2010-02-17T13:46:00.000Z"/>
          <xsd:enumeration value="2010-03-13T14:31:00.000Z"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date_EnumTestIfc_dateParamWithAllowedVals">
        <xsd:restriction base="xsd:date">
          <xsd:enumeration value="2010-02-16"/>
          <xsd:enumeration value="2010-02-17"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10_EnumTestIfc_int11AllowedValues">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
          <xsd:enumeration value="7777"/>
          <xsd:enumeration value="844444"/>
          <xsd:enumeration value="2344"/>
          <xsd:enumeration value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10_EnumTestIfc_integerWithAllowedValues">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
          <xsd:enumeration value="2"/>
          <xsd:enumeration value="3"/>
          <xsd:enumeration value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time_EnumTestIfc_timeParamWithAllowedVals">
        <xsd:restriction base="xsd:time">
          <xsd:enumeration value="13:57:00"/>
          <xsd:enumeration value="16:40:00"/>
          <xsd:enumeration value="11:40:00"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal___EnumTestIfc_DecimalWithAllwoedValues">
        <xsd:restriction base="xsd:decimal">
          <xsd:enumeration value="3.4"/>
          <xsd:enumeration value="6.6"/>
          <xsd:enumeration value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EnumTestIfc_IntermediateMsg_INPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_EnumTestIfc_DateTimeWithAllowedVals"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_EnumTestIfc_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_EnumTestIfc_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_EnumTestIfc_integerWithAllowedValues"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamWithAllowedVals" type="ns:time_EnumTestIfc_timeParamWithAllowedVals"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="EnumTestIfc_IntermediateMsg_OUTPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_EnumTestIfc_DateTimeWithAllowedVals"/>
    <wsdl:part name="DecimalWithAllwoedValues" type="ns:decimal___EnumTestIfc_DecimalWithAllwoedValues"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_EnumTestIfc_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_EnumTestIfc_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_EnumTestIfc_integerWithAllowedValues"/>
    <wsdl:part name="integerWithoutAllowedValues" type="ns:integer_10"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamNoAllowedValues" type="ns:time"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="EnumTestIfc_StartMsg_INPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_EnumTestIfc_DateTimeWithAllowedVals"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_EnumTestIfc_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_EnumTestIfc_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_EnumTestIfc_integerWithAllowedValues"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamWithAllowedVals" type="ns:time_EnumTestIfc_timeParamWithAllowedVals"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="EnumTestIfc_StartMsg_OUTPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_EnumTestIfc_DateTimeWithAllowedVals"/>
    <wsdl:part name="DecimalWithAllwoedValues" type="ns:decimal___EnumTestIfc_DecimalWithAllwoedValues"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_EnumTestIfc_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_EnumTestIfc_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_EnumTestIfc_integerWithAllowedValues"/>
    <wsdl:part name="integerWithoutAllowedValues" type="ns:integer_10"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamNoAllowedValues" type="ns:time"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="EnumTestIfc_StartMsg_StartMsgError_fault">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_EnumTestIfc_DateTimeWithAllowedVals"/>
    <wsdl:part name="DecimalWithAllwoedValues" type="ns:decimal___EnumTestIfc_DecimalWithAllwoedValues"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_EnumTestIfc_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_EnumTestIfc_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_EnumTestIfc_integerWithAllowedValues"/>
    <wsdl:part name="integerWithoutAllowedValues" type="ns:integer_10"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamNoAllowedValues" type="ns:time"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_ReceiveTask_INPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamWithAllowedVals" type="ns:time_ProcessPackageProcess_timeParamWithAllowedVals"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_ReceiveTask_OUTPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="DecimalWithAllwoedValues" type="ns:decimal___ProcessPackageProcess_DecimalWithAllwoedValues"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="integerWithoutAllowedValues" type="ns:integer_10"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamNoAllowedValues" type="ns:time"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_StartMessageEvent2_Error1_fault">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="DecimalWithAllwoedValues" type="ns:decimal___ProcessPackageProcess_DecimalWithAllwoedValues"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="integerWithoutAllowedValues" type="ns:integer_10"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamNoAllowedValues" type="ns:time"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_StartMessageEvent2_INPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamWithAllowedVals" type="ns:time_ProcessPackageProcess_timeParamWithAllowedVals"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_StartMessageEvent2_OUTPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="DecimalWithAllwoedValues" type="ns:decimal___ProcessPackageProcess_DecimalWithAllwoedValues"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="integerWithoutAllowedValues" type="ns:integer_10"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamNoAllowedValues" type="ns:time"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_StartMessageEvent_INPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamWithAllowedVals" type="ns:time_ProcessPackageProcess_timeParamWithAllowedVals"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_StartMessageEvent_OUTPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="DecimalWithAllwoedValues" type="ns:decimal___ProcessPackageProcess_DecimalWithAllwoedValues"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="integerWithoutAllowedValues" type="ns:integer_10"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamNoAllowedValues" type="ns:time"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_StartNone_INPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamWithAllowedVals" type="ns:time_ProcessPackageProcess_timeParamWithAllowedVals"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:message name="ProcessPackageProcess_StartNone_OUTPUT">
    <wsdl:part name="DateTimeWithAllowedVals" type="ns:dateTime_ProcessPackageProcess_DateTimeWithAllowedVals"/>
    <wsdl:part name="DecimalWithAllwoedValues" type="ns:decimal___ProcessPackageProcess_DecimalWithAllwoedValues"/>
    <wsdl:part name="booleanValsWithAllowedVals" type="ns:boolean"/>
    <wsdl:part name="booleanWithoutAllowedVals" type="ns:boolean"/>
    <wsdl:part name="dateParamNoAllowedValues" type="ns:date"/>
    <wsdl:part name="dateParamWithAllowedVals" type="ns:date_ProcessPackageProcess_dateParamWithAllowedVals"/>
    <wsdl:part name="dateTimeNOAllowedValues" type="ns:dateTime"/>
    <wsdl:part name="decimalWithNoAllowedVals" type="ns:decimal__"/>
    <wsdl:part name="int11AllowedValues" type="ns:integer_10_ProcessPackageProcess_int11AllowedValues"/>
    <wsdl:part name="integerWith25NoAllowedValues" type="ns:integer_25"/>
    <wsdl:part name="integerWithAllowedValues" type="ns:integer_10_ProcessPackageProcess_integerWithAllowedValues"/>
    <wsdl:part name="integerWithoutAllowedValues" type="ns:integer_10"/>
    <wsdl:part name="perfomerWtihNoAllowedValues" type="ns:string"/>
    <wsdl:part name="timeParamNoAllowedValues" type="ns:time"/>
    <wsdl:part name="txtWithAllowedVal" type="ns:string"/>
    <wsdl:part name="txtWithOutAllowedVals" type="ns:string_60"/>
  </wsdl:message>
  <wsdl:portType name="EnumTestIfc" tibex:FlowContainer="_E14a8CVQEd-bBL5El9QilQ">
    <wsdl:operation name="IntermediateMsg">
      <wsdl:input message="ns:EnumTestIfc_IntermediateMsg_INPUT" tibex:Event="_q4Wx4CVjEd-bBL5El9QilQ"/>
      <wsdl:output message="ns:EnumTestIfc_IntermediateMsg_OUTPUT" tibex:Event="_q4Wx4CVjEd-bBL5El9QilQ"/>
    </wsdl:operation>
    <wsdl:operation name="StartMsg">
      <wsdl:input message="ns:EnumTestIfc_StartMsg_INPUT" tibex:Event="_oZ81wCVjEd-bBL5El9QilQ"/>
      <wsdl:output message="ns:EnumTestIfc_StartMsg_OUTPUT" tibex:Event="_oZ81wCVjEd-bBL5El9QilQ"/>
      <wsdl:fault message="ns:EnumTestIfc_StartMsg_StartMsgError_fault" name="StartMsgError" tibex:Error="_5YGY8CVjEd-bBL5El9QilQ"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProcessPackageProcess" tibex:FlowContainer="_erVL4BsREd-pvJl4oHrNMg">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="ReceiveTask">
      <wsdl:input message="ns:ProcessPackageProcess_ReceiveTask_INPUT" tibex:Event="_odTIEBvIEd-SBo3Q9n2wQg"/>
      <wsdl:output message="ns:ProcessPackageProcess_ReceiveTask_OUTPUT" tibex:Event="_odTIEBvIEd-SBo3Q9n2wQg"/>
    </wsdl:operation>
    <wsdl:operation name="StartMessageEvent">
      <wsdl:input message="ns:ProcessPackageProcess_StartMessageEvent_INPUT" tibex:Event="_Ts3k4BuuEd-KZqpLIH-hEA"/>
      <wsdl:output message="ns:ProcessPackageProcess_StartMessageEvent_OUTPUT" tibex:Event="_Ts3k4BuuEd-KZqpLIH-hEA"/>
    </wsdl:operation>
    <wsdl:operation name="StartMessageEvent2">
      <wsdl:input message="ns:ProcessPackageProcess_StartMessageEvent2_INPUT" tibex:Event="_ID-WUCVKEd-bBL5El9QilQ"/>
      <wsdl:output message="ns:ProcessPackageProcess_StartMessageEvent2_OUTPUT" tibex:Event="_ID-WUCVKEd-bBL5El9QilQ"/>
      <wsdl:fault message="ns:ProcessPackageProcess_StartMessageEvent2_Error1_fault" name="Error1" tibex:Error="_LSXk8CVKEd-bBL5El9QilQ"/>
    </wsdl:operation>
    <wsdl:operation name="StartNone">
      <wsdl:input message="ns:ProcessPackageProcess_StartNone_INPUT" tibex:Event="_5Po_UCVJEd-bBL5El9QilQ"/>
      <wsdl:output message="ns:ProcessPackageProcess_StartNone_OUTPUT" tibex:Event="_5Po_UCVJEd-bBL5El9QilQ"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
