tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC8_02/Service Descriptors/Book_importedSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.amsbqa.com/Linda02/XSD1ImportXSD2/XSD2"
	 targetNamespace="http://www.amsbqa.com/Linda02/XSD1ImportXSD2/XSD2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="BookStore">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Book" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Book">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Title"/>
				<xsd:element ref="Author"/>
				<xsd:element ref="Date"/>
				<xsd:element ref="ISBN"/>
				<xsd:element ref="Publisher"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Title" type="xsd:string"/>
	<xsd:element name="Author" type="xsd:string"/>
	<xsd:element name="Date" type="xsd:string"/>
	<xsd:element name="ISBN" type="xsd:string"/>
	<xsd:element name="Publisher" type="xsd:string"/>
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Book"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>