tbs-bpm/bx-product/com.tibco.bx.designtime.debug.feature/plugins/com.tibco.bx.design.debug.http/wsdl/pageflow/pfe-common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Michael Atkins (Tibco Software Ltd) -->
<xs:schema xmlns="http://common.api.pfe.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:df="http://datafeed.common.n2.tibco.com" targetNamespace="http://common.api.pfe.n2.tibco.com" version="1.0">
	<xs:import namespace="http://datafeed.common.n2.tibco.com" schemaLocation="df-payload.xsd"/>
	
	<xs:complexType name="ActivityReference">
		<xs:annotation>
			<xs:documentation>Reference details of a page activity.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseActivityReference">
				<xs:attribute name="activityName" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Name of the page activity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="activityModelId" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Identity of the model associated with the page activity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="moduleName" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Name of the module associated with the page activity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="moduleVersion" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Version number of the module associated with the page activity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="processName" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Name of the pageflow process associated with the page activity.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseActivityReference">
		<xs:annotation>
			<xs:documentation>Unique identifier for an in-progress page activity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="activityId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>ID of the page activity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BaseProcessReference">
		<xs:annotation>
			<xs:documentation>Unique identifier for an instance of a pageflow or business process.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string">
				<xs:annotation>
					<xs:documentation>Unique ID of the process instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseTemplate">
		<xs:annotation>
			<xs:documentation>General definition of a pageflow process or business service.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="moduleName" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Module name that contains the pageflow process or business service.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="processName" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of the pageflow process or business service.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PageData">
		<xs:annotation>
			<xs:documentation>Complete data for the page.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pageReference" type="PageReference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference details for the page.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="payload" type="df:dataPayload">
				<xs:annotation>
					<xs:documentation>Data payload for the page.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListingRequest">
		<xs:annotation>
			<xs:documentation>Generic request description.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PagingAndSorting">
				<xs:sequence>
					<xs:element name="includeFormalParameters" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Boolean value defining whether the response should include items that have formal parameters.

If not specified the default value is FALSE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderFilterCriteria">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**

Specification of sort/filter criteria to be applied to a list.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="order" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>**PRIVATE API - Reserved for internal use**

Expression defining the sort criteria to be applied to the list. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>**PRIVATE API - Reserved for internal use**

Expression defining the filter criteria to be applied to the list. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PageFlowTemplate">
		<xs:annotation>
			<xs:documentation>Definition of a pageflow.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PFETemplate">
				<xs:attribute name="hasFormalParameters" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>Boolean value defining whether the pageflow contains formal parameters.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PageReference">
		<xs:annotation>
			<xs:documentation>Definition of an in-progress page reference.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ActivityReference"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PageResponse">
		<xs:annotation>
			<xs:documentation>Generic container for a business service or pageflow operation response.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="context" type="ResponseContext">
				<xs:annotation>
					<xs:documentation>Reference to a pageflow or business service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pageData" type="PageData" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Data for each page of the pageflow or business service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="executionState" type="ExecutionState">
			<xs:annotation>
				<xs:documentation>Enumerated value defining the current status of the pageflow or business service. One of the following values:

- NOT_STARTED: Unable to start.
- STARTED: Started successfully.
- IN_PROGRESS: In progress.
- COMPLETED: Successfully conpleted.
- UNKNOWN: Unknown status.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PagingAndSorting">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**

Paging and sorting parameters to enable clients to manipulate the size of a response into manageable chunks of data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderFilterCriteria" type="OrderFilterCriteria" minOccurs="0">
				<xs:annotation>
					<xs:documentation>**PRIVATE API - Reserved for internal use**

Specification of sort/filter criteria to be applied to the list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="startPosition" type="xs:long">
			<xs:annotation>
				<xs:documentation>**PRIVATE API - Reserved for internal use**

Position in the list from which to start this page.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberOfItems" type="xs:long">
			<xs:annotation>
				<xs:documentation>**PRIVATE API - Reserved for internal use**

Number of items (in the list) to include in this page.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="getTotalCount" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>**PRIVATE API - Reserved for internal use**

Boolean value defining whether the Page Flow Engine builds a count of the total number of items in the  list. (If 'false' the total is set to -1.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PFETemplate">
		<xs:annotation>
			<xs:documentation>Unique definition of a pageflow or business service.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseTemplate">
				<xs:attribute name="version" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Version of the process.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcessReference">
		<xs:annotation>
			<xs:documentation>Unique identifier for an in-progress process.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseProcessReference">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of the process.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseContext">
		<xs:annotation>
			<xs:documentation>Unique identifier for an in-progress pageflow or business service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pageFlowTemplate" type="PFETemplate">
				<xs:annotation>
					<xs:documentation>Description of the pageflow or business service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processReference" type="ProcessReference">
				<xs:annotation>
					<xs:documentation>Unique identifier for an in-progress pageflow or business service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExecutionState">
		<xs:annotation>
			<xs:documentation>Enumerated value defining the current status of the pageflow or business service. One of of:
NOT_STARTED: Unable to start.
STARTED: Started successfully.
IN_PROGRESS: In progress.
COMPLETED: Successfully conpleted.
UNKNOWN: Unknown status.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NOT_STARTED"/>
			<xs:enumeration value="STARTED"/>
			<xs:enumeration value="IN_PROGRESS"/>
			<xs:enumeration value="COMPLETED"/>
			<xs:enumeration value="UNKNOWN"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
