tbs-bpm/product/com.tibco.xpd.wm.feature/plugins/com.tibco.xpd.worklistfacade.model/model/WorkListFacade.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:wlf="http://www.tibco.com/XPD/workListFacade1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" ecore:nsPrefix="wlf" ecore:package="com.tibco.xpd.worklistfacade" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/XPD/workListFacade1.0.0">
  <xsd:element name="WorkListFacade" type="wlf:WorkListFacade"/>
  
  <xsd:complexType name="WorkListFacade">
      <xsd:sequence>
        <xsd:element name="WorkItemAttributes" type="wlf:WorkItemAttributes"/>                
      </xsd:sequence>      
      <xsd:attribute name="FormatVersion" type="xsd:integer"/>
  </xsd:complexType>
  
  <xsd:complexType name="WorkItemAttributes">
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkItemAttribute" type="wlf:WorkItemAttribute"/>                              
      </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name ="WorkItemAttribute" >
      <xsd:sequence>
        <xsd:element name="DisplayLabel" type="xsd:string"/>
        <xsd:element name="Name" type="xsd:string"/>
      </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>
