tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/11_xsd-attribute-group/XSDBOM_AttributeGroup01B_SimpleAttrGroup_ImportedSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM_AttributeGroup01B_SimpleAttrGroup_ImportedSchema"
	xmlns:tns="http://www.example.org/XSDBOM_AttributeGroup01B_SimpleAttrGroup_ImportedSchema"
	elementFormDefault="qualified">

	<attributeGroup name="detailsGroup">
		<attribute name="firstname" type="string" />
		<attribute name="surname" type="string" />
		<attribute name="email" type="string" />
	</attributeGroup>

</schema>