tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDLCoverageAMXBPM/WSDL24/services/SchoolWSDL2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.xyzcorp/procureservice/UserProfile" xmlns:tns="http://www.amsbqa.com/linda24/SchoolWSDL2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.amsbqa.com/linda24/SchoolWSDL2">
    <import location="profile/UserProfile.xsd" namespace="http://www.xyzcorp/procureservice/UserProfile"/>
    <message name="Message">
        <part name="part1" type="ns:Address"/>
    </message>
    <message name="Message1">
        <part name="part1" type="ns:AirlinePreference"/>
    </message>
    <message name="Message2">
        <part name="part1" type="ns:HotelPreference"/>
    </message>
    <message name="Message3">
        <part name="part1" type="ns:CarPreference"/>
    </message>
    <portType name="PortType">
        <operation name="Operation">
            <input message="tns:Message"/>
            <output message="tns:Message1"/>
        </operation>
        <operation name="Operation1">
            <input message="tns:Message2"/>
            <output message="tns:Message3"/>
        </operation>
    </portType>
</definitions>