tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/builder/XSDBOM_TLE15_ElementsWithTypeOutsideSchemaNonCircular.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/root" xmlns:tns1="http://www.example.org/root" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:tns2="http://XSDBOM_TLE15_ElementsWithTypeOutsideSchemaNonCircular2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/root">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD3877/Business Objects/org.example.root.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://XSDBOM_TLE15_ElementsWithTypeOutsideSchemaNonCircular2"
      schemaLocation="XSDBOM_TLE15_ElementsWithTypeOutsideSchemaNonCircular2.xsd"/>
  <xsd:simpleType ecore:name="rootSimple" id="org.example.rootrootSimple2" name="rootSimple">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="rootEnum" id="org.example.rootrootEnum" name="rootEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="ENUMLIT" value="ENUMLIT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="rootComplex" id="org.example.rootrootComplex" abstract="false"
      mixed="false" name="rootComplex">
    <xsd:sequence>
      <xsd:element ecore:name="elem" id="rootComplexelem" form="qualified" maxOccurs="1"
          minOccurs="1" name="elem" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="rootElem2" nillable="false" type="tns2:referencedSimple"/>
  <xsd:element abstract="false" name="rootElem3" nillable="false" type="tns2:referencedEnum"/>
  <xsd:element abstract="false" name="rootElem" nillable="false" type="tns2:referencedComplex"/>
</xsd:schema>