tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/builder/XSDBOM_TLE20_SameNameComplexTypesWithAttributes3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3" xmlns:tns3="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD3877/Business Objects/XSDBOM_TLE20_SameNameComplexTypesWithAttributes3.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="CarDetails" id="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3CarDetails"
      abstract="false" mixed="false" name="CarDetails">
    <xsd:sequence>
      <xsd:element ecore:name="carMake" id="CarDetailscarMake" form="unqualified"
          maxOccurs="1" minOccurs="1" name="carMake" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RentalAgencyDetails" id="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3RentalAgencyDetails"
      abstract="false" mixed="false" name="RentalAgencyDetails">
    <xsd:sequence>
      <xsd:element ecore:name="address" id="RentalAgencyDetailsaddress" form="unqualified"
          maxOccurs="1" minOccurs="1" name="address" type="Address"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Address" id="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3Address"
      abstract="false" mixed="false" name="Address">
    <xsd:sequence>
      <xsd:element ecore:name="street" id="Addressstreet" form="unqualified" maxOccurs="1"
          minOccurs="1" name="street" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="topAddress" nillable="false">
    <xsd:complexType ecore:name="topAddressType" id="XSDBOM_TLE20_SameNameComplexTypesWithAttributes3topAddressType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="street" form="unqualified" maxOccurs="1" minOccurs="1"
            name="street" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>