tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/builder/XSDBOM_TLE16_DuplicateElementNamesWithComplexAndSimpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/NewXMLSchema" xmlns:tns1="http://www.example.org/NewXMLSchema"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/NewXMLSchema">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD3877/Business Objects/org.example.NewXMLSchema.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="Elem2" id="org.example.NewXMLSchemaElem22" name="Elem2">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="Elem3" id="org.example.NewXMLSchemaElem3" name="Elem3">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="ENUMLIT1" value="ENUMLIT1"/>
      <xsd:enumeration ecore:name="ENUMLIT2" value="ENUMLIT2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="Elem1" id="org.example.NewXMLSchemaElem1" abstract="false"
      mixed="false" name="Elem1">
    <xsd:sequence>
      <xsd:element ecore:name="elem3" id="Elem1elem3" form="qualified" maxOccurs="1"
          minOccurs="1" name="elem3" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Elem4" id="org.example.NewXMLSchemaElem4" abstract="false"
      mixed="false" name="Elem4">
    <xsd:simpleContent>
      <xsd:extension base="xsd:boolean"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Elem2" nillable="false" type="Elem2"/>
  <xsd:element abstract="false" name="Elem3" nillable="false" type="Elem3"/>
  <xsd:element abstract="false" name="topElem1" nillable="false">
    <xsd:complexType ecore:name="topElem1Type">
      <xsd:complexContent mixed="false">
        <xsd:extension base="Elem1">
          <xsd:sequence>
            <xsd:element ecore:name="elem1" id="topElem1Typeelem1" form="qualified"
                maxOccurs="1" minOccurs="1" name="elem1" type="xsd:string"/>
            <xsd:element ecore:name="elem2" id="topElem1Typeelem2" form="qualified"
                maxOccurs="1" minOccurs="1" name="elem2" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute ecore:name="attr1" id="topElem1Typeattr1" form="unqualified"
              name="attr1" type="xsd:boolean" use="optional"/>
          <xsd:attribute ecore:name="attr2" id="topElem1Typeattr2" form="unqualified"
              name="attr2" type="xsd:boolean" use="optional"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="topElem4" nillable="false">
    <xsd:complexType ecore:name="topElem4Type" id="org.example.NewXMLSchematopElem4Type"
        mixed="false">
      <xsd:simpleContent>
        <xsd:extension base="Elem4"/>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>