tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/builder/XSDBOM_TLE08_AnonymousSimpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.example.org/XSDBOM_TLE08_anonymousSimpleTypes"
	xmlns:tns1="http://www.example.org/XSDBOM_TLE08_anonymousSimpleTypes"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.example.org/XSDBOM_TLE08_anonymousSimpleTypes">
	<xsd:annotation>
		<xsd:documentation>BOMORIGIN::/XPD3877/Business
			Objects/org.example.XSDBOM_TLE08_anonymousSimpleTypes.bom
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element abstract="false" name="MyStrElement" nillable="false">
		<xsd:simpleType ecore:name="MyStrElementType">
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="200" />
				<xsd:pattern value=".*" />
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:simpleType name="name_StudioGeneratedTemplate">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\i\c*" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element abstract="false" name="MyNameElement"
		nillable="false">
		<xsd:simpleType ecore:name="MyNameElementType">
			<xsd:restriction base="tns1:name_StudioGeneratedTemplate">
				<xsd:maxLength value="150" />
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:simpleType name="entity_StudioGeneratedTemplate">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\i-[:]][\c-[:]]*" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element abstract="false" name="MyEntityElement"
		nillable="false" type="tns1:entity_StudioGeneratedTemplate" />
	<xsd:simpleType name="long_StudioGeneratedTemplate">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-9223372036854775808" />
			<xsd:maxInclusive value="9223372036854775807" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element abstract="false" name="MyLongElement"
		nillable="false" type="tns1:long_StudioGeneratedTemplate" />
	<xsd:simpleType name="double_StudioGeneratedTemplate">
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="-179.76931348623157E+306" />
			<xsd:maxInclusive value="179.76931348623157E+306" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element abstract="false" name="MyDoubleElement"
		nillable="false" type="tns1:double_StudioGeneratedTemplate" />
	<xsd:element abstract="false" name="MyAnyURIElement"
		nillable="false" type="xsd:anyURI" />
</xsd:schema>