tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/xsd/gold/builder/XSDBOM_TLE22_CheckDifferentTypesImportedSameName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/CheckDifferentTypesImportedSameName" xmlns:tns1="http://example.com/CheckDifferentTypesImportedSameName"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/CheckDifferentTypesImportedSameName">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_TLE22_CheckDifferentTypesImportedSameName/Business Objects/com.example.CheckDifferentTypesImportedSameName.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="tmpItem" id="com.example.CheckDifferentTypesImportedSameNametmpItem"
      abstract="false" mixed="false" name="tmpItem">
    <xsd:sequence>
      <xsd:element ecore:name="anyURI" id="tmpItemanyURI" form="unqualified" maxOccurs="1"
          minOccurs="1" name="anyURI" type="xsd:anyURI"/>
      <xsd:element ecore:name="boolean1" id="tmpItemboolean" form="unqualified" maxOccurs="1"
          minOccurs="1" name="boolean" type="xsd:boolean"/>
      <xsd:element ecore:name="byte1" id="tmpItembyte" form="unqualified" maxOccurs="1"
          minOccurs="1" name="byte" type="tns1:byte_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="date" id="tmpItemdate" form="unqualified" maxOccurs="1"
          minOccurs="1" name="date" type="xsd:date"/>
      <xsd:element ecore:name="dateTime" id="tmpItemdateTime" form="unqualified" maxOccurs="1"
          minOccurs="1" name="dateTime" type="xsd:dateTime"/>
      <xsd:element ecore:name="decimal" id="tmpItemdecimal" form="unqualified" maxOccurs="1"
          minOccurs="1" name="decimal" type="xsd:decimal"/>
      <xsd:element ecore:name="double1" id="tmpItemdouble" form="unqualified" maxOccurs="1"
          minOccurs="1" name="double" type="tns1:double_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="duration" id="tmpItemduration" form="unqualified" maxOccurs="1"
          minOccurs="1" name="duration" type="xsd:duration"/>
      <xsd:element ecore:name="ENTITIES" id="tmpItemENTITIES" form="unqualified" maxOccurs="1"
          minOccurs="1" name="ENTITIES" type="tns1:entities_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="ENTITY" id="tmpItemENTITY" form="unqualified" maxOccurs="1"
          minOccurs="1" name="ENTITY" type="tns1:entity_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="float1" id="tmpItemfloat" form="unqualified" maxOccurs="1"
          minOccurs="1" name="float" type="tns1:float_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gday" id="tmpItemgDay" form="unqualified" maxOccurs="1"
          minOccurs="1" name="gDay" type="tns1:gday_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gmonth" id="tmpItemgMonth" form="unqualified" maxOccurs="1"
          minOccurs="1" name="gMonth" type="tns1:gmonth_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gmonthDay" id="tmpItemgMonthDay" form="unqualified"
          maxOccurs="1" minOccurs="1" name="gMonthDay" type="tns1:gmonthday_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gyear" id="tmpItemgYear" form="unqualified" maxOccurs="1"
          minOccurs="1" name="gYear" type="tns1:gyear_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="gyearMonth" id="tmpItemgYearMonth" form="unqualified"
          maxOccurs="1" minOccurs="1" name="gYearMonth" type="tns1:gyearmonth_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="hexBinary" id="tmpItemhexBinary" form="unqualified"
          maxOccurs="1" minOccurs="1" name="hexBinary" type="tns1:hexbinary_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="ID" id="tmpItemID" form="unqualified" maxOccurs="1"
          minOccurs="1" name="ID" type="tns1:id_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="IDREF" id="tmpItemIDREF" form="unqualified" maxOccurs="1"
          minOccurs="1" name="IDREF" type="tns1:idref_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="IDREFS" id="tmpItemIDREFS" form="unqualified" maxOccurs="1"
          minOccurs="1" name="IDREFS" type="tns1:idrefs_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="int1" id="tmpItemint" form="unqualified" maxOccurs="1"
          minOccurs="1" name="int" type="xsd:int"/>
      <xsd:element ecore:name="integer" id="tmpIteminteger" form="unqualified" maxOccurs="1"
          minOccurs="1" name="integer" type="xsd:integer"/>
      <xsd:element ecore:name="language" id="tmpItemlanguage" form="unqualified" maxOccurs="1"
          minOccurs="1" name="language" type="tns1:language_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="long1" id="tmpItemlong" form="unqualified" maxOccurs="1"
          minOccurs="1" name="long" type="tns1:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="name" id="tmpItemName" form="unqualified" maxOccurs="1"
          minOccurs="1" name="Name" type="tns1:name_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="NCName" id="tmpItemNCName" form="unqualified" maxOccurs="1"
          minOccurs="1" name="NCName" type="tns1:ncname_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="negativeInteger" id="tmpItemnegativeInteger" form="unqualified"
          maxOccurs="1" minOccurs="1" name="negativeInteger" type="tns1:negativeinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="NMTOKEN" id="tmpItemNMTOKEN" form="unqualified" maxOccurs="1"
          minOccurs="1" name="NMTOKEN" type="tns1:nmtoken_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="NMTOKENS" id="tmpItemNMTOKENS" form="unqualified" maxOccurs="1"
          minOccurs="1" name="NMTOKENS" type="tns1:nmtokens_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="nonNegativeInteger" id="tmpItemnonNegativeInteger"
          form="unqualified" maxOccurs="1" minOccurs="1" name="nonNegativeInteger"
          type="tns1:nonnegativeinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="nonPositiveInteger" id="tmpItemnonPositiveInteger"
          form="unqualified" maxOccurs="1" minOccurs="1" name="nonPositiveInteger"
          type="tns1:nonpositiveinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="normalizedString" id="tmpItemnormalizedString" form="unqualified"
          maxOccurs="1" minOccurs="1" name="normalizedString" type="tns1:normalizedstring_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="positiveInteger" id="tmpItempositiveInteger" form="unqualified"
          maxOccurs="1" minOccurs="1" name="positiveInteger" type="tns1:positiveinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="QName" id="tmpItemQName" form="unqualified" maxOccurs="1"
          minOccurs="1" name="QName" type="tns1:qname_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="short1" id="tmpItemshort" form="unqualified" maxOccurs="1"
          minOccurs="1" name="short" type="tns1:short_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="string" id="tmpItemstring" form="unqualified" maxOccurs="1"
          minOccurs="1" name="string" type="xsd:string"/>
      <xsd:element ecore:name="time" id="tmpItemtime" form="unqualified" maxOccurs="1"
          minOccurs="1" name="time" type="xsd:time"/>
      <xsd:element ecore:name="token" id="tmpItemtoken" form="unqualified" maxOccurs="1"
          minOccurs="1" name="token" type="tns1:token_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="unsignedByte" id="tmpItemunsignedByte" form="unqualified"
          maxOccurs="1" minOccurs="1" name="unsignedByte" type="tns1:unsignedbyte_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="unsignedInt" id="tmpItemunsignedInt" form="unqualified"
          maxOccurs="1" minOccurs="1" name="unsignedInt" type="tns1:unsignedint_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="unsignedLong" id="tmpItemunsignedLong" form="unqualified"
          maxOccurs="1" minOccurs="1" name="unsignedLong" type="tns1:unsignedlong_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="unsignedShort" id="tmpItemunsignedShort" form="unqualified"
          maxOccurs="1" minOccurs="1" name="unsignedShort" type="tns1:unsignedshort_StudioGeneratedTemplate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="byte_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="-128"/>
      <xsd:maxInclusive value="127"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="double_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-179.76931348623157E+306"/>
      <xsd:maxInclusive value="179.76931348623157E+306"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="entities_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="entity_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="float_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="-340.28235E+36"/>
      <xsd:maxInclusive value="340.28235E+36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gday_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\-\-\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gmonth_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\-\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gmonthday_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\-\-(0[1-9]|[1][0-2])\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gyear_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="gyearmonth_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="hexbinary_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9a-fA-F][0-9a-fA-F])*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="id_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idref_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idrefs_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="language_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="name_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\i\c*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ncname_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="negativeinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="-1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nmtoken_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\c+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nmtokens_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\c+( \c+)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nonnegativeinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nonpositiveinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="normalizedstring_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="positiveinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="qname_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="short_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="-32768"/>
      <xsd:maxInclusive value="32767"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="token_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^ \t\n\r]+([ ][^ \t\n\r]+)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unsignedbyte_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unsignedint_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="4294967295"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unsignedlong_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="18446744073709551615"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unsignedshort_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="65535"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="anyURI" nillable="false" type="xsd:anyURI"/>
  <xsd:element abstract="false" name="boolean" nillable="false" type="xsd:boolean"/>
  <xsd:element abstract="false" name="byte" nillable="false" type="tns1:byte_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="date" nillable="false" type="xsd:date"/>
  <xsd:element abstract="false" name="dateTime" nillable="false" type="xsd:dateTime"/>
  <xsd:element abstract="false" name="decimal" nillable="false" type="xsd:decimal"/>
  <xsd:element abstract="false" name="double" nillable="false" type="tns1:double_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="duration" nillable="false" type="xsd:duration"/>
  <xsd:element abstract="false" name="ENTITIES" nillable="false" type="tns1:entities_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="ENTITY" nillable="false" type="tns1:entity_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="float" nillable="false" type="tns1:float_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="gDay" nillable="false" type="tns1:gday_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="gMonth" nillable="false" type="tns1:gmonth_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="gMonthDay" nillable="false" type="tns1:gmonthday_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="gYear" nillable="false" type="tns1:gyear_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="gYearMonth" nillable="false" type="tns1:gyearmonth_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="hexBinary" nillable="false" type="tns1:hexbinary_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="ID" nillable="false" type="tns1:id_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="IDREF" nillable="false" type="tns1:idref_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="IDREFS" nillable="false" type="tns1:idrefs_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="int" nillable="false" type="xsd:int"/>
  <xsd:element abstract="false" name="integer" nillable="false" type="xsd:integer"/>
  <xsd:element abstract="false" name="language" nillable="false" type="tns1:language_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="long" nillable="false" type="tns1:long_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="Name" nillable="false" type="tns1:name_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="NCName" nillable="false" type="tns1:ncname_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="negativeInteger" nillable="false" type="tns1:negativeinteger_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="NMTOKEN" nillable="false" type="tns1:nmtoken_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="NMTOKENS" nillable="false" type="tns1:nmtokens_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="nonNegativeInteger" nillable="false" type="tns1:nonnegativeinteger_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="nonPositiveInteger" nillable="false" type="tns1:nonpositiveinteger_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="normalizedString" nillable="false" type="tns1:normalizedstring_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="positiveInteger" nillable="false" type="tns1:positiveinteger_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="QName" nillable="false" type="tns1:qname_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="short" nillable="false" type="tns1:short_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="string" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="time" nillable="false" type="xsd:time"/>
  <xsd:element abstract="false" name="token" nillable="false" type="tns1:token_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="unsignedByte" nillable="false" type="tns1:unsignedbyte_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="unsignedInt" nillable="false" type="tns1:unsignedint_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="unsignedLong" nillable="false" type="tns1:unsignedlong_StudioGeneratedTemplate"/>
  <xsd:element abstract="false" name="unsignedShort" nillable="false" type="tns1:unsignedshort_StudioGeneratedTemplate"/>
</xsd:schema>