tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC11_AXsdAnySimple/Service Descriptors/UsingSimpleAny.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/UsingSimpleAny/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="UsingSimpleAny" targetNamespace="http://www.example.org/UsingSimpleAny/" xmlns:sa="http://example.com/SimpleAny">
	<wsdl:types>
		<xs:schema xmlns="http://example.com/SimpleAny"
			targetNamespace="http://example.com/SimpleAny">
			<xs:element name="person">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="firstname" type="xs:string" />
						<xs:element name="lastname" type="xs:string" />
						<xs:any processContents="lax" minOccurs="0" maxOccurs="5" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetRelatedPersonRequest">
		<wsdl:part name="FirstPerson" element="sa:person"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetRelatedPersonResponse">
		<wsdl:part name="RelatedPerson" element="sa:person"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UsingSimpleAny">
		<wsdl:operation name="GetRelatedPerson">
			<wsdl:input message="tns:GetRelatedPersonRequest"></wsdl:input>
			<wsdl:output message="tns:GetRelatedPersonResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
