tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/AllineamentoBancheMALLIBAAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/presentation/allineamentobanchemalliba.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/service/presentation/allineamentobanchemalliba" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/presentation/allineamentobanchemalliba" tibex:src="file:/D:/PROGETTI/MIND/share/AllineamentoBancheMALLIBAAbstract.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/presentation/allineamentobanchemalliba.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/presentation/allineamentobanchemalliba.xsd">
            <xs:element name="DescrizioneAbiCabCrmRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sistemaRichiedente" type="xs:string"/>
                        <xs:element minOccurs="0" name="canale" type="xs:string"/>
                        <xs:element minOccurs="0" name="idRichiesta" type="xs:string"/>
                        <xs:element minOccurs="0" name="tipoOperazione" type="xs:string"/>
                        <xs:element minOccurs="0" name="causale" type="xs:string"/>
                        <xs:element minOccurs="0" name="idProcessoBpm" type="xs:string"/>
                        <xs:element minOccurs="0" name="commodity" type="xs:string"/>
                        <xs:element minOccurs="0" name="flagDelibera40" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="Ip" type="xs:string"/>
                        <xs:element minOccurs="0" name="Profilo" type="xs:string"/>
                        <xs:element minOccurs="0" name="Matricola" type="xs:string"/>
                        <xs:element minOccurs="0" name="DataRichiesta" type="xs:date"/>
                        <xs:element minOccurs="0" name="IdMuti" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdDms" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdDmsReclamo" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdR2RD">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="IdDistr" type="xs:string"/>
                                    <xs:element minOccurs="0" name="IdDistr2" type="xs:string"/>
                                    <xs:element minOccurs="0" name="IdR2RD" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="dataDecorrenza" type="xs:date"/>
                        <xs:element minOccurs="0" name="tipoRichiesta" type="xs:string"/>
                        <xs:element minOccurs="0" name="flagComplesso" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="flagPreventivo" type="xs:string"/>
                        <xs:element minOccurs="0" name="flagDocumentazione" type="xs:string"/>
                        <xs:element minOccurs="0" name="idCRM" type="xs:string"/>
                        <xs:element minOccurs="0" name="statoServizio" type="xs:string"/>
                        <xs:element minOccurs="0" name="statoOrdine" type="xs:string"/>
                        <xs:element minOccurs="0" name="statoFiCa" type="xs:string"/>
                        <xs:element minOccurs="0" name="statoISU" type="xs:string"/>
                        <xs:element minOccurs="0" name="statoR2D" type="xs:string"/>
                        <xs:element minOccurs="0" name="statoSD" type="xs:string"/>
                        <xs:element minOccurs="0" name="statoSempre" type="xs:string"/>
                        <xs:element minOccurs="0" name="statoUDB" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdR2R">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="IdR2R">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="30"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="IdAttivitaCrm">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="15"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="DatiBam">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="TipoPratica" type="xs:string"/>
                                    <xs:element minOccurs="0" name="Servizio" type="xs:string"/>
                                    <xs:element minOccurs="0" name="IdPadre" type="xs:string"/>
                                    <xs:element minOccurs="0" name="TipoPraticaPadre" type="xs:string"/>
                                    <xs:element minOccurs="0" name="ServizioPadre" type="xs:string"/>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Keys">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="NomeChiave" type="xs:string"/>
                                                <xs:element minOccurs="0" name="ValoreChiave" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="DataAggiornamento" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="codicePaese" type="xs:string"/>
                        <xs:element minOccurs="0" name="cin" type="xs:string"/>
                        <xs:element minOccurs="0" name="checkDigit" type="xs:string"/>
                        <xs:element minOccurs="0" name="numeroContoBancario" type="xs:string"/>
                        <xs:element minOccurs="0" name="chiaveBanca" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceFiscaleTitolareConto">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="16"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="titolareConto">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ABI">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="5"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CAB">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="5"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="statoDomiciliazioneBanca">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="iban" type="xs:string"/>
                        <xs:element minOccurs="0" name="descrizioneBanca" type="xs:string"/>
                        <xs:element minOccurs="0" name="VCY" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceLocalita" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceSportello" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione_Abi" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione_Cab" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DescrizioneAbiCabCrmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="codicePaese" type="xs:string"/>
                        <xs:element minOccurs="0" name="cin" type="xs:string"/>
                        <xs:element minOccurs="0" name="checkDigit" type="xs:string"/>
                        <xs:element minOccurs="0" name="numeroContoBancario" type="xs:string"/>
                        <xs:element minOccurs="0" name="chiaveBanca" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceFiscaleTitolareConto">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="16"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="titolareConto">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ABI">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="5"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CAB">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="5"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="statoDomiciliazioneBanca">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="iban" type="xs:string"/>
                        <xs:element minOccurs="0" name="descrizioneBanca" type="xs:string"/>
                        <xs:element minOccurs="0" name="VCY" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceLocalita" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceSportello" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione_Abi" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione_cab" type="xs:string"/>
                        <xs:element minOccurs="0" name="esito">
                            <xs:annotation>
                                <xs:documentation>OK, KO</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="codiceEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="descrizione" type="xs:string"/>
                        <xs:element minOccurs="0" name="tipoEsito" type="xs:string"/>
                        <xs:element name="sistemaSorgenteEsito" type="xs:string"/>
                        <xs:element minOccurs="0" name="Azioni" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RisvegliaTuttiRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Id_Richiesta" type="xs:string"/>
                        <xs:element name="Abi" type="xs:string"/>
                        <xs:element name="Cab" type="xs:string"/>
                        <xs:element name="Esito_Allineamento" type="xs:string"/>
                        <xs:element minOccurs="0" name="Codice_Allineamento" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione_Allineamento" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RisvegliaTuttiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Esito" type="xs:string"/>
                        <xs:element name="Codice" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="AllineamentoBanchePortType">
        <wsdl:documentation>Chiamate RequestResponse implementabili sia su JMS che su Http</wsdl:documentation>
        <wsdl:operation name="DescrizioneAbiCabCrm">
            <wsdl:input message="tns:DescrizioneAbiCabCrmRequest"/>
            <wsdl:output message="tns:DescrizioneAbiCabCrmResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RisvegliaTutti">
            <wsdl:input message="tns:RisvegliaTuttiRequest"/>
            <wsdl:output message="tns:RisvegliaTuttiResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="DescrizioneAbiCabCrmRequest">
        <wsdl:part element="ns0:DescrizioneAbiCabCrmRequest" name="partBody"/>
    </wsdl:message>
    <wsdl:message name="DescrizioneAbiCabCrmResponse">
        <wsdl:part element="ns0:DescrizioneAbiCabCrmResponse" name="partBody"/>
    </wsdl:message>
    <wsdl:message name="RisvegliaTuttiRequest">
        <wsdl:part element="ns0:RisvegliaTuttiRequest" name="partBody"/>
    </wsdl:message>
    <wsdl:message name="RisvegliaTuttiResponse">
        <wsdl:part element="ns0:RisvegliaTuttiResponse" name="partBody"/>
    </wsdl:message>
</wsdl:definitions>
