tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/CaricatoreVAS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CaricatoreVAS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CaricatoreVAS" targetNamespace="http://www.example.org/CaricatoreVAS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CaricatoreVAS/">
      <xsd:element name="InserimentoVAS">
        <xsd:complexType>
        	<xsd:sequence>        		<xsd:element name="IdBPM" type="xsd:string" minOccurs="1"></xsd:element>
        		<xsd:element name="Canale" type="xsd:string" minOccurs="1"></xsd:element>        		<xsd:element name="insOffertaMemo" type="xsd:string" minOccurs="0"></xsd:element>
        	</xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InserimentoVASResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Esito" type="xsd:string" minOccurs="1" />
          	<xsd:element name="Codice" type="xsd:string"></xsd:element>
          	<xsd:element name="Descrizione" type="xsd:string"></xsd:element>
          	<xsd:element name="POD" type="xsd:string"></xsd:element>
          	<xsd:element name="IdBPM" type="xsd:string"></xsd:element>
          	<xsd:element name="CodiceContrattoPartner" type="xsd:string"></xsd:element>
          	<xsd:element name="SorgenteEsito" type="xsd:string"></xsd:element>
          	<xsd:element minOccurs="0" name="IdTransazioneCanale" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="ServiziPartner">
      	<xsd:sequence>
      		<xsd:element name="CodiceUnivoco" type="xsd:string"></xsd:element>
      		<xsd:element name="FatturazioneEE" type="xsd:string"></xsd:element>
      		<xsd:element name="SaldoAnnoContrattuale"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="Attributi" type="tns:Attributi"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="CodiceContratto" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Attributi">
      	<xsd:sequence>
      		<xsd:element name="Nome" type="xsd:string"></xsd:element>
      		<xsd:element name="Valore" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InserimentoVASRequest">
    <wsdl:part element="tns:InserimentoVAS" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="InserimentoVASResponse">
    <wsdl:part element="tns:InserimentoVASResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CaricatoreVAS">
    <wsdl:operation name="InserimentoVAS">
      <wsdl:input message="tns:InserimentoVASRequest"/>
      <wsdl:output message="tns:InserimentoVASResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaricatoreVASSOAP" type="tns:CaricatoreVAS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InserimentoVAS">
      <soap:operation soapAction="http://www.example.org/CaricatoreVAS/InserimentoVAS"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaricatoreVAS">
    <wsdl:port binding="tns:CaricatoreVASSOAP" name="CaricatoreVASSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
