tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/CaricatoreUnicoOffertaServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://com.enel.mind.CaricatoreUnicoOfferta"  xmlns:ttns="http://mind.enel.com/caricatoreunicoofferta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://com.enel.mind.CaricatoreUnicoOfferta" >
  <wsdl:types>
    <xsd:schema xmlns="http://com.enel.mind.CaricatoreUnicoOfferta" targetNamespace="http://com.enel.mind.CaricatoreUnicoOfferta">
    	<xsd:element name="InsOffertaVendita">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="IdProcessoBpm" type="xsd:string"
    					minOccurs="0">
    				</xsd:element>
    				<xsd:element name="SDM_VENDITA" type="xsd:string" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="InsOffertaVenditaResponse">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="Esito" minOccurs="0">
                            <xsd:complexType>
                            	<xsd:sequence>
                            		<xsd:element name="Esito"
                            			type="xsd:string" minOccurs="0">
                            		</xsd:element>
                            		<xsd:element name="CodiceEsito"
                            			type="xsd:string" minOccurs="0">
                            		</xsd:element>
                            		<xsd:element name="Descrizione"
                            			type="xsd:string" minOccurs="0">
                            		</xsd:element>
                            		<xsd:element name="TipoEsito"
                            			type="xsd:string" minOccurs="0">
                            		</xsd:element>
                            		<xsd:element name="SistemaSorgente"
                            			type="xsd:string" minOccurs="0">
                            		</xsd:element>
                            	</xsd:sequence>
                            </xsd:complexType>
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="InsOfferteAnnullate">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="IdProcessoBpm" type="xsd:string"
    					minOccurs="0">
    				</xsd:element>
    				<xsd:element name="SDM_VENDITA" type="xsd:string" minOccurs="0"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="InsOfferteAnnullateResponse">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="Esito" minOccurs="0">
    					<xsd:complexType>
    						<xsd:sequence>
    							<xsd:element name="Esito"
    								type="xsd:string" minOccurs="0">
    							</xsd:element>
    							<xsd:element name="CodiceEsito"
    								type="xsd:string" minOccurs="0">
    							</xsd:element>
    							<xsd:element name="Descrizione"
    								type="xsd:string" minOccurs="0">
    							</xsd:element>
    							<xsd:element name="TipoEsito"
    								type="xsd:string" minOccurs="0">
    							</xsd:element>
    							<xsd:element name="SistemaSorgente"
    								type="xsd:string" minOccurs="0">
    							</xsd:element>
    						</xsd:sequence>
    					</xsd:complexType></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element></xsd:schema>
    <xsd:schema xmlns="http://mind.enel.com/caricatoreunicoofferta" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mind.enel.com/caricatoreunicoofferta" targetNamespace="http://mind.enel.com/caricatoreunicoofferta">
      <xsd:annotation>

      </xsd:annotation>
      <xsd:complexType name="CaricatoreUnicoOffertaInput">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="datiMasterInsOffertaIprProcessRequest" type="DatiMasterInsOffertaIprProcessRequest"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CaricatoreUnicoOffertaOutput">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="datiMasterInsOffertaIprProcessResponse" type="DatiMasterInsOffertaIprProcessResponse"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DatiMasterInsOffertaIprProcessResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="EsitoType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sottoCanale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codCamp">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="causaleOperazione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="X_codiceChannel">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codUnivocoServizioPartener">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="X_codiceIncaricato">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EsitoType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DatiMasterInsOffertaIprProcessRequest">
        <xsd:sequence>
        	<xsd:element maxOccurs="1" minOccurs="0" name="richiesta"
        		type="RichiestaType" />
        	<xsd:element maxOccurs="1" minOccurs="0" name="insOffertaMemo" type="xsd:string"/>
        	<xsd:element maxOccurs="1" minOccurs="0" name="esitoVBL">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="causaleVBL">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="causaleEsitoDescrizioneCVP">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="dataEsitoInvioCVP">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0" name="esitoCVP">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="importMorositaCVP">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="macroCausaleEsitoDescrizioneCVP">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element maxOccurs="1" minOccurs="0"
        		name="causaleEsito">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="50" />
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="ORIGINE_FIRST" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="1"></xsd:maxLength>
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="ID_CHIAMATA" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="20"></xsd:maxLength>
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="TELEFONO_CONTRATTO" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="20"></xsd:maxLength>
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        	<xsd:element name="CONSENSO_PROFILAZIONE" minOccurs="0">
        		<xsd:simpleType>
        			<xsd:restriction base="xsd:string">
        				<xsd:maxLength value="1"></xsd:maxLength>
        			</xsd:restriction>
        		</xsd:simpleType>
        	</xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RichiestaType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaRichiedente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="canale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idProcessoBpm">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CaricatoreUnicoOffertaInputElement" type="CaricatoreUnicoOffertaInput"/>
      <xsd:element name="CaricatoreUnicoOffertaOutputElement" type="CaricatoreUnicoOffertaOutput"/>
      <xsd:element name="DatiMasterInsOffertaIprProcessResponseElement" type="DatiMasterInsOffertaIprProcessResponse"/>
      <xsd:element name="EsitoTypeElement" type="EsitoType"/>
      <xsd:element name="DatiMasterInsOffertaIprProcessRequestElement" type="DatiMasterInsOffertaIprProcessRequest"/>
      <xsd:element name="RichiestaTypeElement" type="RichiestaType"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CaricatoreUnicoOfferta_ServiceCall_INPUT">
    <wsdl:part element="ttns:CaricatoreUnicoOffertaInputElement" name="request"/>
  </wsdl:message>
  <wsdl:message name="CaricatoreUnicoOfferta_ServiceCall_OUTPUT">
    <wsdl:part element="ttns:CaricatoreUnicoOffertaOutputElement" name="response"/>
  </wsdl:message>
  <wsdl:message name="InsOffertaVenditaRequest">
  	<wsdl:part name="parameters" element="ns:InsOffertaVendita"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="InsOffertaVenditaResponse">
  	<wsdl:part name="parameters" element="ns:InsOffertaVenditaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="InsOfferteAnnullateRequest">
  	<wsdl:part name="parameters" element="ns:InsOfferteAnnullate"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="InsOfferteAnnullateResponse">
  	<wsdl:part name="parameters" element="ns:InsOfferteAnnullateResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CaricatoreUnicoOfferta" >
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="ServiceCall">
      <wsdl:input message="ns:CaricatoreUnicoOfferta_ServiceCall_INPUT" />
      <wsdl:output message="ns:CaricatoreUnicoOfferta_ServiceCall_OUTPUT" />
    </wsdl:operation>
    <wsdl:operation name="InsOffertaVendita">
    	<wsdl:input message="ns:InsOffertaVenditaRequest"></wsdl:input>
    	<wsdl:output message="ns:InsOffertaVenditaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsOfferteAnnullate">
    	<wsdl:input message="ns:InsOfferteAnnullateRequest"></wsdl:input>
    	<wsdl:output message="ns:InsOfferteAnnullateResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
