tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/CrmGateWayEsitiServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://com.enel.mind.CrmGateWayEsiti" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.enel.mind.CrmGateWayEsiti" >
    <wsdl:types>
        
        <xs:schema targetNamespace="http://com.enel.mind.CrmGateWayEsiti">
 
            <xs:element name="AccorpamentoCRMRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CDM_RICHIESTA" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_FORNITURA" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_CLIENTE" type="xs:string"/>
                        <xs:element minOccurs="0" name="Contratto" type="xs:string"/>
                        <xs:element minOccurs="0" name="Codice_Loyalty" type="xs:string"/>
                        <xs:element minOccurs="0" name="Saldo_Punti" type="xs:string"/>
                        <xs:element minOccurs="0" name="Data_Aggiornamento_Saldo_Punti" type="xs:string"/>
                        <xs:element minOccurs="0" name="CdUteMaster" type="xs:string"/>
                        <xs:element minOccurs="0" name="CdUteChild" type="xs:string"/>
                        <xs:element minOccurs="0" name="Data_Accorpamento" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AccorpamentoCRMResponse">
                <xs:complexType >
                    <xs:sequence>
                        <xs:element name = "Esito" type="tns:EsitoType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AggiornamentoModelliGDORequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RowIdConfVendita" type="xs:string"/>
                        <xs:element name="IdBpm" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AggiornamentoModelliGDOResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Codice" type="xs:string"/>
                        <xs:element minOccurs="0" name="Descrizione" type="xs:string"/>
                        <xs:element minOccurs="0" name="Esito" type="xs:string"/>
                        <xs:element minOccurs="0" name="Sorgente" type="xs:string" />
                        
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
   
		<xs:complexType name="EsitoType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="esito">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="255"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="tipoEsito">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="50"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
		</xs:schema>
    </wsdl:types>
	

    <wsdl:message name="AccorpamentoCrmRequest">
        <wsdl:part element="tns:AccorpamentoCRMRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="AccorpamentoCrmResponse">
        <wsdl:part element="tns:AccorpamentoCRMResponse" name="response"/>
    </wsdl:message>
    <wsdl:message name="AggiornamentoModelliGDORequest">
        <wsdl:part element="tns:AggiornamentoModelliGDORequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="AggiornamentoModelliGDOResponse">
        <wsdl:part element="tns:AggiornamentoModelliGDOResponse" name="response"/>
    </wsdl:message>
        <wsdl:portType name="CrmGatewayEsitiPortType">

        <wsdl:operation name="AccorpamentoCrm">
            <wsdl:input message="tns:AccorpamentoCrmRequest"/>
            <wsdl:output message="tns:AccorpamentoCrmResponse"/>
        </wsdl:operation>
        <wsdl:operation name="AggiornamentoModelliGDO">
            <wsdl:input message="tns:AggiornamentoModelliGDORequest"/>
            <wsdl:output message="tns:AggiornamentoModelliGDOResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
