tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/DimostratoPagamentoServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://com.enel.mind.dimostratoPagamento"  xmlns:ttns="http://mind.enel.com/datamodel" xmlns:ttns1="http://mind.enel.com/dimostrapagamento" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://com.enel.mind.dimostratoPagamento" >
  <wsdl:types>
    <xsd:schema xmlns="http://com.enel.mind.dimostratoPagamento" targetNamespace="http://com.enel.mind.dimostratoPagamento"/>
    <xsd:schema xmlns="http://mind.enel.com/datamodel" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://mind.enel.com/datamodel" targetNamespace="http://mind.enel.com/datamodel">
      <xsd:annotation>

      </xsd:annotation>
      <xsd:complexType name="EsitoType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EsitoTypeElement" type="EsitoType"/>
    </xsd:schema>
    <xsd:schema xmlns="http://mind.enel.com/dimostrapagamento" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mind.enel.com/dimostrapagamento" xmlns:tns2="http://mind.enel.com/datamodel" targetNamespace="http://mind.enel.com/dimostrapagamento">
      <xsd:annotation>
        <xsd:documentation>

        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://mind.enel.com/datamodel"/>
      <xsd:complexType name="DimostraPagamentoInput">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="customerAccount">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codAttivitaDM2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="importoDimostraPagamento">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataAcquisizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="oraAcquisizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoAttivitaDoc">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="docMemo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idBPM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DimostraPagamentoOutput">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idActivity">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="documentoMemo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="tns2:EsitoType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DimostraPagamentoInputElement" type="DimostraPagamentoInput"/>
      <xsd:element name="DimostraPagamentoOutputElement" type="DimostraPagamentoOutput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SNTDMPCR_DimostratoPagamento_INPUT">
    <wsdl:part element="ttns1:DimostraPagamentoInputElement" name="request"/>
  </wsdl:message>
  <wsdl:message name="SNTDMPCR_DimostratoPagamento_OUTPUT">
    <wsdl:part element="ttns1:DimostraPagamentoOutputElement" name="response"/>
  </wsdl:message>
  <wsdl:portType name="SNTDMPCR" >
    <wsdl:documentation>
      <DocumentationElement Documentation="Richeista Variazione Rid Verso ISU"/>
    </wsdl:documentation>
    <wsdl:operation name="DimostratoPagamento">
      <wsdl:input message="ns:SNTDMPCR_DimostratoPagamento_INPUT" />
      <wsdl:output message="ns:SNTDMPCR_DimostratoPagamento_OUTPUT" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
