tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/MutiPresentationCrmOrdiniServiziAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://com.enel.mind.presentation.crmordiniservizi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MutiPresentationCrmOrdiniServiziAbstract" targetNamespace="http://com.enel.mind.presentation.crmordiniservizi" tibex:src="file:/C:/Users/egiusro/Desktop/MIGRAZIONE_AMX_BPM/RVC/MutiPresentationCrmOrdiniServiziAbstract.wsdl">
	<wsdl:types>
		<xsd:schema targetNamespace="http://com.enel.mind.presentation.crmordiniservizi">
			<xsd:element name="CreaOrdineAggMetodoPagamentoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="Richiesta" type="tns:RichiestaType"/>
						<xsd:element minOccurs="0" name="PodPdr" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="NumeroUtente" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreaOrdineAggMetodoPagamentoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" name="Esito" type="tns:EsitoType"/>
						<xsd:element minOccurs="0" name="IdOrdine" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			
			<xsd:element name="OrdineCessazioneVasRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="VasCdm" type="xsd:string"/>
						<xsd:element minOccurs="0" name="NumContrattoEE" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="Pod" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="IdMuti" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OrdineCessazioneVasResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" name="Esito" type="tns:EsitoType"/>
						<xsd:element minOccurs="0" name="IdFatturazioneCdm" type="xsd:string"/>
						<xsd:element minOccurs="0" name="VasCdm" type="xsd:string"/>
						<xsd:element minOccurs="0" name="IdMuti" type="xsd:string"/>
						<xsd:element minOccurs="0" name="Pod" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			

			<xsd:complexType name="RichiestaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sistemaRichiedente" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="canale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="idRichiesta" type="xsd:string"/>
					<xsd:element minOccurs="0" name="tipoOperazione" type="xsd:string"/>
					<xsd:element minOccurs="0" name="causale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
					<xsd:element minOccurs="0" name="commodity" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="Ip" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Profilo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Matricola" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DataRichiesta" type="xsd:date"/>
					<xsd:element minOccurs="0" name="IdMuti" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdDms" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdR2d" type="tns:IdentificativiR2dType">
					</xsd:element>
					<xsd:element minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
					<xsd:element minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="flagPreventivo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagDocumentazione" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="idCRM" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoServizio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoOrdine" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoFiCa" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoISU" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoR2D" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoSD" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoSempre" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoUDB" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdR2R" type="tns:IdentificativiR2rType">
					</xsd:element>
					<xsd:element minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="EsitoUdbType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="TitolareConto" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="CFTitolare" type="xsd:string"/>
					<xsd:element minOccurs="0" name="NumConto" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CodicePaese" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CinIban" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Cin" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Cab" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Abi" type="xsd:string"/>
					<xsd:element minOccurs="0" name="MetodoPagamento" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="IdentificativiR2dType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="IdDistr" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdDistr2" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdR2d" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="IdentificativiR2rType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="IdR2R" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EsitoType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="esito" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codiceEsito" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipoEsito" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" name="sistemaSorgenteEsito" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="CreaOrdineCambioListinoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="BusinessId" type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="NumeroUtente" type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="CodiceConfigurazioneVendita" type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="DataNuovoListino" type="xsd:string" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreaOrdineCambioListinoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Esito" type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="CodiceEsito" type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CreaOrdineAggMetodoPagamentoRequest">
		<wsdl:part element="tns:CreaOrdineAggMetodoPagamentoRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="CreaOrdineAggMetodoPagamentoResponse">
		<wsdl:part element="tns:CreaOrdineAggMetodoPagamentoResponse" name="response"/>
	</wsdl:message>
	
	<wsdl:message name="CreaOrdineCambioListinoRequest">
		<wsdl:part element="tns:CreaOrdineCambioListinoRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="CreaOrdineCambioListinoResponse">
		<wsdl:part element="tns:CreaOrdineCambioListinoResponse" name="response"/>
	</wsdl:message>
	
		<wsdl:message name="OrdineCessazioneVasRequest">
		<wsdl:part element="tns:OrdineCessazioneVasRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="OrdineCessazioneVasResponse">
		<wsdl:part element="tns:OrdineCessazioneVasResponse" name="response"/>
	</wsdl:message>




	<wsdl:portType name="MutiPresentationCrmOrdiniServiziAbstract">
		<wsdl:operation name="CreaOrdineAggMetodoPagamento">
			<wsdl:input message="tns:CreaOrdineAggMetodoPagamentoRequest"/>
			<wsdl:output message="tns:CreaOrdineAggMetodoPagamentoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CreaOrdineCambioListino">
			<wsdl:input message="tns:CreaOrdineCambioListinoRequest"/>
			<wsdl:output message="tns:CreaOrdineCambioListinoResponse"/>
		</wsdl:operation>

		
				<wsdl:operation name="OrdineCessazioneVas">
			<wsdl:input message="tns:OrdineCessazioneVasRequest"/>
			<wsdl:output message="tns:OrdineCessazioneVasResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	


</wsdl:definitions>
