tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/MutiPresentationCaricatoreVasAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://com.enel.mind.presentation.caricatorevas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MutiPresentationCaricatoreVasAbstract" targetNamespace="http://com.enel.mind.presentation.caricatorevas" tibex:src="file:/C:/Users/egiusro/Desktop/MIGRAZIONE_AMX_BPM/PORTING_R2/PARTNER_ATTIVAZIONE_VAS/MutiPresentationCaricatoreVasAbstract.wsdl">
	<wsdl:types>
		<xsd:schema targetNamespace="http://com.enel.mind.presentation.caricatorevas">
			<xsd:element name="InserimentoVasRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="IdBpm" type="xsd:string"/>
						<xsd:element minOccurs="0" name="CdmVasMemo" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="Pod" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="Canale" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="SottoCanale" type="xsd:string">
						</xsd:element>
					
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InserimentoVasResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" name="Esito" type="tns:EsitoType"/>
						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
		

			<xsd:complexType name="RichiestaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sistemaRichiedente" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="canale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="idRichiesta" type="xsd:string"/>
					<xsd:element minOccurs="0" name="tipoOperazione" type="xsd:string"/>
					<xsd:element minOccurs="0" name="causale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
					<xsd:element minOccurs="0" name="commodity" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="Ip" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Profilo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Matricola" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DataRichiesta" type="xsd:date"/>
					<xsd:element minOccurs="0" name="IdMuti" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdDms" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdR2d" type="tns:IdentificativiR2dType">
					</xsd:element>
					<xsd:element minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
					<xsd:element minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="flagPreventivo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagDocumentazione" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="idCRM" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoServizio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoOrdine" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoFiCa" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoISU" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoR2D" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoSD" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoSempre" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoUDB" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdR2R" type="tns:IdentificativiR2rType">
					</xsd:element>
					<xsd:element minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="EsitoUdbType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="TitolareConto" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="CFTitolare" type="xsd:string"/>
					<xsd:element minOccurs="0" name="NumConto" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CodicePaese" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CinIban" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Cin" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Cab" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Abi" type="xsd:string"/>
					<xsd:element minOccurs="0" name="MetodoPagamento" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="IdentificativiR2dType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="IdDistr" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdDistr2" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdR2d" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="IdentificativiR2rType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="IdR2R" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EsitoType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="esito" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codiceEsito" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipoEsito" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" name="sistemaSorgenteEsito" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="InserimentoVasVendite">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="IdProcessoBpm"
							type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="SDM_VENDITA"
							type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="Canale"
							type="xsd:string" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InserimentoVasVenditeResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Esito" type="xsd:string"
							minOccurs="0">
						</xsd:element>
						<xsd:element name="CodiceEsito"
							type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="DescrizioneEsito"
							type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="SistemaSorgente"
							type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="CodiceContrattoPartner"
							type="xsd:string" minOccurs="0">
						</xsd:element>
						<xsd:element name="IdTransazioneCanale"
							type="xsd:string" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="InserimentoVasRequest">
		<wsdl:part element="tns:InserimentoVasRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="InserimentoVasResponse">
		<wsdl:part element="tns:InserimentoVasResponse" name="response"/>
	</wsdl:message>



	<wsdl:message name="InserimentoVasVenditeRequest">
		<wsdl:part name="parameters" element="tns:InserimentoVasVendite"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="InserimentoVasVenditeResponse">
		<wsdl:part name="parameters" element="tns:InserimentoVasVenditeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MutiPresentationCaricatoreVasAbstract">
		<wsdl:operation name="InserimentoVas">
			<wsdl:input message="tns:InserimentoVasRequest"/>
			<wsdl:output message="tns:InserimentoVasResponse"/>
		</wsdl:operation>


		<wsdl:operation name="InserimentoVasVendite">
			<wsdl:input message="tns:InserimentoVasVenditeRequest"></wsdl:input>
			<wsdl:output message="tns:InserimentoVasVenditeResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	


</wsdl:definitions>
