tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/NotificaEsitiCRMFromISUServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://com.enel.mind.NotificaEsitiCRMFromISU"  xmlns:ttns="http://mind.enel.com/esiticrm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://com.enel.mind.NotificaEsitiCRMFromISU" >
  <wsdl:types>
    <xsd:schema xmlns="http://com.enel.mind.NotificaEsitiCRMFromISU" targetNamespace="http://com.enel.mind.NotificaEsitiCRMFromISU">
      <xsd:simpleType name="string_100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SESICRMISU_errorCode" type="string_100"/>
      <xsd:simpleType name="string_4000">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4000"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SESICRMISU_errorDetail" type="string_4000"/>
      <xsd:simpleType name="integer_3">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SESICRMISU_errorMaxRetries" type="integer_3"/>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SESICRMISU_errorPerformer" type="string_50"/>
      <xsd:element name="SESICRMISU_errorRetryCount" type="integer_3"/>
      <xsd:element name="SESICRMISU_errorShortRetries" type="integer_3"/>
      <xsd:simpleType name="integer_9">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SESICRMISU_errorWaitLongDelayMin" type="integer_9"/>
      <xsd:element name="SESICRMISU_errorWaitShortDelayMin" type="integer_9"/>
      <xsd:element name="SESICRMISU_msgPayload" type="string_4000"/>
      <xsd:element name="SESICRMISU_processId" type="string_50"/>
      <xsd:element name="SESICRMISU_processName" type="string_100"/>
    </xsd:schema>
    <xsd:schema xmlns="http://mind.enel.com/esiticrm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mind.enel.com/esiticrm" targetNamespace="http://mind.enel.com/esiticrm">
      <xsd:annotation>

      </xsd:annotation>
      <xsd:complexType name="NotificaEsitiCRMFromIsuRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="richiesta" type="Richiesta"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ambito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contrattoSap">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contoContrattuale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="businessPartner">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroUtente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NotificaEsitiCRMFromIsuResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Esito">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Richiesta">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaRichiedente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="canale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idRichiesta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoOperazione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="causale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idProcessoBpm">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="commodity">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ip">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="profilo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="matricola">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataRichiesta" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idMuti">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idDms">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idDmsReclamo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idR2d" type="idR2d"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idR2R" type="idR2R"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoRichiesta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="flagPreventivo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="flagDocumentazione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idCRM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoServizio">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoOrdine">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoFICA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoISU">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoR2D">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoSEMPRE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoUDB">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoSD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idAttivitaCRM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="idR2d">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idDistr">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idDistr2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idR2d">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="idR2R">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idR2R">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NotificaEsitiCRMFromIsuRequestElement" type="NotificaEsitiCRMFromIsuRequest"/>
      <xsd:element name="NotificaEsitiCRMFromIsuResponseElement" type="NotificaEsitiCRMFromIsuResponse"/>
      <xsd:element name="EsitoElement" type="Esito"/>
      <xsd:element name="RichiestaElement" type="Richiesta"/>
      <xsd:element name="idR2dElement" type="idR2d"/>
      <xsd:element name="idR2RElement" type="idR2R"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SESICRMISU_NotificaEsitiCRMFromISU_INPUT">
    <wsdl:part element="ttns:NotificaEsitiCRMFromIsuRequestElement" name="Request"/>
  </wsdl:message>
  <wsdl:message name="SESICRMISU_NotificaEsitiCRMFromISU_OUTPUT">
    <wsdl:part element="ttns:NotificaEsitiCRMFromIsuResponseElement" name="Response"/>
  </wsdl:message>
  <wsdl:message name="SESICRMISU_NotificaEsitiCRMFromISU_GenericErrorEvent_fault">
    <wsdl:part element="ttns:NotificaEsitiCRMFromIsuResponseElement" name="Response"/>
    <wsdl:part element="ns:SESICRMISU_errorCode" name="errorCode"/>
    <wsdl:part element="ns:SESICRMISU_errorDetail" name="errorDetail"/>
    <wsdl:part element="ns:SESICRMISU_errorMaxRetries" name="errorMaxRetries"/>
    <wsdl:part element="ns:SESICRMISU_errorPerformer" name="errorPerformer"/>
    <wsdl:part element="ns:SESICRMISU_errorRetryCount" name="errorRetryCount"/>
    <wsdl:part element="ns:SESICRMISU_errorShortRetries" name="errorShortRetries"/>
    <wsdl:part element="ns:SESICRMISU_errorWaitLongDelayMin" name="errorWaitLongDelayMin"/>
    <wsdl:part element="ns:SESICRMISU_errorWaitShortDelayMin" name="errorWaitShortDelayMin"/>
    <wsdl:part element="ns:SESICRMISU_msgPayload" name="msgPayload"/>
    <wsdl:part element="ns:SESICRMISU_processId" name="processId"/>
    <wsdl:part element="ns:SESICRMISU_processName" name="processName"/>
  </wsdl:message>
  <wsdl:portType name="SESICRMISU" >
    <wsdl:operation name="NotificaEsitiCRMFromISU">
      <wsdl:input message="ns:SESICRMISU_NotificaEsitiCRMFromISU_INPUT" />
      <wsdl:output message="ns:SESICRMISU_NotificaEsitiCRMFromISU_OUTPUT" />
      <wsdl:fault message="ns:SESICRMISU_NotificaEsitiCRMFromISU_GenericErrorEvent_fault" name="GenericErrorEvent" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
