tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/NotificaEsitiCorrispondenzaServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="com.enel.mind.NotificaEsitiCorrispondenza" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://mind.enel.com/notificaesiticorrispondenza" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Presentation_CrmGatewayEsiti" targetNamespace="com.enel.mind.NotificaEsitiCorrispondenza" tibex:ServiceTask="_MjuTPEezEeOL0sK2uXHbtA" tibex:XPDL="Presentation_CrmGatewayEsiti.xpdl" tibex:process="_B5WbEEezEeOL0sK2uXHbtA">
  <wsdl:types>
    <xsd:schema xmlns="com.enel.mind.NotificaEsitiCorrispondenza" targetNamespace="com.enel.mind.NotificaEsitiCorrispondenza"/>
    <xsd:schema xmlns="http://mind.enel.com/notificaesiticorrispondenza" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mind.enel.com/notificaesiticorrispondenza" targetNamespace="http://mind.enel.com/notificaesiticorrispondenza">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/MIND_Presentation/Business Objects/com.enel.mind.notificaesiticorrispondenza.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="NotificaEsitoCorrispondenzaInput">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="listOfEsito" type="ListOfEsito"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListOfEsito">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Esito">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="IDCorrispondenza">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataPostalizzazione" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="koFax">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="koMail">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codice">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataOraFax">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataOraMail">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceErrore">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="koPEC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="IDSGPEC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="stato">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="inesitiGDO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idBPMInesiti">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="koPosta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NotificaEsitoCorrispondenzaOutput">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="out" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NotificaEsitoCorrispondenzaInputElement" type="NotificaEsitoCorrispondenzaInput"/>
      <xsd:element name="ListOfEsitoElement" type="ListOfEsito"/>
      <xsd:element name="EsitoElement" type="Esito"/>
      <xsd:element name="NotificaEsitoCorrispondenzaOutputElement" type="NotificaEsitoCorrispondenzaOutput"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NotificaEsitiCorrispondenza_NotificaEsitiCorrispondenza_INPUT">
    <wsdl:part element="ttns:NotificaEsitoCorrispondenzaInputElement" name="NotificaEsitiRequest"/>
  </wsdl:message>
  <wsdl:message name="NotificaEsitiCorrispondenza_NotificaEsitiCorrispondenza_OUTPUT">
    <wsdl:part element="ttns:NotificaEsitoCorrispondenzaOutputElement" name="NotificaEsitiResponse"/>
  </wsdl:message>
  <wsdl:portType name="NotificaEsitiCorrispondenza" tibex:FlowContainer="_B5WbEEezEeOL0sK2uXHbtA">
    <wsdl:operation name="NotificaEsitiCorrispondenza">
      <wsdl:input message="ns:NotificaEsitiCorrispondenza_NotificaEsitiCorrispondenza_INPUT" tibex:Event="_MjuTPEezEeOL0sK2uXHbtA"/>
      <wsdl:output message="ns:NotificaEsitiCorrispondenza_NotificaEsitiCorrispondenza_OUTPUT" tibex:Event="_MjuTPEezEeOL0sK2uXHbtA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
