tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/PresentationEsitiCrmAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns="http://xmlns.enel.com/mercato/libero/presentation/abstract/NotificaEsitiCrmFromIsuBpm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns="http://xmlns.enel.com/mercato/libero/presentation/abstract/NotificaEsitiCrmFromIsuBpm" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/presentation/abstract/NotificaEsitiCrmFromIsuBpm">
	<wsdl:types>

		<xs:schema xmlns="http://xmlns.enel.com/mercato/libero/presentation/abstract/NotificaEsitiCrmFromIsuBpm" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.enel.com/mercato/libero/presentation/abstract/NotificaEsitiCrmFromIsuBpm" elementFormDefault="qualified" attributeFormDefault="unqualified">

			<xs:complexType name="RichiestaType">
				<xs:sequence>
					<xs:element minOccurs="0" name="sistemaRichiedente" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="canale" type="xs:string"/>
					<xs:element minOccurs="0" name="idRichiesta" type="xs:string"/>
					<xs:element minOccurs="0" name="tipoOperazione" type="xs:string"/>
					<xs:element minOccurs="0" name="causale" type="xs:string"/>
					<xs:element minOccurs="0" name="idProcessoBpm" type="xs:string"/>
					<xs:element minOccurs="0" name="commodity" type="xs:string"/>
					<xs:element minOccurs="0" name="flagDelibera40" type="xs:boolean"/>
					<xs:element minOccurs="0" name="Ip" type="xs:string"/>
					<xs:element minOccurs="0" name="Profilo" type="xs:string"/>
					<xs:element minOccurs="0" name="Matricola" type="xs:string"/>
					<xs:element minOccurs="0" name="DataRichiesta" type="xs:date"/>
					<xs:element minOccurs="0" name="IdMuti" type="xs:string"/>
					<xs:element minOccurs="0" name="IdDms" type="xs:string"/>
					<xs:element minOccurs="0" name="IdDmsReclamo" type="xs:string"/>
					<xs:element minOccurs="0" name="IdR2d" type="tns:IdentificativiR2dType">
					</xs:element>
					<xs:element minOccurs="0" name="dataDecorrenza" type="xs:date"/>
					<xs:element minOccurs="0" name="tipoRichiesta" type="xs:string"/>
					<xs:element minOccurs="0" name="flagComplesso" type="xs:boolean"/>
					<xs:element minOccurs="0" name="flagPreventivo" type="xs:string"/>
					<xs:element minOccurs="0" name="flagDocumentazione" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="idCRM" type="xs:string"/>
					<xs:element minOccurs="0" name="statoServizio" type="xs:string"/>
					<xs:element minOccurs="0" name="statoOrdine" type="xs:string"/>
					<xs:element minOccurs="0" name="statoFiCa" type="xs:string"/>
					<xs:element minOccurs="0" name="statoISU" type="xs:string"/>
					<xs:element minOccurs="0" name="statoR2D" type="xs:string"/>
					<xs:element minOccurs="0" name="statoSD" type="xs:string"/>
					<xs:element minOccurs="0" name="statoSempre" type="xs:string"/>
					<xs:element minOccurs="0" name="statoUDB" type="xs:string"/>
					<xs:element minOccurs="0" name="IdR2R" type="tns:IdentificativiR2rType">
					</xs:element>
					<xs:element minOccurs="0" name="IdAttivitaCrm" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="IdentificativiR2dType">
				<xs:sequence>
					<xs:element minOccurs="0" name="IdDistr" type="xs:string"/>
					<xs:element minOccurs="0" name="IdDistr2" type="xs:string"/>
					<xs:element minOccurs="0" name="IdR2d" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="IdentificativiR2rType">
				<xs:sequence>
					<xs:element minOccurs="0" name="IdR2R" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="EsitoType">
				<xs:sequence>
					<xs:element minOccurs="0" name="esito" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="codiceEsito" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="descrizione" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="tipoEsito" type="xs:string">
					</xs:element>
					<xs:element minOccurs="1" name="sistemaSorgenteEsito" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="NotificaEsitoCrmFromR2dRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Richiesta" type="tns:RichiestaType"/>
						<xs:element name="Esito" type="tns:EsitoType"/>
						<xs:element name="Fornitura_CDM" type="xs:string" minOccurs="0"/>
						<xs:element name="OutField_CDM" type="xs:string"/>
						<xs:element name="CD_AEEG_DISTR" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="NotificaEsitoCrmFromR2dResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Esito" type="tns:EsitoType"/>
						<xs:element name="esitoFinale">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="NotificaEsitoCrmFromSempreRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Richiesta" type="tns:RichiestaType"/>
						<xs:element name="Esito" type="tns:EsitoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="NotificaEsitoCrmFromSempreResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Esito" type="tns:EsitoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="EsitoMoTeRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Richiesta" type="tns:RichiestaType"/>
						<xs:element name="Esito" type="tns:EsitoType"/>
						<xs:element name="pod" type="xs:string" minOccurs="0"/>
						<xs:element name="flagEspletamento" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="EsitoMoTeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Esito" type="tns:EsitoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="NotificaEsitiMatFromSempreRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Richiesta" type="tns:RichiestaType"/>
						<xs:element name="CDM_Fornitura" type="xs:string"/>
						<xs:element name="EsitoSempre" type="tns:EsitoType"/>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NotificaEsitiMatFromSempreResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Esito" type="tns:EsitoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>

	</wsdl:types>

	<wsdl:portType name="EsitiCrmPortType">
		<wsdl:operation name="NotificaEsitiCrmFromR2d">
			<wsdl:input message="tns:NotificaEsitiCrmFromR2dRequest"/>
			<wsdl:output message="tns:NotificaEsitiCrmFromR2dResponse"/>
		</wsdl:operation>
		<wsdl:operation name="NotificaEsitiCrmFromSempre">
			<wsdl:input message="tns:NotificaEsitiCrmFromSempreRequest"/>
			<wsdl:output message="tns:NotificaEsitiCrmFromSempreResponse"/>
		</wsdl:operation>
		<wsdl:operation name="NotificaEsitoMoTe">
			<wsdl:input message="tns:NotificaEsitoMoTeRequest"/>
			<wsdl:output message="tns:NotificaEsitoMoTeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="NotificaEsitiMatFromSempre">
			<wsdl:input message="tns:NotificaEsitiMatFromSempreRequest"/>
			<wsdl:output message="tns:NotificaEsitiMatFromSempreResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:message name="NotificaEsitiCrmFromR2dRequest">
		<wsdl:part name="input" element="tns:NotificaEsitoCrmFromR2dRequest"/>
	</wsdl:message>
	<wsdl:message name="NotificaEsitiCrmFromR2dResponse">
		<wsdl:part name="output" element="tns:NotificaEsitoCrmFromR2dResponse"/>
	</wsdl:message>
	<wsdl:message name="NotificaEsitiCrmFromSempreRequest">
		<wsdl:part name="input" element="tns:NotificaEsitoCrmFromSempreRequest"/>
	</wsdl:message>
	<wsdl:message name="NotificaEsitiCrmFromSempreResponse">
		<wsdl:part name="output" element="tns:NotificaEsitoCrmFromSempreResponse"/>
	</wsdl:message>
	<wsdl:message name="NotificaEsitoMoTeRequest">
		<wsdl:part name="input" element="tns:EsitoMoTeRequest"/>
	</wsdl:message>
	<wsdl:message name="NotificaEsitoMoTeResponse">
		<wsdl:part name="output" element="tns:EsitoMoTeResponse"/>
	</wsdl:message>
	<wsdl:message name="NotificaEsitiMatFromSempreRequest">
		<wsdl:part name="input" element="tns:NotificaEsitiMatFromSempreRequest"/>
	</wsdl:message>
	<wsdl:message name="NotificaEsitiMatFromSempreResponse">
		<wsdl:part name="output" element="tns:NotificaEsitiMatFromSempreResponse"/>
	</wsdl:message>
</wsdl:definitions>