tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/ReceiveEsitoOfferteAnnullateConcrete.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/amxbpm/receiveesitoofferteannullate.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/wsdl/ReceiveEsitoOfferteAnnullate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/wsdl/ReceiveEsitoOfferteAnnullate" tibex:src="file:/C:/Users/Santullo/Documents/Progetti/ENEL/Specifiche/R2-2014/PMO3222/WS/Muti/ReceiveEsitoOfferteAnnullateConcrete.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/amxbpm/receiveesitoofferteannullate.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/amxbpm/receiveesitoofferteannullate.xsd">
            <xs:element name="RicezioneEsitoCaricamentoOfferteAnnullate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IdProcessoBpm" type="xs:string"/>
                        <xs:element minOccurs="0" name="CodiceScarto" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdTransazioneCanale" type="xs:string"/>
                        <xs:element minOccurs="0" name="Esito" type="xs:string"/>
                        <xs:element minOccurs="0" name="DescrizioneScarto" type="xs:string"/>
                        <xs:element minOccurs="0" name="IdLineaFirst" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ReceiveEsitoOfferteAnnullateBpmService">
        <wsdl:port binding="tns:EsitoOfferteAnnullatePortTypeEPBinding" name="EsitoOfferteAnnullatePortTypeEP">
            <soap:address location="http://localhost:80/mercato/libero/service/bpm/ReceiveEsitoOfferteAnnullate"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="EsitoOfferteAnnullatePortType">
        <wsdl:operation name="RicezioneEsitoOfferteAnnullate">
            <wsdl:input message="tns:EsitoCaricamentoOfferteAnnullate"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EsitoOfferteAnnullatePortTypeEPBinding" type="tns:EsitoOfferteAnnullatePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RicezioneEsitoOfferteAnnullate">
            <soap:operation soapAction="RicezioneEsitoOfferteAnnullate" style="document"/>
            <wsdl:input>
                <soap:body parts="input" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="EsitoCaricamentoOfferteAnnullate">
        <wsdl:part element="ns0:RicezioneEsitoCaricamentoOfferteAnnullate" name="input"/>
    </wsdl:message>
</wsdl:definitions>
