tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.presentation.resources/Service Descriptors/ServiceCloudGatewayServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="com.enel.mind.ServiceCloudGateway" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://mind.enel.com.example.com/sevicecloudgateway" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCloudGateway" targetNamespace="com.enel.mind.ServiceCloudGateway" tibex:ServiceTask="_mjKwMqLPEeOb3989fozZUw" tibex:XPDL="ServiceCloudGateway.xpdl" tibex:process="_Z8wCQKLPEeOb3989fozZUw">
  <wsdl:types>
    <xsd:schema xmlns="com.enel.mind.ServiceCloudGateway" targetNamespace="com.enel.mind.ServiceCloudGateway">
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:element name="ServiceCloudGatewayProcess_errorCode" type="string"/>
      <xsd:element name="ServiceCloudGatewayProcess_errorDetail" type="string"/>
      <xsd:simpleType name="integer_3">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ServiceCloudGatewayProcess_errorMaxRetries" type="integer_3"/>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ServiceCloudGatewayProcess_errorPerformer" type="string_50"/>
      <xsd:element name="ServiceCloudGatewayProcess_errorRetryCount" type="integer_3"/>
      <xsd:element name="ServiceCloudGatewayProcess_errorShortRetries" type="integer_3"/>
      <xsd:simpleType name="integer_9">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ServiceCloudGatewayProcess_errorWaitLongDelayMin" type="integer_9"/>
      <xsd:element name="ServiceCloudGatewayProcess_errorWaitShortDelayMin" type="integer_9"/>
      <xsd:simpleType name="string_4000">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4000"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ServiceCloudGatewayProcess_msgPayload" type="string_4000"/>
      <xsd:element name="ServiceCloudGatewayProcess_parentProcessId" type="string_50"/>
      <xsd:element name="ServiceCloudGatewayProcess_processId" type="string_50"/>
      <xsd:simpleType name="string_100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ServiceCloudGatewayProcess_processName" type="string_100"/>
    </xsd:schema>
    <xsd:schema xmlns="http://mind.enel.com.example.com/sevicecloudgateway" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mind.enel.com.example.com/sevicecloudgateway" targetNamespace="http://mind.enel.com.example.com/sevicecloudgateway">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/com.enel.mind_common.presentation.resources/Business Objects/com.enel.mind.sevicecloudgateway.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="NotificaStatoConsegnaRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistema">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="orderId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="orderStatus">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizioneEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="orderStatusTime" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idBpm">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NotificaStatoConsegnaResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="EsitoSC"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EsitoSC">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizioneEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NotificaDatiFatturaRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistema">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="requestId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="orderId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="caseId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fiscalCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idFattura">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataFattura" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idFaro">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idBpm">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NotificaDatiFatturaResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="EsitoSC"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NotificaStatoConsegnaRequestElement" type="NotificaStatoConsegnaRequest"/>
      <xsd:element name="NotificaStatoConsegnaResponseElement" type="NotificaStatoConsegnaResponse"/>
      <xsd:element name="EsitoSCElement" type="EsitoSC"/>
      <xsd:element name="NotificaDatiFatturaRequestElement" type="NotificaDatiFatturaRequest"/>
      <xsd:element name="NotificaDatiFatturaResponseElement" type="NotificaDatiFatturaResponse"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceCloudGatewayProcess_NotificaStatoConsegna_INPUT">
    <wsdl:part element="ttns:NotificaStatoConsegnaRequestElement" name="request"/>
  </wsdl:message>
  <wsdl:message name="ServiceCloudGatewayProcess_NotificaStatoConsegna_OUTPUT">
    <wsdl:part element="ttns:NotificaStatoConsegnaResponseElement" name="response"/>
  </wsdl:message>
  <wsdl:message name="ServiceCloudGatewayProcess_NotificaStatoConsegna_GenericErrorEvent_fault">
    <wsdl:part element="ttns:NotificaStatoConsegnaResponseElement" name="response"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_errorCode" name="errorCode"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_errorDetail" name="errorDetail"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_errorMaxRetries" name="errorMaxRetries"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_errorPerformer" name="errorPerformer"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_errorRetryCount" name="errorRetryCount"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_errorShortRetries" name="errorShortRetries"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_errorWaitLongDelayMin" name="errorWaitLongDelayMin"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_errorWaitShortDelayMin" name="errorWaitShortDelayMin"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_msgPayload" name="msgPayload"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_parentProcessId" name="parentProcessId"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_processId" name="processId"/>
    <wsdl:part element="ns:ServiceCloudGatewayProcess_processName" name="processName"/>
  </wsdl:message>
  <wsdl:portType name="ServiceCloudGatewayProcess" tibex:FlowContainer="_Z8wCQKLPEeOb3989fozZUw">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="NotificaStatoConsegna">
      <wsdl:input message="ns:ServiceCloudGatewayProcess_NotificaStatoConsegna_INPUT" tibex:Event="_mjKwMqLPEeOb3989fozZUw"/>
      <wsdl:output message="ns:ServiceCloudGatewayProcess_NotificaStatoConsegna_OUTPUT" tibex:Event="_mjKwMqLPEeOb3989fozZUw"/>
      <wsdl:fault message="ns:ServiceCloudGatewayProcess_NotificaStatoConsegna_GenericErrorEvent_fault" name="GenericErrorEvent" tibex:Error="_mjKwNaLPEeOb3989fozZUw"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
