tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/JSBaseElRequiresMappingTest/JSBaseElRequiresMappingTest/Service Descriptors/BaseElTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BaseElTest/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BaseElTest" targetNamespace="http://www.example.org/BaseElTest/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/BaseElTest/">
        <xsd:complexType name="NewOperation">
          <xsd:sequence>
            <xsd:element name="in" type="tns:IntegerTypeWithReqdChildren"/>
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="NewOperationResponse">
          <xsd:sequence>
            <xsd:element name="out" type="tns:IntegerTypeWithReqdChildren"/>
          </xsd:sequence>
        </xsd:complexType>
    
      <xsd:complexType name="IntegerTypeWithReqdChildren">
      	<xsd:simpleContent>
      		<xsd:extension base="xsd:integer">
      			<xsd:attribute name="Reqd1" type="xsd:int" use="required">
      			</xsd:attribute>
      			<xsd:attribute name="Opt2"
      				type="xsd:int">
      			</xsd:attribute>
      		</xsd:extension>
      	</xsd:simpleContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part type="tns:NewOperation" name="parameters"/>
    <wsdl:part name="NewPart" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part type="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BaseElTest">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseElTestSOAP" type="tns:BaseElTest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/BaseElTest/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseElTest">
    <wsdl:port binding="tns:BaseElTestSOAP" name="BaseElTestSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
