tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-union/gold/wizard/XSDBOM_Union04_SimpleWithOtherSimpleMembers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/Unions" xmlns:tns1="http://example.com/Unions" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/Unions">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/hgfhfg/Business Objects/XSDBOM_Union04_SimpleWithOtherSimpleMembers.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType id="com.example.UnionsmySimple" name="mySimple">
    <xsd:union memberTypes="xsd:decimal xsd:string xsd:int tns1:UnionSimpleType1Member tns1:UnionSimpleType2Member tns1:UnionSimpleType3Member"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="UnionSimpleType1Member" id="com.example.UnionsUnionSimpleType1"
      name="UnionSimpleType1Member">
    <xsd:restriction base="tns1:mySimple2"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="UnionSimpleType3Member" id="com.example.UnionsUnionSimpleType3"
      name="UnionSimpleType3Member">
    <xsd:union memberTypes="tns1:mySimple4"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.example.UnionsmySimple4" name="mySimple4">
    <xsd:union memberTypes="tns1:mySimple3"/>
  </xsd:simpleType>
  <xsd:simpleType id="com.example.UnionsmySimple22" name="mySimple2">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="UnionSimpleType2Member" id="com.example.UnionsUnionSimpleType2"
      name="UnionSimpleType2Member">
    <xsd:restriction base="tns1:mySimple3">
      <xsd:enumeration value="myEnumLit"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType id="com.example.UnionsmySimple3" name="mySimple3">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="myEnumLit"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>