tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM35_SameNameEnumInTwoSchemas/gold/builder/myschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="myschema.MyColor1" xmlns:tns1="myschema.MyColor1" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="myschema.MyColor1">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD4041/Generated Business Objects/myschema.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="Color" id="myschemaColor" name="Color">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="RED" value="red"/>
      <xsd:enumeration ecore:name="BLUE" value="blue"/>
      <xsd:enumeration ecore:name="GREEN" value="green"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="MyComplex" id="myschemaMyComplex" abstract="false"
      mixed="false" name="MyComplex">
    <xsd:sequence>
      <xsd:element ecore:name="colorelem" id="MyComplexcolorelem" form="unqualified"
          maxOccurs="1" minOccurs="1" name="colorelem" type="tns1:Color"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="comp2" id="myschemacomp2" abstract="false" mixed="false"
      name="comp2">
    <xsd:sequence>
      <xsd:element ecore:name="e1" id="comp2e1" form="unqualified" maxOccurs="1" minOccurs="1"
          name="e1" type="MyComplex"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>