tbs-bpm/tests/com.tibco.sce.bds.designtime.test.feature/plugins/com.tibco.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/wsdlimport/import/CoverageNo14/ctms_WSDLimportsSchema1Schema2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.amsbqa.com/linda13/WSDLimportsSchema1schema2/schema1" xmlns:ns2="http://www.amsbqa.com/linda13/WSDLimportsSchema1schema2/schema2" xmlns:ns3="http://www.amsbqa.com/linda14/WSDLimportsSchema1schema2/schema1" xmlns:ns4="http://www.amsbqa.com/linda14/WSDLimportsSchema1schema2/schema2" xmlns:tns="http://www.amsbqa.com/linda14/WSDLimportsSchema1schema2/WSDL" targetNamespace="http://www.amsbqa.com/linda14/WSDLimportsSchema1schema2/WSDL">
    <import namespace="http://www.amsbqa.com/linda14/WSDLimportsSchema1schema2/schema1" location="Schema/ctM002.xsd"/>
    <import namespace="http://www.amsbqa.com/linda14/WSDLimportsSchema1schema2/schema2" location="Schema/groupH019.xsd"/>
    <message name="ctmrequest">
        <part name="part1" type="ns3:myType"/>
    </message>
    <message name="GroupResponse">
        <part name="part1" element="ns4:doc"/>
    </message>
    <message name="ctmresponse">
        <part name="part1" type="ns3:fooType"/>
    </message>
    <message name="GroupRequest">
        <part name="part1" element="ns4:elem"/>
    </message>
    <portType name="PortType">
        <operation name="Operation">
            <input message="tns:GroupRequest"/>
            <output message="tns:GroupResponse"/>
        </operation>
        <operation name="Operation1">
            <input message="tns:ctmrequest"/>
            <output message="tns:ctmresponse"/>
        </operation>
    </portType>
</definitions>