tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC7DDocLitConsumerGeneratedWSDLandRefBOM/Service Descriptors/ClaimSearch-GetClaim.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/GetClaim" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns1="http://example.com/insurance" xmlns:tns10="http://example.com/legislations" xmlns:tns101="http://example.com/customer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Consumer" targetNamespace="http://www.tibco.com/bs3.0/GetClaim" tibex:ServiceTask="_3gAn2OEREd-Watvve-g_vA" tibex:XPDL="InsuraceClaimsSearch-Consumer.xpdl" tibex:process="_IduyYeEAEd-Watvve-g_vA">

  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/GetClaim" targetNamespace="http://www.tibco.com/bs3.0/GetClaim">
      <xsd:simpleType name="integer_10">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ClaimSearch_claimId" type="integer_10"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/insurance" xmlns:tns2="http://example.com/customer" xmlns:tns3="http://example.com/legislations" targetNamespace="http://example.com/insurance">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/UC7DDocLit/Business Objects/Insurance.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/customer"/>
      <xsd:import namespace="http://example.com/legislations"/>
      <xsd:complexType name="Insurance">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="address" type="tns2:Address"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="legislations" type="tns3:Legislation"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="claims" type="Claims"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Claims">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="claim" type="Claim"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Claim">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="customer" type="tns2:Cust"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="policynumber">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="InsuranceElement" type="Insurance"/>
      <xsd:element name="ClaimsElement" type="Claims"/>
      <xsd:element name="ClaimElement" type="Claim"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/legislations" xmlns:tns1="http://example.com/legislations" targetNamespace="http://example.com/legislations">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/UC7DReferencedBom/Business Objects/Legislations.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="Legislation">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="id">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="category" type="Category"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Category">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="casual">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="serious">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dangerous">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Legislation" type="Legislation"/>
      <xsd:element name="Category" type="Category"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/customer" xmlns:tns1="http://example.com/customer" targetNamespace="http://example.com/customer">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/UC7DReferencedBom/Business Objects/Customer.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="Cust">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="id">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="address" type="Address"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="hno">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="postcode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="streetname">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CustElement" type="Cust"/>
      <xsd:element name="AddressElement" type="Address"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClaimSearch_GetClaim_INPUT">
    <wsdl:part element="tns101:CustElement" name="Customer"/>
    <wsdl:part element="tns1:InsuranceElement" name="Insurance"/>
    <wsdl:part element="ns:ClaimSearch_claimId" name="claimId"/>
  </wsdl:message>
  <wsdl:message name="ClaimSearch_GetClaim_OUTPUT">
    <wsdl:part element="tns1:ClaimElement" name="Claim"/>
  </wsdl:message>
  <wsdl:portType name="ClaimSearch" tibex:FlowContainer="_IduyYeEAEd-Watvve-g_vA">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="GetClaim">
      <wsdl:input message="ns:ClaimSearch_GetClaim_INPUT" tibex:Event="_3gAn2OEREd-Watvve-g_vA"/>
      <wsdl:output message="ns:ClaimSearch_GetClaim_OUTPUT"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
