tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM45_BOMGenFor_dac_wsdl/dac-basic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by Duncan Head (Tibco Software Limited) -->
<xs:schema xmlns="http://basic.api.dac.n2.tibco.com" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://basic.api.dac.n2.tibco.com" version="1.0">
	<xs:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="organisation.xsd"/>
	<xs:simpleType name="XmlLockVersion">
		<xs:annotation>
			<xs:documentation>A value used to provide optimistic locking of Calendars, and Calendar Entries.
The XmlLockVersion returned in the responses to getCalendar and getCalendarEntries requests must be passed to a subsequent update request for the same Calendar or CalendarEntry.
The value is then used to detect concurrent updates to the same record, and reject those updates made on stale information.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="Hours">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XmlTimeZoneId">
		<xs:annotation>
			<xs:documentation>Java API defined Time Zone name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="XmlGuidType">
		<xs:annotation>
			<xs:documentation>Definition of a unique ID.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="XmlCalendarName">
		<xs:annotation>
			<xs:documentation>The namespace and name that uniquely identify a Calendar.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="namespace" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used to categorize, or group, named Calendars. Calendars sharing the same namespace must have unique names. A namespace of null is still considered a valid namespace.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The mandatory name of the calendar. This must be unique within the given namespace.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="XmlCalendarLookup">
		<xs:annotation>
			<xs:documentation>Used to perform a lookup of a Calendar instance using either a Calendar Reference or an Org-Model Entity.
A Calendar Reference can be used directly by the Calendar Component. An Org-Model Entity identifier will be passed to Directory Engine, in order to obtain any Calendar References that the identified entity may hold.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="1" minOccurs="1">
			<xs:element maxOccurs="1" minOccurs="0" name="calendar-ref" type="xs:string">
				<xs:annotation>
					<xs:documentation>A Calendar Reference to identify the Calendar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="org-model-entity" type="orgdto:XmlModelEntityId">
				<xs:annotation>
					<xs:documentation>Identifies an Org-Model entity from which Calendar References can be obtained and the Calendar(s) can be identified.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="XmlUpdatedCalendar">
		<xs:annotation>
			<xs:documentation>Used to reflect the new version number applied to a Calendar Instance when it has been updated.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="version" type="XmlLockVersion" use="required">
			<xs:annotation>
				<xs:documentation>The version number used to detect concurrent updates to the same Calendar.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="XmlCalendarName">
			<xs:annotation>
				<xs:documentation>The name and namespace that uniquely identify the Calendar.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="XmlCalendarReference">
		<xs:annotation>
			<xs:documentation>Identifies the relationship between a Calendar Reference (a GUID) and a Calendar Instance.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="reference-guid" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The external identifier for the Calendar Reference. This is the value held by Calendar clients in order to reference a Calendar instance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="namespace" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The namespace in which the calendar is located.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The mandatory name of the calendar. This must be unique within the given namespace.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="XmlPeriod">
		<xs:annotation>
			<xs:documentation>Used to express a start and end date-time period.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="start" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>Start date and time from which Calendar Entries are listed. This value is time-zone neutral. That is, it expresses only a value, but not the time-zone in which it applies. The time-zone will be implied from the Base Calendar on which this exclusions is placed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>End date and time to which Calendar Entries are listed. This value is time-zone neutral. That is, it expresses only a value, but not the time-zone in which it applies. The time-zone will be implied from the Base Calendar on which this exclusions is placed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:simpleType name="XmlDayName">
		<xs:annotation>
			<xs:documentation>Enumerated value of the short form of names of days of the week. Note: Order of elements to be preserved.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SU"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="TU"/>
			<xs:enumeration value="WE"/>
			<xs:enumeration value="TH"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="SA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XmlFreeBusyType">
		<xs:annotation>
			<xs:documentation>Enumerated value of working time status; FREE representing available for work and BUSY unavailable for work.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FREE"/>
			<xs:enumeration value="BUSY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XmlCalendarType">
		<xs:annotation>
			<xs:documentation>Enumerated value of possible types of WorkingCalendar. Base carries a time-zone and defines the working week as well as working day exclusions. Overlay only defines additional working day exclusions that can be applied to any Base Calendar.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BASE"/>
			<xs:enumeration value="OVERLAY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XmlRecurrenceRule">
		<xs:annotation>
			<xs:documentation>Definition of the rule that defines how a Calendar event repeats.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="XmlRecurringInstance">
		<xs:annotation>
			<xs:documentation>Used only to convey the start and end date-times covered by an instance of a recurring entry when retrieving Calendar Entries. The values will be time-zone neutral. That is, they should only expresses a value, but not the time-zone in which they applies. The time-zone will be implied from the Base Calendar to which it is applied.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="start" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>Start date-time of the recurring entry instance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>End date-time of the recurring entry instance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="XmlTimeSlot">
		<xs:annotation>
			<xs:documentation>Pairs of start and end times that define a working period in a day. The values should be time-zone neutral. That is, they should only expresses a value, but not the time-zone in which they applies. The time-zone will be implied from the Base Calendar to which it is applied.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="start" type="xs:time" use="required">
			<xs:annotation>
				<xs:documentation>Start time.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="end" type="xs:time" use="required">
			<xs:annotation>
				<xs:documentation>End time.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="XmlWorkingDay">
		<xs:annotation>
			<xs:documentation>Working Day definition with pairs of start and end working times.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="5" minOccurs="0" name="time-slot" type="XmlTimeSlot">
				<xs:annotation>
					<xs:documentation>Pairs of start and end times for the associated working day.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="day-of-week" type="XmlDayName" use="required">
			<xs:annotation>
				<xs:documentation>Enumerated value of the short form of the day of the week.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType abstract="true" name="XmlCalendarEntry">
		<xs:annotation>
			<xs:documentation>The base type for all Calendars Entries.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="XmlNewWorkingDayExclusion">
		<xs:annotation>
			<xs:documentation>Definition for creating a new Working Day exclusion.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlCalendarEntry">
				<xs:attribute name="description" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>User-friendly name for this exclusion, such as Summer Holiday.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="false" name="all-day" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Marker denoting if this exclusion lasts a full day. Note that this is represented for the benefit of the client only and is not correlated to the start or end time.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="start" type="xs:dateTime" use="required">
					<xs:annotation>
						<xs:documentation>Start date and time of this exclusion. This value should be time-zone neutral. That is, it expresses only a value, but not the time-zone in which it applies. The time-zone will be implied from the Base Calendar on which this exclusions is placed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="end" type="xs:dateTime" use="optional">
					<xs:annotation>
						<xs:documentation>End date and time of this exclusion. This value should be time-zone neutral. That is, it expresses only a value, but not the time-zone in which it applies. The time-zone will be implied from the Base Calendar on which this exclusions is placed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="BUSY" name="free-busy" type="XmlFreeBusyType" use="optional">
					<xs:annotation>
						<xs:documentation>Enumeration of whether this exclusion denotes available working time (FREE) or unavailable working time (BUSY).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlNewRecurringExclusion">
		<xs:annotation>
			<xs:documentation>Definition for creating a new, Recurring exclusion.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlNewWorkingDayExclusion">
				<xs:attribute name="duration" type="xs:duration" use="required">
					<xs:annotation>
						<xs:documentation>How long each instance of the recurring exclusion lasts.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="rrule" type="XmlRecurrenceRule" use="required">
					<xs:annotation>
						<xs:documentation>The recurrence rule that defines how instance of the recurring exclusion are to be calculated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlExistingWorkingDayExclusion">
		<xs:annotation>
			<xs:documentation>Definition for updating an existing Working Day exclusion.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlNewWorkingDayExclusion">
				<xs:attribute name="guid" type="XmlGuidType" use="required">
					<xs:annotation>
						<xs:documentation>ID of exclusion.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlExistingRecurringExclusion">
		<xs:annotation>
			<xs:documentation>Definition for updating an existing Recurring exclusion.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlNewRecurringExclusion">
				<xs:attribute name="guid" type="XmlGuidType" use="required">
					<xs:annotation>
						<xs:documentation>ID of exclusion.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XmlRecurringExclusionDetail">
		<xs:annotation>
			<xs:documentation>Definition for retrieving an existing Recurring Exclusion; along with the instances that fall within a given date-time period.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlExistingRecurringExclusion">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="occurrence" type="XmlRecurringInstance">
						<xs:annotation>
							<xs:documentation>Gives the start and end date-time values of each occurrence of the recurring event that falls within the date period of the request.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType abstract="false" name="XmlCalendarBasic">
		<xs:annotation>
			<xs:documentation>Contains the summary information for a named calendar.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="calendar-type" type="XmlCalendarType" use="required">
			<xs:annotation>
				<xs:documentation>Identifies the type of calendar being described by this element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="XmlCalendarName">
			<xs:annotation>
				<xs:documentation>The namespace and name that uniquely identify the calendar.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="date-created" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The UTC date/time on which this calendar was created.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date-modified" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The UTC date/time on which this calendar was last updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType abstract="false" name="XmlCalendarSummary">
		<xs:annotation>
			<xs:documentation>The base type for Base and Overlay Calendars.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlCalendarBasic">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="reference" type="xs:string">
						<xs:annotation>
							<xs:documentation>The collection of Calendar References associated with the Calendar.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType abstract="true" name="XmlWorkCalendar">
		<xs:annotation>
			<xs:documentation>The base type for Base and Overlay Calendars.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlCalendarSummary">
				<xs:attribute default="-1" name="version" type="XmlLockVersion">
					<xs:annotation>
						<xs:documentation>The version number used to detect concurrent updates to the same Calendar; also known as optimistic locking. When saving a new Calendar this value should be set to its default value (-1).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType abstract="false" name="XmlBaseCalendar">
		<xs:annotation>
			<xs:documentation>Base Calendar carries a time-zone and defines the working week as well as working-day and recurring exclusions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlWorkCalendar">
				<xs:sequence>
					<xs:element maxOccurs="7" minOccurs="0" name="working-days" type="XmlWorkingDay">
						<xs:annotation>
							<xs:documentation>Working time defined per working day of the week.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="time-zone" type="XmlTimeZoneId" use="required">
					<xs:annotation>
						<xs:documentation>Java API specified time-zone for this calendar.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="0" name="min-hours" type="Hours">
					<xs:annotation>
						<xs:documentation>The minimum number of hours remaining in a day for it to be considered a 'working day'.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType abstract="false" name="XmlOverlayCalendar">
		<xs:annotation>
			<xs:documentation>Overlay Calendar only defines additional working-day and recurring exclusions that can be applied to any Base Calendar.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="XmlWorkCalendar"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
