tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/bom-global-data/gold/wizard/XSDBOM_GlobalData05_BiDirectionalAssociation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/businessobjectmodel5" xmlns:tns1="http://example.com/businessobjectmodel5"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/businessobjectmodel5">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gdfg/Business Objects/XSDBOM_GlobalData05_BiDirectionalAssociation.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="__9i0YHGWEeC5w-_cphi0rw" name="Customer">
    <xsd:sequence>
      <xsd:element ecore:opposite="customer" ecore:reference="Order" id="_A4mudHGXEeC5w-_cphi0rw"
          maxOccurs="unbounded" minOccurs="0" name="orders" type="xsd:anyURI"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="_AP_PQHGXEeC5w-_cphi0rw" name="Order">
    <xsd:sequence>
      <xsd:element ecore:reference="Customer" ecore:opposite="orders" id="_A4mucXGXEeC5w-_cphi0rw"
          maxOccurs="1" minOccurs="1" name="customer" type="xsd:anyURI"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomerElement" type="Customer"/>
  <xsd:element name="OrderElement" type="Order"/>
</xsd:schema>