tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources-ABPM-702/xsd/04_DuplicationNameClashes/duplicate_globalelement_names/XSDBOM_Duplicate_03_ComplexTypeVariationsImported.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/ElmAndComplex2"
	targetNamespace="http://example.com/ElmAndComplex2">

	<!-- Tests duplicate complex type and attribute -->
	<xs:complexType name="apple">
		<xs:sequence>
			<xs:group ref="pear"></xs:group>
		</xs:sequence>
		<xs:attributeGroup ref="orange"></xs:attributeGroup>
	</xs:complexType>
	<xs:attribute name="apple" type="xs:boolean"></xs:attribute>

	<!-- Tests duplicate complex type and element -->
	<xs:complexType name="banana">
		<xs:sequence>
			<xs:group ref="pear"></xs:group>
		</xs:sequence>
		<xs:attributeGroup ref="orange"></xs:attributeGroup>
	</xs:complexType>
	<xs:element name="banana" type="xs:string"></xs:element>
	
	<!-- Tests duplicate complex type and attribute group -->
	<xs:complexType name="orange">
		<xs:sequence>
			<xs:group ref="pear"></xs:group>
		</xs:sequence>
		<xs:attributeGroup ref="orange"></xs:attributeGroup>
	</xs:complexType>
	<xs:attributeGroup name="orange">
		<xs:attribute name="attr1" type="xs:string"></xs:attribute>
	</xs:attributeGroup>
	
	<!-- Tests duplicate complex type and group -->
	<xs:complexType name="pear">
		<xs:sequence>
			<xs:group ref="pear"></xs:group>
		</xs:sequence>
		<xs:attributeGroup ref="orange"></xs:attributeGroup>
	</xs:complexType>
	<xs:group name="pear">
		<xs:sequence>
			<xs:element name="elem1" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:group>
	
	<!-- Check references are all in place -->
	<xs:element name="tleElemTypeApple" type="apple"></xs:element>

	<xs:complexType name="tleComplexType">
		<xs:sequence>
			<xs:element name="elemTypeApple" type="apple"></xs:element>
			<xs:element name="elemComplexContentApple">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="apple"></xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="elemTypeBanana" type="banana"></xs:element>
			<xs:element ref="banana"></xs:element>
		</xs:sequence>
		<xs:attribute ref="apple"></xs:attribute>
	</xs:complexType>
</xs:schema>
