tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC6ATLEAnonComplexType/Service Descriptors/UsingAnonComplexType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/UsingAnonComplexType" xmlns:ns2="http://example.com/AnonComplex" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsingAnonComplexType" targetNamespace="http://www.example.org/UsingAnonComplexType">
	<wsdl:import location="AnonComplex.xsd" namespace="http://example.com/AnonComplex"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/UsingAnonComplexType">
			<xsd:complexType name="OutputElement">
				<xsd:sequence>
					<xsd:element name="outputTopElementName" type="xsd:string"/>
					<xsd:element name="outputAddress">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="city" type="xsd:string"/>
								<xsd:element name="country" type="xsd:string"/>
								<xsd:element name="firstLineAddress" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
    <wsdl:message name="AnonComplexTypeOperationRequest">
		<wsdl:part name="inputPart1" type="ns2:TopElement"></wsdl:part>
		<wsdl:part name="inputPart2" type="ns2:AnonymousNested"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="AnonComplexTypeOperationResponse">
    	<wsdl:part name="outputPart" type="tns:OutputElement"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ProvidingServiceAnonComplexType">
    	<wsdl:operation name="AnonComplexTypeOperation">
    		<wsdl:input message="tns:AnonComplexTypeOperationRequest"></wsdl:input>
    		<wsdl:output message="tns:AnonComplexTypeOperationResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType></wsdl:definitions>
