tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE19_ChainLink1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://XSDBOM_TLE19_ChainLink" xmlns:tns1="http://XSDBOM_TLE19_ChainLink"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns3="http://XSDBOM_TLE19_ChainLink2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://XSDBOM_TLE19_ChainLink">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/hfdgh/Business Objects/XSDBOM_TLE19_ChainLink1.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://XSDBOM_TLE19_ChainLink2" schemaLocation="XSDBOM_TLE19_ChainLink2.xsd"/>
  <xsd:simpleType id="XSDBOM_TLE19_ChainLinkrootSimple2" name="rootSimple">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType id="XSDBOM_TLE19_ChainLinkrootEnum" name="rootEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ENUMLIT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType id="XSDBOM_TLE19_ChainLinkrootComplex" abstract="false" mixed="false"
      name="rootComplex">
    <xsd:sequence>
      <xsd:element id="rootComplexelem" form="qualified" maxOccurs="1" minOccurs="1"
          name="elem">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="rootElem2" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="tns3:referencedSimple"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="rootElem3" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="tns3:referencedEnum"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="rootElem" nillable="false" type="tns3:referencedComplex"/>
</xsd:schema>