tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE22_CheckDifferentTypesImportedSameName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/CheckDifferentTypesImportedSameName" xmlns:tns1="http://example.com/CheckDifferentTypesImportedSameName"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/CheckDifferentTypesImportedSameName">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/hfghfgh/Business Objects/XSDBOM_TLE22_CheckDifferentTypesImportedSameName.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="com.example.CheckDifferentTypesImportedSameNametmpItem" abstract="false"
      mixed="false" name="tmpItem">
    <xsd:sequence>
      <xsd:element id="tmpItemanyURI" form="unqualified" maxOccurs="1" minOccurs="1"
          name="anyURI">
        <xsd:simpleType>
          <xsd:restriction base="xsd:anyURI"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemboolean" form="unqualified" maxOccurs="1" minOccurs="1"
          name="boolean">
        <xsd:simpleType>
          <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItembyte" form="unqualified" maxOccurs="1" minOccurs="1"
          name="byte">
        <xsd:simpleType>
          <xsd:restriction base="xsd:byte">
            <xsd:minInclusive value="-128"/>
            <xsd:maxInclusive value="127"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdate" form="unqualified" maxOccurs="1" minOccurs="1"
          name="date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:date"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdateTime" form="unqualified" maxOccurs="1" minOccurs="1"
          name="dateTime">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdecimal" form="unqualified" maxOccurs="1" minOccurs="1"
          name="decimal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemdouble" form="unqualified" maxOccurs="1" minOccurs="1"
          name="double">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="-179.76931348623157E+306"/>
            <xsd:maxInclusive value="179.76931348623157E+306"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemduration" form="unqualified" maxOccurs="1" minOccurs="1"
          name="duration">
        <xsd:simpleType>
          <xsd:restriction base="xsd:duration"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemENTITIES" form="unqualified" maxOccurs="1" minOccurs="1"
          name="ENTITIES">
        <xsd:simpleType>
          <xsd:restriction base="xsd:ENTITIES">
            <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemENTITY" form="unqualified" maxOccurs="1" minOccurs="1"
          name="ENTITY">
        <xsd:simpleType>
          <xsd:restriction base="xsd:ENTITY">
            <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemfloat" form="unqualified" maxOccurs="1" minOccurs="1"
          name="float">
        <xsd:simpleType>
          <xsd:restriction base="xsd:float">
            <xsd:minInclusive value="-340.28235E+36"/>
            <xsd:maxInclusive value="340.28235E+36"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgDay" form="unqualified" maxOccurs="1" minOccurs="1"
          name="gDay">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gDay">
            <xsd:pattern value="\-\-\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgMonth" form="unqualified" maxOccurs="1" minOccurs="1"
          name="gMonth">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gMonth">
            <xsd:pattern value="\-\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgMonthDay" form="unqualified" maxOccurs="1" minOccurs="1"
          name="gMonthDay">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gMonthDay">
            <xsd:pattern value="\-\-(0[1-9]|[1][0-2])\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgYear" form="unqualified" maxOccurs="1" minOccurs="1"
          name="gYear">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gYear">
            <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemgYearMonth" form="unqualified" maxOccurs="1" minOccurs="1"
          name="gYearMonth">
        <xsd:simpleType>
          <xsd:restriction base="xsd:gYearMonth">
            <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemhexBinary" form="unqualified" maxOccurs="1" minOccurs="1"
          name="hexBinary">
        <xsd:simpleType>
          <xsd:restriction base="xsd:hexBinary">
            <xsd:pattern value="([0-9a-fA-F][0-9a-fA-F])*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemID" form="unqualified" maxOccurs="1" minOccurs="1" name="ID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:ID">
            <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemIDREF" form="unqualified" maxOccurs="1" minOccurs="1"
          name="IDREF">
        <xsd:simpleType>
          <xsd:restriction base="xsd:IDREF">
            <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemIDREFS" form="unqualified" maxOccurs="1" minOccurs="1"
          name="IDREFS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:IDREFS">
            <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemint" form="unqualified" maxOccurs="1" minOccurs="1"
          name="int">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpIteminteger" form="unqualified" maxOccurs="1" minOccurs="1"
          name="integer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemlanguage" form="unqualified" maxOccurs="1" minOccurs="1"
          name="language">
        <xsd:simpleType>
          <xsd:restriction base="xsd:language">
            <xsd:pattern value="([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemlong" form="unqualified" maxOccurs="1" minOccurs="1"
          name="long">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="-9223372036854775808"/>
            <xsd:maxInclusive value="9223372036854775807"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemName" form="unqualified" maxOccurs="1" minOccurs="1"
          name="Name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:Name">
            <xsd:pattern value="\i\c*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemNCName" form="unqualified" maxOccurs="1" minOccurs="1"
          name="NCName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NCName">
            <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnegativeInteger" form="unqualified" maxOccurs="1" minOccurs="1"
          name="negativeInteger">
        <xsd:simpleType>
          <xsd:restriction base="xsd:negativeInteger">
            <xsd:maxInclusive value="-1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemNMTOKEN" form="unqualified" maxOccurs="1" minOccurs="1"
          name="NMTOKEN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKEN">
            <xsd:pattern value="\c+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemNMTOKENS" form="unqualified" maxOccurs="1" minOccurs="1"
          name="NMTOKENS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:NMTOKENS">
            <xsd:pattern value="\c+( \c+)*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnonNegativeInteger" form="unqualified" maxOccurs="1"
          minOccurs="1" name="nonNegativeInteger">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnonPositiveInteger" form="unqualified" maxOccurs="1"
          minOccurs="1" name="nonPositiveInteger">
        <xsd:simpleType>
          <xsd:restriction base="xsd:nonPositiveInteger">
            <xsd:maxInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemnormalizedString" form="unqualified" maxOccurs="1" minOccurs="1"
          name="normalizedString">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItempositiveInteger" form="unqualified" maxOccurs="1" minOccurs="1"
          name="positiveInteger">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemQName" form="unqualified" maxOccurs="1" minOccurs="1"
          name="QName">
        <xsd:simpleType>
          <xsd:restriction base="xsd:QName">
            <xsd:pattern value="([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemshort" form="unqualified" maxOccurs="1" minOccurs="1"
          name="short">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="-32768"/>
            <xsd:maxInclusive value="32767"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemstring" form="unqualified" maxOccurs="1" minOccurs="1"
          name="string">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemtime" form="unqualified" maxOccurs="1" minOccurs="1"
          name="time">
        <xsd:simpleType>
          <xsd:restriction base="xsd:time"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemtoken" form="unqualified" maxOccurs="1" minOccurs="1"
          name="token">
        <xsd:simpleType>
          <xsd:restriction base="xsd:token">
            <xsd:pattern value="\c+([ ]\c+)*"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemunsignedByte" form="unqualified" maxOccurs="1" minOccurs="1"
          name="unsignedByte">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedByte">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemunsignedInt" form="unqualified" maxOccurs="1" minOccurs="1"
          name="unsignedInt">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="4294967295"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemunsignedLong" form="unqualified" maxOccurs="1" minOccurs="1"
          name="unsignedLong">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedLong">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="18446744073709551615"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="tmpItemunsignedShort" form="unqualified" maxOccurs="1" minOccurs="1"
          name="unsignedShort">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedShort">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="65535"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="anyURI" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="boolean" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="byte" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:byte">
        <xsd:minInclusive value="-128"/>
        <xsd:maxInclusive value="127"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="date" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="dateTime" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="decimal" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="double" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:double">
        <xsd:minInclusive value="-179.76931348623157E+306"/>
        <xsd:maxInclusive value="179.76931348623157E+306"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="duration" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:duration"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="ENTITIES" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:ENTITIES">
        <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="ENTITY" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:ENTITY">
        <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="float" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:float">
        <xsd:minInclusive value="-340.28235E+36"/>
        <xsd:maxInclusive value="340.28235E+36"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="gDay" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gDay">
        <xsd:pattern value="\-\-\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="gMonth" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gMonth">
        <xsd:pattern value="\-\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="gMonthDay" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gMonthDay">
        <xsd:pattern value="\-\-(0[1-9]|[1][0-2])\-(0[1-9]|[12][0-9]|3[01])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="gYear" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gYear">
        <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="gYearMonth" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gYearMonth">
        <xsd:pattern value="(\-\d{4,}|\d{4,})(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))\-(0[1-9]|[1][0-2])(|Z|[+-](0[0-9]|[1][0-3]):(0[0-9]|[12345][0-9]))"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="hexBinary" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:hexBinary">
        <xsd:pattern value="([0-9a-fA-F][0-9a-fA-F])*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="ID" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:ID">
        <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="IDREF" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:IDREF">
        <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="IDREFS" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:IDREFS">
        <xsd:pattern value="[\i-[:]][\c-[:]]*( [\i-[:]][\c-[:]]*)*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="int" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="integer" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="language" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:language">
        <xsd:pattern value="([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="long" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:long">
        <xsd:minInclusive value="-9223372036854775808"/>
        <xsd:maxInclusive value="9223372036854775807"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="Name" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:Name">
        <xsd:pattern value="\i\c*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="NCName" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:NCName">
        <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="negativeInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:negativeInteger">
        <xsd:maxInclusive value="-1"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="NMTOKEN" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKEN">
        <xsd:pattern value="\c+"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="NMTOKENS" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS">
        <xsd:pattern value="\c+( \c+)*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="nonNegativeInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:nonNegativeInteger">
        <xsd:minInclusive value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="nonPositiveInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:nonPositiveInteger">
        <xsd:maxInclusive value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="normalizedString" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:normalizedString">
        <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="positiveInteger" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:positiveInteger">
        <xsd:minInclusive value="1"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="QName" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:QName">
        <xsd:pattern value="([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="short" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:short">
        <xsd:minInclusive value="-32768"/>
        <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="string" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="time" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:time"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="token" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:pattern value="\c+([ ]\c+)*"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="unsignedByte" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:unsignedByte">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="255"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="unsignedInt" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:unsignedInt">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="4294967295"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="unsignedLong" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:unsignedLong">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="18446744073709551615"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="unsignedShort" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:unsignedShort">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="65535"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>