tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE09_NestedAnonymousTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM_TLE09_NestedAnonymousTypes" xmlns:tns1="http://www.example.org/XSDBOM_TLE09_NestedAnonymousTypes"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM_TLE09_NestedAnonymousTypes">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/testre/Business Objects/XSDBOM_TLE09_NestedAnonymousTypes.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="AnonymousNested" nillable="false">
    <xsd:complexType id="org.example.xsdbo.m.tle0._9.nested.anonymous.types_AnonymousNestedType"
        mixed="false">
      <xsd:sequence>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="address">
          <xsd:complexType id="org.example.xsdbo.m.tle0._9.nested.anonymous.types_addressType"
              mixed="false">
            <xsd:sequence>
              <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="firstline">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="city">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="country">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="topElement" nillable="false">
    <xsd:complexType id="org.example.xsdbo.m.tle0._9.nested.anonymous.types_topElementType"
        mixed="false">
      <xsd:sequence>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="name">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AnonymousNested2" nillable="false">
    <xsd:complexType id="org.example.xsdbo.m.tle0._9.nested.anonymous.types_AnonymousNested2Type"
        mixed="false">
      <xsd:sequence>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="address">
          <xsd:complexType id="org.example.xsdbo.m.tle0._9.nested.anonymous.types_address_elemType"
              mixed="false">
            <xsd:sequence>
              <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="firstline">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="city">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="country">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>