tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE17_InvalidCharsInTargetNamespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.tibco.com/xml/DOMM20Cambio20Prodotto20Input" xmlns:tns1="http://www.tibco.com/xml/DOMM20Cambio20Prodotto20Input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.tibco.com/xml/DOMM20Cambio20Prodotto20Input">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/gfdgdf/Business Objects/XSDBOM_TLE17_InvalidCharsInTargetNamespace.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="com.tibco.xml.domm._20.cambio._20.prodotto._20.input_GenericOutputIOTopElmt"
      abstract="false" mixed="false" name="GenericOutputIOTopElmt">
    <xsd:sequence>
      <xsd:element id="GenericOutputIOTopElmt_GenericOutputIO_" form="qualified" maxOccurs="1"
          minOccurs="1" name="GenericOutputIO" type="GenericOutputIO"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="com.tibco.xml.domm._20.cambio._20.prodotto._20.input_GenericOutputIO_type"
      abstract="false" mixed="false" name="GenericOutputIO">
    <xsd:sequence>
      <xsd:element id="GenericOutputIO_type_GenericOutputIC" form="qualified" maxOccurs="unbounded"
          minOccurs="0" name="GenericOutputIC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="GenericOutputIO" nillable="false" type="GenericOutputIO"/>
</xsd:schema>