tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/gold/wizard/XSDBOM_TLE11_ComplexRootElementReference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM_TLE11_ComplexRootElementReference" xmlns:tns1="http://www.example.org/XSDBOM_TLE11_ComplexRootElementReference"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM_TLE11_ComplexRootElementReference">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/testre/Business Objects/XSDBOM_TLE11_ComplexRootElementReference.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="org.example.xsdbo.m.tle1._1.complex.root.element.reference_Person"
      abstract="false" mixed="false" name="Person">
    <xsd:sequence>
      <xsd:element id="Person_surname" form="qualified" maxOccurs="1" minOccurs="1"
          name="surname">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType id="org.example.xsdbo.m.tle1._1.complex.root.element.reference_Child"
      abstract="false" mixed="false" name="Child">
    <xsd:sequence>
      <xsd:element id="_388OINHsEd-wRoL9KaHo9A" maxOccurs="1" minOccurs="1" ref="surname"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="surname" nillable="false">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element abstract="false" name="PersonElem" nillable="false" type="Person"/>
  <xsd:element abstract="false" name="BusDriver" nillable="false">
    <xsd:complexType id="org.example.xsdbo.m.tle1._1.complex.root.element.reference_BusDriverType"
        mixed="false">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" ref="PersonElem"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>