tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/MIND_GestioneBeni/Service Descriptors/GestioneBeniv2ServiceConcrete.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.it/mercato/libero/schema/presentation/gestionebeni.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/service/bpm/GestioneBeni" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/bpm/GestioneBeni" tibex:src="file:/D:/Documenti%20ENEL/WSDL%20TEST/GestioneBeniv2ServiceConcrete.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.enel.it/mercato/libero/schema/presentation/gestionebeni.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.enel.it/mercato/libero/schema/presentation/gestionebeni.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="AggiornamentoTempiRipensamentoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IdBpm">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="32"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Giorni_Ripensamento" type="xs:int"/>
                        <xs:element name="IdOrdine" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="32"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AggiornamentoTempiRipensamentoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="esito" type="xs:string"/>
                        <xs:element name="codiceEsito" type="xs:string" minOccurs="0"/>
                        <xs:element name="descrizioneEsito" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AreaGeografica">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AttivazioneRateizzoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:TipoOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:CausaleOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:TipoFlusso" minOccurs="0"/>
                        <xs:element ref="ns0:IdOrdineFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaFO" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceClienteCRM" minOccurs="0"/>
                        <xs:element ref="ns0:ChiaveUnivocaBeneCRM" minOccurs="0"/>
                        <xs:element name="idBPM" type="xs:string" minOccurs="0"/>
                        <xs:element name="NomeFinanziaria" type="xs:string" minOccurs="0"/>
                        <xs:element name="DurataFinanziamento" type="xs:int" minOccurs="0"/>
                        <xs:element name="DataFinanziamento" type="xs:date" minOccurs="0"/>
                        <xs:element name="TotaleFinanziato" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="IDPraticaFinanziamento" type="xs:string" minOccurs="0"/>
                        <xs:element name="FrequenzaRate" type="xs:int" minOccurs="0"/>
                        <xs:element name="ImportoInteressi" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="ImportoInteressiRata" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="ImportoInteressiScontare" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="ImportoRataSenzaInteressi" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="SpeseComunicazione" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="ImportoBolloSuContratto" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="ImpostaBolloSuEstrattoContoAnnuale" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="DataScadenzaPrimaRata" type="xs:date" minOccurs="0"/>
                        <xs:element name="DataScadenzaAttesaRateizzo" type="xs:date" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AttributoProdotto">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="18"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AvanzamentoStatoBeneRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TipoEsito">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="100"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Esito">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="2"/>
                                    <xs:minLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CodiceEsito" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DescrizioneEsito" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="0"/>
                                    <xs:maxLength value="200"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DataEvento">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IdentificativoBene" type="xs:string"/>
                        <xs:element name="IdGateway" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CausaleEsito" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DataInstPostRip" type="xs:date" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AvanzamentoStatoBeneResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Esito" type="xs:string"/>
                        <xs:element name="Codice" type="xs:string" minOccurs="0"/>
                        <xs:element name="Descrizione" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Bye_CodiceVAS">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Bye_DataAdesione">
                <xs:simpleType>
                    <xs:restriction base="xs:date"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Bye_DataAttivazione">
                <xs:simpleType>
                    <xs:restriction base="xs:date"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Bye_NumeroContratto">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Bye_NumeroPratica">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Bye_NumeroUtentePDR">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Bye_TipoDocumento">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CDM_Cliente">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CDM_IdFatturazione">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CDM_IndirizzoFatturazione">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CDM_Prodotto" type="xs:string"/>
            <xs:element name="CDM_VAS">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CRMCanale" type="xs:string"/>
            <xs:element name="CVPCanale" type="xs:string"/>
            <xs:element name="CVPSistema" type="xs:string"/>
            <xs:element name="Canale">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CarattDeterConti">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Causale">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CausaleOperazione">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Cellulare">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ChiaveUnivocaBeneCRM">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Codice">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CodiceClienteCRM">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CodiceContrattoVAS" type="xs:string"/>
            <xs:element name="CodicePartner">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CodiceProdotto">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="18"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Cognome">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Commodity">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CondizioniPagamento">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ConsegnaManuale">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CorrelationId" type="xs:string"/>
            <xs:element name="DataRichiestaConsegna">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DatiIndirizzo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:via" minOccurs="0"/>
                        <xs:element ref="ns0:civico" minOccurs="0"/>
                        <xs:element ref="ns0:cap" minOccurs="0"/>
                        <xs:element ref="ns0:comune" minOccurs="0"/>
                        <xs:element ref="ns0:provincia" minOccurs="0"/>
                        <xs:element ref="ns0:titolo" minOccurs="0"/>
                        <xs:element ref="ns0:presso" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DatiInstallatore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Codice" minOccurs="0"/>
                        <xs:element ref="ns0:RagioneSociale" minOccurs="0"/>
                        <xs:element ref="ns0:Nome" minOccurs="0"/>
                        <xs:element ref="ns0:Cognome" minOccurs="0"/>
                        <xs:element ref="ns0:AreaGeografica" minOccurs="0"/>
                        <xs:element ref="ns0:Email" minOccurs="0"/>
                        <xs:element ref="ns0:Telefono" minOccurs="0"/>
                        <xs:element ref="ns0:Cellulare" minOccurs="0"/>
                        <xs:element ref="ns0:DatiIndirizzo" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Descrizione">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ESITO">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Esito" minOccurs="0"/>
                        <xs:element ref="ns0:Codice" minOccurs="0"/>
                        <xs:element ref="ns0:Descrizione" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Email">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="241"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Esito">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Flag_CVP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Flag_StandAlone">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="GestioneBeniRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:TipoOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:CausaleOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:TipoFlusso" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceClienteCRM" minOccurs="0"/>
                        <xs:element ref="ns0:ChiaveUnivocaBeneCRM" minOccurs="0"/>
                        <xs:element ref="ns0:IdOrdineFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdCaseFatturazioneFO" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:AttributoProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:QuantitaProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:DataRichiestaConsegna" minOccurs="0"/>
                        <xs:element ref="ns0:DatiInstallatore" minOccurs="0"/>
                        <xs:element ref="ns0:IdPraticaFinanziamento" minOccurs="0"/>
                        <xs:element ref="ns0:OrderStatus" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaIPE" minOccurs="0"/>
                        <xs:element ref="ns0:SistemaRichiedente" minOccurs="0"/>
                        <xs:element ref="ns0:Canale" minOccurs="0"/>
                        <xs:element ref="ns0:Pod" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_VAS" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_Cliente" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_IdFatturazione" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_IndirizzoFatturazione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroContratto" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroPratica" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroUtentePDR" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_DataAttivazione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_DataAdesione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_TipoDocumento" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_CodiceVAS" minOccurs="0"/>
                        <xs:element ref="ns0:CarattDeterConti" minOccurs="0"/>
                        <xs:element ref="ns0:CondizioniPagamento" minOccurs="0"/>
                        <xs:element ref="ns0:Commodity" minOccurs="0"/>
                        <xs:element ref="ns0:SistemaOrigineDati" minOccurs="0"/>
                        <xs:element ref="ns0:NumeroUtente" minOccurs="0"/>
                        <xs:element ref="ns0:ImportoTotale" minOccurs="0"/>
                        <xs:element ref="ns0:ConsegnaManuale" minOccurs="0"/>
                        <xs:element ref="ns0:Flag_CVP" minOccurs="0"/>
                        <xs:element ref="ns0:Flag_StandAlone" minOccurs="0"/>
                        <xs:element name="GiorniRipensamento" type="xs:integer" minOccurs="0"/>
                        <xs:element ref="ns0:CodicePartner" minOccurs="0"/>
                        <xs:element ref="ns0:TripBusinessPartner" minOccurs="0"/>
                        <xs:element ref="ns0:TripContoContr" minOccurs="0"/>
                        <xs:element ref="ns0:TripContrattoSap" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GestioneBeniRequestV2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:TipoOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:CausaleOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:TipoFlusso" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceClienteCRM" minOccurs="0"/>
                        <xs:element ref="ns0:ChiaveUnivocaBeneCRM" minOccurs="0"/>
                        <xs:element ref="ns0:IdOrdineFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdCaseFatturazioneFO" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:AttributoProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:QuantitaProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:DataRichiestaConsegna" minOccurs="0"/>
                        <xs:element ref="ns0:DatiInstallatore" minOccurs="0"/>
                        <xs:element ref="ns0:IdPraticaFinanziamento" minOccurs="0"/>
                        <xs:element ref="ns0:OrderStatus" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaIPE" minOccurs="0"/>
                        <xs:element ref="ns0:SistemaRichiedente" minOccurs="0"/>
                        <xs:element ref="ns0:Canale" minOccurs="0"/>
                        <xs:element ref="ns0:Pod" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_VAS" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_Cliente" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_IdFatturazione" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_IndirizzoFatturazione" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_Prodotto" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroContratto" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroPratica" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroUtentePDR" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_DataAttivazione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_DataAdesione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_TipoDocumento" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_CodiceVAS" minOccurs="0"/>
                        <xs:element ref="ns0:CarattDeterConti" minOccurs="0"/>
                        <xs:element ref="ns0:CondizioniPagamento" minOccurs="0"/>
                        <xs:element ref="ns0:Commodity" minOccurs="0"/>
                        <xs:element ref="ns0:SistemaOrigineDati" minOccurs="0"/>
                        <xs:element ref="ns0:NumeroUtente" minOccurs="0"/>
                        <xs:element ref="ns0:ImportoTotale" minOccurs="0"/>
                        <xs:element ref="ns0:ConsegnaManuale" minOccurs="0"/>
                        <xs:element ref="ns0:Flag_CVP" minOccurs="0"/>
                        <xs:element ref="ns0:Flag_StandAlone" minOccurs="0"/>
                        <xs:element ref="ns0:GiorniRipensamento" minOccurs="0"/>
                        <xs:element ref="ns0:CodicePartner" minOccurs="0"/>
                        <xs:element ref="ns0:TripBusinessPartner" minOccurs="0"/>
                        <xs:element ref="ns0:TripContoContr" minOccurs="0"/>
                        <xs:element ref="ns0:TripContrattoSap" minOccurs="0"/>
                        <xs:element ref="ns0:StartWS" minOccurs="0"/>
                        <xs:element ref="ns0:NecEmailCliente" minOccurs="0"/>
                        <xs:element ref="ns0:NecNotificaCliente" minOccurs="0"/>
                        <xs:element ref="ns0:CVPCanale" minOccurs="0"/>
                        <xs:element ref="ns0:CVPSistema" minOccurs="0"/>
                        <xs:element ref="ns0:flagInstallazione" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceContrattoVAS" minOccurs="0"/>
                        <xs:element ref="ns0:CRMCanale" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GestioneBeniResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:IdBPM" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GiorniRipensamento">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IdBPM">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IdCaseFatturazioneFO">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IdOrdineFO">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IdPraticaFinanziamento">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IdRichiestaFO">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IdRichiestaIPE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ImportoTotale">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IncassoFatturaVenditaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ChiaveUnivocaCRM">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="30"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IdRichiestaFO">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="15"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CausaleBonifico">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="282"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CheckCausaleSAP">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ImportoBonifico">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="PercentualeBonifico">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DataValuta" type="xs:date"/>
                        <xs:element name="IdFatturaSd" type="xs:string"/>
                        <xs:element name="IdFinanziamento" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IncassoFatturaVenditaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Esito" type="xs:string"/>
                        <xs:element name="Codice" type="xs:string" minOccurs="0"/>
                        <xs:element name="Descrizione" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NecEmailCliente" type="xs:string"/>
            <xs:element name="NecNotificaCliente" type="xs:string"/>
            <xs:element name="Nome">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="NotificaFatturaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:ESITO" minOccurs="0"/>
                        <xs:element name="Fattura" type="xs:string" minOccurs="0"/>
                        <xs:element name="TipoOperazione" type="xs:string" minOccurs="0"/>
                        <xs:element name="Causale" type="xs:string" minOccurs="0"/>
                        <xs:element name="TipoFlusso" type="xs:string" minOccurs="0"/>
                        <xs:element name="IdProtocollo" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="13"/>
                                    <xs:fractionDigits value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DataEmissione" type="xs:date" minOccurs="0"/>
                        <xs:element name="DataConsegna" type="xs:date" minOccurs="0"/>
                        <xs:element name="NumeroFattura" type="xs:string" minOccurs="0"/>
                        <xs:element name="ImportoFattura" type="xs:string" minOccurs="0"/>
                        <xs:element name="ImportoNetto" type="xs:string" minOccurs="0"/>
                        <xs:element name="ImportoIva" type="xs:string" minOccurs="0"/>
                        <xs:element name="IdDocumentoStampa" type="xs:string" minOccurs="0"/>
                        <xs:element name="IdOrdineSAP" type="xs:string" minOccurs="0"/>
                        <xs:element name="IdRichiesta" type="xs:string" minOccurs="0"/>
                        <xs:element ref="ns0:CorrelationId" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NotificaStepConsegnaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:CorrelationId" minOccurs="0"/>
                        <xs:element name="Numerodtt" type="xs:string" minOccurs="0"/>
                        <xs:element name="TimeStampRicezione" type="xs:date" minOccurs="0"/>
                        <xs:element ref="ns0:ESITO" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NumeroUtente">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="OrderStatus">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Pod">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="QuantitaProdotto">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="18"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RagioneSociale">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ReceiveTaskAnnullamentoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:CorrelationId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReceiveTaskEsitoISU">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:CorrelationId"/>
                        <xs:element ref="ns0:Esito" minOccurs="0"/>
                        <xs:element ref="ns0:Codice" minOccurs="0"/>
                        <xs:element ref="ns0:Descrizione" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReceiveTaskRilavorazioneResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:CorrelationId"/>
                        <xs:element ref="ns0:TipoOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:CausaleOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:TipoFlusso" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceClienteCRM" minOccurs="0"/>
                        <xs:element ref="ns0:ChiaveUnivocaBeneCRM" minOccurs="0"/>
                        <xs:element ref="ns0:IdOrdineFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdCaseFatturazioneFO" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:AttributoProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:QuantitaProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:DataRichiestaConsegna" minOccurs="0"/>
                        <xs:element ref="ns0:DatiInstallatore" minOccurs="0"/>
                        <xs:element ref="ns0:IdPraticaFinanziamento" minOccurs="0"/>
                        <xs:element ref="ns0:OrderStatus" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaIPE" minOccurs="0"/>
                        <xs:element ref="ns0:SistemaRichiedente" minOccurs="0"/>
                        <xs:element ref="ns0:Canale" minOccurs="0"/>
                        <xs:element ref="ns0:Pod" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_VAS" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_Cliente" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_IdFatturazione" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_IndirizzoFatturazione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroContratto" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroPratica" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroUtentePDR" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_DataAttivazione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_DataAdesione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_TipoDocumento" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_CodiceVAS" minOccurs="0"/>
                        <xs:element ref="ns0:CarattDeterConti" minOccurs="0"/>
                        <xs:element ref="ns0:CondizioniPagamento" minOccurs="0"/>
                        <xs:element ref="ns0:Commodity" minOccurs="0"/>
                        <xs:element ref="ns0:SistemaOrigineDati" minOccurs="0"/>
                        <xs:element ref="ns0:NumeroUtente" minOccurs="0"/>
                        <xs:element ref="ns0:ImportoTotale" minOccurs="0"/>
                        <xs:element ref="ns0:ConsegnaManuale" minOccurs="0"/>
                        <xs:element ref="ns0:Flag_CVP" minOccurs="0"/>
                        <xs:element ref="ns0:Flag_StandAlone" minOccurs="0"/>
                        <xs:element name="GiorniRipensamento" type="xs:integer" minOccurs="0"/>
                        <xs:element ref="ns0:CodicePartner" minOccurs="0"/>
                        <xs:element ref="ns0:TripBusinessPartner" minOccurs="0"/>
                        <xs:element ref="ns0:TripContoContr" minOccurs="0"/>
                        <xs:element ref="ns0:TripContrattoSap" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReceiveTaskRisveglio">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:TipoOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:CausaleOperazione" minOccurs="0"/>
                        <xs:element ref="ns0:TipoFlusso" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceClienteCRM" minOccurs="0"/>
                        <xs:element ref="ns0:ChiaveUnivocaBeneCRM" minOccurs="0"/>
                        <xs:element ref="ns0:IdOrdineFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaFO" minOccurs="0"/>
                        <xs:element ref="ns0:IdCaseFatturazioneFO" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:AttributoProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:QuantitaProdotto" minOccurs="0"/>
                        <xs:element ref="ns0:DataRichiestaConsegna" minOccurs="0"/>
                        <xs:element ref="ns0:DatiInstallatore" minOccurs="0"/>
                        <xs:element ref="ns0:IdPraticaFinanziamento" minOccurs="0"/>
                        <xs:element ref="ns0:OrderStatus" minOccurs="0"/>
                        <xs:element ref="ns0:IdRichiestaIPE" minOccurs="0"/>
                        <xs:element ref="ns0:SistemaRichiedente" minOccurs="0"/>
                        <xs:element ref="ns0:Canale" minOccurs="0"/>
                        <xs:element ref="ns0:Pod" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_VAS" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_Cliente" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_IdFatturazione" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_IndirizzoFatturazione" minOccurs="0"/>
                        <xs:element ref="ns0:CDM_Prodotto" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroContratto" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroPratica" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_NumeroUtentePDR" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_DataAttivazione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_DataAdesione" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_TipoDocumento" minOccurs="0"/>
                        <xs:element ref="ns0:Bye_CodiceVAS" minOccurs="0"/>
                        <xs:element ref="ns0:CarattDeterConti" minOccurs="0"/>
                        <xs:element ref="ns0:CondizioniPagamento" minOccurs="0"/>
                        <xs:element ref="ns0:Commodity" minOccurs="0"/>
                        <xs:element ref="ns0:SistemaOrigineDati" minOccurs="0"/>
                        <xs:element ref="ns0:NumeroUtente" minOccurs="0"/>
                        <xs:element ref="ns0:ImportoTotale" minOccurs="0"/>
                        <xs:element ref="ns0:ConsegnaManuale" minOccurs="0"/>
                        <xs:element ref="ns0:Flag_CVP" minOccurs="0"/>
                        <xs:element ref="ns0:Flag_StandAlone" minOccurs="0"/>
                        <xs:element ref="ns0:GiorniRipensamento" minOccurs="0"/>
                        <xs:element ref="ns0:CodicePartner" minOccurs="0"/>
                        <xs:element ref="ns0:IdBPM" minOccurs="0"/>
                        <xs:element ref="ns0:TripBusinessPartner" minOccurs="0"/>
                        <xs:element ref="ns0:TripContoContr" minOccurs="0"/>
                        <xs:element ref="ns0:TripContrattoSap" minOccurs="0"/>
                        <xs:element ref="ns0:CVPCanale" minOccurs="0"/>
                        <xs:element ref="ns0:CVPSistema" minOccurs="0"/>
                        <xs:element ref="ns0:flagInstallazione" minOccurs="0"/>
                        <xs:element ref="ns0:CodiceContrattoVAS" minOccurs="0"/>
                        <xs:element ref="ns0:CRMCanale" minOccurs="0"/>
                        <xs:element ref="ns0:CorrelationId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SistemaOrigineDati">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SistemaRichiedente">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="StartWS" type="xs:string"/>
            <xs:element name="Telefono">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TipoFlusso">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TipoOperazione">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TripBusinessPartner">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TripContoContr">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TripContrattoSap">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cap">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="civico">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="comune">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flagInstallazione" type="xs:string"/>
            <xs:element name="presso">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="provincia">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="titolo">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="via">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="60"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:schema>

    </wsdl:types>
    <wsdl:service name="GestioneBeniBPMService_v2">
        <wsdl:port binding="tns:GestioneBeniPortTypeV2Endpoint1Binding" name="GestioneBeniPortTypeV2Endpoint1">
            <soap:address location="http://localhost:9999/mercato/libero/service/bpm/v2_gestionebeni"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="GestioneBeniPortTypeV2">
        <wsdl:operation name="ReceiveTaskRisveglio">
            <wsdl:input message="tns:ReceiveTaskRisveglioReq"/>
        </wsdl:operation>
        <wsdl:operation name="GestioneBeniStart_V2">
            <wsdl:input message="tns:GestioneBeniRequest_v2"/>
            <wsdl:output message="tns:GestioneBeniResponse_v2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GestioneBeniPortTypeV2Endpoint1Binding" type="tns:GestioneBeniPortTypeV2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveTaskRisveglio">
            <soap:operation soapAction="/Processes/GestioneBeni/GestioneBeniBPMService_v2.serviceagent//ReceiveTaskRisveglio" style="document"/>
            <wsdl:input>
                <soap:body parts="part1" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GestioneBeniStart_V2">
            <soap:operation soapAction="GestioneBeniStart_V2" style="document"/>
            <wsdl:input>
                <soap:body parts="part1" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="part1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ReceiveTaskRisveglioReq">
        <wsdl:part element="ns0:ReceiveTaskRisveglio" name="part1"/>
    </wsdl:message>
    <wsdl:message name="GestioneBeniRequest_v2">
        <wsdl:part element="ns0:GestioneBeniRequestV2" name="part1"/>
    </wsdl:message>
    <wsdl:message name="GestioneBeniResponse_v2">
        <wsdl:part element="ns0:GestioneBeniResponse" name="part1"/>
    </wsdl:message>
</wsdl:definitions>
