tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/wsdl/gold/builder/org.example.NewWSDLFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/NewWSDLFile/" xmlns:tns1="http://www.example.org/NewWSDLFile/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns3="http://www.example.org/NewWSDLFile2/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFile/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/abc/Generated Business Objects/org.example.NewWSDLFile.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.example.org/NewWSDLFile2/" schemaLocation="org.example.NewWSDLFile2.xsd"/>
  <xsd:complexType ecore:name="CustomerInfo_Type" id="org.example.NewWSDLFileCustomerInfo_Type"
      abstract="false" mixed="false" name="CustomerInfo_Type">
    <xsd:sequence>
      <xsd:element ecore:name="extendedAccountInfoList" id="CustomerInfo_TypeextendedAccountInfoList"
          maxOccurs="1" minOccurs="0" ref="tns3:extendedAccountInfoList"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="NewOperation" nillable="false">
    <xsd:complexType ecore:name="NewOperationType" id="org.example.NewWSDLFileNewOperationType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationResponse" nillable="false">
    <xsd:complexType ecore:name="NewOperationResponseType" id="org.example.NewWSDLFileNewOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>