tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/migrated/XSDOne/XSDTwo/impTwo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/impTwo" xmlns:tns="http://www.example.org/impTwo" elementFormDefault="qualified">


<xsd:complexType name="cType">

<xsd:sequence>
<xsd:element name="el1" type="xsd:string"/>

<xsd:element name="el2" type="xsd:string"/>

</xsd:sequence>
</xsd:complexType>
</xsd:schema>