tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM41_TLEAndCompTypeSameNameExtAnotherClassTest/gold/builder/org.example.SchemaWithTLEAndCompTypeExtSameBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/SchemaWithTLEAndCompTypeExtSameBase" xmlns:tns2="http://www.example.org/SchemaWithTLEAndCompTypeExtSameBase"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SchemaWithTLEAndCompTypeExtSameBase">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/OtherIssue/Generated Business Objects/org.example.SchemaWithTLEAndCompTypeExtSameBase.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Success" id="org.example.SchemaWithTLEAndCompTypeExtSameBaseSuccess"
      abstract="false" mixed="false" name="Success">
    <xsd:attribute ecore:name="isSuccessful" id="SuccessisSuccessful" form="unqualified"
        name="isSuccessful" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="workResponseType" id="org.example.SchemaWithTLEAndCompTypeExtSameBaseworkResponseType"
      abstract="false" mixed="false" name="workResponseType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns2:Success">
        <xsd:sequence>
          <xsd:element ecore:name="payloadModel" id="workResponseTypepayloadModel"
              form="qualified" maxOccurs="1" minOccurs="0" name="payloadModel" nillable="true"
              type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="workResponse" nillable="false">
    <xsd:complexType ecore:name="workResponseType1">
      <xsd:complexContent mixed="false">
        <xsd:extension base="Success">
          <xsd:sequence>
            <xsd:element ecore:name="payloadModel" id="workResponseTypepayloadModel2"
                form="qualified" maxOccurs="1" minOccurs="0" name="payloadModel" nillable="true"
                type="xsd:string"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>