tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/WSEndPointRequiredTest/XPD935/Service Descriptors/TestWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TestWsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestWsdl" targetNamespace="http://www.example.org/TestWsdl/">
  <wsdl:message name="NewOperationRequest">
    <wsdl:part name="NewOperationRequest" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part name="NewOperationResponse" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="CheckCreditRequest">
  	<wsdl:part name="creditAccountNum" type="xsd:int"></wsdl:part>
  	<wsdl:part name="creditBalance" type="xsd:float"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CheckCreditResponse">
  	<wsdl:part name="CheckCreditResponse" type="xsd:boolean"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestWsdl">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CheckCredit">
    	<wsdl:input message="tns:CheckCreditRequest"></wsdl:input>
    	<wsdl:output message="tns:CheckCreditResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWsdlSOAP" type="tns:TestWsdl">
  	<soap:binding style="rpc"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="NewOperation">
  		<soap:operation
  			soapAction="http://www.example.org/TestWsdl/NewOperation" />
  		<wsdl:input>
  			<soap:body namespace="http://www.example.org/TestWsdl/"
  				use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body namespace="http://www.example.org/TestWsdl/"
  				use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="CheckCredit">
  		<soap:operation
  			soapAction="http://www.example.org/TestWsdl/CheckCredit" />
  		<wsdl:input>
  			<soap:body use="literal"
  				namespace="http://www.example.org/TestWsdl/" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"
  				namespace="http://www.example.org/TestWsdl/" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWsdl">
    <wsdl:port binding="tns:TestWsdlSOAP" name="TestWsdlSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
