tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM51_BOMGenFor_XPD7132/gold/builder/org.example.MyWsdl1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/MyWsdl1/" xmlns:tns3="http://www.example.org/MyWsdl1/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://www.example.org/MySchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/MyWsdl1/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD7132/Generated Business Objects/org.example.MyWsdl1.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.example.org/MySchema" schemaLocation="org.example.MySchema.xsd"/>
  <xsd:element abstract="false" name="NewOperation" nillable="false">
    <xsd:complexType ecore:name="NewOperationType" id="org.example.MyWsdl1NewOperationType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
        <xsd:element ecore:name="product" maxOccurs="1" minOccurs="1" ref="tns2:Product"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationResponse" nillable="false">
    <xsd:complexType ecore:name="NewOperationResponseType" id="org.example.MyWsdl1NewOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>