tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/bom-xsd/WSDLBOM49_BOMGenTestForSourcesInDifferentFolders/Test_6062/Service Descriptors/XSDs/XSDOne/XSD1_Merge1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://www.example.org/XsdMain" targetNamespace="http://www.example.org/xsd1" xmlns:tns="http://www.example.org/xsd1" elementFormDefault="qualified">

	<import namespace="http://www.example.org/XsdMain" schemaLocation="../../XsdMain.xsd">
	</import>

    <complexType name="NEWMergedTypeFromMerge1">
    	<sequence>
    		<element name="e1" type="string"></element>
    	</sequence>
    </complexType>
	
    <complexType name="MergedTypeFromMerge1">
    	<sequence>
    		<element name="e1" type="string"></element>
    		<element name="e2" type="tns2:CompTypeInXSDMain"></element>
    	</sequence>
    </complexType>
</schema>