tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/wsdl/XSDBOM_TLE2_DeepImportTopLevelElements2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://XSDBOM_TLE2_DeepImportTopLevelElements2"
	 targetNamespace="http://XSDBOM_TLE2_DeepImportTopLevelElements2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="BookStore">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Book" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Book">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Title"/>
				<xsd:element ref="Author"/>
				<xsd:element ref="Date"/>
				<xsd:element ref="ISBN"/>
				<xsd:element ref="Publisher"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Title" type="xsd:string"/>
	<xsd:element name="Author" type="xsd:string"/>
	<xsd:element name="Date" type="xsd:string"/>
	<xsd:element name="ISBN" type="xsd:string"/>
	<xsd:element name="Publisher" type="xsd:string"/>
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Book"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>