tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/wsdl/XSDBOM_TLE4A_DependencyChecker.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:tns2="http://www.example.org/NewWSDLFile2/"
	xmlns:tns3="http://www.example.org/NewWSDLFile3/" xmlns:tns4="http://www.example.org/NewWSDLFile4/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile"
	targetNamespace="http://www.example.org/NewWSDLFile/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">
			<xsd:import namespace="http://www.example.org/NewWSDLFile2/"></xsd:import>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType abstract="false" mixed="false"
				name="CustomerInfo_Type">
				<xsd:sequence>
					<xsd:element id="_lrVmkGIZEeCIxINvXh3qAQ" maxOccurs="1"
						minOccurs="0" ref="tns2:extendedAccountInfoList" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile2/">
			<xsd:import namespace="http://www.example.org/NewWSDLFile3/"></xsd:import>
			<xsd:complexType abstract="false" mixed="false"
				name="ExtendedAccountInfoList_Type">
				<xsd:sequence>

				</xsd:sequence>
			</xsd:complexType>
			<xsd:element abstract="false" name="extendedAccountInfoList"
				nillable="false" type="tns2:ExtendedAccountInfoList_Type" />
			<xsd:element abstract="false" name="offerPreferences"
				nillable="false" type="tns3:FilterCriteria_Type" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile3/">
			<xsd:import namespace="http://www.example.org/NewWSDLFile4/"></xsd:import>
			<xsd:complexType abstract="false" mixed="false"
				name="FilterCriteria_Type">
				<xsd:sequence>
					<xsd:element name="testElem" type="tns4:MyClass"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile4/">
			<xsd:complexType abstract="false" mixed="false"
				name="MyClass">
				<xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>

	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="NewWSDLFile">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewWSDLFile">
		<wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
