tbs-bpm/AcceptanceTests/AMX-BPM/DataUseCases/ProjectsWithQualifier/ProcLocalBomSameProj/.bom2Xsd/com.example.proclocalbomsameproj.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/proclocalbomsameproj" xmlns:tns1="http://example.com/proclocalbomsameproj"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/proclocalbomsameproj">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/ProcLocalBomSameProj/Business Objects/ProcLocalBomSameProj.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="ProcLocalSameProj" id="_O6q94Fa9EeOt-7pcljj2fA" name="ProcLocalSameProj">
    <xsd:sequence>
      <xsd:element ecore:name="attribute1" id="_RAOVIFa9EeOt-7pcljj2fA" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcLocalSameProjElement" type="ProcLocalSameProj"/>
</xsd:schema>