tbs-bpm/tests/com.tibco.sce.bds.designtime.test.feature/plugins/com.tibco.sce.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/any/AnySimpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/AnySimpleTypes" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" targetNamespace="http://example.com/AnySimpleTypes">
	<xs:element name="myComplexType">
		<xs:complexType ecore:name="myComplexTypeType">
			<xs:sequence>
				<xs:element name="myAnySimpleType" type="xs:anySimpleType" ecore:name="myAnySimpleType"/>
				<xs:element name="myMultipleAnySimpleType" type="xs:anySimpleType" minOccurs="0" maxOccurs="5" ecore:name="myMultipleAnySimpleType"/>
				<xs:element name="myDefaultedAnySimpleType" type="xs:anySimpleType" default="Default String" ecore:name="myDefaultedAnySimpleType"/>
			</xs:sequence>
			<xs:attribute name="myAnySimpleTypeAttrib" type="xs:anySimpleType" ecore:name="myAnySimpleTypeAttrib"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="myAnySimpleTypeTLE" type="xs:anySimpleType" ecore:name="myAnySimpleTypeTLEType"/>
	<xs:attribute name="myAnySimpleTypeTLAttrib" type="xs:anySimpleType" ecore:name="myAnySimpleTypeTLAttrib"/>
</xs:schema>
