tbs-bpm/AcceptanceTests/AMX-BPM/DataUseCases/ProjectsWithQualifier/LocalBomProjRefBDProj/.bom2Xsd/com.example.localbomprojrefbdproj.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/localbomprojrefbdproj" xmlns:tns1="http://example.com/localbomprojrefbdproj"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://example.com/firstbizdataproj"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/localbomprojrefbdproj">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/LocalBomProjRefBDProj/Business Objects/LocalBomProjRefBDProj.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://example.com/firstbizdataproj" schemaLocation="com.example.firstbizdataproj.xsd"/>
  <xsd:complexType ecore:name="Person" id="_j0BjsFOOEeOydMVTHmI6_w" name="Person">
    <xsd:sequence>
      <xsd:element ecore:name="id" id="_mnnFoFOOEeOydMVTHmI6_w" maxOccurs="1" minOccurs="0"
          name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="addr" id="_m5PBIFOOEeOydMVTHmI6_w" maxOccurs="1" minOccurs="0"
          name="addr" type="tns2:Address"/>
      <xsd:element ecore:name="name" id="_orqoEFOOEeOydMVTHmI6_w" maxOccurs="1" minOccurs="0"
          name="name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PersonElement" type="Person"/>
</xsd:schema>