tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC6BTLECaseDifferenceMatch/Service Descriptors/CaseDifferenceMatch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/CaseDifferenceMatch/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CaseDifferenceMatch" targetNamespace="http://www.example.org/CaseDifferenceMatch/">
    <wsdl:types>
		   <xs:schema xmlns="http://www.example.org/CaseDifferenceMatch/" targetNamespace="http://www.example.org/CaseDifferenceMatch/">
				<xs:complexType name="Car">
					<xs:sequence>
						<xs:element name="colour" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
				<xs:complexType name="Bus">
					<xs:sequence>
						<xs:element name="route" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
				
				<xs:complexType name="outputElements">
					<xs:sequence>
						<xs:element name="car" type="Bus"/>
						<xs:element name="bus" type="Bus"/>
						<xs:element name="myCAR" type="Car"/>
						<xs:element name="myCar" type="Car"/>
					</xs:sequence>
				</xs:complexType>
			</xs:schema>
	</wsdl:types>
    <wsdl:message name="getVehicleRequest">
		<wsdl:part name="myCar" type="tns:Car"></wsdl:part>
		<wsdl:part name="myCAR" type="tns:Car"></wsdl:part>
		<wsdl:part name="car" type="tns:Bus"></wsdl:part>
		<wsdl:part name="bus" type="tns:Bus"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVehicleResponse">
    	<wsdl:part name="outputEl" type="tns:outputElements"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CaseDiffMatchPortType">
    	<wsdl:operation name="getVehicle">
    		<wsdl:input message="tns:getVehicleRequest"></wsdl:input>
    		<wsdl:output message="tns:getVehicleResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType></wsdl:definitions>
