tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.wsdlgen.test/resources/DocLitReqActsSimpAndBOMtypes/DocLitWsdlGen/Service Descriptors/UsingBOMc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_j04AgNd6Ed-1yp_rGZh9aQ" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://example.com/bank" xmlns:ttns1="http://example.com/bom1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocLitProc" targetNamespace="http://www.tibco.com/bs3.0/_j04AgNd6Ed-1yp_rGZh9aQ" tibex:XPDL="UsingBOMc.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_j04AgNd6Ed-1yp_rGZh9aQ" targetNamespace="http://www.tibco.com/bs3.0/_j04AgNd6Ed-1yp_rGZh9aQ"/>
    <xsd:schema xmlns="http://example.com/bank" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bank" targetNamespace="http://example.com/bank">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/DocLitWsdlGen/Business Objects/Bank.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="Bank">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="customers" type="Customer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Customer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="account" type="Account"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Account">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="accountNum" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="balance" type="double_StudioGeneratedTemplate"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateOfOpening" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="double_StudioGeneratedTemplate">
        <xsd:restriction base="xsd:double">
          <xsd:minInclusive value="-179.76931348623157E+306"/>
          <xsd:maxInclusive value="179.76931348623157E+306"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="BankElement" type="Bank"/>
      <xsd:element name="CustomerElement" type="Customer"/>
      <xsd:element name="AccountElement" type="Account"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/bom1" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/bom1" targetNamespace="http://example.com/bom1">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/DocLitWsdlGen/Business Objects/Shop.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="Shop">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="address" type="Address"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="Item"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="itemOrders" type="ItemOrder"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemOrder"/>
      <xsd:complexType name="Customer">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="shop" type="Shop"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="age">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="address" type="Address"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="firstLine">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="postCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ShopElement" type="Shop"/>
      <xsd:element name="ItemElement" type="Item"/>
      <xsd:element name="ItemOrderElement" type="ItemOrder"/>
      <xsd:element name="CustomerElement" type="Customer"/>
      <xsd:element name="AddressElement" type="Address"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IntMsgTask_CatchMessageEvent_INPUT">
    <wsdl:part element="ttns:AccountElement" name="BankAccount"/>
    <wsdl:part element="ttns:CustomerElement" name="BankCustomer"/>
    <wsdl:part element="ttns1:CustomerElement" name="ShopCustomer"/>
  </wsdl:message>
  <wsdl:message name="IntMsgTask_CatchMessageEvent_OUTPUT">
    <wsdl:part element="ttns:AccountElement" name="BankAccount"/>
    <wsdl:part element="ttns:CustomerElement" name="BankCustomer"/>
    <wsdl:part element="ttns1:CustomerElement" name="ShopCustomer"/>
  </wsdl:message>
  <wsdl:message name="ReceiveTask_ReceiveTask_INPUT">
    <wsdl:part element="ttns:AccountElement" name="BankAccount"/>
    <wsdl:part element="ttns:CustomerElement" name="BankCustomer"/>
    <wsdl:part element="ttns1:CustomerElement" name="ShopCustomer"/>
  </wsdl:message>
  <wsdl:message name="ReceiveTask_ReceiveTask_OUTPUT">
    <wsdl:part element="ttns:AccountElement" name="BankAccount"/>
    <wsdl:part element="ttns:CustomerElement" name="BankCustomer"/>
    <wsdl:part element="ttns1:CustomerElement" name="ShopCustomer"/>
  </wsdl:message>
  <wsdl:message name="StartEvent_StartEvent_INPUT">
    <wsdl:part element="ttns:AccountElement" name="BankAccount"/>
    <wsdl:part element="ttns:CustomerElement" name="BankCustomer"/>
    <wsdl:part element="ttns1:CustomerElement" name="ShopCustomer"/>
  </wsdl:message>
  <wsdl:message name="StartEvent_StartEvent_OUTPUT">
    <wsdl:part element="ttns:AccountElement" name="BankAccount"/>
    <wsdl:part element="ttns:CustomerElement" name="BankCustomer"/>
    <wsdl:part element="ttns1:CustomerElement" name="ShopCustomer"/>
  </wsdl:message>
  <wsdl:portType name="IntMsgTask" tibex:FlowContainer="_vI4GgNeJEd-2PosGfugNUA">
    <wsdl:operation name="CatchMessageEvent">
      <wsdl:input message="ns:IntMsgTask_CatchMessageEvent_INPUT" tibex:Event="_y-wL4NeJEd-2PosGfugNUA"/>
      <wsdl:output message="ns:IntMsgTask_CatchMessageEvent_OUTPUT" tibex:Event="_y-wL4NeJEd-2PosGfugNUA"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ReceiveTask" tibex:FlowContainer="_mXOqsNeJEd-2PosGfugNUA">
    <wsdl:operation name="ReceiveTask">
      <wsdl:input message="ns:ReceiveTask_ReceiveTask_INPUT" tibex:Event="_qjAuoNeJEd-2PosGfugNUA"/>
      <wsdl:output message="ns:ReceiveTask_ReceiveTask_OUTPUT" tibex:Event="_qjAuoNeJEd-2PosGfugNUA"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StartEvent" tibex:FlowContainer="_j5Mf0Nd6Ed-1yp_rGZh9aQ">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="StartEvent">
      <wsdl:input message="ns:StartEvent_StartEvent_INPUT" tibex:Event="_NDkWc9d7Ed-1yp_rGZh9aQ"/>
      <wsdl:output message="ns:StartEvent_StartEvent_OUTPUT" tibex:Event="_NDkWc9d7Ed-1yp_rGZh9aQ"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
