tbs-bpm/tests/com.tibco.xpd.sce.test.feature/plugins/com.tibco.xpd.sce.test/resources/AceProcessMigrationValidationsTest/BPMProjectMigration_ProcessValidation/Service Descriptors/ProcessValidationTest_NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ProcessValidationTest_NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessValidationTest_NewWSDLFile" targetNamespace="http://www.example.org/ProcessValidationTest_NewWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ProcessValidationTest_NewWSDLFile/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NewOperationFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="IntermediateOperation">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="IntermediateOperationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="IntermediateOperationFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="IntermediateOperationFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationFault">
  	<wsdl:part name="parameters" element="tns:NewOperationFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="IntermediateOperationRequest">
  	<wsdl:part name="parameters" element="tns:IntermediateOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="IntermediateOperationResponse">
  	<wsdl:part name="parameters" element="tns:IntermediateOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="IntermediateOperationFault">
  	<wsdl:part name="parameters" element="tns:IntermediateOperationFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProcessValidationTest_NewWSDLFile">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="fault" message="tns:NewOperationFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="IntermediateOperation">
    	<wsdl:input message="tns:IntermediateOperationRequest"></wsdl:input>
    	<wsdl:output message="tns:IntermediateOperationResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:IntermediateOperationFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessValidationTest_NewWSDLFileSOAP" type="tns:ProcessValidationTest_NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/ProcessValidationTest_NewWSDLFile/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessValidationTest_NewWSDLFile">
    <wsdl:port binding="tns:ProcessValidationTest_NewWSDLFileSOAP" name="ProcessValidationTest_NewWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
