tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/XPD5716/Schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Schema1" xmlns:tns="http://www.example.org/Schema1" elementFormDefault="qualified">

	<xs:include schemaLocation="Schema2.xsd"></xs:include>
	<xs:include schemaLocation="Schema3.xsd"></xs:include>

	<xs:complexType name="comp1">
		<xs:sequence>
			<xs:element name="e1" type="xs:string"></xs:element>
			<xs:element name="e2" type="tns:comp2"></xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>