tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC26_DataMapperForWSInOutAndFaultConsumer/.processOut/process/TestCorrelationConsumer.xpdl/TestCorrelation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL--><wsdl:definitions xmlns:ns0="http://example.com/someclasses" xmlns:ns1="http://www.tibco.com/bs3.0/_ojcIIN7EEeWRjb3O6TY05Q" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.tibco.com/bs3.0/_ojcIIN7EEeWRjb3O6TY05Q/UC7G_TestCorrelationProvider" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="UC7G_TestCorrelationProvider" targetNamespace="http://www.tibco.com/bs3.0/_ojcIIN7EEeWRjb3O6TY05Q/UC7G_TestCorrelationProvider" tibex:src="http://localhost:8120/amxadministrator/generate_wsdl?svc_binding_id=699&amp;svc_binding_name=UC7G_TestCorrelationProvider_EP&amp;svc_node_id=2&amp;svc_node_name=BPMNode">
    <partnerLinkType name="UC7G_TestCorrelationProvider_PLT" xmlns="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <role name="UC7G_TestCorrelationProviderProvider" portType="tns:UC7G_TestCorrelationProvider"/>
  </partnerLinkType>
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/bs3.0/_ojcIIN7EEeWRjb3O6TY05Q"/>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://example.com/someclasses">
            <xs:import namespace="http://www.tibco.com/bs3.0/_ojcIIN7EEeWRjb3O6TY05Q"/>
            <xs:annotation>
                <xs:documentation>
                    <ns0:DocumentationElement BOMORIGIN="/UC7G_DocLit_SoapHttp_ProcessProvider/Business Objects/SomeClasses.bom"/>
                </xs:documentation>
            </xs:annotation>
            <xs:complexType name="UC7GClass">
                <xs:sequence>
                    <xs:element form="unqualified" minOccurs="0" name="correlationAttribute">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element form="unqualified" minOccurs="0" name="attribute2">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element form="unqualified" minOccurs="0" name="attribute3">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UC7GClassElement" type="ns0:UC7GClass"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="UC7G_TestCorrelationProvider_StartCorrelationTest_INPUT">
        <wsdl:part name="InputClass" type="ns0:UC7GClass"/>
    </wsdl:message>
    <wsdl:message name="UC7G_TestCorrelationProvider_StartCorrelationTest_OUTPUT">
        <wsdl:part name="OutputClass" type="ns0:UC7GClass"/>
    </wsdl:message>
    <wsdl:message name="UC7G_TestCorrelationProvider_CorrelatingOperation_INPUT">
        <wsdl:part name="InputClass" type="ns0:UC7GClass"/>
    </wsdl:message>
    <wsdl:message name="UC7G_TestCorrelationProvider_CorrelatingOperation_OUTPUT">
        <wsdl:part name="OutputClass" type="ns0:UC7GClass"/>
    </wsdl:message>
    <wsdl:portType xmlns:ns2="http://www.tibco.com/bs3.2/extensions" name="UC7G_TestCorrelationProvider" ns2:FlowContainer="_ojoVYN7EEeWRjb3O6TY05Q">
        <wsdl:operation name="StartCorrelationTest">
            <wsdl:input message="tns:UC7G_TestCorrelationProvider_StartCorrelationTest_INPUT" ns2:Event="_qE1pdd7EEeWRjb3O6TY05Q"/>
            <wsdl:output message="tns:UC7G_TestCorrelationProvider_StartCorrelationTest_OUTPUT" ns2:Event="_qE1pdd7EEeWRjb3O6TY05Q"/>
        </wsdl:operation>
        <wsdl:operation name="CorrelatingOperation">
            <wsdl:input message="tns:UC7G_TestCorrelationProvider_CorrelatingOperation_INPUT" ns2:Event="_C8zBgt7FEeWRjb3O6TY05Q"/>
            <wsdl:output message="tns:UC7G_TestCorrelationProvider_CorrelatingOperation_OUTPUT" ns2:Event="_C8zBgt7FEeWRjb3O6TY05Q"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UC7G_TestCorrelationProvider_EP" type="tns:UC7G_TestCorrelationProvider">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="StartCorrelationTest">
            <wsdl:documentation/>
            <soap:operation soapAction="StartCorrelationTest" style="rpc"/>
            <wsdl:input>
                <soap:body parts="InputClass" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="OutputClass" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CorrelatingOperation">
            <wsdl:documentation/>
            <soap:operation soapAction="CorrelatingOperation" style="rpc"/>
            <wsdl:input>
                <soap:body parts="InputClass" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="OutputClass" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UC7G_TestCorrelationProvider">
        <wsdl:port binding="tns:UC7G_TestCorrelationProvider_EP" name="UC7G_TestCorrelationProvider_EP">
            <soap:address location="http://0.0.0.0:8181/TestCorrelation/UC7G_TestCorrelationProvider"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
