tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_orchestration.resources/Service Descriptors/BollettaWebMultiFornituraLoopServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="com.enel.mind.BollettaWebMultiFornituraServiceCall" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://bollettawebmultifornitura.mind_orchestration.enel.com/bom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BollettaWebMultiFornituraLoop" targetNamespace="com.enel.mind.BollettaWebMultiFornituraServiceCall" tibex:ServiceTask="_TVdyAIdAEeOvUo2_Y_f21Q" tibex:XPDL="BollettaWebMultiFornituraLoop.xpdl" tibex:process="__jjGsYc_EeOvUo2_Y_f21Q">
  <wsdl:types>
    <xsd:schema xmlns="com.enel.mind.BollettaWebMultiFornituraServiceCall" targetNamespace="com.enel.mind.BollettaWebMultiFornituraServiceCall"/>
    <xsd:schema xmlns="http://bollettawebmultifornitura.mind_orchestration.enel.com/bom" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://bollettawebmultifornitura.mind_orchestration.enel.com/bom" targetNamespace="http://bollettawebmultifornitura.mind_orchestration.enel.com/bom">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/com.enel.mind_orchestration.resources/Generated Business Objects/com.enel.mind_orchestration.bollettawebmultifornitura.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="BollettaWebMultiFornituraLoop_Request">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ID_RICHIESTA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="canale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="operazione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoOperazione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="causale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="canaleStampa">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contoContrattuale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contratto">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="businessPartner">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="login">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="indirizzoIp">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="prodottoVas">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="giorniSollecito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="giorniAnnullamento">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="pod">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idMasterAccount">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceCampagna">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="flagInfoEnergia">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="flagCertificazioneMail">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="flagMultiFornitura">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="anagraficaCliente" type="AnagraficaCliente"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="elencoForniture" type="ElencoForniture"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idMultiFornitura">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AnagraficaCliente">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="nome">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cognomeRagSociale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="datoFiscale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="indirizzo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cellulare">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="indirizzoEmail">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ElencoForniture">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceCliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="commodity">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoRichiesta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="esitoVerificaCRM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="esitoOrdineCRM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idCRM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BollettaWebMultiFornituraLoop_Response">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizioneEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idMuti">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BollettaWebMultiFornituraLoop_RequestElement" type="BollettaWebMultiFornituraLoop_Request"/>
      <xsd:element name="AnagraficaClienteElement" type="AnagraficaCliente"/>
      <xsd:element name="ElencoFornitureElement" type="ElencoForniture"/>
      <xsd:element name="BollettaWebMultiFornituraLoop_ResponseElement" type="BollettaWebMultiFornituraLoop_Response"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BollettaWebMultiFornituraLoopProcess_BollettaWebMultiFornituraServiceCall_INPUT">
    <wsdl:part element="ttns:BollettaWebMultiFornituraLoop_RequestElement" name="BollettaWebMultiFornituraLoop_Request"/>
  </wsdl:message>
  <wsdl:message name="BollettaWebMultiFornituraLoopProcess_BollettaWebMultiFornituraServiceCall_OUTPUT">
    <wsdl:part element="ttns:BollettaWebMultiFornituraLoop_ResponseElement" name="BollettaWebMultiFornituraLoop_Response"/>
  </wsdl:message>
  <wsdl:portType name="BollettaWebMultiFornituraLoopProcess" tibex:FlowContainer="__jjGsYc_EeOvUo2_Y_f21Q">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="BollettaWebMultiFornituraServiceCall">
      <wsdl:input message="ns:BollettaWebMultiFornituraLoopProcess_BollettaWebMultiFornituraServiceCall_INPUT" tibex:Event="_TVdyAIdAEeOvUo2_Y_f21Q"/>
      <wsdl:output message="ns:BollettaWebMultiFornituraLoopProcess_BollettaWebMultiFornituraServiceCall_OUTPUT" tibex:Event="_TVdyAIdAEeOvUo2_Y_f21Q"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
