tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_orchestration.resources/Service Descriptors/VerificaVblBpmAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/service/orchestration/verificablbpm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VerificaBLBpmAbstract" targetNamespace="http://xmlns.enel.com/mercato/libero/service/orchestration/verificablbpm" tibex:src="file:/E:/BPM-Workspace/R2-2014_SOA_Integration/MIND_SOA_Orchestration/Service%20Abstract%20Descriptors/VerificaVblBpmAbstract.wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://xmlns.enel.com/mercato/libero/service/orchestration/verificablbpm">
      <xsd:element name="VerificaAdminBpm">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element minOccurs="0" name="idRichiesta"
          		type="xsd:string" />
                        <xsd:element name="idProcessoBpm" type="xsd:string" minOccurs="0"></xsd:element>
                        <xsd:element minOccurs="0" name="canale"
          		type="xsd:string">
          	</xsd:element>
          	<xsd:element minOccurs="0" name="operazione"
          		type="xsd:string">
          	</xsd:element>
          	<xsd:element minOccurs="0" name="sistema"
          		type="xsd:string">
          	</xsd:element>
          	<xsd:element minOccurs="0" name="tipoFlusso"
          		type="xsd:string">
          	</xsd:element>
          	<xsd:element minOccurs="0" name="SDM_VENDITA"
          		type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="VerificaAdminBpmResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element minOccurs="0" name="Esito" type="xsd:string"/>
          	<xsd:element minOccurs="0" name="CodiceEsito" type="xsd:string">
          	</xsd:element>
          	<xsd:element minOccurs="0" name="DescrizioneEsito" type="xsd:string">
          	</xsd:element>
			<xsd:element minOccurs="0" name="SDM_VENDITA" type="xsd:string"/>
          	<xsd:element minOccurs="0" name="SistemaSorgenteEsito" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VerificaAdminBpmRequest">
    <wsdl:part element="tns:VerificaAdminBpm" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="VerificaAdminBpmResponse">
    <wsdl:part element="tns:VerificaAdminBpmResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="VerificaBLBpmAbstract">
    <wsdl:operation name="VerificaAdminBpm">
      <wsdl:input message="tns:VerificaAdminBpmRequest"/>
      <wsdl:output message="tns:VerificaAdminBpmResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VerificaBLBpmAbstractSOAP" type="tns:VerificaBLBpmAbstract">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="VerificaAdminBpm">
      <soap:operation soapAction="http://xmlns.enel.com/mercato/libero/service/orchestration/verificablbpm/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VerificaBLBpmAbstract">
    <wsdl:port binding="tns:VerificaBLBpmAbstractSOAP" name="VerificaBLBpmAbstractSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
