tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC4HImportsX1X1DefinesTheType2/Service Descriptors/Atomic_XSD_Define_Types.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.amsbqa.uc4h.com/linda01/XSDDefineTypes" xmlns:ns2="http://www.amsbqa.uc4h.com/linda01/XSDDefineTypes" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.amsbqa.uc4h.com/linda01/XSDDefineTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.amsbqa.uc4h.com/linda01/XSDDefineTypes" tibex:src="file:/C:/Users/nsutton/Desktop/Atomic_XSD_Define_Types.wsdl">
	<import namespace="http://www.amsbqa.uc4h.com/linda01/XSDDefineTypes" location="Atomic_XSD_Define_Types.xsd"/>
	<message name="Authentication">
		<part name="part1" type="ns2:authenticationKeyType"/>
	</message>
	<message name="CityName">
		<part name="part1" type="ns2:cityNameType"/>
	</message>
	<message name="CouponDetails">
		<part name="part1" type="ns2:couponDetailsType"/>
	</message>
	<message name="RequestInfo">
		<part name="part1" type="ns2:requestInfoType"/>
	</message>
	<message name="Error">
		<part name="part2" type="ns2:errorInfoCT"/>
	</message>
	<message name="flexpaySubscriberIdType">
		<part name="part1" type="ns2:flexpaySubscriberIdType"/>
	</message>
	<message name="couponIssuerAndSerialType">
		<part name="part1" type="ns2:couponIssuerAndSerialType"/>
	</message>
	<message name="PersonalInfo">
		<part name="part1" type="ns2:personalInfoType"/>
	</message>
	<message name="SubscribePin">
		<part name="part1" type="ns2:subscriberPinType"/>
	</message>
	<message name="authenticationKey">
		<part name="part1" type="ns2:authenticationKeyType"/>
	</message>
	<message name="CityCode">
		<part name="part1" type="ns2:cityCodeType"/>
	</message>
	<message name="DeclaredCode">
		<part name="part1" type="ns2:dealerCodeType"/>
	</message>
	<portType name="AtomicRPT">
		<operation name="BaseInfo">
			<input message="ns:Authentication"/>
			<output message="ns:CityName"/>
			<fault name="fault1" message="ns:Error"/>
		</operation>
		<operation name="CouponDetails">
			<input message="ns:PersonalInfo"/>
			<output message="ns:CouponDetails"/>
		</operation>
		<operation name="Subscribe">
			<input message="ns:SubscribePin"/>
			<output message="ns:authenticationKey"/>
		</operation>
		<operation name="Request">
			<input message="ns:RequestInfo"/>
			<output message="ns:flexpaySubscriberIdType"/>
		</operation>
		<operation name="Code">
			<input message="ns:CityCode"/>
			<output message="ns:DeclaredCode"/>
		</operation>
	</portType>
</definitions>
