tbs-bpm/AcceptanceTests/AMX-BPM/DataUseCases/ProjectsWithQualifierCacheOff/GlobalOnlyBizData/.bom2Xsd/com.example.globalonlybizdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/globalonlybizdata" xmlns:tns1="http://example.com/globalonlybizdata"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/globalonlybizdata">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/GlobalOnlyBizData/Business Objects/GlobalOnlyBizData.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="GlobalClassInGlobalOnlyBom" id="_QWxgoFNpEeOUC7phQChPyQ"
      name="GlobalClassInGlobalOnlyBom">
    <xsd:sequence>
      <xsd:element ecore:name="attribute1" id="_QvGhEFNpEeOUC7phQChPyQ" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GlobalClassInGlobalOnlyBomElement" type="GlobalClassInGlobalOnlyBom"/>
</xsd:schema>