tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC10MsgStartEventImportedWsdlContainsSchema/Service Descriptors/MyMessageWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/MyMessageWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyMessageWSDL"
	targetNamespace="http://www.example2.org/MyMessageWSDL/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example2.org/MyMessageWSDL/">

			<xsd:element name="PurchaseOrderRequestElem">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orderInfo" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PurchaseOrderResponseElem">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="confirmationMessage" type="xsd:string" />
					</xsd:sequence>

				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="PurchaseOrderRequest">
				<xsd:sequence>
					<xsd:element name="orderInfo" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PurchaseOrderResponse">
				<xsd:sequence>
					<xsd:element name="confirmationMessage" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
</wsdl:definitions>
