tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC10MsgStartEventImportedWsdlContainsSchema/Service Descriptors/MyPortTypeWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns0="http://www.example2.org/MyPortTypeWSDL/"
	xmlns:tns="http://www.example2.org/MyMessageWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyPortTypeWSDL"
	targetNamespace="http://www.example2.org/MyPortTypeWSDL/">
	<wsdl:import location="MyMessageWSDL.wsdl" namespace="http://www.example2.org/MyMessageWSDL/"/>
	
	<wsdl:message name="PORequestMessage">
		<wsdl:part type="tns:PurchaseOrderRequest" name="reqParamsTypes"></wsdl:part>
	</wsdl:message>
		<wsdl:message name="POResponseMessage">
		<wsdl:part type="tns:PurchaseOrderResponse" name="respParamsTypes" />
	</wsdl:message>
	
	<wsdl:message name="PORequestMessage2">
		<wsdl:part element="tns:PurchaseOrderRequestElem" name="reqParamsElems"></wsdl:part>
	</wsdl:message>
		<wsdl:message name="POResponseMessage2">
		<wsdl:part element="tns:PurchaseOrderResponseElem" name="respParamsElems" />
	</wsdl:message>
	
	<wsdl:portType name="MyPortTypeWSDL">
		<wsdl:operation name="PurchaseOrderOperation">
			<wsdl:input message="ns0:PORequestMessage" />
			<wsdl:output message="ns0:POResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
