tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/ChoiceInvalidMarkerTest/UC9BChoice/Service Descriptors/UsingComplexChoice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/UsingComplexChoice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsingComplexChoice"
	targetNamespace="http://www.example.org/UsingComplexChoice/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/UsingComplexChoice/">
			<xsd:element name="Boeing" type="tns:Plane" />
			<xsd:complexType name="Plane">
				<xsd:choice>
					<xsd:element name="freightDetails" type="tns:Box" />
					<xsd:element name="seats" type="tns:SeatInfo" />
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="SeatInfo">
				<xsd:sequence>
					<xsd:element name="size" type="xsd:double" />
					<xsd:element name="colour" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Box">
				<xsd:sequence>
					<xsd:element name="capacity" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OperationReq">
		<wsdl:part element="tns:Boeing" name="inp" />
	</wsdl:message>
	<wsdl:message name="OperationResp">
		<wsdl:part element="tns:Boeing" name="outp" />
	</wsdl:message>
	<wsdl:portType name="UsingComplexChoice">
		<wsdl:operation name="GetBoeingInfo">
			<wsdl:input message="tns:OperationReq" />
			<wsdl:output message="tns:OperationResp" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UsingComplexChoiceSOAP" type="tns:UsingComplexChoice">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetBoeingInfo">
			<soap:operation
				soapAction="http://www.example.org/UsingComplexChoice/GetBoeingInfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UsingComplexChoice">
		<wsdl:port binding="tns:UsingComplexChoiceSOAP" name="UsingComplexChoiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
