tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/wsdl/gold/builder/org.exampleb.NewWSDLFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.exampleb.org/NewWSDLFile/" xmlns:tns1="http://www.exampleb.org/NewWSDLFile/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://www.exampleb.org/NewWSDLFile3/"
    xmlns:tns3="http://www.exampleb.org/NewWSDLFile2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exampleb.org/NewWSDLFile/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/abc/Generated Business Objects/org.exampleb.NewWSDLFile.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.exampleb.org/NewWSDLFile3/" schemaLocation="org.exampleb.NewWSDLFile3.xsd"/>
  <xsd:import namespace="http://www.exampleb.org/NewWSDLFile2/" schemaLocation="org.exampleb.NewWSDLFile2.xsd"/>
  <xsd:element abstract="false" name="NewOperation" nillable="false">
    <xsd:complexType ecore:name="NewOperationType" id="org.exampleb.NewWSDLFileNewOperationType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
        <xsd:element ecore:name="refToComplex" maxOccurs="1" minOccurs="1" ref="tns3:refToComplex"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationResponse" nillable="false">
    <xsd:complexType ecore:name="NewOperationResponseType" id="org.exampleb.NewWSDLFileNewOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>