tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/wsdl/gold/builder/XSDBOM_TLE1_ClashingNamespaceDefinitions2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2" xmlns:tns3="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://XSDBOM_TLE1_ClashingNamespaceDefinitions2">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD3877/Generated Business Objects/XSDBOM_TLE1_ClashingNamespaceDefinitions2.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="dec1" nillable="false" type="xsd:decimal"/>
  <xsd:element abstract="false" name="bfield1" nillable="false" type="xsd:boolean"/>
  <xsd:element abstract="false" name="date1" nillable="false" type="xsd:date"/>
  <xsd:element abstract="false" name="dtfield" nillable="false" type="xsd:dateTime"/>
  <xsd:element abstract="false" name="int1" nillable="false" type="xsd:int"/>
  <xsd:element abstract="false" name="str1" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="time1" nillable="false" type="xsd:time"/>
  <xsd:element abstract="false" name="simpleContainer" nillable="false">
    <xsd:complexType ecore:name="simpleContainerType" id="XSDBOM_TLE1_ClashingNamespaceDefinitions2simpleContainerType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="bfield1" maxOccurs="1" minOccurs="1" ref="tns3:bfield1"/>
        <xsd:element ecore:name="date1" maxOccurs="1" minOccurs="1" ref="tns3:date1"/>
        <xsd:element ecore:name="dec1" maxOccurs="1" minOccurs="1" ref="tns3:dec1"/>
        <xsd:element ecore:name="dtfield" maxOccurs="1" minOccurs="1" ref="tns3:dtfield"/>
        <xsd:element ecore:name="int1" maxOccurs="1" minOccurs="1" ref="tns3:int1"/>
        <xsd:element ecore:name="time1" maxOccurs="1" minOccurs="1" ref="tns3:time1"/>
        <xsd:element ecore:name="str1" maxOccurs="1" minOccurs="1" ref="tns3:str1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="root" nillable="false">
    <xsd:complexType ecore:name="rootType" id="XSDBOM_TLE1_ClashingNamespaceDefinitions2rootType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="simpleContainer" maxOccurs="1" minOccurs="1" ref="tns3:simpleContainer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>