tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/tle/wsdl/gold/builder/XSDBOM_TLE2_DeepImportTopLevelElements2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://XSDBOM_TLE2_DeepImportTopLevelElements2" xmlns:tns2="http://XSDBOM_TLE2_DeepImportTopLevelElements2"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://XSDBOM_TLE2_DeepImportTopLevelElements2">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD3877/Generated Business Objects/XSDBOM_TLE2_DeepImportTopLevelElements2.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="Title" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="Author" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="Date" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="ISBN" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="Publisher" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" name="Book" nillable="false">
    <xsd:complexType ecore:name="BookType" id="XSDBOM_TLE2_DeepImportTopLevelElements2BookType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="title" maxOccurs="1" minOccurs="1" ref="tns2:Title"/>
        <xsd:element ecore:name="author" maxOccurs="1" minOccurs="1" ref="tns2:Author"/>
        <xsd:element ecore:name="date" maxOccurs="1" minOccurs="1" ref="tns2:Date"/>
        <xsd:element ecore:name="ISBN" maxOccurs="1" minOccurs="1" ref="tns2:ISBN"/>
        <xsd:element ecore:name="publisher" maxOccurs="1" minOccurs="1" ref="tns2:Publisher"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="BookStore" nillable="false">
    <xsd:complexType ecore:name="BookStoreType" id="XSDBOM_TLE2_DeepImportTopLevelElements2BookStoreType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="book" maxOccurs="unbounded" minOccurs="1" ref="tns2:Book"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="root" nillable="false">
    <xsd:complexType ecore:name="rootType" id="XSDBOM_TLE2_DeepImportTopLevelElements2rootType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="book" maxOccurs="1" minOccurs="1" ref="tns2:Book"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>