tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM45_BOMGenFor_dac_wsdl/gold/builder/com.tibco.n2.dac.api.basic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://basic.api.dac.n2.tibco.com" xmlns:tns3="http://basic.api.dac.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://api.organisation.common.n2.tibco.com"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://basic.api.dac.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.dac.api.basic.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="com.tibco.n2.common.organisation.api.xsd"/>
  <xsd:simpleType ecore:name="XmlLockVersion" id="com.tibco.n2.dac.api.basicXmlLockVersion2"
      name="XmlLockVersion">
    <xsd:annotation>
      <xsd:documentation>A value used to provide optimistic locking of Calendars, and Calendar Entries.
The XmlLockVersion returned in the responses to getCalendar and getCalendarEntries requests must be passed to a subsequent update request for the same Calendar or CalendarEntry.
The value is then used to detect concurrent updates to the same record, and reject those updates made on stale information. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="Hours" id="com.tibco.n2.dac.api.basicHours2" name="Hours">
    <xsd:restriction base="xsd:int">
      <xsd:maxInclusive fixed="false" value="24"/>
      <xsd:minInclusive fixed="false" value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="XmlTimeZoneId" id="com.tibco.n2.dac.api.basicXmlTimeZoneId2"
      name="XmlTimeZoneId">
    <xsd:annotation>
      <xsd:documentation>Java API defined Time Zone name. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="XmlGuidType" id="com.tibco.n2.dac.api.basicXmlGuidType2"
      name="XmlGuidType">
    <xsd:annotation>
      <xsd:documentation>Definition of a unique ID. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="XmlRecurrenceRule" id="com.tibco.n2.dac.api.basicXmlRecurrenceRule2"
      name="XmlRecurrenceRule">
    <xsd:annotation>
      <xsd:documentation>Definition of the rule that defines how a Calendar event repeats. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="XmlDayName" id="com.tibco.n2.dac.api.basicXmlDayName"
      name="XmlDayName">
    <xsd:annotation>
      <xsd:documentation>Enumerated value of the short form of names of days of the week. Note: Order of elements to be preserved. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="SU" value="SU"/>
      <xsd:enumeration ecore:name="MO" value="MO"/>
      <xsd:enumeration ecore:name="TU" value="TU"/>
      <xsd:enumeration ecore:name="WE" value="WE"/>
      <xsd:enumeration ecore:name="TH" value="TH"/>
      <xsd:enumeration ecore:name="FR" value="FR"/>
      <xsd:enumeration ecore:name="SA" value="SA"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="XmlFreeBusyType" id="com.tibco.n2.dac.api.basicXmlFreeBusyType"
      name="XmlFreeBusyType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value of working time status; FREE representing available for work and BUSY unavailable for work. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="FREE" value="FREE"/>
      <xsd:enumeration ecore:name="BUSY" value="BUSY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="XmlCalendarType" id="com.tibco.n2.dac.api.basicXmlCalendarType"
      name="XmlCalendarType">
    <xsd:annotation>
      <xsd:documentation>Enumerated value of possible types of WorkingCalendar. Base carries a time-zone and defines the working week as well as working day exclusions. Overlay only defines additional working day exclusions that can be applied to any Base Calendar. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="BASE" value="BASE"/>
      <xsd:enumeration ecore:name="OVERLAY" value="OVERLAY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="XmlCalendarLookup" id="com.tibco.n2.dac.api.basicXmlCalendarLookup"
      abstract="false" mixed="false" name="XmlCalendarLookup">
    <xsd:annotation>
      <xsd:documentation>Used to perform a lookup of a Calendar instance using either a Calendar Reference or an Org-Model Entity.
A Calendar Reference can be used directly by the Calendar Component. An Org-Model Entity identifier will be passed to Directory Engine, in order to obtain any Calendar References that the identified entity may hold. </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ecore:name="calendarref" id="XmlCalendarLookupcalendar-ref" form="unqualified"
          maxOccurs="1" minOccurs="0" name="calendar-ref" type="xsd:string"/>
      <xsd:element ecore:name="orgmodelentity" id="XmlCalendarLookuporg-model-entity"
          form="unqualified" maxOccurs="1" minOccurs="0" name="org-model-entity" type="tns2:XmlModelEntityId"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlUpdatedCalendar" id="com.tibco.n2.dac.api.basicXmlUpdatedCalendar"
      abstract="false" mixed="false" name="XmlUpdatedCalendar">
    <xsd:annotation>
      <xsd:documentation>Used to reflect the new version number applied to a Calendar Instance when it has been updated. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="version" id="XmlUpdatedCalendarversion" form="unqualified"
        name="version" type="XmlLockVersion" use="required">
      <xsd:annotation>
        <xsd:documentation>The version number used to detect concurrent updates to the same Calendar. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="namespace" id="XmlUpdatedCalendarnamespace" form="unqualified"
        name="namespace" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Used to categorize, or group, named Calendars. Calendars sharing the same namespace must have unique names. A namespace of null is still considered a valid namespace. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlUpdatedCalendarname" form="unqualified"
        name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The mandatory name of the calendar. This must be unique within the given namespace. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlCalendarReference" id="com.tibco.n2.dac.api.basicXmlCalendarReference"
      abstract="false" mixed="false" name="XmlCalendarReference">
    <xsd:annotation>
      <xsd:documentation>Identifies the relationship between a Calendar Reference (a GUID) and a Calendar Instance. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="referenceguid" id="XmlCalendarReferencereference-guid"
        form="unqualified" name="reference-guid" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The external identifier for the Calendar Reference. This is the value held by Calendar clients in order to reference a Calendar instance. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="namespace" id="XmlCalendarReferencenamespace" form="unqualified"
        name="namespace" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>The namespace in which the calendar is located. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlCalendarReferencename" form="unqualified"
        name="name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>The mandatory name of the calendar. This must be unique within the given namespace. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlRecurringInstance" id="com.tibco.n2.dac.api.basicXmlRecurringInstance"
      abstract="false" mixed="false" name="XmlRecurringInstance">
    <xsd:annotation>
      <xsd:documentation>Used only to convey the start and end date-times covered by an instance of a recurring entry when retrieving Calendar Entries. The values will be time-zone neutral. That is, they should only expresses a value, but not the time-zone in which they applies. The time-zone will be implied from the Base Calendar to which it is applied. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="start" id="XmlRecurringInstancestart" form="unqualified"
        name="start" type="xsd:dateTime" use="required">
      <xsd:annotation>
        <xsd:documentation>Start date-time of the recurring entry instance. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="end" id="XmlRecurringInstanceend" form="unqualified"
        name="end" type="xsd:dateTime" use="required">
      <xsd:annotation>
        <xsd:documentation>End date-time of the recurring entry instance. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlTimeSlot" id="com.tibco.n2.dac.api.basicXmlTimeSlot"
      abstract="false" mixed="false" name="XmlTimeSlot">
    <xsd:annotation>
      <xsd:documentation>Pairs of start and end times that define a working period in a day. The values should be time-zone neutral. That is, they should only expresses a value, but not the time-zone in which they applies. The time-zone will be implied from the Base Calendar to which it is applied. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="start" id="XmlTimeSlotstart" form="unqualified" name="start"
        type="xsd:time" use="required">
      <xsd:annotation>
        <xsd:documentation>Start time. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="end" id="XmlTimeSlotend" form="unqualified" name="end"
        type="xsd:time" use="required">
      <xsd:annotation>
        <xsd:documentation>End time. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlWorkingDay" id="com.tibco.n2.dac.api.basicXmlWorkingDay"
      abstract="false" mixed="false" name="XmlWorkingDay">
    <xsd:annotation>
      <xsd:documentation>Working Day definition with pairs of start and end working times. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="timeslot" id="XmlWorkingDaytime-slot" form="unqualified"
          maxOccurs="5" minOccurs="0" name="time-slot" type="XmlTimeSlot"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="dayofweek" id="XmlWorkingDayday-of-week" form="unqualified"
        name="day-of-week" type="XmlDayName" use="required">
      <xsd:annotation>
        <xsd:documentation>Enumerated value of the short form of the day of the week. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlCalendarEntry" id="com.tibco.n2.dac.api.basicXmlCalendarEntry"
      abstract="true" mixed="false" name="XmlCalendarEntry">
    <xsd:annotation>
      <xsd:documentation>The base type for all Calendars Entries. </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlNewWorkingDayExclusion" id="com.tibco.n2.dac.api.basicXmlNewWorkingDayExclusion"
      abstract="false" mixed="false" name="XmlNewWorkingDayExclusion">
    <xsd:annotation>
      <xsd:documentation>Definition for creating a new Working Day exclusion. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlCalendarEntry">
        <xsd:attribute ecore:name="description" id="XmlNewWorkingDayExclusiondescription"
            form="unqualified" name="description" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>User-friendly name for this exclusion, such as Summer Holiday. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="allday" id="XmlNewWorkingDayExclusionall-day" default="false"
            form="unqualified" name="all-day" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>Marker denoting if this exclusion lasts a full day. Note that this is represented for the benefit of the client only and is not correlated to the start or end time. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="start" id="XmlNewWorkingDayExclusionstart" form="unqualified"
            name="start" type="xsd:dateTime" use="required">
          <xsd:annotation>
            <xsd:documentation>Start date and time of this exclusion. This value should be time-zone neutral. That is, it expresses only a value, but not the time-zone in which it applies. The time-zone will be implied from the Base Calendar on which this exclusions is placed. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="end" id="XmlNewWorkingDayExclusionend" form="unqualified"
            name="end" type="xsd:dateTime" use="optional">
          <xsd:annotation>
            <xsd:documentation>End date and time of this exclusion. This value should be time-zone neutral. That is, it expresses only a value, but not the time-zone in which it applies. The time-zone will be implied from the Base Calendar on which this exclusions is placed. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="freebusy" id="XmlNewWorkingDayExclusionfree-busy"
            default="BUSY" form="unqualified" name="free-busy" type="XmlFreeBusyType"
            use="optional">
          <xsd:annotation>
            <xsd:documentation>Enumeration of whether this exclusion denotes available working time (FREE) or unavailable working time (BUSY). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlNewRecurringExclusion" id="com.tibco.n2.dac.api.basicXmlNewRecurringExclusion"
      abstract="false" mixed="false" name="XmlNewRecurringExclusion">
    <xsd:annotation>
      <xsd:documentation>Definition for creating a new, Recurring exclusion. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlNewWorkingDayExclusion">
        <xsd:attribute ecore:name="duration" id="XmlNewRecurringExclusionduration"
            form="unqualified" name="duration" type="xsd:duration" use="required">
          <xsd:annotation>
            <xsd:documentation>How long each instance of the recurring exclusion lasts. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="rrule" id="XmlNewRecurringExclusionrrule" form="unqualified"
            name="rrule" type="XmlRecurrenceRule" use="required">
          <xsd:annotation>
            <xsd:documentation>The recurrence rule that defines how instance of the recurring exclusion are to be calculated. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlExistingWorkingDayExclusion" id="com.tibco.n2.dac.api.basicXmlExistingWorkingDayExclusion"
      abstract="false" mixed="false" name="XmlExistingWorkingDayExclusion">
    <xsd:annotation>
      <xsd:documentation>Definition for updating an existing Working Day exclusion. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlNewWorkingDayExclusion">
        <xsd:attribute ecore:name="guid" id="XmlExistingWorkingDayExclusionguid" form="unqualified"
            name="guid" type="XmlGuidType" use="required">
          <xsd:annotation>
            <xsd:documentation>ID of exclusion. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlExistingRecurringExclusion" id="com.tibco.n2.dac.api.basicXmlExistingRecurringExclusion"
      abstract="false" mixed="false" name="XmlExistingRecurringExclusion">
    <xsd:annotation>
      <xsd:documentation>Definition for updating an existing Recurring exclusion. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlNewRecurringExclusion">
        <xsd:attribute ecore:name="guid" id="XmlExistingRecurringExclusionguid" form="unqualified"
            name="guid" type="XmlGuidType" use="required">
          <xsd:annotation>
            <xsd:documentation>ID of exclusion. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlRecurringExclusionDetail" id="com.tibco.n2.dac.api.basicXmlRecurringExclusionDetail"
      abstract="false" mixed="false" name="XmlRecurringExclusionDetail">
    <xsd:annotation>
      <xsd:documentation>Definition for retrieving an existing Recurring Exclusion; along with the instances that fall within a given date-time period. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlExistingRecurringExclusion">
        <xsd:sequence>
          <xsd:element ecore:name="occurrence" id="XmlRecurringExclusionDetailoccurrence"
              form="unqualified" maxOccurs="unbounded" minOccurs="1" name="occurrence"
              type="XmlRecurringInstance"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlCalendarBasic" id="com.tibco.n2.dac.api.basicXmlCalendarBasic"
      abstract="false" mixed="false" name="XmlCalendarBasic">
    <xsd:annotation>
      <xsd:documentation>Contains the summary information for a named calendar. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="calendartype" id="XmlCalendarBasiccalendar-type" form="unqualified"
        name="calendar-type" type="XmlCalendarType" use="required">
      <xsd:annotation>
        <xsd:documentation>Identifies the type of calendar being described by this element. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="namespace" id="XmlCalendarBasicnamespace" form="unqualified"
        name="namespace" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Used to categorize, or group, named Calendars. Calendars sharing the same namespace must have unique names. A namespace of null is still considered a valid namespace. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlCalendarBasicname" form="unqualified"
        name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The mandatory name of the calendar. This must be unique within the given namespace. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="datecreated" id="XmlCalendarBasicdate-created" form="unqualified"
        name="date-created" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>The UTC date/time on which this calendar was created. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="datemodified" id="XmlCalendarBasicdate-modified" form="unqualified"
        name="date-modified" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>The UTC date/time on which this calendar was last updated. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlCalendarSummary" id="com.tibco.n2.dac.api.basicXmlCalendarSummary"
      abstract="false" mixed="false" name="XmlCalendarSummary">
    <xsd:annotation>
      <xsd:documentation>The base type for Base and Overlay Calendars. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlCalendarBasic">
        <xsd:sequence>
          <xsd:element ecore:name="reference" id="XmlCalendarSummaryreference" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="reference" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlWorkCalendar" id="com.tibco.n2.dac.api.basicXmlWorkCalendar"
      abstract="true" mixed="false" name="XmlWorkCalendar">
    <xsd:annotation>
      <xsd:documentation>The base type for Base and Overlay Calendars. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlCalendarSummary">
        <xsd:attribute ecore:name="version" id="XmlWorkCalendarversion" default="-1"
            form="unqualified" name="version" type="XmlLockVersion" use="optional">
          <xsd:annotation>
            <xsd:documentation>The version number used to detect concurrent updates to the same Calendar; also known as optimistic locking. When saving a new Calendar this value should be set to its default value (-1). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlBaseCalendar" id="com.tibco.n2.dac.api.basicXmlBaseCalendar"
      abstract="false" mixed="false" name="XmlBaseCalendar">
    <xsd:annotation>
      <xsd:documentation>Base Calendar carries a time-zone and defines the working week as well as working-day and recurring exclusions. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlWorkCalendar">
        <xsd:sequence>
          <xsd:element ecore:name="workingdays" id="XmlBaseCalendarworking-days" form="unqualified"
              maxOccurs="7" minOccurs="0" name="working-days" type="XmlWorkingDay"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="timezone" id="XmlBaseCalendartime-zone" form="unqualified"
            name="time-zone" type="XmlTimeZoneId" use="required">
          <xsd:annotation>
            <xsd:documentation>Java API specified time-zone for this calendar. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ecore:name="minhours" id="XmlBaseCalendarmin-hours" default="0"
            form="unqualified" name="min-hours" type="Hours" use="optional">
          <xsd:annotation>
            <xsd:documentation>The minimum number of hours remaining in a day for it to be considered a 'working day'. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlOverlayCalendar" id="com.tibco.n2.dac.api.basicXmlOverlayCalendar"
      abstract="false" mixed="false" name="XmlOverlayCalendar">
    <xsd:annotation>
      <xsd:documentation>Overlay Calendar only defines additional working-day and recurring exclusions that can be applied to any Base Calendar. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns3:XmlWorkCalendar"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>