tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/migrated/XSDOneB/XSDTwo/impTwoIncl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/testNew/" xmlns:tns3="http://www.example.org/testNew/" elementFormDefault="qualified">

<xsd:include schemaLocation="XSDThree/impThreeIncl.xsd"></xsd:include>

<xsd:complexType name="impTwoInclType">
<xsd:sequence>
<xsd:element name="impTwoElem" type="tns3:pType"></xsd:element>

<xsd:element name="i1" type="xsd:string"></xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>