tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XPD4323/com.gwl.MyClaimIdType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://gwl.com/MyClaimIdType.xsd" xmlns:tns2="http://gwl.com/MyClaimIdType.xsd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gwl.com/MyClaimIdType.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/Test4323JunitInStudio/Business Objects/com.gwl.MyClaimIdType.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="AdjustSequenceNumberType" id="com.gwl.MyClaimIdTypeAdjustSequenceNumberType2"
      name="AdjustSequenceNumberType">
    <xsd:restriction base="xsd:integer"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ClaimSubmissionNumberType" id="com.gwl.MyClaimIdTypeClaimSubmissionNumberType2"
      name="ClaimSubmissionNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="ClaimIdType" id="com.gwl.MyClaimIdTypeClaimIdType"
      abstract="false" mixed="false" name="ClaimIdType">
    <xsd:sequence>
      <xsd:element ecore:name="claimSubmissionNumber" id="ClaimIdTypeClaimSubmissionNumber"
          form="qualified" maxOccurs="1" minOccurs="1" name="ClaimSubmissionNumber"
          type="tns2:ClaimSubmissionNumberType"/>
      <xsd:element ecore:name="adjustSequenceNumber" id="ClaimIdTypeAdjustSequenceNumber"
          form="qualified" maxOccurs="1" minOccurs="1" name="AdjustSequenceNumber"
          type="tns2:AdjustSequenceNumberType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>