tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM38_NameConflicts_FixedIn_XPD_5786/Client_OfferService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://www.tibco.com/AFF/OCV/services" xmlns:ns1="http://www.tibco.com/AFF/classes/order" xmlns:ns2="http://www.tibco.com/AFF/classes/resultstatus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.tibco.com/FOS/Clients/OfferService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://www.tibco.com/FOS/Clients/OfferService" tibex:src="file:/E:/FOSWSDLs/Proxy/WSDLS/Client_OfferService.wsdl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/AFF/classes/order">
            <xs:element name="Characteristic">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="Description" type="xs:string"/>
                        <xs:element name="Values">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Value">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="xs:string"/>
                                                <xs:element name="Type" type="xs:string"/>
                                                <xs:element minOccurs="0" name="Value" type="xs:string"/>
                                                <xs:element minOccurs="0" name="ValueFrom" type="xs:string"/>
                                                <xs:element minOccurs="0" name="ValueTo" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeliveryAddress">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AddressLine1" type="xs:string"/>
                        <xs:element minOccurs="0" name="AddressLine2" type="xs:string"/>
                        <xs:element name="Locality" type="xs:string"/>
                        <xs:element minOccurs="0" name="Region" type="xs:string"/>
                        <xs:element name="PostCode" type="xs:string"/>
                        <xs:element name="Country" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InvoiceAddress">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AddressLine1" type="xs:string"/>
                        <xs:element minOccurs="0" name="AddressLine2" type="xs:string"/>
                        <xs:element name="Locality" type="xs:string"/>
                        <xs:element minOccurs="0" name="Region" type="xs:string"/>
                        <xs:element name="PostCode" type="xs:string"/>
                        <xs:element name="Country" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Order">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="OrderID" type="xs:string"/>
                        <xs:element ref="ns1:OrderHeader"/>
                        <xs:element minOccurs="0" ref="ns1:OrderDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderLines">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:OrderLine"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderHeader">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="OrderRef" type="xs:string"/>
                        <xs:element minOccurs="0" name="Version" type="xs:long"/>
                        <xs:element minOccurs="0" name="IsLatestVersion" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="OrderDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="OrderStatus" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerID" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberID" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubmittedDate" type="xs:date"/>
                        <xs:element minOccurs="0" name="SubmittedTime" type="xs:time"/>
                        <xs:element minOccurs="0" name="RequiredByDate" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="ExpirationDate" type="xs:date"/>
                        <xs:element minOccurs="0" name="ExpectedCompletionDate" type="xs:dateTime"/>
                        <xs:element minOccurs="0" ref="ns1:InvoiceAddress"/>
                        <xs:element minOccurs="0" ref="ns1:DeliveryAddress"/>
                        <xs:element minOccurs="0" name="Notes" type="xs:string"/>
                        <xs:element minOccurs="0" name="SLAs">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:SLA"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="UDFs">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:UDF"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderLine">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LineNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="OrderLineStatus" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberID" type="xs:string"/>
                        <xs:element name="ProductID" type="xs:string"/>
                        <xs:element name="Quantity" type="xs:long"/>
                        <xs:element name="UOM" type="xs:string"/>
                        <xs:element minOccurs="0" ref="ns1:InvoiceAddress"/>
                        <xs:element minOccurs="0" ref="ns1:DeliveryAddress"/>
                        <xs:element name="OrderLineAction">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="PROVIDE"/>
                                    <xs:enumeration value="UPDATE"/>
                                    <xs:enumeration value="CEASE"/>
                                    <xs:enumeration value="CANCEL"/>
                                    <xs:enumeration value="-"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="OrderLineActionMode" type="xs:string"/>
                        <xs:element minOccurs="0" name="RequiredByDate" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="LinkID" type="xs:string"/>
                        <xs:element minOccurs="0" name="InventoryID" type="xs:string"/>
                        <xs:element minOccurs="0" name="Notes" type="xs:string"/>
                        <xs:element minOccurs="0" name="SLAs">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:SLA"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="UDFs">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:UDF"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Characteristics">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Characteristic"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CustomerItemID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SLA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SLAID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UDF">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Value">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/AFF/classes/resultstatus">
            <xs:element name="ResultStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Component" type="xs:string"/>
                        <xs:element minOccurs="0" name="Role" type="xs:string"/>
                        <xs:element name="Operation" type="xs:string"/>
                        <xs:element name="Severity" type="xs:string"/>
                        <xs:element name="Code" type="xs:string"/>
                        <xs:element name="Message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/AFF/OCV/services">
            <xs:import namespace="http://www.tibco.com/AFF/classes/order"/>
            <xs:import namespace="http://www.tibco.com/AFF/classes/resultstatus"/>
            <xs:import namespace="http://www.tibco.com/AFF/classes/order"/>
            <xs:import namespace="http://www.tibco.com/AFF/classes/resultstatus"/>
            <xs:element name="CustomerPrice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:OneTimePrice"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns0:RecurringPrice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOfferDetailsReply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:ResultStatus"/>
                        <xs:element minOccurs="0" ref="ns1:Order"/>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOfferDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderRef" type="xs:string"/>
                        <xs:element minOccurs="0" name="Version" type="xs:long"/>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOfferPriceReply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:ResultStatus"/>
                        <xs:element minOccurs="0" name="OrderLines">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="OrderLine">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="LineNumber" type="xs:string"/>
                                                <xs:element minOccurs="0" name="Price">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element minOccurs="0" ref="ns0:CustomerPrice"/>
                                                            <xs:element minOccurs="0" ref="ns0:SubscriberPrices"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="TotalPrice">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" ref="ns0:CustomerPrice"/>
                                    <xs:element minOccurs="0" ref="ns0:SubscriberPrices"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="OverallPrice">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" ref="ns0:OneTimePrice"/>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns0:RecurringPrice"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOfferPriceRequest">
                <xs:complexType>
                    <xs:choice>
                        <xs:element ref="ns1:Order"/>
                        <xs:sequence>
                            <xs:element name="OrderRef" type="xs:string"/>
                            <xs:element minOccurs="0" name="Version" type="xs:long"/>
                        </xs:sequence>
                    </xs:choice>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOffersReply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:ResultStatus"/>
                        <xs:element minOccurs="0" name="Offers">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Order"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Pagination">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="StartRecord" type="xs:long"/>
                                    <xs:element name="EndRecord" type="xs:long"/>
                                    <xs:element name="TotalRecords" type="xs:long"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetOffersRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="OrderRef" type="xs:string"/>
                        <xs:choice minOccurs="0">
                            <xs:element name="LatestVersion" type="xs:boolean"/>
                            <xs:element name="Version" type="xs:long"/>
                        </xs:choice>
                        <xs:element minOccurs="0" name="CustomerID" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberID" type="xs:string"/>
                        <xs:element minOccurs="0" name="DateRange">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="StartDate" type="xs:date"/>
                                    <xs:element minOccurs="0" name="EndDate" type="xs:date"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="OrderStatus" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="HeaderUDF">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="xs:string"/>
                                    <xs:element name="Value" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="OrderLineUDF">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="xs:string"/>
                                    <xs:element name="Value" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:choice minOccurs="0">
                            <xs:element name="Count" type="xs:long"/>
                            <xs:element name="Pagination">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="StartRecord" type="xs:long"/>
                                        <xs:element name="EndRecord" type="xs:long"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:element minOccurs="0" name="OrderSummary" type="xs:boolean"/>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="OneTimePrice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Currency" type="xs:string"/>
                        <xs:element name="Amount" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RecurringPrice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Currency" type="xs:string"/>
                        <xs:element name="Amount" type="xs:double"/>
                        <xs:element name="Period" type="xs:string"/>
                        <xs:element minOccurs="0" name="Term" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RemoveOfferReply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:ResultStatus"/>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="RemoveOfferRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderRef" type="xs:string"/>
                        <xs:choice minOccurs="0">
                            <xs:element name="AllVersions" type="xs:boolean"/>
                            <xs:element name="Version" type="xs:long"/>
                        </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SaveOfferReply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:ResultStatus"/>
                        <xs:element minOccurs="0" name="OrderRef" type="xs:string"/>
                        <xs:element minOccurs="0" name="Version" type="xs:long"/>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SaveOfferRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Order"/>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SubscriberPrices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Subscriber">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SubscriberID" type="xs:string"/>
                                    <xs:element minOccurs="0" ref="ns0:OneTimePrice"/>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns0:RecurringPrice"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ValidateOfferReply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns2:ResultStatus"/>
                        <xs:element name="ValidationPass" type="xs:boolean"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Message">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="LineNumber" type="xs:string"/>
                                    <xs:element name="Type" type="xs:string"/>
                                    <xs:element name="Code" type="xs:string"/>
                                    <xs:element name="Description" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ValidateOfferRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Order"/>
                    </xs:sequence>
                    <xs:attribute name="BusinessTransactionID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="OfferService">
        <wsdl:port binding="tns:portTypeEndpoint1Binding" name="portTypeEndpoint1">
            <soap:address location="http://localhost:9875/Services/OfferService.serviceagent/portTypeEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="RemoveOffer">
            <wsdl:input message="tns:RemoveOfferRequest"/>
            <wsdl:output message="tns:RemoveOfferReply"/>
        </wsdl:operation>
        <wsdl:operation name="GetOfferDetails">
            <wsdl:input message="tns:GetOfferDetailsRequest"/>
            <wsdl:output message="tns:GetOfferDetailsReply"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateOffer">
            <wsdl:input message="tns:ValidateOfferRequest"/>
            <wsdl:output message="tns:ValidateOfferReply"/>
        </wsdl:operation>
        <wsdl:operation name="GetOfferPrice">
            <wsdl:input message="tns:GetOfferPriceRequest"/>
            <wsdl:output message="tns:GetOfferPriceReply"/>
        </wsdl:operation>
        <wsdl:operation name="GetOffers">
            <wsdl:input message="tns:GetOffersRequest"/>
            <wsdl:output message="tns:GetOffersReply"/>
        </wsdl:operation>
        <wsdl:operation name="SaveOffer">
            <wsdl:input message="tns:SaveOfferRequest"/>
            <wsdl:output message="tns:SaveOfferReply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="portTypeEndpoint1Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RemoveOffer">
            <soap:operation soapAction="/Services/OfferService.serviceagent/portTypeEndpoint1/RemoveOffer" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOfferDetails">
            <soap:operation soapAction="/Services/OfferService.serviceagent/portTypeEndpoint1/GetOfferDetails" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateOffer">
            <soap:operation soapAction="/Services/OfferService.serviceagent/portTypeEndpoint1/ValidateOffer" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOfferPrice">
            <soap:operation soapAction="/Services/OfferService.serviceagent/portTypeEndpoint1/GetOfferPrice" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOffers">
            <soap:operation soapAction="/Services/OfferService.serviceagent/portTypeEndpoint1/GetOffers" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SaveOffer">
            <soap:operation soapAction="/Services/OfferService.serviceagent/portTypeEndpoint1/SaveOffer" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="RemoveOfferRequest">
        <wsdl:part element="ns0:RemoveOfferRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="RemoveOfferReply">
        <wsdl:part element="ns0:RemoveOfferReply" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOfferDetailsRequest">
        <wsdl:part element="ns0:GetOfferDetailsRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOfferDetailsReply">
        <wsdl:part element="ns0:GetOfferDetailsReply" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ValidateOfferRequest">
        <wsdl:part element="ns0:ValidateOfferRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ValidateOfferReply">
        <wsdl:part element="ns0:ValidateOfferReply" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOfferPriceRequest">
        <wsdl:part element="ns0:GetOfferPriceRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOfferPriceReply">
        <wsdl:part element="ns0:GetOfferPriceReply" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOffersRequest">
        <wsdl:part element="ns0:GetOffersRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOffersReply">
        <wsdl:part element="ns0:GetOffersReply" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="SaveOfferRequest">
        <wsdl:part element="ns0:SaveOfferRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="SaveOfferReply">
        <wsdl:part element="ns0:SaveOfferReply" name="parameters"/>
    </wsdl:message>
</wsdl:definitions>
