tbs-bpm/AcceptanceTests/PreCompiledSamples/BizDataWithCase/.precompiled/bom2Xsd/com.example.bizdatawithcase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/bizdatawithcase" xmlns:tns1="http://example.com/bizdatawithcase"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/bizdatawithcase">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/BizDataWithCase/Business Objects/BizDataWithCase.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Case1" id="_RpAuoBNvEeWtRPSGZlPMdg" name="Case1">
    <xsd:sequence>
      <xsd:element ecore:name="autoCaseIdentifier1" id="_R344IBNvEeWtRPSGZlPMdg" maxOccurs="1"
          minOccurs="0" name="autoCaseIdentifier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="19"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="attribute1" id="_S1OqIBNvEeWtRPSGZlPMdg" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Class1" id="_SNxBgBNvEeWtRPSGZlPMdg" name="Class1">
    <xsd:sequence>
      <xsd:element ecore:name="attribute1" id="_SfV5sBNvEeWtRPSGZlPMdg" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Case1Element" type="Case1"/>
  <xsd:element name="Class1Element" type="Class1"/>
</xsd:schema>