tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC1WaFaultHandlingWS/Service Descriptors/BankAccountWithFault.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.tibco.com/UC1WaFaultHandlingWS/BankAccount/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankAccount" targetNamespace="http://www.tibco.com/UC1WaFaultHandlingWS/BankAccount/" tibex:src="file:/C:/Temp/BankAccountWithFault.wsdl">

    <wsdl:types>
        <xsd:schema targetNamespace="http://www.tibco.com/UC1WaFaultHandlingWS/BankAccount/">
            <xsd:element name="InvalidAccountNumber" type="xsd:string"/>
            <xsd:element name="InsufficientFund">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="balance" type="xsd:float"/>
                        <xsd:element name="account" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="PayFromAcctRequest">
        <wsdl:part name="accountNumber" type="xsd:string"/>
        <wsdl:part name="payment" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="PayFromAcctResponse">
        <wsdl:part name="balance" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="NoAccountFault">
    </wsdl:message>
    <wsdl:message name="InvalidAccountFault">
        <wsdl:part element="tns:InvalidAccountNumber" name="error"/>
    </wsdl:message>
    <wsdl:message name="InsufficientFundFault">
        <wsdl:part element="tns:InsufficientFund" name="error"/>
    </wsdl:message>

    <wsdl:portType name="BankAccount">
        <wsdl:operation name="PayFromAcct">
            <wsdl:input message="tns:PayFromAcctRequest"/>
            <wsdl:output message="tns:PayFromAcctResponse"/>
            <wsdl:fault message="tns:NoAccountFault" name="noAccountFault"/>
            <wsdl:fault message="tns:InvalidAccountFault" name="invalidAccountFault"/>
            <wsdl:fault message="tns:InsufficientFundFault" name="insufficientFundFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BankAccountSOAP" type="tns:BankAccount">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PayFromAcct">
            <soap:operation soapAction="PayFromAcct"/>
            <wsdl:input>
                <soap:body namespace="http://www.tibco.com/BankAccount/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://www.tibco.com/BankAccount/" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NoAccountFault">
                <soap:fault name="NoAccountFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidAccountFault">
                <soap:fault name="InvalidAccountFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InsufficientFundFault">
                <soap:fault name="InsufficientFundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="BankAccount">
        <wsdl:port binding="tns:BankAccountSOAP" name="BankAccountSOAP">
            <soap:address location="http://localhost:8777/UC1WaFaultHandlingWS/bankaccountservice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
