tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9EXsdAnyType/Service Descriptors/PetRegisterAnyType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PetRegisterAnyType" targetNamespace="http://www.example.org/PetRegisterAnyType/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/PetRegisterAnyType/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/PetRegisterAnyType/">


			<xsd:complexType name="Cat">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="breed" type="xsd:string"/>
				</xsd:sequence>

			</xsd:complexType>
			<xsd:complexType name="Fish">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="saltWater" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetLastRescuedPet">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rescueHomeName" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetLastRescuedPetResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="rescueHomeName" type="xsd:string"/>
						<xsd:element name="pet" type="xsd:anyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegisterPetWithVet">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rescueHomeName" type="xsd:string"/>

						<xsd:element name="pet" type="xsd:anyType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegisterPetWithVetResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rescueHomeName" type="xsd:string"/>
						<xsd:element name="petType" type="xsd:string"/>

						<xsd:element name="registered" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegisterPetWithVetResponse">
    <wsdl:part name="parameters" element="tns:RegisterPetWithVetResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="GetLastRescuedPetRequest">
    <wsdl:part name="parameters" element="tns:GetLastRescuedPet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetLastRescuedPetResponse">
    <wsdl:part name="parameters" element="tns:GetLastRescuedPetResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="RegisterPetWithVetRequest">
    <wsdl:part name="parameters" element="tns:RegisterPetWithVet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PetRegisterAnyType">
    <wsdl:operation name="GetLastRescuedPet">
      <wsdl:input message="tns:GetLastRescuedPetRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetLastRescuedPetResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPetWithVet">
      <wsdl:input message="tns:RegisterPetWithVetRequest">
    </wsdl:input>
      <wsdl:output message="tns:RegisterPetWithVetResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PetRegisterAnyTypeSOAP" type="tns:PetRegisterAnyType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetLastRescuedPet">
      <soap:operation soapAction="http://www.example.org/PetRegisterAnyType/GetLastRescuedPet"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPetWithVet">
      <soap:operation soapAction="http://www.example.org/PetRegisterAnyType/RegisterPetWithVet"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PetRegisterAnyType">
    <wsdl:port name="PetRegisterAnyTypeSOAP" binding="tns:PetRegisterAnyTypeSOAP">
      <soap:address location="http://localhost:9090/PetRegisterAnyType/services/PetRegisterAnyType/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

