tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9EXsdAnyType/Service Descriptors/UC9EXxsdAnyTypeAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/UC9EXxsdAnyTypeAbstract/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UC9EXxsdAnyTypeAbstract"
	targetNamespace="http://www.example.org/UC9EXxsdAnyTypeAbstract/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/UC9EXxsdAnyTypeAbstract/">

			<xsd:complexType name="Fish">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="saltWater" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="RegisterPetWithVetRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="owner" type="xsd:string" />
						<xsd:element name="pet" type="xsd:anyType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegisterPetWithVetResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string" />
						<xsd:element name="pet" type="xsd:anyType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegisterPetWithVetRequest">
		<wsdl:part element="tns:RegisterPetWithVetRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RegisterPetWithVetResponse">
		<wsdl:part element="tns:RegisterPetWithVetResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="UC9EXxsdAnyTypeAbstract">
		<wsdl:operation name="RegisterPetWithVet">
			<wsdl:input message="tns:RegisterPetWithVetRequest" />
			<wsdl:output message="tns:RegisterPetWithVetResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UC9EXxsdAnyTypeAbstractSOAP" type="tns:UC9EXxsdAnyTypeAbstract">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RegisterPetWithVet">
			<soap:operation
				soapAction="http://www.example.org/UC9EXxsdAnyTypeAbstract/RegisterPetWithVet" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UC9EXxsdAnyTypeAbstract">
		<wsdl:port binding="tns:UC9EXxsdAnyTypeAbstractSOAP" name="UC9EXxsdAnyTypeAbstractSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
