tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/13_xsd-choice/XSDBOM_Choice06_AnonChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/AnonChoice" targetNamespace="http://example.com/AnonChoice">
	<xs:element name="Boeing">
		<xs:complexType>
			<xs:choice>
				<xs:element name="freightDetails" type="xs:string"/>
				<xs:element name="seats">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="colour" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="armrest" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
