tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.sce.n2.mappings.validation.test/resources/XpathBrokenMappingsValidationTest/BrokenMappingsTest/Service Descriptors/WSDLCreatingPackage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_DBCLYCEtEd-wY5wINe8d6A" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDLCreatingPackage" targetNamespace="http://www.tibco.com/bs3.0/_DBCLYCEtEd-wY5wINe8d6A" tibex:XPDL="WSDLCreatingPackage.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_DBCLYCEtEd-wY5wINe8d6A" targetNamespace="http://www.tibco.com/bs3.0/_DBCLYCEtEd-wY5wINe8d6A">
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFC_MSGEVENT_INPUT">
    <wsdl:part name="P1" type="ns:string_50"/>
    <wsdl:part name="P2" type="ns:string_50"/>
    <wsdl:part name="P3" type="ns:string_50"/>

  </wsdl:message>
  <wsdl:message name="IFC_MSGEVENT_OUTPUT">
    <wsdl:part name="P1" type="ns:string_50"/>
    <wsdl:part name="P2" type="ns:string_50"/>
    <wsdl:part name="P3" type="ns:string_50"/>

  </wsdl:message>
  <wsdl:message name="MSGEVENT_faultMsg">
  	<wsdl:part name="F1" type="xsd:string"></wsdl:part>
  	<wsdl:part name="F2" type="xsd:string"></wsdl:part>
  	<wsdl:part name="F3" type="xsd:string"></wsdl:part>  	  </wsdl:message>
  <wsdl:message name="MSGEVENT_fault1Msg">
  	<wsdl:part name="F2" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IFC" tibex:FlowContainer="_LpIpoCEtEd-wY5wINe8d6A">
    <wsdl:operation name="MSGEVENT">
      <wsdl:input message="ns:IFC_MSGEVENT_INPUT" tibex:Event="_MiWwoCEtEd-wY5wINe8d6A"/>
      <wsdl:output message="ns:IFC_MSGEVENT_OUTPUT" tibex:Event="_MiWwoCEtEd-wY5wINe8d6A"/>
            <wsdl:fault name="fault" message="ns:MSGEVENT_faultMsg"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
