tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-block/gold/builder/XSDBOM_Block02_Multiple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/NewXMLSchema" xmlns:tns1="http://www.example.org/NewXMLSchema"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/NewXMLSchema">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Block02_Multiple/Business Objects/org.example.NewXMLSchema.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="myComplexRest" id="org.example.NewXMLSchemamyComplexRest"
      abstract="false" block="restriction restriction restriction" mixed="false" name="myComplexRest">
    <xsd:sequence>
      <xsd:element ecore:name="elemRest" id="myComplexRestelemRest" block="restriction restriction"
          form="qualified" maxOccurs="1" minOccurs="1" name="elemRest" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="myComplexExtension" id="org.example.NewXMLSchemamyComplexExtension"
      abstract="false" block="extension extension extension" mixed="false" name="myComplexExtension">
    <xsd:sequence>
      <xsd:element ecore:name="elemExtension" id="myComplexExtensionelemExtension"
          block="extension extension" form="qualified" maxOccurs="1" minOccurs="1"
          name="elemExtension" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="myComplex" id="org.example.NewXMLSchemamyComplex" abstract="false"
      block="#all" mixed="false" name="myComplex">
    <xsd:sequence>
      <xsd:element ecore:name="elemSubst" id="myComplexelemSubst" block="substitution substitution"
          form="qualified" maxOccurs="1" minOccurs="1" name="elemSubst" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" block="restriction restriction" name="topElemRest"
      nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" block="extension extension" name="topElemExtension"
      nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" block="substitution substitution" name="topElemSubst"
      nillable="false" type="xsd:string"/>
</xsd:schema>