tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC1CcWSInvokeJavaScript/Service Descriptors/SurgeryAddressService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/studio-3.3/SurgeryAddressService/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="AddressService" targetNamespace="http://www.tibco.com/studio-3.3/SurgeryAddressService/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/studio-3.3/SurgeryAddressService/"  
    targetNamespace="http://www.tibco.com/studio-3.3/SurgeryAddressService/">
      <xsd:annotation/>
      <xsd:complexType name="SurgeryAddressResultType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="addrLine1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="addrLine2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="city">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="province">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="postalCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="country">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SurgeryAddressQueryType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="postalCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="country">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SurgeryLookupAddress_INPUT">
    <wsdl:part name="surgeryAddressQuery" type="ns:SurgeryAddressQueryType" />
  </wsdl:message>
  <wsdl:message name="SurgeryLookupAddress_OUTPUT">
    <wsdl:part name="surgeryAddressResult" type="ns:SurgeryAddressResultType" />
  </wsdl:message>
  <wsdl:portType name="LookUpSurgeryServicePortType">
    <wsdl:operation name="LookupSurgeryAddress">
      <wsdl:input message="ns:SurgeryLookupAddress_INPUT"/>
      <wsdl:output message="ns:SurgeryLookupAddress_OUTPUT"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
