tbs-bpm/AcceptanceTests/AMX-BPM/DataUseCases/ProjectsWithQualifier/ProcToLocal/.bom2Xsd/com.example.proctolocal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/proctolocal" xmlns:tns3="http://example.com/proctolocal"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://example.com/localbomproj"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/proctolocal">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/ProcToLocal/Business Objects/ProcToLocal.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://example.com/localbomproj" schemaLocation="com.example.localbomproj.xsd"/>
  <xsd:complexType ecore:name="Class1" id="_Q3O1cFOBEeOydMVTHmI6_w" name="Class1">
    <xsd:sequence>
      <xsd:element ecore:name="attribute1" id="_RfwOAFOBEeOydMVTHmI6_w" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="attribute2" id="_W65oEFOBEeOydMVTHmI6_w" maxOccurs="1"
          minOccurs="0" name="attribute2" type="tns2:Person"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Class1Element" type="Class1"/>
</xsd:schema>