tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/bom-global-data/gold/builder/XSDBOM_GlobalData07_BiDirectionalAggregation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/businessobjectmodel7" xmlns:tns1="http://example.com/businessobjectmodel7"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/businessobjectmodel7">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/GDJunitProj/Business Objects/XSDBOM_GlobalData07_BiDirectionalAggregation.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Customer" id="_RCHIx3GXEeC5w-_cphi0rw" name="Customer">
    <xsd:sequence>
      <xsd:element ecore:name="autoCaseIdentifier1" id="_0daeYL8nEeOvo6mxMC9AQQ" maxOccurs="1"
          minOccurs="0" name="autoCaseIdentifier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="19"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Order" id="_RCHIy3GXEeC5w-_cphi0rw" name="Order">
    <xsd:sequence>
      <xsd:element ecore:name="autoCaseIdentifier1" id="_0sElcL8nEeOvo6mxMC9AQQ" maxOccurs="1"
          minOccurs="0" name="autoCaseIdentifier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="19"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomerElement" type="Customer"/>
  <xsd:element name="OrderElement" type="Order"/>
</xsd:schema>