tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/14_xsd-group/XSDBOM_Group04A_DuplicateRefs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM_Group04A_DuplicateRefs"
	xmlns:tns="http://www.example.org/XSDBOM_Group04A_DuplicateRefs"
	elementFormDefault="qualified">

	<group name="groupA">
		<sequence>
			<element name="groupAElem1" type="string"></element>			
		</sequence>
	</group>	

	<complexType name="PersonDetails">
		<sequence>
			<group ref="tns:groupA"></group>						
			<group ref="tns:groupA"></group>
		</sequence>		
	</complexType>




</schema>