tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.schema.integration.moge.modificastatoresidenteresponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/schema/integration/moge/modificastatoresidenteresponse"
    xmlns:tns8="http://xmlns.enel.com/mercato/libero/schema/integration/moge/modificastatoresidenteresponse"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/mercato/libero/schema/integration/moge/modificastatoresidenteresponse">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.fatturazione.resource/Generated Business Objects/com.enel.xmlns.mercato.libero.schema.integration.moge.modificastatoresidenteresponse.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="EsitoType" id="com.enel.xmlns.mercato.libero.schema.integration.moge.modificastatoresidenteresponseEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="correlationId" id="EsitoTypecorrelationId" form="qualified"
          maxOccurs="1" minOccurs="1" name="correlationId" type="xsd:string"/>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="qualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="qualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="qualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="qualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="ModificaStatoResidenteResponse" nillable="false">
    <xsd:complexType ecore:name="ModificaStatoResidenteResponseType" id="com.enel.xmlns.mercato.libero.schema.integration.moge.modificastatoresidenteresponseModificaStatoResidenteResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>