tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/abstract/integration/FatturazioneMoteBpm"
    xmlns:tns2="http://xmlns.enel.com/mercato/libero/abstract/integration/FatturazioneMoteBpm"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://xmlns.enel.com/mercato/libero/abstract/integration/FatturazioneMoteBpm">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.fatturazione.resource/Generated Business Objects/com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpm.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="RichiestaType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="qualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente" type="xsd:string"/>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="qualified" maxOccurs="1"
          minOccurs="0" name="canale" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="RichiestaTypeidRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="RichiestaTypetipoOperazione" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="RichiestaTypecausale" form="qualified"
          maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="qualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="RichiestaTypecommodity" form="qualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaTypeflagDelibera40" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="RichiestaTypeIp" form="qualified" maxOccurs="1"
          minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element ecore:name="profilo" id="RichiestaTypeProfilo" form="qualified"
          maxOccurs="1" minOccurs="0" name="Profilo" type="xsd:string"/>
      <xsd:element ecore:name="matricola" id="RichiestaTypeMatricola" form="qualified"
          maxOccurs="1" minOccurs="0" name="Matricola" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiesta" id="RichiestaTypeDataRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaTypeIdMuti" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdMuti" type="xsd:string"/>
      <xsd:element ecore:name="idDms" id="RichiestaTypeIdDms" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdDms" type="xsd:string"/>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaTypeIdDmsReclamo" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="RichiestaTypeIdR2d" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdR2d" type="IdentificativiR2dType"/>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestaTypedataDecorrenza" form="qualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestaTypetipoRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="flagComplesso" id="RichiestaTypeflagComplesso" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaTypeflagPreventivo" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaTypeflagDocumentazione"
          form="qualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione" type="xsd:string"/>
      <xsd:element ecore:name="idCRM" id="RichiestaTypeidCRM" form="qualified" maxOccurs="1"
          minOccurs="0" name="idCRM" type="xsd:string"/>
      <xsd:element ecore:name="statoServizio" id="RichiestaTypestatoServizio" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoServizio" type="xsd:string"/>
      <xsd:element ecore:name="statoOrdine" id="RichiestaTypestatoOrdine" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine" type="xsd:string"/>
      <xsd:element ecore:name="statoFiCa" id="RichiestaTypestatoFiCa" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa" type="xsd:string"/>
      <xsd:element ecore:name="statoISU" id="RichiestaTypestatoISU" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoISU" type="xsd:string"/>
      <xsd:element ecore:name="statoR2D" id="RichiestaTypestatoR2D" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoR2D" type="xsd:string"/>
      <xsd:element ecore:name="statoSD" id="RichiestaTypestatoSD" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoSD" type="xsd:string"/>
      <xsd:element ecore:name="statoSempre" id="RichiestaTypestatoSempre" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoSempre" type="xsd:string"/>
      <xsd:element ecore:name="statoUDB" id="RichiestaTypestatoUDB" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoUDB" type="xsd:string"/>
      <xsd:element ecore:name="idR2R" id="RichiestaTypeIdR2R" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdR2R" type="IdentificativiR2rType"/>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaTypeIdAttivitaCrm" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2dType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmIdentificativiR2dType"
      abstract="false" mixed="false" name="IdentificativiR2dType">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="IdentificativiR2dTypeIdDistr" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDistr" type="xsd:string"/>
      <xsd:element ecore:name="idDistr2" id="IdentificativiR2dTypeIdDistr2" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDistr2" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="IdentificativiR2dTypeIdR2d" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdR2d" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2rType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmIdentificativiR2rType"
      abstract="false" mixed="false" name="IdentificativiR2rType">
    <xsd:sequence>
      <xsd:element ecore:name="idR2R" id="IdentificativiR2rTypeIdR2R" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdR2R" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="qualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="qualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="qualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="qualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="AggiornaMercatoSapRequest" nillable="false">
    <xsd:complexType ecore:name="AggiornaMercatoSapRequestType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmAggiornaMercatoSapRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="qualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="fatturazioneCDM" form="qualified" maxOccurs="1" minOccurs="0"
            name="FatturazioneCDM" type="xsd:string"/>
        <xsd:element ecore:name="clienteCDM" form="qualified" maxOccurs="1" minOccurs="0"
            name="ClienteCDM" type="xsd:string"/>
        <xsd:element ecore:name="dataAggiornamentoMercato" form="qualified" maxOccurs="1"
            minOccurs="0" name="DataAggiornamentoMercato" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AggiornaMercatoSapResponse" nillable="false">
    <xsd:complexType ecore:name="AggiornaMercatoSapResponseType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmAggiornaMercatoSapResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaDisalimentabilitaRequest" nillable="false">
    <xsd:complexType ecore:name="ModificaDisalimentabilitaRequestType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmModificaDisalimentabilitaRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="qualified" maxOccurs="1" minOccurs="1"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="idIsuFatturazioneCDM" form="qualified" maxOccurs="1"
            minOccurs="0" name="IdIsuFatturazioneCDM" type="xsd:string"/>
        <xsd:element ecore:name="fornituraCDM" form="qualified" maxOccurs="1" minOccurs="0"
            name="FornituraCDM" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaDisalimentabilitaResponse" nillable="false">
    <xsd:complexType ecore:name="ModificaDisalimentabilitaResponseType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmModificaDisalimentabilitaResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaIndirizzoFornituraRequest" nillable="false">
    <xsd:complexType ecore:name="ModificaIndirizzoFornituraRequestType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmModificaIndirizzoFornituraRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="qualified" maxOccurs="1" minOccurs="1"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="CDM_IdFatturazione" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_IdFatturazione" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Cliente" form="qualified" maxOccurs="1" minOccurs="1"
            name="CDM_Cliente" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Fornitura" form="qualified" maxOccurs="1" minOccurs="1"
            name="CDM_Fornitura" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaIndirizzoFornituraResponse" nillable="false">
    <xsd:complexType ecore:name="ModificaIndirizzoFornituraResponseType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmModificaIndirizzoFornituraResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaPodRequest" nillable="false">
    <xsd:complexType ecore:name="ModificaPodRequestType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmModificaPodRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="qualified" maxOccurs="1" minOccurs="1"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="CDM_Idfatturazione" form="qualified" maxOccurs="1"
            minOccurs="1" name="CDM_Idfatturazione" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Cliente" form="qualified" maxOccurs="1" minOccurs="1"
            name="CDM_Cliente" type="xsd:string"/>
        <xsd:element ecore:name="podNuovo" form="qualified" maxOccurs="1" minOccurs="1"
            name="PodNuovo">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="20"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaPodResponse" nillable="false">
    <xsd:complexType ecore:name="ModificaPodResponseType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmModificaPodResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaTelegestioneRequest" nillable="false">
    <xsd:complexType ecore:name="ModificaTelegestioneRequestType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmModificaTelegestioneRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="qualified" maxOccurs="1" minOccurs="1"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="idIsuFatturazioneCDM" form="qualified" maxOccurs="1"
            minOccurs="1" name="IdIsuFatturazioneCDM" type="xsd:string"/>
        <xsd:element ecore:name="fornituraCDM" form="qualified" maxOccurs="1" minOccurs="1"
            name="FornituraCDM" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ModificaTelegestioneResponse" nillable="false">
    <xsd:complexType ecore:name="ModificaTelegestioneResponseType" id="com.enel.xmlns.mercato.libero.abstract_.integration.FatturazioneMoteBpmModificaTelegestioneResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="qualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>