tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/.precompiled/bom2Xsd/com.enel.mind.richiestavariazioneridisu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/richiestavariazioneridisu" xmlns:tns5="http://mind.enel.com/richiestavariazioneridisu"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/richiestavariazioneridisu">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.fatturazione.resource/Generated Business Objects/com.enel.mind.richiestavariazioneridisu.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Esito" id="com.enel.mind.richiestavariazioneridisuEsito"
      abstract="false" mixed="false" name="Esito">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="Esitoesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceEsito" id="EsitocodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="Esitodescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitosistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GestionRidRequest" id="com.enel.mind.richiestavariazioneridisuGestionRidRequest"
      abstract="false" mixed="false" name="GestionRidRequest">
    <xsd:sequence>
      <xsd:element ecore:name="tipoOperazione" id="GestionRidRequesttipoOperazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="tipoOperazione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causale" id="GestionRidRequestcausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceBusinessPartnerSap" id="GestionRidRequestcodiceBusinessPartnerSap"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codiceBusinessPartnerSap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceContoSap" id="GestionRidRequestcodiceContoSap"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codiceContoSap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codicePaese" id="GestionRidRequestcodicePaese" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codicePaese">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceCinIban" id="GestionRidRequestcodiceCinIban"
          form="unqualified" maxOccurs="1" minOccurs="0" name="codiceCinIban">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="chiaveControlloBanche" id="GestionRidRequestchiaveControlloBanche"
          form="unqualified" maxOccurs="1" minOccurs="0" name="chiaveControlloBanche">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="chiaveBanca" id="GestionRidRequestchiaveBanca" form="unqualified"
          maxOccurs="1" minOccurs="0" name="chiaveBanca">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroContoBancario" id="GestionRidRequestnumeroContoBancario"
          form="unqualified" maxOccurs="1" minOccurs="0" name="numeroContoBancario">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoDomiciliazioneBanca" id="GestionRidRequeststatoDomiciliazioneBanca"
          form="unqualified" maxOccurs="1" minOccurs="0" name="statoDomiciliazioneBanca">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="numeroUtente" id="GestionRidRequestnumeroUtente" form="unqualified"
          maxOccurs="1" minOccurs="0" name="numeroUtente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idProcessBpm" id="GestionRidRequestidProcessBpm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessBpm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GestioneRidResponse" id="com.enel.mind.richiestavariazioneridisuGestioneRidResponse"
      abstract="false" mixed="false" name="GestioneRidResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="GestioneRidResponseesito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="EsitoElement" nillable="false" type="Esito"/>
  <xsd:element abstract="false" name="GestionRidRequestElement" nillable="false" type="GestionRidRequest"/>
  <xsd:element abstract="false" name="GestioneRidResponseElement" nillable="false"
      type="GestioneRidResponse"/>
</xsd:schema>