tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/.precompiled/bom2Xsd/com.enel.xmlns.mercato.libero.schema.cdm.richiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd" xmlns:tns13="http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.fatturazione.resource/Generated Business Objects/com.enel.xmlns.mercato.libero.schema.cdm.richiesta.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="Canale" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaCanale2"
      name="Canale">
    <xsd:restriction base="xsd:string">
      <xsd:minLength fixed="false" value="0"/>
      <xsd:maxLength fixed="false" value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="Causale" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaCausale2"
      name="Causale">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="Commodity" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaCommodity2"
      name="Commodity">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="IdRichiesta" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaIdRichiesta2"
      name="IdRichiesta">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="StatoOrdine" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaStatoOrdine2"
      name="StatoOrdine">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="TipoOperazione" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaTipoOperazione2"
      name="TipoOperazione">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string1" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestastring12"
      name="string1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="AppuntamentoType" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaAppuntamentoType"
      abstract="false" mixed="false" name="AppuntamentoType">
    <xsd:sequence>
      <xsd:element ecore:name="tipoAppuntamento" id="AppuntamentoTypeTipoAppuntamento"
          form="qualified" maxOccurs="1" minOccurs="0" name="TipoAppuntamento" type="xsd:string"/>
      <xsd:element ecore:name="dataAppuntamento" id="AppuntamentoTypeDataAppuntamento"
          form="qualified" maxOccurs="1" minOccurs="0" name="DataAppuntamento" type="xsd:date"/>
      <xsd:element ecore:name="foDa" id="AppuntamentoTypeFoDa" form="qualified" maxOccurs="1"
          minOccurs="0" name="FoDa" type="xsd:string"/>
      <xsd:element ecore:name="foA" id="AppuntamentoTypeFoA" form="qualified" maxOccurs="1"
          minOccurs="0" name="FoA" type="xsd:string"/>
      <xsd:element ecore:name="dataCutOff" id="AppuntamentoTypeDataCutOff" form="qualified"
          maxOccurs="1" minOccurs="0" name="DataCutOff" type="xsd:date"/>
      <xsd:element ecore:name="caricoAppuntamento" id="AppuntamentoTypeCaricoAppuntamento"
          form="qualified" maxOccurs="1" minOccurs="0" name="CaricoAppuntamento" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2dType" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaIdentificativiR2dType"
      abstract="false" mixed="false" name="IdentificativiR2dType">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="IdentificativiR2dTypeIdDistr" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDistr" type="tns13:IdRichiesta"/>
      <xsd:element ecore:name="idDistr2" id="IdentificativiR2dTypeIdDistr2" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDistr2" type="tns13:IdRichiesta"/>
      <xsd:element ecore:name="idR2d" id="IdentificativiR2dTypeIdR2d" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdR2d" type="tns13:IdRichiesta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="RichiestaType" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="qualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente" type="xsd:string"/>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="qualified" maxOccurs="1"
          minOccurs="0" name="canale" type="tns13:Canale"/>
      <xsd:element ecore:name="idRichiesta" id="RichiestaTypeidRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="tns13:IdRichiesta"/>
      <xsd:element ecore:name="tipoOperazione" id="RichiestaTypetipoOperazione" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione" type="tns13:TipoOperazione"/>
      <xsd:element ecore:name="causale" id="RichiestaTypecausale" form="qualified"
          maxOccurs="1" minOccurs="0" name="causale" type="tns13:Causale"/>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="qualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="tns13:IdRichiesta"/>
      <xsd:element ecore:name="commodity" id="RichiestaTypecommodity" form="qualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="tns13:Commodity"/>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaTypeflagDelibera40" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="RichiestaTypeIp" form="qualified" maxOccurs="1"
          minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element ecore:name="profilo" id="RichiestaTypeProfilo" form="qualified"
          maxOccurs="1" minOccurs="0" name="Profilo" type="xsd:string"/>
      <xsd:element ecore:name="matricola" id="RichiestaTypeMatricola" form="qualified"
          maxOccurs="1" minOccurs="0" name="Matricola" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiesta" id="RichiestaTypeDataRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaTypeIdMuti" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdMuti" type="tns13:IdRichiesta"/>
      <xsd:element ecore:name="idDms" id="RichiestaTypeIdDms" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdDms" type="tns13:IdRichiesta"/>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaTypeIdDmsReclamo" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdDmsReclamo" type="tns13:IdRichiesta"/>
      <xsd:element ecore:name="idR2d" id="RichiestaTypeIdR2d" form="qualified" maxOccurs="1"
          minOccurs="0" name="IdR2d" type="IdentificativiR2dType"/>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestaTypedataDecorrenza" form="qualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestaTypetipoRichiesta" form="qualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="flagComplesso" id="RichiestaTypeflagComplesso" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaTypeflagPreventivo" form="qualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo" type="tns13:string1"/>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaTypeflagDocumentazione"
          form="qualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione" type="tns13:string1"/>
      <xsd:element ecore:name="idCRM" id="RichiestaTypeidCRM" form="qualified" maxOccurs="1"
          minOccurs="0" name="idCRM" type="tns13:IdRichiesta"/>
      <xsd:element ecore:name="statoServizio" id="RichiestaTypestatoServizio" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoServizio" type="tns13:StatoOrdine"/>
      <xsd:element ecore:name="statoOrdine" id="RichiestaTypestatoOrdine" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine" type="tns13:StatoOrdine"/>
      <xsd:element ecore:name="statoFiCa" id="RichiestaTypestatoFiCa" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa" type="tns13:StatoOrdine"/>
      <xsd:element ecore:name="statoISU" id="RichiestaTypestatoISU" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoISU" type="tns13:StatoOrdine"/>
      <xsd:element ecore:name="statoR2D" id="RichiestaTypestatoR2D" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoR2D" type="tns13:StatoOrdine"/>
      <xsd:element ecore:name="statoSD" id="RichiestaTypestatoSD" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoSD" type="tns13:StatoOrdine"/>
      <xsd:element ecore:name="statoSempre" id="RichiestaTypestatoSempre" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoSempre" type="tns13:StatoOrdine"/>
      <xsd:element ecore:name="statoUDB" id="RichiestaTypestatoUDB" form="qualified"
          maxOccurs="1" minOccurs="0" name="statoUDB" type="tns13:StatoOrdine"/>
      <xsd:element ecore:name="idR2R" id="RichiestaTypeIdR2RType" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdR2R">
        <xsd:complexType ecore:name="IdR2RType" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaIdR2RType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="idR2R" form="qualified" maxOccurs="1" minOccurs="0"
                name="IdR2R">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="30"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaTypeIdAttivitaCrm" form="qualified"
          maxOccurs="1" minOccurs="0" name="IdAttivitaCrm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="datiBam" id="RichiestaTypeDatiBamType" form="qualified"
          maxOccurs="1" minOccurs="0" name="DatiBam">
        <xsd:complexType ecore:name="DatiBamType" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaDatiBamType"
            mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="tipoPratica" form="qualified" maxOccurs="1" minOccurs="0"
                name="TipoPratica" type="xsd:string"/>
            <xsd:element ecore:name="servizio" form="qualified" maxOccurs="1" minOccurs="0"
                name="Servizio" type="xsd:string"/>
            <xsd:element ecore:name="idPadre" form="qualified" maxOccurs="1" minOccurs="0"
                name="IdPadre" type="xsd:string"/>
            <xsd:element ecore:name="tipoPraticaPadre" form="qualified" maxOccurs="1"
                minOccurs="0" name="TipoPraticaPadre" type="xsd:string"/>
            <xsd:element ecore:name="servizioPadre" form="qualified" maxOccurs="1"
                minOccurs="0" name="ServizioPadre" type="xsd:string"/>
            <xsd:element ecore:name="keys" form="qualified" maxOccurs="unbounded"
                minOccurs="0" name="Keys">
              <xsd:complexType ecore:name="KeysType" id="com.enel.xmlns.mercato.libero.schema.cdm.richiestaKeysType"
                  mixed="false">
                <xsd:sequence>
                  <xsd:element ecore:name="nomeChiave" form="qualified" maxOccurs="1"
                      minOccurs="0" name="NomeChiave" type="xsd:string"/>
                  <xsd:element ecore:name="valoreChiave" form="qualified" maxOccurs="1"
                      minOccurs="0" name="ValoreChiave" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="dataAggiornamento" id="RichiestaTypeDataAggiornamento"
          form="qualified" maxOccurs="1" minOccurs="0" name="DataAggiornamento" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="Richiesta" nillable="false" type="RichiestaType"/>
  <xsd:element abstract="false" name="Appuntamento" nillable="false" type="AppuntamentoType"/>
</xsd:schema>