tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/.precompiled/bom2Xsd/com.enel.mind.fatturazioneservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://mind.enel.com/fatturazioneservice" xmlns:tns15="http://mind.enel.com/fatturazioneservice"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mind.enel.com/fatturazioneservice">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.fatturazione.resource/Generated Business Objects/com.enel.mind.fatturazioneservice.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="BollettaWebResponse" id="com.enel.mind.fatturazioneserviceBollettaWebResponse"
      abstract="false" mixed="false" name="BollettaWebResponse">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="BollettaWebResponseesito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Esito" id="com.enel.mind.fatturazioneserviceEsito"
      abstract="false" mixed="false" name="Esito">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="Esitoesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="codiceEsito" id="EsitocodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizione" id="Esitodescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="sistemaSorgente" id="EsitosistemaSorgente" form="unqualified"
          maxOccurs="1" minOccurs="0" name="sistemaSorgente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="tipoEsito" id="EsitotipoEsito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="tipoEsito">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="idR2d" id="com.enel.mind.fatturazioneserviceidR2d"
      abstract="false" mixed="false" name="idR2d">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="idR2didDistr" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idDistr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idDistr2" id="idR2didDistr2" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idDistr2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idR2d" id="idR2didR2d" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idR2d">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="idR2R" id="com.enel.mind.fatturazioneserviceidR2R"
      abstract="false" mixed="false" name="idR2R">
    <xsd:sequence>
      <xsd:element ecore:name="idR2R" id="idR2RidR2R" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idR2R">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idAttivitaCrm" id="idR2RidAttivitaCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idAttivitaCrm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Richiesta" id="com.enel.mind.fatturazioneserviceRichiesta"
      abstract="false" mixed="false" name="Richiesta">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestasistemaRichiedente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="canale" id="Richiestacanale" form="unqualified" maxOccurs="1"
          minOccurs="0" name="canale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idRichiesta" id="RichiestaidRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="tipoOperazione" id="RichiestatipoOperazione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="causale" id="Richiestacausale" form="unqualified" maxOccurs="1"
          minOccurs="0" name="causale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaidProcessoBpm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="commodity" id="Richiestacommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaflagDelibera40" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="Richiestaip" form="unqualified" maxOccurs="1"
          minOccurs="0" name="ip">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="profilo" id="Richiestaprofilo" form="unqualified" maxOccurs="1"
          minOccurs="0" name="profilo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="matricola" id="Richiestamatricola" form="unqualified"
          maxOccurs="1" minOccurs="0" name="matricola">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataRichiesta" id="RichiestadataRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaidMuti" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idMuti">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idDms" id="RichiestaidDms" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idDms">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaidDmsReclamo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idDmsReclamo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idR2d" id="RichiestaidR2d" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idR2d" type="idR2d"/>
      <xsd:element ecore:name="idR2R" id="RichiestaidR2R" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idR2R" type="idR2R"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestatipoRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="flagComplesso" id="RichiestaflagComplesso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaflagPreventivo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaflagDocumentazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="idCRM" id="RichiestaidCRM" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idCRM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoServizio" id="RichiestastatoServizio" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoServizio">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoOrdine" id="RichiestastatoOrdine" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoFICA" id="RichiestastatoFICA" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoFICA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoISU" id="RichiestastatoISU" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoISU">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoR2D" id="RichiestastatoR2D" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoR2D">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoSEMPRE" id="RichiestastatoSEMPRE" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSEMPRE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="statoUDB" id="RichiestastatoUDB" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoUDB">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestadataDecorrenza" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="statoSD" id="RichiestastatoSD" form="unqualified" maxOccurs="1"
          minOccurs="0" name="statoSD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="BollettaWebRequest" id="com.enel.mind.fatturazioneserviceBollettaWebRequest"
      abstract="false" mixed="false" name="BollettaWebRequest">
    <xsd:sequence>
      <xsd:element ecore:name="richiesta" id="BollettaWebRequestrichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="richiesta" type="Richiesta"/>
      <xsd:element ecore:name="identificativi" id="BollettaWebRequestidentificativi"
          form="unqualified" maxOccurs="1" minOccurs="0" name="identificativi" type="Identificativi"/>
      <xsd:element ecore:name="canaleStampa" id="BollettaWebRequestcanaleStampa" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canaleStampa">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Identificativi" id="com.enel.mind.fatturazioneserviceIdentificativi"
      abstract="false" mixed="false" name="Identificativi">
    <xsd:sequence>
      <xsd:element ecore:name="businessPartner" id="IdentificativibusinessPartner"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartner">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contoContrattuale" id="IdentificativicontoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattuale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contrattoSap" id="IdentificativicontrattoSap" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoSap">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="businessPartnerEsterno" id="IdentificativibusinessPartnerEsterno"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartnerEsterno">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="descrizioneContoContrattuale" id="IdentificatividescrizioneContoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizioneContoContrattuale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="caratteristicaDeterminazioneConti" id="IdentificativicaratteristicaDeterminazioneConti"
          form="unqualified" maxOccurs="1" minOccurs="0" name="caratteristicaDeterminazioneConti">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contrattoCrm" id="IdentificativicontrattoCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoCrm">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contrattoSd" id="IdentificativicontrattoSd" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoSd">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="contoContrattualeSD" id="IdentificativicontoContrattualeSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattualeSD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="businessPartnerSD" id="IdentificativibusinessPartnerSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartnerSD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="BollettaWebResponseElement" nillable="false"
      type="BollettaWebResponse"/>
  <xsd:element abstract="false" name="EsitoElement" nillable="false" type="Esito"/>
  <xsd:element abstract="false" name="idR2dElement" nillable="false" type="idR2d"/>
  <xsd:element abstract="false" name="idR2RElement" nillable="false" type="idR2R"/>
  <xsd:element abstract="false" name="RichiestaElement" nillable="false" type="Richiesta"/>
  <xsd:element abstract="false" name="BollettaWebRequestElement" nillable="false"
      type="BollettaWebRequest"/>
  <xsd:element abstract="false" name="IdentificativiElement" nillable="false" type="Identificativi"/>
</xsd:schema>