tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/.precompiled/bom2Xsd/fatturazioneaggiornamentodati.integration.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.integration.fatturazioneaggiornamentodati" xmlns:tns10="http://com.enel.mind.integration.fatturazioneaggiornamentodati"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.integration.fatturazioneaggiornamentodati">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.fatturazione.resource/Generated Business Objects/fatturazioneaggiornamentodati.integration.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="AggiornamentoInfoDefaultRequest" nillable="false">
    <xsd:complexType ecore:name="AggiornamentoInfoDefaultRequestType" id="fatturazioneaggiornamentodati.integration.mind.enel.comAggiornamentoInfoDefaultRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="businessId" form="unqualified" maxOccurs="1" minOccurs="0"
            name="BusinessId" type="xsd:string"/>
        <xsd:element ecore:name="categoriaDefault" form="unqualified" maxOccurs="1"
            minOccurs="0" name="CategoriaDefault" type="xsd:string"/>
        <xsd:element ecore:name="causale" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Causale" type="xsd:string"/>
        <xsd:element ecore:name="contoContrattuale" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ContoContrattuale" type="xsd:string"/>
        <xsd:element ecore:name="contratto" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Contratto" type="xsd:string"/>
        <xsd:element ecore:name="dataDefault" form="unqualified" maxOccurs="1" minOccurs="0"
            name="DataDefault" type="xsd:string"/>
        <xsd:element ecore:name="idRichiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdRichiesta" type="xsd:string"/>
        <xsd:element ecore:name="tipoOperazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="TipoOperazione" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AggiornamentoInfoDefaultResponse" nillable="false">
    <xsd:complexType ecore:name="AggiornamentoInfoDefaultResponseType" id="fatturazioneaggiornamentodati.integration.mind.enel.comAggiornamentoInfoDefaultResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CodiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizioneEsito" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DescrizioneEsito" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>