tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/.precompiled/bom2Xsd/FatturazioneService.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.FatturazioneService" xmlns:tns9="http://com.enel.mind.FatturazioneService"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.FatturazioneService">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.fatturazione.resource/Generated Business Objects/FatturazioneService.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="string_100" id="FatturazioneService.mind.enel.comstring_1002"
      name="string_100">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string_4000" id="FatturazioneService.mind.enel.comstring_40002"
      name="string_4000">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="4000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="integer_3" id="FatturazioneService.mind.enel.cominteger_32"
      name="integer_3">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits fixed="false" value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="string_50" id="FatturazioneService.mind.enel.comstring_502"
      name="string_50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="integer_9" id="FatturazioneService.mind.enel.cominteger_92"
      name="integer_9">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits fixed="false" value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="SFATTBW_errorCode" nillable="false" type="string_100"/>
  <xsd:element abstract="false" name="SFATTBW_errorDetail" nillable="false" type="string_4000"/>
  <xsd:element abstract="false" name="SFATTBW_errorMaxRetries" nillable="false" type="integer_3"/>
  <xsd:element abstract="false" name="SFATTBW_errorPerformer" nillable="false" type="string_50"/>
  <xsd:element abstract="false" name="SFATTBW_errorRetryCount" nillable="false" type="integer_3"/>
  <xsd:element abstract="false" name="SFATTBW_errorShortRetries" nillable="false"
      type="integer_3"/>
  <xsd:element abstract="false" name="SFATTBW_errorWaitLongDelayMin" nillable="false"
      type="integer_9"/>
  <xsd:element abstract="false" name="SFATTBW_errorWaitShortDelayMin" nillable="false"
      type="integer_9"/>
  <xsd:element abstract="false" name="SFATTBW_msgPayload" nillable="false" type="string_4000"/>
  <xsd:element abstract="false" name="SFATTBW_processId" nillable="false" type="string_50"/>
  <xsd:element abstract="false" name="SFATTBW_processName" nillable="false" type="string_100"/>
</xsd:schema>