tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/.precompiled/bom2Xsd/fatturazione.integration.mind.enel.com.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://com.enel.mind.integration.fatturazione" xmlns:tns3="http://com.enel.mind.integration.fatturazione"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.enel.mind.integration.fatturazione">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/com.enel.mind_integration.fatturazione.resource/Generated Business Objects/fatturazione.integration.mind.enel.com.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="char10" id="fatturazione.integration.mind.enel.comchar102"
      name="char10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char12" id="fatturazione.integration.mind.enel.comchar122"
      name="char12">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char13" id="fatturazione.integration.mind.enel.comchar132"
      name="char13">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="13"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char15" id="fatturazione.integration.mind.enel.comchar152"
      name="char15">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char2" id="fatturazione.integration.mind.enel.comchar22"
      name="char2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char220" id="fatturazione.integration.mind.enel.comchar2202"
      name="char220">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="220"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char3" id="fatturazione.integration.mind.enel.comchar32"
      name="char3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char30" id="fatturazione.integration.mind.enel.comchar302"
      name="char30">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char4" id="fatturazione.integration.mind.enel.comchar42"
      name="char4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="numeric3" id="fatturazione.integration.mind.enel.comnumeric32"
      name="numeric3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="char255" id="fatturazione.integration.mind.enel.comchar2552"
      name="char255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength fixed="false" value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="RichiestaType" id="fatturazione.integration.mind.enel.comRichiestaType"
      abstract="false" mixed="false" name="RichiestaType">
    <xsd:sequence>
      <xsd:element ecore:name="sistemaRichiedente" id="RichiestaTypesistemaRichiedente"
          form="unqualified" maxOccurs="1" minOccurs="0" name="sistemaRichiedente"
          type="xsd:string"/>
      <xsd:element ecore:name="canale" id="RichiestaTypecanale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="canale" type="xsd:string"/>
      <xsd:element ecore:name="idRichiesta" id="RichiestaTypeidRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="tipoOperazione" id="RichiestaTypetipoOperazione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      <xsd:element ecore:name="causale" id="RichiestaTypecausale" form="unqualified"
          maxOccurs="1" minOccurs="0" name="causale" type="xsd:string"/>
      <xsd:element ecore:name="idProcessoBpm" id="RichiestaTypeidProcessoBpm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      <xsd:element ecore:name="commodity" id="RichiestaTypecommodity" form="unqualified"
          maxOccurs="1" minOccurs="0" name="commodity" type="xsd:string"/>
      <xsd:element ecore:name="flagDelibera40" id="RichiestaTypeflagDelibera40" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      <xsd:element ecore:name="ip" id="RichiestaTypeIp" form="unqualified" maxOccurs="1"
          minOccurs="0" name="Ip" type="xsd:string"/>
      <xsd:element ecore:name="profilo" id="RichiestaTypeProfilo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Profilo" type="xsd:string"/>
      <xsd:element ecore:name="matricola" id="RichiestaTypeMatricola" form="unqualified"
          maxOccurs="1" minOccurs="0" name="Matricola" type="xsd:string"/>
      <xsd:element ecore:name="dataRichiesta" id="RichiestaTypeDataRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      <xsd:element ecore:name="idMuti" id="RichiestaTypeIdMuti" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdMuti" type="xsd:string"/>
      <xsd:element ecore:name="idDms" id="RichiestaTypeIdDms" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdDms" type="xsd:string"/>
      <xsd:element ecore:name="idDmsReclamo" id="RichiestaTypeIdDmsReclamo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="RichiestaTypeIdR2d" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2d" type="IdentificativiR2dType"/>
      <xsd:element ecore:name="dataDecorrenza" id="RichiestaTypedataDecorrenza" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      <xsd:element ecore:name="tipoRichiesta" id="RichiestaTypetipoRichiesta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      <xsd:element ecore:name="flagComplesso" id="RichiestaTypeflagComplesso" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      <xsd:element ecore:name="flagPreventivo" id="RichiestaTypeflagPreventivo" form="unqualified"
          maxOccurs="1" minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      <xsd:element ecore:name="flagDocumentazione" id="RichiestaTypeflagDocumentazione"
          form="unqualified" maxOccurs="1" minOccurs="0" name="flagDocumentazione"
          type="xsd:string"/>
      <xsd:element ecore:name="idCRM" id="RichiestaTypeidCRM" form="unqualified" maxOccurs="1"
          minOccurs="0" name="idCRM" type="xsd:string"/>
      <xsd:element ecore:name="statoServizio" id="RichiestaTypestatoServizio" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoServizio" type="xsd:string"/>
      <xsd:element ecore:name="statoOrdine" id="RichiestaTypestatoOrdine" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoOrdine" type="xsd:string"/>
      <xsd:element ecore:name="statoFiCa" id="RichiestaTypestatoFiCa" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoFiCa" type="xsd:string"/>
      <xsd:element ecore:name="statoISU" id="RichiestaTypestatoISU" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoISU" type="xsd:string"/>
      <xsd:element ecore:name="statoR2D" id="RichiestaTypestatoR2D" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoR2D" type="xsd:string"/>
      <xsd:element ecore:name="statoSD" id="RichiestaTypestatoSD" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSD" type="xsd:string"/>
      <xsd:element ecore:name="statoSempre" id="RichiestaTypestatoSempre" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoSempre" type="xsd:string"/>
      <xsd:element ecore:name="statoUDB" id="RichiestaTypestatoUDB" form="unqualified"
          maxOccurs="1" minOccurs="0" name="statoUDB" type="xsd:string"/>
      <xsd:element ecore:name="idR2R" id="RichiestaTypeIdR2R" form="unqualified" maxOccurs="1"
          minOccurs="0" name="IdR2R" type="IdentificativiR2rType"/>
      <xsd:element ecore:name="idAttivitaCrm" id="RichiestaTypeIdAttivitaCrm" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2dType" id="fatturazione.integration.mind.enel.comIdentificativiR2dType"
      abstract="false" mixed="false" name="IdentificativiR2dType">
    <xsd:sequence>
      <xsd:element ecore:name="idDistr" id="IdentificativiR2dTypeIdDistr" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr" type="xsd:string"/>
      <xsd:element ecore:name="idDistr2" id="IdentificativiR2dTypeIdDistr2" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdDistr2" type="xsd:string"/>
      <xsd:element ecore:name="idR2d" id="IdentificativiR2dTypeIdR2d" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2d" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdentificativiR2rType" id="fatturazione.integration.mind.enel.comIdentificativiR2rType"
      abstract="false" mixed="false" name="IdentificativiR2rType">
    <xsd:sequence>
      <xsd:element ecore:name="idR2R" id="IdentificativiR2rTypeIdR2R" form="unqualified"
          maxOccurs="1" minOccurs="0" name="IdR2R" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="IdFatturazione" id="fatturazione.integration.mind.enel.comIdFatturazione"
      abstract="false" mixed="false" name="IdFatturazione">
    <xsd:sequence>
      <xsd:element ecore:name="businessPartner" id="IdFatturazionebusinessPartner"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartner" type="xsd:string"/>
      <xsd:element ecore:name="contoContrattuale" id="IdFatturazionecontoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattuale"
          type="xsd:string"/>
      <xsd:element ecore:name="contrattoSap" id="IdFatturazionecontrattoSap" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoSap" type="xsd:string"/>
      <xsd:element ecore:name="businessPartnerEsterno" id="IdFatturazionebusinessPartnerEsterno"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartnerEsterno"
          type="xsd:string"/>
      <xsd:element ecore:name="descrizioneContoContrattuale" id="IdFatturazionedescrizioneContoContrattuale"
          form="unqualified" maxOccurs="1" minOccurs="0" name="descrizioneContoContrattuale"
          type="xsd:string"/>
      <xsd:element ecore:name="cartatteristicaDeterminazioneConti" id="IdFatturazionecartatteristicaDeterminazioneConti"
          form="unqualified" maxOccurs="1" minOccurs="0" name="cartatteristicaDeterminazioneConti"
          type="xsd:string"/>
      <xsd:element ecore:name="contrattoCRM" id="IdFatturazionecontrattoCRM" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoCRM" type="xsd:string"/>
      <xsd:element ecore:name="contrattoSD" id="IdFatturazionecontrattoSD" form="unqualified"
          maxOccurs="1" minOccurs="0" name="contrattoSD" type="xsd:string"/>
      <xsd:element ecore:name="contoContrattualeSD" id="IdFatturazionecontoContrattualeSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="contoContrattualeSD"
          type="xsd:string"/>
      <xsd:element ecore:name="businessPartnerSD" id="IdFatturazionebusinessPartnerSD"
          form="unqualified" maxOccurs="1" minOccurs="0" name="businessPartnerSD"
          type="xsd:string"/>
      <xsd:element ecore:name="numeroProgressivo" id="IdFatturazioneNumeroProgressivo"
          form="unqualified" maxOccurs="1" minOccurs="0" name="NumeroProgressivo"
          type="xsd:string"/>
      <xsd:element ecore:name="codiceSocieta" id="IdFatturazioneCodiceSocieta" form="unqualified"
          maxOccurs="1" minOccurs="0" name="CodiceSocieta" type="xsd:string"/>
      <xsd:element ecore:name="tipoPratica" id="IdFatturazioneTipoPratica" form="unqualified"
          maxOccurs="1" minOccurs="0" name="TipoPratica" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EsitoType" id="fatturazione.integration.mind.enel.comEsitoType"
      abstract="false" mixed="false" name="EsitoType">
    <xsd:sequence>
      <xsd:element ecore:name="esito" id="EsitoTypeesito" form="unqualified" maxOccurs="1"
          minOccurs="0" name="esito" type="xsd:string"/>
      <xsd:element ecore:name="codiceEsito" id="EsitoTypecodiceEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="codiceEsito" type="xsd:string"/>
      <xsd:element ecore:name="descrizione" id="EsitoTypedescrizione" form="unqualified"
          maxOccurs="1" minOccurs="0" name="descrizione" type="xsd:string"/>
      <xsd:element ecore:name="tipoEsito" id="EsitoTypetipoEsito" form="unqualified"
          maxOccurs="1" minOccurs="0" name="tipoEsito" type="xsd:string"/>
      <xsd:element ecore:name="sistemaSorgenteEsito" id="EsitoTypesistemaSorgenteEsito"
          form="unqualified" maxOccurs="1" minOccurs="1" name="sistemaSorgenteEsito"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element abstract="false" name="AvvioRateizzoRequest" nillable="false">
    <xsd:complexType ecore:name="AvvioRateizzoRequestType" id="fatturazione.integration.mind.enel.comAvvioRateizzoRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="BEstrconto" form="unqualified" maxOccurs="1" minOccurs="0"
            name="BEstrconto" type="tns3:char13"/>
        <xsd:element ecore:name="bp" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Bp" type="tns3:char10"/>
        <xsd:element ecore:name="causale" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Causale" type="tns3:char30"/>
        <xsd:element ecore:name="codFinanziaria" form="unqualified" maxOccurs="1"
            minOccurs="0" name="CodFinanziaria" type="tns3:char4"/>
        <xsd:element ecore:name="contoContrattuale" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ContoContrattuale" type="tns3:char12"/>
        <xsd:element ecore:name="dataScadenza" form="unqualified" maxOccurs="1" minOccurs="0"
            name="DataScadenza" type="tns3:char10"/>
        <xsd:element ecore:name="dataStipula" form="unqualified" maxOccurs="1" minOccurs="0"
            name="DataStipula" type="tns3:char10"/>
        <xsd:element ecore:name="FRate" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FRate" type="tns3:char2"/>
        <xsd:element ecore:name="idBpm" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdBpm" type="tns3:char15"/>
        <xsd:element ecore:name="idPratica" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdPratica" type="tns3:char15"/>
        <xsd:element ecore:name="idRequest" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdRequest" type="tns3:char15"/>
        <xsd:element ecore:name="impoAttivazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ImpoAttivazione" type="tns3:char13"/>
        <xsd:element ecore:name="impoFinanziamento" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ImpoFinanziamento" type="tns3:char13"/>
        <xsd:element ecore:name="impoInteressi" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ImpoInteressi" type="tns3:char13"/>
        <xsd:element ecore:name="impoIntsingrata" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ImpoIntsingrata" type="tns3:char13"/>
        <xsd:element ecore:name="impoScoint" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ImpoScoint" type="tns3:char13"/>
        <xsd:element ecore:name="impoSingrata" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ImpoSingrata" type="tns3:char13"/>
        <xsd:element ecore:name="NRate" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NRate" type="tns3:char3"/>
        <xsd:element ecore:name="ordineSd" form="unqualified" maxOccurs="1" minOccurs="0"
            name="OrdineSd" type="tns3:char10"/>
        <xsd:element ecore:name="speseAnn" form="unqualified" maxOccurs="1" minOccurs="0"
            name="SpeseAnn" type="tns3:char13"/>
        <xsd:element ecore:name="tipoOperazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="TipoOperazione" type="tns3:char30"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AvvioRateizzoResponse" nillable="false">
    <xsd:complexType ecore:name="AvvioRateizzoResponseType" id="fatturazione.integration.mind.enel.comAvvioRateizzoResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="codice" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Codice" type="tns3:char10"/>
        <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Descrizione" type="tns3:char255"/>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Esito" type="tns3:char2"/>
        <xsd:element ecore:name="sistemaSorgente" form="unqualified" maxOccurs="1"
            minOccurs="0" name="SistemaSorgente" type="tns3:char4"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AddebitoAccreditoRequest" nillable="false">
    <xsd:complexType ecore:name="AddebitoAccreditoRequestType" id="fatturazione.integration.mind.enel.comAddebitoAccreditoRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="fatturazioneCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="FatturazioneCDM" type="xsd:string"/>
        <xsd:element ecore:name="preventivoCommercialeCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="PreventivoCommercialeCDM" type="xsd:string"/>
        <xsd:element ecore:name="datiProcessiOutCdmSDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DatiProcessiOutCdmSDM" type="xsd:string"/>
        <xsd:element ecore:name="delayedReleaseId" form="unqualified" maxOccurs="1"
            minOccurs="1" name="DelayedReleaseId" type="xsd:string"/>
        <xsd:element ecore:name="fatturaCDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="FatturaCDM" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AddebitoAccreditoResponse" nillable="false">
    <xsd:complexType ecore:name="AddebitoAccreditoResponseType" id="fatturazione.integration.mind.enel.comAddebitoAccreditoResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GestioneRidRequest" nillable="false">
    <xsd:complexType ecore:name="GestioneRidRequestType" id="fatturazione.integration.mind.enel.comGestioneRidRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="numeroUtente" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NumeroUtente" type="xsd:string"/>
        <xsd:element ecore:name="statoDomiciliazioneBanca" form="unqualified" maxOccurs="1"
            minOccurs="0" name="StatoDomiciliazioneBanca" type="xsd:string"/>
        <xsd:element ecore:name="codicePaese" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CodicePaese" type="xsd:string"/>
        <xsd:element ecore:name="cin" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Cin" type="xsd:string"/>
        <xsd:element ecore:name="checkDigit" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CheckDigit" type="xsd:string"/>
        <xsd:element ecore:name="numeroContoBancario" form="unqualified" maxOccurs="1"
            minOccurs="0" name="NumeroContoBancario" type="xsd:string"/>
        <xsd:element ecore:name="chiaveBanca" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ChiaveBanca" type="xsd:string"/>
        <xsd:element ecore:name="businessPartner" form="unqualified" maxOccurs="1"
            minOccurs="0" name="BusinessPartner" type="xsd:string"/>
        <xsd:element ecore:name="contoContrattuale" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ContoContrattuale" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="GestioneRidResponse" nillable="false">
    <xsd:complexType ecore:name="GestioneRidResponseType" id="fatturazione.integration.mind.enel.comGestioneRidResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FattElettrPARequest" nillable="false">
    <xsd:complexType ecore:name="FattElettrPARequestType" id="fatturazione.integration.mind.enel.comFattElettrPARequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idRichiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdRichiesta" type="xsd:string"/>
        <xsd:element ecore:name="tipoOperazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="TipoOperazione" type="xsd:string"/>
        <xsd:element ecore:name="causale" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Causale" type="xsd:string"/>
        <xsd:element ecore:name="CDM_CLIENTE" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_CLIENTE" type="xsd:string"/>
        <xsd:element ecore:name="CDM_IDISUFATT" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_IDISUFATT" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FattElettrPAResponse" nillable="false">
    <xsd:complexType ecore:name="FattElettrPAResponseType" id="fatturazione.integration.mind.enel.comFattElettrPAResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InvioScontiBonusRequest" nillable="false">
    <xsd:complexType ecore:name="InvioScontiBonusRequestType" id="fatturazione.integration.mind.enel.comInvioScontiBonusRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idRichiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdRichiesta" type="xsd:string"/>
        <xsd:element ecore:name="pod" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Pod" type="xsd:string"/>
        <xsd:element ecore:name="numeroUtente" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NumeroUtente" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_Richiesta" type="xsd:string"/>
        <xsd:element ecore:name="CDM_IdFatturazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="CDM_IdFatturazione" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Sconti" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_Sconti" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Bonus" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_Bonus" type="xsd:string"/>
        <xsd:element ecore:name="terminaPerfezionamento" form="unqualified" maxOccurs="1"
            minOccurs="0" name="TerminaPerfezionamento" type="xsd:string"/>
        <xsd:element ecore:name="indiceSconto" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IndiceSconto" type="xsd:string"/>
        <xsd:element ecore:name="indiceBonus" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IndiceBonus" type="xsd:string"/>
        <xsd:element ecore:name="causaleDinamica" form="unqualified" maxOccurs="1"
            minOccurs="0" name="CausaleDinamica" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InvioScontiBonusResponse" nillable="false">
    <xsd:complexType ecore:name="InvioScontiBonusResponseType" id="fatturazione.integration.mind.enel.comInvioScontiBonusResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="codiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1" minOccurs="1"
            name="descrizione" type="xsd:string"/>
        <xsd:element ecore:name="sistemaSorgente" form="unqualified" maxOccurs="1"
            minOccurs="0" name="SistemaSorgente" type="xsd:string"/>
        <xsd:element ecore:name="idBpm" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdBpm" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Sconti" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_Sconti" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Bonus" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_Bonus" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InvioIndicizzazioniRequest" nillable="false">
    <xsd:complexType ecore:name="InvioIndicizzazioniRequestType" id="fatturazione.integration.mind.enel.comInvioIndicizzazioniRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idRichiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdRichiesta" type="xsd:string"/>
        <xsd:element ecore:name="pod" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Pod" type="xsd:string"/>
        <xsd:element ecore:name="numeroUtente" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NumeroUtente" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CDM_Richiesta" type="xsd:string"/>
        <xsd:element ecore:name="CDM_IdFatturazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="CDM_IdFatturazione" type="xsd:string"/>
        <xsd:element ecore:name="CDM_Indicizzazioni" form="unqualified" maxOccurs="1"
            minOccurs="0" name="CDM_Indicizzazioni" type="xsd:string"/>
        <xsd:element ecore:name="indiceElemento" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IndiceElemento" type="xsd:string"/>
        <xsd:element ecore:name="terminaPerfezionamento" form="unqualified" maxOccurs="1"
            minOccurs="0" name="TerminaPerfezionamento" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InvioIndicizzazioniResponse" nillable="false">
    <xsd:complexType ecore:name="InvioIndicizzazioniResponseType" id="fatturazione.integration.mind.enel.comInvioIndicizzazioniResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="esito" type="xsd:string"/>
        <xsd:element ecore:name="codiceEsito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="codiceEsito" type="xsd:string"/>
        <xsd:element ecore:name="descrizione" form="unqualified" maxOccurs="1" minOccurs="1"
            name="descrizione" type="xsd:string"/>
        <xsd:element ecore:name="sistemaSorgente" form="unqualified" maxOccurs="1"
            minOccurs="0" name="SistemaSorgente" type="xsd:string"/>
        <xsd:element ecore:name="idBpm" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdBpm" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AttivazioneRequest" nillable="false">
    <xsd:complexType ecore:name="AttivazioneRequestType" id="fatturazione.integration.mind.enel.comAttivazioneRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="cliente" form="unqualified" maxOccurs="1" minOccurs="0"
            name="cliente" type="xsd:string"/>
        <xsd:element ecore:name="idFatturazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazione" type="xsd:string"/>
        <xsd:element ecore:name="contoCorrente" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ContoCorrente" type="xsd:string"/>
        <xsd:element ecore:name="prodotto" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Prodotto" type="xsd:string"/>
        <xsd:element ecore:name="fornitura" form="unqualified" maxOccurs="1" minOccurs="0"
            name="fornitura" type="xsd:string"/>
        <xsd:element ecore:name="datiFatturazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DatiFatturazione" type="xsd:string"/>
        <xsd:element ecore:name="canaleDiStampa" form="unqualified" maxOccurs="1"
            minOccurs="0" name="canaleDiStampa">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="rowIdListino" form="unqualified" maxOccurs="1" minOccurs="0"
            name="rowIdListino">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="dataFineValiditaListino" form="unqualified" maxOccurs="1"
            minOccurs="0" name="dataFineValiditaListino" type="xsd:date"/>
        <xsd:element ecore:name="numeroListino" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NumeroListino">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="codiceCatastale" form="unqualified" maxOccurs="1"
            minOccurs="0" name="codiceCatastale">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="4"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="codiceIstat" form="unqualified" maxOccurs="1" minOccurs="0"
            name="codiceIstat">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="6"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="codiceImposte" form="unqualified" maxOccurs="1" minOccurs="0"
            name="codiceImposte">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="dataAttivazioneTrasporto" form="unqualified" maxOccurs="1"
            minOccurs="0" name="dataAttivazioneTrasporto" type="xsd:string"/>
        <xsd:element ecore:name="motivoDepositoCauzionale" form="unqualified" maxOccurs="1"
            minOccurs="0" name="motivoDepositoCauzionale" type="xsd:string"/>
        <xsd:element ecore:name="importoDepositoCauzionale" form="unqualified" maxOccurs="1"
            minOccurs="0" name="importoDepositoCauzionale" type="xsd:string"/>
        <xsd:element ecore:name="caratteristicaDeterminazioneConti" form="unqualified"
            maxOccurs="1" minOccurs="0" name="caratteristicaDeterminazioneConti" type="xsd:string"/>
        <xsd:element ecore:name="businessArea" form="unqualified" maxOccurs="1" minOccurs="0"
            name="businessArea" type="xsd:string"/>
        <xsd:element ecore:name="canaleDiVendita" form="unqualified" maxOccurs="1"
            minOccurs="0" name="canaleDiVendita" type="xsd:string"/>
        <xsd:element ecore:name="tipoContrattoCommerciale" form="unqualified" maxOccurs="1"
            minOccurs="0" name="tipoContrattoCommerciale">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="2"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="tipoRicontrattualizzazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="tipoRicontrattualizzazione" type="xsd:string"/>
        <xsd:element ecore:name="dataDichiarazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="dataDichiarazione" type="xsd:date"/>
        <xsd:element ecore:name="numeroDichiarazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="numeroDichiarazione">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="flagBasilicata" form="unqualified" maxOccurs="1"
            minOccurs="0" name="flagBasilicata" type="xsd:boolean"/>
        <xsd:element ecore:name="flagCondominio" form="unqualified" maxOccurs="1"
            minOccurs="0" name="flagCondominio" type="xsd:boolean"/>
        <xsd:element ecore:name="volumeDiRiferimento" form="unqualified" maxOccurs="1"
            minOccurs="0" name="volumeDiRiferimento" type="xsd:integer"/>
        <xsd:element ecore:name="tipologiaGas" form="unqualified" maxOccurs="1" minOccurs="0"
            name="tipologiaGas">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ecore:name="delayedReleaseID" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DelayedReleaseID" type="xsd:string"/>
        <xsd:element ecore:name="dataAttivazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DataAttivazione" type="xsd:date"/>
        <xsd:element ecore:name="contoCorrenteCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="ContoCorrenteCDM" type="xsd:string"/>
        <xsd:element ecore:name="indirizzoSedeLegaleCDM" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IndirizzoSedeLegaleCDM" type="xsd:string"/>
        <xsd:element ecore:name="datiOutCdmSDM" form="unqualified" maxOccurs="1" minOccurs="0"
            name="DatiOutCdmSDM" type="xsd:string"/>
        <xsd:element ecore:name="attivazioneReq_XML" form="unqualified" maxOccurs="1"
            minOccurs="0" name="AttivazioneReq_XML" type="xsd:string"/>
        <xsd:element ecore:name="nomeInFattura" form="unqualified" maxOccurs="1" minOccurs="0"
            name="NomeInFattura" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AttivazioneResponse" nillable="false">
    <xsd:complexType ecore:name="AttivazioneResponseType" id="fatturazione.integration.mind.enel.comAttivazioneResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="BollettaWebRequest" nillable="false">
    <xsd:complexType ecore:name="BollettaWebRequestType" id="fatturazione.integration.mind.enel.comBollettaWebRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="identificativi" form="unqualified" maxOccurs="1"
            minOccurs="0" name="identificativi" type="IdFatturazione"/>
        <xsd:element ecore:name="canaleStampa" form="unqualified" maxOccurs="1" minOccurs="0"
            name="canaleStampa" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="BollettaWebResponse" nillable="false">
    <xsd:complexType ecore:name="BollettaWebResponseType" id="fatturazione.integration.mind.enel.comBollettaWebResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="CessazioneRequest" nillable="false">
    <xsd:complexType ecore:name="CessazioneRequestType" id="fatturazione.integration.mind.enel.comCessazioneRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="richiesta" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Richiesta" type="RichiestaType"/>
        <xsd:element ecore:name="idFatturazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazione" type="IdFatturazione"/>
        <xsd:element ecore:name="flagModificaIndirizzoFatturazione" form="unqualified"
            maxOccurs="1" minOccurs="0" name="FlagModificaIndirizzoFatturazione" type="xsd:string"/>
        <xsd:element ecore:name="dataCessazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="DataCessazione" type="xsd:date"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="CessazioneResponse" nillable="false">
    <xsd:complexType ecore:name="CessazioneResponseType" id="fatturazione.integration.mind.enel.comCessazioneResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idFatturazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazione" type="IdFatturazione"/>
        <xsd:element ecore:name="flag_bonifica" form="unqualified" maxOccurs="1" minOccurs="0"
            name="flag_bonifica" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InvioFlussoVasRequest" nillable="false">
    <xsd:complexType ecore:name="InvioFlussoVasRequestType" id="fatturazione.integration.mind.enel.comInvioFlussoVasRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idBpm" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdBpm" type="xsd:string"/>
        <xsd:element ecore:name="vasMemo" form="unqualified" maxOccurs="1" minOccurs="0"
            name="VasMemo" type="xsd:string"/>
        <xsd:element ecore:name="idFatturazioneMemo" form="unqualified" maxOccurs="1"
            minOccurs="0" name="IdFatturazioneMemo" type="xsd:string"/>
        <xsd:element ecore:name="tipoOperazione" form="unqualified" maxOccurs="1"
            minOccurs="0" name="TipoOperazione" type="xsd:string"/>
        <xsd:element ecore:name="causale" form="unqualified" maxOccurs="1" minOccurs="0"
            name="Causale" type="xsd:string"/>
        <xsd:element ecore:name="cdmFattura" form="unqualified" maxOccurs="1" minOccurs="0"
            name="CdmFattura" type="xsd:string"/>
        <xsd:element ecore:name="importoTotale" form="unqualified" maxOccurs="1" minOccurs="0"
            name="ImportoTotale" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="InvioFlussoVasResponse" nillable="false">
    <xsd:complexType ecore:name="InvioFlussoVasResponseType" id="fatturazione.integration.mind.enel.comInvioFlussoVasResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idBpm" form="unqualified" maxOccurs="1" minOccurs="0"
            name="IdBpm" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AttivazioneVas" nillable="false">
    <xsd:complexType ecore:name="AttivazioneVasType" id="fatturazione.integration.mind.enel.comAttivazioneVasType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="idBpm" form="unqualified" maxOccurs="1" minOccurs="1"
            name="IdBpm" type="xsd:string"/>
        <xsd:element ecore:name="vasMemo" form="unqualified" maxOccurs="1" minOccurs="1"
            name="VasMemo" type="xsd:string"/>
        <xsd:element ecore:name="idFatturazioneMemo" form="unqualified" maxOccurs="1"
            minOccurs="1" name="IdFatturazioneMemo" type="xsd:string"/>
        <xsd:element ecore:name="tipoOperazione" form="unqualified" maxOccurs="1"
            minOccurs="1" name="TipoOperazione" type="xsd:string"/>
        <xsd:element ecore:name="causale" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Causale" type="xsd:string"/>
        <xsd:element ecore:name="fatturaCDM" form="unqualified" maxOccurs="1" minOccurs="1"
            name="FatturaCDM" type="xsd:string"/>
        <xsd:element ecore:name="totaleImporto" form="unqualified" maxOccurs="1" minOccurs="1"
            name="TotaleImporto" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="AttivazioneVasResponse" nillable="false">
    <xsd:complexType ecore:name="AttivazioneVasResponseType" id="fatturazione.integration.mind.enel.comAttivazioneVasResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="esito" form="unqualified" maxOccurs="1" minOccurs="1"
            name="Esito" type="EsitoType"/>
        <xsd:element ecore:name="idBpm" form="unqualified" maxOccurs="1" minOccurs="1"
            name="IdBpm" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>