tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/ChildAttribMappingNotRequiredTest/UC1CfWSInvokeJavaScriptCDS/Service Descriptors/UC1CfWSInvokeJavaScript-Lookupaddress.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_FtTZ0PocEd69G9KupBYfgg" xmlns:ns0="http://example.com/addressservice" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UC1CfWSInvokeJavaScript" targetNamespace="http://www.tibco.com/bs3.0/_FtTZ0PocEd69G9KupBYfgg" tibex:ServiceTask="_FtlGoPocEd69G9KupBYfgg" tibex:XPDL="UC1CfWSInvokeJavaScript.xpdl" tibex:process="_FtiqY_ocEd69G9KupBYfgg">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_FtTZ0PocEd69G9KupBYfgg" targetNamespace="http://www.tibco.com/bs3.0/_FtTZ0PocEd69G9KupBYfgg"/>
    <xsd:schema xmlns="http://example.com/addressservice" xmlns:wts="http://example.com/addressservice" targetNamespace="http://example.com/addressservice">
      <xsd:annotation/>
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="addrLine1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="addrLine2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="city">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="province">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="postalCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="country">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddressQuery">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="postalCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="country">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UC1CfWSInvokeJavaScript_Lookupaddress_INPUT">
    <wsdl:part name="addressQuery" type="ns0:AddressQuery"/>
  </wsdl:message>
  <wsdl:message name="UC1CfWSInvokeJavaScript_Lookupaddress_OUTPUT">
    <wsdl:part name="address" type="ns0:Address"/>
  </wsdl:message>
  <wsdl:portType name="UC1CfWSInvokeJavaScript" tibex:FlowContainer="_FtiqY_ocEd69G9KupBYfgg">
    <wsdl:operation name="Lookupaddress">
      <wsdl:input message="ns:UC1CfWSInvokeJavaScript_Lookupaddress_INPUT" tibex:Event="_FtlGoPocEd69G9KupBYfgg"/>
      <wsdl:output message="ns:UC1CfWSInvokeJavaScript_Lookupaddress_OUTPUT"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
