tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/XPD3821 Missing Correlation Mapping Namespace Rule/XPD-3821/Service Descriptors/XPD-3821-SubImportedSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/XPD-3821-SubImportedSchema" 
     xmlns:subimpns="http://www.example.org/XPD-3821-SubImportedSchema" elementFormDefault="qualified">
    <complexType name="SubImportComplexType">
    	<sequence>
    		<element name="subImpText" type="string"></element>
    		<element name="subImpText2" type="string"></element>
    	</sequence>
    </complexType>

    <element name="SubImportTopLevelElement"
    	type="subimpns:SubImportComplexType">
    </element>
    
</schema>