tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/WSDL-AMXBPM-API/WSDL03/services/de-attribute-service.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Adrian Hussey (Tibco Software Ltd) -->
<xs:schema xmlns="http://attribute.api.de.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" xmlns:de="http://api.de.n2.tibco.com" xmlns:channel="http://channeltype.common.n2.tibco.com" targetNamespace="http://attribute.api.de.n2.tibco.com" version="1.0">
	<xs:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="organisation.xsd"/>
	<xs:import namespace="http://api.de.n2.tibco.com" schemaLocation="de.xsd"/>
	<xs:import namespace="http://channeltype.common.n2.tibco.com" schemaLocation="channeltype.xsd"/>


	<xs:complexType name="ParameterList">
		<xs:annotation>
			<xs:documentation>Identifies an organization model entity and lists the parameter values assigned (or to be assigned) to that entity.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orgdto:XmlModelEntityId">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="parameter" type="de:XmlLdapAttribute">
						<xs:annotation>
							<xs:documentation>Description of a resource attribute and either:
- its currently held values (for a getBusinessParameters operation).
- the values that are to be set for it (for a setBusinessParameters operation).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:element name="listBusinessParameters">
		<xs:annotation>
			<xs:documentation>Request parameter for listBusinessParameters operation. This service returns the Business
            Parameters (or Resource Attributes) that apply to all Resources.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Identifies the model version from which parameter definitions are to be listed.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="listBusinessParametersResponse">
		<xs:annotation>
			<xs:documentation>Response parameter for listBusinessParameters operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          A collection of attribute definitions that describe the attributes that can be
          assigned to Resources.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="param-desc" type="de:XmlParamDescriptor">
					<xs:annotation>
						<xs:documentation>Parameter descriptor defining the details of a resource attribute.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getBusinessParameters">
		<xs:annotation>
			<xs:documentation>Request parameter for getBusinessParameters operation. Returns the Business
            Parameter (or Resource Attribute) values for the org-model entity identified by its entity-type,
            guid and model-version.
            The response does not list the resource attribute parameter descriptors. However, each entry
            contains a reference (desc-guid) to the unique ID value of a parameter descriptor (guid) returned
            by listBusinessParameters.
            The response also indicates whether the value taken from an LDAP Attribute and, if so, the name
            of that LDAP Attribute and the DN of the LDAP entry to which the attribute belongs.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Identifies the org-model entity for which the parameters values are to be retrieved.
        </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlModelEntityId"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getBusinessParametersResponse" type="ParameterList">
		<xs:annotation>
			<xs:documentation>Response parameter for getBusinessParameters operation.</xs:documentation>
		</xs:annotation>
	</xs:element>


	<xs:element name="setBusinessParameters" type="ParameterList">
		<xs:annotation>
			<xs:documentation>Request parameter for setBusinessParameters operation. This service sets
            the values of the Resource Attribute belonging to the Resource identified by the entity-type
            and GUID. Those Resource Attributes that are linked to an LDAP Attribute cannot be updated.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="setBusinessParametersResponse">
		<xs:annotation>
			<xs:documentation>Response parameter for setBusinessParameters operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="de:SuccessFailureResponse"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:element name="XmlPushDestination">
		<xs:annotation>
			<xs:documentation>Definition of a push destination.
            When using these XML elements to set a push destination, if both the "desc-guid" attribute
            and "value" elements are specified, the "value" elements will be ignored.
            The value elements are used to pass the values of the push destination. If the push destination:
            - retrieves its value from an LDAP attribute (via a desc-guid arameter descriptor) it can hold
              multiple values, so the value element can occur several times.
            - does not take its value from an LDAP attribute, it can hold only one value. If multiple
              values are given when setting the push destination, only the first value is recorded.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="value" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Value to be used for this push destination. 
                        For a setPushDestinations operation, this value is only used if no desc-guid attribute is supplied.
                        For a getPushDestinations operation, this value is the current value of the desc-guid attribute.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Unique name of this push destination.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="channel-type" type="channel:ChannelType" use="required">
				<xs:annotation>
					<xs:documentation>Enumerated type defining the presentation technology used by the channel associated with this push destination.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="channel-id" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Unique ID of the channel associated with this push destination.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="enabled" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:documentation>Boolean value indicating whether this push destination is currently enabled (TRUE) or not (FALSE).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="desc-guid" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Unique ID of a prameter descriptor whose value should be used for the push
                    destination. The parameter descriptor must be assigned to the organization model entity for
                    whom the push destination is being set.
                    If a value is assigned to both this attribute and the "value" element below, the value of this
                    element will be used.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>


	<xs:complexType name="XmlPushDestinationList">
		<xs:annotation>
			<xs:documentation>Identifies an organization model entity and and the push destinations that it currently holds.
      </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orgdto:XmlModelEntityId">
				<xs:sequence>
					<xs:element ref="XmlPushDestination" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:element name="getPushDestinations">
		<xs:annotation>
			<xs:documentation>Request parameter for getPushDestinations operation. This service returns any Push Destinations
            associated with the org-entity identified by its entity-type, guid and model-version.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="org-entity" type="orgdto:XmlModelEntityId" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Definition of an organization model entity for whom push destinations should be retrieved.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPushDestinationsResponse">
		<xs:annotation>
			<xs:documentation>Response parameter for getPushDestinations operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="org-entity" type="XmlPushDestinationList" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Definition of an organization model entity and its currently defined push destinations.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="setPushDestinations" type="XmlPushDestinationList">
		<xs:annotation>
			<xs:documentation>Request parameter for setPushDestinations operation. This service updates the Push
            Destinations associated with the org-entity identified by its entity-type, guid and model-version.
            This service will delete the entity's existing Push Destinations before save the given definitions.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="setPushDestinationsResponse">
		<xs:annotation>
			<xs:documentation>Response parameter for setPushDestinations operation.

Indicates whether the specified push destinations were successfully set for the organization model entity.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation> Whether the update was successful</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="de:SuccessFailureResponse"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
