tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/WSDL-AMXBPM-API/WSDL03/services/de-resolver-service.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Adrian Hussey (Tibco Software Ltd) -->
<xs:schema xmlns="http://resolver.api.de.n2.tibco.com" xmlns:de="http://api.de.n2.tibco.com" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://resolver.api.de.n2.tibco.com" version="1.0">
	<xs:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="organisation.xsd"/>
	<xs:import namespace="http://api.de.n2.tibco.com" schemaLocation="de.xsd"/>

	<xs:element name="validateEntity">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to validate the given model entity identifier.
        </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlModelEntityId"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="validateEntityResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Response indicating whether the given model entity identifier was valid or not.
        </xs:documentation>
			</xs:annotation>
			<xs:attribute name="valid" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:documentation>True if the entity specified is valid.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hasPushDestinations" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>True if the entity specified has any push destinations set.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>


	<xs:element name="lookupUser">
		<xs:annotation>
			<xs:documentation>Request element for lookupUser operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Request to verify that the name Resource entity is known to Directory
                Engine.
                The request can either be by name or LDAP entry. If the request is by LDAP entry, the
                caller may supply the LDAP Alias in order to reduce the search results.
                The caller may optionally specify that the response should include detailed information
                on those users that match the critieria (the default is to only return a count of
                the users that match the criteria.</xs:documentation>
			</xs:annotation>
			<xs:attribute name="name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Login name to search against for a matching resource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ldap-alias" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>LDAP alias to search against for a matching resource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ldap-dn" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>LDAP DN to search against for a matching resource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="get-detail" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>Boolean value defining whether to return the details of each matching resource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="lookupUserResponse">
		<xs:annotation>
			<xs:documentation>Response element for lookupUser operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Describes the identified Resource entity(ies).</xs:documentation>
			</xs:annotation>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="detail" type="de:XmlEntityDetail">
					<xs:annotation>
						<xs:documentation>Details of each matching resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="user-count" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Number of resources that match the specified criteria.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>


	<xs:element name="describeEntity">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
                    Request to describe the identified model entity.
                    Extends XmlOrgModelVersion which provides the org-model version attribute.
                </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion">
					<xs:attribute name="entity-type" type="orgdto:OrganisationalEntityType" use="optional">
						<xs:annotation>
							<xs:documentation>Identifies the category of the org-entity, and used to improve and validate the search.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="guid" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Globally, unique identifier for the org-entity. Although this value is unique across all entities, if the entity exists within more than one major version, it will share the same GUID.
                            </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="describeEntityResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Describes the identified model entity.
        </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="de:XmlEntityDetail"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:element name="resolveResource">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to return a Resource from a collection contained by the identified
          model entity. If there is more than one Resource available, the given selection
          mode is used to determine which one should be selected.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="entity" type="orgdto:XmlModelEntityId"/>
				<xs:element name="selection-mode" type="de:SelectionMode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resolveResourceResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The identifier for the Resource determined by the request parameters.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="entity" type="orgdto:XmlParticipantId" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="hasPushDestinations" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>True if the entity specified has any push destinations set.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>


	<xs:element name="listResources">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to list the Resources contained by the identified model entity.
          A sub-set of the possible values can be returned using the "start-index"
          and "soft-limit" attributes.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="entity" type="orgdto:XmlModelEntityId"/>
			</xs:sequence>
			<xs:attribute name="start-index" type="xs:int" default="0"/>
			<xs:attribute name="soft-limit" type="xs:int" default="0"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="listResourcesResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of Resources associated with the identified model entity.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="resource" type="orgdto:XmlModelEntityId" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="resourcesRemaining">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Requests the number of resources remaining in a collection defined by a series of
          containing organisational entities, after the identified resources have been
          accounted for. For example, if an identified Position holds 10 Resources, two of
          which are identified in the request, the result will be 8.
          </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="resource" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>List of resource GUID's that have already been identified.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="container" type="orgdto:XmlParticipantId" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourcesRemainingResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The number of Resources remaining in a defined collection, after an identified set
          of Resources have been accounted for.
        </xs:documentation>
			</xs:annotation>
			<xs:attribute name="remainder" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>The number of resources that the caller has not yet  identified.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>


	<xs:element name="listAssociatedResources">
		<xs:annotation>
			<xs:documentation>Request element for listAssociatedResources operation. This service returns
            the Resources associated with the organisaional entity identified by its GUID and major model
            version. If no org-model version is specified (or -1) then the org-model with the greatest major
            version value is assumed.
            If a resource is associated with more than one of the specified organization model entities, it
            will only be listed once.
            If the identified entity is a Group, the result will also include those Resources associated with
            any sub-groups.
            If the identified entity is an Org-Unit, the result will include those Resource associated with
            all Positions within that Org-Units.
            If the identified entity is a Privilege, the result will include those Resource that inherit that
            Privilege from the Groups, Positions and Org-Units to which they are associated.
            If the identified entity is a Capability, the result will include those Resource that hold that
            Capability directly. It will not take into account the Capabilities of the Positions and Groups
            to which the Resources are associated</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion">
					<xs:sequence>
						<xs:element name="entity-guid" type="xs:string" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Unique IDs of the organization model entities for whom associated resources should be returned.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="start-index" type="xs:int" default="0">
						<xs:annotation>
							<xs:documentation>Start position for the return data.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="soft-limit" type="xs:int" default="0">
						<xs:annotation>
							<xs:documentation>Maxmimum number of resources to return. (This value will not exceed any system imposed limit.)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="listAssociatedResourcesResponse">
		<xs:annotation>
			<xs:documentation>Response element for listAssociatedResources operation. 
            If a resource is associated with more than one of the specified organization model entities, it
            will only be listed once.
            For an organization unit, the response includes those resources that hold positions in the
            organization unit. 
            For a group, the response also includes those resources associated with the group's sub-groups.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of Resources associated with the identified model entity.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="resource" type="de:XmlLdapEntity" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Details of each resource associated with the specified organization model entity.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getNamedEntity">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to retrieve a list of the entities, of a given type, identified by the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="participant" type="orgdto:XmlParticipantId" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getNamedEntityResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of entity identifiers that match the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="entity" type="orgdto:XmlParticipantId" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getNamedResource">
		<xs:annotation>
			<xs:documentation>This service returns the Resource(s) identified by the given name. Resource names
            should be unique, but this service caters for the possibility that several Resources may share the
            same name.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to list the Resources identified by the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Name uniquely identifying the resource whose details are to be returned.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="getNamedResourceResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of Resources with the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="resource" type="de:XmlEntityDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getResourceDetail">
		<xs:annotation>
			<xs:documentation>Request element for getResourceDetail operation. This service returns the details
            of a Resource identified by its GUID.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          Request to retrieve a summary of the Groups, Positions, Privileges and Capabilities
          associated with the identified Resource.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="resource" type="orgdto:XmlModelEntityId" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>IDs of the resources for which details are required.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getResourceDetailResponse">
		<xs:annotation>
			<xs:documentation>Response element for getResourceDetail operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
          The collection of Resources with the given name.
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="resource" type="de:XmlResourceDetail" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Details of the specified resource(s).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getUndeliveredEntity">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="de:EmptyRequest"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUndeliveredEntityResponse">
		<xs:annotation>
			<xs:documentation>**PRIVATE API - Reserved for internal use**</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlModelEntityId"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
