tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/Service Descriptors/AnnullamentoOrdineCrmServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns0="http://xmlns.enel.com/mercato/libero/schema/cdm/crm.xsd" xmlns:ns1="http://xmlns.enel.com/mercato/libero/schema/cdm/tipibase.xsd" xmlns:ns2="http://xmlns.enel.com/mercato/libero/schema/cdm/lettura.xsd" xmlns:ns3="http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd" xmlns:ns4="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd" xmlns:ns5="http://xmlns.enel.com/mercato/libero/schema/cdm/fornitura.xsd" xmlns:ns6="http://xmlns.enel.com/mercato/libero/schema/cdm/fatturazione.xsd" xmlns:ns7="http://xmlns.enel.com/mercato/libero/schema/cdm/common.xsd" xmlns:ns8="http://xmlns.enel.com/mercato/libero/schema/cdm/prodotto.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.com/mercato/libero/service/integration/annullamentoordinecrmbpm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/service/integration/annullamentoordinecrmbpm" tibex:bdsSupport="false">
    <wsdl:types>
        <xs:schema xmlns:tb="http://xmlns.enel.com/mercato/libero/schema/cdm/tipibase.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/tipibase.xsd">
            <xs:complexType name="Ammissibilita">
                <xs:sequence>
                    <xs:element name="verifica_amm" type="tb:EsitoBase"/>
                    <xs:element minOccurs="0" name="cod_causale">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="001"/>
                                <xs:enumeration value="002"/>
                                <xs:enumeration value="003"/>
                                <xs:enumeration value="004"/>
                                <xs:enumeration value="005"/>
                                <xs:enumeration value="006"/>
                                <xs:enumeration value="007"/>
                                <xs:enumeration value="008"/>
                                <xs:enumeration value="009"/>
                                <xs:enumeration value="010"/>
                                <xs:enumeration value="011"/>
                                <xs:enumeration value="012"/>
                                <xs:enumeration value="013"/>
                                <xs:enumeration value="014"/>
                                <xs:enumeration value="015"/>
                                <xs:enumeration value="016"/>
                                <xs:enumeration value="017"/>
                                <xs:enumeration value="018"/>
                                <xs:enumeration value="019"/>
                                <xs:enumeration value="020"/>
                                <xs:enumeration value="021"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="motivazione" type="tb:Stringa255"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Blocco">
                <xs:sequence>
                    <xs:element minOccurs="0" name="causale" type="tb:Stringa2"/>
                    <xs:element minOccurs="0" name="descrizione" type="tb:Stringa100"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="CAP">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{5}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CategoriaUso">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{3}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ClassePrelievo">
                <xs:restriction base="xs:positiveInteger"/>
            </xs:simpleType>
            <xs:simpleType name="CodIstat">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{6}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CodPratica">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="15"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CodiceFiscale">
                <xs:restriction base="xs:string">
                    <xs:minLength value="11"/>
                    <xs:maxLength value="16"/>
                    <xs:pattern value="[a-zA-Z0-9]{11}"/>
                    <xs:pattern value="[a-zA-Z0-9]{16}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CodicePodPdr">
                <xs:restriction base="xs:string">
                    <xs:minLength value="14"/>
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Coefficiente">
                <xs:restriction base="xs:double"/>
            </xs:simpleType>
            <xs:simpleType name="Cognome">
                <xs:restriction base="tb:Stringa100"/>
            </xs:simpleType>
            <xs:simpleType name="Commodity">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ELETTRICO"/>
                    <xs:enumeration value="GAS"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Comune">
                <xs:restriction base="tb:Stringa100"/>
            </xs:simpleType>
            <xs:simpleType name="Conferma">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="DescrizioneCasisticaCredito">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="60"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="EsitoAccertamento">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="EsitoBase">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="IdCasisticaCredito">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Importo">
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                    <xs:fractionDigits value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="IndirizzoBase">
                <xs:sequence>
                    <xs:element minOccurs="0" name="prefissotoponimo" type="tb:PrefissoToponimo"/>
                    <xs:element minOccurs="0" name="toponimo" type="tb:Toponimo"/>
                    <xs:element minOccurs="0" name="civico" type="tb:NumeroCivico"/>
                    <xs:element minOccurs="0" name="cap" type="tb:CAP"/>
                    <xs:element minOccurs="0" name="istat" type="tb:CodIstat"/>
                    <xs:element minOccurs="0" name="comune" type="tb:Comune"/>
                    <xs:element minOccurs="0" name="provincia" type="tb:Provincia"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IndirizzoEsteso">
                <xs:sequence>
                    <xs:element minOccurs="0" name="prefissotoponimo" type="tb:PrefissoToponimo"/>
                    <xs:element minOccurs="0" name="toponimo" type="tb:Toponimo"/>
                    <xs:element minOccurs="0" name="civico" type="tb:NumeroCivico"/>
                    <xs:element minOccurs="0" name="scala" type="tb:Stringa10"/>
                    <xs:element minOccurs="0" name="piano" type="tb:Stringa10"/>
                    <xs:element minOccurs="0" name="interno" type="tb:Stringa10"/>
                    <xs:element minOccurs="0" name="cap" type="tb:CAP"/>
                    <xs:element minOccurs="0" name="istat" type="tb:CodIstat"/>
                    <xs:element minOccurs="0" name="comune" type="tb:Comune"/>
                    <xs:element minOccurs="0" name="provincia" type="tb:Provincia"/>
                    <xs:element minOccurs="0" name="nazione" type="tb:Stringa100"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Intero">
                <xs:restriction base="xs:integer">
                    <xs:minExclusive value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Intero1">
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Matricola">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Nome">
                <xs:restriction base="tb:Stringa50"/>
            </xs:simpleType>
            <xs:simpleType name="NumeroCivico">
                <xs:restriction base="tb:Stringa10"/>
            </xs:simpleType>
            <xs:simpleType name="NumeroUtente">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{9}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="OnOff">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SI"/>
                    <xs:enumeration value="NO"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PIVA">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{11}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Potenza">
                <xs:restriction base="xs:double"/>
            </xs:simpleType>
            <xs:simpleType name="PrefissoToponimo">
                <xs:restriction base="tb:Stringa30"/>
            </xs:simpleType>
            <xs:simpleType name="PrelievoAnnuoPrevisto">
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType name="Pressione">
                <xs:restriction base="xs:double"/>
            </xs:simpleType>
            <xs:simpleType name="Provincia">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Za-z]{2}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PuntiGas">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{3}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="RagioneSociale">
                <xs:restriction base="tb:Stringa100"/>
            </xs:simpleType>
            <xs:simpleType name="Segnante">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="StatoContatore">
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="StatoContatoreEsteso">
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="StatoContatoreSosp">
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa1">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa10">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa100">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa15">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="15"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa2">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa20">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa200">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="200"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa255">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa255Obbl">
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="255"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa30">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa4000">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="4000"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa5">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="5"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Stringa50">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Telefono">
                <xs:restriction base="tb:Stringa20"/>
            </xs:simpleType>
            <xs:simpleType name="TipoAccessibilita">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="TipoConferma">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="TipologiaCliente">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="TipologiaPdR">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="Toponimo">
                <xs:restriction base="tb:Stringa100"/>
            </xs:simpleType>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.enel.com/mercato/libero/schema/cdm/crm.xsd" xmlns:cm="http://xmlns.enel.com/mercato/libero/schema/cdm/common.xsd" xmlns:fat="http://xmlns.enel.com/mercato/libero/schema/cdm/fatturazione.xsd" xmlns:for="http://xmlns.enel.com/mercato/libero/schema/cdm/fornitura.xsd" xmlns:ind="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd" xmlns:let="http://xmlns.enel.com/mercato/libero/schema/cdm/lettura.xsd" xmlns:prod="http://xmlns.enel.com/mercato/libero/schema/cdm/prodotto.xsd" xmlns:ric="http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/crm.xsd" version="1.0">
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd"/>
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/common.xsd"/>
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/fornitura.xsd"/>
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/fatturazione.xsd"/>
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd"/>
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/lettura.xsd"/>
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/prodotto.xsd"/>
            <xs:element name="ModificaAnagraficaTecnicaRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="richiesta" type="ric:Richiesta"/>
                        <xs:element minOccurs="0" name="fornitura" type="for:FornituraType"/>
                        <xs:element minOccurs="0" name="letturaMisuratore" type="let:LetturaType"/>
                        <xs:element minOccurs="0" name="letturaCorrettore" type="let:LetturaType"/>
                        <xs:element minOccurs="0" name="nuovaFornitura" type="for:FornituraType"/>
                        <xs:element minOccurs="0" name="distributore" type="ind:IndirizzoType"/>
                        <xs:element minOccurs="0" name="nuovaLetturaMisuratore" type="let:LetturaType"/>
                        <xs:element minOccurs="0" name="nuovaLetturaCorrettore" type="let:LetturaType"/>
                        <xs:element minOccurs="0" name="prodotto" type="prod:ProdottoType"/>
                        <xs:element minOccurs="0" name="fatturazione" type="fat:DatiFatturazioneType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ModificaAnagraficaTecnicaRequestIProcess">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ric:Richiesta"/>
                        <xs:element minOccurs="0" name="CDM_fornitura" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_letturaMisuratore" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_letturaCorrettore" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_nuovaFornitura" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_distributore" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_nuovaLetturaMisuratore" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_nuovaLetturaCorrettore" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_prodotto" type="xs:string"/>
                        <xs:element minOccurs="0" name="CDM_fatturazione" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ModificaAnagraficaTecnicaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="esito" type="cm:EsitoType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annullamentoOrdineRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="richiesta" type="ric:Richiesta"/>
                        <xs:element minOccurs="0" name="esitoAnnullamento" type="cm:EsitoType"/>
                        <xs:element minOccurs="0" name="fornitura" type="for:FornituraType"/>
                        <xs:element minOccurs="0" name="idRevoca">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="15"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annullamentoOrdineResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="esito" type="cm:EsitoType"/>
                        <xs:element minOccurs="0" name="idRevoca">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="15"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:let="http://xmlns.enel.com/mercato/libero/schema/cdm/lettura.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/lettura.xsd">
            <xs:complexType name="LetturaEleType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numeroFasce">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:totalDigits value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="segnanteFascia1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="segnanteFascia2">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="segnanteFascia3">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SegnanteAttiva" type="let:SegnanteEleType"/>
                    <xs:element minOccurs="0" name="SegnanteReattiva" type="let:SegnanteEleType"/>
                    <xs:element minOccurs="0" name="SegnantePotenza" type="let:SegnanteEleType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LetturaGasType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="segnanteMisuratore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="segnanteCorrettore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LetturaType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tipoLettura">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:length value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="commodity">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dataLettura" type="xs:date"/>
                    <xs:element minOccurs="0" name="LetturaEle" type="let:LetturaEleType"/>
                    <xs:element minOccurs="0" name="LetturaGas" type="let:LetturaGasType"/>
                    <xs:element minOccurs="0" name="TipoLetturaCorrettore" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataLetturaCliente" type="xs:date"/>
                    <xs:element minOccurs="0" name="LetturaDistributore" type="xs:string"/>
                    <xs:element minOccurs="0" name="LetturaDistributoreCorrettore" type="xs:string"/>
                    <xs:element minOccurs="0" name="LetturaClienteCorrettore" type="xs:string"/>
                    <xs:element minOccurs="0" name="LetturaCliente" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataTentativoLettDistr" type="xs:date"/>
                    <xs:element minOccurs="0" name="NuovoTentativoFlag" type="xs:string"/>
                    <xs:element minOccurs="0" name="PresenzaCliente" type="xs:string"/>
                    <xs:element minOccurs="0" name="CompetenzaLettura" type="xs:string"/>
                    <xs:element minOccurs="0" name="FrequenzaLettura" type="xs:string"/>
                    <xs:element minOccurs="0" name="StatoLettura" type="xs:string"/>
                    <xs:element minOccurs="0" name="StatoTrasmissioneLettura" type="xs:string"/>
                    <xs:element minOccurs="0" name="LetturaContestata" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataLetturaContestata" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Matricola">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="17"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="NumeroFasce">
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="SegnanteEleType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MatricolaMisuratore" type="let:Matricola"/>
                    <xs:element minOccurs="0" name="NumeroFasce" type="let:NumeroFasce"/>
                    <xs:element minOccurs="0" name="LetturaF1" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="LetturaF2" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="LetturaF3" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Lettura" type="let:LetturaType"/>
            <xs:element name="LetturaEle" type="let:LetturaEleType"/>
            <xs:element name="LetturaGas" type="let:LetturaGasType"/>
            <xs:element name="SegnanteEleType" type="let:SegnanteEleType"/>
        </xs:schema>
        <xs:schema xmlns:ric="http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd">
            <xs:complexType name="AppuntamentoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TipoAppuntamento" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataAppuntamento" type="xs:date"/>
                    <xs:element minOccurs="0" name="FoDa" type="xs:string"/>
                    <xs:element minOccurs="0" name="FoA" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataCutOff" type="xs:date"/>
                    <xs:element minOccurs="0" name="CaricoAppuntamento">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="V"/>
                                <xs:enumeration value="N"/>
                                <xs:enumeration value="C"/>
                                <xs:enumeration value="D"/>
                                <xs:enumeration value=""/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Canale">
                <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Causale">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Commodity">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="3"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="IdRichiesta">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="15"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="IdentificativiR2dType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="IdDistr" type="ric:IdRichiesta"/>
                    <xs:element minOccurs="0" name="IdDistr2" type="ric:IdRichiesta"/>
                    <xs:element minOccurs="0" name="IdR2d" type="ric:IdRichiesta"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Richiesta">
                <xs:complexContent>
                    <xs:extension base="ric:RichiestaType"/>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RichiestaType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sistemaRichiedente" type="xs:string"/>
                    <xs:element minOccurs="0" name="canale" type="ric:Canale"/>
                    <xs:element minOccurs="0" name="idRichiesta" type="ric:IdRichiesta">
                        <xs:annotation>
                            <xs:documentation>Contiene L ID del sistema chiamante</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="tipoOperazione" type="ric:TipoOperazione"/>
                    <xs:element minOccurs="0" name="causale" type="ric:Causale"/>
                    <xs:element minOccurs="0" name="idProcessoBpm" type="ric:IdRichiesta"/>
                    <xs:element minOccurs="0" name="commodity" type="ric:Commodity"/>
                    <xs:element minOccurs="0" name="flagDelibera40" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="Ip" type="xs:string"/>
                    <xs:element minOccurs="0" name="Profilo" type="xs:string"/>
                    <xs:element minOccurs="0" name="Matricola" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataRichiesta" type="xs:date"/>
                    <xs:element minOccurs="0" name="IdMuti" type="ric:IdRichiesta"/>
                    <xs:element minOccurs="0" name="IdDms" type="ric:IdRichiesta"/>
                    <xs:element minOccurs="0" name="IdDmsReclamo" type="ric:IdRichiesta"/>
                    <xs:element minOccurs="0" name="IdR2d" type="ric:IdentificativiR2dType"/>
                    <xs:element minOccurs="0" name="dataDecorrenza" type="xs:date"/>
                    <xs:element minOccurs="0" name="tipoRichiesta" type="xs:string"/>
                    <xs:element minOccurs="0" name="flagComplesso" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="flagPreventivo" type="ric:string1"/>
                    <xs:element minOccurs="0" name="flagDocumentazione" type="ric:string1"/>
                    <xs:element minOccurs="0" name="idCRM" type="ric:IdRichiesta"/>
                    <xs:element minOccurs="0" name="statoServizio" type="ric:StatoOrdine"/>
                    <xs:element minOccurs="0" name="statoOrdine" type="ric:StatoOrdine"/>
                    <xs:element minOccurs="0" name="statoFiCa" type="ric:StatoOrdine"/>
                    <xs:element minOccurs="0" name="statoISU" type="ric:StatoOrdine"/>
                    <xs:element minOccurs="0" name="statoR2D" type="ric:StatoOrdine"/>
                    <xs:element minOccurs="0" name="statoSD" type="ric:StatoOrdine"/>
                    <xs:element minOccurs="0" name="statoSempre" type="ric:StatoOrdine"/>
                    <xs:element minOccurs="0" name="statoUDB" type="ric:StatoOrdine"/>
                    <xs:element minOccurs="0" name="IdR2R">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="IdR2R">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="30"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="IdAttivitaCrm">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DatiBam">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="TipoPratica" type="xs:string"/>
                                <xs:element minOccurs="0" name="Servizio" type="xs:string"/>
                                <xs:element minOccurs="0" name="IdPadre" type="xs:string"/>
                                <xs:element minOccurs="0" name="TipoPraticaPadre" type="xs:string"/>
                                <xs:element minOccurs="0" name="ServizioPadre" type="xs:string"/>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Keys">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="NomeChiave" type="xs:string"/>
                                            <xs:element minOccurs="0" name="ValoreChiave" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DataAggiornamento" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="StatoOrdine">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="TipoOperazione">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="string1">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="Appuntamento" type="ric:AppuntamentoType"/>
            <xs:element name="Richiesta" type="ric:RichiestaType"/>
        </xs:schema>
        <xs:schema xmlns:ind="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd">
            <xs:simpleType name="CAP">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="CodIstat">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{6}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Comune">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="IdIndEsterno">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="IndirizzoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="prefissotoponimo" type="ind:PrefissoToponimo"/>
                    <xs:element minOccurs="0" name="toponimo" type="ind:Toponimo"/>
                    <xs:element minOccurs="0" name="civico" type="ind:NumeroCivico"/>
                    <xs:element minOccurs="0" name="scala" type="ind:Scala"/>
                    <xs:element minOccurs="0" name="piano" type="ind:Piano"/>
                    <xs:element minOccurs="0" name="interno" type="ind:Interno"/>
                    <xs:element minOccurs="0" name="cap" type="ind:CAP"/>
                    <xs:element minOccurs="0" name="istat" type="ind:CodIstat"/>
                    <xs:element minOccurs="0" name="comune" type="ind:Comune"/>
                    <xs:element minOccurs="0" name="provincia" type="ind:Provincia"/>
                    <xs:element minOccurs="0" name="provinciaDesc" type="ind:ProvinciaDesc"/>
                    <xs:element minOccurs="0" name="localita" type="ind:Localita"/>
                    <xs:element minOccurs="0" name="nazione" type="ind:Nazione"/>
                    <xs:element minOccurs="0" name="TipologiaSede" type="ind:TipologiaSede"/>
                    <xs:element minOccurs="0" name="idIndEsterno" type="ind:IdIndEsterno"/>
                    <xs:element minOccurs="0" name="indirizzo" type="ind:Via"/>
                    <xs:element minOccurs="0" name="presso" type="ind:Presso"/>
                    <xs:element minOccurs="0" name="defSedeTecnica" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Interno">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Localita">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Nazione">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="NumeroCivico">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Piano">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="PrefissoToponimo">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Presso">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Provincia">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="ProvinciaDesc">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Scala">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="TipologiaSede">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Toponimo">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Via">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="200"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="Indirizzo" type="ind:IndirizzoType"/>
        </xs:schema>
        <xs:schema xmlns:for="http://xmlns.enel.com/mercato/libero/schema/cdm/fornitura.xsd" xmlns:ind="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/fornitura.xsd">
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd"/>
            <xs:simpleType name="CodicePodPdr">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="15"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Commodity">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="CorrettoreType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numeroDigit" type="for:NumeroDigit"/>
                    <xs:element minOccurs="0" name="calibro">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceMateriale">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="18"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceProduttore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="numeroDiSerie">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dataInstallazione" type="xs:date"/>
                    <xs:element minOccurs="0" name="dataRimozione" type="xs:date"/>
                    <xs:element minOccurs="0" name="marca">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="matricola">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="nota">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="posizione">
                        <xs:annotation>
                            <xs:documentation>I = Interno, E= Esterno</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value=""/>
                                <xs:enumeration value="E"/>
                                <xs:enumeration value="I"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="stato">
                        <xs:annotation>
                            <xs:documentation>A =  Aperto, C = Chiuso</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="A"/>
                                <xs:enumeration value="C"/>
                                <xs:enumeration value=""/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ubicazione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PotenzialitaTotUtilizzatore" type="xs:string"/>
                    <xs:element minOccurs="0" name="Classe" type="xs:string"/>
                    <xs:element minOccurs="0" name="FattoreC" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DatiTecniciType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="progressivoAnnuoTermico" type="xs:string"/>
                    <xs:element minOccurs="0" name="progressivoConsumoFiscale" type="xs:string"/>
                    <xs:element minOccurs="0" name="codiceDistributore" type="xs:string"/>
                    <xs:element minOccurs="0" name="descrizioneDistributore" type="xs:string"/>
                    <xs:element minOccurs="0" name="podLiberoFlag" type="xs:string"/>
                    <xs:element minOccurs="0" name="usabileFlag" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataTriorario" type="xs:date"/>
                    <xs:element minOccurs="0" name="statoPod" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DimensioniType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Altezza" type="xs:string"/>
                    <xs:element minOccurs="0" name="Larghezza" type="xs:string"/>
                    <xs:element minOccurs="0" name="Profondita" type="xs:string"/>
                    <xs:element minOccurs="0" name="Scanalatura" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DisalimentabilitaType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Disalimentabile" type="xs:string"/>
                    <xs:element minOccurs="0" name="CategoriaDisalimentabilita" type="xs:string"/>
                    <xs:element minOccurs="0" name="AutocertificazioneAcquisizione" type="xs:string"/>
                    <xs:element minOccurs="0" name="CertificazioneAslCliente" type="xs:string"/>
                    <xs:element minOccurs="0" name="TelCellPreavviso" type="xs:string"/>
                    <xs:element minOccurs="0" name="LiberatoriaCliente" type="xs:string"/>
                    <xs:element minOccurs="0" name="MancatoAvvisoPesse" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FornituraType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="podpdr" type="for:CodicePodPdr"/>
                    <xs:element minOccurs="0" name="commodity" type="for:Commodity"/>
                    <xs:element minOccurs="0" name="Misuratore" type="for:MisuratoreType"/>
                    <xs:element minOccurs="0" ref="for:Correttore"/>
                    <xs:element minOccurs="0" name="indirizzo" type="ind:IndirizzoType"/>
                    <xs:element minOccurs="0" name="descrizioneSito">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="responsabileImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="200"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceConcessioneDistributore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="tensione" type="xs:integer"/>
                    <xs:element minOccurs="0" name="volumeContrattuale" type="xs:integer"/>
                    <xs:element minOccurs="0" name="consumoAnnuoBB" type="xs:integer"/>
                    <xs:element minOccurs="0" name="flagBB" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="KTVO" type="xs:double"/>
                    <xs:element minOccurs="0" name="numeroPresa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="flagFornituraResidenziale" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Indica se la fornitura e residenziale o non residenziale</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="usoFornitura">
                        <xs:annotation>
                            <xs:documentation>Tipo d'uso descrittivo. Ad es: USO DOMESTICO</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="categoriaUso">
                        <xs:annotation>
                            <xs:documentation>CODICE DELLA CATEGORIA USO</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="classePrelievo">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="clienteTutelato" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="codiceProdotto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceAeegLocalita">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:totalDigits value="6"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceRemiCabina">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceAeegDistributore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceAeegImpianto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="cottimo" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="destinazioneUso">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="potenza">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="disponibile" type="xs:double"/>
                                <xs:element minOccurs="0" name="contrattuale" type="xs:double"/>
                                <xs:element minOccurs="0" name="impegnata" type="xs:double"/>
                                <xs:element minOccurs="0" name="inFranchigia" type="xs:double"/>
                                <xs:element minOccurs="0" name="richiesta" type="xs:double"/>
                                <xs:element minOccurs="0" name="unitaDiMisuraRichiesta" type="xs:string"/>
                                <xs:element minOccurs="0" name="tipoPotenza" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" ref="for:volumeRiferimento"/>
                    <xs:element minOccurs="0" name="Psm">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Sollevamento" type="for:SollevamentoType"/>
                    <xs:element minOccurs="0" name="Disalimentabilita" type="for:DisalimentabilitaType"/>
                    <xs:element minOccurs="0" name="UsoEnergia" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoConnessione" type="xs:string"/>
                    <xs:element minOccurs="0" name="TelefonoResponsabileImpianto" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoFornitura" type="xs:string"/>
                    <xs:element minOccurs="0" name="DimensioniNicchia" type="for:DimensioniType"/>
                    <xs:element minOccurs="0" name="VolumeAnnuoPrevisto" type="xs:string"/>
                    <xs:element minOccurs="0" name="CodiceRemiPool" type="xs:string"/>
                    <xs:element minOccurs="0" ref="for:Tensione"/>
                    <xs:element minOccurs="0" name="TipologiaGas" type="xs:string"/>
                    <xs:element minOccurs="0" name="ValoreSoglia" type="xs:string"/>
                    <xs:element minOccurs="0" name="settoreContabile" type="xs:string"/>
                    <xs:element minOccurs="0" name="codiceRete" type="xs:string"/>
                    <xs:element minOccurs="0" name="numeroReferente" type="xs:string"/>
                    <xs:element minOccurs="0" name="settoreIndustriale" type="xs:string"/>
                    <xs:element minOccurs="0" name="consumoAnnuoTotale">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="13"/>
                                <xs:fractionDigits value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="consumoAnnuoPrecedente" type="xs:string"/>
                    <xs:element minOccurs="0" name="portataMax" type="xs:string"/>
                    <xs:element minOccurs="0" name="DatiTecnici" type="for:DatiTecniciType"/>
                    <xs:element minOccurs="0" name="dataAttivazione" type="xs:date"/>
                    <xs:element minOccurs="0" name="dataCessazione" type="xs:date"/>
                    <xs:element minOccurs="0" name="categoriaConsumo" type="xs:string"/>
                    <xs:element minOccurs="0" name="profiloConsumoAnnuo" type="xs:string"/>
                    <xs:element minOccurs="0" name="FlagCambioUSO" type="xs:string"/>
                    <xs:element minOccurs="0" name="DatiTrader">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="CodiceTrader" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" ref="for:Telegestione"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="LetturaCorrettore">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="LetturaMisuratore">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Matricola">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="MisuratoreType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numeroDigit">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:totalDigits value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="numeroLetture">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:totalDigits value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="tipo" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>DA DISMETTERE, SEMBRA = A STATO</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="accessibilitaFisica">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="accessabilitaLegale">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="matricola">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="calibro">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceMateriale">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="18"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceProduttore">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="6"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="numeroDiSerie">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dataInstallazione" type="xs:date"/>
                    <xs:element minOccurs="0" name="dataRimozione" type="xs:date"/>
                    <xs:element minOccurs="0" name="marca">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="nota" type="xs:string"/>
                    <xs:element minOccurs="0" name="posizione">
                        <xs:annotation>
                            <xs:documentation>I=INTERNO, E=ESTERNO</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                                <xs:enumeration value="I"/>
                                <xs:enumeration value="E"/>
                                <xs:enumeration value=""/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="stato">
                        <xs:annotation>
                            <xs:documentation>A=Aperto, C=Chiuso</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                                <xs:enumeration value="A"/>
                                <xs:enumeration value="C"/>
                                <xs:enumeration value=""/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ubicazione">
                        <xs:annotation>
                            <xs:documentation>Sotto il lavandino, in cantina, nel BAGNO</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="classe" type="xs:string"/>
                    <xs:element minOccurs="0" name="annoCostruzione" type="xs:string"/>
                    <xs:element minOccurs="0" name="misuratoreTelegestito" type="xs:string"/>
                    <xs:element minOccurs="0" name="PotenzialitaTotUtilizzatore" type="xs:string"/>
                    <xs:element minOccurs="0" name="ConsumoBimestraleBB" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="NumeroDigit">
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="NumeroDigitCorrettore">
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="NumeroDigitMisuratore">
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="NumeroLetture">
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="Potenza">
                <xs:restriction base="xs:double"/>
            </xs:simpleType>
            <xs:complexType name="PotenzaType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="disponibile" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrattuale" type="xs:string"/>
                    <xs:element minOccurs="0" name="impegnata" type="xs:string"/>
                    <xs:element minOccurs="0" name="inFranchigia" type="xs:string"/>
                    <xs:element minOccurs="0" name="richiesta" type="xs:string"/>
                    <xs:element minOccurs="0" name="unitaDiMisuraRichiesta" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SollevamentoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CodUService" type="xs:string"/>
                    <xs:element minOccurs="0" name="SollevamentoPersone" type="xs:string"/>
                    <xs:element minOccurs="0" name="AutocertificazioneSollevamentoPersone" type="xs:string"/>
                    <xs:element minOccurs="0" name="AutocertificazioneIstanza" type="xs:string"/>
                    <xs:element minOccurs="0" name="AutocertificazioneControlloConnessione" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Tensione">
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:complexType name="TensioniType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tensioneRichiesta" type="for:Tensione"/>
                    <xs:element minOccurs="0" name="tensioneErogata" type="for:Tensione"/>
                    <xs:element minOccurs="0" name="livelloTensione" type="xs:string"/>
                    <xs:element minOccurs="0" name="livelloTensioneRichiesta" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="Tipo">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="TipoLettura">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="Correttore" type="for:CorrettoreType"/>
            <xs:element name="Fornitura" type="for:FornituraType"/>
            <xs:element name="Misuratore" type="for:MisuratoreType"/>
            <xs:element name="Telegestione" type="xs:string"/>
            <xs:element name="Tensione" type="for:TensioniType"/>
            <xs:element name="volumeRiferimento" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:fat="http://xmlns.enel.com/mercato/libero/schema/cdm/fatturazione.xsd" xmlns:ind="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/fatturazione.xsd">
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/indirizzo.xsd"/>
            <xs:complexType name="DatiFatturazioneType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codiceImposte">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="aliquotaIva">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="8"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="IndirizzoFatturazione" type="ind:IndirizzoType"/>
                    <xs:element minOccurs="0" name="canaleDiStampa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="rowIdListino">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="15"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dataFineValiditaListino" type="xs:date"/>
                    <xs:element minOccurs="0" name="dataFineValiditaContratto" type="xs:date"/>
                    <xs:element minOccurs="0" name="PrimoCodiceListino" type="xs:string"/>
                    <xs:element minOccurs="0" name="SecondoCodiceListino" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataAssociazione" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroListino">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceCatastale">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceIstat">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="6"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PercentualeIva" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="CausaleIva" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataDichiarazione" type="xs:date"/>
                    <xs:element minOccurs="0" name="NumeroDichiarazione" type="xs:string"/>
                    <xs:element minOccurs="0" name="Accise" type="xs:string"/>
                    <xs:element minOccurs="0" name="AddizionaleProvinciale" type="xs:string"/>
                    <xs:element minOccurs="0" name="AddizionaleComunale" type="xs:string"/>
                    <xs:element minOccurs="0" name="CondizioniPagamento">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="0"/>
                                <xs:maxLength value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NumCardRif" type="xs:string"/>
                    <xs:element minOccurs="0" name="ChiaviInteressi" type="xs:string"/>
                    <xs:element minOccurs="0" name="MorositaComplessa" type="xs:string"/>
                    <xs:element minOccurs="0" name="passoDiFatturazione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                                <xs:enumeration value=""/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dispbt" type="xs:string"/>
                    <xs:element minOccurs="0" name="modalitaFatturazione" type="xs:string"/>
                    <xs:element minOccurs="0" name="perditeIncluse" type="xs:string"/>
                    <xs:element minOccurs="0" name="sbilanciamentoIncluso" type="xs:string"/>
                    <xs:element minOccurs="0" name="opzioneVerde" type="xs:string"/>
                    <xs:element minOccurs="0" name="trasporto" type="xs:string"/>
                    <xs:element minOccurs="0" name="prezzoFixMono" type="xs:string"/>
                    <xs:element minOccurs="0" name="prezzoFixF1" type="xs:string"/>
                    <xs:element minOccurs="0" name="prezzoFixF2" type="xs:string"/>
                    <xs:element minOccurs="0" name="prezzoFixF3" type="xs:string"/>
                    <xs:element minOccurs="0" name="flagBloccoFatturazione">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1"/>
                                <xs:enumeration value="Y"/>
                                <xs:enumeration value="N"/>
                                <xs:enumeration value=""/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="prezzoFasciaPeek" type="xs:string"/>
                    <xs:element minOccurs="0" name="prezzoFasciaOffPeek" type="xs:string"/>
                    <xs:element minOccurs="0" name="CIMP">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="segmentoCommerciale" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdFatturazioneType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessPartner" type="xs:string"/>
                    <xs:element minOccurs="0" name="contoContrattuale">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="contrattoSap">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="businessPartnerEsterno">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="descrizioneContoContrattuale" type="xs:string"/>
                    <xs:element minOccurs="0" name="cartatteristicaDeterminazioneConti" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrattoCRM" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrattoSD">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="contoContrattualeSD">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="12"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="businessPartnerSD">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NumeroProgressivo" type="xs:string"/>
                    <xs:element minOccurs="0" name="CodiceSocieta" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoPratica" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="DatiFatturazione" type="fat:DatiFatturazioneType"/>
            <xs:element name="IdFatturazione" type="fat:IdFatturazioneType"/>
        </xs:schema>
        <xs:schema xmlns:cm="http://xmlns.enel.com/mercato/libero/schema/cdm/common.xsd" xmlns:tb="http://xmlns.enel.com/mercato/libero/schema/cdm/tipibase.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/common.xsd">
            <xs:import namespace="http://xmlns.enel.com/mercato/libero/schema/cdm/tipibase.xsd"/>
            <xs:complexType name="EsitoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Esito" type="tb:Stringa2"/>
                    <xs:element minOccurs="0" name="CodiceEsito" type="tb:Stringa15"/>
                    <xs:element minOccurs="0" name="Descrizione" type="tb:Stringa255"/>
                    <xs:element minOccurs="0" name="sistemaSorgenteEsito" type="tb:Stringa10"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RichiestaType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="idRichiesta" type="tb:Stringa15"/>
                    <xs:element minOccurs="0" name="canale" type="tb:Stringa1"/>
                    <xs:element minOccurs="0" name="mittente" type="tb:Stringa10"/>
                    <xs:element minOccurs="0" name="tipoOperazione" type="tb:Stringa30"/>
                    <xs:element minOccurs="0" name="causale" type="tb:Stringa30"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="canale">
                <xs:restriction base="tb:Stringa1"/>
            </xs:simpleType>
            <xs:simpleType name="causale">
                <xs:restriction base="tb:Stringa30"/>
            </xs:simpleType>
            <xs:simpleType name="idRichiesta">
                <xs:restriction base="tb:Stringa15"/>
            </xs:simpleType>
            <xs:simpleType name="mittente">
                <xs:restriction base="tb:Stringa10"/>
            </xs:simpleType>
            <xs:simpleType name="tipoOperazione">
                <xs:restriction base="tb:Stringa30"/>
            </xs:simpleType>
            <xs:element name="Esito" type="cm:EsitoType"/>
            <xs:element name="Richiesta" type="cm:RichiestaType"/>
        </xs:schema>
        <xs:schema xmlns:pr="http://xmlns.enel.com/mercato/libero/schema/cdm/prodotto.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.com/mercato/libero/schema/cdm/prodotto.xsd">
            <xs:complexType name="DepositiCauzionaliType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="DepositoCauzionaleCorrente" type="pr:DepositoCauzionaleType"/>
                    <xs:element minOccurs="0" name="DepositoCauzionaleToBe" type="pr:DepositoCauzionaleType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DepositoCauzionaleType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="DepositoCauzionaleType">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="13"/>
                                <xs:fractionDigits value="2"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Motivazione" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Prodotto">
                <xs:complexContent>
                    <xs:extension base="pr:ProdottoType"/>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ProdottoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="flagBudgetBilling" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="tipologiaProdotto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceContrattoCartaceo">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceProdotto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceCampagna">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="codiceOfferta">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="frequenzaFatturazione">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value="[1-12]"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="consumoBimestraleBB">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="tipologiaContrattuale">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="10"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="testoContratto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Psm">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DescrizioneProdotto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DepositoCauzionele" type="pr:DepositiCauzionaliType"/>
                    <xs:element minOccurs="0" name="CanaleDiVendita" type="xs:string"/>
                    <xs:element minOccurs="0" name="BusinessArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoContrattoCommerciale" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataAttivazione" type="xs:date"/>
                    <xs:element minOccurs="0" name="FlagFatturabile" type="xs:string"/>
                    <xs:element minOccurs="0" name="ConsumoAnnuoBB" type="xs:integer"/>
                    <xs:element minOccurs="0" name="TipoFatturazione" type="xs:string"/>
                    <xs:element minOccurs="0" name="CaratteristicaDetermConti" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoRicontrattualizzazione" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataCessazione" type="xs:date"/>
                    <xs:element minOccurs="0" name="Psm2">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TipoProdotto" type="xs:string"/>
                    <xs:element minOccurs="0" name="OpzTariffariaTrasporto" type="xs:string"/>
                    <xs:element minOccurs="0" name="Bilanciamento" type="xs:string"/>
                    <xs:element minOccurs="0" name="Componente_BIL" type="xs:string"/>
                    <xs:element minOccurs="0" name="Componente_CO2" type="xs:string"/>
                    <xs:element minOccurs="0" name="Componente_COV" type="xs:string"/>
                    <xs:element minOccurs="0" name="Componente_UC1" type="xs:string"/>
                    <xs:element minOccurs="0" name="FlagFix_Defix" type="xs:string"/>
                    <xs:element minOccurs="0" name="Margine_Prezzo" type="xs:string"/>
                    <xs:element minOccurs="0" name="Opzione_Dispacciamento" type="xs:string"/>
                    <xs:element minOccurs="0" name="Prezzo_CAP" type="xs:string"/>
                    <xs:element minOccurs="0" name="Sconto_Sovrapprezzo" type="xs:string"/>
                    <xs:element minOccurs="0" name="canaleCampagna" type="xs:string"/>
                    <xs:element minOccurs="0" name="flagCampagneAttive" type="xs:string"/>
                    <xs:element minOccurs="0" name="nomeCampagna" type="xs:string"/>
                    <xs:element minOccurs="0" name="descrizioneCampagna" type="xs:string"/>
                    <xs:element minOccurs="0" name="sottotipo" type="xs:string"/>
                    <xs:element minOccurs="0" name="rowIdCampCli" type="xs:string"/>
                    <xs:element minOccurs="0" name="nomeInFattura" type="xs:string"/>
                    <xs:element minOccurs="0" name="nomeProdotto">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="codiceRateCategory">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="sistema" type="xs:string"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DataSottoscrizione" type="xs:date"/>
                    <xs:element minOccurs="0" name="TipoMMP" type="xs:string"/>
                    <xs:element minOccurs="0" name="CodiceCanaleConsip">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CodiceOrdineConsip">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="DepositiCauzionali" type="pr:DepositiCauzionaliType"/>
            <xs:element name="DepositoCauzionale" type="pr:DepositoCauzionaleType"/>
            <xs:element name="Prodotto" type="pr:ProdottoType"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="CrmBpm">
        <wsdl:operation name="AnnullamentoOrdine">
            <wsdl:input message="tns:AnnullamentoOrdineRequest"/>
            <wsdl:output message="tns:AnnullamentoOrdineResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="AnnullamentoOrdineRequest">
        <wsdl:part element="ns0:annullamentoOrdineRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="AnnullamentoOrdineResponse">
        <wsdl:part element="ns0:annullamentoOrdineResponse" name="output"/>
    </wsdl:message>
</wsdl:definitions>
