tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/Service Descriptors/ControlloCreazioneOrdineCRMServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_mnm7sJRxEeGbVtfBTtpjIw_ServiceCall__wOoNP8IsEeKJRKT8IN5xBA"  xmlns:ttns="http://mind.enel.com/controllocreazioneordinecrm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.tibco.com/bs3.0/_mnm7sJRxEeGbVtfBTtpjIw_ServiceCall__wOoNP8IsEeKJRKT8IN5xBA" >
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_mnm7sJRxEeGbVtfBTtpjIw_ServiceCall__wOoNP8IsEeKJRKT8IN5xBA" targetNamespace="http://www.tibco.com/bs3.0/_mnm7sJRxEeGbVtfBTtpjIw_ServiceCall__wOoNP8IsEeKJRKT8IN5xBA"/>
    <xsd:schema xmlns="http://mind.enel.com/controllocreazioneordinecrm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns26="http://mind.enel.com/controllocreazioneordinecrm" targetNamespace="http://mind.enel.com/controllocreazioneordinecrm">
      <xsd:annotation>

      </xsd:annotation>
      <xsd:complexType name="ControlloCreazioneOrdineCRM_Input">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="canale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="login">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codice_cliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="prodottoVAS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="operazione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idBPM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ControlloCreazioneOrdineCRM_Output">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codice">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaSorgente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codice_cliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="9"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ControlloCreazioneOrdineCRM_InputElement" type="ControlloCreazioneOrdineCRM_Input"/>
      <xsd:element name="ControlloCreazioneOrdineCRM_OutputElement" type="ControlloCreazioneOrdineCRM_Output"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SVEROPEVAS_ServiceCall_INPUT">
    <wsdl:part element="ttns:ControlloCreazioneOrdineCRM_InputElement" name="Request_ControlloCreazioneOrdineCRM"/>
  </wsdl:message>
  <wsdl:message name="SVEROPEVAS_ServiceCall_OUTPUT">
    <wsdl:part element="ttns:ControlloCreazioneOrdineCRM_OutputElement" name="Response_ControlloCreazioneOrdineCRM"/>
  </wsdl:message>
  <wsdl:portType name="SVEROPEVAS" >
    <wsdl:operation name="ServiceCall">
      <wsdl:input message="ns:SVEROPEVAS_ServiceCall_INPUT" />
      <wsdl:output message="ns:SVEROPEVAS_ServiceCall_OUTPUT" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
