tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/Service Descriptors/CrmMoteServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://xmlns.enel.com/mercato/libero/abstract/integration/crmmotebpm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://www.w3.org/2001/XMLSchema" name="Untitled" targetNamespace="http://xmlns.enel.com/mercato/libero/abstract/integration/crmmotebpm">
	<wsdl:types>
		<xs:schema xmlns="http://xmlns.enel.com/mercato/libero/abstract/integration/crmmotebpm" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.enel.com/mercato/libero/abstract/integration/crmmotebpm" version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:complexType name="EsitoType">
				<xs:sequence>
					<xs:element minOccurs="0" name="esito" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="codiceEsito" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="descrizione" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="tipoEsito" type="xs:string">
					</xs:element>
					<xs:element minOccurs="1" name="sistemaSorgenteEsito" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RichiestaType">
				<xs:sequence>
					<xs:element minOccurs="0" name="sistemaRichiedente" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="canale" type="xs:string"/>
					<xs:element minOccurs="0" name="idRichiesta" type="xs:string"/>
					<xs:element minOccurs="0" name="tipoOperazione" type="xs:string"/>
					<xs:element minOccurs="0" name="causale" type="xs:string"/>
					<xs:element minOccurs="0" name="idProcessoBpm" type="xs:string"/>
					<xs:element minOccurs="0" name="commodity" type="xs:string"/>
					<xs:element minOccurs="0" name="flagDelibera40" type="xs:boolean"/>
					<xs:element minOccurs="0" name="Ip" type="xs:string"/>
					<xs:element minOccurs="0" name="Profilo" type="xs:string"/>
					<xs:element minOccurs="0" name="Matricola" type="xs:string"/>
					<xs:element minOccurs="0" name="DataRichiesta" type="xs:date"/>
					<xs:element minOccurs="0" name="IdMuti" type="xs:string"/>
					<xs:element minOccurs="0" name="IdDms" type="xs:string"/>
					<xs:element minOccurs="0" name="IdDmsReclamo" type="xs:string"/>
					<xs:element minOccurs="0" name="IdR2d" type="tns:IdentificativiR2dType">
					</xs:element>
					<xs:element minOccurs="0" name="dataDecorrenza" type="xs:date"/>
					<xs:element minOccurs="0" name="tipoRichiesta" type="xs:string"/>
					<xs:element minOccurs="0" name="flagComplesso" type="xs:boolean"/>
					<xs:element minOccurs="0" name="flagPreventivo" type="xs:string"/>
					<xs:element minOccurs="0" name="flagDocumentazione" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="idCRM" type="xs:string"/>
					<xs:element minOccurs="0" name="statoServizio" type="xs:string"/>
					<xs:element minOccurs="0" name="statoOrdine" type="xs:string"/>
					<xs:element minOccurs="0" name="statoFiCa" type="xs:string"/>
					<xs:element minOccurs="0" name="statoISU" type="xs:string"/>
					<xs:element minOccurs="0" name="statoR2D" type="xs:string"/>
					<xs:element minOccurs="0" name="statoSD" type="xs:string"/>
					<xs:element minOccurs="0" name="statoSempre" type="xs:string"/>
					<xs:element minOccurs="0" name="statoUDB" type="xs:string"/>
					<xs:element minOccurs="0" name="IdR2R" type="tns:IdentificativiR2rType">
					</xs:element>
					<xs:element minOccurs="0" name="IdAttivitaCrm" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="IdentificativiR2dType">
				<xs:sequence>
					<xs:element minOccurs="0" name="IdDistr" type="xs:string"/>
					<xs:element minOccurs="0" name="IdDistr2" type="xs:string"/>
					<xs:element minOccurs="0" name="IdR2d" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="IdentificativiR2rType">
				<xs:sequence>
					<xs:element minOccurs="0" name="IdR2R" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ModificaAnagraficaTecnicaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Richiesta" type="RichiestaType"/>
						<xs:element name="CDM_Fornitura" type="xs:string"/>
						<xs:element name="CDM_LetturaMisuratore" type="xs:string"/>
						<xs:element name="CDM_LetturaCorrettore" type="xs:string"/>
						<xs:element name="CDM_NuovaFornitura" type="xs:string"/>
						<xs:element name="CDM_distributore" type="xs:string"/>
						<xs:element name="CDM_IndirizzoDistributore" type="xs:string"/>
						<xs:element name="CDM_NuovaLetturaMisuratore" type="xs:string"/>
						<xs:element name="CDM_NuovaLetturaCorrettore" type="xs:string"/>
						<xs:element name="CDM_prodotto" type="xs:string"/>
						<xs:element name="CDM_fatturazione" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ModificaAnagraficaTecnicaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Esito" type="EsitoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ModificaAnagraficaTecnicaRequest">
		<wsdl:part name="input" element="tns:ModificaAnagraficaTecnicaRequest"/>
	</wsdl:message>
	<wsdl:message name="ModificaAnagraficaTecnicaResponse">
		<wsdl:part name="output" element="tns:ModificaAnagraficaTecnicaResponse"/>
	</wsdl:message>
	<wsdl:portType name="CrmMoteBPMPortType">
		<wsdl:operation name="ModificaAnagraficaTecnica">
			<wsdl:input message="tns:ModificaAnagraficaTecnicaRequest"/>
			<wsdl:output message="tns:ModificaAnagraficaTecnicaResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>