tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/Service Descriptors/Morosita_EsitoAnnullamentoCRMServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:xsdLocal1="http://xmlns.enel.it/schema/libero/2009/03/23/EsitoAnnullamento.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://xmlns.enel.it/schema/libero/EsitiAnnullamentoCRM.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Untitled" targetNamespace="http://xmlns.enel.it/schema/libero/EsitiAnnullamentoCRM.xsd" tibex:src="file:/D:/Documenti%20ENEL/WSDL%20TEST/Morosita_EsitoAnnullamentoCRMService.wsdl">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://xmlns.enel.it/schema/libero/2009/03/23/EsitoAnnullamento.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.enel.it/schema/libero/2009/03/23/EsitoAnnullamento.xsd">
            <xsd:simpleType name="string1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="Request">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="ID_CRM" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_DISTR" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_DISTR2" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_R2D" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_TRADER" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_MUTI" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="COMMODITY" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="TIPO_OPERAZIONE" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="CAUSALE" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="RIALLACCIO_FLG" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ESITO" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="CD_ESITO" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="DESC_ESITO" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="TIPO_ESITO" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="ID_CRM" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_DISTR" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_DISTR2" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_R2D" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_TRADER" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ID_MUTI" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="COMMODITY" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="TIPO_OPERAZIONE" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="CAUSALE" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="CD_ESITO" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="DESC_ESITO" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="ESITO" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="TIPO_ESITO" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="TECNICO_ESITO" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="TECNICO_DESC_ESITO" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:portType name="Morosita-EsitoAnnullamentoCRM">
        <wsdl:operation name="esitoAnnullamentoCRMOperation">
            <wsdl:input message="tns:esitoAnnullamentoCRMRequest"/>
            <wsdl:output message="tns:esitoAnnullamentoCRMResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="esitoAnnullamentoCRMRequest">
        <wsdl:part element="xsdLocal1:Request" name="input"/>
    </wsdl:message>
    <wsdl:message name="esitoAnnullamentoCRMResponse">
        <wsdl:part element="xsdLocal1:Response" name="output"/>
    </wsdl:message>
</wsdl:definitions>
