tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/Service Descriptors/MutiIntegrationRecuperoDatiDelCrmServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.enel.mind.integration.recuperodatidelcrm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://com.enel.mind.integration.recuperodatidelcrm">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.enel.mind.integration.recuperodatidelcrm">
      <xsd:element name="CompletamentoDatiOrdineRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Richiesta" type="tns:RichiestaType"
          		minOccurs="1" />
          	<xsd:element name="TipoPolling" type="xsd:string" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CompletamentoDatiOrdineResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Esito" type="tns:EsitoType"
          		minOccurs="1" />
          	<xsd:element name="IdFatturazione"
          		type="tns:IdFatturazioneType" minOccurs="0">
          	</xsd:element>
          	<xsd:element name="IdIsuFatturazioneCDM" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="FlagChiaviISU" type="xsd:string" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:complexType name="RichiestaType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="sistemaRichiedente" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="canale" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="idRichiesta" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="tipoOperazione" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="causale" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="commodity" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
      		<xsd:element minOccurs="0" name="Ip" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="Profilo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="Matricola" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="DataRichiesta" type="xsd:date"/>
      		<xsd:element minOccurs="0" name="IdMuti" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDms" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2d" type="tns:IdentificativiR2dType">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
      		<xsd:element minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
      		<xsd:element minOccurs="0" name="flagPreventivo" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="flagDocumentazione" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="idCRM" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoServizio" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoOrdine" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoFiCa" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoISU" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoR2D" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoSD" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoSempre" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="statoUDB" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2R" type="tns:IdentificativiR2rType">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="IdentificativiR2dType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="IdDistr" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdDistr2" type="xsd:string"/>
      		<xsd:element minOccurs="0" name="IdR2d" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="IdentificativiR2rType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="IdR2R" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="EsitoType">
      	<xsd:sequence>
      		<xsd:element minOccurs="0" name="esito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="codiceEsito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="descrizione" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="0" name="tipoEsito" type="xsd:string">
      		</xsd:element>
      		<xsd:element minOccurs="1" name="sistemaSorgenteEsito" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>      
    
      <xsd:complexType name="IdFatturazioneType">
      	<xsd:sequence>
      		<xsd:element name="businessPartner" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="contoContrattuale" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="contrattoSap" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="businessPartnerEsterno"
      			type="xsd:string" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="descrizioneContoContrattuale"
      			type="xsd:string" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="cartatteristicaDeterminazioneConti"
      			type="xsd:string" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="contrattoCRM" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="contrattoSD" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="contoContrattualeSD" type="xsd:string"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="businessPartnerSD" type="xsd:string" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CompletamentoDatiOrdineRequest">
    <wsdl:part element="tns:CompletamentoDatiOrdineRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="CompletamentoDatiOrdineResponse">
    <wsdl:part element="tns:CompletamentoDatiOrdineResponse" name="response"/>
  </wsdl:message>
  <wsdl:portType name="MutiIntegrationRecuperoDatiDelCrmServiceAbstract">
    <wsdl:operation name="CompletamentoDatiOrdine">
      <wsdl:input message="tns:CompletamentoDatiOrdineRequest"/>
      <wsdl:output message="tns:CompletamentoDatiOrdineResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
