tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/Service Descriptors/RecuperoDatiClienteServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="com.enel.mind.RecuperoDatiCliente" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://mind.enel.com/ricercadaticustomerv5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegrationCRM" targetNamespace="com.enel.mind.RecuperoDatiCliente" tibex:ServiceTask="_L_NSwEedEeOL0sK2uXHbtA" tibex:XPDL="IntegrationCRM.xpdl" tibex:process="_BaIKcEedEeOL0sK2uXHbtA" tibex:src="file:/C:/Users/Santullo/Documents/Progetti/ENEL/Schemas/Migrazione2014/RecuperoDatiClienteServiceAbstract.wsdl">
	<wsdl:types>
		<xsd:schema xmlns="com.enel.mind.RecuperoDatiCliente" targetNamespace="com.enel.mind.RecuperoDatiCliente"/>
		<xsd:schema xmlns="http://mind.enel.com/ricercadaticustomerv5" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mind.enel.com/ricercadaticustomerv5" targetNamespace="http://mind.enel.com/ricercadaticustomerv5">
			<xsd:annotation>
				<xsd:documentation>
					<DocumentationElement BOMORIGIN="/MIND_IntegrationCRM/Business Objects/com.enel.mind.ricercadaticustomerv5.bom"/>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexType name="RecuperodatiCliente_Request">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="request" type="Request"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RecuperoDatiContattoCliente_Request">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="CDM_Cliente" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="Richiesta" type="RichiestaType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RecuperoDatiContattoCliente_Response">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="response" type="RispostaType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RicercaDatiCustomer_V5_Output">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="recuperoDatiClienteResponse" type="RecuperodatiCliente_Response"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EsitoType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="esito">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="codiceEsito" type="xsd:string"/>
					<xsd:element minOccurs="0" name="descrizione" type="xsd:string"/>
					<xsd:element minOccurs="0" name="tipoEsito" type="xsd:string"/>
					<xsd:element name="sistemaSorgenteEsito" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Request">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="tipoPratica">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="idAttivitaCRM">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="idOrdineCRM">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="numeroUtente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="9"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="praticaReclamo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="64"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="praticaTroubleTicket">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="64"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="idCorrispondenzaGDO">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="codiceFiscaleCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="16"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="partitaIVACliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="11"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="contoContrattualeSAPISU">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="12"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RicercaDatiCustomer_V5_Input">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="recuperoDatiClienteRequest" type="RecuperodatiCliente_Request"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RecuperodatiCliente_Response">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="esito_Response" type="Esito_Response"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Esito_Response">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="esito">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="descrizioneEsito">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="masteAccount" type="MasterAccount"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="sorgenteEsito">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MasterAccount">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="businessPartnerSAPISU">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="11"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="listOfCustomerAccount" type="ListOfCustomerAccount"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfCustomerAccount">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="idCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="formaGiuridicaCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="telefonoCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="cellulareCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="emailCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="PEC">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="faxCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="referente" type="Referente"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="listOfServizio" type="ListOfServizio"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ordine" type="Ordine"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="offerta" type="Offerta"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="reclamo" type="Reclamo"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="troubleTicket" type="TroubleTicket"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="nomeCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="cognomeCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ragioneSocialeCliente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Referente">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="telefonoReferente" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="cellulareReferente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="faxReferente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="nomeReferente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="cognomeReferente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ragioneSocialeReferente">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Ordine">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="idOrdineCRM" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Offerta">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="idOffertaCRM" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Reclamo">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="idPraticaReclamo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfServizio">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="numeroUtente" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="statoServizio" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="contoContrattuale" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="contrattoSAP" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RichiestaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sistemaRichiedente" type="xsd:string">      </xsd:element>
					<xsd:element minOccurs="0" name="canale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="idRichiesta" type="xsd:string"/>
					<xsd:element minOccurs="0" name="tipoOperazione" type="xsd:string"/>
					<xsd:element minOccurs="0" name="causale" type="xsd:string"/>
					<xsd:element minOccurs="0" name="idProcessoBpm" type="xsd:string"/>
					<xsd:element minOccurs="0" name="commodity" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagDelibera40" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="Ip" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Profilo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Matricola" type="xsd:string"/>
					<xsd:element minOccurs="0" name="DataRichiesta" type="xsd:date"/>
					<xsd:element minOccurs="0" name="IdMuti" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdDms" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdDmsReclamo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdR2d">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="IdDistr" type="xsd:string"/>
								<xsd:element minOccurs="0" name="IdDistr2" type="xsd:string"/>
								<!--Nel campo IdR2d viaggia anche l'idR2DCP -->
								<xsd:element minOccurs="0" name="IdR2d" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="dataDecorrenza" type="xsd:date"/>
					<xsd:element minOccurs="0" name="tipoRichiesta" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagComplesso" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="flagPreventivo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="flagDocumentazione" type="xsd:string">      </xsd:element>
					<xsd:element minOccurs="0" name="idCRM" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoServizio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoOrdine" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoFiCa" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoISU" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoR2D" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoSD" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoSempre" type="xsd:string"/>
					<xsd:element minOccurs="0" name="statoUDB" type="xsd:string"/>
					<xsd:element minOccurs="0" name="IdR2R">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="IdR2R" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IdAttivitaCrm" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RispostaType">
				<xsd:sequence>
					<xsd:element name="Esito" type="EsitoType"/>
					<xsd:element minOccurs="0" name="CDM_Cliente_O" type="xsd:string"/>
					<xsd:element minOccurs="0" name="telefonoCellulare">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="telefonoFisso">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="altroTelefono">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="identificativoUnivocoCRM">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="15"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="descrizioneTelefono">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TroubleTicket">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="idTroubleTicket" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="RecuperodatiCliente_RequestElement" type="RecuperodatiCliente_Request"/>
			<xsd:element name="RicercaDatiCustomer_V5_OutputElement" type="RicercaDatiCustomer_V5_Output"/>
			<xsd:element name="RequestElement" type="Request"/>
			<xsd:element name="RicercaDatiCustomer_V5_InputElement" type="RicercaDatiCustomer_V5_Input"/>
			<xsd:element name="RecuperodatiCliente_ResponseElement" type="RecuperodatiCliente_Response"/>
			<xsd:element name="RecuperoDatiContattoCliente_RequestElement" type="RecuperoDatiContattoCliente_Request"/>
			<xsd:element name="RecuperoDatiContattoCliente_ResponseElement" type="RecuperoDatiContattoCliente_Response"/>
			<xsd:element name="Esito_ResponseElement" type="Esito_Response"/>
			<xsd:element name="MasterAccountElement" type="MasterAccount"/>
			<xsd:element name="ListOfCustomerAccountElement" type="ListOfCustomerAccount"/>
			<xsd:element name="ReferenteElement" type="Referente"/>
			<xsd:element name="OrdineElement" type="Ordine"/>
			<xsd:element name="OffertaElement" type="Offerta"/>
			<xsd:element name="ReclamoElement" type="Reclamo"/>
			<xsd:element name="ListOfServizioElement" type="ListOfServizio"/>
			<xsd:element name="TroubleTicketElement" type="TroubleTicket"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RecuperoDatiContattoClienteCRMProcess_CallRecuperoDatiContattoCliente_INPUT">
		<wsdl:part element="ttns:RecuperoDatiContattoCliente_RequestElement" name="RecuperoDatiContattoClienteRequest"/>
	</wsdl:message>
	<wsdl:message name="RecuperoDatiContattoClienteCRMProcess_CallRecuperoDatiContattoCliente_OUTPUT">
		<wsdl:part element="ttns:RecuperoDatiContattoCliente_ResponseElement" name="RecuperoDatiContattoClienteResponse"/>
	</wsdl:message>
	<wsdl:message name="RecuperoDatiClienteCRMProcess_CallRecuperoDatiCliente_INPUT">
		<wsdl:part element="ttns:RecuperodatiCliente_RequestElement" name="RecuperoDatiRequest"/>
	</wsdl:message>
	<wsdl:message name="RecuperoDatiClienteCRMProcess_CallRecuperoDatiCliente_OUTPUT">
		<wsdl:part element="ttns:RecuperodatiCliente_ResponseElement" name="RecuperoDatiResponse"/>
	</wsdl:message>
	<wsdl:portType name="RecuperoDatiClienteCRMProcess" tibex:FlowContainer="_BaIKcEedEeOL0sK2uXHbtA">
		<wsdl:operation name="CallRecuperoDatiCliente">
			<wsdl:input message="ns:RecuperoDatiClienteCRMProcess_CallRecuperoDatiCliente_INPUT" tibex:Event="_L_NSwEedEeOL0sK2uXHbtA"/>
			<wsdl:output message="ns:RecuperoDatiClienteCRMProcess_CallRecuperoDatiCliente_OUTPUT" tibex:Event="_L_NSwEedEeOL0sK2uXHbtA"/>
		</wsdl:operation>
		<wsdl:operation name="CallRecuperoDatiContattoCliente">
			<wsdl:input message="ns:RecuperoDatiContattoClienteCRMProcess_CallRecuperoDatiContattoCliente_INPUT"/>
			<wsdl:output message="ns:RecuperoDatiContattoClienteCRMProcess_CallRecuperoDatiContattoCliente_OUTPUT"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
