tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/Service Descriptors/TracciamentoGenericoServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://com.enel.mind.integration.tracciamentogenerico"  xmlns:ttns="http://example.com/tracciamentogenerico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://com.enel.mind.integration.tracciamentogenerico" >
  <wsdl:types>
    <xsd:schema xmlns="http://com.enel.mind.integration.tracciamentogenerico" targetNamespace="http://com.enel.mind.integration.tracciamentogenerico">
      <xsd:simpleType name="string_255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TracciamentoGenerico_DescEsito" type="string_255"/>
      <xsd:element name="TracciamentoGenerico_Esito" type="string_255"/>
      <xsd:simpleType name="string_15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TracciamentoGenerico_SorgenteEsito" type="string_15"/>
      <xsd:simpleType name="string_100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TracciamentoGenerico_errorCode" type="string_100"/>
      <xsd:simpleType name="string_4000">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4000"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TracciamentoGenerico_errorDetail" type="string_4000"/>
      <xsd:simpleType name="integer_3">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TracciamentoGenerico_errorMaxRetries" type="integer_3"/>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TracciamentoGenerico_errorPerformer" type="string_50"/>
      <xsd:element name="TracciamentoGenerico_errorRetryCount" type="integer_3"/>
      <xsd:element name="TracciamentoGenerico_errorShortRetries" type="integer_3"/>
      <xsd:simpleType name="integer_9">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TracciamentoGenerico_errorWaitLongDelayMin" type="integer_9"/>
      <xsd:element name="TracciamentoGenerico_errorWaitShortDelayMin" type="integer_9"/>
      <xsd:element name="TracciamentoGenerico_msgPayload" type="string_4000"/>
      <xsd:element name="TracciamentoGenerico_processId" type="string_50"/>
      <xsd:element name="TracciamentoGenerico_processName" type="string_100"/>
    </xsd:schema>
    <xsd:schema xmlns="http://example.com/tracciamentogenerico" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://example.com/tracciamentogenerico" targetNamespace="http://example.com/tracciamentogenerico">
      <xsd:annotation>

      </xsd:annotation>
      <xsd:complexType name="TracciamentoGenericoRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idRichiesta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="stato">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="N_Offerta">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="causale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="specifica">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="note">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoAttivita">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idOrdine">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idCliente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TracciamentoGenericoResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idAttivita">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Esito">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TracciamentoGenericoRequestElement" type="TracciamentoGenericoRequest"/>
      <xsd:element name="TracciamentoGenericoResponseElement" type="TracciamentoGenericoResponse"/>
      <xsd:element name="EsitoElement" type="Esito"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TracciamentoGenerico_TracciamentoGenerico_INPUT">
    <wsdl:part element="ttns:TracciamentoGenericoRequestElement" name="Request"/>
  </wsdl:message>
  <wsdl:message name="TracciamentoGenerico_TracciamentoGenerico_OUTPUT">
    <wsdl:part element="ttns:TracciamentoGenericoResponseElement" name="Response"/>
  </wsdl:message>
  <wsdl:message name="TracciamentoGenerico_TracciamentoGenerico_GenericErrorEvent_fault">
    <wsdl:part element="ttns:TracciamentoGenericoResponseElement" name="Response"/>
    <wsdl:part element="ns:TracciamentoGenerico_DescEsito" name="DescEsito"/>
    <wsdl:part element="ns:TracciamentoGenerico_Esito" name="Esito"/>
    <wsdl:part element="ns:TracciamentoGenerico_SorgenteEsito" name="SorgenteEsito"/>
    <wsdl:part element="ns:TracciamentoGenerico_errorCode" name="errorCode"/>
    <wsdl:part element="ns:TracciamentoGenerico_errorDetail" name="errorDetail"/>
    <wsdl:part element="ns:TracciamentoGenerico_errorMaxRetries" name="errorMaxRetries"/>
    <wsdl:part element="ns:TracciamentoGenerico_errorPerformer" name="errorPerformer"/>
    <wsdl:part element="ns:TracciamentoGenerico_errorRetryCount" name="errorRetryCount"/>
    <wsdl:part element="ns:TracciamentoGenerico_errorShortRetries" name="errorShortRetries"/>
    <wsdl:part element="ns:TracciamentoGenerico_errorWaitLongDelayMin" name="errorWaitLongDelayMin"/>
    <wsdl:part element="ns:TracciamentoGenerico_errorWaitShortDelayMin" name="errorWaitShortDelayMin"/>
    <wsdl:part element="ns:TracciamentoGenerico_msgPayload" name="msgPayload"/>
    <wsdl:part element="ns:TracciamentoGenerico_processId" name="processId"/>
    <wsdl:part element="ns:TracciamentoGenerico_processName" name="processName"/>
  </wsdl:message>
  <wsdl:portType name="TracciamentoGenerico" >
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="TracciamentoGenerico">
      <wsdl:input message="ns:TracciamentoGenerico_TracciamentoGenerico_INPUT" />
      <wsdl:output message="ns:TracciamentoGenerico_TracciamentoGenerico_OUTPUT" />
      <wsdl:fault message="ns:TracciamentoGenerico_TracciamentoGenerico_GenericErrorEvent_fault" name="GenericErrorEvent" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
