tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_common.integration.crm.resource/Service Descriptors/TracciamentoGdoAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.enel.com/mercato/libero/interface/integration/tracciamentogdo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TracciamentoGdoAbstract" targetNamespace="http://xmlns.enel.com/mercato/libero/interface/integration/tracciamentogdo">
  <wsdl:types>
    <xsd:schema targetNamespace="http://xmlns.enel.com/mercato/libero/interface/integration/tracciamentogdo">
      <xsd:element name="TracciamentoGdo">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idCrm" type="xsd:string" minOccurs="1" />
          	<xsd:element name="tipoFlusso" type="xsd:string"
          		minOccurs="1">
          	</xsd:element>
          	<xsd:element name="tipoEntita" type="xsd:string"
          		minOccurs="1">
          	</xsd:element>
          	<xsd:element name="canaleInvio" type="xsd:string"
          		minOccurs="1">
          	</xsd:element>
          	<xsd:element name="idMind" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="tipoFlussoGdo" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="esitoGdo" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="descrizioneEsitoGdo" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="idSgPec" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="idCorrispondenza" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="numeroProgressivo" type="xsd:string"
          		minOccurs="0">
          	</xsd:element>
          	<xsd:element name="dettaglioModelli" minOccurs="0">
          		<xsd:complexType>
          			<xsd:sequence>
          				<xsd:element name="nomeModello"
          					type="xsd:string" minOccurs="1">
          				</xsd:element>
          				<xsd:element name="codiceFascicolo"
          					type="xsd:string" minOccurs="1">
          				</xsd:element>
          				<xsd:element name="dataObsolescenza"
          					type="xsd:string" minOccurs="1">
          				</xsd:element>
          				<xsd:element name="progressivoStampa"
          					type="xsd:string" minOccurs="1">
          				</xsd:element>
          				<xsd:element name="tipoAllegato"
          					type="xsd:string" minOccurs="1">
          				</xsd:element>
          			</xsd:sequence>
          		</xsd:complexType>
          	</xsd:element>
          	<xsd:element name="dettaglioBarcode" minOccurs="0">
          		<xsd:complexType>
          			<xsd:sequence>
          				<xsd:element name="barcodeModello"
          					type="xsd:string" minOccurs="0">
          				</xsd:element>
          			</xsd:sequence>
          		</xsd:complexType></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TracciamentoGdoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Esito">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="esito" type="xsd:string"
            				minOccurs="0">
            			</xsd:element>
            			<xsd:element name="codiceEsito"
            				type="xsd:string" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="descrizione"
            				type="xsd:string" minOccurs="0">
            			</xsd:element>
            			<xsd:element name="tipoEsito" type="xsd:string"
            				minOccurs="0">
            			</xsd:element>
            			<xsd:element name="sistemaSorgenteEsito"
            				type="xsd:string" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TracciamentoGdoRequest">
    <wsdl:part element="tns:TracciamentoGdo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TracciamentoGdoResponse">
    <wsdl:part element="tns:TracciamentoGdoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="TracciamentoGdoAbstract">
    <wsdl:operation name="TracciamentoGdo">
      <wsdl:input message="tns:TracciamentoGdoRequest"/>
      <wsdl:output message="tns:TracciamentoGdoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TracciamentoGdoAbstractSOAP" type="tns:TracciamentoGdoAbstract">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TracciamentoGdo">
      <soap:operation soapAction="http://xmlns.enel.com/mercato/libero/interface/integration/tracciamentogdo/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TracciamentoGdoAbstract">
    <wsdl:port binding="tns:TracciamentoGdoAbstractSOAP" name="TracciamentoGdoAbstractSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>