tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-choice/gold/builder/XSDBOM_Choice05_NestedChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/NestedChoice" xmlns:tns1="http://example.com/NestedChoice"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/NestedChoice">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Choice05_NestedChoice/Business Objects/com.example.NestedChoice.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Plane" id="com.example.NestedChoicePlane" abstract="false"
      mixed="false" name="Plane">
    <xsd:choice>
      <xsd:element ecore:name="freightDetails" id="PlanefreightDetails" form="unqualified"
          maxOccurs="1" minOccurs="1" name="freightDetails" type="xsd:string"/>
      <xsd:element ecore:name="passengers" id="Planepassengers" form="unqualified"
          maxOccurs="1" minOccurs="1" name="passengers" type="xsd:int"/>
      <xsd:choice>
        <xsd:element ecore:name="engineType" id="PlaneengineType" form="unqualified"
            maxOccurs="1" minOccurs="1" name="engineType" type="xsd:string"/>
        <xsd:element ecore:name="engineName" id="PlaneengineName" form="unqualified"
            maxOccurs="1" minOccurs="1" name="engineName" type="xsd:string"/>
      </xsd:choice>
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>