tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/07_NestedModelGroups/XSDBOM_ExpGroups05_SimpleSequenceInGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SimpleSequence"
	xmlns:tns="http://www.example.org/SimpleSequence" elementFormDefault="qualified">

	<group name="groupWithSequence">
		<sequence>
			<element name="testElem1" type="string"></element>
		</sequence>
	</group>

	<complexType name="complexWithGroupRefInSequence">
		<sequence maxOccurs="unbounded">
			<group ref="tns:groupWithSequence"></group>
		</sequence>
	</complexType>

</schema>