tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/07_NestedModelGroups/XSDBOM_ExpGroups06_SimpleChoiceInGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SimpleSequence"
	xmlns:tns="http://www.example.org/SimpleSequence" elementFormDefault="qualified">

	<group name="groupWithChoice">
		<choice>
			<element name="testElem1" type="string"></element>
		</choice>
	</group>

	<complexType name="complexWithGroupRefInChoice">
		<choice maxOccurs="unbounded">
			<group ref="tns:groupWithChoice" minOccurs="2" maxOccurs="6"></group>
		</choice>
	</complexType>

</schema>