tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/07_NestedModelGroups/XSDBOM_ExpGroups02_SimpleChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SimpleSequence"
	xmlns:tns="http://www.example.org/SimpleSequence" elementFormDefault="qualified">

	<element name="elemWithAnonComplex">
		<complexType>
			<choice maxOccurs="unbounded">
				<element name="testElem1" type="string"></element>
			</choice>
		</complexType>
	</element>

	<complexType name="complexWithChoice">
		<choice maxOccurs="unbounded">
			<element name="testElem2" type="string"></element>
		</choice>
	</complexType>

</schema>