tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources-ABPM-702/xsd/07_NestedModelGroups/XSDBOM_ExpGroups01_SimpleSequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SimpleSequence"
	xmlns:tns="http://www.example.org/SimpleSequence" elementFormDefault="qualified">

	<element name="elemWithAnonComplex">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element name="testElem1" type="string"></element>
			</sequence>
		</complexType>
	</element>

	<complexType name="complexWithSequence">
		<sequence maxOccurs="unbounded">			
			<element name="testElem2" type="string"></element>			
		</sequence>
	</complexType>
	
	
	<complexType name="eg1">
		<sequence maxOccurs="10">
			<sequence maxOccurs="5">
				<element name="myAttr1" type="string" minOccurs="0"
					maxOccurs="1" />
				<element name="myAttr2" type="string" maxOccurs="100" />
			</sequence>
		</sequence>
	</complexType>

</schema>