tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-multi-explicitgroups/gold/builder/XSDBOM_ExpGroups02_SimpleChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/SimpleSequence" xmlns:tns1="http://www.example.org/SimpleSequence"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/SimpleSequence">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_ExpGroups02_SimpleChoice/Business Objects/org.example.SimpleSequence.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="complexWithChoice" id="org.example.SimpleSequencecomplexWithChoice"
      abstract="false" mixed="false" name="complexWithChoice">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element ecore:name="testElem2" id="complexWithChoicetestElem2" form="qualified"
          maxOccurs="1" minOccurs="1" name="testElem2" type="xsd:string"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:element abstract="false" name="elemWithAnonComplex" nillable="false">
    <xsd:complexType ecore:name="elemWithAnonComplexType" id="org.example.SimpleSequenceelemWithAnonComplexType"
        mixed="false">
      <xsd:choice maxOccurs="unbounded">
        <xsd:element ecore:name="testElem1" form="qualified" maxOccurs="1" minOccurs="1"
            name="testElem1" type="xsd:string"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>