tbs-bpm/bx-product/com.tibco.bx.designtime.debug.feature/plugins/com.tibco.bx.design.debug.http/wsdl/debugger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.tibco.com/bx/2010/debugging/debugger"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns="http://www.tibco.com/bx/2010/debugging/debugger"
	xmlns:impl="http://www.tibco.com/bx/2010/debugging/debuggerType"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.tibco.com/bx/2010/debugging/debuggerType">
			<xsd:include schemaLocation="debugger.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addAssertionRequest">
		<wsdl:part element="impl:addAssertionInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="addAssertionResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="stepOutRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="canStepOutRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="canStepIntoRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="suspendResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="suspendAllResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeAllTestpointsRequest">
		<wsdl:part element="impl:emptyInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getProcessTemplatesRequest">
		<wsdl:part element="impl:emptyInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="setBreakpointEnableRequest">
		<wsdl:part element="impl:setBreakpointEnableInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getVariablesRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="addBreakpointResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="stepOutResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="canStepOutResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="canStepIntoResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="runToActivityRequest">
		<wsdl:part element="impl:runToActivityInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeBreakpointResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="closeResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>


	<wsdl:message name="terminateResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="terminateAllResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeAllTestpointsResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>


	<wsdl:message name="getActivitiesRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="runToActivityResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="createProcessInstanceResponse">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getProcessTemplatesResponse">
		<wsdl:part element="impl:getProcessTemplatesOutput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="suspendRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="suspendAllRequest">
		<wsdl:part element="impl:emptyInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="setVariableResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="stepOverResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeAssertionRequest">
		<wsdl:part element="impl:removeAssertionInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="stepOverRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>


	<wsdl:message name="removeAllAssertionsResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeAllBreakpointsResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeTestpointRequest">
		<wsdl:part element="impl:removeTestpointInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getNotificationsResponse">
		<wsdl:part element="impl:getNotificationsOutput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeBreakpointRequest">
		<wsdl:part element="impl:removeBreakpointInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="closeRequest">
		<wsdl:part element="impl:emptyInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="resumeRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="resumeAllRequest">
		<wsdl:part element="impl:emptyInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeTestpointResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>


	<wsdl:message name="getNotificationsRequest">
		<wsdl:part element="impl:sessionId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getVariablesResponse">
		<wsdl:part element="impl:getVariablesOutput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="stepIntoResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>


	<wsdl:message name="initializeResponse">
		<wsdl:part element="impl:sessionId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="stepIntoRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeAllAssertionsRequest">
		<wsdl:part element="impl:emptyInput" name="parameters" />
	</wsdl:message>


	<wsdl:message name="setBreakpointEnableResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="resumeResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="resumeAllResponse">
		<wsdl:part element="impl:success" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getActivitiesResponse">
		<wsdl:part element="impl:getActivitiesOutput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="initializeRequest">
		<wsdl:part element="impl:modelType" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeAllBreakpointsRequest">
		<wsdl:part element="impl:emptyInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="addBreakpointRequest">
		<wsdl:part element="impl:addBreakpointInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="setVariableRequest">
		<wsdl:part element="impl:setVariableInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="removeAssertionResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="terminateRequest">
		<wsdl:part element="impl:instanceId" name="parameters" />
	</wsdl:message>

	<wsdl:message name="terminateAllRequest">
		<wsdl:part element="impl:emptyInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="operationFailedFault">
		<wsdl:part name="fault" element="impl:operationFailedFault" />
	</wsdl:message>

	<wsdl:message name="addTestpointRequest">
		<wsdl:part element="impl:addTestpointInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="addTestpointResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:message name="setNodeDefinitionsRequest">
		<wsdl:part element="impl:setNodeDefinitionsInput" name="parameters" />
	</wsdl:message>

	<wsdl:message name="setNodeDefinitionsResponse">
		<wsdl:part element="impl:isSuccess" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="Debugger">

		<wsdl:operation name="resume">
			<wsdl:input message="tns:resumeRequest" name="resumeRequest">
			</wsdl:input>
			<wsdl:output message="tns:resumeResponse" name="resumeResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="resumeAll">
			<wsdl:input message="tns:resumeAllRequest" name="resumeAllRequest">
			</wsdl:input>
			<wsdl:output message="tns:resumeAllResponse" name="resumeAllResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="suspend">
			<wsdl:input message="tns:suspendRequest" name="suspendRequest">
			</wsdl:input>
			<wsdl:output message="tns:suspendResponse" name="suspendResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="suspendAll">
			<wsdl:input message="tns:suspendAllRequest" name="suspendAllRequest">
			</wsdl:input>
			<wsdl:output message="tns:suspendAllResponse" name="suspendAllResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="close">
			<wsdl:input message="tns:closeRequest" name="closeRequest">
			</wsdl:input>
			<wsdl:output message="tns:closeResponse" name="closeResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="initialize">
			<wsdl:input message="tns:initializeRequest" name="initializeRequest">
			</wsdl:input>
			<wsdl:output message="tns:initializeResponse" name="initializeResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="terminate">
			<wsdl:input message="tns:terminateRequest" name="terminateRequest">
			</wsdl:input>
			<wsdl:output message="tns:terminateResponse" name="terminateResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="terminateAll">
			<wsdl:input message="tns:terminateAllRequest" name="terminateAllRequest">
			</wsdl:input>
			<wsdl:output message="tns:terminateAllResponse" name="terminateAllResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setVariable">
			<wsdl:input message="tns:setVariableRequest" name="setVariableRequest">
			</wsdl:input>
			<wsdl:output message="tns:setVariableResponse" name="setVariableResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="addBreakpoint">
			<wsdl:input message="tns:addBreakpointRequest" name="addBreakpointRequest">
			</wsdl:input>
			<wsdl:output message="tns:addBreakpointResponse" name="addBreakpointResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeBreakpoint">
			<wsdl:input message="tns:removeBreakpointRequest" name="removeBreakpointRequest">
			</wsdl:input>
			<wsdl:output message="tns:removeBreakpointResponse" name="removeBreakpointResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepOver">
			<wsdl:input message="tns:stepOverRequest" name="stepOverRequest">
			</wsdl:input>
			<wsdl:output message="tns:stepOverResponse" name="stepOverResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="canStepOut">
			<wsdl:input message="tns:canStepOutRequest" name="canStepOutRequest">
			</wsdl:input>
			<wsdl:output message="tns:canStepOutResponse" name="canStepOutResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="canStepInto">
			<wsdl:input message="tns:canStepIntoRequest" name="canStepIntoRequest">
			</wsdl:input>
			<wsdl:output message="tns:canStepIntoResponse" name="canStepIntoResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepInto">
			<wsdl:input message="tns:stepIntoRequest" name="stepIntoRequest">
			</wsdl:input>
			<wsdl:output message="tns:stepIntoResponse" name="stepIntoResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getActivities">
			<wsdl:input message="tns:getActivitiesRequest" name="getActivitiesRequest">
			</wsdl:input>
			<wsdl:output message="tns:getActivitiesResponse" name="getActivitiesResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getProcessTemplates">
			<wsdl:input message="tns:getProcessTemplatesRequest" name="getProcessTemplatesRequest">
			</wsdl:input>
			<wsdl:output message="tns:getProcessTemplatesResponse"
				name="getProcessTemplatesResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getVariables">
			<wsdl:input message="tns:getVariablesRequest" name="getVariablesRequest">
			</wsdl:input>
			<wsdl:output message="tns:getVariablesResponse" name="getVariablesResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllBreakpoints">
			<wsdl:input message="tns:removeAllBreakpointsRequest"
				name="removeAllBreakpointsRequest">
			</wsdl:input>
			<wsdl:output message="tns:removeAllBreakpointsResponse"
				name="removeAllBreakpointsResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="runToActivity">
			<wsdl:input message="tns:runToActivityRequest" name="runToActivityRequest">
			</wsdl:input>
			<wsdl:output message="tns:runToActivityResponse" name="runToActivityResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setBreakpointEnable">
			<wsdl:input message="tns:setBreakpointEnableRequest" name="setBreakpointEnableRequest">
			</wsdl:input>
			<wsdl:output message="tns:setBreakpointEnableResponse"
				name="setBreakpointEnableResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepOut">
			<wsdl:input message="tns:stepOutRequest" name="stepOutRequest">
			</wsdl:input>
			<wsdl:output message="tns:stepOutResponse" name="stepOutResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getNotifications">
			<wsdl:input message="tns:getNotificationsRequest" name="getNotificationsRequest">
			</wsdl:input>
			<wsdl:output message="tns:getNotificationsResponse" name="getNotificationsResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setNodeDefinitions">
			<wsdl:input message="tns:setNodeDefinitionsRequest" name="setNodeDefinitionsRequest">
			</wsdl:input>
			<wsdl:output message="tns:setNodeDefinitionsResponse"
				name="setNodeDefinitionsResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="Tester">

		<wsdl:operation name="addTestpoint">
			<wsdl:input message="tns:addTestpointRequest" name="addTestpointRequest">
			</wsdl:input>
			<wsdl:output message="tns:addTestpointResponse" name="addTestpointResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="addAssertion">
			<wsdl:input message="tns:addAssertionRequest" name="addAssertionRequest">
			</wsdl:input>
			<wsdl:output message="tns:addAssertionResponse" name="addAssertionResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAssertion">
			<wsdl:input message="tns:removeAssertionRequest" name="removeAssertionRequest">
			</wsdl:input>
			<wsdl:output message="tns:removeAssertionResponse" name="removeAssertionResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeTestpoint">
			<wsdl:input message="tns:removeTestpointRequest" name="removeTestpointRequest">
			</wsdl:input>
			<wsdl:output message="tns:removeTestpointResponse" name="removeTestpointResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllAssertions">
			<wsdl:input message="tns:removeAllAssertionsRequest" name="removeAllAssertionsRequest">
			</wsdl:input>
			<wsdl:output message="tns:removeAllAssertionsResponse"
				name="removeAllAssertionsResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllTestpoints">
			<wsdl:input message="tns:removeAllTestpointsRequest" name="removeAllTestpointsRequest">
			</wsdl:input>
			<wsdl:output message="tns:removeAllTestpointsResponse"
				name="removeAllTestpointsResponse">
			</wsdl:output>
			<wsdl:fault message="tns:operationFailedFault" name="operationFailedFault">
				<wsdl:documentation>Fault message should record why the operation
					failed in its "reason" field.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:portType>
	
	
	<!-- debugger soap binding 1.1 -->
	<wsdl:binding name="DebuggerSoapBinding" type="tns:Debugger">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="resume">
			<soap:operation soapAction="resume" style="document" />
			<wsdl:input name="resumeRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="resumeResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="resumeAll">
			<soap:operation soapAction="resumeAll" style="document" />
			<wsdl:input name="resumeAllRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="resumeAllResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="suspend">
			<soap:operation soapAction="suspend" style="document" />
			<wsdl:input name="suspendRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="suspendResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="suspendAll">
			<soap:operation soapAction="suspendAll" style="document" />
			<wsdl:input name="suspendAllRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="suspendAllResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="close">
			<soap:operation soapAction="close" style="document" />
			<wsdl:input name="closeRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="closeResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="initialize">
			<soap:operation soapAction="initialize" style="document" />
			<wsdl:input name="initializeRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="initializeResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="terminate">
			<soap:operation soapAction="terminate" style="document" />
			<wsdl:input name="terminateRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="terminateResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="terminateAll">
			<soap:operation soapAction="terminateAll"
				style="document" />
			<wsdl:input name="terminateAllRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="terminateAllResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setVariable">
			<soap:operation soapAction="setVariable"
				style="document" />
			<wsdl:input name="setVariableRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="setVariableResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="addBreakpoint">
			<soap:operation soapAction="addBreakpoint"
				style="document" />
			<wsdl:input name="addBreakpointRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="addBreakpointResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeBreakpoint">
			<soap:operation soapAction="removeBreakpoint"
				style="document" />
			<wsdl:input name="removeBreakpointRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeBreakpointResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepOver">
			<soap:operation soapAction="stepOver" style="document" />
			<wsdl:input name="stepOverRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="stepOverResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="canStepOut">
			<soap:operation soapAction="canStepOut" style="document" />
			<wsdl:input name="canStepOutRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="canStepOutResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="canStepInto">
			<soap:operation soapAction="canStepInto"
				style="document" />
			<wsdl:input name="canStepIntoRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="canStepIntoResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepInto">
			<soap:operation soapAction="stepInto" style="document" />
			<wsdl:input name="stepIntoRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="stepIntoResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getActivities">
			<soap:operation soapAction="getActivities"
				style="document" />
			<wsdl:input name="getActivitiesRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="getActivitiesResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getProcessTemplates">
			<soap:operation soapAction="getProcessTemplates"
				style="document" />
			<wsdl:input name="getProcessTemplatesRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="getProcessTemplatesResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getVariables">
			<soap:operation soapAction="getVariables"
				style="document" />
			<wsdl:input name="getVariablesRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="getVariablesResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllBreakpoints">
			<soap:operation soapAction="removeAllBreakpoints"
				style="document" />
			<wsdl:input name="removeAllBreakpointsRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeAllBreakpointsResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="runToActivity">
			<soap:operation soapAction="runToActivity"
				style="document" />
			<wsdl:input name="runToActivityRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="runToActivityResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setBreakpointEnable">
			<soap:operation soapAction="setBreakpointEnable"
				style="document" />
			<wsdl:input name="setBreakpointEnableRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="setBreakpointEnableResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepOut">
			<soap:operation soapAction="stepOut" style="document" />
			<wsdl:input name="stepOutRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="stepOutResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getNotifications">
			<soap:operation soapAction="getNotifications"
				style="document" />
			<wsdl:input name="getNotificationsRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="getNotificationsResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setNodeDefinitions">
			<soap:operation soapAction="setNodeDefinitions"
				style="document" />
			<wsdl:input name="setNodeDefinitionsRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="setNodeDefinitionsResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- debugger soap binding 1.2 -->
	<wsdl:binding name="DebuggerSoapBinding12" type="tns:Debugger">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="resume">
			<soap12:operation soapAction="resume" style="document" />
			<wsdl:input name="resumeRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="resumeResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="resumeAll">
			<soap12:operation soapAction="resumeAll" style="document" />
			<wsdl:input name="resumeAllRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="resumeAllResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="suspend">
			<soap12:operation soapAction="suspend" style="document" />
			<wsdl:input name="suspendRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="suspendResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="suspendAll">
			<soap12:operation soapAction="suspendAll" style="document" />
			<wsdl:input name="suspendAllRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="suspendAllResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="close">
			<soap12:operation soapAction="close" style="document" />
			<wsdl:input name="closeRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="closeResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="initialize">
			<soap12:operation soapAction="initialize" style="document" />
			<wsdl:input name="initializeRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="initializeResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="terminate">
			<soap12:operation soapAction="terminate" style="document" />
			<wsdl:input name="terminateRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="terminateResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="terminateAll">
			<soap12:operation soapAction="terminateAll"
				style="document" />
			<wsdl:input name="terminateAllRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="terminateAllResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setVariable">
			<soap12:operation soapAction="setVariable"
				style="document" />
			<wsdl:input name="setVariableRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="setVariableResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="addBreakpoint">
			<soap12:operation soapAction="addBreakpoint"
				style="document" />
			<wsdl:input name="addBreakpointRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="addBreakpointResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeBreakpoint">
			<soap12:operation soapAction="removeBreakpoint"
				style="document" />
			<wsdl:input name="removeBreakpointRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeBreakpointResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepOver">
			<soap12:operation soapAction="stepOver" style="document" />
			<wsdl:input name="stepOverRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="stepOverResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="canStepOut">
			<soap12:operation soapAction="canStepOut" style="document" />
			<wsdl:input name="canStepOutRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="canStepOutResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="canStepInto">
			<soap12:operation soapAction="canStepInto"
				style="document" />
			<wsdl:input name="canStepIntoRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="canStepIntoResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepInto">
			<soap12:operation soapAction="stepInto" style="document" />
			<wsdl:input name="stepIntoRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="stepIntoResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getActivities">
			<soap12:operation soapAction="getActivities"
				style="document" />
			<wsdl:input name="getActivitiesRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="getActivitiesResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getProcessTemplates">
			<soap12:operation soapAction="getProcessTemplates"
				style="document" />
			<wsdl:input name="getProcessTemplatesRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="getProcessTemplatesResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getVariables">
			<soap12:operation soapAction="getVariables"
				style="document" />
			<wsdl:input name="getVariablesRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="getVariablesResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllBreakpoints">
			<soap12:operation soapAction="removeAllBreakpoints"
				style="document" />
			<wsdl:input name="removeAllBreakpointsRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeAllBreakpointsResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="runToActivity">
			<soap12:operation soapAction="runToActivity"
				style="document" />
			<wsdl:input name="runToActivityRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="runToActivityResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setBreakpointEnable">
			<soap12:operation soapAction="setBreakpointEnable"
				style="document" />
			<wsdl:input name="setBreakpointEnableRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="setBreakpointEnableResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="stepOut">
			<soap12:operation soapAction="stepOut" style="document" />
			<wsdl:input name="stepOutRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="stepOutResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getNotifications">
			<soap12:operation soapAction="getNotifications"
				style="document" />
			<wsdl:input name="getNotificationsRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="getNotificationsResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="setNodeDefinitions">
			<soap12:operation soapAction="setNodeDefinitions"
				style="document" />
			<wsdl:input name="setNodeDefinitionsRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="setNodeDefinitionsResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>


	<!-- tester soap binding 1.1 -->
	<wsdl:binding name="TesterSOAPBinding" type="tns:Tester">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="addTestpoint">
			<soap:operation soapAction="addTestpoint"
				style="document" />
			<wsdl:input name="addTestpointRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="addTestpointResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="addAssertion">
			<soap:operation soapAction="addAssertion"
				style="document" />
			<wsdl:input name="addAssertionRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="addAssertionResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllAssertions">
			<soap:operation soapAction="removeAllAssertions"
				style="document" />
			<wsdl:input name="removeAllAssertionsRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeAllAssertionsResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllTestpoints">
			<soap:operation soapAction="removeAllTestpoints"
				style="document" />
			<wsdl:input name="removeAllTestpointsRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeAllTestpointsResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAssertion">
			<soap:operation soapAction="removeAssertion"
				style="document" />
			<wsdl:input name="removeAssertionRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeAssertionResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeTestpoint">
			<soap:operation soapAction="removeTestpoint"
				style="document" />
			<wsdl:input name="removeTestpointRequest">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeTestpointResponse">
				<soap:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>
	
	
	<!-- tester soap binding 1.2 -->
	<wsdl:binding name="TesterSOAPBinding12" type="tns:Tester">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="addTestpoint">
			<soap12:operation soapAction="addTestpoint"
				style="document" />
			<wsdl:input name="addTestpointRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="addTestpointResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="addAssertion">
			<soap12:operation soapAction="addAssertion"
				style="document" />
			<wsdl:input name="addAssertionRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="addAssertionResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllAssertions">
			<soap12:operation soapAction="removeAllAssertions"
				style="document" />
			<wsdl:input name="removeAllAssertionsRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeAllAssertionsResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAllTestpoints">
			<soap12:operation soapAction="removeAllTestpoints"
				style="document" />
			<wsdl:input name="removeAllTestpointsRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeAllTestpointsResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeAssertion">
			<soap12:operation soapAction="removeAssertion"
				style="document" />
			<wsdl:input name="removeAssertionRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeAssertionResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="removeTestpoint">
			<soap12:operation soapAction="removeTestpoint"
				style="document" />
			<wsdl:input name="removeTestpointRequest">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:input>
			<wsdl:output name="removeTestpointResponse">
				<soap12:body use="literal"
					namespace="http://www.tibco.com/bx/2010/debugging/debugger" />
			</wsdl:output>
			<wsdl:fault name="operationFailedFault">
				<soap:fault name="operationFailedFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>
	
	<wsdl:service name="DebuggerService">
		<!-- debugger 1.1 -->
		<wsdl:port binding="tns:DebuggerSoapBinding" name="DebuggerPort">
			<soap:address
				location="http://localhost:8080/bxEngine/node/ProcessDebugger/" />
		</wsdl:port>
		
		<!-- debugger 1.2 -->
		<wsdl:port binding="tns:DebuggerSoapBinding12" name="DebuggerPort12">
			<soap12:address
				location="http://localhost:8080/bxEngine/node/ProcessDebugger/" />
		</wsdl:port>
		
		<!-- tester 1.1 -->
		<wsdl:port binding="tns:TesterSOAPBinding" name="TesterPort">
			<soap:address
				location="http://localhost:8080/bxEngine/node/ProcessTester/" />
		</wsdl:port>
		
		<!-- tester 1.2 -->
		<wsdl:port binding="tns:TesterSOAPBinding12" name="TesterPort12">
			<soap12:address
				location="http://localhost:8080/bxEngine/node/ProcessTester/" />
		</wsdl:port>
		
	</wsdl:service>

</wsdl:definitions>
