tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources-ABPM-702/xsd/misc/XSDBOM24_BAD_XsdCachingWhenProblemTest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/NewXMLSchema1" xmlns:tns="http://www.example.org/NewXMLSchema1">
	<xs:complexType name="file">
		<xs:attribute name="id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="class2" mixed="true">
		<xs:sequence>
			<xs:element name="file" type="tns:file" minOccurs="0"
				maxOccurs="3" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>
</xs:schema>
