tbs-bpm/tests/com.tibco.xpd.sce.test.feature/plugins/com.tibco.xpd.sce.test/resources/ImportMigrationTests/ProjectMigrationTest_Process/Service Descriptors/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFileXX/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFileXX/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/NewWSDLFileXX/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="in" type="xsd:string" />
          	<xsd:element name="NewElement" type="xsd:string"></xsd:element>
          	<xsd:element name="NewElement1" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="out" type="xsd:string" />
          	<xsd:element name="NewElement" type="xsd:string"></xsd:element>
          	<xsd:element name="NewElement1" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NewOperationFault"
      				type="xsd:string">
      			</xsd:element>
      			<xsd:element name="NewElement" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation1Response">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation1Fault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NewOperation1Fault"
      				type="xsd:string">
      			</xsd:element>
      			<xsd:element name="NewElement" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationFault">
  	<wsdl:part name="parameters" element="tns:NewOperationFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperation1Request">
  	<wsdl:part name="parameters" element="tns:NewOperation1"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperation1Response">
  	<wsdl:part name="parameters" element="tns:NewOperation1Response"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperation1Fault">
  	<wsdl:part name="parameters" element="tns:NewOperation1Fault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NewWSDLFile">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="fault" message="tns:NewOperationFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="NewOperation1">
    	<wsdl:input message="tns:NewOperation1Request"></wsdl:input>
    	<wsdl:output message="tns:NewOperation1Response"></wsdl:output>
            <wsdl:fault name="fault" message="tns:NewOperation1Fault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDLFile">
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
