tbs-bpm/tests/com.tibco.xpd.process.developer.test.feature/plugins/com.tibco.xpd.proc.dev.mappings.test/resources/XPathSimpleContentNegValidationTest/CIMProject/Service Descriptors/CIMTEstWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.tib.co/CIMTEstWSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CIMTEstWSDL" targetNamespace="http://www.tib.co/CIMTEstWSDL/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tib.co/CIMTEstWSDL/">
	<xsd:element name="CallOp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="StrWithSimpleContent" type="tns:StringType"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CallOpResponse">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	<xsd:complexType name="StringType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="eval" type="xsd:string"/>
				<xsd:attribute name="source" type="xsd:string"/>
				<xsd:attribute name="type" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>        </xsd:schema></wsdl:types>
    <wsdl:message name="CallOpRequest">
		<wsdl:part name="parameters" element="tns:CallOp"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="CallOpResponse">
    	<wsdl:part name="parameters" element="tns:CallOpResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CIMPortType">
    	<wsdl:operation name="CallOp">
    		<wsdl:input message="tns:CallOpRequest"></wsdl:input>
    		<wsdl:output message="tns:CallOpResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType></wsdl:definitions>
