tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/Service Descriptors/BpmFatturazioneAggiornamentoDatiServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://com.enel.mind.integration.fatturazioneaggiornamentodati" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MutiIntegrationFatturazioneAggiornamentoDatiAbstract" targetNamespace="http://com.enel.mind.integration.fatturazioneaggiornamentodati" tibex:src="file:/C:/Users/epaotan/Desktop/TIBCO/R1-2014/PMO2467-ProdottoDEFAULT2013/Gestione%20SI/MIND/BpmFatturazioneAggiornamentoDatiServiceAbstract.wsdl">
	<wsdl:types>
		<xsd:schema targetNamespace="http://com.enel.mind.integration.fatturazioneaggiornamentodati">
			<xsd:element name="AggiornamentoInfoDefaultRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="BusinessId" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="CategoriaDefault" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="Causale" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="ContoContrattuale" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="Contratto" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="DataDefault" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="IdRichiesta" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="TipoOperazione" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AggiornamentoInfoDefaultResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="Esito" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="CodiceEsito" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="DescrizioneEsito" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AggiornamentoInfoDefaultRequest">
		<wsdl:part element="tns:AggiornamentoInfoDefaultRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="AggiornamentoInfoDefaultResponse">
		<wsdl:part element="tns:AggiornamentoInfoDefaultResponse" name="response"/>
	</wsdl:message>
	<wsdl:portType name="MutiIntegrationFatturazioneAggiornamentoDatiAbstract">
		<wsdl:operation name="AggiornamentoInfoDefault">
			<wsdl:input message="tns:AggiornamentoInfoDefaultRequest"/>
			<wsdl:output message="tns:AggiornamentoInfoDefaultResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
