tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/Service Descriptors/FatturazioneRecuperoDatiServiceAbstract.wsdl

<?xml version = "1.0" encoding = "UTF-8"?>

<!--Created by TIBCO WSDL-->
<wsdl:definitions name = "Untitled" targetNamespace = "http://xmlns.enel.com/mercato/libero/service/integration/FatturazioneRecuperoDatiBpm" xmlns:ns0 = "http://xmlns.enel.com/mercato/libero/schema/integration/20100101/fatturazionerecuperodatiIprocess.xsd" xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns = "http://xmlns.enel.com/mercato/libero/service/integration/FatturazioneRecuperoDatiBpm" xmlns:wsdl = "http://schemas.xmlsoap.org/wsdl/">    
	<wsdl:types>        
		<xs:schema attributeFormDefault = "unqualified" elementFormDefault = "qualified" targetNamespace = "http://xmlns.enel.com/mercato/libero/schema/integration/20100101/fatturazionerecuperodatiIprocess.xsd" version = "1.0" xmlns = "http://xmlns.enel.com/mercato/libero/schema/integration/20100101/fatturazionerecuperodatiIprocess.xsd" xmlns:esi = "http://xmlns.enel.com/mercato/libero/schema/cdm/esito.xsd" xmlns:ric = "http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd" xmlns:xs = "http://www.w3.org/2001/XMLSchema">            
			<xs:import namespace = "http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd"/>            
			<xs:import namespace = "http://xmlns.enel.com/mercato/libero/schema/cdm/esito.xsd"/>            
			<xs:element name = "RecuperoAcciseImposteReq">                
				<xs:complexType>                    
					<xs:sequence>                        
						<xs:element minOccurs = "0" name = "IdBPM" type = "xs:string"/>                        
						<xs:element minOccurs = "0" name = "DataRiferimento">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:string">                                    
									<xs:minLength value = "0"/>                                    
									<xs:maxLength value = "10"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                        
						<xs:element minOccurs = "0" name = "Contratto">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:string">                                    
									<xs:minLength value = "0"/>                                    
									<xs:maxLength value = "10"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                    
					</xs:sequence>                
				</xs:complexType>            
			</xs:element>            
			<xs:element name = "RecuperoAcciseImposteResp">                
				<xs:complexType>                    
					<xs:sequence>                        
						<xs:element ref = "esi:Esito"/>                        
						<xs:element name = "Accisa">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:decimal">                                    
									<xs:totalDigits value = "17"/>                                    
									<xs:fractionDigits value = "8"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                        
						<xs:element name = "AddizionaleComunale">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:decimal">                                    
									<xs:totalDigits value = "17"/>                                    
									<xs:fractionDigits value = "8"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                        
						<xs:element name = "AddizionaleProvinciale">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:decimal">                                    
									<xs:totalDigits value = "17"/>                                    
									<xs:fractionDigits value = "8"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                        
						<xs:element name = "Convenzione">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:string">                                    
									<xs:maxLength value = "3"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                    
					</xs:sequence>                
				</xs:complexType>            
			</xs:element>            
			<xs:element name = "RecuperoTriplettaSAPRequest">                
				<xs:complexType>                    
					<xs:sequence>                        
						<xs:element ref = "ric:Richiesta"/>                        
						<xs:element name = "numeroUtente" type = "xs:string"/>                        
						<xs:element name = "podPdr" type = "xs:string"/>                    
					</xs:sequence>                
				</xs:complexType>            
			</xs:element>            
			<xs:element name = "RecuperoTriplettaSAPResponse">                
				<xs:complexType>                    
					<xs:sequence>                        
						<xs:element ref = "esi:Esito"/>                        
						<xs:element minOccurs = "0" name = "businessPartner">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:string">                                    
									<xs:minLength value = "0"/>                                    
									<xs:maxLength value = "10"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                        
						<xs:element minOccurs = "0" name = "contoContrattuale">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:string">                                    
									<xs:minLength value = "0"/>                                    
									<xs:maxLength value = "12"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                        
						<xs:element minOccurs = "0" name = "contrattoSAP">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:string">                                    
									<xs:minLength value = "0"/>                                    
									<xs:maxLength value = "30"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                        
						<xs:element minOccurs = "0" name = "CDM_IdFatturazione" type = "xs:string"/>                        
						<xs:element minOccurs = "0" name = "Flag_RVC">                            
							<xs:simpleType>                                
								<xs:restriction base = "xs:string">                                    
									<xs:length value = "1"/>                                    
									<xs:enumeration value = "Y"/>                                    
									<xs:enumeration value = "N"/>                                
								</xs:restriction>                            
							</xs:simpleType>                        
						</xs:element>                    
					</xs:sequence>                
				</xs:complexType>            
			</xs:element>        
		</xs:schema>        
		<xs:schema attributeFormDefault = "unqualified" elementFormDefault = "qualified" targetNamespace = "http://xmlns.enel.com/mercato/libero/schema/cdm/esito.xsd" xmlns:esi = "http://xmlns.enel.com/mercato/libero/schema/cdm/esito.xsd" xmlns:xs = "http://www.w3.org/2001/XMLSchema">            
			<xs:complexType name = "EsitoType">                
				<xs:sequence>                    
					<xs:element minOccurs = "0" name = "esito">                        
						<xs:annotation>                            
							<xs:documentation>OK, KO</xs:documentation>                        
						</xs:annotation>                        
						<xs:simpleType>                            
							<xs:restriction base = "xs:string"/>                        
						</xs:simpleType>                    
					</xs:element>                    
					<xs:element minOccurs = "0" name = "codiceEsito" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "descrizione" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "tipoEsito" type = "xs:string">                        
						<xs:annotation>                            
							<xs:documentation>Qualifica la tipologia di esito in caso di esiti multipli, in genere usato da R2d per esiti 1,2,3,...</xs:documentation>                        
						</xs:annotation>                    
					</xs:element>                    
					<xs:element name = "sistemaSorgenteEsito" type = "xs:string">                        
						<xs:annotation>                            
							<xs:documentation>SAP, CRM, MUTI, FICA, SEMPRE, SEREM,...</xs:documentation>                        
						</xs:annotation>                    
					</xs:element>                
				</xs:sequence>            
			</xs:complexType>            
			<xs:element name = "Esiti">                
				<xs:complexType>                    
					<xs:sequence>                        
						<xs:element maxOccurs = "unbounded" minOccurs = "0" ref = "esi:Esito"/>                    
					</xs:sequence>                
				</xs:complexType>            
			</xs:element>            
			<xs:element name = "Esito" type = "esi:EsitoType"/>        
		</xs:schema>        
		<xs:schema attributeFormDefault = "unqualified" elementFormDefault = "qualified" targetNamespace = "http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd" xmlns:ric = "http://xmlns.enel.com/mercato/libero/schema/cdm/richiesta.xsd" xmlns:xs = "http://www.w3.org/2001/XMLSchema">            
			<xs:complexType name = "AppuntamentoType">                
				<xs:sequence>                    
					<xs:element minOccurs = "0" name = "TipoAppuntamento" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "DataAppuntamento" type = "xs:date"/>                    
					<xs:element minOccurs = "0" name = "FoDa" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "FoA" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "DataCutOff" type = "xs:date"/>                    
					<xs:element minOccurs = "0" name = "CaricoAppuntamento" type = "xs:string">                    </xs:element>                
				</xs:sequence>            
			</xs:complexType>            
			<xs:simpleType name = "Canale">                
				<xs:restriction base = "xs:string">                    
					<xs:minLength value = "0"/>                    
					<xs:maxLength value = "100"/>                
				</xs:restriction>            
			</xs:simpleType>            
			<xs:simpleType name = "Causale">                
				<xs:restriction base = "xs:string">                    
					<xs:maxLength value = "30"/>                
				</xs:restriction>            
			</xs:simpleType>            
			<xs:simpleType name = "Commodity">                
				<xs:restriction base = "xs:string">                    
					<xs:maxLength value = "3"/>                
				</xs:restriction>            
			</xs:simpleType>            
			<xs:simpleType name = "IdRichiesta">                
				<xs:restriction base = "xs:string">                    
					<xs:maxLength value = "15"/>                
				</xs:restriction>            
			</xs:simpleType>            
			<xs:complexType name = "IdentificativiR2dType">                
				<xs:sequence>                    
					<xs:element minOccurs = "0" name = "IdDistr" type = "ric:IdRichiesta"/>                    
					<xs:element minOccurs = "0" name = "IdDistr2" type = "ric:IdRichiesta"/>                    
					<xs:element minOccurs = "0" name = "IdR2d" type = "ric:IdRichiesta"/>                
				</xs:sequence>            
			</xs:complexType>            
            
			<xs:complexType name = "RichiestaType">                
				<xs:sequence>                    
					<xs:element minOccurs = "0" name = "sistemaRichiedente" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "canale" type = "ric:Canale"/>                    
					<xs:element minOccurs = "0" name = "idRichiesta" type = "ric:IdRichiesta">                        
						<xs:annotation>                            
							<xs:documentation>Contiene L ID del sistema chiamante</xs:documentation>                        
						</xs:annotation>                    
					</xs:element>                    
					<xs:element minOccurs = "0" name = "tipoOperazione" type = "ric:TipoOperazione"/>                    
					<xs:element minOccurs = "0" name = "causale" type = "ric:Causale"/>                    
					<xs:element minOccurs = "0" name = "idProcessoBpm" type = "ric:IdRichiesta"/>                    
					<xs:element minOccurs = "0" name = "commodity" type = "ric:Commodity"/>                    
					<xs:element minOccurs = "0" name = "flagDelibera40" type = "xs:boolean"/>                    
					<xs:element minOccurs = "0" name = "Ip" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "Profilo" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "Matricola" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "DataRichiesta" type = "xs:date"/>                    
					<xs:element minOccurs = "0" name = "IdMuti" type = "ric:IdRichiesta"/>                    
					<xs:element minOccurs = "0" name = "IdDms" type = "ric:IdRichiesta"/>                    
					<xs:element minOccurs = "0" name = "IdDmsReclamo" type = "ric:IdRichiesta"/>                    
					<xs:element minOccurs = "0" name = "IdR2d" type = "ric:IdentificativiR2dType"/>                    
					<xs:element minOccurs = "0" name = "dataDecorrenza" type = "xs:date"/>                    
					<xs:element minOccurs = "0" name = "tipoRichiesta" type = "xs:string"/>                    
					<xs:element minOccurs = "0" name = "flagComplesso" type = "xs:boolean"/>                    
					<xs:element minOccurs = "0" name = "flagPreventivo" type = "ric:string1"/>                    
					<xs:element minOccurs = "0" name = "flagDocumentazione" type = "ric:string1"/>                    
					<xs:element minOccurs = "0" name = "idCRM" type = "ric:IdRichiesta"/>                    
					<xs:element minOccurs = "0" name = "statoServizio" type = "ric:StatoOrdine"/>                    
					<xs:element minOccurs = "0" name = "statoOrdine" type = "ric:StatoOrdine"/>                    
					<xs:element minOccurs = "0" name = "statoFiCa" type = "ric:StatoOrdine"/>                    
					<xs:element minOccurs = "0" name = "statoISU" type = "ric:StatoOrdine"/>                    
					<xs:element minOccurs = "0" name = "statoR2D" type = "ric:StatoOrdine"/>                    
					<xs:element minOccurs = "0" name = "statoSD" type = "ric:StatoOrdine"/>                    
					<xs:element minOccurs = "0" name = "statoSempre" type = "ric:StatoOrdine"/>                    
					<xs:element minOccurs = "0" name = "statoUDB" type = "ric:StatoOrdine"/>                    
					<xs:element minOccurs = "0" name = "IdR2R">                        
						<xs:complexType>                            
							<xs:sequence>                                
								<xs:element minOccurs = "0" name = "IdR2R">                                    
									<xs:simpleType>                                        
										<xs:restriction base = "xs:string">                                            
											<xs:maxLength value = "30"/>                                        
										</xs:restriction>                                    
									</xs:simpleType>                                
								</xs:element>                            
							</xs:sequence>                        
						</xs:complexType>                    
					</xs:element>                    
					<xs:element minOccurs = "0" name = "IdAttivitaCrm">                        
						<xs:simpleType>                            
							<xs:restriction base = "xs:string">                                
								<xs:maxLength value = "15"/>                            
							</xs:restriction>                        
						</xs:simpleType>                    
					</xs:element>                    
					<xs:element minOccurs = "0" name = "DatiBam">                        
						<xs:complexType>                            
							<xs:sequence>                                
								<xs:element minOccurs = "0" name = "TipoPratica" type = "xs:string"/>                                
								<xs:element minOccurs = "0" name = "Servizio" type = "xs:string"/>                                
								<xs:element minOccurs = "0" name = "IdPadre" type = "xs:string"/>                                
								<xs:element minOccurs = "0" name = "TipoPraticaPadre" type = "xs:string"/>                                
								<xs:element minOccurs = "0" name = "ServizioPadre" type = "xs:string"/>                                
								<xs:element maxOccurs = "unbounded" minOccurs = "0" name = "Keys">                                    
									<xs:complexType>                                        
										<xs:sequence>                                            
											<xs:element minOccurs = "0" name = "NomeChiave" type = "xs:string"/>                                            
											<xs:element minOccurs = "0" name = "ValoreChiave" type = "xs:string"/>                                        
										</xs:sequence>                                    
									</xs:complexType>                                
								</xs:element>                            
							</xs:sequence>                        
						</xs:complexType>                    
					</xs:element>                    
					<xs:element minOccurs = "0" name = "DataAggiornamento" type = "xs:dateTime"/>                
				</xs:sequence>            
			</xs:complexType>            
			<xs:simpleType name = "StatoOrdine">                
				<xs:restriction base = "xs:string">                    
					<xs:maxLength value = "30"/>                
				</xs:restriction>            
			</xs:simpleType>            
			<xs:simpleType name = "TipoOperazione">                
				<xs:restriction base = "xs:string">                    
					<xs:maxLength value = "30"/>                
				</xs:restriction>            
			</xs:simpleType>            
			<xs:simpleType name = "string1">                
				<xs:restriction base = "xs:string">                    
					<xs:maxLength value = "1"/>                
				</xs:restriction>            
			</xs:simpleType>            
			<xs:element name = "Appuntamento" type = "ric:AppuntamentoType"/>            
			<xs:element name = "Richiesta" type = "ric:RichiestaType"/>        
		</xs:schema>    
	</wsdl:types>    
	<wsdl:portType name = "FatturazioneRecuperoDatiBpm">        
		<wsdl:operation name = "RecuperaAcciseImposte">            
			<wsdl:input message = "tns:RecuperoAcciseImposteRequest"/>            
			<wsdl:output message = "tns:RecuperoAcciseImposteResponse"/>        
		</wsdl:operation>        
		<wsdl:operation name = "RecuperaTriplettaSap">            
			<wsdl:input message = "tns:RecuperoTriplettaSapRequest"/>            
			<wsdl:output message = "tns:RecuperoTriplettaSapResponse"/>        
		</wsdl:operation>    
	</wsdl:portType>    
	<wsdl:message name = "RecuperoAcciseImposteRequest">        
		<wsdl:part element = "ns0:RecuperoAcciseImposteReq" name = "input"/>    
	</wsdl:message>    
	<wsdl:message name = "RecuperoAcciseImposteResponse">        
		<wsdl:part element = "ns0:RecuperoAcciseImposteResp" name = "output"/>    
	</wsdl:message>    
	<wsdl:message name = "RecuperoTriplettaSapRequest">        
		<wsdl:part element = "ns0:RecuperoTriplettaSAPRequest" name = "input"/>    
	</wsdl:message>    
	<wsdl:message name = "RecuperoTriplettaSapResponse">        
		<wsdl:part element = "ns0:RecuperoTriplettaSAPResponse" name = "output"/>    
	</wsdl:message>
</wsdl:definitions>