tbs-bpm/AcceptanceTests/PreCompiledSamples/CustomerWSWith101BDSBundles/com.enel.mind_integration.fatturazione.resource/Service Descriptors/RichiestaVariazioneRidISUServiceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://http://com.enel.mind.richiestavariazioneridisu" xmlns:ttns="http://mind.enel.com/richiestavariazioneridisu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://http://com.enel.mind.richiestavariazioneridisu">
  <wsdl:types>
    <xsd:schema xmlns="http://http://com.enel.mind.richiestavariazioneridisu" targetNamespace="http://http://com.enel.mind.richiestavariazioneridisu">
      <xsd:simpleType name="string_15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SVARRID2_P_O_CodiceEsito" type="string_15"/>
      <xsd:simpleType name="string_255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SVARRID2_P_O_DescrizioneEsito" type="string_255"/>
      <xsd:simpleType name="string_30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SVARRID2_P_O_Esito" type="string_30"/>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SVARRID2_CorrelationFieldDummy" type="string_50"/>
      <xsd:element name="SVARRID2_SorgenteEsito" type="string_50"/>
      <xsd:simpleType name="string_100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SVARRID2_errorCode" type="string_100"/>
      <xsd:simpleType name="string_4000">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4000"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SVARRID2_errorDetail" type="string_4000"/>
      <xsd:simpleType name="integer_3">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SVARRID2_errorMaxRetries" type="integer_3"/>
      <xsd:element name="SVARRID2_errorPerformer" type="string_50"/>
      <xsd:element name="SVARRID2_errorRetryCount" type="integer_3"/>
      <xsd:element name="SVARRID2_errorShortRetries" type="integer_3"/>
      <xsd:simpleType name="integer_9">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="9"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SVARRID2_errorWaitLongDelayMin" type="integer_9"/>
      <xsd:element name="SVARRID2_errorWaitShortDelayMin" type="integer_9"/>
      <xsd:element name="SVARRID2_msgPayload" type="string_4000"/>
      <xsd:element name="SVARRID2_processId" type="string_50"/>
      <xsd:element name="SVARRID2_processName" type="string_100"/>
    </xsd:schema>
    <xsd:schema xmlns="http://mind.enel.com/richiestavariazioneridisu" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mind.enel.com/richiestavariazioneridisu" targetNamespace="http://mind.enel.com/richiestavariazioneridisu">
      <xsd:annotation>
      </xsd:annotation>
      <xsd:complexType name="Esito">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="descrizione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="sistemaSorgenteEsito">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GestionRidRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoOperazione">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="causale">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceBusinessPartnerSap">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceContoSap">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codicePaese">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="codiceCinIban">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="chiaveControlloBanche">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="chiaveBanca">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroContoBancario">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="statoDomiciliazioneBanca">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroUtente">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="idProcessBpm">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GestioneRidResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="esito" type="Esito"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EsitoElement" type="Esito"/>
      <xsd:element name="GestionRidRequestElement" type="GestionRidRequest"/>
      <xsd:element name="GestioneRidResponseElement" type="GestioneRidResponse"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SVARRID2_RichiestaVariazioneRidISU_INPUT">
    <wsdl:part element="ttns:GestionRidRequestElement" name="Request"/>
  </wsdl:message>
  <wsdl:message name="SVARRID2_RichiestaVariazioneRidISU_OUTPUT">
    <wsdl:part element="ttns:GestioneRidResponseElement" name="Response"/>
  </wsdl:message>
  <wsdl:message name="SVARRID2_RichiestaVariazioneRidISU_GenericErrorEvent_fault">
    <wsdl:part element="ns:SVARRID2_P_O_CodiceEsito" name="P_O_CodiceEsito"/>
    <wsdl:part element="ns:SVARRID2_P_O_DescrizioneEsito" name="P_O_DescrizioneEsito"/>
    <wsdl:part element="ns:SVARRID2_P_O_Esito" name="P_O_Esito"/>
    <wsdl:part element="ttns:GestioneRidResponseElement" name="Response"/>
    <wsdl:part element="ns:SVARRID2_CorrelationFieldDummy" name="CorrelationFieldDummy"/>
    <wsdl:part element="ns:SVARRID2_SorgenteEsito" name="SorgenteEsito"/>
    <wsdl:part element="ns:SVARRID2_errorCode" name="errorCode"/>
    <wsdl:part element="ns:SVARRID2_errorDetail" name="errorDetail"/>
    <wsdl:part element="ns:SVARRID2_errorMaxRetries" name="errorMaxRetries"/>
    <wsdl:part element="ns:SVARRID2_errorPerformer" name="errorPerformer"/>
    <wsdl:part element="ns:SVARRID2_errorRetryCount" name="errorRetryCount"/>
    <wsdl:part element="ns:SVARRID2_errorShortRetries" name="errorShortRetries"/>
    <wsdl:part element="ns:SVARRID2_errorWaitLongDelayMin" name="errorWaitLongDelayMin"/>
    <wsdl:part element="ns:SVARRID2_errorWaitShortDelayMin" name="errorWaitShortDelayMin"/>
    <wsdl:part element="ns:SVARRID2_msgPayload" name="msgPayload"/>
    <wsdl:part element="ns:SVARRID2_processId" name="processId"/>
    <wsdl:part element="ns:SVARRID2_processName" name="processName"/>
  </wsdl:message>
  <wsdl:portType name="SVARRID2">
    <wsdl:documentation>
      <DocumentationElement Documentation="Richeista Variazione Rid Verso ISU"/>
    </wsdl:documentation>
    <wsdl:operation name="RichiestaVariazioneRidISU">
      <wsdl:input message="ns:SVARRID2_RichiestaVariazioneRidISU_INPUT"/>
      <wsdl:output message="ns:SVARRID2_RichiestaVariazioneRidISU_OUTPUT"/>
      <wsdl:fault message="ns:SVARRID2_RichiestaVariazioneRidISU_GenericErrorEvent_fault" name="GenericErrorEvent"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
