tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd/gold/builder/XPD-5138/org.example.WsdlFor5138Junit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/WsdlFor5138Junit/" xmlns:tns3="http://www.example.org/WsdlFor5138Junit/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/WsdlFor5138Junit/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/xpd-5138_jus/Generated Business Objects/org.example.WsdlFor5138Junit.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="NewOperation" nillable="false">
    <xsd:complexType ecore:name="NewOperationType" id="org.example.WsdlFor5138JunitNewOperationType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationResponse" nillable="false">
    <xsd:complexType ecore:name="NewOperationResponseType" id="org.example.WsdlFor5138JunitNewOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>