tbs-bpm/product/com.tibco.xpd.simulation.feature/plugins/com.tibco.inteng.services/schema/ProcessTester.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Wojciech Zurek (Staffware PLC) -->
<xs:schema targetNamespace="http://www.staffware.com/ie/processtester" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.staffware.com/ie/processtester" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="processTest">
		<xs:annotation>
			<xs:documentation>definition of the test, optional loaction attribute describe location of the process</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="process">
					<xs:annotation>
						<xs:documentation>Check tested process ID and (optional) NAME</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
								<xs:attribute name="name" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="processExtendedAttribute" type="ExtendetAttributeType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Check for presence of process extended attribute</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="package">
					<xs:annotation>
						<xs:documentation>Check tested package ID and (optional) NAME</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
								<xs:attribute name="name" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="packageExtendedAttribute" type="ExtendetAttributeType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Check for pprecence of package extended attribute</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="testPath" type="SequenceType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>sequence of steps with checks for particular values in particular fields</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="location" type="xs:anyURI" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SequenceType">
		<xs:sequence>
			<xs:element name="testActivity" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Tests for particular activity. Minimum test is to specify ID of the activity and flag that IntEng2 should execute it in normal way.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="preConditions" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Conditions that must be true BEFORE aplication is called</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="checkField" type="FieldCheckerType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="activityExternalAttribute" type="ExtendetAttributeType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Check for presence of activity extended attribute</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="applicationExternalAttribute" type="ExtendetAttributeType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Check for presence of application extended attribute</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice minOccurs="0">
							<xs:element name="simulation">
								<xs:annotation>
									<xs:documentation>Simulate application, modify actual parameters according to 'setParam' elements</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="checkParam" type="FieldCheckerType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>check values that are passed to the applications</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="setParam" type="FieldCheckerType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Simulate application behaviour</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:annotation>
									<xs:documentation>execute application in normal  way (i.e. call EJB). test return fail when you try to execute manual activuty</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:choice>
						<xs:element name="postConditions" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Conditions that must be true AFTER application had been called</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="checkField" type="FieldCheckerType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
					<xs:attribute name="name" type="xs:string" use="optional"/>
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="route"/>
								<xs:enumeration value="tool"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="mode" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="automatic"/>
								<xs:enumeration value="manual"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="FieldCheckerType">
		<xs:annotation>
			<xs:documentation>Check if particular sub element from field with given name has value equals to content of this element</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
				<xs:attribute name="path" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ExtendetAttributeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
				<xs:attribute name="value" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
