tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.wsdlgen.test/resources/XPD1024/A/.processOut/process/P1.xpdl/P1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_trI68K69Ed-npZiqlhmLeQ" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://example.com/cc1" xmlns:tns1="http://example.com/b1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="P1" targetNamespace="http://www.tibco.com/bs3.0/_trI68K69Ed-npZiqlhmLeQ" tibex:XPDL="P1.xpdl">
    <partnerLinkType name="P1Process_PLT" xmlns="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <role name="P1ProcessProvider" portType="ns:P1Process"/>
  </partnerLinkType>
    <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_trI68K69Ed-npZiqlhmLeQ" targetNamespace="http://www.tibco.com/bs3.0/_trI68K69Ed-npZiqlhmLeQ"/>
    <xsd:schema xmlns="http://example.com/b1" xmlns:tns2="http://example.com/cc1" targetNamespace="http://example.com/b1">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/B/Business Objects/B1.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:import namespace="http://example.com/cc1"/>
      <xsd:complexType name="FFFF">
        <xsd:complexContent>
          <xsd:extension base="tns2:TT4">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="f1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="f2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="f3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
        <xsd:schema xmlns="http://example.com/cc1" xmlns:tns2="http://example.com/cc1" targetNamespace="http://example.com/cc1">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/CCCC/Business Objects/CC1.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="TT4">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="t1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="h">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="g">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
        <xsd:schema xmlns="http://example.com/cc1" xmlns:tns1="http://example.com/cc1" targetNamespace="http://example.com/cc1">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/CCCC/Business Objects/CC1.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType name="TT4">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="t1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="h">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="g">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="rtT1" type="RTT1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RTT1">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="x1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="y1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="P1Process_StartEvent_INPUT">
        <wsdl:part name="ext1" type="tns1:FFFF"/>
    </wsdl:message>
  <wsdl:portType name="P1Process" tibex:FlowContainer="_trI68a69Ed-npZiqlhmLeQ">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="StartEvent">
      <wsdl:input message="ns:P1Process_StartEvent_INPUT" tibex:Event="_xdcH5669Ed-npZiqlhmLeQ"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
