tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDLCoverageAMXBPM/WSDL25/services/Schema/SchemaName.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.books.org"
	 targetNamespace = "http://www.books.org"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "BookStore">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Book" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Book">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Title"/>
				<xsd:element ref = "Author"/>
				<xsd:element ref = "Date"/>
				<xsd:element ref = "ISBN"/>
				<xsd:element ref = "Publisher"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Title" type = "xsd:string"/>
	<xsd:element name = "Author" type = "xsd:string"/>
	<xsd:element name = "Date" type = "xsd:string"/>
	<xsd:element name = "ISBN" type = "xsd:decimal"/>
	<xsd:element name = "Publisher" type = "xsd:string"/>
	<xsd:element name = "root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Book"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>