tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC9DXsdAny/Service Descriptors/PetRegisterAnyAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/PetRegisterAnyAbstract/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PetRegisterAnyAbstract"
	targetNamespace="http://www.example.org/PetRegisterAnyAbstract/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/PetRegisterAnyAbstract/">
			<xsd:element name="RegisterPetWithVetRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="owner" type="xsd:string" />
						<xsd:any namespace="##any" processContents="lax"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegisterPetWithVetResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegisterPetWithVetRequest">
		<wsdl:part element="tns:RegisterPetWithVetRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RegisterPetWithVetResponse">
		<wsdl:part element="tns:RegisterPetWithVetResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="PetRegisterAnyAbstract">
		<wsdl:operation name="RegisterPetWithVet">
			<wsdl:input message="tns:RegisterPetWithVetRequest" />
			<wsdl:output message="tns:RegisterPetWithVetResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PetRegisterAnyAbstractSOAP" type="tns:PetRegisterAnyAbstract">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RegisterPetWithVet">
			<soap:operation
				soapAction="http://www.example.org/PetRegisterAnyAbstract/RegisterPetWithVet" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PetRegisterAnyAbstract">
		<wsdl:port binding="tns:PetRegisterAnyAbstractSOAP" name="PetRegisterAnyAbstractSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
