tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM51_BOMGenFor_XPD7132/MyWsdl1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.example.org/MyWsdl1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/MySchema" name="MyWsdl1" targetNamespace="http://www.example.org/MyWsdl1/" tibex:src="file:/C:/temp/Simplified/Simplified/MyWsdl1.wsdl">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/MyWsdl1/">

			<xsd:import namespace="http://www.example.org/MySchema" schemaLocation="MySchema.xsd"/>

			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
						<xsd:element ref="xsd1:Product"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="MyWsdl1">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest"/>
			<wsdl:output message="tns:NewOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MyWsdl1SOAP" type="tns:MyWsdl1">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/MyWsdl1/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MyWsdl1">
		<wsdl:port binding="tns:MyWsdl1SOAP" name="MyWsdl1SOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
