tbs-bpm/tests/com.tibco.sce.n2.daa.test.feature/plugins/com.tibco.sce.n2.daa.test/schema/studio_junits.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/studio_junits_configuration" xmlns:tns="http://www.tibco.com/studio_junits_configuration" elementFormDefault="qualified">

    <element name="Configuration" type="tns:ConfigurationType"></element>

    <complexType name="ConfigurationType">
    	<sequence>
    		<element name="projects" type="tns:ProjectsSettings"></element>
    	</sequence>
    </complexType>

    <complexType name="ProjectsSettings">
    	<sequence>
    		<element name="include" type="tns:ProjectType" minOccurs="0"
    			maxOccurs="unbounded">
    		</element>
    	</sequence>
    	<attribute name="location" type="string"></attribute>
    	<attribute name="daaOutputLocation" type="string"></attribute>
    </complexType>

    <complexType name="ProjectType">
    	<attribute name="name" type="string"></attribute>
    	<attribute name="iterations" type="int"></attribute>
    	<attribute name="startIndex" type="int"></attribute>
    </complexType>
</schema>