tbs-core/tests/com.tibco.xpd.services.test.feature/plugins/com.tibco.xpd.services.test/wsdlImportTestFiles/approval_management_portType.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions targetNamespace="http://systinet.com/uddi/approval_management_portType/5.0"
    xmlns:tns="http://systinet.com/uddi/approval_management_portType/5.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:approval_management="http://systinet.com/uddi/approval_management/5.0"
    xmlns:approval_management_60="http://systinet.com/uddi/approval_management/6.0"
    xmlns:uddiClientCore="http://systinet.com/uddi/uddiclient-core/5.0">
    <!--
        Copyright 2001-2005 Systinet Corp. All rights reserved.
        Use is subject to license terms.
    -->
    <documentation>
	    This WSDL document defines the portTypes for the Approval Management API.
    </documentation>

    <types>
        <xsd:schema targetNamespace="http://systinet.com/uddi/approval_management/5.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="approval_management.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="http://systinet.com/uddi/approval_management/6.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="approval_management_60.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="http://systinet.com/uddi/uddiclient-core/5.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="uddiclient-core.xsd"/>
        </xsd:schema>
    </types>

    <!-- ApprovalManagement Messages -->
    <message name="save_request">
        <part name="save" element="approval_management:save"/>
    </message>
    <message name="save_response">
    </message>
    <message name="addApprover_request">
        <part name="addApprover" element="approval_management:addApprover"/>
    </message>
    <message name="addApprover_response">
    </message>
    <message name="addRequestor_request">
        <part name="addRequestor" element="approval_management:addRequestor"/>
    </message>
    <message name="addRequestor_response">
    </message>
    <message name="deleteApprover_request">
        <part name="deleteApprover" element="approval_management:deleteApprover"/>
    </message>
    <message name="deleteApprover_response">
    </message>
    <message name="deleteRequestor_request">
        <part name="deleteRequestor" element="approval_management:deleteRequestor"/>
    </message>
    <message name="deleteRequestor_response">
    </message>
    <message name="findApprover_request">
        <part name="findApprover" element="approval_management:findApprover"/>
    </message>
    <message name="findApprover_response">
        <part name="principalList" element="approval_management:principalList"/>
    </message>
    <message name="findRequestor_request">
        <part name="findRequestor" element="approval_management:findRequestor"/>
    </message>
    <message name="findRequestor_response">
        <part name="principalList" element="approval_management:principalList"/>
    </message>
    <message name="isApprover_request">
        <part name="amIApprover" element="approval_management_60:isApprover"/>
    </message>
    <message name="isApprover_response">
    </message>
    <message name="approvalConfigurationFaultMessage">
        <part name="body" element="uddiClientCore:errorReport"/>
    </message>

    <!-- ApprovalManagement portType -->
    <portType name="ApprovalManagementApi">
        <documentation>This portType defines all operations for approval configuration.</documentation>
        <operation name="save">
            <input message="tns:save_request"/>
            <output message="tns:save_response"/>
            <fault name="error" message="tns:approvalConfigurationFaultMessage"/>
        </operation>
        <operation name="addApprover">
            <input message="tns:addApprover_request"/>
            <output message="tns:addRequestor_response"/>
            <fault name="error" message="tns:approvalConfigurationFaultMessage"/>
        </operation>
        <operation name="addRequestor">
            <input message="tns:addRequestor_request"/>
            <output message="tns:addRequestor_response"/>
            <fault name="error" message="tns:approvalConfigurationFaultMessage"/>
        </operation>
        <operation name="deleteApprover">
            <input message="tns:deleteApprover_request"/>
            <output message="tns:deleteApprover_response"/>
            <fault name="error" message="tns:approvalConfigurationFaultMessage"/>
        </operation>
        <operation name="deleteRequestor">
            <input message="tns:deleteRequestor_request"/>
            <output message="tns:deleteRequestor_response"/>
            <fault name="error" message="tns:approvalConfigurationFaultMessage"/>
        </operation>
        <operation name="findApprover">
            <input message="tns:findApprover_request"/>
            <output message="tns:findApprover_response"/>
            <fault name="error" message="tns:approvalConfigurationFaultMessage"/>
        </operation>
        <operation name="findRequestor">
            <input message="tns:findRequestor_request"/>
            <output message="tns:findRequestor_response"/>
            <fault name="error" message="tns:approvalConfigurationFaultMessage"/>
        </operation>
        <operation name="isApprover">
            <input message="tns:isApprover_request"/>
            <output message="tns:isApprover_response"/>
            <fault name="error" message="tns:approvalConfigurationFaultMessage"/>
        </operation>
    </portType>
</definitions>
