tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-union/gold/wizard/XSDBOM_Union08_ComplexWithElemAnonSimple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/Unions" xmlns:tns1="http://example.com/Unions" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/Unions">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/fsdfsd/Business Objects/XSDBOM_Union08_ComplexWithElemAnonSimple.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="TextMember" id="com.example.UnionsUnionSimpleType2"
      name="TextMember">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="fdsfsd" value="fdsfsd"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType id="com.example.UnionsmyComplex" abstract="false" mixed="false"
      name="myComplex">
    <xsd:sequence>
      <xsd:element id="myComplexelm" form="unqualified" maxOccurs="1" minOccurs="1"
          name="elm">
        <xsd:simpleType>
          <xsd:union memberTypes="xsd:int tns1:TextMember"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>