tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/builder/XSDBOM08_ComplexTypeElemAndAttsTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://businessobjectmodel" xmlns:tns1="http://businessobjectmodel" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM08_ComplexTypeElemAndAttsTransformationTest/Business Objects/businessobjectmodel.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="concept1" id="businessobjectmodelconcept1" abstract="false"
      mixed="false" name="concept1">
    <xsd:sequence>
      <xsd:element ecore:name="id" id="concept1id" form="unqualified" maxOccurs="1"
          minOccurs="1" name="id" type="xsd:integer"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="id2" id="concept1id2" form="qualified" name="id2" type="xsd:integer"
        use="required"/>
  </xsd:complexType>
  <xsd:complexType ecore:name="Help" id="businessobjectmodelHelp" abstract="false"
      mixed="false" name="Help">
    <xsd:sequence>
      <xsd:element ecore:name="request" id="HelpRequest" form="unqualified" maxOccurs="unbounded"
          minOccurs="1" name="Request" type="HelpRequest"/>
      <xsd:element ecore:name="request2" id="HelpRequest2" form="unqualified" maxOccurs="1"
          minOccurs="1" name="Request2" type="HelpRequest"/>
      <xsd:element ecore:name="request3" id="HelpRequest3" form="unqualified" maxOccurs="unbounded"
          minOccurs="0" name="Request3" type="HelpRequest"/>
      <xsd:element ecore:name="request4" id="HelpRequest4" form="unqualified" maxOccurs="unbounded"
          minOccurs="2" name="Request4" type="HelpRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="HelpRequest" id="businessobjectmodelHelpRequest" abstract="false"
      mixed="false" name="HelpRequest"/>
  <xsd:complexType ecore:name="ItemPriceLookup" id="businessobjectmodelItemPriceLookup"
      abstract="false" mixed="false" name="ItemPriceLookup">
    <xsd:sequence>
      <xsd:element ecore:name="request" id="ItemPriceLookupRequest" form="unqualified"
          maxOccurs="unbounded" minOccurs="1" name="Request" type="HelpRequest"/>
      <xsd:element ecore:name="request2" id="ItemPriceLookupRequest2" form="unqualified"
          maxOccurs="1" minOccurs="1" name="Request2" type="HelpRequest"/>
      <xsd:element ecore:name="request3" id="ItemPriceLookupRequest3" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="Request3" type="HelpRequest"/>
      <xsd:element ecore:name="request4" id="ItemPriceLookupRequest4" form="unqualified"
          maxOccurs="unbounded" minOccurs="2" name="Request4" type="HelpRequest"/>
      <xsd:element ecore:name="uriWithDefault" id="ItemPriceLookupuriWithDefault"
          default="http://www.tibco.com" form="unqualified" maxOccurs="1" minOccurs="1"
          name="uriWithDefault" type="xsd:anyURI"/>
      <xsd:element ecore:name="textWithDefault" id="ItemPriceLookuptextWithDefault"
          default="mytextdefault" form="unqualified" maxOccurs="1" minOccurs="1" name="textWithDefault"
          type="xsd:string"/>
      <xsd:element ecore:name="integerWithDefault" id="ItemPriceLookupintegerWithDefault"
          default="1" form="unqualified" maxOccurs="1" minOccurs="1" name="integerWithDefault"
          type="xsd:integer"/>
      <xsd:element ecore:name="decimalWithDefault" id="ItemPriceLookupdecimalWithDefault"
          default="1.1" form="unqualified" maxOccurs="1" minOccurs="1" name="decimalWithDefault"
          type="xsd:decimal"/>
      <xsd:element ecore:name="booleanWithDefault" id="ItemPriceLookupbooleanWithDefault"
          default="true" form="unqualified" maxOccurs="1" minOccurs="1" name="booleanWithDefault"
          type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="TypesTestComplexType" id="businessobjectmodelTypesTestComplexType"
      abstract="false" mixed="false" name="TypesTestComplexType">
    <xsd:sequence>
      <xsd:element ecore:name="myDateTimeTZ" id="TypesTestComplexTypemyDateTimeTZ"
          form="unqualified" maxOccurs="1" minOccurs="0" name="myDateTimeTZ">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime">
            <xsd:pattern value=".+T.+(Z|[+-].+)"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="normString" id="TypesTestComplexTypenormString" form="unqualified"
          maxOccurs="1" minOccurs="0" name="normString">
        <xsd:simpleType>
          <xsd:restriction base="tns1:normalizedstring_StudioGeneratedTemplate">
            <xsd:pattern value="(0[1-9]|[1][0-2])"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="myLong" id="TypesTestComplexTypemyLong" form="unqualified"
          maxOccurs="1" minOccurs="1" name="myLong">
        <xsd:simpleType>
          <xsd:restriction base="tns1:long_StudioGeneratedTemplate">
            <xsd:minExclusive value="120"/>
            <xsd:maxExclusive value="250"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="myDecimal" id="TypesTestComplexTypemyDecimal" form="unqualified"
          maxOccurs="1" minOccurs="1" name="myDecimal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:minExclusive value="-12345678901234567890"/>
            <xsd:maxExclusive value="12345678901234567890"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="myPosInteger" id="TypesTestComplexTypemyPosInteger"
          form="unqualified" maxOccurs="1" minOccurs="1" name="myPosInteger" type="tns1:positiveinteger_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="myPosIntegerWR" id="TypesTestComplexTypemyPosIntegerWR"
          form="unqualified" maxOccurs="1" minOccurs="1" name="myPosIntegerWR">
        <xsd:simpleType>
          <xsd:restriction base="tns1:positiveinteger_StudioGeneratedTemplate">
            <xsd:minInclusive value="5"/>
            <xsd:maxInclusive value="25"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="normalizedstring_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="positiveinteger_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>