tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/builder/XSDBOM21_UniqueIDForDuplicateNamesTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://trees" xmlns:tns1="http://trees" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://trees">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM21_UniqueIDForDuplicateNamesTransformationTest/Business Objects/trees.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="Tree" id="treesTree" abstract="false" mixed="false"
      name="Tree">
    <xsd:sequence>
      <xsd:element ecore:name="branch" id="TreeBranchType" form="qualified" maxOccurs="1"
          minOccurs="1" name="Branch">
        <xsd:complexType ecore:name="BranchType" id="treesBranchType" mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="leaf" form="qualified" maxOccurs="1" minOccurs="1"
                name="leaf" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="branch1" id="TreebranchType" form="qualified" maxOccurs="1"
          minOccurs="1" name="branch">
        <xsd:complexType ecore:name="branch1Type" id="treesbranchType" mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="twig" form="qualified" maxOccurs="1" minOccurs="1"
                name="twig" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="tranch" id="TreeTranchType" form="qualified" maxOccurs="1"
          minOccurs="1" name="Tranch">
        <xsd:complexType ecore:name="TranchType" id="treesTranchType" mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="leaf" form="qualified" maxOccurs="1" minOccurs="1"
                name="leaf" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="tranch1" id="TreetranchType" form="qualified" maxOccurs="1"
          minOccurs="1" name="tranch">
        <xsd:complexType ecore:name="tranch1Type" id="treestranchType" mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="twig" form="qualified" maxOccurs="1" minOccurs="1"
                name="twig" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="apple" id="TreeAppleType" form="qualified" maxOccurs="1"
          minOccurs="1" name="Apple">
        <xsd:complexType ecore:name="AppleType" id="treesAppleType" mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="leaf" form="qualified" maxOccurs="1" minOccurs="1"
                name="leaf" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ecore:name="apple1" id="TreeappleType" form="qualified" maxOccurs="1"
          minOccurs="1" name="apple">
        <xsd:complexType ecore:name="apple1Type" id="treesappleType" mixed="false">
          <xsd:sequence>
            <xsd:element ecore:name="twig" form="qualified" maxOccurs="1" minOccurs="1"
                name="twig" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>