tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/builder/XSDBOM02_SimpleTypeTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://businessobjectmodel" xmlns:tns1="http://businessobjectmodel" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM02_SimpleTypeTransformationTest/Business Objects/businessobjectmodel.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="id_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="normalizedstring_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^&#x9;&#xA;&#xD;]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="mySimple" id="businessobjectmodelmySimple2" final="#all"
      name="mySimple">
    <xsd:restriction base="tns1:id_StudioGeneratedTemplate">
      <xsd:maxLength fixed="false" value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="personalInfoType" id="businessobjectmodelpersonalInfoType2"
      name="personalInfoType">
    <xsd:restriction base="tns1:normalizedstring_StudioGeneratedTemplate">
      <xsd:minLength fixed="false" value="1"/>
      <xsd:maxLength fixed="false" value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="middleNameType" id="businessobjectmodelmiddleNameType2"
      name="middleNameType">
    <xsd:restriction base="tns1:personalInfoType">
      <xsd:minLength fixed="false" value="1"/>
      <xsd:maxLength fixed="false" value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>