tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/builder/XSDBOM03_SimpleTypeEnumerationTransformationTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://businessobjectmodel" xmlns:tns1="http://businessobjectmodel" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://businessobjectmodel">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM03_SimpleTypeEnumerationTransformationTest/Business Objects/businessobjectmodel.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="id_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\i-[:]][\c-[:]]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="mySimpleEnum" id="businessobjectmodelmySimpleEnum" name="mySimpleEnum">
    <xsd:restriction base="tns1:id_StudioGeneratedTemplate">
      <xsd:enumeration ecore:name="ENUM1" value="ENUM1"/>
      <xsd:enumeration ecore:name="ENUM2" value="ENUM2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="couponDetailsType" id="businessobjectmodelcouponDetailsType"
      abstract="false" mixed="false" name="couponDetailsType">
    <xsd:sequence>
      <xsd:element ecore:name="type" id="couponDetailsTypetype" form="unqualified"
          maxOccurs="1" minOccurs="1" name="type">
        <xsd:simpleType ecore:name="typeType">
          <xsd:restriction base="xsd:string">
            <xsd:enumeration ecore:name="ACTIVATION" value="activation"/>
            <xsd:enumeration ecore:name="REFILL" value="refill"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="couponDetailsType2" id="businessobjectmodelcouponDetailsType2"
      abstract="false" mixed="false" name="couponDetailsType2">
    <xsd:sequence>
      <xsd:element ecore:name="type" id="couponDetailsType2type" form="unqualified"
          maxOccurs="1" minOccurs="1" name="type">
        <xsd:simpleType ecore:name="typeType1">
          <xsd:restriction base="xsd:string">
            <xsd:enumeration ecore:name="ACTIVATION2" value="activation2"/>
            <xsd:enumeration ecore:name="REFILL2" value="refill2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="couponDetailsType3" id="businessobjectmodelcouponDetailsType3"
      abstract="false" mixed="false" name="couponDetailsType3">
    <xsd:sequence>
      <xsd:element ecore:name="type" id="couponDetailsType3type" form="unqualified"
          maxOccurs="1" minOccurs="1" name="type">
        <xsd:simpleType ecore:name="typeType2">
          <xsd:restriction base="xsd:string">
            <xsd:enumeration ecore:name="ACTIVATION3" value="activation3"/>
            <xsd:enumeration ecore:name="REFILL3" value="refill3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>