tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd/gold/builder/XSDBOM32_ComplexAnonymousTypeReferenceTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM32_ComplexAnonymousTypeReferenceTest" xmlns:tns1="http://www.example.org/XSDBOM32_ComplexAnonymousTypeReferenceTest"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM32_ComplexAnonymousTypeReferenceTest">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/kapil/Business Objects/org.example.XSDBOM32_ComplexAnonymousTypeReferenceTest.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="SubmitTaskReqType" nillable="false">
    <xsd:complexType ecore:name="SubmitTaskReqTypeType" id="org.example.XSDBOM32_ComplexAnonymousTypeReferenceTestSubmitTaskReqTypeType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="correlationId" form="qualified" maxOccurs="1" minOccurs="1"
            name="correlationId" type="xsd:string"/>
        <xsd:element ecore:name="submitToken" form="qualified" maxOccurs="1" minOccurs="1"
            name="submitToken">
          <xsd:simpleType ecore:name="submitTokenType">
            <xsd:restriction base="xsd:string">
              <xsd:enumeration ecore:name="RETRY" value="RETRY"/>
              <xsd:enumeration ecore:name="FORCE" value="FORCE"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="SubmitTaskReq" nillable="false">
    <xsd:complexType ecore:name="SubmitTaskReqType" id="org.example.XSDBOM32_ComplexAnonymousTypeReferenceTestSubmitTaskReqType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="submitTaskReqType" maxOccurs="1" minOccurs="1" ref="tns1:SubmitTaskReqType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>