tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.test/resources/N258WSDataMapperSchemaNamespaceValidationTest/eventHandlerCorrelationDataInitialization/Service Descriptors/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/">
  <wsdl:types>
    <xsd:schema  elementFormDefault="qualified" attributeFormDefault="qualified"  targetNamespace="http://www.example.org/NewWSDLFile/" xmlns:sub="http://not.mentioned/in.wsdldefinitions.element">
      <xsd:import namespace="http://not.mentioned/in.wsdldefinitions.element" />
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
            <xsd:element name="subType" type="sub:SubType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    
    <!--  IF WE MAP FROM subIn in this type in incoming request activity to correlation data then the schema namespace musdt be
          expressed in the main wsdl:definitions element XPDL2BPEL inserts correlation related model outside of the main schema in its copy of the WSDL 
          that will reference the SubType elements and therefore the namespace must be declared in the wsdl:definitions
            -->
    <xsd:schema elementFormDefault="qualified" attributeFormDefault="qualified"  targetNamespace="http://not.mentioned/in.wsdldefinitions.element">
    	<xsd:complexType name="SubType">
          <xsd:sequence>
            <xsd:element name="subIn" type="xsd:string"/>
          </xsd:sequence>
      	</xsd:complexType>
    </xsd:schema>
    
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NewWSDLFile">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFileSOAP" type="tns:NewWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDLFile">
    <wsdl:port binding="tns:NewWSDLFileSOAP" name="NewWSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
