tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/XPD3911 Ensure Consistent Use Of Correlation Fields/XPD-3911/Service Descriptors/XPD-3773-UserDefined.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="http://www.example.org/XPD-3773-UserDefined-WSDLNamespace/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XPD-3773-UserDefined" targetNamespace="http://www.example.org/XPD-3773-UserDefined-WSDLNamespace/" xmlns:impns="http://www.example.org/XPD-3773-ImportedSchema" xmlns:subimpns="http://www.example.org/XPD-3773-SubImportedSchema">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://www.example.org/XPD-3773-UserDefined-WSDLNamespace/" xmlns:impns="http://www.example.org/XPD-3773-ImportedSchema" >
    	<xsd:import namespace="http://www.example.org/XPD-3773-ImportedSchema" schemaLocation="XPD-3773-ImportedSchema.xsd"></xsd:import>
    	<xsd:element name="NewOperation" >
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="inlineText" type="xsd:string" />
    				<xsd:element name="inlineElemWithInlineComplexType"
    					type="wsdlns:ChildComplexType">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="NewOperationResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="out" type="xsd:string" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>

    	<xsd:complexType name="ChildComplexType">
   			<xsd:sequence>
   				<xsd:choice>
   					<xsd:element name="inlineChoiceA" type="xsd:string"></xsd:element>
   					<xsd:element name="inlineChoiceB" type="xsd:string"></xsd:element>
   					<xsd:element name="inlineChoiceC" type="xsd:string"></xsd:element>
   				</xsd:choice>
   				<xsd:element name="inlineChildText" type="xsd:string"></xsd:element>
   				<xsd:element name="inlineChildWithImportedSchemaType" type="impns:ImportedComplexType"></xsd:element>
   			</xsd:sequence>
    	</xsd:complexType>
    	
    	<xsd:element name="OperationWithExternalTopLevelElementPartResponse">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="out" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="OperationWithExternalSchemaTypePartRequest" type="impns:ImportedComplexType"></xsd:element>
    	<xsd:element name="OperationWithExternalSchemaTypePartResponse">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="out" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.example.org/XPD-3773-ImportedSchema"
    		schemaLocation="XPD-3773-ImportedSchema.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="wsdlns:NewOperation" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="wsdlns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OperationWithExternalTopLevelElementPartRequest">
  	<wsdl:part name="externalTopLEvelElementParameter" element="impns:ImportedTopLevelElement"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationWithExternalTopLevelElementPartResponse">
  	<wsdl:part name="parameters" element="wsdlns:OperationWithExternalTopLevelElementPartResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationQualifiedRequest" >
  	<wsdl:part name="parameters" element="wsdlns:NewOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationQualifiedResponse">
  	<wsdl:part name="parameters" element="wsdlns:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationWithExternalSchemaTypePartRequest">
  	<wsdl:part name="parameters" element="wsdlns:OperationWithExternalSchemaTypePartRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationWithExternalSchemaTypePartResponse">
  	<wsdl:part name="parameters" element="wsdlns:OperationWithExternalSchemaTypePartResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SameInputTypeAsNewOperationButDifferentPartRequest">
  	<wsdl:part name="parameters" element="wsdlns:NewOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="XPD-3773-UserDefined">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="wsdlns:NewOperationRequest"/>
      <wsdl:output message="wsdlns:NewOperationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="OperationWithExternalTopLevelElementPart">
    	<wsdl:input message="wsdlns:OperationWithExternalTopLevelElementPartRequest"></wsdl:input>
    	<wsdl:output message="wsdlns:OperationWithExternalTopLevelElementPartResponse"></wsdl:output>
    </wsdl:operation>    <wsdl:operation name="OperationInlineTopLevelElementOfExternalTypePart">    	<wsdl:input message="wsdlns:OperationWithExternalSchemaTypePartRequest"></wsdl:input>    	<wsdl:output message="wsdlns:OperationWithExternalSchemaTypePartResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SameInputTypeAsNewOperationButDifferentPart">
    	<wsdl:input message="wsdlns:SameInputTypeAsNewOperationButDifferentPartRequest"></wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SameMessageAsNewOperation">
    	<wsdl:input message="wsdlns:NewOperationRequest"></wsdl:input>    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XPD-3773-UserDefinedSOAP" type="wsdlns:XPD-3773-UserDefined">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="http://www.example.org/XPD-3773-UserDefined-WSDLNamespace/NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OperationWithExternalTopLevelElementPart">
			<soap:operation soapAction="http://www.example.org/XPD-3773-UserDefined-WSDLNamespace/OperationWithExternalTopLevelElementPart"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OperationInlineTopLevelElementOfExternalTypePart">
			<soap:operation soapAction="http://www.example.org/XPD-3773-UserDefined-WSDLNamespace/OperationInlineTopLevelElementOfExternalTypePart"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XPD-3773-UserDefined">
    <wsdl:port binding="wsdlns:XPD-3773-UserDefinedSOAP" name="XPD-3773-UserDefinedSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
