tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/migrated/brmdto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/brm"
	xmlns:tns="http://www.example.org/brm"
	elementFormDefault="qualified">
	
	<xs:complexType name="ObjectID">
		<xs:attribute name="id" type="xs:long" use="required">
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="ManagedObjectID">
		<xs:complexContent>
			<xs:extension base="tns:ObjectID">
				<xs:attribute name="version" type="xs:long">
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="WorkItem">
		<xs:sequence>
			<xs:element name="id" type="tns:ManagedObjectID">
			</xs:element>
			<xs:element name="visible" type="xs:boolean">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>