tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/migrated/WsdlFor5138Junit.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/WsdlFor5138Junit/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsdlFor5138Junit" targetNamespace="http://www.example.org/WsdlFor5138Junit/">
  <wsdl:types>
  
  	<xsd:schema xmlns:simple="http://diagss.telekom.de/oss/v1/mysimple" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://diagss.telekom.de/oss/v1/mysimple" version="1.00.00/2012-04-27">
            <xsd:simpleType name="AuftraggebernummerType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ExterneAuftragsnummerType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LeistungsnummerType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeldungscodeType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeldungstextType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="VersionType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                    <xsd:whiteSpace value="collapse"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
  
  	<xsd:schema xmlns:complex="http://diagss.telekom.de/oss/v1/mycomplex" xmlns:simple="http://diagss.telekom.de/oss/v1/mysimple" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://diagss.telekom.de/oss/v1/mycomplex" version="1.00.00/2012-04-27">
            <xsd:import namespace="http://diagss.telekom.de/oss/v1/mysimple"/>
            <xsd:complexType name="AuftraggeberType">
                <xsd:sequence>
                    <xsd:element name="auftraggebernummer" type="simple:AuftraggebernummerType"/>
                    <xsd:element name="leistungsnummer" type="simple:LeistungsnummerType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="GeschaeftsfallType"/>
            <xsd:complexType name="MeldungspositionOhneAttributeType">
                <xsd:sequence>
                    <xsd:element name="meldungscode" type="simple:MeldungscodeType">
                    </xsd:element>
                    <xsd:element name="meldungstext" type="simple:MeldungstextType">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MessageTEQType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="externeAuftragsnummer" type="simple:ExterneAuftragsnummerType"/>
                    <xsd:element minOccurs="0" name="auftraggebernummer" type="simple:AuftraggebernummerType"/>
                    <xsd:element name="meldungspositionen">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="position" type="complex:MeldungspositionOhneAttributeType"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServiceControlType">
                <xsd:sequence>
                    <xsd:element name="zeitstempelVersand" type="xsd:time"/>
                    <xsd:element name="version" type="complex:VersionType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VersionType">
                <xsd:sequence>
                    <xsd:element name="majorVersion" type="simple:VersionType"/>
                    <xsd:element name="minorVersion" type="simple:VersionType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="TEQ" type="complex:MessageTEQType"/>
            <xsd:element name="serviceControl" type="complex:ServiceControlType"/>
        </xsd:schema>
  
  
    <xsd:schema targetNamespace="http://www.example.org/WsdlFor5138Junit/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WsdlFor5138Junit">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsdlFor5138JunitSOAP" type="tns:WsdlFor5138Junit">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/WsdlFor5138Junit/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsdlFor5138Junit">
    <wsdl:port binding="tns:WsdlFor5138JunitSOAP" name="WsdlFor5138JunitSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
