tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM39_Base64BinarySimpleTypeTest/TestServiceProvider.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.example.org/TestServiceProvider/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestServiceProvider" targetNamespace="http://www.example.org/TestServiceProvider/" tibex:src="file:/C:/tibco-workspace-1-EBSBMZ/TestServiceProvider/Service%20Descriptors/TestServiceProvider.wsdl">
  
  <wsdl:types>
  
    <xsd:schema targetNamespace="http://www.example.org/TestServiceProvider/">
    
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence> 
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="tns:MyBase64Binary"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:simpleType name="MyBase64Binary">
      	<xsd:restriction base="xsd:base64Binary">
      		<xsd:maxLength value="8"/>
      	</xsd:restriction>
      </xsd:simpleType>
      
      <xsd:simpleType name="MyString">
      	<xsd:restriction base="xsd:string">
      		<xsd:maxLength value="50"></xsd:maxLength>
      	</xsd:restriction>
      </xsd:simpleType>
      
      <xsd:simpleType name="MyHexBinary">
      	<xsd:restriction base="xsd:hexBinary">
      		<xsd:maxLength value="50"></xsd:maxLength>
      	</xsd:restriction>
      </xsd:simpleType>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="TestServiceProvider">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TestServiceProviderSOAP" type="tns:TestServiceProvider">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/TestServiceProvider/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestServiceProvider">
    <wsdl:port binding="tns:TestServiceProviderSOAP" name="TestServiceProviderSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
