tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDL-AMXBPM-API/WSDL01/services/busserv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (x64) (http://www.altova.com) by Paul Raby (Tibco Software Limited) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:impl="http://services.busserv.n2.tibco.com" xmlns:ex="http://exception.pfe.n2.tibco.com" xmlns:business="http://business.api.busserv.n2.tibco.com" xmlns:comex="http://exception.api.common.n2.tibco.com" xmlns:bs="http://base.api.bs.n2.tibco.com" xmlns:presentation="http://presentationmodel.common.n2.tibco.com" xmlns:ch="http://channeltype.common.n2.tibco.com" xmlns:bc="http://basecontext.pfe.n2.tibco.com" xmlns:context="http://context.pfe.n2.tibco.com" xmlns:data="http://data.pfe.n2.tibco.com" xmlns:handlers="http://handlers.pfe.n2.tibco.com" xmlns:pfecom="http://common.api.pfe.n2.tibco.com" xmlns:ns="http://datamodel.common.n2.tibco.com" targetNamespace="http://services.busserv.n2.tibco.com">
	<wsdl:types>
		<xs:schema targetNamespace="http://exception.pfe.n2.tibco.com">
			<xs:include schemaLocation="pfe-exception.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://business.api.busserv.n2.tibco.com">
			<xs:include schemaLocation="pfe-business-service.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="internalServiceFault">
		<wsdl:part name="internalServiceFault" element="ex:InternalServiceFault"/>
	</wsdl:message>
	<wsdl:message name="listBusinessServicesRequest">
		<wsdl:part name="parameters" element="business:listBusinessServices"/>
	</wsdl:message>
	<wsdl:message name="listBusinessServicesResponse">
		<wsdl:part name="response" element="business:listBusinessServicesResponse"/>
	</wsdl:message>
	<wsdl:message name="listCategoriesRequest">
		<wsdl:part name="parameters" element="business:listCategories"/>
	</wsdl:message>
	<wsdl:message name="listCategoriesResponse">
		<wsdl:part name="response" element="business:listCategoriesResponse"/>
	</wsdl:message>
	<wsdl:message name="queryBusinessServicesRequest">
		<wsdl:part name="parameters" element="business:queryBusinessServices"/>
	</wsdl:message>
	<wsdl:message name="queryBusinessServicesResponse">
		<wsdl:part name="response" element="business:queryBusinessServicesResponse"/>
	</wsdl:message>
	<wsdl:message name="queryCategoriesRequest">
		<wsdl:part name="parameters" element="business:queryCategories"/>
	</wsdl:message>
	<wsdl:message name="queryCategoriesResponse">
		<wsdl:part name="response" element="business:queryCategoriesResponse"/>
	</wsdl:message>
	<wsdl:message name="startBusinessServiceRequest">
		<wsdl:part name="parameters" element="business:startBusinessService"/>
	</wsdl:message>
	<wsdl:message name="startBusinessServiceResponse">
		<wsdl:part name="response" element="business:startBusinessServiceResponse"/>
	</wsdl:message>
	<wsdl:message name="updateBusinessServiceRequest">
		<wsdl:part name="parameters" element="business:updateBusinessService"/>
	</wsdl:message>
	<wsdl:message name="updateBusinessServiceResponse">
		<wsdl:part name="response" element="business:updateBusinessServiceResponse"/>
	</wsdl:message>
	<wsdl:message name="injectBusinessServiceEventRequest">
		<wsdl:part name="parameters" element="business:injectBusinessServiceEvent"/>
	</wsdl:message>
	<wsdl:message name="injectBusinessServiceEventResponse">
		<wsdl:part name="response" element="business:injectBusinessServiceEventResponse"/>
	</wsdl:message>
	<wsdl:message name="invalidArgumentFault">
		<wsdl:part name="invalidArgumentFault" element="ex:InvalidArgumentFault"/>
	</wsdl:message>
	<wsdl:message name="pageFlowExecutionFault">
		<wsdl:part name="pageFlowExecutionFault" element="ex:PageFlowExecutionFault"/>
	</wsdl:message>
	<wsdl:message name="cancelBusinessServiceRequest">
		<wsdl:part name="parameters" element="business:cancelBusinessService"/>
	</wsdl:message>
	<wsdl:message name="cancelBusinessServiceResponse">
		<wsdl:part name="response" element="business:cancelBusinessServiceResponse"/>
	</wsdl:message>
	<wsdl:portType name="BusinessService">
		<wsdl:documentation>Get information about and interact with deployed business services.</wsdl:documentation>
		<wsdl:operation name="listCategories" parameterOrder="parameters">
			<wsdl:documentation>List categories of deployed business services.</wsdl:documentation>
			<wsdl:input name="listCategoriesRequest" message="impl:listCategoriesRequest">
				<wsdl:documentation>Request message (uses business:listCategories element): Specifies any filter criteria to be applied to the request.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="listCategoriesResponse" message="impl:listCategoriesResponse">
				<wsdl:documentation>Response message (uses business:listCategoriesResponse element): Contains detailed descriptions of the categories of deployed business services that match the specified criteria.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault" message="impl:invalidArgumentFault">
				<wsdl:documentation>Error message (uses ex:InvalidArgumentFault element): An invalid or missing argument was supplied in the request.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault" message="impl:pageFlowExecutionFault">
				<wsdl:documentation>Error message (uses ex:PageFlowExecutionFault): An error occurred when the Page Flow Engine executed the request.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryCategories" parameterOrder="parameters">
			<wsdl:documentation>Query categories of deployed business services.</wsdl:documentation>
			<wsdl:input name="queryCategoriesRequest" message="impl:queryCategoriesRequest">
				<wsdl:documentation>Request message (uses business:queryCategories element): Specifies the filter criteria to be applied to the request.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="queryCategoriesResponse" message="impl:queryCategoriesResponse">
				<wsdl:documentation>Response message (uses business:queryCategoriesResponse element): Contains detailed descriptions of the categories of deployed business services that match the specified criteria.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault" message="impl:invalidArgumentFault">
				<wsdl:documentation>Error message (uses ex:InvalidArgumentFault element): An invalid or missing argument was supplied in the request.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault" message="impl:pageFlowExecutionFault">
				<wsdl:documentation>Error message (uses ex:PageFlowExecutionFault): An error occurred when the Page Flow Engine executed the request.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listBusinessServices" parameterOrder="parameters">
			<wsdl:documentation>List deployed business services.</wsdl:documentation>
			<wsdl:input name="listBusinessServicesRequest" message="impl:listBusinessServicesRequest">
				<wsdl:documentation>Request message (uses business:listBusinessServices element): Specifies any filter criteria to be applied to the request.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="listBusinessServicesResponse" message="impl:listBusinessServicesResponse">
				<wsdl:documentation>Response message (uses business:listBusinessServicesResponse element): Contains detailed descriptions of deployed business services that match the specified criteria.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault" message="impl:invalidArgumentFault">
				<wsdl:documentation>Error message (uses ex:InvalidArgumentFault element): An invalid or missing argument was supplied in the request.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault" message="impl:pageFlowExecutionFault">
				<wsdl:documentation>Error message (uses ex:PageFlowExecutionFault): An error occurred when the Page Flow Engine executed the request.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryBusinessServices" parameterOrder="parameters">
			<wsdl:documentation>Query deployed business services.</wsdl:documentation>
			<wsdl:input name="queryBusinessServicesRequest" message="impl:queryBusinessServicesRequest">
				<wsdl:documentation>Request message (uses business:queryBusinessServices element): Specifies the filter criteria to be applied to the request.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="queryBusinessServicesResponse" message="impl:queryBusinessServicesResponse">
				<wsdl:documentation>Response message (uses business:queryBusinessServicesResponse element): Contains detailed descriptions of deployed business services that match the specified criteria.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault" message="impl:invalidArgumentFault">
				<wsdl:documentation>Error message (uses ex:InvalidArgumentFault element): An invalid or missing argument was supplied in the request.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault" message="impl:pageFlowExecutionFault">
				<wsdl:documentation>Error message (uses ex:PageFlowExecutionFault): An error occurred when the Page Flow Engine executed the request.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="startBusinessService" parameterOrder="parameters">
			<wsdl:documentation>Start an instance of a deployed business service.</wsdl:documentation>
			<wsdl:input name="startBusinessServiceRequest" message="impl:startBusinessServiceRequest">
				<wsdl:documentation>Request message (uses business:startBusinessService element): Identifies the business service instance to be started.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="startBusinessServiceResponse" message="impl:startBusinessServiceResponse">
				<wsdl:documentation>Response message (uses business:startBusinessServiceResponse element): Contains the execution state, context and page data for the started business service instance.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault" message="impl:invalidArgumentFault">
				<wsdl:documentation>Error message (uses ex:InvalidArgumentFault element): An invalid or missing argument was supplied in the request.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault" message="impl:pageFlowExecutionFault">
				<wsdl:documentation>Error message (uses ex:PageFlowExecutionFault): An error occurred when the Page Flow Engine executed the request.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateBusinessService" parameterOrder="parameters">
			<wsdl:documentation>Update a business service instance.</wsdl:documentation>
			<wsdl:input name="updateBusinessServiceRequest" message="impl:updateBusinessServiceRequest">
				<wsdl:documentation>Request message (uses business:updateBusinessService element): Identifies the business service instance to be updated.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="updateBusinessServiceResponse" message="impl:updateBusinessServiceResponse">
				<wsdl:documentation>Response message (uses business:updateBusinessServiceResponse element): Contains the execution state, context and page data for the updated business service instance.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault" message="impl:invalidArgumentFault">
				<wsdl:documentation>Error message (uses ex:InvalidArgumentFault element): An invalid or missing argument was supplied in the request.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault" message="impl:pageFlowExecutionFault">
				<wsdl:documentation>Error message (uses ex:PageFlowExecutionFault): An error occurred when the Page Flow Engine executed the request.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="injectBusinessServiceEvent" parameterOrder="parameters">
			<wsdl:documentation>Inject an event into a business service.</wsdl:documentation>
			<wsdl:input name="injectBusinessServiceEventRequest" message="impl:injectBusinessServiceEventRequest">
				<wsdl:documentation>Request message (uses business:injectBusinessServiceEvent element): Specifies the event to be injected, and the busines service instance into which it should be injected.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="injectBusinessServiceEventResponse" message="impl:injectBusinessServiceEventResponse">
				<wsdl:documentation>Response message (uses business:injectBusinessServiceEventResponse element): Contains the execution state, context and page data for the business service instance.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault" message="impl:invalidArgumentFault">
				<wsdl:documentation>Error message (uses ex:InvalidArgumentFault element): An invalid or missing argument was supplied in the request.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault" message="impl:pageFlowExecutionFault">
				<wsdl:documentation>Error message (uses ex:PageFlowExecutionFault): An error occurred when the Page Flow Engine executed the request.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelBusinessService" parameterOrder="parameters">
			<wsdl:documentation>Cancel a business service instance.</wsdl:documentation>
			<wsdl:input name="cancelBusinessServiceRequest" message="impl:cancelBusinessServiceRequest">
				<wsdl:documentation>Request message (uses business:cancelBusinessService element): Identifies the business service instance to be cancelled.</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="cancelBusinessServiceResponse" message="impl:cancelBusinessServiceResponse">
				<wsdl:documentation>Response message (uses business:cancelBusinessServiceResponse element): Contains the status of the specified business service instance.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault" message="impl:internalServiceFault">
				<wsdl:documentation>Error message (uses ex:InternalServiceFault element): An internal service fault has occurred.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault" message="impl:invalidArgumentFault">
				<wsdl:documentation>Error message (uses ex:InvalidArgumentFault element): An invalid or missing argument was supplied in the request.</wsdl:documentation>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault" message="impl:pageFlowExecutionFault">
				<wsdl:documentation>Error message (uses ex:PageFlowExecutionFault): An error occurred when the Page Flow Engine executed the request.</wsdl:documentation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BusinessService_EP" type="impl:BusinessService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="listCategories">
			<soap:operation soapAction="listCategories" style="document"/>
			<wsdl:input name="listCategoriesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listCategoriesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault">
				<soap:fault name="PageFlowExecutionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryCategories">
			<soap:operation soapAction="queryCategories" style="document"/>
			<wsdl:input name="queryCategoriesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="queryCategoriesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault">
				<soap:fault name="PageFlowExecutionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="listBusinessServices">
			<soap:operation soapAction="listBusinessServices" style="document"/>
			<wsdl:input name="listBusinessServicesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="listBusinessServicesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault">
				<soap:fault name="PageFlowExecutionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryBusinessServices">
			<soap:operation soapAction="queryBusinessServices" style="document"/>
			<wsdl:input name="queryBusinessServicesRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="queryBusinessServicesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault">
				<soap:fault name="PageFlowExecutionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="startBusinessService">
			<soap:operation soapAction="startBusinessService" style="document"/>
			<wsdl:input name="startBusinessServiceRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="startBusinessServiceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault">
				<soap:fault name="PageFlowExecutionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateBusinessService">
			<soap:operation soapAction="updateBusinessService" style="document"/>
			<wsdl:input name="updateBusinessServiceRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateBusinessServiceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault">
				<soap:fault name="PageFlowExecutionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="injectBusinessServiceEvent">
			<soap:operation soapAction="injectBusinessServiceEvent" style="document"/>
			<wsdl:input name="injectBusinessServiceEventRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="injectBusinessServiceEventResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault">
				<soap:fault name="PageFlowExecutionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelBusinessService">
			<soap:operation soapAction="cancelBusinessService" style="document"/>
			<wsdl:input name="cancelBusinessServiceRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="cancelBusinessServiceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InternalServiceFault">
				<soap:fault name="InternalServiceFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidArgumentFault">
				<soap:fault name="InvalidArgumentFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="PageFlowExecutionFault">
				<soap:fault name="PageFlowExecutionFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BusinessService">
		<wsdl:port name="BusinessService" binding="impl:BusinessService_EP">
			<soap:address location="http://localhost:8080/amxbpm/BusinessService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
