tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM35_SameNameEnumInTwoSchemas/gold/builder/myschema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="myschema2.MyColor2" xmlns:tns3="myschema2.MyColor2" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="myschema2.MyColor2">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD4041/Generated Business Objects/myschema2.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="Color" id="myschema2Color" name="Color">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="RED" value="red"/>
      <xsd:enumeration ecore:name="BLUE" value="blue"/>
      <xsd:enumeration ecore:name="GREEN" value="green"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="MyComplex" id="myschema2MyComplex" abstract="false"
      mixed="false" name="MyComplex">
    <xsd:sequence>
      <xsd:element ecore:name="colorelem" id="MyComplexcolorelem2" form="unqualified"
          maxOccurs="1" minOccurs="1" name="colorelem" type="tns3:Color"/>
      <xsd:element ecore:name="elem2" id="MyComplexelem2" form="unqualified" maxOccurs="1"
          minOccurs="1" name="elem2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="comp2" id="myschema2comp2" abstract="false" mixed="false"
      name="comp2">
    <xsd:sequence>
      <xsd:element ecore:name="e1" id="comp2e12" form="unqualified" maxOccurs="1"
          minOccurs="1" name="e1" type="MyComplex"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>