tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-final/gold/builder/XSDBOM_Final01_Single.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/NewXMLSchema" xmlns:tns1="http://www.example.org/NewXMLSchema"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/NewXMLSchema">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Final01_Single/Business Objects/org.example.NewXMLSchema.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="topSimpleAll" id="org.example.NewXMLSchematopSimpleAll2"
      final="#all" name="topSimpleAll">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="topSimpleRest" id="org.example.NewXMLSchematopSimpleRest2"
      final="restriction" name="topSimpleRest">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="topSimpleUnion" id="org.example.NewXMLSchematopSimpleUnion2"
      final="union" name="topSimpleUnion">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="topSimpleList" id="org.example.NewXMLSchematopSimpleList2"
      final="list" name="topSimpleList">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType ecore:name="myComplexAll" id="org.example.NewXMLSchemamyComplexAll"
      abstract="false" final="#all" mixed="false" name="myComplexAll"/>
  <xsd:complexType ecore:name="myComplexRest" id="org.example.NewXMLSchemamyComplexRest"
      abstract="false" final="restriction" mixed="false" name="myComplexRest"/>
  <xsd:complexType ecore:name="myComplexExtension" id="org.example.NewXMLSchemamyComplexExtension"
      abstract="false" final="extension" mixed="false" name="myComplexExtension"/>
  <xsd:element abstract="false" final="#all" name="topElemAll" nillable="false" type="xsd:string"/>
  <xsd:element abstract="false" final="restriction" name="topElemRest" nillable="false"
      type="xsd:string"/>
  <xsd:element abstract="false" final="extension" name="topElemExtension" nillable="false"
      type="xsd:string"/>
</xsd:schema>