tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC26_DataMapperForWSInOutAndFaultConsumer/.processOut/process/UC7G_DataMapper_SoapHttp_ProcessConsumer.xpdl/RPCLiteral_MultiPart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL--><wsdl:definitions xmlns:ns0="http://www.example.org/RPCLiteral_MultiPart/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.example.org/RPCLiteral_MultiPart/RPCLiteral_MultiPart_Provider" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="RPCLiteral_MultiPart_Provider" targetNamespace="http://www.example.org/RPCLiteral_MultiPart/RPCLiteral_MultiPart_Provider" tibex:src="http://localhost:8120/amxadministrator/generate_wsdl?svc_binding_id=629&amp;svc_binding_name=RPCLiteral_MultiPart_EP&amp;svc_node_id=2&amp;svc_node_name=BPMNode">
    <partnerLinkType xmlns="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="RPCLiteral_MultiPart_PLT">
    <role name="RPCLiteral_MultiPartProvider" portType="tns:RPCLiteral_MultiPart"/>
  </partnerLinkType>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/RPCLiteral_MultiPart/">
            <xs:complexType name="IputType">
                <xs:sequence>
                    <xs:element form="unqualified" name="NewElement" type="xs:string"/>
                    <xs:element form="unqualified" name="NewElement2" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="NewSimpleType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:complexType name="OutputType">
                <xs:sequence>
                    <xs:element form="unqualified" name="NewElement" type="xs:string"/>
                    <xs:element form="unqualified" name="NewElement2" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NewElement">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element form="unqualified" name="NewElement" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="RPCLiterialOperationRequest">
        <wsdl:part name="FirstInputPart" type="xs:string"/>
        <wsdl:part name="SecondInputPart" type="ns0:IputType"/>
        <wsdl:part element="ns0:NewElement" name="ElementPart"/>
        <wsdl:part name="SimpleElementPart" type="ns0:NewSimpleType"/>
    </wsdl:message>
    <wsdl:message name="RPCLiterialOperationResponse">
        <wsdl:part name="FirstOutputPart" type="xs:string"/>
        <wsdl:part name="SecondOutputPart" type="ns0:OutputType"/>
        <wsdl:part element="ns0:NewElement" name="OutputElementPart"/>
        <wsdl:part name="OutputSimpleElementPart" type="ns0:NewSimpleType"/>
    </wsdl:message>
    <wsdl:message name="RPCLiterialOperationFault">
        <wsdl:part element="ns0:NewElement" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="RPCLiteral_MultiPart">
        <wsdl:operation name="RPCLiterialOperation2">
            <wsdl:input message="tns:RPCLiterialOperationRequest"/>
            <wsdl:output message="tns:RPCLiterialOperationResponse"/>
            <wsdl:fault message="tns:RPCLiterialOperationFault" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="RPCLiterialOperation">
            <wsdl:input message="tns:RPCLiterialOperationRequest"/>
            <wsdl:output message="tns:RPCLiterialOperationResponse"/>
            <wsdl:fault message="tns:RPCLiterialOperationFault" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RPCLiteral_MultiPart_EP" type="tns:RPCLiteral_MultiPart">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RPCLiterialOperation2">
            <wsdl:documentation/>
            <soap:operation soapAction="RPCLiterialOperation2" style="rpc"/>
            <wsdl:input>
                <soap:body parts="FirstInputPart SecondInputPart ElementPart SimpleElementPart" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="FirstOutputPart SecondOutputPart OutputElementPart OutputSimpleElementPart" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RPCLiterialOperation">
            <wsdl:documentation/>
            <soap:operation soapAction="RPCLiterialOperation" style="rpc"/>
            <wsdl:input>
                <soap:body parts="FirstInputPart SecondInputPart ElementPart SimpleElementPart" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="FirstOutputPart SecondOutputPart OutputElementPart OutputSimpleElementPart" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RPCLiteral_MultiPart_Provider">
        <wsdl:port binding="tns:RPCLiteral_MultiPart_EP" name="RPCLiteral_MultiPart_EP">
            <soap:address location="http://0.0.0.0:8181/RPCLiteral_MultiPart/RPCLiteral_MultiPart"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
