tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM48_BOMGenFor_wp_wsdl/brmdto.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://api.brm.n2.tibco.com" xmlns:dm="http://datamodel.common.n2.tibco.com" xmlns:ns1="http://www.tibco.com/XPD/ScriptDescriptor/" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.brm.n2.tibco.com" version="1.0">
	<xs:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="organisation.xsd"/>
	<xs:import namespace="http://datamodel.common.n2.tibco.com" schemaLocation="datamodel.xsd"/>
	<xs:import namespace="http://www.tibco.com/XPD/ScriptDescriptor/" schemaLocation="scriptdescriptor.xsd"/>
	<xs:complexType abstract="true" name="AllocationHistory">
		<xs:annotation>
			<xs:documentation>Contains single allocation history record</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resourceID" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="allocationID" type="xs:long" use="required"/>
		<xs:attribute name="allocationDate" type="xs:dateTime" use="required"/>
	</xs:complexType>
	<xs:complexType name="AsyncWorkItemDetails">
		<xs:annotation>
			<xs:documentation>Definition of the additional information required for asynchronous work item handling.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="workItemId" type="ObjectID"/>
			<xs:element name="activityID" type="xs:string">
		<xs:annotation>
					<xs:documentation>Unique identifier for this message, this identifier will match the request and the response</xs:documentation>
		</xs:annotation>
			</xs:element>
			<xs:element name="uaSequenceId" type="xs:int">
		<xs:annotation>
					<xs:documentation>Order in which to process the messages for this work item, starting at 1 for the first message in the case of a request. (For a response this is the last message processed from User Task) [A zero implies no messages processed for this work item]</xs:documentation>
		</xs:annotation>
			</xs:element>
			<xs:element name="brmSequenceId" type="xs:int">
		<xs:annotation>
					<xs:documentation>Order in which to process the messages for this work item, starting at 1 for the first message in the case of a request. (For a response this is the last BRM sequence ID processed for this work item before sending this message). [A zero implies no messages processed for this work item]</xs:documentation>
		</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType abstract="true" name="BaseItemInfo">
		<xs:annotation>
			<xs:documentation>Base information required for all work items.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
		<xs:annotation>
					<xs:documentation>Name of the work item.</xs:documentation>
		</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="description" type="xs:string">
		<xs:annotation>
					<xs:documentation>Textual description of the work item.</xs:documentation>
		</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="distributionStrategy" type="DistributionStrategy" use="required">
		<xs:annotation>
				<xs:documentation>Distribution strategy to be used for the work item - either OFFER or ALLOCATE.</xs:documentation>
		</xs:annotation>
		</xs:attribute>
		<xs:attribute name="priority" type="xs:int">
			<xs:annotation>
				<xs:documentation>Priority of the work item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="groupID" type="xs:long" use="optional">
			<xs:annotation>
				<xs:documentation>ID of the work group that the work item belongs to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BaseModelInfo">
		<xs:annotation>
			<xs:documentation>Base model definition, containing all model informaion that is static (i.e. not subject to change via a runtime expression).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The name of the work model</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The description of the work model.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="50" name="priority" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>The priority of the work item this model will create (defaults to 50).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ColumnDefinition">
		<xs:annotation>
			<xs:documentation>Details of a field defined by BRM that can be used in sort/filter criteria expressions for work item lists.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:short" use="required">
			<xs:annotation>
				<xs:documentation>ID of the field.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Name of the field.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Textual description of the field.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="ColumnType">
			<xs:annotation>
				<xs:documentation>Type of the field (for example, string or numeric).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="capability" type="ColumnCapability">
			<xs:annotation>
				<xs:documentation>Enumerated value that defines whether the field can be used in expressions that define sort criteria and/or filter criteria.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="displayName" type="xs:string">
			<xs:annotation>
				<xs:documentation>If requested by setting API Version &gt; 1, then this attribute will provide the Display Name if this column is a Work Item Attribute and has an display name defined.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isWorkListAttribute" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>If requested If requested by setting API Version &gt; 1, this  atrribute will be true if the specified field is a work list attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ColumnOrder">
		<xs:annotation>
			<xs:documentation>Details of the sort order of a field defined by BRM that can be used in sort/filter criteria expressions for work item lists.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="columnDef" type="ColumnDefinition">
				<xs:annotation>
					<xs:documentation>Details of the field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ascending" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Boolean value defining whether the column should be sorted in ascending (TRUE) or descending (FALSE) order.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="HiddenPeriod">
		<xs:annotation>
			<xs:documentation>Information about how long the specified work item should remain hidden.

If a hiddenPeriod is specified the work item will transition to the PendHidden state, rather than Pended. Operations that work on the Pended state (e.g. reallocateWorkItem) cannot then access the work item until either of the following occurs.

- the hiddenPeriod expires.

- a further pendWorkItem operation is specified with a hiddenPeriod of 0. This cancels the current hiddenPeriod. (A negative duration or date that is in the past will have the same effect.)

The work item then transitions back to the Pended state.

NOTE: The duration of a hiddenPeriod can also be extended or reduced by issuing a further pendWorkItem operation with a new hiddenPeriod. The new hiddenPeriod overrides the existing hiddenPeriod and is calculated from the current date/time.

For example, suppose that a work item was pended at 2.30 with a hiddenPeriod of 30 minutes. If a further pendWorkItem is issued at 2.45 with:

- a hiddenPeriod of 2 hours, the work item will remain hidden until 4.45.

- a hiddenPeriod of 5 minutes, the work item will remain hidden until 2.50.

- a hiddenPeriod of 0, the work item will immediately transition to the Pended state.

- a hiddenPeriod of -5 minutes, the work item will immediately transition to the Pended state.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="hiddenDuration" type="ItemDuration">
				<xs:annotation>
					<xs:documentation>Duration that the work item is hidden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="visibleDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Fixed date/time when the work item becomes visible.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Item">
		<xs:annotation>
			<xs:documentation>Definition of a work item that is to be scheduled, providing basic, participant and work type information about the work item.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseItemInfo">
				<xs:choice>
					<xs:element maxOccurs="unbounded" name="entities" type="orgdto:XmlModelEntityId">
						<xs:annotation>
							<xs:documentation>Details of the organization model entities for whom the work item is to be scheduled.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="entityQuery" type="orgdto:XmlResourceQuery">
						<xs:annotation>
							<xs:documentation>Specification of a resource query.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:attribute name="workTypeUID" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>ID of the work type that defines the data specification for this work item.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="workTypeVersion" type="xs:string">
					<xs:annotation>
						<xs:documentation>OSGi version range string of the work type that is to be used.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ItemBody">
		<xs:annotation>
			<xs:documentation>Work item body definition, containing each data field (as a name/value pair) required by the data model defined in the work item's work type. 

				The associated work type specifies each data field's type and whether it is an INPUT, OUTPUT or INOUT parameter.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element maxOccurs="unbounded" name="parameter" type="ParameterType">
				<xs:annotation>
					<xs:documentation>Details of the data fields associated with this work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ItemContext">
		<xs:annotation>
			<xs:documentation>Context of the work item, as supplied by the application that scheduled the work item.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="activityID" type="xs:string">
				<xs:annotation>
					<xs:documentation>ID of the activity from which the work item was generated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activityName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the activity from which the work item was generated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="appInstance" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifier of the application instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="appName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="appID" type="xs:string">
				<xs:annotation>
					<xs:documentation>ID of the application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="appInstanceDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description of the application instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemDuration">
		<xs:annotation>
			<xs:documentation>Amount of time that can be spent on a work item, or for which a work item can be hidden.</xs:documentation>
		</xs:annotation>
		<xs:attribute default="0" name="years" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Number of years in this duration period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="0" name="months" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Number of months in this duration period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="0" name="weeks" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Number of weeks in this duration period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="0" name="days" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Number of days in this duration period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="0" name="hours" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Number of hours in this duration period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="0" name="minutes" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Number of minutes in this duration period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ItemPrivilege">
		<xs:annotation>
			<xs:documentation>Definition of the privileges required to perform specific actions on a work item.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Suspend" type="Privilege">
				<xs:annotation>
					<xs:documentation>Details of the privileges required to suspend a work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="StatelessRealloc" type="Privilege">
				<xs:annotation>
					<xs:documentation>Details of the privileges required to (statelessly) reallocate a work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="StatefulRealloc" type="Privilege">
				<xs:annotation>
					<xs:documentation>Details of the privileges required to (statefully) reallocate a work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Dellocate" type="Privilege">
				<xs:annotation>
					<xs:documentation>Details of the privileges required to deallocate a work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Delegate" type="Privilege">
				<xs:annotation>
					<xs:documentation>Details of the privileges required to delegate a work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Skip" type="Privilege">
				<xs:annotation>
					<xs:documentation>Details of the privileges required to skip a work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Piling" type="Privilege">
				<xs:annotation>
					<xs:documentation>Details of the privileges required to pile a work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemSchedule">
		<xs:annotation>
			<xs:documentation>Schedule information to be associated with a work item.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="startDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date at which this work item can be started.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="maxDuration" type="ItemDuration">
					<xs:annotation>
						<xs:documentation>Duration of the work item.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="targetDate" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Date by which this work item must be finished.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManagedObjectID">
		<xs:annotation>
			<xs:documentation>ID of a specific version of a work item.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ObjectID">
				<xs:attribute name="version" type="xs:long">
					<xs:annotation>
						<xs:documentation>Version of the work item.

If not set, the latest version will be used.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NextWorkItem">
		<xs:annotation>
			<xs:documentation>Definition of the next work item that is of the same piled type as the work item just processed.

(BRM uses this definition with the Piling pattern to identify the next work item to Work Presentation.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="nextItem" type="ManagedObjectID">
				<xs:annotation>
					<xs:documentation>Unique ID of the next work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectID">
		<xs:annotation>
			<xs:documentation>ID of a work item (without specifying any particular version of the object).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:long" use="required">
			<xs:annotation>
				<xs:documentation>Unique ID of the work item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OrderFilterCriteria">
		<xs:annotation>
			<xs:documentation>Specification of sort/filter criteria to be applied to a work item list.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="order" type="xs:string">
				<xs:annotation>
					<xs:documentation>Expression defining the sort criteria to be applied to the work item list. 

Refer to the developer's guide for more information about how to define this expression.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="filter" type="xs:string">
				<xs:annotation>
					<xs:documentation>Expression defining the filter criteria to be applied to the work item list. 

Refer to the developer's guide for more information about how to define this expression.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgEntityConfigAttribute">
		<xs:annotation>
			<xs:documentation>Definition of a configuration attribute for an organizational model entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attributeName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the configuration attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attributeValue" type="xs:string">
				<xs:annotation>
					<xs:documentation>Value of the configuration attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="readOnly" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Boolean value specifying whether the configuration attribute is read only.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgEntityConfigAttributesAvailable">
		<xs:annotation>
			<xs:documentation>Set of configuration attributes provided by BRM that can be applied to organization model entities.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attributeName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the configuration attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="readOnly" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Boolean value specifying whether the configuration attribute is read only.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgEntityConfigAttributeSet">
		<xs:annotation>
			<xs:documentation>Definition of a configuration attribute setting (a name/value pair).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attributeName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the configuration attribute. This must be one of the following:

- MaxOpenWorkItemCount, which defines the maximum number of open work items allowed concurrently (for the specified organization model entity).

- WorkItemAutoOpen, which defines whether to automatically open the next work item when completing a work item.

NOTE: Other configuration attributes are part of the private API and reserved for internal use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attributeValue" type="xs:string">
				<xs:annotation>
					<xs:documentation>Value of the configuration attribute. This must be one of the following:

- for MaxOpenWorkItemCount, an integer.
- for WorkItemAutoOpen, a boolean.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParameterType">
		<xs:annotation>
			<xs:documentation>Definition of a data parameter passed to BRM when a work item is scheduled.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element maxOccurs="unbounded" name="ComplexValue" type="xs:anyType">
				<xs:annotation>
					<xs:documentation>Value(s) of the complex object.  The value is of xs:anyType as it contains the entire complex object as XML.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" name="Value" type="xs:string">
				<xs:annotation>
					<xs:documentation>Parameter value(s) - for example, 10.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Parameter name - for example, Age.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Array" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Boolean value indicating whether this parameter contains an array of values (default is false).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Privilege">
		<xs:annotation>
			<xs:documentation>Definition of a privilege.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Name of the required privilege (i.e. what BRM will look for in DE).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="qualifier" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>(Optional) qualifier for this privilege.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkItem">
		<xs:annotation>
			<xs:documentation>Complete details of a work item.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="ManagedObjectID">
				<xs:annotation>
					<xs:documentation>ID of the work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="header" type="WorkItemHeader">
				<xs:annotation>
					<xs:documentation>Header information about the work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="attributes" type="WorkItemAttributes">
				<xs:annotation>
					<xs:documentation>Data attributes that can be set on a work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="body" type="WorkItemBody">
				<xs:annotation>
					<xs:documentation>Complete body of the work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="workType" type="dm:WorkTypeSpec">
				<xs:annotation>
					<xs:documentation>Details of the work type associated with the work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="WorkItemState">
				<xs:annotation>
					<xs:documentation>Enumerated value defining the current state of the work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="visible" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Boolean value indicating whether or not the work item is visible.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkItemAttributes">
		<xs:annotation>
			<xs:documentation>Custom data attributes that can be set for a work item.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="attribute1" type="xs:long" use="optional">
			<xs:annotation>
				<xs:documentation>The first custom data attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute2" use="optional">
			<xs:annotation>
				<xs:documentation>The second custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute3" use="optional">
			<xs:annotation>
				<xs:documentation>The third custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute4" use="optional">
			<xs:annotation>
				<xs:documentation>The fourth custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute5" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>The fifth custom data attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute6" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The sixth custom data attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute7" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>The seventh custom data attribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute8" use="optional">
			<xs:annotation>
				<xs:documentation>The eighth custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute9" use="optional">
			<xs:annotation>
				<xs:documentation>The ninth custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute10" use="optional">
			<xs:annotation>
				<xs:documentation>The tenth custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute11" use="optional">
			<xs:annotation>
				<xs:documentation>The eleventh custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute12" use="optional">
			<xs:annotation>
				<xs:documentation>The twelfth custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute13" use="optional">
			<xs:annotation>
				<xs:documentation>The thirteenth custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute14" use="optional">
			<xs:annotation>
				<xs:documentation>The fourteenth custom data attribute.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute15" type="xs:long" use="optional">
			<xs:annotation>
				<xs:documentation>15th work item attribute</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute16" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>16th work item attribute</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute17" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>17th work item attribute</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute18" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>18th work item attribute</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute19" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>19th work item attribute</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute20" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>20th work item attribute</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute21" use="optional">
			<xs:annotation>
				<xs:documentation>21st work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute22" use="optional">
			<xs:annotation>
				<xs:documentation>22nd work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute23" use="optional">
			<xs:annotation>
				<xs:documentation>23rd work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute24" use="optional">
			<xs:annotation>
				<xs:documentation>24th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute25" use="optional">
			<xs:annotation>
				<xs:documentation>25th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute26" use="optional">
			<xs:annotation>
				<xs:documentation>26th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute27" use="optional">
			<xs:annotation>
				<xs:documentation>27th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute28" use="optional">
			<xs:annotation>
				<xs:documentation>28th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute29" use="optional">
			<xs:annotation>
				<xs:documentation>29th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute30" use="optional">
			<xs:annotation>
				<xs:documentation>30th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute31" use="optional">
			<xs:annotation>
				<xs:documentation>31st work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute32" use="optional">
			<xs:annotation>
				<xs:documentation>32nd work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute33" use="optional">
			<xs:annotation>
				<xs:documentation>33rd work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute34" use="optional">
			<xs:annotation>
				<xs:documentation>34th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute35" use="optional">
			<xs:annotation>
				<xs:documentation>35th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute36" use="optional">
			<xs:annotation>
				<xs:documentation>36th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute37" use="optional">
			<xs:annotation>
				<xs:documentation>37th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute38" use="optional">
			<xs:annotation>
				<xs:documentation>38th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute39" use="optional">
			<xs:annotation>
				<xs:documentation>39th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="attribute40" use="optional">
			<xs:annotation>
				<xs:documentation>40th work item attribute</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkItemBody">
		<xs:annotation>
			<xs:documentation>Complete work item body returned when a client opens the work item.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataModel" type="dm:DataModel">
				<xs:annotation>
					<xs:documentation>Sets of INPUT, OUTPUT and INOUT parameters that define the data model for the work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkItemFlags">
			<xs:annotation>
			<xs:documentation>Various flags that can be set against a work item.</xs:documentation>
			</xs:annotation>
		<xs:sequence>
			<xs:element name="scheduleStatus" type="ScheduleStatus">
			<xs:annotation>
					<xs:documentation>Enumerated value defining whether a work item is within its schedule period.</xs:documentation>
			</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkItemHeader">
		<xs:annotation>
			<xs:documentation>Main information about a work item used in a work list.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseItemInfo">
				<xs:sequence>
					<xs:element name="flags" type="WorkItemFlags">
						<xs:annotation>
							<xs:documentation>Various flags that can be set against a work item in a work list.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemContext" type="ItemContext">
						<xs:annotation>
							<xs:documentation>Context of the work item, as supplied by the application that scheduled the work item.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="startDate" type="xs:dateTime" use="optional">
					<xs:annotation>
						<xs:documentation>Date / time from which work on this work item may start.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="endDate" type="xs:dateTime" use="optional">
					<xs:annotation>
						<xs:documentation>Date / time by which work on this work item must be completed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WorkItemPreview">
		<xs:annotation>
			<xs:documentation>Definition of the work item data set for a previewed work item.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ManagedObjectID">
		<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="FieldPreview" type="dm:FieldType">
				<xs:annotation>
							<xs:documentation>Data field and value pairs for a previewed work item.</xs:documentation>
				</xs:annotation>
			</xs:element>
					<xs:element minOccurs="0" name="workType" type="dm:WorkTypeSpec">
				<xs:annotation>
							<xs:documentation>Details of the work type associated with the work item only if this has been requested.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WorkListFacade">
		<xs:annotation>
			<xs:documentation>Definition of a Work List Facade list any attributes that have a display name defined.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="facade">
				<xs:complexType>
					<xs:attribute name="attributeName" type="xs:string" use="required">
			<xs:annotation>
							<xs:documentation>The attribute name for which a display name is available. This is the real attribute name provided by BRM i.e.Attribute1, Attribute2 .......</xs:documentation>
			</xs:annotation>
		</xs:attribute>
					<xs:attribute name="displayName" type="xs:string">
			<xs:annotation>
							<xs:documentation>This is the name that should be used when displaying this attribute, and is defined and deployed from Business Studio. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkListView">
		<xs:annotation>
			<xs:documentation>Definition of a full work list view object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="WorkListViewEdit">
				<xs:attribute name="workViewID" type="xs:long" use="required">
				<xs:annotation>
						<xs:documentation>The uniique ID of the work view.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
				<xs:attribute name="creationDate" type="xs:dateTime" use="required">
				<xs:annotation>
						<xs:documentation>The date the work view was created.</xs:documentation>
				</xs:annotation>
		</xs:attribute>
				<xs:attribute name="modificationDate" type="xs:dateTime" use="required">
			<xs:annotation>
						<xs:documentation>The date the work view was last modified.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
				<xs:attribute name="locker">
		<xs:annotation>
						<xs:documentation>The GUID of the resource that currently had this work list view locked for editing.</xs:documentation>
		</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WorkListViewCommon">
		<xs:annotation>
			<xs:documentation>Definition of common base object used for reading and writing work list views.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
		<xs:choice>
				<xs:element minOccurs="0" name="entityID" type="orgdto:XmlModelEntityId">
				<xs:annotation>
						<xs:documentation>ID of the organization model entity that this view is to be for.</xs:documentation>
				</xs:annotation>
			</xs:element>
				<xs:element minOccurs="0" name="resourcesRequired" type="ResourcesRequiredType">
				<xs:annotation>
						<xs:documentation>Specifying what if any resource processing is required on the Work List. If sspecified and the user has the correct priviliege, this will ignore any entity specified in the Work View itself.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
			<xs:element minOccurs="0" name="orderFilterCriteria" type="OrderFilterCriteria">
			<xs:annotation>
					<xs:documentation>Specification of sort/filter criteria to be applied to the work item list.</xs:documentation>
			</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required">
		<xs:annotation>
				<xs:documentation>The user defined name of the view.</xs:documentation>
		</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="description">
				<xs:annotation>
				<xs:documentation>Optional description that can be given to the work list view.</xs:documentation>
				</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="owner">
		<xs:annotation>
				<xs:documentation>The resourceID of the owner of this view.   If omitted the ID of the resource calling the createWorkListView API will  be used.   This resource can always edit or use this view.</xs:documentation>
		</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="36"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="public" type="xs:boolean">
						<xs:annotation>
				<xs:documentation>Is this view publlic, i.e. can it be used by any AMX-BPM user.   If TRUE then it will be visible to ALL users, not just those in the "users" set.</xs:documentation>
						</xs:annotation>
				</xs:attribute>
		<xs:attribute name="getAllocatedItems" type="xs:boolean">
					<xs:annotation>
				<xs:documentation>Optional default behaviour is false. If true then this is a request for allocated Work Items. If false then the request is for offered Work Items.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkListViewEdit">
		<xs:annotation>
			<xs:documentation>Definition of a work list view used for editing (i.e. create and delete operations).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="WorkListViewCommon">
				<xs:sequence minOccurs="0">
					<xs:element maxOccurs="unbounded" minOccurs="0" name="authors" type="orgdto:XmlModelEntityId">
				<xs:annotation>
							<xs:documentation>Array of XmlModelEntityId objects for entities (GROUPS, POSITIONS, ORGUNITS and RESOURCES) who are allowed to edit the view.</xs:documentation>
				</xs:annotation>
			</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="users" type="orgdto:XmlModelEntityId">
				<xs:annotation>
							<xs:documentation>Array of XmlModelEntityId objects for resources who are allowed to use the view.</xs:documentation>
				</xs:annotation>
			</xs:element>
					<xs:element minOccurs="0" name="customData" type="xs:string">
				<xs:annotation>
							<xs:documentation>A string attribute the caller can use to provide and custom data they wish to store with the work list view.  BRM will not look at or use this attribute value but will just store it with the work view definition.   If storing XML data the value should be wrapped in a CDATA section.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WorkListViewPageItem">
		<xs:annotation>
			<xs:documentation>Definition of a work list view used for paginated lists.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="WorkListViewCommon">
				<xs:attribute name="workViewID" type="xs:long" use="required">
				<xs:annotation>
						<xs:documentation>The uniique ID of the work view.</xs:documentation>
				</xs:annotation>
		</xs:attribute>
				<xs:attribute name="creationDate" type="xs:dateTime" use="required">
			<xs:annotation>
						<xs:documentation>The date the work view was created.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
				<xs:attribute name="modificationDate" type="xs:dateTime" use="required">
			<xs:annotation>
						<xs:documentation>The date the work view was last modified.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WorkModel">
		<xs:annotation>
			<xs:documentation>Definition of a work model.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BaseModelInfo" type="BaseModelInfo"/>
			<xs:element name="WorkModelSpecification" type="WorkModelSpecification"/>
			<xs:element name="WorkModelEntities" type="WorkModelEntities"/>
			<xs:element name="WorkModelTypes" type="WorkModelTypes"/>
			<xs:element minOccurs="0" name="ItemPrivileges" type="ItemPrivilege"/>
			<xs:element minOccurs="0" name="WorkModelScripts" type="WorkModelScripts"/>
		</xs:sequence>
		<xs:attribute name="workModelUID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Unique ID (or GUID) of the work model.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkModelEntities">
		<xs:annotation>
			<xs:documentation>Complete entity definition for a work model. 

This includes mutluple entity sets or expressions with a single expression that determines which set to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="WorkModelEntity" type="WorkModelEntity"/>
		</xs:sequence>
		<xs:attribute name="expression" type="xs:string" use="optional">
		<xs:annotation>
				<xs:documentation>The expression that BRM should use to chose one of the WorkModelEntity objects at runtime.   If no expression is supplied then BRM will always choose the first entry</xs:documentation>
		</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkModelEntity">
		<xs:annotation>
			<xs:documentation>Definition of a work model entity, either as a set of entities or as an expression to evalute at runtime.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="EntityQuery" type="orgdto:XmlResourceQuery">
				<xs:annotation>
					<xs:documentation>This is an expression that should be used by BRM at runtime to query Directory Engine for a set of organistion enities to use when scheduling the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" name="Entities" type="orgdto:XmlModelEntityId">
				<xs:annotation>
					<xs:documentation>A set of organisational entities that should be used by BRM at runtime when scheduling the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="distributionStrategy" type="DistributionStrategy" use="required">
			<xs:annotation>
				<xs:documentation>Whether to use ALLOCATE or OFFER with the provided set to entities or entity expression.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkModelList">
		<xs:annotation>
			<xs:documentation>Definition of a 'page' of work model objects, which is a window over the entire set of work models defined in BRM.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startPosition" type="xs:long">
				<xs:annotation>
					<xs:documentation>The starting position of the first work model in the requested page.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endPosition" type="xs:long">
				<xs:annotation>
					<xs:documentation>The end position of the last work model in the requested page.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="type" type="WorkModel">
				<xs:annotation>
					<xs:documentation>Array of work models that constitute the page.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkModelMapping">
			<xs:annotation>
			<xs:documentation>Definition of a mapping of a work model parameter to a work type parameter.</xs:documentation>
			</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeParamName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the WorkType parameter this mapping relates to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Users should map either Model parameter or if no appropriate one exists provide default value.</xs:documentation>
				</xs:annotation>
				<xs:element name="ModelParamName" type="xs:string">
					<xs:annotation>
						<xs:documentation>The name of the Model parameter whose value should be mapped to map to this WorkType parameter.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DefaultValue" type="xs:string">
					<xs:annotation>
						<xs:documentation>A default value to specify for the WorkType parameter if no appropriate Model parameter exist to map from.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkModelScript">
		<xs:annotation>
			<xs:documentation>Definition of a work model script</xs:documentation>
		</xs:annotation>
		<xs:attribute name="scriptOperation" type="WorkItemScriptOperation" use="required">
			<xs:annotation>
				<xs:documentation>What work item operation is the script for e.g. OPEN, CLOSE, COMPLETE etc...</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scriptBody" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The body of the script to be run on the specified work item operation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scriptLanguage" type="WorkItemScriptType" use="required">
			<xs:annotation>
				<xs:documentation>The language of the script to be run e.g. JSCRIPT, JYTHON etc...</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scriptLanguageVersion" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The version of the language of the script to be run e.g. 2.2.1, 1.2a etc...</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scriptLanguageExtension" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The file extension of the language of the script to be run e.g. js, py etc...</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scriptTypeID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The ID of the script type used during the use of complex fields in scripts.
					This will either be populated with a task library ID or process ID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkModelScripts">
		<xs:annotation>
			<xs:documentation>Definition of a set of work model scripts.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="WorkModelScript" type="WorkModelScript"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkModelSpecification">
		<xs:annotation>
			<xs:documentation>Specification of a work model, defining the input, output and inout paramaters defined by the model.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dm:DataModel"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WorkModelType">
		<xs:annotation>
			<xs:documentation>Work type definition for a work model, containing the GUID of the work type to reference along with paramater mapping information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="WorkModelMapping" type="WorkModelMapping"/>
		</xs:sequence>
		<xs:attribute name="workTypeID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The unique ID of the work type as generated by the design type environment.   This will be a GUID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The OSGi version range of the required work type.   If omitted the latest version will be used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkModelTypes">
		<xs:annotation>
			<xs:documentation>Complete work type definition for a work model. This includes multiple work type ID references and an expression that determines which work type to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="WorkModelType" type="WorkModelType"/>
		</xs:sequence>
		<xs:attribute name="expression" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The expression that BRM should use to chose one of the WorkModelType objects at runtime.   If no expression is supplied then BRM will always choose the first entry</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WorkTypeList">
		<xs:annotation>
			<xs:documentation>Defines a 'page' of work type objects, which is a window over the entire set of work types defined in BRM.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startPosition" type="xs:long">
				<xs:annotation>
					<xs:documentation>Position (in BRM's complete work type set) of the first work type in the WorkTypeList.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endPosition" type="xs:long">
				<xs:annotation>
					<xs:documentation>Position (in BRM's complete work type set) of the last work type in the WorkTypeList.</xs:documentation>
				</xs:annotation>
				</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="types" type="dm:WorkType">
					<xs:annotation>
					<xs:documentation>Contents of the WorkTypeList (as an array of work types).</xs:documentation>
					</xs:annotation>
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ColumnCapability">
		<xs:annotation>
			<xs:documentation>Enumerated value defining the type of operations supported by a column for work list sorting and/or filtering (e.g. NONE, ORDER, FILTER).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="ORDER"/>
			<xs:enumeration value="FILTER"/>
			<xs:enumeration value="BOTH_ORDER_FILTER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ColumnType">
				<xs:annotation>
			<xs:documentation>Enumerated value defining the type of a work list (e.g. COL_NUMERIC, COL_DATETIME).</xs:documentation>
				</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="COL_UNSPECIFIED"/>
			<xs:enumeration value="COL_NUMERIC"/>
			<xs:enumeration value="COL_STRING"/>
			<xs:enumeration value="COL_DATETIME"/>
			<xs:enumeration value="COL_BOOLEAN"/>
			<xs:enumeration value="COL_STATE"/>
			<xs:enumeration value="COL_DISTSTRATEGY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType final="restriction" name="DistributionStrategy">
				<xs:annotation>
			<xs:documentation>Enumerated value defining the the allowable types of distribution strategy (e.g. OFFER, ALLOCATE).</xs:documentation>
				</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OFFER"/>
			<xs:enumeration value="ALLOCATE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MethodAuthorisationAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="scheduleWorkItem"/>
			<xs:enumeration value="cancelWorkItem"/>
			<xs:enumeration value="suspendWorkItem"/>
			<xs:enumeration value="viewWorkList"/>
			<xs:enumeration value="setResourceOrderFilterCriteria"/>
			<xs:enumeration value="openOtherResourcesItems"/>
			<xs:enumeration value="closeOtherResourcesItems"/>
			<xs:enumeration value="skipWorkItem"/>
			<xs:enumeration value="reallocateWorkItemToWorld"/>
			<xs:enumeration value="reallocateToOfferSet"/>
			<xs:enumeration value="pendWorkItem"/>
			<xs:enumeration value="workItemAllocation"/>
			<xs:enumeration value="autoOpenNextWorkItem"/>
			<xs:enumeration value="rescheduleWorkItem"/>
			<xs:enumeration value="enableWorkItem"/>
			<xs:enumeration value="changeAllocatedWorkItemPriority"/>
			<xs:enumeration value="changeAnyWorkItemPriority"/>
			<xs:enumeration value="viewGlobalWorkList"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MethodAuthorisationComponent">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BRM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResourcesRequiredType">
				<xs:annotation>
			<xs:documentation>Enumerated value defining if specific resources are being requested. Currently the only supported option is ALL.</xs:documentation>
				</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="MINE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ScheduleStatus">
		<xs:annotation>
			<xs:documentation>Enumerated value defining whether a work item is within its schedule period (e.g. BEFORE, DURING, AFTER).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_SCHEDULE"/>
			<xs:enumeration value="BEFORE"/>
			<xs:enumeration value="DURING"/>
			<xs:enumeration value="AFTER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkGroupType">
				<xs:annotation>
			<xs:documentation>Enumerated value defining the the types of work group supported by BRM for implementing group patterns (e.g. CHAINING, SEPARATION_OF_CONCERNS).</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
			<xs:enumeration value="CHAINING"/>
			<xs:enumeration value="SEPARATION_OF_CONCERNS"/>
			<xs:enumeration value="RETAIN_MOST_FAMILIAR"/>
			<xs:enumeration value="RETAIN_FAMILIAR"/>
			<xs:enumeration value="CASE_HANDLING"/>
			<xs:enumeration value="NO_GROUP"/>
				</xs:restriction>
			</xs:simpleType>
	<xs:simpleType name="WorkItemScriptOperation">
			<xs:annotation>
			<xs:documentation>Enumerated value defining the operation on which a work item script is performed (e.g. OPEN, CLOSE, CANCEL).</xs:documentation>
			</xs:annotation>
				<xs:restriction base="xs:string">
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="CLOSE"/>
			<xs:enumeration value="COMPLETE"/>
			<xs:enumeration value="PEND"/>
			<xs:enumeration value="SCHEDULE"/>
			<xs:enumeration value="RESCHEDULE"/>
			<xs:enumeration value="SYSAPPEND"/>
				</xs:restriction>
			</xs:simpleType>
	<xs:simpleType name="WorkItemScriptType">
			<xs:annotation>
			<xs:documentation>Enumerated value defining the type of a work item script (e.g. JSCRIPT, JPYTHON).</xs:documentation>
			</xs:annotation>
				<xs:restriction base="xs:string">
			<xs:enumeration value="JSCRIPT"/>
			<xs:enumeration value="JYTHON"/>
				</xs:restriction>
			</xs:simpleType>
	<xs:simpleType name="WorkItemState">
			<xs:annotation>
			<xs:documentation>Enumerated value defining the current lifecycle state of a work item (e.g. CREATED, OFFERED, ALLOCATED).</xs:documentation>
			</xs:annotation>
						<xs:restriction base="xs:string">
			<xs:enumeration value="CREATED"/>
			<xs:enumeration value="OFFERED"/>
			<xs:enumeration value="ALLOCATED"/>
			<xs:enumeration value="OPENED"/>
			<xs:enumeration value="PENDED"/>
			<xs:enumeration value="PENDHIDDEN"/>
			<xs:enumeration value="SUSPENDED"/>
			<xs:enumeration value="COMPLETED"/>
			<xs:enumeration value="CANCELLED"/>
						</xs:restriction>
					</xs:simpleType>
</xs:schema>
