tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/WSDLBOM48_BOMGenFor_wp_wsdl/presentationmodel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Stephen Young (Tibco Software Ltd) -->
<xs:schema xmlns="http://presentationmodel.common.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://presentationmodel.common.n2.tibco.com">
	<xs:simpleType name="FeedFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="JSON_DOJO_V2"/>
			<xs:enumeration value="JSON_PURE"/>
			<xs:enumeration value="DOJO_ECORE"/>
			<xs:enumeration value="NO_FORMAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FeedMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="XML"/>
			<xs:enumeration value="JSON"/>
			<xs:enumeration value="RSS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SyndicationModel">
		<xs:annotation>
			<xs:documentation>Returns Specified Feed in an xml String (serialized)</xs:documentation>
		</xs:annotation>
		<xs:attribute default="JSON" name="mode" type="FeedMode">
			<xs:annotation>
				<xs:documentation>The Mode requested XML, JSON, RSS for example</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute default="JSON_DOJO_V2" name="format" type="FeedFormat">
			<xs:annotation>
				<xs:documentation>This is the FeedFormat specfic info, i.e DOJO etc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SyndicationFeed">
		<xs:complexContent>
			<xs:extension base="SyndicationModel">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="dataFeed" type="DataFeed"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DataFeed">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
