tbs-bpm/tests/com.tibco.xpd.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/CatchThrowErrorScriptMappingValidationErrors/ScriptValidations/Service Descriptors/ThrowErrorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ThrowErrorService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ThrowErrorService" targetNamespace="http://www.example.org/ThrowErrorService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ThrowErrorService/">
      <xsd:element name="throwError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="throwErrorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperation_fault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NewOperation_fault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="webServiceOperation">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="webServiceOperationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="webServiceOperation_fault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="webServiceOperation_fault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="throwError_fault1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="throwError_fault1"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="throwErrorRequest">
    <wsdl:part element="tns:throwError" name="emptyScript"/>
    <wsdl:part name="invalidScript" type="xsd:string"></wsdl:part>
    <wsdl:part name="validScript" type="xsd:string"></wsdl:part>
    <wsdl:part name="onlyComments" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="throwErrorResponse">
    <wsdl:part element="tns:throwErrorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperation_faultMsg">
  	<wsdl:part name="empty" element="tns:NewOperation_fault"></wsdl:part>
  	<wsdl:part name="invalid" type="xsd:string"></wsdl:part>
  	<wsdl:part name="valid" type="xsd:string"></wsdl:part>
  	<wsdl:part name="onlyComments" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="webServiceOperationRequest">
  	<wsdl:part name="parameters" element="tns:webServiceOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="webServiceOperationResponse">
  	<wsdl:part name="parameters" element="tns:webServiceOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="webServiceOperation_faultMsg">
  	<wsdl:part name="parameters" element="tns:webServiceOperation_fault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="throwError_fault1Msg">
  	<wsdl:part name="parameters" element="tns:throwError_fault1"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ThrowErrorService">
    <wsdl:operation name="throwError">
      <wsdl:input message="tns:throwErrorRequest"/>
      <wsdl:output message="tns:throwErrorResponse"/>
            <wsdl:fault name="fault" message="tns:NewOperation_faultMsg"></wsdl:fault>
            <wsdl:fault name="fault1" message="tns:throwError_fault1Msg"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="webServiceOperation">
    	<wsdl:input message="tns:webServiceOperationRequest"></wsdl:input>
    	<wsdl:output message="tns:webServiceOperationResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:webServiceOperation_faultMsg"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ThrowErrorServiceSOAP" type="tns:ThrowErrorService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="throwError">
      <soap:operation soapAction="http://www.example.org/ThrowErrorService/throwError"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThrowErrorService">
    <wsdl:port binding="tns:ThrowErrorServiceSOAP" name="ThrowErrorServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
