tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/xsd-duplicate-toplevel-names/XSDBOM_Duplicate_07_VarietyOfOnes.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by akos kempelen (T-Systems GEI GmbH) -->
<!-- $Header: 2010/04/28 12:19:30 hdd $ -->
<!-- $Source: /eplus/EAI/config/oldBSS/services/provisioning/schemas/gom.xsd_@@/main/18 $ -->
<!-- @(#)$Revision: Build-Label: EAI-ASR142-0-47P Build-Date: 17-01-2011 $ -->
<!-- $Log:  $ -->
<!--     hdd|2010/04/28 12:19:30|eai_prod|copy-merge eai_asr150 nach Prod -->
<!--     rad|2010/02/18 15:45:11|eai_asr150|Korrektur -->
<!--     hdd|2009/05/28 12:33:05|eai_prod|copy-merge eai_asr145 nach Prod -->
<!--     slv|2009/05/08 14:12:23|eai_asr145|added new element -->
<!--     hdd|2008/08/26 13:02:08|eai_prod|copy-merge eai_asr116 nach Prod -->
<!--     lnt|2008/01/18 9:42:12|eai_asr116|changes -->
<!--     lnt|2008/01/16 16:01:32|eai_asr116|duration -->
<!--     rohn|2007/11/14 15:20:57|eai_asr113|Removed obsolete elements customerActivationDate and contractActivationDate -->
<!--     rohn|2007/08/22 13:37:56|eai_asr113|Added new elements customerActivationDate and contractActivationDate -->
<!--     rohn|2007/08/17 15:22:08|eai_asr113|Added customerActivationInfo and contractActivationInfo elements -->
<!--     lnt|2007/05/09 13:15:00|eai_asr121|prospectiveID -->
<!--     hdd|2006/11/28 12:53:18|eai_prod|copy-merge-FTBASR01 nach Prod -->
<!--     ths|2006/10/06 11:30:34|eai_ftb_asr01|Erweiterungen -->
<!--     ths|2006/10/06 11:24:56|eai_ftb_asr01|Erweiterungen -->
<!--     ths|2006/10/05 16:43:26|eai_ftb_asr01|Erweiterungen -->
<!--     hdd|2006/04/24 11:13:28|eai_prod|copy-merge-GRel -->
<!--     sng|2005/11/10 17:50:47|eai_asr96|UDM-Mehrfachauftragsreferenz ergaenzt -->
<!--     ths|2005/10/28 10:05:42|eai_asr90|Erweiterungen -->
<!--     ths|2005/10/28 10:05:10|eai_asr90|Erweiterungen -->
<!--     ths|2005/10/24 17:07:55|eai_asr90|Erweiterungen -->
<!--     ths|2005/10/17 12:40:35|eai_asr90|Erweiterungen -->
<!--     ths|2005/09/30 17:04:26|eai_asr90|Erweiterungen -->
<!--     ths|2005/09/29 17:33:03|eai_asr90|Erweiterungen -->
<!--     ths|2005/09/23 17:12:19|eai_asr90|Erweiterungen -->
<!--     ths|2005/09/23 17:08:20|eai_asr90|Erweiterungen -->
<!--     ths|2005/09/22 15:53:06|eai_asr90|Erweiterungen -->
<!--     rohn|2005/09/08 12:57:33|eai_asr92|Element Brand kleinschreiben -->
<!--     rohn|2005/08/31 14:49:51|eai_asr92|Laenge 0 bei Element Brand zulaessig -->
<!--     rohn|2005/08/25 13:03:42|eai_asr92|Erweitert um Element Brand -->
<!--     rohn|2005/05/13 17:26:49|eai_cr78|Element employeeFlag verschoben zwischen Element nationality und person_kind wg Istzustand P1transKub bei GP23 -->
<!--     rohn|2005/05/09 17:02:28|eai_cr78|Element person-kind verschoben hinter Element nationality wg Istzustand P1transKub -->
<!--     mau|2005/04/21 17:24:20|eai_cr78|Korrektur neue deleteFlags fuer IMCs -->
<!--     rohn|2005/04/20 16:01:23|eai_cr78|Erweitert um deleteFlagCPF und deleteFlagBNum und takeOverNewRPFlag -->
<!--     mau|2005/03/22 10:19:17|eai_cr78|conditions_id conditions_section_id und rv_provider_id gibt es nicht nur auf Kundenebene sondern jeweils auch auf Vertragsebene -->
<!--     rdr|2005/03/04 16:34:56|eai_cr78|Korrektur -->
<!--     rdr|2005/03/04 13:58:41|eai_cr78|falsche Aenderungen wieder zurueckgenommen -->
<!--     rdr|2005/03/04 13:29:10|eai_cr78|Erweiterungen -->
<!--     mau|2005/02/15 10:33:42|eai_cr78|rkparent von integer auf long geaendert, damit dies der customerID entspricht -->
<!--     mau|2005/02/11 11:29:52|eai_cr78|Pretty Print -->
<!--     mau|2005/02/02 11:17:49|eai_cr78|conditions_id wieder entfernt da info bereits in EVINo enthalten -->
<!--     mau|2005/01/12 16:48:26|eai_cr78|document_type war ueberfluessig siehe identityTypeCode -->
<!--     mau|2005/01/12 15:47:37|eai_cr78|EAI CR78 neue Elemente zu Customer hinzugefuegt -->
<!--     zbk|2004/09/14 10:42:44|eai_prod|Merge CR41 -> prod -->
<!--     ths|2004/05/26 12:43:25|eai_cr41|Erweiterungen -->
<!--     rohn|2004/05/25 17:20:14|eai_cr41|Korrektur Laenge messageID auf 14 Stellen -->
<!--     sng|2004/05/18 18:29:25|eai_cr41|Kommentare ergaenzt -->
<!--     slv|2004/05/18 17:34:02|eai_cr41|Anpassung an Spec -->
<!--     ths|2004/05/13 10:31:50|eai_cr41|Erweiterungen -->
<!--     slv|2004/05/10 16:12:30|eai_cr41|CR41 -->
<!--     slv|2004/05/07 12:39:58|eai_cr41|EAI CR41 Erweiterung um ContractProducts -->
<!--     hdd|2004/03/15 18:29:34|eai_prod|Merge CR15, CR19, CR30 nach Produktion -->
<!--     mau|2003/12/04 14:59:29|eai_cr30|Merge PR125274 -->
<!--     mau|2003/11/07 17:42:39|eai_cr30|Im Kommentar GOM-Datumsformat ergaenzt -->
<!--     mau|2003/11/06 12:44:59|eai_cr30|EAI CR30 Erweiterung um Customer Products -->
<!--     hdd|2003/11/03 14:55:38|eai_prod|copy-merge-eai_imode4prepaid -->
<!--     wbk|2003/07/21 15:28:39|eai_imode4prepaid|DeactivateReason zugefuegt fuer CR24 -->
<!--     wmt|2003/05/28 15:03:32|eai_cr11|merge aus cr9 -->
<!--     wbk|2003/05/08 15:09:09|eai_cr9|actionID zu PromotionType zugefuegt fuer Handset Specific Promotion CR9 -->
<!--     moe|2003/05/20 11:32:20|eai_cr11|Anpassungen fuer CR11 Mobile Office Flag hinzugefuegt -->
<!--     sng|2003/04/29 16:07:45|eai_migwfe|Neue SimpleTypes iModePinType iModeEmailType iModeUserIDType - neue Elemente iModePin iModeEmail iModeUserID -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
Schema Name:  GOM 
Description: The Schema is applied to XML documents that are being parsed to and from the Genric 
Object Model  
-->
	<xs:simpleType name="messageID_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="KUB[0-9]{14,}|TAS[0-9]{14,}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="originalMethodName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:pattern value="[a-z, A-Z]{1,64}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="currentMethodName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:pattern value="[a-z, A-Z]{1,64}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="status_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="FAILED"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="errorCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="errorType_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INFRA"/>
			<xs:enumeration value="APP"/>
			<xs:enumeration value="MAP"/>
			<xs:enumeration value="UNKNOWN"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="errorSeverity_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INFO"/>
			<xs:enumeration value="DEBUG"/>
			<xs:enumeration value="WARNING"/>
			<xs:enumeration value="ERROR"/>
			<xs:enumeration value="FATAL"/>
			<xs:enumeration value="UNKNOWN"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="password_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="industryCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="taxType_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="publicRegisterCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="identityNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="employer_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="billCycle_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="networkCustomerID_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="networkName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="country_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="alias_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="contactFlag_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="networkAdditionalInfo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="saldo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="dunningLevel_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="creditCardCheckSum_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="schufa_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="butlerID_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="EVINo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="salutation_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="surName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="businessName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="givenName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="suffix_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="street_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="streetNo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="zipCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="POBox_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="city_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="region_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="state_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="additionalAddressInfo1_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="additionalAddressInfo2_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="additionalAddressInfo3_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="timeZone_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="jobDescription_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="phone1AreaCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="phone1No_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="phone2AreaCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="phone2No_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="faxAreaCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="faxNo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="email_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="SMSNo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="calculationType_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="accountCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="remark_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="productInstanceDesignType_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NORMAL"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="MAIN"/>
			<xs:enumeration value="GB"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="remarks_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="mobileType_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="IMEI_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="currentSIM_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="newSIM_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="PUK_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="PUK2_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="serviceType_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BASIC"/>
			<xs:enumeration value="SUPP"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="currentMSISDN_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="newMSISDN_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="IMCCode_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="IMCDescription_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="bNumCategory_type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="originatingNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="destinationNumber_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="bankAccountNo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="bankAccountOwner_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="bankNo_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="bankName_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="58"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="taxExemptionReason_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="iModePinType">
		<xs:annotation>
			<xs:documentation>Definition eines Datentypes zur Darstellung einer E-Plus Online PIN. Die PIN muss aus mindestens 6 Zeichen bestehen und darf maximal 10 Zeichen lang sein. Es sind nur Ziffern erlaubt.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="iModeEmailType">
		<xs:annotation>
			<xs:documentation>Definiert den Datentyp zur Darstellung einer Email Adresse.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
			<xs:minLength value="6"/>
			<xs:pattern value="[a-z0-9.\-_@]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="iModeUserIDType">
		<xs:annotation>
			<xs:documentation>Definition des Datentypes zur Darstellung einer User-ID. Eine User-ID darf maximal 200 Zeichen lang sein und muss mindestens aus 3 Zeichen bestehen. Ausserdem existiert eine Einschränkung bezüglich der erlaubten Zeichen.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="200"/>
			<xs:pattern value="[a-z0-9\-_=+.@]+"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="XidType">
		<xs:annotation>
			<xs:documentation>Die XID ist eindeutiger Schluessel fuer das zentrale LDAP</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="31[0-9,'A','B','C','D','E','F']{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:simpleType name="eplusBrand_type">
		<xs:annotation>
			<xs:documentation>Definition des Datentypes einer eplus brand (community).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- -->
	<xs:complexType name="messageType">
		<xs:sequence>
			<xs:element name="messageID" type="messageID_type"/>
			<xs:element name="customers" type="customersType" minOccurs="0"/>
			<xs:element name="kubisRequest" type="kubisRequestType" minOccurs="0"/>
			<xs:element name="originalMethodID" type="xs:short" minOccurs="0"/>
			<xs:element name="originalMethodName" type="originalMethodName_type" minOccurs="0"/>
			<xs:element name="currentMethodID" type="xs:short"/>
			<xs:element name="currentMethodName" type="currentMethodName_type"/>
			<xs:element name="requestDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="status" type="status_type" minOccurs="0"/>
			<xs:element name="transactionInfo" type="transactionInfoType" minOccurs="0"/>
			<xs:element name="messageInfo" type="messageInfoType" minOccurs="0"/>
			<xs:element name="errors" type="errorsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="errorsType">
		<xs:sequence>
			<xs:element name="error" type="errorType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="errorType">
		<xs:sequence>
			<xs:element name="errorCode" type="errorCode_type"/>
			<xs:element name="errorType" type="errorType_type" minOccurs="0"/>
			<xs:element name="errorSeverity" type="errorSeverity_type" minOccurs="0"/>
			<xs:element name="errorShortDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="errorSystemInfo" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customersType">
		<xs:sequence>
			<xs:element name="customer" type="customerType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerType">
		<xs:sequence>
			<xs:element name="customerID" type="xs:long" minOccurs="0"/>
			<xs:element name="customerType" type="xs:string" minOccurs="0"/>
			<xs:element name="customerTariffPlanGroup" type="xs:int" minOccurs="0"/>
			<xs:element name="status" type="xs:string" minOccurs="0"/>
			<xs:element name="prgCode" type="xs:string" minOccurs="0"/>
			<xs:element name="customerTariffPlan" type="tariffPlanType" minOccurs="0"/>
			<xs:element name="customerPassword" type="passwordType" minOccurs="0"/>
			<xs:element name="customerPersonalInfo" type="personalInfoType" minOccurs="0"/>
			<xs:element name="customerBillingInfo" type="billingInfoType" minOccurs="0"/>
			<xs:element name="customerNetworkInfo" type="networkInfoType" minOccurs="0"/>
			<xs:element name="customerAddresses" type="customerAddressesType" minOccurs="0"/>
			<xs:element name="customerAdjustments" type="customerAdjustmentsType" minOccurs="0"/>
			<xs:element name="customerPromotions" type="customerPromotionsType" minOccurs="0"/>
			<xs:element name="productInstanceDesigns" type="productInstanceDesignsType" minOccurs="0"/>
			<xs:element name="customerIMCs" type="IMCsType" minOccurs="0"/>
			<xs:element name="customerAccount" type="accountType" minOccurs="0"/>
			<xs:element name="customerProposal" type="proposalType" minOccurs="0"/>
			<xs:element name="customerProducts" type="customerProductsType" minOccurs="0"/>
			<xs:element name="accountingGroup" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="rkparent" type="xs:long">
							<xs:annotation>
								<xs:documentation>BSCS-ID des Kunden, zu dem Rechnungskreis gehört</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="rkname">
							<xs:annotation>
								<xs:documentation>Bezeichnung des Rechnungskreises</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="40"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="rkstate">
							<xs:annotation>
								<xs:documentation>Rechnungskreis-Status: gesperrt oder frei. Werte "Y" oder "N"</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="rkdefault" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Default-Kennzeichen für den Rechnungskreis, Werte "Y" oder "N"</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="marketingData" type="marketingDataType" minOccurs="0"/>
			<xs:element name="brand" type="eplusBrand_type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>E-Plus Brand, falls es sich um einen Community Tarif handelt. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customerActivationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enthält bei einer durch NORMAN initiierten Kundenanlage Informationen zu einer ggfs. vorgenommenen Wirknetzaktivierung.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="normanFlag" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gibt an, ob es sich um eine Aktivierung durch das NORMAN Ordermanagement System handelt (true) oder nicht (false)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="coreNetActivationFlag" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gibt an, ob eine Wirknetzaktivierung bereits erfolgreich durchgeführt wurd (true) oder nicht (false)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="coreNetActivationDate" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gibt den Zeitpunkt (Datum und Uhrzeit) der Wirknetzaktivierung an</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerProductsType">
		<xs:sequence>
			<xs:element name="customerProduct" type="customerProductType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerProductType">
		<xs:sequence>
			<xs:element name="ProductId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Enthält die Produkt-ID des zu aktivierenden oder zu deaktivierenden Produktes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidFrom" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enthält das Datum, ab dem das Produkt aktiviert sein soll. Dieses Feld muss im Falle einer Produktaktivierung angegeben werden. GOM-Datumsformat: YYYY-MM-DD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidTo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enthält das Datum, bis zu dem das Produkt aktiviert sein soll, bzw. das Datum, ab dem das Produkt deaktiviert sein soll. Dieses Feld muss im Falle einer Produktdeaktivierung angegeben werden. GOM-Datumsformat: YYYY-MM-DD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Charge" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enthält die monatliche Gebühr, die im KUBIS-Frontend eingegeben wurde. Diese Feld muss im Falle einer Produktaktivierung angegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeactReason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enthält den Deaktivierungsgrund. Dieses Feld muss im Falle einer Produktdeaktivierung angegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DealerVPId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enthält die Händler-ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubscriptionFlag" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flag für die Berechnung von Einmalgebühren. Dieses Feld muss im Falle einer Produktaktivierung angegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tariffPlanType">
		<xs:sequence>
			<xs:element name="currentTariffPlanCode" type="xs:long" minOccurs="0"/>
			<xs:element name="newTariffPlanCode" type="xs:long" minOccurs="0"/>
			<xs:element name="takeOverNewRPFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gib an ob bei Vertragsübernahme ein neuer Tarifplan angegeben wurde (true) oder nicht (false).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="passwordType">
		<xs:sequence>
			<xs:element name="password" type="password_type" minOccurs="0"/>
			<xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personalInfoType">
		<xs:sequence>
			<xs:element name="industryCode" type="industryCode_type" minOccurs="0"/>
			<xs:element name="taxType" type="taxType_type" minOccurs="0"/>
			<xs:element name="publicRegisterCode" type="publicRegisterCode_type" minOccurs="0"/>
			<xs:element name="identityTypeCode" type="xs:long" minOccurs="0"/>
			<xs:element name="identityNumber" type="identityNumber_type" minOccurs="0"/>
			<xs:element name="birthDate" type="xs:date" minOccurs="0"/>
			<xs:element name="sex" type="xs:string" minOccurs="0"/>
			<xs:element name="employer" type="employer_type" minOccurs="0"/>
			<xs:element name="maritalStatus" type="xs:long" minOccurs="0"/>
			<xs:element name="nationality" type="xs:long" default="1" minOccurs="0"/>
			<xs:element name="employeeFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="person_kind" minOccurs="0">
				<xs:annotation>
					<xs:documentation>natürliche oder juristische Person Werte "N" oder "J"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="districtcourt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amtsgericht des Firmenkunden</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="legalform" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rechtsform des Firmenkunden</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="conditions_section_id" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Konditionsvereinbarugnen Abschnitts ID</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rv_provider_id" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kundennummer (BSCS-ID) des Rahmenvertrags bereitstellenden Kunden</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="billingInfoType">
		<xs:sequence>
			<xs:element name="invoiceCurrencyID" type="xs:long" default="43" minOccurs="0"/>
			<xs:element name="invoiceConversionType" type="xs:long" default="1" minOccurs="0"/>
			<xs:element name="paymentCurrencyID" type="xs:long" default="43" minOccurs="0"/>
			<xs:element name="paymentConversionType" type="xs:long" default="1" minOccurs="0"/>
			<xs:element name="refundCurrencyID" type="xs:long" default="43" minOccurs="0"/>
			<xs:element name="refundConversionType" type="xs:long" default="1" minOccurs="0"/>
			<xs:element name="billCycle" type="billCycle_type" minOccurs="0"/>
			<xs:element name="billMedium" type="xs:long" minOccurs="0"/>
			<xs:element name="itemBillMedium" type="xs:long" minOccurs="0"/>
			<xs:element name="subscriptionFeeFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="accessFeeFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="softwareFeeFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="billEmail" type="xs:string" minOccurs="0"/>
			<xs:element name="limit" type="xs:double" minOccurs="0"/>
			<xs:element name="termCode" type="xs:long" default="1" minOccurs="0"/>
			<xs:element name="billRedirection" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="networkInfoType">
		<xs:sequence>
			<xs:element name="networkCustomerID" type="networkCustomerID_type" minOccurs="0"/>
			<xs:element name="networkName" type="networkName_type" minOccurs="0"/>
			<xs:element name="country" type="country_type" minOccurs="0"/>
			<xs:element name="alias" type="alias_type" minOccurs="0"/>
			<xs:element name="contactFlag" type="contactFlag_type" minOccurs="0"/>
			<xs:element name="networkAdditionalInfo" type="networkAdditionalInfo_type" minOccurs="0"/>
			<xs:element name="saldo" type="saldo_type" minOccurs="0"/>
			<xs:element name="dunningLevel" type="dunningLevel_type" minOccurs="0"/>
			<xs:element name="creditCardCheckSum" type="creditCardCheckSum_type" minOccurs="0"/>
			<xs:element name="schufa" type="schufa_type" minOccurs="0"/>
			<xs:element name="butlerID" type="butlerID_type" minOccurs="0"/>
			<xs:element name="EVINo" type="EVINo_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerAddressesType">
		<xs:sequence>
			<xs:element name="customerAddress" type="addressType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contractAddressesType">
		<xs:sequence>
			<xs:element name="productInstanceDesignAddress" type="addressType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="salutation" type="salutation_type" minOccurs="0"/>
			<xs:element name="title" type="xs:long" minOccurs="0"/>
			<xs:element name="surName" type="surName_type" minOccurs="0"/>
			<xs:element name="businessName" type="businessName_type" minOccurs="0"/>
			<xs:element name="givenName" type="givenName_type" minOccurs="0"/>
			<xs:element name="suffix" type="suffix_type" minOccurs="0"/>
			<xs:element name="street" type="street_type" minOccurs="0"/>
			<xs:element name="streetNo" type="streetNo_type" minOccurs="0"/>
			<xs:element name="zipCode" type="zipCode_type" minOccurs="0"/>
			<xs:element name="POBox" type="POBox_type" minOccurs="0"/>
			<xs:element name="city" type="city_type" minOccurs="0"/>
			<xs:element name="region" type="region_type" minOccurs="0"/>
			<xs:element name="state" type="state_type" minOccurs="0"/>
			<xs:element name="countryCode" type="xs:long" minOccurs="0"/>
			<xs:element name="languageCode" type="xs:long" minOccurs="0"/>
			<xs:element name="additionalAddressInfo1" type="additionalAddressInfo1_type" minOccurs="0"/>
			<xs:element name="additionalAddressInfo2" type="additionalAddressInfo2_type" minOccurs="0"/>
			<xs:element name="additionalAddressInfo3" type="additionalAddressInfo3_type" minOccurs="0"/>
			<xs:element name="timeZone" type="timeZone_type" minOccurs="0"/>
			<xs:element name="jobDescription" type="jobDescription_type" minOccurs="0"/>
			<xs:element name="phone1AreaCode" type="phone1AreaCode_type" minOccurs="0"/>
			<xs:element name="phone1No" type="phone1No_type" minOccurs="0"/>
			<xs:element name="phone2AreaCode" type="phone2AreaCode_type" minOccurs="0"/>
			<xs:element name="phone2No" type="phone2No_type" minOccurs="0"/>
			<xs:element name="faxAreaCode" type="faxAreaCode_type" minOccurs="0"/>
			<xs:element name="faxNo" type="faxNo_type" minOccurs="0"/>
			<xs:element name="email" type="email_type" minOccurs="0"/>
			<xs:element name="SMSNo" type="SMSNo_type" minOccurs="0"/>
			<xs:element name="addressSinceYears" type="xs:long" minOccurs="0"/>
			<xs:element name="billAddressTempFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="VIPFlag" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hier wird bei einer Vertrags-/Nutzeradresse der KV Entscheider gekennzeichnet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="billAddressFlag" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="itemizedBillAddressFlag" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="userAddressFlag" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="privateAddressFlag" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="directoryAddressFlag" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="shipmentAddressFlag" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="previousAddressFlag" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="productInstanceDesignAddressFlag" type="xs:boolean" default="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerAdjustmentsType">
		<xs:sequence>
			<xs:element name="customerAdjustment" type="adjustmentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contractAdjustmentsType">
		<xs:sequence>
			<xs:element name="productInstanceDesignAdjustment" type="adjustmentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="adjustmentType">
		<xs:sequence>
			<xs:element name="adjustmentType" type="xs:long" minOccurs="0"/>
			<xs:element name="sequenceNo" type="xs:long" minOccurs="0"/>
			<xs:element name="amount" type="xs:double" minOccurs="0"/>
			<xs:element name="calculationType" type="calculationType_type" minOccurs="0"/>
			<xs:element name="currency" type="xs:string" minOccurs="0"/>
			<xs:element name="numberOfPeriods" type="xs:long" default="1" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date" minOccurs="0"/>
			<xs:element name="accountCode" type="accountCode_type" minOccurs="0"/>
			<xs:element name="remark" type="remark_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerPromotionsType">
		<xs:sequence>
			<xs:element name="customerPromotion" type="promotionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contractPromotionsType">
		<xs:sequence>
			<xs:element name="productInstanceDesignPromotion" type="promotionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="promotionType">
		<xs:sequence>
			<xs:element name="currentPromotionID" type="xs:long" minOccurs="0"/>
			<xs:element name="newPromotionID" type="xs:long" minOccurs="0"/>
			<xs:element name="actionID" type="xs:long" minOccurs="0"/>
			<xs:element name="validDate" type="xs:date" minOccurs="0"/>
			<xs:element name="currentSequenceNo" type="xs:long" minOccurs="0"/>
			<xs:element name="newSequenceNo" type="xs:long" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productInstanceDesignsType">
		<xs:sequence>
			<xs:element name="productInstanceDesign" type="productInstanceDesignType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productInstanceDesignType">
		<xs:sequence>
			<xs:element name="currentProductInstanceDesignID" type="xs:long" minOccurs="0"/>
			<xs:element name="newProductInstanceDesignID" type="xs:long" minOccurs="0"/>
			<xs:element name="productInstanceDesignType" type="productInstanceDesignType_type" minOccurs="0"/>
			<xs:element name="itemizedBillFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="eventsArchiveFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="directoryFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="publicDirectoryFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="currencyID" type="xs:long" default="1" minOccurs="0"/>
			<xs:element name="conversionType" type="xs:long" default="1" minOccurs="0"/>
			<xs:element name="eventsAnonymousFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="dealerCode" type="xs:long" default="1003219" minOccurs="0"/>
			<xs:element name="effectiveStartDate" type="xs:date" minOccurs="0"/>
			<xs:element name="period" type="xs:long" default="24" minOccurs="0"/>
			<xs:element name="invoiceCopyFlag" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="changeAddressFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="suspensionFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="remarks" type="remarks_type" minOccurs="0"/>
			<xs:element name="status" type="xs:string" minOccurs="0"/>
			<xs:element name="rollOverMinutes" type="xs:boolean" minOccurs="0"/>
			<xs:element name="mobileType" type="mobileType_type" minOccurs="0"/>
			<xs:element name="mainUDMContractID" type="xs:long" minOccurs="0"/>
			<xs:element name="ALUDMContractID" type="xs:long" minOccurs="0"/>
			<xs:element name="mainOrALProductInstanceDesignID" type="xs:long" minOccurs="0"/>
			<xs:element name="mainOrALCustomerID" type="xs:long" minOccurs="0"/>
			<xs:element name="mainOrALMSISDN" type="xs:string" minOccurs="0"/>
			<xs:element name="Xid" type="XidType" minOccurs="0"/>
			<xs:element name="additionalInfo1" type="productInstanceDesignAdditionalInfo1Type" minOccurs="0"/>
			<xs:element name="additionalInfo2" type="productInstanceDesignAdditionalInfo2Type" minOccurs="0"/>
			<xs:element name="additionalInfo3" type="productInstanceDesignAdditionalInfo3Type" minOccurs="0"/>
			<xs:element name="SIM" type="SIMType" minOccurs="0"/>
			<xs:element name="productInstanceDesignTariffPlan" type="tariffPlanType" minOccurs="0"/>
			<xs:element name="productInstanceDesignAddresses" type="contractAddressesType" minOccurs="0"/>
			<xs:element name="productInstanceDesignAdjustments" type="contractAdjustmentsType" minOccurs="0"/>
			<xs:element name="serviceItems" type="serviceItemsType" minOccurs="0"/>
			<xs:element name="mainMSISDN" type="MSISDNType" minOccurs="0"/>
			<xs:element name="serviceItemPackages" type="serviceItemPackagesType" minOccurs="0"/>
			<xs:element name="BNIMC" type="IMCType" minOccurs="0"/>
			<xs:element name="CPFIMC" type="IMCType" minOccurs="0"/>
			<xs:element name="productInstanceDesignPromotions" type="contractPromotionsType" minOccurs="0"/>
			<xs:element name="productInstanceDesignProposal" type="proposalType" minOccurs="0"/>
			<xs:element name="iModeFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zeigt die iMode-Relevanz an</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iModePin" type="iModePinType" minOccurs="0"/>
			<xs:element name="iModeEmail" type="iModeEmailType" minOccurs="0"/>
			<xs:element name="iModeUserID" type="iModeUserIDType" minOccurs="0"/>
			<xs:element name="MobileOfficeFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zeigt die Mobile Office-Relevanz an</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MobileOfficePackageChange" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gibt bei einem Pakettausch an, dass der Tausch auch fuer Mobile Office relevant ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contractProducts" type="contractProductsType" minOccurs="0"/>
			<xs:element name="conditions_id" minOccurs="0">
				<xs:annotation>
					<xs:documentation>conditions_id auf Vertragsebene (die conditions_id auf Kundenebene siehe EVINo)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="conditions_section_id" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Konditionsvereinbarugnen Abschnitts ID</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rv_provider_id" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kundennummer (BSCS-ID) des Rahmenvertrags bereitstellenden Kunden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contractActivationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enthält bei einer durch NORMAN initiierten Vertragsanlage Informationen zu einer ggfs. vorgenommenen Wirknetzaktivierung. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="normanFlag" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gibt an, ob es sich um eine Aktivierung durch das NORMAN Ordermanagement System handelt (true) oder nicht (false)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="coreNetActivationFlag" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gibt an, ob eine Wirknetzaktivierung bereits erfolgreich durchgeführt wurd (true) oder nicht (false)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="coreNetActivationDate" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Gibt den Zeitpunkt (Datum und Uhrzeit) der Wirknetzaktivierung an</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productInstanceDesignAdditionalInfo1Type">
		<xs:sequence>
			<xs:element name="placeholder1" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder2" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder3" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder4" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder5" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder6" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder7" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder8" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder9" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder10" type="xs:string" minOccurs="0"/>
			<xs:element name="productInstanceDesignPassword" type="passwordType" minOccurs="0"/>
			<xs:element name="placeholder12" type="xs:string" minOccurs="0"/>
			<xs:element name="IMEI" type="IMEI_type" minOccurs="0"/>
			<xs:element name="placeholder14" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder15" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder16" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder17" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder18" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder19" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder20" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder21" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder22" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder23" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder24" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder25" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder26" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder27" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder28" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder29" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder30" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productInstanceDesignAdditionalInfo3Type">
		<xs:sequence>
			<xs:element name="placeholder1" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder2" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder3" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder4" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder5" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder6" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder7" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder8" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder9" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder10" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder11" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder12" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder13" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder14" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder15" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder16" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder17" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder18" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder19" type="xs:string" minOccurs="0"/>
			<xs:element name="placeholder20" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productInstanceDesignAdditionalInfo2Type">
		<xs:sequence>
			<xs:element name="operatorFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="directoryPrintedFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="directoryElectronicFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="VIPFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder5" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder6" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder7" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder8" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder9" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder10" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder11" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder12" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder13" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder14" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder15" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder16" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder17" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder18" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder19" type="xs:boolean" minOccurs="0"/>
			<xs:element name="placeholder20" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SIMType">
		<xs:sequence>
			<xs:element name="currentSIM" type="currentSIM_type" minOccurs="0"/>
			<xs:element name="newSIM" type="newSIM_type" minOccurs="0"/>
			<xs:element name="PUK" type="PUK_type" minOccurs="0"/>
			<xs:element name="PUK2" type="PUK2_type" minOccurs="0"/>
			<xs:element name="IDG" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceItemsType">
		<xs:sequence>
			<xs:element name="serviceItem" type="serviceItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceItemType">
		<xs:sequence>
			<xs:element name="serviceItemCode" type="xs:long" minOccurs="0"/>
			<xs:element name="serviceItemPackage" type="serviceItemPackageType" minOccurs="0"/>
			<xs:element name="serviceItemMSISDN" type="MSISDNType" minOccurs="0"/>
			<xs:element name="parameters" type="xs:string" minOccurs="0"/>
			<xs:element name="subscriptionCharge" type="xs:double" minOccurs="0"/>
			<xs:element name="subscriptionType" type="xs:string" minOccurs="0"/>
			<xs:element name="accessCharge" type="xs:double" minOccurs="0"/>
			<xs:element name="accessType" type="xs:string" minOccurs="0"/>
			<xs:element name="accessPeriod" type="xs:int" minOccurs="0"/>
			<xs:element name="serviceType" type="serviceType_type" minOccurs="0"/>
			<xs:element name="MSISDNcount" type="xs:int" minOccurs="0"/>
			<xs:element name="DeactivateReason" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grund für Dienstdeaktivierung, numerischer Schluessel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceDuration" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="trialDuration" type="serviceDurationType" minOccurs="0"/>
						<xs:element name="minDuration" type="serviceDurationType" minOccurs="0"/>
						<xs:element name="maxDuration" type="serviceDurationType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MSISDNType">
		<xs:sequence>
			<xs:element name="currentMSISDN" type="currentMSISDN_type" minOccurs="0"/>
			<xs:element name="newMSISDN" type="newMSISDN_type" minOccurs="0"/>
			<xs:element name="mainMSISDNFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="niceNumberFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="lengthOfNDC" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceItemPackagesType">
		<xs:sequence>
			<xs:element name="serviceItemPackage" type="serviceItemPackageType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceItemPackageType">
		<xs:sequence>
			<xs:element name="currentServiceItemPackageCode" type="xs:long" minOccurs="0"/>
			<xs:element name="newServiceItemPackageCode" type="xs:long" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IMCsType">
		<xs:sequence>
			<xs:element name="customerIMC" type="IMCType" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IMCType">
		<xs:sequence>
			<xs:element name="IMCCode" type="IMCCode_type" minOccurs="0"/>
			<xs:element name="IMCDescription" type="IMCDescription_type" minOccurs="0"/>
			<xs:element name="numberPairs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="numberPair" type="numberPairsType" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="deleteFlagBNum" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nur zulässig, bei BNIMC Elementen. Wert identisch zum Wert aus deleteFlag. Wird in PerformCondition in WFE benötigt in GP 42. deleteFlag kann nicht verwendet werden, da sowohl in BNIMC als auch in CPFIMC vorhanden und WFE das erste gefundene deleteFlag auswerten würde.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deleteFlagCPF" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nur zulässig, bei CPF Elementen. Wert identisch zum Wert aus deleteFlag. Wird in PerformCondition in WFE benötigt in GP 42. deleteFlag kann nicht verwendet werden, da sowohl in BNIMC als auch in  CPFIMC vorhanden und WFE das erste gefundene deleteFlag auswerten würde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IMCAdjustment" type="adjustmentType" minOccurs="0"/>
			<xs:element name="bNumCategory" type="bNumCategory_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numberPairsType">
		<xs:sequence>
			<xs:element name="originatingNumber" type="originatingNumber_type" default="49-26203" minOccurs="0"/>
			<xs:element name="destinationNumber" type="destinationNumber_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="accountType">
		<xs:sequence>
			<xs:element name="accountID" type="xs:long" minOccurs="0"/>
			<xs:element name="paymentType" type="xs:long" minOccurs="0"/>
			<xs:element name="bankAccountNo" type="bankAccountNo_type" minOccurs="0"/>
			<xs:element name="bankAccountOwner" type="bankAccountOwner_type" minOccurs="0"/>
			<xs:element name="bankNo" type="bankNo_type" minOccurs="0"/>
			<xs:element name="bankName" type="bankName_type" minOccurs="0"/>
			<xs:element name="creditCardAgencyCode" type="xs:long" minOccurs="0"/>
			<xs:element name="creditCardValidDate" type="xs:string" minOccurs="0"/>
			<xs:element name="creditLimit" type="xs:double" default="250.00" minOccurs="0"/>
			<xs:element name="dunningFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="prepaymentFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="taxExemptionFlag" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="taxTypeID" type="xs:short" default="1" minOccurs="0"/>
			<xs:element name="taxExemptionExpirationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="taxExemptionReason" type="taxExemptionReason_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="transactionInfoType">
		<xs:sequence>
			<xs:element name="chargeFlag1" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="chargeFlag2" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="chargeAmount" type="xs:double" minOccurs="0"/>
			<xs:element name="eventCode" type="xs:long" minOccurs="0"/>
			<xs:element name="reasonCode" type="xs:long" minOccurs="0"/>
			<xs:element name="transactionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="brandChange" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kubisRequestType">
		<xs:sequence>
			<xs:element name="correlationCCRID" type="xs:long"/>
			<xs:element name="correlationSeq" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="proposalType">
		<xs:sequence>
			<xs:element name="proposalID" type="xs:string" minOccurs="0"/>
			<xs:element name="proposalDate" type="xs:date" minOccurs="0"/>
			<xs:element name="resellerID" type="xs:long" minOccurs="0"/>
			<xs:element name="prospectiveID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contractProductsType">
		<xs:sequence>
			<xs:element name="contractProduct" type="contractProductType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contractProductType">
		<xs:sequence>
			<xs:element name="productID" type="xs:long" minOccurs="0"/>
			<xs:element name="productTypeID" type="xs:positiveInteger" minOccurs="0"/>
			<xs:element name="periods" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Anzahl der Perioden, die das Produkt zugewiesen sein soll. Der Wert -1 bedeutet unendlich lange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="param" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dieses Feld kann abhängig von der konkreten Implementierung verschiedene Bedeutungen haben.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFrom" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gültigkeitsbeginn des Produktes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validTo" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gültigkeitsende des Produktes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subscriptionCharge" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gebühr in EURO für die Aktivierung bzw. Löschung des Produktes. maximal 2 Nachkommastellen, Dezimaltrennzeichen ist ".", 
Betrag ist >= 0
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="marketingDataType">
		<xs:sequence>
			<xs:element name="useCustomerData" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>true bedeutet, dass der Kunde der Nutzung seiner Kundendaten zugestimmt hat.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="useCallData" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>true bedeutet, dass der Kunde der Nutzung seiner Gespraechsdaten zugestimmt hat.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactChannels" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contactChannel" type="contactChannelType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactChannelType">
		<xs:sequence>
			<xs:element name="channelName">
				<xs:annotation>
					<xs:documentation>Kanal, ueber den der Kunde kontaktiert werden kann. Z.B. SMS</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="allowed" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Flag, ob der eine Kommunikation ueber diesen Kanal durch den Kunden gewuenscht ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="messageInfoType">
		<xs:sequence>
			<xs:element name="udmBoundMfId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UDM interne Mehrfachauftragsreferenz, die relevant ist, wenn mehr als ein Vertrag zu einem Neukunden übernommen werden soll. Der erste Vertrag wird mit GP23 übernommen, alle weiteren mit GP20. Die Referenz BOUND_MFID verweist auf den zugehörigen Mehrfachauftrag in UDM.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceDurationType">
		<xs:sequence>
			<xs:element name="value">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="366"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="unit">
				<xs:annotation>
					<xs:documentation>Unit of value, d day,  m month, y year</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="d"/>
						<xs:enumeration value="m"/>
						<xs:enumeration value="y"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
