tbs-bpm/tests/com.tibco.xpd.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/wsdl/migrated/XSDOneB/XSDTwo/XSDThree/impThreeIncl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/testNew/" elementFormDefault="qualified">
<xsd:complexType name="pType">

<xsd:sequence>

<xsd:element name="p1" type="xsd:string"></xsd:element>
<xsd:element name="p2" type="xsd:string"></xsd:element>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>