tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC1RdParentChildAssociationMappings/Service Descriptors/NewWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="person" type="tns:Person"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
						<xsd:element name="person" type="tns:Person"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="Person">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="CustomerOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cust" type="tns:Customer2">
            			</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CustomerOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
						<xsd:element name="cust" type="tns:Customer2">
            			</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="Customer2">
				<xsd:complexContent>
					<xsd:extension base="tns:Person">
						<xsd:sequence>
							<xsd:element name="id" type="xsd:string">
            				</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="EmpOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="emp" type="tns:Employee">
            			</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
						<xsd:element name="emp" type="tns:Employee">
            			</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="Employee">
				<xsd:complexContent>
					<xsd:extension base="tns:Person">
						<xsd:sequence>
							<xsd:element name="empId" type="xsd:string">
            				</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="tns:NewOperation"/>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="parameters" element="tns:NewOperationResponse"/>
	</wsdl:message>
	<wsdl:message name="CustomerOperationRequest">
		<wsdl:part name="parameters" element="tns:CustomerOperation"/>
	</wsdl:message>
	<wsdl:message name="CustomerOperationResponse">
		<wsdl:part name="parameters" element="tns:CustomerOperationResponse"/>
	</wsdl:message>
	<wsdl:message name="EmpOperationRequest">
		<wsdl:part name="parameters" element="tns:EmpOperation"/>
	</wsdl:message>
	<wsdl:message name="EmpOperationResponse">
		<wsdl:part name="parameters" element="tns:EmpOperationResponse"/>
	</wsdl:message>
	<wsdl:portType name="NewWSDLFile">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest"/>
			<wsdl:output message="tns:NewOperationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CustomerOperation">
			<wsdl:input message="tns:CustomerOperationRequest"/>
			<wsdl:output message="tns:CustomerOperationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="EmpOperation">
			<wsdl:input message="tns:EmpOperationRequest"/>
			<wsdl:output message="tns:EmpOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewWSDLFile" type="tns:NewWSDLFile">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NewOperation">
			<soap:operation soapAction="NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CustomerOperation">
			<soap:operation soapAction="CustomerOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EmpOperation">
			<soap:operation soapAction="EmpOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NewService">
		<wsdl:port name="NewPort" binding="tns:NewWSDLFile">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
