tbs-bpm/AcceptanceTests/PreCompiledSamples/PrecompileTest-2/ProcessAndSubProcess/.precompiled/bom2Xsd/com.example.dataclass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/dataclass" xmlns:tns1="http://example.com/dataclass"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/dataclass">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/ProcessAndSubProcess/Business Objects/DataClass.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="DataClass" id="_FgptQBYAEeO3r4rIOUpwpw" name="DataClass">
    <xsd:sequence>
      <xsd:element ecore:name="text" id="_Gk2VMBYAEeO3r4rIOUpwpw" maxOccurs="1" minOccurs="0"
          name="text">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="integer" id="_JeolwBYAEeO3r4rIOUpwpw" maxOccurs="1"
          minOccurs="0" name="integer" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DataClassElement" type="DataClass"/>
</xsd:schema>