tbs-bpm/AcceptanceTests/AMX-BPM/PreCompileUseCases/Bpm2WithBomRefBpmWithBom/.precompiled/bom2Xsd/com.example.bpm2withbomrefbpmwithbom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://example.com/bpm2withbomrefbpmwithbom" xmlns:tns1="http://example.com/bpm2withbomrefbpmwithbom"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://example.com/bpmwithitsownbomandwsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/bpm2withbomrefbpmwithbom">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/Bpm2WithBomRefBpmWithBom/Business Objects/Bpm2WithBomRefBpmWithBom.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://example.com/bpmwithitsownbomandwsdl" schemaLocation="com.example.bpmwithitsownbomandwsdl.xsd"/>
  <xsd:complexType ecore:name="MyClass1" id="_lYiiYBNxEeWtRPSGZlPMdg" name="MyClass1">
    <xsd:sequence>
      <xsd:element ecore:name="attribute1" id="_lnb6ABNxEeWtRPSGZlPMdg" maxOccurs="1"
          minOccurs="0" name="attribute1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="attribute2" id="_l_ra4BNxEeWtRPSGZlPMdg" maxOccurs="1"
          minOccurs="0" name="attribute2" type="tns2:Class1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MyClass1Element" type="MyClass1"/>
</xsd:schema>