tbs-bpm/product/com.tibco.xpd.process.analyst.feature/plugins/com.tibco.xpd.aris/xslt/ARIS-Export.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	DO NOT EDIT THIS FILE!

	(c) IDS Scheer AG

-->

<!ELEMENT AML (Header-Info, Language+, Prefix*, Database?, LDAPSettings?, User*, UserGroup*, FontStyleSheet*, FFTextDef*, OLEDef*, Group, Delete*)>
<!ELEMENT Header-Info EMPTY>
<!ATTLIST Header-Info
	CreateTime NMTOKEN #IMPLIED
	CreateDate NMTOKEN #IMPLIED
	DatabaseName CDATA #IMPLIED
	UserName CDATA #IMPLIED
	ArisExeVersion (61 | 62 | 70 | 71) #REQUIRED
>

<!--General elements, used by several other elements-->

<!ELEMENT Prefix (#PCDATA) >
<!ATTLIST Prefix
    Default (YES | NO) "NO"
>

<!ELEMENT Blob (#PCDATA)> <!-- Base64 encoded binary data -->

<!ELEMENT Flag (#PCDATA)>

<!ELEMENT GUID (#PCDATA)>
<!ELEMENT FilterGUID (#PCDATA)>
<!ELEMENT MasterGUID (#PCDATA)>
<!ELEMENT TypeGUID (#PCDATA)>
<!ELEMENT TemplateGUID (#PCDATA)>


<!ELEMENT Pen EMPTY>
<!ATTLIST Pen
	Color NMTOKEN #REQUIRED
	Style NMTOKEN #REQUIRED
	Width NMTOKEN #REQUIRED
>

<!ELEMENT Brush EMPTY>
<!ATTLIST Brush
	Color NMTOKEN #REQUIRED
	Style NMTOKEN #IMPLIED
	Hatch NMTOKEN #IMPLIED
	Color2 NMTOKEN #IMPLIED
	BrushType (SOLID | TRANSPARENT | GRADIENT_LEFT | GRADIENT_TOP | GRADIENT_DIAGONAL_TOP_LEFT | GRADIENT_DIAGONAL_BOTTOM_LEFT) "SOLID"
>

<!ELEMENT Size EMPTY>
<!ATTLIST Size
	Size.dX NMTOKEN #REQUIRED
	Size.dY NMTOKEN #REQUIRED
>

<!ELEMENT Position EMPTY>
<!ATTLIST Position
	Pos.X NMTOKEN #REQUIRED
	Pos.Y NMTOKEN #REQUIRED
>
<!--End: General elements-->

<!-- BEGIN: Database -->
<!ELEMENT Database (AttrDef+)>
<!-- END: Database -->

<!--Begin: Language-->

<!ELEMENT Language (LanguageName?, LogFont?)>
<!ATTLIST Language
	Language.ID ID #IMPLIED
	LocaleId NMTOKEN #REQUIRED
	Codepage CDATA #REQUIRED
>

<!ELEMENT LanguageName (#PCDATA)>

<!ELEMENT LogFont EMPTY>
<!ATTLIST LogFont
	FaceName CDATA #REQUIRED
	Height NMTOKEN #REQUIRED
	Width NMTOKEN #REQUIRED
	Escapement NMTOKEN #REQUIRED
	Orientation NMTOKEN #REQUIRED
	Weight NMTOKEN #REQUIRED
	Italic (YES | NO) "NO"
	Underline (YES | NO) "NO"
	StrikeOut (YES | NO) "NO"
	CharSet NMTOKEN #REQUIRED
	OutPrecision NMTOKEN #REQUIRED
	ClipPrecision NMTOKEN #REQUIRED
	Quality NMTOKEN #REQUIRED
	PitchAndFamily NMTOKEN #REQUIRED
	Color NMTOKEN #REQUIRED
>
<!--End: Languge-->

<!ELEMENT LDAPProperty EMPTY>
<!ATTLIST LDAPProperty
    key NMTOKEN #REQUIRED
    value CDATA #REQUIRED
>

<!ELEMENT LDAPSettings (LDAPProperty*)>




<!--Begin of User-Definition-->

<!ELEMENT User (GUID?, AttrDef+, FilterGUID*, Prefix?)>
<!ATTLIST User
	User.ID ID #REQUIRED
	isSystem (true | false) "false"
	Passwd NMTOKEN #IMPLIED
	External NMTOKEN #IMPLIED 
	ExternalID CDATA #IMPLIED
>
<!--End: User-->

<!--Begin of UserGroup-Definition-->
<!ELEMENT UserGroup (GUID?, AttrDef+, FilterGUID*, Prefix?)>
<!ATTLIST UserGroup
	UserGroup.ID ID #REQUIRED
	User.IdRefs IDREFS #IMPLIED
	ExternalIDs CDATA #IMPLIED
>

<!--End: UserGroup-->

<!--Begin of Font-Definition-->

<!ELEMENT FontStyleSheet (GUID?, AttrDef*, FontNode+)>
<!ATTLIST FontStyleSheet
	FontSS.ID ID #REQUIRED
>

<!ELEMENT FontNode EMPTY>
<!ATTLIST FontNode
	LocaleId NMTOKEN #REQUIRED
	FaceName CDATA #REQUIRED
	Height NMTOKEN #REQUIRED
	Width NMTOKEN #REQUIRED
	Escapement NMTOKEN #REQUIRED
	Orientation NMTOKEN #REQUIRED
	Weight NMTOKEN #REQUIRED
	Italic (YES | NO) "NO"
	Underline (YES | NO) "NO"
	StrikeOut (YES | NO) "NO"
	CharSet NMTOKEN #REQUIRED
	OutPrecision NMTOKEN #REQUIRED
	ClipPrecision NMTOKEN #REQUIRED
	Quality NMTOKEN #REQUIRED
	PitchAndFamily NMTOKEN #REQUIRED
	Color NMTOKEN #REQUIRED
>

<!--End: Font-Definition-->

<!ELEMENT ExtCxnDef (GUID?, AttrDef*, ExtCxnDef*)>
<!ATTLIST ExtCxnDef
	ExtCxnDef.ID ID #REQUIRED
	ExtCxnDef.Type NMTOKEN #REQUIRED
	ToDef.IdRef IDREF #REQUIRED
    Reorg (DELETE|NODELETE) "DELETE"
    LastUpdated CDATA #IMPLIED
>


<!ELEMENT CxnDef (GUID?, AttrDef*, ExtCxnDef*)>
<!--Format for CxnDef.Type: CxnBaseType or FromObjType.CxnBaseType.ToObjType-->
<!ATTLIST CxnDef
	CxnDef.ID ID #REQUIRED
	CxnDef.Type NMTOKEN #REQUIRED
	ToObjDef.IdRef IDREF #REQUIRED
	LinkedModels.IdRefs IDREFS #IMPLIED
    Reorg (DELETE|NODELETE) "DELETE"
    LastUpdated CDATA #IMPLIED
>

<!ELEMENT ObjDef (GUID?, MasterGUID?, SymbolGUID?, AttrDef*, CxnDef*, ExtCxnDef*)>
<!ATTLIST ObjDef
	ObjDef.ID ID #REQUIRED
	TypeNum NMTOKEN #REQUIRED
	LinkedModels.IdRefs IDREFS #IMPLIED
	ToCxnDefs.IdRefs IDREFS #IMPLIED
    Reorg (DELETE|NODELETE) "DELETE"
    SubTypeNum NMTOKEN #IMPLIED
    SymbolNum NMTOKEN #IMPLIED
    LastUpdated CDATA #IMPLIED
>
<!--End: ObjDefs-Definition-->
<!--Begin: Attribute Definition-->

<!ELEMENT BackGroundColor EMPTY>
<!ATTLIST BackGroundColor
    Color NMTOKEN #REQUIRED
>
<!ELEMENT Bold EMPTY>
<!ELEMENT Container EMPTY>
<!ELEMENT Enumeration EMPTY>
<!ATTLIST Enumeration
    Type (ORDERED|UNORDERED) #REQUIRED
>
<!ELEMENT Font EMPTY>
<!ATTLIST Font
    Name CDATA #REQUIRED
>
<!ELEMENT Italic EMPTY>
<!ELEMENT SoftHyphen EMPTY>
<!ELEMENT LineBreak EMPTY>
<!ELEMENT Paragraph EMPTY>
<!ATTLIST Paragraph
    Alignment (LEFT|CENTER|RIGHT|UNDEFINED) "UNDEFINED"
    Indent NMTOKEN #IMPLIED
>
<!ELEMENT PlainText EMPTY>
<!ATTLIST PlainText
    TextValue CDATA #REQUIRED
>
<!ELEMENT SizeElement EMPTY>
<!ATTLIST SizeElement
    Value NMTOKEN #IMPLIED
>
<!ELEMENT StrikeThrough EMPTY>
<!ELEMENT TextColor EMPTY>
<!ATTLIST TextColor
    Color NMTOKEN #REQUIRED
>
<!ELEMENT Underline EMPTY>

<!ELEMENT StyledElement ( (BackGroundColor, StyledElement*) |
(Bold, StyledElement*)|
(Container, StyledElement*)|
(Enumeration, StyledElement*)|
(Font, StyledElement*)|
(Italic, StyledElement*)|
SoftHyphen|
LineBreak|
(Paragraph, StyledElement*)|
PlainText|
(SizeElement, StyledElement*)|
(StrikeThrough, StyledElement*)|
(TextColor, StyledElement*)|
(Underline, StyledElement*))>

<!ELEMENT AttrValue ( #PCDATA | StyledElement )* >
<!ATTLIST AttrValue
	LocaleId NMTOKEN #REQUIRED
>
<!ELEMENT AttrDef (AttrValue+)>
<!ATTLIST AttrDef
	AttrDef.ID ID #IMPLIED
	AttrDef.Type NMTOKEN #REQUIRED
>
<!--End: Attribute Definition-->

<!ELEMENT SymbolGUID (#PCDATA)>
<!ELEMENT ExternalGUID (#PCDATA)>

<!--Begin: ObjOcc-Definition-->
<!ELEMENT ObjOcc (SymbolGUID?, Pen?, Brush?, Position?, Size?, ExternalGUID?, CxnOcc*, AttrOcc*, ExtCxnOcc*)>
<!ATTLIST ObjOcc
	ObjOcc.ID ID #REQUIRED
	ObjDef.IdRef IDREF #REQUIRED
	ToCxnOccs.IdRefs IDREFS #IMPLIED
	Zorder NMTOKEN #IMPLIED
	SymbolNum NMTOKEN #REQUIRED
	Active (YES | NO) "YES"
	Shadow (YES | NO) "NO"
	Visible (YES | NO) "YES"
	Expanded (YES | NO) "NO"
	EmbeddingContainer (YES | NO) "NO"
    Hints NMTOKEN #IMPLIED
    SequenceNumber NMTOKEN #IMPLIED
    HasSymbolEffect NMTOKEN #IMPLIED
>
<!--End: ObjOcc-Definition-->

<!--Begin: FFText-Definition-->
<!ELEMENT FFTextOcc (Position?,Size?)>
<!ATTLIST FFTextOcc
	FFTextOcc.ID ID #IMPLIED
	FFTextDef.IdRef IDREF #REQUIRED
	FontSS.IdRef IDREF #IMPLIED
	SymbolFlag (TEXT | SYMBOL | ATTRNAME | ATTRNAME_AND_SYMBOL | POSTIT | SYMBOL_AND_POSTIT | ATTRNAME_AND_POSTIT | ATTRNAME_AND_SYMBOL_AND_POSTIT) #REQUIRED
	Alignment (LEFT | CENTER | RIGHT) "LEFT"
    Zorder NMTOKEN #IMPLIED
>
<!--End: FFText-Definition-->

<!ELEMENT AttrOcc (Size?)>
<!ATTLIST AttrOcc
	AttrOcc.ID ID #IMPLIED
	AttrTypeNum NMTOKEN #REQUIRED
	Port (CENTER | N | NE | E | SE | S | SW | W | NW | NONE | UPPER_MIDDLE | LOWER_MIDDLE | PORT_FREE) #REQUIRED
	OrderNum NMTOKEN #REQUIRED
	Alignment (LEFT | CENTER | RIGHT) "LEFT"
	SymbolFlag (TEXT | SYMBOL | WIDTH_ATTR_NAME | ATTR_NAME_AND_SYMBOL) #REQUIRED
	FontSS.IdRef IDREF #IMPLIED
    OffsetX  NMTOKEN #IMPLIED
    OffsetY  NMTOKEN #IMPLIED
    Rotation NMTOKEN #IMPLIED
>


<!ELEMENT ExtCxnOcc (Pen?, Position*, AttrOcc*, ExtCxnOcc*)>
<!ATTLIST ExtCxnOcc
	ExtCxnOcc.ID ID #REQUIRED
	ExtCxnDef.IdRef IDREF #REQUIRED
	ToOcc.IdRef IDREF #REQUIRED
	Zorder NMTOKEN #IMPLIED
	Active (YES | NO) "YES"
	Diagonal (NO | YES) "NO"
	Visible (YES | NO) "YES"
    Hints NMTOKEN #IMPLIED
>


<!--Begin: CxnOcc-Definition-->
<!ELEMENT CxnOcc (Pen?, Position*, AttrOcc*, ExtCxnOcc*)>
<!ATTLIST CxnOcc
	CxnOcc.ID ID #REQUIRED
	CxnDef.IdRef IDREF #REQUIRED
	ToObjOcc.IdRef IDREF #REQUIRED
	Zorder NMTOKEN #IMPLIED
	Active (YES | NO) "YES"
	Diagonal (NO | YES) "NO"
	Visible (YES | NO) "YES"
	Embedding (YES | NO) "NO"
    Hints NMTOKEN #IMPLIED
    SrcArrow NMTOKEN #IMPLIED
    TgtArrow NMTOKEN #IMPLIED
>
<!--End: CxnOcc-Definition-->
<!--Begin: Lane-Definition-->
<!ELEMENT Lane (GUID?, Pen?, Brush?, AttrDef*)>
<!ATTLIST Lane
	Lane.ID ID #IMPLIED
	Lane.Type NMTOKEN #REQUIRED
	Orientation (VERTICAL | HORIZONTAL) #REQUIRED
	StartBorder NMTOKEN #REQUIRED
	EndBorder NMTOKEN #REQUIRED
>
<!--End: Lane-Definition-->


<!ELEMENT OLEDef (GUID?, Blob, Blob, AttrDef*)> <!-- first blob is Metafile-BLOB; second blob is Data-BLOB -->
<!ATTLIST OLEDef
	OLEDef.ID ID #REQUIRED
    Link CDATA #IMPLIED
    LastUpdated CDATA #IMPLIED
>

<!ELEMENT OLEOcc (Position?, Size?)>
<!ATTLIST OLEOcc
    OLEOcc.ID ID #IMPLIED
    OLEDef.IdRef IDREF #REQUIRED
    Zorder NMTOKEN #IMPLIED

>

<!ELEMENT FFTextDef (GUID?, AttrDef+)>
<!ATTLIST FFTextDef
	FFTextDef.ID ID #REQUIRED
	IsModelAttr (TEXT | MODELATTR) "TEXT"
	LastUpdated CDATA #IMPLIED
>
<!ELEMENT Group (GUID?, AttrDef*, Group*, (ObjDef | Model)*)>
<!ATTLIST Group
	Group.ID ID #REQUIRED
	LastUpdated CDATA #IMPLIED
>

<!ELEMENT Polygon (Position*)>
<!ATTLIST Polygon
    FillStatus (FILLED | TRANSPARENT) "TRANSPARENT"
>

<!ELEMENT RoundedRectangle (Position)>
<!ATTLIST RoundedRectangle
    Shaded (YES | NO) "NO"
>

<!ELEMENT GfxObj (Pen?, Brush?, Position?, Size?, (Polygon | RoundedRectangle))>
<!ATTLIST GfxObj
    GfxObj.ID ID #IMPLIED
    Zorder NMTOKEN #IMPLIED
    HasSymbolEffect NMTOKEN #IMPLIED
>

<!ELEMENT Union (Union*)>
<!ATTLIST Union
    OLEObjOccs.IdRefs IDREFS #IMPLIED
    ObjOccs.IdRefs IDREFS #IMPLIED
    Gfxs.IdRefs IDREFS #IMPLIED
    TextOccs.IdRefs IDREFS #IMPLIED
    Zorder NMTOKEN #IMPLIED
    Flags NMTOKEN #IMPLIED
>

<!--Begin: Model definition-->
<!ELEMENT Model (Flag?, GUID?, MasterGUID?, TypeGUID?, TemplateGUID?, Lane*, AttrDef*, ObjOcc*, FFTextOcc*, GfxObj*, OLEOcc*, Union*)>
<!ATTLIST Model
	Model.ID ID #REQUIRED
	Model.Type NMTOKEN #REQUIRED
	AttrHandling (OVERLAP | RESIZESYM | BREAKATTR | SHORTENATTR) #IMPLIED
	CxnMode (ONLYVERTICAL | ANGULAR) #IMPLIED
	GridUse (NO | YES) #IMPLIED
	GridSize NMTOKEN #IMPLIED
	Scale NMTOKEN #IMPLIED
	PrintScale NMTOKEN #IMPLIED
	BackColor NMTOKEN #IMPLIED
    CurveRadius  NMTOKEN #IMPLIED
    ArcRadius  NMTOKEN #IMPLIED
    LastUpdated CDATA #IMPLIED
>
<!--end of Modeldefinition-->

<!-- PCDATA is GUID of object that should be deleted -->
<!ELEMENT Delete (#PCDATA)>
<!ATTLIST Delete
	Type (GROUP|MODEL|OBJDEF|USER|USERGROUP|CXNDEF) #REQUIRED
>
