tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.sce.n2.test/resources/N2_23_XPD4019XsdFixedTypeAttributeTest/RestRest/Service Descriptors/cmpxRestriction.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/Restriction/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="Restriction" targetNamespace="http://www.example.org/Restriction/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/Restriction/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>

						<xsd:element name="in1" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="InternalAddress" type="tns:InternalAddressType">
			</xsd:element>

			<xsd:complexType name="InternalAddressType">
				<xsd:complexContent>
					<xsd:restriction base="tns:AddressType">
						<xsd:sequence>
						<xsd:element name="Line1" type="xsd:string"></xsd:element>
					<xsd:element name="Line2" minOccurs="0"></xsd:element>
					<xsd:element name="Line3" type="xsd:int" minOccurs="1" nillable="true"></xsd:element>
						<xsd:element name="Line4" minOccurs="0" nillable="true"></xsd:element>
							<xsd:element name="Line5" minOccurs="1" maxOccurs="unbounded" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="LineDT" type="xsd:date" use="required"></xsd:attribute>
					
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>



			
			<xsd:complexType name="InternalAddressType2">
				<xsd:complexContent>
					<xsd:restriction base="tns:InternalAddressType1">
						<xsd:sequence>
							<xsd:element name="Line1" type="xsd:string"></xsd:element>
					
					    	<xsd:element name="Line3" type="xsd:int" minOccurs="1" nillable="true"></xsd:element>
							<!-- Line5 with no multiplicty value --> 
							<xsd:element name="Line5" minOccurs="1" maxOccurs="1" type="xsd:string"></xsd:element>
				        </xsd:sequence>
				        	<xsd:attribute name="LineDT" type="xsd:date" fixed="2012-01-01" use="required"></xsd:attribute>					
						
											
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			
				<xsd:complexType name="InternalAddressType1">
				<xsd:complexContent>
					<xsd:restriction base="tns:AddressType">
						<xsd:sequence>
						<xsd:element name="Line1" type="xsd:string"></xsd:element>
						<xsd:element name="Line2" minOccurs="0"></xsd:element>
						<xsd:element name="Line3" type="xsd:int" minOccurs="1" nillable="true"></xsd:element>
					<xsd:element name="Line5" minOccurs="1" maxOccurs="5" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="LineDT" type="xsd:date" use="required"></xsd:attribute>
					
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			
			
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="Line1" type="xsd:string"></xsd:element>
					<xsd:element name="Line2" minOccurs="0"></xsd:element>
					<xsd:element name="Line3" type="xsd:int" minOccurs="1" nillable="true"></xsd:element>
						<xsd:element name="Line4" minOccurs="0" nillable="true"></xsd:element>
							<xsd:element name="Line5" minOccurs="1" maxOccurs="unbounded" type="xsd:string"></xsd:element>
				</xsd:sequence>
				<xsd:attribute name="LineDT" type="xsd:date" use="required"></xsd:attribute>
			</xsd:complexType>
			<xsd:element name="NewOperationResponse1">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Address1"
				type="tns:InternalAddressType1">
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="tns:InternalAddress"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="parameters" element="tns:InternalAddress"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest1">
		<wsdl:part name="parameters" element="tns:Address1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse1">
		<wsdl:part name="parameters" element="tns:Address1"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="OP1cpmx">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest"></wsdl:input>
			<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="OP2cmpx">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest1"></wsdl:input>
			<wsdl:output message="tns:NewOperationResponse1"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
