tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.test/resources/N258WSDataMapperSchemaNamespaceValidationTest/bdpproj/.bom2Xsd/com.tibco.bds.api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://api.bds.tibco.com" xmlns:tns5="http://api.bds.tibco.com" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.bds.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/bdpproj/Generated Business Objects/com.tibco.bds.api.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType ecore:name="AttributeTypeEnum" id="com.tibco.bds.apiAttributeTypeEnum"
      name="AttributeTypeEnum">
    <xsd:annotation>
      <xsd:documentation>Attribute types </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="ATTRTEXT" value="ATTR_TEXT"/>
      <xsd:enumeration ecore:name="ATTRID" value="ATTR_ID"/>
      <xsd:enumeration ecore:name="ATTRURI" value="ATTR_URI"/>
      <xsd:enumeration ecore:name="ATTRDATE" value="ATTR_DATE"/>
      <xsd:enumeration ecore:name="ATTRTIME" value="ATTR_TIME"/>
      <xsd:enumeration ecore:name="ATTRDATETIME" value="ATTR_DATETIME"/>
      <xsd:enumeration ecore:name="ATTRDATETIMETZ" value="ATTR_DATETIMETZ"/>
      <xsd:enumeration ecore:name="ATTRDURATION" value="ATTR_DURATION"/>
      <xsd:enumeration ecore:name="ATTRINTEGER" value="ATTR_INTEGER"/>
      <xsd:enumeration ecore:name="ATTRDECIMAL" value="ATTR_DECIMAL"/>
      <xsd:enumeration ecore:name="ATTRBOOLEAN" value="ATTR_BOOLEAN"/>
      <xsd:enumeration ecore:name="ATTRENUM" value="ATTR_ENUM"/>
      <xsd:enumeration ecore:name="OBJECT" value="OBJECT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="CaseModelVersionStateEnum" id="com.tibco.bds.apiCaseModelVersionStateEnum"
      name="CaseModelVersionStateEnum">
    <xsd:annotation>
      <xsd:documentation>Enumerated value specifying state of CaseModelVersion. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="INITIAL" value="INITIAL"/>
      <xsd:enumeration ecore:name="INSTALLED" value="INSTALLED"/>
      <xsd:enumeration ecore:name="PENDINGDBAACTIONTOUNINSTALL" value="PENDING_DBA_ACTION_TO_UNINSTALL"/>
      <xsd:enumeration ecore:name="PENDINGDBAACTIONTOINSTALL" value="PENDING_DBA_ACTION_TO_INSTALL"/>
      <xsd:enumeration ecore:name="FAILEDTOUNINSTALL" value="FAILED_TO_UNINSTALL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="DBScriptActionEnum" id="com.tibco.bds.apiDBScriptActionEnum"
      name="DBScriptActionEnum">
    <xsd:annotation>
      <xsd:documentation>Enumerated value specifying state changing actions on Case Model </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="CREATESCRIPTEXECUTED" value="CREATE_SCRIPT_EXECUTED"/>
      <xsd:enumeration ecore:name="UPDATESCRIPTEXECUTED" value="UPDATE_SCRIPT_EXECUTED"/>
      <xsd:enumeration ecore:name="DROPSCRIPTEXECUTED" value="DROP_SCRIPT_EXECUTED"/>
      <xsd:enumeration ecore:name="FREEZECASEDATAMODEL" value="FREEZE_CASE_DATA_MODEL"/>
      <xsd:enumeration ecore:name="UNFREEZECASEDATAMODEL" value="UNFREEZE_CASE_DATA_MODEL"/>
      <xsd:enumeration ecore:name="CLEANUPCOMPLETE" value="CLEANUP_COMPLETE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="SearchOperatorEnum" id="com.tibco.bds.apiSearchOperatorEnum"
      name="SearchOperatorEnum">
    <xsd:annotation>
      <xsd:documentation>Search Operators </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="EQ" value="EQ"/>
      <xsd:enumeration ecore:name="NEQ" value="NEQ"/>
      <xsd:enumeration ecore:name="GT" value="GT"/>
      <xsd:enumeration ecore:name="GTE" value="GTE"/>
      <xsd:enumeration ecore:name="LT" value="LT"/>
      <xsd:enumeration ecore:name="LTE" value="LTE"/>
      <xsd:enumeration ecore:name="SIZEEQ" value="SIZE_EQ"/>
      <xsd:enumeration ecore:name="SIZENEQ" value="SIZE_NEQ"/>
      <xsd:enumeration ecore:name="SIZEGT" value="SIZE_GT"/>
      <xsd:enumeration ecore:name="SIZEGTE" value="SIZE_GTE"/>
      <xsd:enumeration ecore:name="SIZELT" value="SIZE_LT"/>
      <xsd:enumeration ecore:name="SIZELTE" value="SIZE_LTE"/>
      <xsd:enumeration ecore:name="TYPEOF" value="TYPE_OF"/>
      <xsd:enumeration ecore:name="NULL" value="NULL"/>
      <xsd:enumeration ecore:name="NOTNULL" value="NOT_NULL"/>
      <xsd:enumeration ecore:name="BETWEEN" value="BETWEEN"/>
      <xsd:enumeration ecore:name="NOTBETWEEN" value="NOT_BETWEEN"/>
      <xsd:enumeration ecore:name="IN" value="IN"/>
      <xsd:enumeration ecore:name="NOTIN" value="NOT_IN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="SortOrderEnum" id="com.tibco.bds.apiSortOrderEnum" name="SortOrderEnum">
    <xsd:annotation>
      <xsd:documentation>Search Sort Order </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="ASC" value="ASC"/>
      <xsd:enumeration ecore:name="DESC" value="DESC"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ViewDetailsRequirementEnum" id="com.tibco.bds.apiViewDetailsRequirementEnum"
      name="ViewDetailsRequirementEnum">
    <xsd:annotation>
      <xsd:documentation>Determines the required level of detail in a getDataViewDetails request </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="NAME" value="NAME"/>
      <xsd:enumeration ecore:name="NAMEANDDESCRIPTION" value="NAME_AND_DESCRIPTION"/>
      <xsd:enumeration ecore:name="NAMEANDPARAMETERS" value="NAME_AND_PARAMETERS"/>
      <xsd:enumeration ecore:name="NAMEDESCRIPTIONANDPARAMETERS" value="NAME_DESCRIPTION_AND_PARAMETERS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType ecore:name="ParameterValueMultiplicityEnum" id="com.tibco.bds.apiParameterValueMultiplicityEnum"
      name="ParameterValueMultiplicityEnum">
    <xsd:annotation>
      <xsd:documentation>Represents the number of values expected in a named parameter assignment </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:name="ONE" value="ONE"/>
      <xsd:enumeration ecore:name="TWO" value="TWO"/>
      <xsd:enumeration ecore:name="MANY" value="MANY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType ecore:name="AndGroup" id="com.tibco.bds.apiAndGroup" abstract="false"
      mixed="false" name="AndGroup">
    <xsd:annotation>
      <xsd:documentation>Search And Operator Group </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns5:ConditionGroup"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="ConditionGroup" id="com.tibco.bds.apiConditionGroup"
      abstract="true" mixed="false" name="ConditionGroup">
    <xsd:annotation>
      <xsd:documentation>Search Abstract Condition </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns5:LogicalOperator">
        <xsd:sequence>
          <xsd:element ecore:name="condition" id="ConditionGroupcondition" form="unqualified"
              maxOccurs="unbounded" minOccurs="2" name="condition" type="SearchCondition"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="SearchCondition" id="com.tibco.bds.apiSearchCondition"
      abstract="true" mixed="false" name="SearchCondition">
    <xsd:annotation>
      <xsd:documentation>Search - top level condition </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType ecore:name="LogicalOperator" id="com.tibco.bds.apiLogicalOperator"
      abstract="true" mixed="false" name="LogicalOperator">
    <xsd:annotation>
      <xsd:documentation>Search - abstract operator </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns5:SearchCondition"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="AppDetails" id="com.tibco.bds.apiAppDetails" abstract="false"
      mixed="false" name="AppDetails">
    <xsd:annotation>
      <xsd:documentation>Application Details type (name and version) </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="name" id="AppDetailsname" form="unqualified" maxOccurs="1"
          minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="majorVersion" id="AppDetailsmajorVersion" form="unqualified"
          maxOccurs="1" minOccurs="1" name="majorVersion" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AttributeInfo" id="com.tibco.bds.apiAttributeInfo"
      abstract="false" mixed="false" name="AttributeInfo">
    <xsd:annotation>
      <xsd:documentation>Attribute information (part of CaseClassInfo) </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="path" id="AttributeInfopath" form="unqualified" maxOccurs="1"
          minOccurs="1" name="path" type="xsd:string"/>
      <xsd:element ecore:name="label" id="AttributeInfolabel" form="unqualified" maxOccurs="1"
          minOccurs="0" name="label" type="xsd:string"/>
      <xsd:element ecore:name="type" id="AttributeInfotype" form="unqualified" maxOccurs="1"
          minOccurs="1" name="type" type="tns5:AttributeTypeEnum"/>
      <xsd:element ecore:name="enumLiteral" id="AttributeInfoenumLiteral" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="enumLiteral" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="AttributeSearchCondition" id="com.tibco.bds.apiAttributeSearchCondition"
      abstract="false" mixed="false" name="AttributeSearchCondition">
    <xsd:annotation>
      <xsd:documentation>Search Condition </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns5:SearchCondition">
        <xsd:sequence>
          <xsd:element ecore:name="attrPath" id="AttributeSearchConditionattrPath"
              form="unqualified" maxOccurs="1" minOccurs="1" name="attrPath" type="xsd:string"/>
          <xsd:element ecore:name="operator" id="AttributeSearchConditionoperator"
              form="unqualified" maxOccurs="1" minOccurs="1" name="operator" type="tns5:SearchOperatorEnum"/>
          <xsd:element ecore:name="value" id="AttributeSearchConditionvalue" form="unqualified"
              maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
          <xsd:element ecore:name="parameterName" id="AttributeSearchConditionparameterName"
              form="unqualified" maxOccurs="1" minOccurs="0" name="parameterName"
              type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseClassDetails" id="com.tibco.bds.apiCaseClassDetails"
      abstract="false" mixed="false" name="CaseClassDetails">
    <xsd:annotation>
      <xsd:documentation>Details of a case class: its name and major version </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseClass" id="CaseClassDetailscaseClass" form="unqualified"
          maxOccurs="1" minOccurs="1" name="caseClass" type="xsd:string"/>
      <xsd:element ecore:name="majorVersion" id="CaseClassDetailsmajorVersion" form="unqualified"
          maxOccurs="1" minOccurs="1" name="majorVersion" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseClassInfo" id="com.tibco.bds.apiCaseClassInfo"
      abstract="false" mixed="false" name="CaseClassInfo">
    <xsd:annotation>
      <xsd:documentation>Information about a case class: its name and attribute details </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="name" id="CaseClassInfoname" form="unqualified" maxOccurs="1"
          minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="label" id="CaseClassInfolabel" form="unqualified" maxOccurs="1"
          minOccurs="0" name="label" type="xsd:string"/>
      <xsd:element ecore:name="attributeInfo" id="CaseClassInfoattributeInfo" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="attributeInfo" type="AttributeInfo"/>
      <xsd:element ecore:name="appDetails" id="CaseClassInfoappDetails" form="unqualified"
          maxOccurs="1" minOccurs="0" name="appDetails" type="AppDetails"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseClassInfosForApp" id="com.tibco.bds.apiCaseClassInfosForApp"
      abstract="false" mixed="false" name="CaseClassInfosForApp">
    <xsd:sequence>
      <xsd:element ecore:name="appDetails" id="CaseClassInfosForAppappDetails" form="unqualified"
          maxOccurs="1" minOccurs="1" name="appDetails" type="AppDetails"/>
      <xsd:element ecore:name="caseClassInfo" id="CaseClassInfosForAppcaseClassInfo"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="caseClassInfo"
          type="CaseClassInfo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseCriteriaType" id="com.tibco.bds.apiCaseCriteriaType"
      abstract="false" mixed="false" name="CaseCriteriaType">
    <xsd:annotation>
      <xsd:documentation>DQL Criteria for find and navigate by Criteria </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="queryString" id="CaseCriteriaTypequeryString" form="unqualified"
          maxOccurs="1" minOccurs="1" name="queryString" type="xsd:string"/>
      <xsd:element ecore:name="namedParameterAssignment" id="CaseCriteriaTypenamedParameterAssignment"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="namedParameterAssignment"
          type="NamedParameterAssignment"/>
      <xsd:element ecore:name="paginationOptions" id="CaseCriteriaTypepaginationOptions"
          form="unqualified" maxOccurs="1" minOccurs="0" name="paginationOptions"
          type="PaginationOptions"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="NamedParameterAssignment" id="com.tibco.bds.apiNamedParameterAssignment"
      abstract="false" mixed="false" name="NamedParameterAssignment">
    <xsd:annotation>
      <xsd:documentation>Search - parameter assignment </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="name" id="NamedParameterAssignmentname" form="unqualified"
          maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="value" id="NamedParameterAssignmentvalue" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="PaginationOptions" id="com.tibco.bds.apiPaginationOptions"
      abstract="false" mixed="false" name="PaginationOptions">
    <xsd:annotation>
      <xsd:documentation>Search - Pagination options </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="startPosition" id="PaginationOptionsstartPosition"
          form="unqualified" maxOccurs="1" minOccurs="0" name="startPosition" type="xsd:int"/>
      <xsd:element ecore:name="maxResults" id="PaginationOptionsmaxResults" form="unqualified"
          maxOccurs="1" minOccurs="0" name="maxResults" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseDataType" id="com.tibco.bds.apiCaseDataType" abstract="false"
      mixed="false" name="CaseDataType">
    <xsd:annotation>
      <xsd:documentation>Case Reference and Case Payload pair used by read and update operations </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseReference" id="CaseDataTypecaseReference" form="unqualified"
          maxOccurs="1" minOccurs="1" name="caseReference" type="xsd:string"/>
      <xsd:element ecore:name="casePayload" id="CaseDataTypecasePayload" form="unqualified"
          maxOccurs="1" minOccurs="1" name="casePayload" type="xsd:string"/>
      <xsd:element ecore:name="caseMetaData" id="CaseDataTypecaseMetaData" form="unqualified"
          maxOccurs="1" minOccurs="0" name="caseMetaData" type="CaseMetaData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseMetaData" id="com.tibco.bds.apiCaseMetaData" abstract="false"
      mixed="false" name="CaseMetaData">
    <xsd:annotation>
      <xsd:documentation>Details about the case state </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="stateName" id="CaseMetaDatastateName" form="unqualified"
          maxOccurs="1" minOccurs="0" name="stateName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseModelBasicInfoType" id="com.tibco.bds.apiCaseModelBasicInfoType"
      abstract="false" mixed="false" name="CaseModelBasicInfoType">
    <xsd:annotation>
      <xsd:documentation>Case Model Basic Information </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseModelID" id="CaseModelBasicInfoTypecaseModelID"
          form="unqualified" maxOccurs="1" minOccurs="1" name="caseModelID" type="tns5:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="appName" id="CaseModelBasicInfoTypeappName" form="unqualified"
          maxOccurs="1" minOccurs="1" name="appName" type="xsd:string"/>
      <xsd:element ecore:name="majorVersion" id="CaseModelBasicInfoTypemajorVersion"
          form="unqualified" maxOccurs="1" minOccurs="1" name="majorVersion" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseModelType" id="com.tibco.bds.apiCaseModelType"
      abstract="false" mixed="false" name="CaseModelType">
    <xsd:annotation>
      <xsd:documentation>Case Model Full Information </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseModelID" id="CaseModelTypecaseModelID" form="unqualified"
          maxOccurs="1" minOccurs="1" name="caseModelID" type="tns5:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="appName" id="CaseModelTypeappName" form="unqualified"
          maxOccurs="1" minOccurs="1" name="appName" type="xsd:string"/>
      <xsd:element ecore:name="currentVersion" id="CaseModelTypecurrentVersion" form="unqualified"
          maxOccurs="1" minOccurs="1" name="currentVersion" type="xsd:string"/>
      <xsd:element ecore:name="installedVersion" id="CaseModelTypeinstalledVersion"
          form="unqualified" maxOccurs="1" minOccurs="0" name="installedVersion" type="xsd:string"/>
      <xsd:element ecore:name="datetimeDeploymentUpdated" id="CaseModelTypedatetimeDeploymentUpdated"
          form="unqualified" maxOccurs="1" minOccurs="1" name="datetimeDeploymentUpdated"
          type="xsd:dateTime"/>
      <xsd:element ecore:name="createScript" id="CaseModelTypecreateScript" form="unqualified"
          maxOccurs="1" minOccurs="1" name="createScript" type="xsd:string"/>
      <xsd:element ecore:name="updateScript" id="CaseModelTypeupdateScript" form="unqualified"
          maxOccurs="1" minOccurs="0" name="updateScript" type="xsd:string"/>
      <xsd:element ecore:name="dropScript" id="CaseModelTypedropScript" form="unqualified"
          maxOccurs="1" minOccurs="0" name="dropScript" type="xsd:string"/>
      <xsd:element ecore:name="frozenDetails" id="CaseModelTypefrozenDetails" form="unqualified"
          maxOccurs="1" minOccurs="1" name="frozenDetails" type="FreezeDetailsType"/>
      <xsd:element ecore:name="state" id="CaseModelTypestate" form="unqualified" maxOccurs="1"
          minOccurs="1" name="state" type="tns5:CaseModelVersionStateEnum"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="FreezeDetailsType" id="com.tibco.bds.apiFreezeDetailsType"
      abstract="false" mixed="false" name="FreezeDetailsType">
    <xsd:annotation>
      <xsd:documentation>Details about if a given model is frozen and if so by who </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="operationDetails" id="FreezeDetailsTypeoperationDetails"
          form="unqualified" maxOccurs="1" minOccurs="0" name="operationDetails" type="OperationDetailsType"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="isFrozen" id="FreezeDetailsTypeisFrozen" form="unqualified"
        name="isFrozen" type="xsd:boolean" use="required">
      <xsd:annotation>
        <xsd:documentation>True if the case model is frozen and can not be upgrade.  This prevents a case model being updated </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="OperationDetailsType" id="com.tibco.bds.apiOperationDetailsType"
      abstract="false" mixed="false" name="OperationDetailsType">
    <xsd:annotation>
      <xsd:documentation>Details about an operation that was made, including who made it, when it was done and why </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="username" id="OperationDetailsTypeusername" form="unqualified"
          maxOccurs="1" minOccurs="0" name="username">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="225"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="comment" id="OperationDetailsTypecomment" form="unqualified"
          maxOccurs="1" minOccurs="0" name="comment">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="timeOfOperation" id="OperationDetailsTypetimeOfOperation"
          form="unqualified" maxOccurs="1" minOccurs="0" name="timeOfOperation" type="xsd:dateTime"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="userOperation" id="OperationDetailsTypeuserOperation"
        form="unqualified" name="userOperation" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>If the operation was performed by a user or automatically by the system (If unset, deemed to be true - i.e. user operation)  </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="NamedParameterMetadata" id="com.tibco.bds.apiNamedParameterMetadata"
      abstract="false" mixed="false" name="NamedParameterMetadata">
    <xsd:annotation>
      <xsd:documentation>Named parameters and their data types. Only present if requested via viewDetailsRequirement in request. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="name" id="NamedParameterMetadataname" form="unqualified"
          maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="type" id="NamedParameterMetadatatype" form="unqualified"
          maxOccurs="1" minOccurs="1" name="type" type="tns5:AttributeTypeEnum"/>
      <xsd:element ecore:name="multiplicity" id="NamedParameterMetadatamultiplicity"
          form="unqualified" maxOccurs="1" minOccurs="0" name="multiplicity" type="tns5:ParameterValueMultiplicityEnum"/>
      <xsd:element ecore:name="enumLiteral" id="NamedParameterMetadataenumLiteral"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="enumLiteral"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CreateDataViewRequestType" id="com.tibco.bds.apiCreateDataViewRequestType"
      abstract="false" mixed="false" name="CreateDataViewRequestType">
    <xsd:annotation>
      <xsd:documentation>Request type for createDataView </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="viewSpecification" id="CreateDataViewRequestTypeviewSpecification"
          form="unqualified" maxOccurs="1" minOccurs="1" name="viewSpecification"
          type="ViewSpecification"/>
      <xsd:element ecore:name="category" id="CreateDataViewRequestTypecategory" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="category" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ViewSpecification" id="com.tibco.bds.apiViewSpecification"
      abstract="false" mixed="false" name="ViewSpecification">
    <xsd:annotation>
      <xsd:documentation>View Specification Detail </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseClassDetails" id="ViewSpecificationcaseClassDetails"
          form="unqualified" maxOccurs="1" minOccurs="0" name="caseClassDetails" type="CaseClassDetails"/>
      <xsd:element ecore:name="name" id="ViewSpecificationname" form="unqualified"
          maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="description" id="ViewSpecificationdescription" form="unqualified"
          maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element ecore:name="condition" id="ViewSpecificationcondition" form="unqualified"
          maxOccurs="1" minOccurs="0" name="condition" type="SearchCondition"/>
      <xsd:element ecore:name="sortAttribute" id="ViewSpecificationsortAttribute"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="sortAttribute"
          type="SortAttribute"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="SortAttribute" id="com.tibco.bds.apiSortAttribute"
      abstract="false" mixed="false" name="SortAttribute">
    <xsd:annotation>
      <xsd:documentation>Search - sort attribute </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="attrPath" id="SortAttributeattrPath" form="unqualified"
          maxOccurs="1" minOccurs="1" name="attrPath" type="xsd:string"/>
      <xsd:element ecore:name="order" id="SortAttributeorder" form="unqualified" maxOccurs="1"
          minOccurs="1" name="order" type="tns5:SortOrderEnum"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CreateDataViewResponseType" id="com.tibco.bds.apiCreateDataViewResponseType"
      abstract="false" mixed="false" name="CreateDataViewResponseType">
    <xsd:annotation>
      <xsd:documentation>Response type for createDataView </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="viewID" id="CreateDataViewResponseTypeviewID" form="unqualified"
          maxOccurs="1" minOccurs="1" name="viewID" type="tns5:long_StudioGeneratedTemplate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="DeleteDataViewRequestType" id="com.tibco.bds.apiDeleteDataViewRequestType"
      abstract="false" mixed="false" name="DeleteDataViewRequestType">
    <xsd:annotation>
      <xsd:documentation>Request type for deleteDataView </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ecore:name="viewID" id="DeleteDataViewRequestTypeviewID" form="unqualified"
          maxOccurs="1" minOccurs="1" name="viewID" type="tns5:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="viewName" id="DeleteDataViewRequestTypeviewName" form="unqualified"
          maxOccurs="1" minOccurs="1" name="viewName" type="xsd:string"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType ecore:name="DatabaseScriptDetailsType" id="com.tibco.bds.apiDatabaseScriptDetailsType"
      abstract="false" mixed="false" name="DatabaseScriptDetailsType">
    <xsd:annotation>
      <xsd:documentation>Details of all database scripts for a given version of the case model </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="version" id="DatabaseScriptDetailsTypeversion" form="unqualified"
          maxOccurs="1" minOccurs="1" name="version" type="xsd:string"/>
      <xsd:element ecore:name="revision" id="DatabaseScriptDetailsTyperevision" form="unqualified"
          maxOccurs="1" minOccurs="1" name="revision" type="xsd:int"/>
      <xsd:element ecore:name="createScript" id="DatabaseScriptDetailsTypecreateScript"
          form="unqualified" maxOccurs="1" minOccurs="0" name="createScript" type="xsd:string"/>
      <xsd:element ecore:name="updateScript" id="DatabaseScriptDetailsTypeupdateScript"
          form="unqualified" maxOccurs="1" minOccurs="0" name="updateScript" type="xsd:string"/>
      <xsd:element ecore:name="dropScript" id="DatabaseScriptDetailsTypedropScript"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dropScript" type="xsd:string"/>
      <xsd:element ecore:name="operationDetails" id="DatabaseScriptDetailsTypeoperationDetails"
          form="unqualified" maxOccurs="1" minOccurs="1" name="operationDetails" type="OperationDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="EditDataViewRequestType" id="com.tibco.bds.apiEditDataViewRequestType"
      abstract="false" mixed="false" name="EditDataViewRequestType">
    <xsd:annotation>
      <xsd:documentation>Request type for editDataView </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="viewID" id="EditDataViewRequestTypeviewID" form="unqualified"
          maxOccurs="1" minOccurs="1" name="viewID" type="tns5:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="viewSpecification" id="EditDataViewRequestTypeviewSpecification"
          form="unqualified" maxOccurs="1" minOccurs="1" name="viewSpecification"
          type="ViewSpecification"/>
      <xsd:element ecore:name="category" id="EditDataViewRequestTypecategory" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="category" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetAuditInfoRequestType" id="com.tibco.bds.apiGetAuditInfoRequestType"
      abstract="false" mixed="false" name="GetAuditInfoRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required to retrieve a case model's audit details </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="caseModelID" id="GetAuditInfoRequestTypecaseModelID"
        form="unqualified" name="caseModelID" type="tns5:long_StudioGeneratedTemplate"
        use="required">
      <xsd:annotation>
        <xsd:documentation>The internal ID of the case model that the audit information should be retrieved. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetAuditInfoResponseType" id="com.tibco.bds.apiGetAuditInfoResponseType"
      abstract="false" mixed="false" name="GetAuditInfoResponseType">
    <xsd:annotation>
      <xsd:documentation>Details of all audit details for a given case model </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="auditEntry" id="GetAuditInfoResponseTypeauditEntry"
          form="unqualified" maxOccurs="unbounded" minOccurs="1" name="auditEntry"
          type="DatabaseScriptDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseModelBasicInfoRequestType" id="com.tibco.bds.apiGetCaseModelBasicInfoRequestType"
      abstract="false" mixed="false" name="GetCaseModelBasicInfoRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required to retrieve Basic Case Model information </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="appName" id="GetCaseModelBasicInfoRequestTypeappName"
          form="unqualified" maxOccurs="1" minOccurs="0" name="appName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseModelBasicInfoResponseType" id="com.tibco.bds.apiGetCaseModelBasicInfoResponseType"
      abstract="false" mixed="false" name="GetCaseModelBasicInfoResponseType">
    <xsd:annotation>
      <xsd:documentation>Details (basic) of selected Case Model(s) </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseModel" id="GetCaseModelBasicInfoResponseTypecaseModel"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="caseModel"
          type="CaseModelBasicInfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseModelRequestType" id="com.tibco.bds.apiGetCaseModelRequestType"
      abstract="false" mixed="false" name="GetCaseModelRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required to retrieve Full Case Model information </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="appName" id="GetCaseModelRequestTypeappName" form="unqualified"
          maxOccurs="1" minOccurs="0" name="appName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseModelResponseType" id="com.tibco.bds.apiGetCaseModelResponseType"
      abstract="false" mixed="false" name="GetCaseModelResponseType">
    <xsd:annotation>
      <xsd:documentation>Details (full) of selected Case Model(s) </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseModel" id="GetCaseModelResponseTypecaseModel" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="caseModel" type="CaseModelType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseClassInfoRequestType" id="com.tibco.bds.apiGetCaseClassInfoRequestType"
      abstract="false" mixed="false" name="GetCaseClassInfoRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required to retrieve information about Case Classes </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ecore:name="appDetails" id="GetCaseClassInfoRequestTypeappDetails"
            form="unqualified" maxOccurs="1" minOccurs="1" name="appDetails" type="AppDetails"/>
        <xsd:element ecore:name="caseModelID" id="GetCaseClassInfoRequestTypecaseModelID"
            form="unqualified" maxOccurs="1" minOccurs="1" name="caseModelID" type="tns5:long_StudioGeneratedTemplate"/>
      </xsd:choice>
      <xsd:element ecore:name="caseClass" id="GetCaseClassInfoRequestTypecaseClass"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="caseClass"
          type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="includeLabels" id="GetCaseClassInfoRequestTypeincludeLabels"
        default="false" form="unqualified" name="includeLabels" type="xsd:boolean"
        use="optional">
      <xsd:annotation>
        <xsd:documentation>Set true to include labels as well as names in the response (default: false) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="includeAttributes" id="GetCaseClassInfoRequestTypeincludeAttributes"
        default="true" form="unqualified" name="includeAttributes" type="xsd:boolean"
        use="optional">
      <xsd:annotation>
        <xsd:documentation>Set true to include attribute details (rather than just classes) in the response (default: true) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="includeGlobalObjectAttributes" id="GetCaseClassInfoRequestTypeincludeGlobalObjectAttributes"
        default="true" form="unqualified" name="includeGlobalObjectAttributes" type="xsd:boolean"
        use="optional">
      <xsd:annotation>
        <xsd:documentation>Set true to include attributes of contained global objects, as well as the case object itself (default: true). Ignored unless includeAttributes=true. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="includeAppDetails" id="GetCaseClassInfoRequestTypeincludeAppDetails"
        default="false" form="unqualified" name="includeAppDetails" type="xsd:boolean"
        use="optional">
      <xsd:annotation>
        <xsd:documentation>Set true to include app details with each CaseClassInfo in the response. Generally set only when retrieving info for multiple apps. (default: false) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseClassInfoResponseType" id="com.tibco.bds.apiGetCaseClassInfoResponseType"
      abstract="false" mixed="false" name="GetCaseClassInfoResponseType">
    <xsd:annotation>
      <xsd:documentation>Details of selected Case Classes </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseClassInfo" id="GetCaseClassInfoResponseTypecaseClassInfo"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="caseClassInfo"
          type="CaseClassInfo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseReferencesForDataViewRequestType" id="com.tibco.bds.apiGetCaseReferencesForDataViewRequestType"
      abstract="false" mixed="false" name="GetCaseReferencesForDataViewRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required to perform a search/view </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element ecore:name="viewID" id="GetCaseReferencesForDataViewRequestTypeviewID"
            form="unqualified" maxOccurs="1" minOccurs="1" name="viewID" type="tns5:long_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="viewName" id="GetCaseReferencesForDataViewRequestTypeviewName"
            form="unqualified" maxOccurs="1" minOccurs="1" name="viewName" type="xsd:string"/>
        <xsd:element ecore:name="viewDetails" id="GetCaseReferencesForDataViewRequestTypeviewDetails"
            form="unqualified" maxOccurs="1" minOccurs="1" name="viewDetails" type="ViewDetails"/>
      </xsd:choice>
      <xsd:element ecore:name="namedParameterAssignment" id="GetCaseReferencesForDataViewRequestTypenamedParameterAssignment"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="namedParameterAssignment"
          type="NamedParameterAssignment"/>
      <xsd:element ecore:name="sortAttribute" id="GetCaseReferencesForDataViewRequestTypesortAttribute"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="sortAttribute"
          type="SortAttribute"/>
      <xsd:element ecore:name="paginationOptions" id="GetCaseReferencesForDataViewRequestTypepaginationOptions"
          form="unqualified" maxOccurs="1" minOccurs="0" name="paginationOptions"
          type="PaginationOptions"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ViewDetails" id="com.tibco.bds.apiViewDetails" abstract="false"
      mixed="false" name="ViewDetails">
    <xsd:annotation>
      <xsd:documentation>Search - details of a view </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseClassDetails" id="ViewDetailscaseClassDetails"
          form="unqualified" maxOccurs="1" minOccurs="1" name="caseClassDetails" type="CaseClassDetails"/>
      <xsd:element ecore:name="condition" id="ViewDetailscondition" form="unqualified"
          maxOccurs="1" minOccurs="0" name="condition" type="SearchCondition"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetDataViewCategoriesRequestType" id="com.tibco.bds.apiGetDataViewCategoriesRequestType"
      abstract="false" mixed="false" name="GetDataViewCategoriesRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required to obtain category details </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="category" id="GetDataViewCategoriesRequestTypecategory"
          form="unqualified" maxOccurs="unbounded" minOccurs="1" name="category" type="CategorySearchDetails"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CategorySearchDetails" id="com.tibco.bds.apiCategorySearchDetails"
      abstract="false" mixed="false" name="CategorySearchDetails">
    <xsd:annotation>
      <xsd:documentation>Parameters for searching for category(s) </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="name" id="CategorySearchDetailsname" form="unqualified"
          maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element ecore:name="childDepth" id="CategorySearchDetailschildDepth" default="0"
          form="unqualified" maxOccurs="1" minOccurs="0" name="childDepth" type="xsd:int"/>
      <xsd:element ecore:name="childrenOnly" id="CategorySearchDetailschildrenOnly"
          default="false" form="unqualified" maxOccurs="1" minOccurs="0" name="childrenOnly"
          type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="Uncategorized" id="com.tibco.bds.apiUncategorized"
      abstract="false" mixed="false" name="Uncategorized">
    <xsd:annotation>
      <xsd:documentation>Represents a Data View not belonging to a category. </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetDataViewCategoriesResponseType" id="com.tibco.bds.apiGetDataViewCategoriesResponseType"
      abstract="false" mixed="false" name="GetDataViewCategoriesResponseType">
    <xsd:annotation>
      <xsd:documentation>Details of categories </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="category" id="GetDataViewCategoriesResponseTypecategory"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="category" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetDataViewDetailsRequestType" id="com.tibco.bds.apiGetDataViewDetailsRequestType"
      abstract="false" mixed="false" name="GetDataViewDetailsRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required to retrieve Data View(s) </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element ecore:name="viewID" id="GetDataViewDetailsRequestTypeviewID"
            form="unqualified" maxOccurs="1" minOccurs="1" name="viewID" type="tns5:long_StudioGeneratedTemplate"/>
        <xsd:element ecore:name="viewName" id="GetDataViewDetailsRequestTypeviewName"
            form="unqualified" maxOccurs="1" minOccurs="1" name="viewName" type="xsd:string"/>
        <xsd:element ecore:name="appDetails" id="GetDataViewDetailsRequestTypeappDetails"
            form="unqualified" maxOccurs="1" minOccurs="1" name="appDetails" type="AppDetails"/>
        <xsd:element ecore:name="caseClassDetails" id="GetDataViewDetailsRequestTypecaseClassDetails"
            form="unqualified" maxOccurs="1" minOccurs="1" name="caseClassDetails"
            type="CaseClassDetails"/>
        <xsd:element ecore:name="category" id="GetDataViewDetailsRequestTypecategory"
            form="unqualified" maxOccurs="unbounded" minOccurs="1" name="category"
            type="CategorySearchDetails"/>
        <xsd:element ecore:name="uncategorized" id="GetDataViewDetailsRequestTypeuncategorized"
            form="unqualified" maxOccurs="1" minOccurs="1" name="uncategorized" type="Uncategorized"/>
      </xsd:choice>
      <xsd:element ecore:name="viewDetailsRequirement" id="GetDataViewDetailsRequestTypeviewDetailsRequirement"
          form="unqualified" maxOccurs="1" minOccurs="0" name="viewDetailsRequirement"
          type="tns5:ViewDetailsRequirementEnum"/>
      <xsd:element ecore:name="includeAppDetails" id="GetDataViewDetailsRequestTypeincludeAppDetails"
          default="false" form="unqualified" maxOccurs="1" minOccurs="0" name="includeAppDetails"
          type="xsd:boolean"/>
      <xsd:element ecore:name="includeCategories" id="GetDataViewDetailsRequestTypeincludeCategories"
          form="unqualified" maxOccurs="1" minOccurs="0" name="includeCategories"
          type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetDataViewDetailsResponseType" id="com.tibco.bds.apiGetDataViewDetailsResponseType"
      abstract="false" mixed="false" name="GetDataViewDetailsResponseType">
    <xsd:annotation>
      <xsd:documentation>Details of selected Data Views </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="result" id="GetDataViewDetailsResponseTyperesult" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="result" type="ViewSpecificationWithID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="ViewSpecificationWithID" id="com.tibco.bds.apiViewSpecificationWithID"
      abstract="false" mixed="false" name="ViewSpecificationWithID">
    <xsd:annotation>
      <xsd:documentation>One of these will be returned for each matching view, in response to a getDataViewDetails call </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="viewID" id="ViewSpecificationWithIDviewID" form="unqualified"
          maxOccurs="1" minOccurs="1" name="viewID" type="tns5:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="specification" id="ViewSpecificationWithIDspecification"
          form="unqualified" maxOccurs="1" minOccurs="1" name="specification" type="ViewSpecification"/>
      <xsd:element ecore:name="appDetails" id="ViewSpecificationWithIDappDetails"
          form="unqualified" maxOccurs="1" minOccurs="0" name="appDetails" type="AppDetails"/>
      <xsd:element ecore:name="parameter" id="ViewSpecificationWithIDparameter" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="parameter" type="NamedParameterMetadata"/>
      <xsd:element ecore:name="category" id="ViewSpecificationWithIDcategory" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="category" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="LinkResponseType" id="com.tibco.bds.apiLinkResponseType"
      abstract="false" mixed="false" name="LinkResponseType">
    <xsd:annotation>
      <xsd:documentation>Response type for linking (link/unlink) operations </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseReference" id="LinkResponseTypecaseReference" form="unqualified"
          maxOccurs="1" minOccurs="1" name="caseReference" type="xsd:string"/>
      <xsd:element ecore:name="targetCaseReference" id="LinkResponseTypetargetCaseReference"
          form="unqualified" maxOccurs="unbounded" minOccurs="1" name="targetCaseReference"
          type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="NotifyDDLExecutionRequestType" id="com.tibco.bds.apiNotifyDDLExecutionRequestType"
      abstract="false" mixed="false" name="NotifyDDLExecutionRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required for NotifyDDLExecution operation </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseModelID" id="NotifyDDLExecutionRequestTypecaseModelID"
          form="unqualified" maxOccurs="1" minOccurs="1" name="caseModelID" type="tns5:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="databaseScriptAction" id="NotifyDDLExecutionRequestTypedatabaseScriptAction"
          form="unqualified" maxOccurs="1" minOccurs="1" name="databaseScriptAction"
          type="tns5:DBScriptActionEnum"/>
      <xsd:element ecore:name="skipValidation" id="NotifyDDLExecutionRequestTypeskipValidation"
          form="unqualified" maxOccurs="1" minOccurs="0" name="skipValidation" type="xsd:boolean"/>
      <xsd:element ecore:name="operationDetails" id="NotifyDDLExecutionRequestTypeOperationDetails"
          form="unqualified" maxOccurs="1" minOccurs="0" name="OperationDetails" type="OperationDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="OrGroup" id="com.tibco.bds.apiOrGroup" abstract="false"
      mixed="false" name="OrGroup">
    <xsd:annotation>
      <xsd:documentation>Search - Logical OR operator </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns5:ConditionGroup"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="SearchResults" id="com.tibco.bds.apiSearchResults"
      abstract="false" mixed="false" name="SearchResults">
    <xsd:annotation>
      <xsd:documentation>Search - Results </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseReference" id="SearchResultscaseReference" form="unqualified"
          maxOccurs="unbounded" minOccurs="0" name="caseReference" type="xsd:string"/>
      <xsd:element ecore:name="hasMoreResults" id="SearchResultshasMoreResults" form="unqualified"
          maxOccurs="1" minOccurs="0" name="hasMoreResults" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="UpdateDBScriptsRequestType" id="com.tibco.bds.apiUpdateDBScriptsRequestType"
      abstract="false" mixed="false" name="UpdateDBScriptsRequestType">
    <xsd:annotation>
      <xsd:documentation>Details required to a update DB Script </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseModelID" id="UpdateDBScriptsRequestTypecaseModelID"
          form="unqualified" maxOccurs="1" minOccurs="1" name="caseModelID" type="tns5:long_StudioGeneratedTemplate"/>
      <xsd:element ecore:name="createScript" id="UpdateDBScriptsRequestTypecreateScript"
          form="unqualified" maxOccurs="1" minOccurs="0" name="createScript" type="xsd:string"/>
      <xsd:element ecore:name="updateScript" id="UpdateDBScriptsRequestTypeupdateScript"
          form="unqualified" maxOccurs="1" minOccurs="0" name="updateScript" type="xsd:string"/>
      <xsd:element ecore:name="dropScript" id="UpdateDBScriptsRequestTypedropScript"
          form="unqualified" maxOccurs="1" minOccurs="0" name="dropScript" type="xsd:string"/>
      <xsd:element ecore:name="operationDetails" id="UpdateDBScriptsRequestTypeoperationDetails"
          form="unqualified" maxOccurs="1" minOccurs="1" name="operationDetails" type="OperationDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseSummaryRequestType" id="com.tibco.bds.apiGetCaseSummaryRequestType"
      abstract="false" mixed="false" name="GetCaseSummaryRequestType">
    <xsd:annotation>
      <xsd:documentation>Case Reference to get the summary information for </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseReference" id="GetCaseSummaryRequestTypecaseReference"
          form="unqualified" maxOccurs="unbounded" minOccurs="1" name="caseReference"
          type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="includeLabelAndType" id="GetCaseSummaryRequestTypeincludeLabelAndType"
        form="unqualified" name="includeLabelAndType" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>If true, then also include details about the label and type for the attribute in the response. (Default = false - no label or type data returned) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="GetCaseSummaryResponseType" id="com.tibco.bds.apiGetCaseSummaryResponseType"
      abstract="false" mixed="false" name="GetCaseSummaryResponseType">
    <xsd:annotation>
      <xsd:documentation>Case summary information for a given case reference </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseReferenceDetails" id="GetCaseSummaryResponseTypecaseReferenceDetails"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="caseReferenceDetails"
          type="CaseReferenceWithSummaryDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseReferenceWithSummaryDetailsType" id="com.tibco.bds.apiCaseReferenceWithSummaryDetailsType"
      abstract="false" mixed="false" name="CaseReferenceWithSummaryDetailsType">
    <xsd:annotation>
      <xsd:documentation>Case Reference and it's summary details </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="caseReference" id="CaseReferenceWithSummaryDetailsTypecaseReference"
          form="unqualified" maxOccurs="1" minOccurs="1" name="caseReference" type="xsd:string"/>
      <xsd:element ecore:name="details" id="CaseReferenceWithSummaryDetailsTypedetails"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="details" type="CaseSummaryDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType ecore:name="CaseSummaryDetailsType" id="com.tibco.bds.apiCaseSummaryDetailsType"
      abstract="false" mixed="false" name="CaseSummaryDetailsType">
    <xsd:annotation>
      <xsd:documentation>Given set of details for a case summary </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="name" id="CaseSummaryDetailsTypename" form="unqualified"
          maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element ecore:name="label" id="CaseSummaryDetailsTypelabel" form="unqualified"
          maxOccurs="1" minOccurs="0" name="label" type="xsd:string"/>
      <xsd:element ecore:name="value" id="CaseSummaryDetailsTypevalue" form="unqualified"
          maxOccurs="1" minOccurs="0" name="value" type="xsd:string"/>
      <xsd:element ecore:name="type" id="CaseSummaryDetailsTypetype" form="unqualified"
          maxOccurs="1" minOccurs="0" name="type" type="tns5:AttributeTypeEnum"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="isCaseIdentifier" id="CaseSummaryDetailsTypeisCaseIdentifier"
        form="unqualified" name="isCaseIdentifier" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>True if the element is a case identifier (False if not set) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="isCompositeCaseIdentifier" id="CaseSummaryDetailsTypeisCompositeCaseIdentifier"
        form="unqualified" name="isCompositeCaseIdentifier" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>True if the element is a composite case identifier (False if not set) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="isState" id="CaseSummaryDetailsTypeisState" form="unqualified"
        name="isState" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>True if the element is a state (False if not set) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="DeleteCaseByCIDResponse" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="DeleteCaseByRefResponse" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="DeleteDataViewResponse" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="EditDataViewResponse" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="LockCaseResponse" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="NotifyDDLExecutionResponse" nillable="false"
      type="xsd:anyType"/>
  <xsd:element abstract="false" name="UpdateDBScriptsResponse" nillable="false" type="xsd:anyType"/>
  <xsd:element abstract="false" name="CreateDataViewRequest" nillable="false" type="CreateDataViewRequestType"/>
  <xsd:element abstract="false" name="DeleteDataViewRequest" nillable="false" type="DeleteDataViewRequestType"/>
  <xsd:element abstract="false" name="EditDataViewRequest" nillable="false" type="EditDataViewRequestType"/>
  <xsd:element abstract="false" name="GetAuditInfoRequest" nillable="false" type="GetAuditInfoRequestType"/>
  <xsd:element abstract="false" name="GetCaseClassInfoRequest" nillable="false" type="GetCaseClassInfoRequestType"/>
  <xsd:element abstract="false" name="GetCaseModelBasicInfoRequest" nillable="false"
      type="GetCaseModelBasicInfoRequestType"/>
  <xsd:element abstract="false" name="GetCaseModelRequest" nillable="false" type="GetCaseModelRequestType"/>
  <xsd:element abstract="false" name="GetCaseReferencesForDataViewRequest" nillable="false"
      type="GetCaseReferencesForDataViewRequestType"/>
  <xsd:element abstract="false" name="GetDataViewDetailsRequest" nillable="false"
      type="GetDataViewDetailsRequestType"/>
  <xsd:element abstract="false" name="GetDataViewCategoriesRequest" nillable="false"
      type="GetDataViewCategoriesRequestType"/>
  <xsd:element abstract="false" name="NotifyDDLExecutionRequest" nillable="false"
      type="NotifyDDLExecutionRequestType"/>
  <xsd:element abstract="false" name="UpdateDBScriptsRequest" nillable="false" type="UpdateDBScriptsRequestType"/>
  <xsd:element abstract="false" name="GetCaseSummaryRequest" nillable="false" type="GetCaseSummaryRequestType"/>
  <xsd:element abstract="false" name="CreateDataViewResponse" nillable="false" type="CreateDataViewResponseType"/>
  <xsd:element abstract="false" name="FindAllCasesResponse" nillable="false" type="SearchResults"/>
  <xsd:element abstract="false" name="FindCaseByCriteriaResponse" nillable="false"
      type="SearchResults"/>
  <xsd:element abstract="false" name="FindCaseByExampleResponse" nillable="false"
      type="SearchResults"/>
  <xsd:element abstract="false" name="GetAuditInfoResponse" nillable="false" type="GetAuditInfoResponseType"/>
  <xsd:element abstract="false" name="GetCaseClassInfoResponse" nillable="false" type="GetCaseClassInfoResponseType"/>
  <xsd:element abstract="false" name="GetCaseModelBasicInfoResponse" nillable="false"
      type="GetCaseModelBasicInfoResponseType"/>
  <xsd:element abstract="false" name="GetCaseModelResponse" nillable="false" type="GetCaseModelResponseType"/>
  <xsd:element abstract="false" name="GetCaseReferencesForDataViewResponse" nillable="false"
      type="SearchResults"/>
  <xsd:element abstract="false" name="GetDataViewCategoriesResponse" nillable="false"
      type="GetDataViewCategoriesResponseType"/>
  <xsd:element abstract="false" name="GetDataViewDetailsResponse" nillable="false"
      type="GetDataViewDetailsResponseType"/>
  <xsd:element abstract="false" name="LinkCaseResponse" nillable="false" type="LinkResponseType"/>
  <xsd:element abstract="false" name="NavigateCaseByCriteriaResponse" nillable="false"
      type="SearchResults"/>
  <xsd:element abstract="false" name="NavigateCaseResponse" nillable="false" type="SearchResults"/>
  <xsd:element abstract="false" name="UnlinkCaseResponse" nillable="false" type="LinkResponseType"/>
  <xsd:element abstract="false" name="ViewDetails" nillable="false" type="ViewDetails"/>
  <xsd:element abstract="false" name="GetCaseSummaryResponse" nillable="false" type="GetCaseSummaryResponseType"/>
  <xsd:element abstract="false" name="CreateCaseRequest" nillable="false">
    <xsd:complexType ecore:name="CreateCaseRequestType" id="com.tibco.bds.apiCreateCaseRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseType" form="unqualified" maxOccurs="1" minOccurs="1"
            name="caseType" type="xsd:string"/>
        <xsd:element ecore:name="caseModelVersion" form="unqualified" maxOccurs="1"
            minOccurs="1" name="caseModelVersion" type="xsd:string"/>
        <xsd:element ecore:name="casePayload" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="casePayload" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="DeleteCaseByCIDRequest" nillable="false">
    <xsd:complexType ecore:name="DeleteCaseByCIDRequestType" id="com.tibco.bds.apiDeleteCaseByCIDRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseModelVersion" form="unqualified" maxOccurs="1"
            minOccurs="1" name="caseModelVersion" type="xsd:string"/>
        <xsd:element ecore:name="caseType" form="unqualified" maxOccurs="1" minOccurs="1"
            name="caseType" type="xsd:string"/>
        <xsd:element ecore:name="casePayload" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="casePayload" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="DeleteCaseByRefRequest" nillable="false">
    <xsd:complexType ecore:name="DeleteCaseByRefRequestType" id="com.tibco.bds.apiDeleteCaseByRefRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseReference" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseReference" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FindAllCasesRequest" nillable="false">
    <xsd:complexType ecore:name="FindAllCasesRequestType" id="com.tibco.bds.apiFindAllCasesRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseModelVersion" form="unqualified" maxOccurs="1"
            minOccurs="1" name="caseModelVersion" type="xsd:string"/>
        <xsd:element ecore:name="caseType" form="unqualified" maxOccurs="1" minOccurs="1"
            name="caseType" type="xsd:string"/>
        <xsd:element ecore:name="queryOptions" form="unqualified" maxOccurs="1" minOccurs="0"
            name="queryOptions" type="PaginationOptions"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FindCaseByCIDRequest" nillable="false">
    <xsd:complexType ecore:name="FindCaseByCIDRequestType" id="com.tibco.bds.apiFindCaseByCIDRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseModelVersion" form="unqualified" maxOccurs="1"
            minOccurs="1" name="caseModelVersion" type="xsd:string"/>
        <xsd:element ecore:name="caseType" form="unqualified" maxOccurs="1" minOccurs="1"
            name="caseType" type="xsd:string"/>
        <xsd:element ecore:name="casePayload" form="unqualified" maxOccurs="1" minOccurs="1"
            name="casePayload" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FindCaseByCriteriaRequest" nillable="false">
    <xsd:complexType ecore:name="FindCaseByCriteriaRequestType" id="com.tibco.bds.apiFindCaseByCriteriaRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseModelVersion" form="unqualified" maxOccurs="1"
            minOccurs="1" name="caseModelVersion" type="xsd:string"/>
        <xsd:element ecore:name="caseType" form="unqualified" maxOccurs="1" minOccurs="1"
            name="caseType" type="xsd:string"/>
        <xsd:element ecore:name="criteria" form="unqualified" maxOccurs="1" minOccurs="1"
            name="criteria" type="CaseCriteriaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FindCaseByExampleRequest" nillable="false">
    <xsd:complexType ecore:name="FindCaseByExampleRequestType" id="com.tibco.bds.apiFindCaseByExampleRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseModelVersion" form="unqualified" maxOccurs="1"
            minOccurs="1" name="caseModelVersion" type="xsd:string"/>
        <xsd:element ecore:name="caseType" form="unqualified" maxOccurs="1" minOccurs="1"
            name="caseType" type="xsd:string"/>
        <xsd:element ecore:name="casePayload" form="unqualified" maxOccurs="1" minOccurs="1"
            name="casePayload" type="xsd:string"/>
        <xsd:element ecore:name="queryOptions" form="unqualified" maxOccurs="1" minOccurs="0"
            name="queryOptions" type="PaginationOptions"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="LinkCaseRequest" nillable="false">
    <xsd:complexType ecore:name="LinkCaseRequestType" id="com.tibco.bds.apiLinkCaseRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="sourceCaseReference" form="unqualified" maxOccurs="1"
            minOccurs="1" name="sourceCaseReference" type="xsd:string"/>
        <xsd:element ecore:name="targetCaseReference" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="targetCaseReference" type="xsd:string"/>
        <xsd:element ecore:name="targetRoleName" form="unqualified" maxOccurs="1"
            minOccurs="1" name="targetRoleName" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="LockCaseRequest" nillable="false">
    <xsd:complexType ecore:name="LockCaseRequestType" id="com.tibco.bds.apiLockCaseRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseReferences" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseReferences" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NavigateCaseByCriteriaRequest" nillable="false">
    <xsd:complexType ecore:name="NavigateCaseByCriteriaRequestType" id="com.tibco.bds.apiNavigateCaseByCriteriaRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="sourceCaseReference" form="unqualified" maxOccurs="1"
            minOccurs="1" name="sourceCaseReference" type="xsd:string"/>
        <xsd:element ecore:name="targetRoleName" form="unqualified" maxOccurs="1"
            minOccurs="1" name="targetRoleName" type="xsd:string"/>
        <xsd:element ecore:name="targetCaseCriteria" form="unqualified" maxOccurs="1"
            minOccurs="1" name="targetCaseCriteria" type="CaseCriteriaType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NavigateCaseRequest" nillable="false">
    <xsd:complexType ecore:name="NavigateCaseRequestType" id="com.tibco.bds.apiNavigateCaseRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="sourceCaseReference" form="unqualified" maxOccurs="1"
            minOccurs="1" name="sourceCaseReference" type="xsd:string"/>
        <xsd:element ecore:name="targetRoleName" form="unqualified" maxOccurs="1"
            minOccurs="1" name="targetRoleName" type="xsd:string"/>
        <xsd:element ecore:name="queryOptions" form="unqualified" maxOccurs="1" minOccurs="0"
            name="queryOptions" type="PaginationOptions"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ReadCaseRequest" nillable="false">
    <xsd:complexType ecore:name="ReadCaseRequestType" id="com.tibco.bds.apiReadCaseRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseReference" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseReference" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute ecore:name="includeCaseMetaData" id="ReadCaseRequestTypeincludeCaseMetaData"
          form="unqualified" name="includeCaseMetaData" type="xsd:boolean" use="optional">
        <xsd:annotation>
          <xsd:documentation>If the case meta data (including the name of the attribute containing the state) should be included in the response (Default = false) </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="UnlinkCaseRequest" nillable="false">
    <xsd:complexType ecore:name="UnlinkCaseRequestType" id="com.tibco.bds.apiUnlinkCaseRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="sourceCaseReference" form="unqualified" maxOccurs="1"
            minOccurs="1" name="sourceCaseReference" type="xsd:string"/>
        <xsd:element ecore:name="targetCaseReference" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="targetCaseReference" type="xsd:string"/>
        <xsd:element ecore:name="targetRoleName" form="unqualified" maxOccurs="1"
            minOccurs="1" name="targetRoleName" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="UpdateCaseRequest" nillable="false">
    <xsd:complexType ecore:name="UpdateCaseRequestType" id="com.tibco.bds.apiUpdateCaseRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseData" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseData" type="CaseDataType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="UpdateCasesWithLockRequest" nillable="false">
    <xsd:complexType ecore:name="UpdateCasesWithLockRequestType" id="com.tibco.bds.apiUpdateCasesWithLockRequestType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseData" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseData" type="CaseDataType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="CreateCaseResponse" nillable="false">
    <xsd:complexType ecore:name="CreateCaseResponseType" id="com.tibco.bds.apiCreateCaseResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseReference" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseReference" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="FindCaseByCIDResponse" nillable="false">
    <xsd:complexType ecore:name="FindCaseByCIDResponseType" id="com.tibco.bds.apiFindCaseByCIDResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseReference" form="unqualified" maxOccurs="1" minOccurs="0"
            name="caseReference" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="ReadCaseResponse" nillable="false">
    <xsd:complexType ecore:name="ReadCaseResponseType" id="com.tibco.bds.apiReadCaseResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseData" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseData" type="CaseDataType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="UpdateCaseResponse" nillable="false">
    <xsd:complexType ecore:name="UpdateCaseResponseType" id="com.tibco.bds.apiUpdateCaseResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseReference" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseReference" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="UpdateCasesWithLockResponse" nillable="false">
    <xsd:complexType ecore:name="UpdateCasesWithLockResponseType" id="com.tibco.bds.apiUpdateCasesWithLockResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="caseReference" form="unqualified" maxOccurs="unbounded"
            minOccurs="1" name="caseReference" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>