tbs-bpm/tests/com.tibco.sce.bds.designtime.test.feature/plugins/com.tibco.sce.bds.designtime.generator.test/src/com/tibco/bds/designtime/generator/test/resources/wsdlimport/import/CoverageNo03/IncludedXSD2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.amsbqa.com/linda03/XSD1IncludesXSD2_Both_Define_Types03/"
	 targetNamespace="http://www.amsbqa.com/linda03/XSD1IncludesXSD2_Both_Define_Types03/"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:simpleType name="myType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="fooType">
		<xs:simpleContent>
			<xs:extension base="myType">
				<xs:attribute name="myAttr" type="xs:anySimpleType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>