tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd-group/gold/builder/XSDBOM_Group02_NestedGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM_Group02_NestedGroup" xmlns:tns1="http://www.example.org/XSDBOM_Group02_NestedGroup"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM_Group02_NestedGroup">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XSDBOM_Group02_NestedGroup/Business Objects/org.example.XSDBOM_Group02_NestedGroup.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="PersonDetails" id="org.example.XSDBOM_Group02_NestedGroupPersonDetails"
      abstract="false" mixed="false" name="PersonDetails">
    <xsd:sequence>
      <xsd:element ecore:name="firstname" id="PersonDetailsfirstname" form="qualified"
          maxOccurs="1" minOccurs="1" name="firstname" type="xsd:string"/>
      <xsd:element ecore:name="surname" id="PersonDetailssurname" form="qualified"
          maxOccurs="1" minOccurs="1" name="surname" type="xsd:string"/>
      <xsd:element ecore:name="email" id="PersonDetailsemail" form="qualified" maxOccurs="1"
          minOccurs="1" name="email" type="xsd:string"/>
      <xsd:sequence>
        <xsd:element ecore:name="bankName" id="PersonDetailsbankName" form="qualified"
            maxOccurs="1" minOccurs="1" name="bankName" type="xsd:string"/>
        <xsd:element ecore:name="accountNumber" id="PersonDetailsaccountNumber" form="qualified"
            maxOccurs="1" minOccurs="1" name="accountNumber" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>