tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.sce.n2.test/resources/N258WSDataMapperSchemaNamespaceValidationTest/bdpproj/.bom2Xsd/org.example.FaultWSDLFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/FaultWSDLFile/" xmlns:tns1="http://www.example.org/FaultWSDLFile/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FaultWSDLFile/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/bdpproj/Generated Business Objects/org.example.FaultWSDLFile.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="CheckFaultOperationInput" nillable="false">
    <xsd:complexType ecore:name="CheckFaultOperationInputType" id="org.example.FaultWSDLFileCheckFaultOperationInputType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="CheckFaultOperationResponse" nillable="false">
    <xsd:complexType ecore:name="CheckFaultOperationResponseType" id="org.example.FaultWSDLFileCheckFaultOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="CheckFaultOperationFault" nillable="false">
    <xsd:complexType ecore:name="CheckFaultOperationFaultType" id="org.example.FaultWSDLFileCheckFaultOperationFaultType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="checkFaultName" form="unqualified" maxOccurs="1"
            minOccurs="1" name="checkFaultName" type="xsd:string"/>
        <xsd:element ecore:name="checkFaultID" form="unqualified" maxOccurs="1" minOccurs="1"
            name="checkFaultID" type="xsd:int"/>
        <xsd:element ecore:name="checkFaultIsValid" form="unqualified" maxOccurs="1"
            minOccurs="1" name="checkFaultIsValid" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>