tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/XSDBOM_TLE21_TopLevelWithAnonymousMinMaxAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/TopLevelAnonymousMinMax" targetNamespace="http://example.com/TopLevelAnonymousMinMax">
	 
	
            <xs:element name="Buckets">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Bucket">
                            <xs:complexType>
                                <xs:sequence>                                  
                                    <xs:element minOccurs="0" name="Averages" type="Price"/>                                    
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="1" maxOccurs="6" name="elem2" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:complexType name="Price">
                <xs:sequence>
                   
                </xs:sequence>
            </xs:complexType>
          
</xs:schema>
