tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/XSDBOM_TLE19_ChainLink2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://XSDBOM_TLE19_ChainLink2"
	 elementFormDefault="qualified"
	 xmlns:link3="http://XSDBOM_TLE19_ChainLink3">

	<import namespace="http://XSDBOM_TLE19_ChainLink3"
		schemaLocation="XSDBOM_TLE19_ChainLink3.xsd"></import>

	<complexType name="referencedComplex">
		<sequence></sequence>
	</complexType>

	<simpleType name="referencedSimple">
		<restriction base="string"></restriction>
	</simpleType>

	<simpleType name="referencedEnum">
		<restriction base="string">
			<enumeration value="ENUMLIT"></enumeration>
		</restriction>
	</simpleType>

	<element name="referencedElem4" type="link3:referenced2Complex"></element>
	<element name="referencedElem5" type="link3:referenced2Simple"></element>
	<element name="referencedElem6" type="link3:referenced2Enum"></element>

</schema>