tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/tle/xsd/XSDBOM_TLE02_ComplexElementType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/XSDBOM_TLE2_ComplexElementType"
	xmlns:tns="http://www.example.org/XSDBOM_TLE2_ComplexElementType"
	elementFormDefault="qualified">

	<!--
		Tests 3.3 as described in 'BDS Support for Handling - Studio BOM
		Import'.
	-->

	<element name="PersonElement" type="tns:Person"></element>

	<complexType name="Person">
		<sequence>
			<element name="name" minOccurs="1" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<maxLength value="50"></maxLength>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

</schema>