tbs-bpm/tests/com.tibco.sce.n2.test.feature/plugins/com.tibco.xpd.n2.mappings.validation.test/resources/XSDAnyUserDefinedMappings/XSDAny/Service Descriptors/PetRegister.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/PetRegister/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PetRegister"
	targetNamespace="http://www.example.org/PetRegister/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/PetRegister/">

			<xsd:complexType name="Cat">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="breed" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Fish">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="saltWater" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetLastRescuedPet">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rescueHomeName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetLastRescuedPetResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rescueHomeName" type="xsd:string" />
						<xsd:any namespace="##any" processContents="lax" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegisterPetWithVet">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rescueHomeName" type="xsd:string" />
						<xsd:any namespace="##any" processContents="lax" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegisterPetWithVetResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rescueHomeName" type="xsd:string" />
						<xsd:element name="petType" type="xsd:string"/>
						<xsd:element name="registered" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetLastRescuedPetRequest">
		<wsdl:part element="tns:GetLastRescuedPet" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetLastRescuedPetResponse">
		<wsdl:part element="tns:GetLastRescuedPetResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RegisterPetWithVetRequest">
		<wsdl:part name="parameters" element="tns:RegisterPetWithVet"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegisterPetWithVetResponse">
		<wsdl:part name="parameters" element="tns:RegisterPetWithVetResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PetRegister">
		<wsdl:operation name="GetLastRescuedPet">
			<wsdl:input message="tns:GetLastRescuedPetRequest" />
			<wsdl:output message="tns:GetLastRescuedPetResponse" />
		</wsdl:operation>
		<wsdl:operation name="RegisterPetWithVet">
			<wsdl:input message="tns:RegisterPetWithVetRequest"></wsdl:input>
			<wsdl:output message="tns:RegisterPetWithVetResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PetRegisterSOAP" type="tns:PetRegister">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetLastRescuedPet">
			<soap:operation
				soapAction="http://www.example.org/PetRegister/GetLastRescuedPet" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RegisterPetWithVet">
			<soap:operation
				soapAction="http://www.example.org/PetRegister/RegisterPetWithVet" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PetRegister">
		<wsdl:port binding="tns:PetRegisterSOAP" name="PetRegisterSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
