tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.xpd.bom.test/test-resources/WSDL-AMXBPM-API/WSDL03/services/de-browse-service.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Adrian Hussey (Tibco Software Ltd) -->
<xs:schema xmlns="http://browse.api.de.n2.tibco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:orgdto="http://api.organisation.common.n2.tibco.com" xmlns:de="http://api.de.n2.tibco.com" targetNamespace="http://browse.api.de.n2.tibco.com" version="1.0">
	<xs:import namespace="http://api.organisation.common.n2.tibco.com" schemaLocation="organisation.xsd"/>
	<xs:import namespace="http://api.de.n2.tibco.com" schemaLocation="de.xsd"/>


	<xs:element name="listCapabilities">
		<xs:annotation>
			<xs:documentation>Request element for listCapabilities operation. This service lists the Capabilities
        available in a given org-model version. If no org-model version is specified (or -1) then the org-model
        with the greatest major version value is assumed.
        The result includes the GUID and name of the Capabilities. If a Capability is qualified, the qualifier is
        also described (including the data-type and permitted values where applicable).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="listCapabilitiesResponse">
		<xs:annotation>
			<xs:documentation>Response element for listCapabilities operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="capability" type="de:XmlQualifiedEntity" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Details of each capability defined in the organization model.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="listPrivileges">
		<xs:annotation>
			<xs:documentation>Request element for listPrivileges operation. This service lists the Privileges
        available in a given org-model version. If no org-model version is specified (or -1) then the org-model
        with the greatest major version value is assumed.
        The result includes the GUID and name of the Privileges. If a Privilege is qualified, the qualifier is
        also described (including the data-type and permitted values where applicable).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="listPrivilegesResponse">
		<xs:annotation>
			<xs:documentation>Response element for listPrivileges operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="privilege" type="de:XmlQualifiedEntity" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Details of each privilege defined in the organization model.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getPrivileges">
		<xs:annotation>
			<xs:documentation>Request element for getPrivileges operation. This service returns the Privileges
            associated with the Org-Unit, Position or Group identified in the request by its entity-type, guid
            and model version. If no org-model version is specified (or -1) then the org-model with the greatest
            major version value is assumed.
            The response includes only those Privileges directly associated with the identified entity, and
            not those that the entity might inherit from its parent (e.g. a Position inherits Privileges from
            its parent Org-Unit).
            If a Privilege is qualified, the qualifier values will be included in the qualifierSet elements
            for that entry.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlModelEntityId"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPrivilegesResponse">
		<xs:annotation>
			<xs:documentation>Response element for getPrivileges operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="privilege" type="de:XmlModelEntity" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Details of each privilege associated with the specified organization model entity.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getCapabilities">
		<xs:annotation>
			<xs:documentation>Request element for getCapabilities operation. This service returns the Capabilities
            associated with the Position, Group or Resource identified in the request by its entity-type, guid and
            model version. If no org-model version is specified (or -1) then the org-model with the greatest major
            version value is assumed.
            If a Capability is qualified, the qualifier values will be included in the qualifierSet elements
            for that entry.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlModelEntityId"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getCapabilitiesResponse">
		<xs:annotation>
			<xs:documentation>Response element for getCapabilities operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="capability" type="de:XmlModelEntity" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Details of each capability associated with the specified organization model entity.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="listModelVersions">
		<xs:annotation>
			<xs:documentation>Request element for listModelVersions operation. This service lists the available
            org-model major versions. For each major version, the org-model deployments that make up that version
            will be detailed - giving their full version number, name and date deployed.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="de:EmptyRequest"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="listModelVersionsResponse">
		<xs:annotation>
			<xs:documentation>Response element for listModelVersions operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="versions" type="de:XmlOrgModelVersionDetail" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Major version number(s) of the organization model. Each element will list the details of the deployment artefact that makes up that major version.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="openOrgModel">
		<xs:annotation>
			<xs:documentation>Request element for openOrgModel operation. This service returns the root entities of
            the org-model identified by the given major version number. If no org-model version is specified (or -1)
            then the org-model with the greatest major version value is assumed.
            Each root-node in the response will indicate whether it has any children (e.g. an Organisation entity
            may have Org-Unit entities as its children). If so, the identifiers for those immediate children will be
            given in the "child" sub-elements. These identifiers can, in-turn, be passed to the browseModelNode service
            in order to drill-down further into the org-model structure.
            For Organisation entities, this service will identify those LDAP Containers that administer them. That is,
            those LDAP Container whose Resources are permitted to view that Organisation structure. If no LDAP Containers
            are listed, then the Organisation can be accessed by all Resources.
            Where applicable, each node in the response will specify the "selection-mode" by which associated Resources
            will be selected for work allocation. 
            This service is used with the browseModelNode service to provide a drill-down view of an org-model structure.
            It is useful for large org-models, where retrieving the entire structure would be expensive.
            The recommended alternative is to use the listOrgModelOverview service.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="openOrgModelResponse">
		<xs:annotation>
			<xs:documentation>Response element for openOrgModel operation. 
This identifies the version of the organization model and lists the organization, group and location entities that form the roots through which the organization model can be traversed.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion">
					<xs:sequence>
						<xs:element name="root-node" type="de:XmlOrgModelNode" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Details of each root-node organization model entity (organization, group or location).</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:element name="browseModelNode">
		<xs:annotation>
			<xs:documentation>Request element for browseModelNode operation. This service returns the details of
            the org-model entity identified by its entity-type, guid and org-model version. If no org-model
            version is specified (or -1) then the org-model with the greatest major version value is assumed.
            Each root-node in the response will indicate whether it has any children (e.g. an Organisation entity
            may have Org-Unit entities as its children). If so, the identifiers for those immediate children will be
            given in the "child" sub-elements. These identifiers can, in-turn, be passed back into the browseModelNode
            service in order to drill-down further into the org-model structure.
            For Organisation entities, this service will identify those LDAP Containers that administer them. That is,
            those LDAP Container whose Resources are permitted to view that Organisation structure. If no LDAP Containers
            are listed, then the Organisation can be accessed by all Resources.
            Where applicable, each node in the response will specify the "selection-mode" by which associated Resources
            will be selected for work allocation. 
            This service is used with the openOrgModel service to provide a drill-down view of an org-model structure.
            It is useful for large org-models, where retrieving the entire structure would be expensive.
            The recommended alternative is to use the listOrgModelOverview service.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlModelEntityId"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="browseModelNodeResponse">
		<xs:annotation>
			<xs:documentation>Response element for browseModelNode operation. 

Returns the details about a specific organization model entity and its immediate children. Any child entities will identify whether they, themselves, have child entities, but will not contain those child entities. Another request to browse a child entity will be required to retrieve its child entities.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="de:XmlOrgModelNode"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:element name="listOrgModelOverview">
		<xs:annotation>
			<xs:documentation>Request element for listOrgModelOverview operation. This service returns the structure
            of the org-model identified by given major version number. If no org-model version is specified (or -1)
            then the org-model with the greatest major version value is assumed.
            The response will include the entire Group hierarchy, Organisation, Org-Unit and Position hierarchy and
            the Locations defined in the org-model.
            For Organisation entities, this service will identify those LDAP Containers that administer them. That is,
            those LDAP Container whose Resources are permitted to view that Organisation structure. If no LDAP Containers
            are listed, then the Organisation can be accessed by all Resources.
            Where applicable, each node in the response will specify the "selection-mode" by which associated Resources
            will be selected for work allocation. 
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="orgdto:XmlOrgModelVersion"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="listOrgModelOverviewResponse">
		<xs:annotation>
			<xs:documentation>Response element for listOrgModelOverview operation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
        </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="root-node" type="de:XmlOrgModelNode" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Details of each root-node organization model entity (organization, group or location).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="listOrganizations" type="de:EmptyRequest">
		<xs:annotation>
			<xs:documentation>Request to provide a list of all Organizations currently deployed. This service returns
            a list of all Organisation entities, from all org-model versions. Each Organisation is identified by its
            entity-type, guid, model-version and name.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="listOrganizationsResponse">
		<xs:annotation>
			<xs:documentation>Response element providing a list of all Organizations currently deployed.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Organizations" type="de:XmlModelEntity" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
