tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd-all/gold/wizard/XSDBOM_All04_ComplexContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM_All01_ComplexType" xmlns:tns1="http://www.example.org/XSDBOM_All04_ComplexContent"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM_All04_ComplexContent">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/fdsfsd/Business Objects/XSDBOM_All04_ComplexContent.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="org.example.XSDBOM_All01_ComplexType_topLevelComplex" abstract="false"
      mixed="false" name="topLevelComplex"/>
  <xsd:element abstract="false" name="topLevelElem" nillable="false">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns1:topLevelComplex">
          <xsd:all maxOccurs="1" minOccurs="0">
            <xsd:element id="topLevelElem__Type_attr2" form="qualified" maxOccurs="1"
                minOccurs="1" name="attr2">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>