tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/xsd-all/gold/wizard/XSDBOM_All03_NestedAnonComplexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/XSDBOM_All01_ComplexType" xmlns:tns1="http://www.example.org/XSDBOM_All03_NestedAnonComplexType"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.example.org/XSDBOM_All03_NestedAnonComplexType">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/fdsfsd/Business Objects/XSDBOM_All03_NestedAnonComplexType.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType id="org.example.XSDBOM_All01_ComplexType_myComplex" abstract="false"
      mixed="false" name="myComplex">
    <xsd:all minOccurs="0">
      <xsd:element id="myComplex_attr1__Type" form="qualified" maxOccurs="1" minOccurs="1"
          name="attr1">
        <xsd:complexType id="org.example.XSDBOM_All01_ComplexType_attr1__Type" mixed="false">
          <xsd:all minOccurs="0">
            <xsd:element id="attr1__Type_attr2" form="qualified" maxOccurs="1" minOccurs="1"
                name="attr2">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>