tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC27_TestDataMapperOnAttachedIntermediateMsg/.bom2Xsd/org.example.NewWSDLFileDM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.example.org/NewWSDLFileDM/" xmlns:tns2="http://www.example.org/NewWSDLFileDM/"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewWSDLFileDM/">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/UC27_TestDataMapperOnAttachedIntermediateMsg/Generated Business Objects/org.example.NewWSDLFileDM.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:element abstract="false" name="NewOperationDM" nillable="false">
    <xsd:complexType ecore:name="NewOperationDMType" id="org.example.NewWSDLFileDMNewOperationDMType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="in1" form="unqualified" maxOccurs="1" minOccurs="1"
            name="in" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element abstract="false" name="NewOperationResponse" nillable="false">
    <xsd:complexType ecore:name="NewOperationResponseType" id="org.example.NewWSDLFileDMNewOperationResponseType"
        mixed="false">
      <xsd:sequence>
        <xsd:element ecore:name="out" form="unqualified" maxOccurs="1" minOccurs="1"
            name="out" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>