tbs-bpm/AcceptanceTests/AMX-BPM/ProcessManagerUseCases/UC1Ch-ProcessFramework/Service Descriptors/ProcessFrameworkWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tibco.com/bs3.0/_209iACEqEd-0QJF1jgbyJQ" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessFrameworkWS" targetNamespace="http://www.tibco.com/bs3.0/_209iACEqEd-0QJF1jgbyJQ" tibex:XPDL="ProcessFrameworkWS.xpdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/bs3.0/_209iACEqEd-0QJF1jgbyJQ" targetNamespace="http://www.tibco.com/bs3.0/_209iACEqEd-0QJF1jgbyJQ">
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:date"/>
      </xsd:simpleType>
      <xsd:simpleType name="float__">
        <xsd:restriction base="xsd:float"/>
      </xsd:simpleType>
      <xsd:simpleType name="string_50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:time"/>
      </xsd:simpleType>
      <xsd:simpleType name="integer_10">
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="boolean">
        <xsd:restriction base="xsd:boolean"/>
      </xsd:simpleType>
      <xsd:simpleType name="dateTime">
        <xsd:restriction base="xsd:dateTime"/>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessFrameworkWSProcess_StartEvent_INPUT">
    <wsdl:part name="myBoolean" type="ns:boolean"/>
    <wsdl:part name="myDate" type="ns:date"/>
    <wsdl:part name="myDateTime" type="ns:dateTime"/>
    <wsdl:part name="myDecimal" type="ns:float__"/>
    <wsdl:part name="myInteger" type="ns:integer_10"/>
    <wsdl:part name="myText" type="ns:string_50"/>
    <wsdl:part name="myTime" type="ns:time"/>
  </wsdl:message>
  <wsdl:message name="ProcessFrameworkWSProcess_StartEvent_OUTPUT">
    <wsdl:part name="myBoolean" type="ns:boolean"/>
    <wsdl:part name="myDate" type="ns:date"/>
    <wsdl:part name="myDateTime" type="ns:dateTime"/>
    <wsdl:part name="myDecimal" type="ns:float__"/>
    <wsdl:part name="myInteger" type="ns:integer_10"/>
    <wsdl:part name="myText" type="ns:string_50"/>
    <wsdl:part name="myTime" type="ns:time"/>
  </wsdl:message>
  <wsdl:portType name="ProcessFrameworkWSProcess" tibex:FlowContainer="_21j-8CEqEd-0QJF1jgbyJQ">
    <wsdl:documentation>
      <DocumentationElement Documentation=""/>
    </wsdl:documentation>
    <wsdl:operation name="StartEvent">
      <wsdl:input message="ns:ProcessFrameworkWSProcess_StartEvent_INPUT" tibex:Event="_9aiH2SEqEd-0QJF1jgbyJQ"/>
      <wsdl:output message="ns:ProcessFrameworkWSProcess_StartEvent_OUTPUT" tibex:Event="_9aiH2SEqEd-0QJF1jgbyJQ"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
