tbs-bpm/AcceptanceTests/AMX-BPM/DataUseCases/ProjectsWithQualifier/ProcLocalBOMRefBizBom/.bom2Xsd/com.example.proclocalbomrefbizbom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://example.com/proclocalbomrefbizbom" xmlns:tns1="http://example.com/proclocalbomrefbizbom"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns2="http://example.com/bizdataqualifiertest"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/proclocalbomrefbizbom">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/ProcLocalBOMRefBizBom/Business Objects/ProcLocalBOMRefBizBom.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://example.com/bizdataqualifiertest" schemaLocation="com.example.bizdataqualifiertest.xsd"/>
  <xsd:complexType ecore:name="ProcLocalClass" id="_m28pUFNmEeOUC7phQChPyQ" name="ProcLocalClass">
    <xsd:sequence>
      <xsd:element ecore:name="localAttr1" id="_ry7bIFNmEeOUC7phQChPyQ" maxOccurs="1"
          minOccurs="0" name="localAttr1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ecore:name="attrCase" id="_tQdwIFNmEeOUC7phQChPyQ" maxOccurs="1"
          minOccurs="0" name="attrCase" type="tns2:Case1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcLocalClassElement" type="ProcLocalClass"/>
</xsd:schema>