tbs-bpm/tests/com.tibco.sce.bom.test.feature/plugins/com.tibco.sce.bom.test/test-resources/wsdl/WSDLBOM42_BOMGenFor_de_wsdl/gold/builder/com.tibco.n2.de.api.ldap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://ldap.api.de.n2.tibco.com" xmlns:tns8="http://ldap.api.de.n2.tibco.com"
    xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ldap.api.de.n2.tibco.com">
  <xsd:annotation>
    <xsd:documentation>BOMORIGIN::/XPD6080/Generated Business Objects/com.tibco.n2.de.api.ldap.bom</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType ecore:name="XmlLdapContainerMapping" id="com.tibco.n2.de.api.ldapXmlLdapContainerMapping"
      abstract="false" mixed="false" name="XmlLdapContainerMapping">
    <xsd:annotation>
      <xsd:documentation>Definition of a foreign key mapping between the primary LDAP source and a secondary LDAP
            source for an LDAP container.
            Each element names an attribute within each LDAP source that, for a given entry in each LDAP source, holds
            the same value and thus provides an association between the two entries.
            In order to uniquely identify an entry in each LDAP source many of these elements may be required, naming
            several attributes in each LDAP source. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="primaryattribute" id="XmlLdapContainerMappingprimary-attribute"
        form="unqualified" name="primary-attribute" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The LDAP attribute in the primary LDAP source that is to be mapped to the LDAP attribute in the secondary LDAP source (name in the secondary-attribute). </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="secondaryattribute" id="XmlLdapContainerMappingsecondary-attribute"
        form="unqualified" name="secondary-attribute" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The LDAP attribute in this secondary LDAP source that is to be mapped to from the LDAP attribute in the primary LDAP source (named in the primary-attribute) </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapAttributeContainerMapping" id="com.tibco.n2.de.api.ldapXmlLdapAttributeContainerMapping"
      abstract="false" mixed="false" name="XmlLdapAttributeContainerMapping">
    <xsd:annotation>
      <xsd:documentation>Mapping between a resource (or business) attribute, which is defined in the organization model and identified by its GUID, and an LDAP attribute, which is identified by its LDAP container resource GUID and the attribute name.
The &quot;ldap-resource-id&quot; attribute links the entry to its parent XmlLdapContainerResource element (via the &quot;id&quot; attribute of that element). </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="ldapresourceid" id="XmlLdapAttributeContainerMappingldap-resource-id"
        form="unqualified" name="ldap-resource-id" type="tns8:long_StudioGeneratedTemplate"
        use="required">
      <xsd:annotation>
        <xsd:documentation>ID (within this enclosing XmlLdapContainer element) of the LDAP source that contains the named LDAP Attribute. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="businessattributeid" id="XmlLdapAttributeContainerMappingbusiness-attribute-id"
        form="unqualified" name="business-attribute-id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The GUID of the business attribute (Resource Attribute) as defined in the organization model. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapattribute" id="XmlLdapAttributeContainerMappingldap-attribute"
        form="unqualified" name="ldap-attribute" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>LDAP attribute that is to be mapped to the identified business attribute. Whenever a value is required for the business attribute, it will be provided by this LDAP attribute. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapContainerResource" id="com.tibco.n2.de.api.ldapXmlLdapContainerResource"
      abstract="false" mixed="false" name="XmlLdapContainerResource">
    <xsd:annotation>
      <xsd:documentation>Definition of an LDAP shared resource entry (identified by its GUID) in an LDAP container.

The &quot;id&quot; attribute is used to link this element to the &quot;ldap-resource-id&quot; attribute of the XmlLdapAttributeContainerMapping entries in the XmlLdapContainer in which this element is located. (A value should always be assigned to the &quot;id&quot; attribute.) </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="id" id="XmlLdapContainerResourceid" form="unqualified"
        name="id" type="tns8:long_StudioGeneratedTemplate" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique ID of the LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="guid" id="XmlLdapContainerResourceguid" form="unqualified"
        name="guid" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Unique GUID of the LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapalias" id="XmlLdapContainerResourceldap-alias"
        form="unqualified" name="ldap-alias" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Alias of the LDAP directory that is referenced by this LDAP source. The alias is a previously configured shared resource that identifies this LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="ldapsearchstring" id="XmlLdapContainerResourceldap-search-string"
        form="unqualified" name="ldap-search-string" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>(Optional) LDAP query expression that can be used to restrict the data that is returned from this LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="displaynameattributes" id="XmlLdapContainerResourcedisplay-name-attributes"
        form="unqualified" name="display-name-attributes" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>(Optional) LDAP attributes that can be used to generate a default display name for any resource located within this LDAP source. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="basedn" id="XmlLdapContainerResourcebase-dn" form="unqualified"
        name="base-dn" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optionally provides an additional base DN that will be used to restrict the results. This base DN is relative, and in additon, to any base DN specified in the URL of the LDAP Connection shared resource identified by the ldap-alias. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlSecondaryLdapContainerResource" id="com.tibco.n2.de.api.ldapXmlSecondaryLdapContainerResource"
      abstract="false" mixed="false" name="XmlSecondaryLdapContainerResource">
    <xsd:annotation>
      <xsd:documentation>Extension of XmlLdapContainerResource, which identifies a secondary LDAP shared resource entry within an LDAP container. 

An LDAP container can hold a single primary LDAP source and any number of secondary LDAP sources. Secondary LDAP sources  hold &quot;foreign-key&quot; references that map their entries to those of the primary LDAP source by named attribute values. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns8:XmlLdapContainerResource">
        <xsd:sequence>
          <xsd:element ecore:name="containermapping" id="XmlSecondaryLdapContainerResourcecontainer-mapping"
              form="unqualified" maxOccurs="unbounded" minOccurs="1" name="container-mapping"
              type="XmlLdapContainerMapping"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlLdapContainer" id="com.tibco.n2.de.api.ldapXmlLdapContainer"
      abstract="false" mixed="false" name="XmlLdapContainer">
    <xsd:annotation>
      <xsd:documentation>Definition of an LDAP container and any LDAP Source entries that it contains. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:name="primaryldap" id="XmlLdapContainerprimary-ldap" form="unqualified"
          maxOccurs="1" minOccurs="1" name="primary-ldap" type="XmlLdapContainerResource"/>
      <xsd:element ecore:name="secondaryldap" id="XmlLdapContainersecondary-ldap"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="secondary-ldap"
          type="XmlSecondaryLdapContainerResource"/>
      <xsd:element ecore:name="attributemapping" id="XmlLdapContainerattribute-mapping"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="attribute-mapping"
          type="XmlLdapAttributeContainerMapping"/>
      <xsd:element ecore:name="administeredorganisation" id="XmlLdapContaineradministered-organisation"
          form="unqualified" maxOccurs="unbounded" minOccurs="0" name="administered-organisation"
          type="XmlAdministeredOrganisations"/>
    </xsd:sequence>
    <xsd:attribute ecore:name="id" id="XmlLdapContainerid" default="0" form="unqualified"
        name="id" type="tns8:long_StudioGeneratedTemplate" use="optional">
      <xsd:annotation>
        <xsd:documentation>Unique ID of the LDAP container. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlLdapContainername" form="unqualified"
        name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique name of the LDAP container. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="description" id="XmlLdapContainerdescription" form="unqualified"
        name="description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Description of the LDAP container. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="active" id="XmlLdapContaineractive" default="true"
        form="unqualified" name="active" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates if this container has been marked as deleted. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="entitycount" id="XmlLdapContainerentity-count" form="unqualified"
        name="entity-count" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Only specified when this XmlLdapContainer is used in a service response. The count of the number of LDAP entries this container referenced. This count is set when the container is queried. The count may not be currently correct if the LDAP directory has been modified since the count was set. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="lastaccessed" id="XmlLdapContainerlast-accessed" form="unqualified"
        name="last-accessed" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Date and time on which the LDAP container was last queried, and the date on which the entity-count above was set. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType ecore:name="XmlAdministeredOrganisations" id="com.tibco.n2.de.api.ldapXmlAdministeredOrganisations"
      abstract="false" mixed="false" name="XmlAdministeredOrganisations">
    <xsd:annotation>
      <xsd:documentation>Provides a list of organizations that can be administered from this LDAP container. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ecore:name="guid" id="XmlAdministeredOrganisationsguid" form="unqualified"
        name="guid" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique identifier of the organization to be administered. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:name="name" id="XmlAdministeredOrganisationsname" form="unqualified"
        name="name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name of the organization to be administered. Only required when this element is used in a service response. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="long_StudioGeneratedTemplate">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-9223372036854775808"/>
      <xsd:maxInclusive value="9223372036854775807"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>